Repository web-platform-tests/wpt, pull requests merged in 2018-09, with the labels that each got.

#12782 webrtc: throw SyntaxError on {iceServers: []}
  webrtc/RTCConfiguration-iceServers.html
Labels: webrtc, wg-webrtc

#12796 Mark /css/css-transitions/transitions-animatable-properties-01.html as timeout=long
  css/css-transitions/transitions-animatable-properties-01.html
Labels: servo-export

#12522 HTML: test fieldset overflow rendering
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-overflow-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-overflow.html
Labels: html, html-fieldset

#8623 [eme] Ensure license is expired before using it
  encrypted-media/scripts/playback-temporary-expired.js
Labels: encrypted-media, wg-html

#8094 Implement script MIME restrictions for goal parameter
  html/semantics/scripting-1/the-script-element/goal-parameter.htm
  html/semantics/scripting-1/the-script-element/is-module-goal.mjs
  html/semantics/scripting-1/the-script-element/is-script-goal.js
Labels: html

#12809 Update interfaces/cssom-view.idl
  interfaces/cssom-view.idl
Labels: interfaces

#12813 Lint CSS-COLLIDING-TEST-NAME should treat foo and foo-manual as equiv…
  tools/lint/lint.py
Labels: infra, lint

#8488 Add tests for time-origin.
  hr-time/resources/unload-a.html
  hr-time/resources/unload-b.html
  hr-time/resources/unload-c.html
  hr-time/resources/unload.js
  hr-time/unload-manual.html
Labels: hr-time, wg-webperf

#12810 HTML: test fieldset content before legend
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-content-before-legend.html
Labels: html-fieldset

#12817 [cookies] Remove cookies when tests complete
  cookies/prefix/document-cookie.non-secure.html
  cookies/resources/cookie-helper.sub.js
Labels: cookies

#11941 Fix metadata on css-writing-modes/ch-unit and logical-props tests.
  css/css-writing-modes/ch-units-vrl-001.html
  css/css-writing-modes/ch-units-vrl-002.html
  css/css-writing-modes/ch-units-vrl-003.html
  css/css-writing-modes/ch-units-vrl-004.html
  css/css-writing-modes/ch-units-vrl-005.html
  css/css-writing-modes/ch-units-vrl-006.html
  css/css-writing-modes/ch-units-vrl-007.html
  css/css-writing-modes/ch-units-vrl-008.html
  css/css-writing-modes/logical-props-001.html
  css/css-writing-modes/logical-props-002.html
  css/css-writing-modes/logical-props-003.html
  css/css-writing-modes/logical-props-004.html
Labels: css-writing-modes

#12821 Sync Payment Request IDL with spec
  interfaces/payment-request.idl
  payment-request/idlharness.https.window.js
Labels: interfaces, payment-request, wg-payments

#12822 Add IDL tests for WAI-ARIA
  interfaces/wai-aria.idl
  wai-aria/idlharness.window.js
Labels: interfaces, wai-aria, wg-wai_pf

#12829 Remove kereliuk from suggested reviewers
  infrastructure/META.yml
Labels: infra

#12770 document.open(): Test non-fully active documents
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/active.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/event-listeners.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/page-with-frame.html
Labels: html

#11781 [css-grid] Parse various grid properties
  css/css-display/parsing/display-invalid.html
  css/css-display/parsing/display-valid.html
  css/css-grid/parsing/grid-area-invalid.html
  css/css-grid/parsing/grid-area-valid.html
  css/css-grid/parsing/grid-auto-columns-invalid.html
  css/css-grid/parsing/grid-auto-columns-valid.html
  css/css-grid/parsing/grid-auto-flow-invalid.html
  css/css-grid/parsing/grid-auto-flow-valid.html
  css/css-grid/parsing/grid-auto-rows-invalid.html
  css/css-grid/parsing/grid-auto-rows-valid.html
  css/css-grid/parsing/grid-template-areas-invalid.html
  css/css-grid/parsing/grid-template-areas-valid.html
Labels: css-display, css-grid

#12849 Return a 404 when trying to access a .any.* path that doesn't exist.
  tools/serve/serve.py
Labels: infra, serve

#12824 Install nightly geckodriver when testing Firefox nightly.
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
Labels: infra, wpt

#12861 [cookies] Correct typo
  cookies/samesite/window-open-reload.html
Labels: cookies

#12835 [cookies] Correct utility function and tests
  cookies/prefix/__host.header.html
  cookies/prefix/__host.header.https.html
  cookies/prefix/__secure.header.html
  cookies/prefix/__secure.header.https.html
  cookies/resources/cookie-helper.sub.js
  cookies/resources/set.py
Labels: cookies

#12866 [css-contain] grid and multicol properties contribute to size
  css/css-contain/contain-size-grid-002.html
  css/css-contain/contain-size-multicol-001.html
Labels: css-contain, wg-css

#12823 Revert "[css-contain] Add support file in local directory"
  css/css-contain/support/60x60-red.png
Labels: css-contain, wg-css

#12847 [css-contain] Containment and stacking contexts for inline elements
  css/css-contain/contain-layout-018.html
  css/css-contain/contain-paint-025.html
Labels: css-contain

#12679 Run stable and beta releases on TaskCluster
  .taskcluster.yml
  tools/ci/ci_resources_unittest.sh
  tools/ci/ci_taskcluster.sh
  tools/docker/start.sh
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/tests/test_wpt.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: ci, docker, infra, testharness.js, wpt, wptrunner

#12848 Add a script to download all the logs for a run from TaskCluster.
  tools/ci/commands.json
  tools/ci/tcdownload.py
Labels: ci, infra

#10789 HTML: document.open() and aborting documents
  common/slow.py
  html/semantics/scripting-1/the-script-element/load-error-events-2.html
  html/semantics/scripting-1/the-script-element/load-error-events-3.html
  html/semantics/scripting-1/the-script-element/script-text-modifications.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort-refresh-immediate.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort-refresh-multisecond-header.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort-refresh-multisecond-meta.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort-while-navigating.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/abort.sub.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/http-refresh.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/meta-refresh.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/slow-png.py
Labels: assets, html

#12879 HTML: Add test for document.open() and MutationObserver
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/mutation-observer.window.js
Labels: html

#12882 HTML: Change document.open() test expectation
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/016-1.html
Labels: html

#12883 Improve the formatting of testdriver documentation
  docs/_writing-tests/testdriver.md
Labels: docs

#12885 HTML: Fix test when run through ./wpt run
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/reload.window.js
Labels: html

#12867 [css-contain] the contain property is not animatable
  css/css-contain/contain-animation-001.html
Labels: css-contain, wg-css

#12884 Fix stability check when tests are skipped
  tools/wptrunner/wptrunner/stability.py
  tools/wptrunner/wptrunner/tests/test_stability.py
Labels: infra, wptrunner

#12890 Make --venv work again
  tools/wpt/wpt.py
Labels: infra, wpt

#12878 Fix #12876: set -ex on ci_taskcluster.sh
  tools/ci/ci_taskcluster.sh
Labels: ci, infra

#12800 HTML: test accesskey for legend
  html/semantics/interactive-elements/commands/common/accesskey.js
  html/semantics/interactive-elements/commands/legend/first-input-after-legend-manual.html
  html/semantics/interactive-elements/commands/legend/first-input-before-legend-manual.html
  html/semantics/interactive-elements/commands/legend/first-input-inside-legend-manual.html
  html/semantics/interactive-elements/commands/legend/focusable-legend-manual.html
  html/semantics/interactive-elements/commands/legend/focusable-legend-sibling-manual.html
  html/semantics/interactive-elements/commands/legend/input-outside-fieldset-manual.html
  html/semantics/interactive-elements/commands/legend/label-sibling-manual.html
  html/semantics/interactive-elements/commands/legend/no-fieldset-parent-manual.html
Labels: html, html-fieldset

#12801 HTML: test that focus() on legend does not delegate focus
  html/interaction/focus/composed.window.js
  html/interaction/focus/document-level-focus-apis/document-level-apis.html
  html/interaction/focus/document-level-focus-apis/test.html
  html/interaction/focus/focus-01.html
  html/interaction/focus/focus-02.html
  html/interaction/focus/focus-management/focus-event-targets-simple.html
  html/interaction/focus/focus-management/focus-events.html
  html/interaction/focus/processing-model/focus-fixup-rule-one-no-dialogs.html
  html/interaction/focus/processing-model/legend-focusable.html
  html/interaction/focus/processing-model/legend.html
  html/interaction/focus/processing-model/preventScroll.html
  html/interaction/focus/processing-model/support/preventScroll-helper.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-default-value.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-negative.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-order.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-positive.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-zero.html
  html/interaction/focus/tabindex-focus-flag.html
Labels: html, html-fieldset

#12811 HTML: test how <legend align> does not map to text-align
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-align-text-align.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-align.html
Labels: html-fieldset

#12868 [css-contain] check the effects of containment on baseline alignment
  css/css-contain/contain-layout-baseline-001.html
  css/css-contain/contain-paint-baseline-001.html
  css/css-contain/contain-size-baseline-001.html
  css/css-contain/contain-style-baseline-001.html
  css/css-contain/reference/contain-baseline-ref.html
Labels: css-contain, wg-css

#8894 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=181239
  service-workers/service-worker/fetch-event-referrer-policy.https.html
Labels: service-workers, webkit-export, wg-sw

#12886 Fix calc clamping for font-face descriptors (missed in previous commit)
  css/css-fonts/variations/at-font-face-descriptors.html
Labels: css-fonts

#12898 [testharness.js] Reject non-thenable values
  docs/_writing-tests/testharness-api.md
  resources/test/tests/functional/promise.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#12598 [Shadow DOM] Fix test using assert_array_equals
  shadow-dom/Extensions-to-Event-Interface.html
  shadow-dom/leaktests/get-elements.html
Labels: shadow-dom, wg-webplatform

#12844 CSS animations and transitions property parsing
  css/css-animations/parsing/animation-delay-invalid.html
  css/css-animations/parsing/animation-delay-valid.html
  css/css-animations/parsing/animation-direction-invalid.html
  css/css-animations/parsing/animation-direction-valid.html
  css/css-animations/parsing/animation-duration-invalid.html
  css/css-animations/parsing/animation-duration-valid.html
  css/css-animations/parsing/animation-fill-mode-invalid.html
  css/css-animations/parsing/animation-fill-mode-valid.html
  css/css-animations/parsing/animation-iteration-count-invalid.html
  css/css-animations/parsing/animation-iteration-count-valid.html
  css/css-animations/parsing/animation-name-invalid.html
  css/css-animations/parsing/animation-name-valid.html
  css/css-animations/parsing/animation-play-state-invalid.html
  css/css-animations/parsing/animation-play-state-valid.html
  css/css-animations/parsing/animation-timing-function-invalid.html
  css/css-animations/parsing/animation-timing-function-valid.html
  css/css-transitions/parsing/transition-delay-invalid.html
  css/css-transitions/parsing/transition-delay-valid.html
  css/css-transitions/parsing/transition-duration-invalid.html
  css/css-transitions/parsing/transition-duration-valid.html
  css/css-transitions/parsing/transition-property-invalid.html
  css/css-transitions/parsing/transition-property-valid.html
  css/css-transitions/parsing/transition-timing-function-invalid.html
  css/css-transitions/parsing/transition-timing-function-valid.html
Labels: css-animations, css-transitions

#12918 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#12916 Update interfaces/intersection-observer.idl
  interfaces/intersection-observer.idl
Labels: interfaces

#12917 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#12919 Update interfaces/pointerevents.idl
  interfaces/pointerevents.idl
Labels: interfaces

#12920 Update interfaces/wasm-js-api.idl
  interfaces/wasm-js-api.idl
Labels: interfaces

#12910 Update interfaces/background-fetch.idl
  interfaces/background-fetch.idl
Labels: interfaces

#12807 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: do not merge yet, interfaces

#12911 Add interfaces/css-device-adapt.idl
  interfaces/css-device-adapt.idl
Labels: interfaces

#12808 Update interfaces/css-typed-om.idl
  interfaces/css-typed-om.idl
Labels: do not merge yet, interfaces

#12927 test PaymentMethodChangeEventInit defaults
  payment-request/PaymentMethodChangeEvent/methodDetails-attribute.https.html
  payment-request/PaymentMethodChangeEvent/methodName-attribute.https.html
Labels: payment-request, wg-payments

#12942 fixup MerchantValidationEvent complete() test
  payment-request/MerchantValidationEvent/complete-method.https.html
Labels: payment-request, wg-payments

#12912 Add interfaces/css-layout-api.idl
  interfaces/css-layout-api.idl
Labels: interfaces

#12914 Add interfaces/font-metrics-api.idl
  interfaces/font-metrics-api.idl
Labels: interfaces

#12939 HTML: test ::before and ::after on fieldset
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-generated-content.html
Labels: html-fieldset

#12936 Mark tools/wpt Windows test failures as xfail
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#12954 Sync Mozilla CSS tests as of 2018-09-11
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-formatting-context-margin-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-grid-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-grid-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-016-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-016.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/sync-tests.sh
Labels: vendor-imports

#9770 Add idlharness test for CSS Device Adaptation
  css/css-device-adapt/META.yml
  css/css-device-adapt/idlharness.html
Labels: css-device-adapt, interfaces, status:needs-reviewers, wg-css

#12828 Add basic test for requestFullscreen({ navigationUI })
  fullscreen/api/element-request-fullscreen-options.html
Labels: fullscreen

#12926 [css-contain] Fix contain-layout-cell- tests
  css/css-contain/contain-layout-cell-001.html
  css/css-contain/contain-layout-cell-002.html
  css/css-contain/reference/contain-layout-cell-001-ref.html
Labels: css-contain

#12961 Update interfaces/fullscreen.idl
  interfaces/fullscreen.idl
Labels: interfaces

#12960 [css-contain] Fix contain-size-025 using "dislay: block" on images
  css/css-contain/contain-size-025.html
  css/css-contain/support/blue50wBy23h.png
  css/css-contain/support/blue50wBy25h.png
Labels: css-contain

#8579 [css-grid-1] Add tests for percentage tracks inside shrinkwrapped width/height.
  css/css-grid/layout-algorithm/grid-percent-cols-filled-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-cols-spanned-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-rows-filled-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-rows-spanned-shrinkwrap-001.html
  css/css-grid/layout-algorithm/references/grid-percent-cols-filled-shrinkwrap-001-ref.html
  css/css-grid/layout-algorithm/references/grid-percent-cols-spanned-shrinkwrap-001-ref.html
  css/css-grid/layout-algorithm/references/grid-percent-rows-filled-shrinkwrap-001-ref.html
  css/css-grid/layout-algorithm/references/grid-percent-rows-spanned-shrinkwrap-001-ref.html
Labels: css-grid, wg-css

#12964 [css-grid] Fix nits related to PR #8579
  css/css-grid/layout-algorithm/grid-percent-cols-filled-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-cols-spanned-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-rows-filled-shrinkwrap-001.html
  css/css-grid/layout-algorithm/grid-percent-rows-spanned-shrinkwrap-001.html
Labels: css-grid

#12928 HTML: test fieldset min-/max-content calculation
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-calculating-min-max-content.html
Labels: html-fieldset

#12973 Work around lint failure.
  lint.whitelist
Labels: infra

#12657 Validate pull requests in TaskCluster
  .taskcluster.yml
  tools/ci/ci_taskcluster.sh
  tools/ci/taskcluster-run.py
  tools/docker/start.sh
Labels: ci, docker, dom, infra

#12974 [css-contain] Remove contain-layout-015
  css/css-contain/contain-layout-015.html
Labels: css-contain

#12945 Add tests for mediacapture-image
  mediacapture-image/getPhotoCapabilities.html
  mediacapture-image/getPhotoSettings.html
Labels: mediacapture-image

#12962 Add tests for MerchantValidationEvent methodName
  payment-request/MerchantValidationEvent/constructor.https.html
Labels: payment-request, wg-payments

#11370 [presentation-api] Add a test for starting presentations on distinct displays
  presentation-api/controlling-ua/reconnectToMultiplePresentations_success-manual.https.html
  presentation-api/controlling-ua/startMultiplePresentations_success-manual.https.html
Labels: presentation-api, wg-secondscreen

#12984 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#12983 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#11371 [presentation-api] Modify the test to check NotFoundError on reconnecting
  presentation-api/controlling-ua/reconnectToPresentation_notfound_error-manual.https.html
  presentation-api/controlling-ua/reconnectToPresentation_notfound_error.https.html
Labels: presentation-api, wg-secondscreen

#12980 Make tools/ci/jobs.py work on Windows
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
Labels: ci, infra

#12987 Fix 'link' syntax in MISSING-LINK explainer
  docs/_writing-tests/lint-tool.md
Labels: docs

#12994 accname: Fix expectations of three tests
  accname/name_test_case_661-manual.html
  accname/name_test_case_662-manual.html
  accname/name_test_case_663a-manual.html
Labels: accname

#12993 Update test for serializing shorthand with "initial" values and different important flags
  css/cssom/shorthand-serialization.html
Labels: cssom, wg-css

#13001 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#13000 Update interfaces/feature-policy.idl
  interfaces/feature-policy.idl
Labels: interfaces

#12982 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#13004 HTML: test that a legend with negative left margin masks the border
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-border-gap-negative-margin.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-border-gap-position-relative-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-border-gap-position-relative.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/no-red-ref.html
Labels: html-fieldset

#12992 Add tests for SpeechSynthesis pause() and resume()
  speech-api/SpeechSynthesis-pause-resume.tentative.html
  speech-api/SpeechSynthesis-speak-events.html
Labels: speech-api

#12997 Unlock the lock in the logging module instead of reloading it
  tools/serve/serve.py
Labels: infra, serve

#13016 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#11368 [css-text-3] No hyphenation without language
  css/css-text/hyphens/hyphens-auto-001.html
  css/css-text/hyphens/reference/hyphens-auto-001-ref.html
Labels: css-text, wg-css

#12593 Test inheritance of CSS Inline Layout properties
  css/css-inline/META.yml
  css/css-inline/inheritance.html
  css/support/inheritance-testcommon.js
Labels: css-inline, status:needs-reviewers, support

#11730 [css-flexbox] Flexible Box property parsing tests
  css/css-flexbox/parsing/flex-basis-invalid.html
  css/css-flexbox/parsing/flex-basis-valid.html
  css/css-flexbox/parsing/flex-direction-invalid.html
  css/css-flexbox/parsing/flex-direction-valid.html
  css/css-flexbox/parsing/flex-flow-invalid.html
  css/css-flexbox/parsing/flex-flow-valid.html
  css/css-flexbox/parsing/flex-grow-invalid.html
  css/css-flexbox/parsing/flex-grow-valid.html
  css/css-flexbox/parsing/flex-invalid.html
  css/css-flexbox/parsing/flex-shrink-invalid.html
  css/css-flexbox/parsing/flex-shrink-valid.html
  css/css-flexbox/parsing/flex-valid.html
  css/css-flexbox/parsing/flex-wrap-invalid.html
  css/css-flexbox/parsing/flex-wrap-valid.html
  css/css-flexbox/parsing/order-invalid.html
  css/css-flexbox/parsing/order-valid.html
Labels: css-flexbox, wg-css

#13015 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#12958 [testharness.js] Disallow `test` return value
  resources/test/tests/unit/test-return-restrictions.html
  resources/testharness.js
  web-animations/timing-model/animations/setting-the-target-effect-of-an-animation.html
Labels: infra, testharness.js, web-animations, wg-css, wg-svg

#13033 Correctly handle ScriptTimeoutException in the WebDriver executor
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#13034 Delete goal-parameter.htm
  html/semantics/scripting-1/the-script-element/goal-parameter.htm
Labels: html

#13020 HTML: Test rendering of fieldset with a tall legend
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-tall-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-tall.html
Labels: html-fieldset

#13028 HTML: test fieldset with percentage padding
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/fieldset-percentage-padding.html
Labels: html-fieldset

#13040 HTML: Test block margins on legend
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-block-margins-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-block-margins.html
Labels: html-fieldset

#12965 HTML: legend align maps to 'justify-self'
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-align-justify-self.html
Labels: html-fieldset

#12569 HTML: test inline margin on fieldset's legend
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-margin-inline.html
Labels: html, html-fieldset

#12932 HTML: test rendering of legend with different display values
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-display-rendering-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-display-rendering.html
Labels: html-fieldset

#13056 Sync Mozilla CSS tests as of 2018-09-18
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-text-indent-intrinsic-1-ref.html
Labels: vendor-imports

#13054 HTML: test different block margins on legend
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-block-margins-ref.html
  html/rendering/non-replaced-elements/the-fieldset-and-legend-elements/legend-block-margins.html
Labels: html-fieldset

#13044 [css-align] Property inheritance, initial values
  css/css-align/inheritance.html
Labels: css-align

#13058 [css-text-decor] Inheritance and initial values
  css/css-text-decor/inheritance.html
  css/support/inheritance-testcommon.js
Labels: css-text-decor, support

#13045 [css-grid] Property initial values and inheritance
  css/css-grid/inheritance.html
Labels: css-grid

#11847 Test animatedPoints during a SMIL animation
  svg/shapes/animatedPoints-non-animated.html
Labels: svg, wg-svg

#13062 Allow Firefox & Chrome to use fake media stream
  tools/wpt/run.py
Labels: infra, wpt

#13084 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=189516
  mediacapture-streams/MediaStream-MediaElement-srcObject.https.html
Labels: mediacapture-streams, wg-webrtc

#13006 Fetch/XHR: test parsing of WWW-Authenticate response header
  fetch/api/basic/header-value-combining.any.js
  xhr/getallresponseheaders.htm
  xhr/getresponseheader.any.js
  xhr/resources/headers-www-authenticate.asis
Labels: fetch, xhr

#13087 [css-ruby] Parsing and inheritance tests
  css/css-ruby/inheritance.html
  css/css-ruby/parsing/ruby-align-invalid.html
  css/css-ruby/parsing/ruby-align-valid.html
  css/css-ruby/parsing/ruby-position-invalid.html
  css/css-ruby/parsing/ruby-position-valid.html
Labels: css-ruby

#12350 [Fetch] Object.prototype shouldn't interfere with fetch streams
  fetch/api/basic/stream-safe-creation.any.js
Labels: fetch

#13096 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#13113 Handle case where mozlog is not installed.
  tools/serve/serve.py
Labels: infra, serve

#13104 CSSOM View Scroll Behavior tests: Catch exceptions in observeScrollin…
  css/cssom-view/scroll-behavior-scrollintoview-nested.html
  css/cssom-view/scroll-behavior-smooth-positions.html
Labels: cssom-view, wg-css

#13117 CSSOM View Scroll Behavior: Check scroll positions during smooth scro…
  css/cssom-view/scroll-behavior-smooth-positions.html
Labels: cssom-view, wg-css

#13122 Check completeness of images with and without srcset.
  html/semantics/embedded-content/the-img-element/img.complete.html
Labels: html

#13126 [docs] Remove obviated instructions
  docs/_running-tests/chrome.md
Labels: docs

#13116 [css-lists] Inheritance and initial values
  css/css-lists/inheritance.html
Labels: css-lists

#13043 [service-workers] Refactor tautological tests
  service-workers/service-worker/worker-interception.https.html
Labels: service-workers, wg-sw

#13064 [service-workers] Correct typo
  service-workers/service-worker/resources/skip-waiting-installed-worker.js
Labels: service-workers, wg-sw

#13129 [doc] Update doc regarding exp. features on Chrome
  docs/_running-tests/chrome.md
Labels: docs

#13131 Fix syntax and typos in tests from #12956
  css/cssom/getComputedStyle-insets-absolute.html
  css/cssom/getComputedStyle-insets-fixed.html
  css/cssom/getComputedStyle-insets-nobox.html
  css/cssom/getComputedStyle-insets-relative.html
  css/cssom/getComputedStyle-insets-static.html
  css/cssom/getComputedStyle-insets-sticky.html
  css/cssom/support/getComputedStyle-insets.js
Labels: cssom, wg-css

#13060 [css-display] Inheritance and initial value
  css/css-display/inheritance.html
Labels: css-display

#13063 [css-contain] Inheritance and initial value
  css/css-contain/inheritance.html
Labels: css-contain

#13068 [css-shapes] Inheritance and initial values
  css/css-shapes/inheritance.html
Labels: css-shapes, wg-css

#13092 [css-break] Inheritance and initial values
  css/css-break/inheritance.html
Labels: css-break

#13093 [css-writing-modes] Inheritance and initial values
  css/css-writing-modes/inheritance.html
Labels: css-writing-modes

#13094 [css-masking] Inheritance and initial values
  css/css-masking/inheritance.html
Labels: css-masking, wg-css, wg-svg

#13134 fix: incorrectly named test
  payment-request/payment-response/onpayerdetailchange-attribute-manual.https.html
Labels: payment-request, wg-payments

#12684 Remove languageCode tests
  payment-handler/basic-card.js
  payment-handler/payment-request-event.https.html
  payment-method-basic-card/empty-data-manual.https.html
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
  payment-request/historical.https.html
Labels: do not merge yet, payment-handler, payment-method-basic-card, payment-request, wg-payments

#13137 Update interfaces/CSP.idl
  interfaces/CSP.idl
Labels: interfaces

#12870 Don't try to parse the contents of server errors in idl_test().
  resources/idlharness.js
Labels: idlharness.js, infra

#13099 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#13098 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#13097 Update interfaces/payment-method-basic-card.idl
  interfaces/payment-method-basic-card.idl
Labels: interfaces

#13147 [taskcluster] Run stable daily and beta weekly
  .taskcluster.yml
Labels: infra

#13159 Fix the path of mplus-1p-regular.woff in all tests
  css/css-text/i18n/ja/css-text-line-break-ja-cj-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-cj-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-cj-strict.html
  css/css-text/i18n/ja/css-text-line-break-ja-cpm-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-cpm-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-cpm-strict.html
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-strict.html
  css/css-text/i18n/ja/css-text-line-break-ja-in-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-in-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-in-strict.html
  css/css-text/i18n/ja/css-text-line-break-ja-iteration-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-iteration-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-iteration-strict.html
  css/css-text/i18n/ja/css-text-line-break-ja-po-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-po-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-po-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-cpm-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-cpm-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-cpm-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-in-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-in-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-in-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-iteration-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-iteration-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-iteration-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-po-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-po-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-po-strict.html
Labels: css-text

#13163 [service-workers] Return value in cleanup
  service-workers/service-worker/fetch-request-xhr-sync.https.html
  service-workers/service-worker/interfaces-window.https.html
  service-workers/service-worker/onactivate-script-error.https.html
  service-workers/service-worker/postmessage.https.html
  service-workers/service-worker/registration-service-worker-attributes.https.html
  service-workers/service-worker/resources/worker-testharness.js
  service-workers/service-worker/skip-waiting-using-registration.https.html
  service-workers/service-worker/skip-waiting-without-using-registration.https.html
  service-workers/service-worker/synced-state.https.html
Labels: service-workers, wg-sw

#13170 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#13169 Update interfaces/picture-in-picture.idl
  interfaces/picture-in-picture.idl
Labels: interfaces

#13135 It must be "y coordinate" instead of x coordinate
  docs/_writing-tests/testdriver-tutorial.md
Labels: docs

#13171 Grammar mistake in statement
  docs/_writing-tests/testdriver-tutorial.md
Labels: docs

#13172 Unbreak html/dom/interfaces.https.html
  html/dom/interfaces.https.html
Labels: html

#13154 [wptrunner] Fix support for `--binary-arg` in Fx
  tools/wpt/tests/test_wpt.py
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra, wpt, wptrunner

#13158 Also ignore ERROR in slow test check
  tools/wptrunner/wptrunner/stability.py
  tools/wptrunner/wptrunner/tests/test_stability.py
Labels: infra, wptrunner

#13177 Check if platform is Windows before catching WindowsError
  tools/manifest/vcs.py
Labels: infra, manifest

#13121 Make is_html actually work in Output#resolve_log().
  resources/test/tests/functional/log-insertion.html
  resources/testharness.js
Labels: infra, testharness.js

#12976 [testharness.js] Remove deprecated API
  docs/_writing-tests/testharness-api.md
  eventsource/eventsource-prototype.htm
  fetch/corb/script-html-via-cross-origin-blob-url.sub.html
  html/browsers/history/the-history-interface/001.html
  html/browsers/history/the-history-interface/002.html
  html/semantics/embedded-content/media-elements/track/track-element/track-change-event.html
  resources/test/tests/functional/api-tests-1.html
  resources/testharness.js
  webrtc/getstats.html
  webrtc/tools/.eslintrc.js
  xhr/resources/responseXML-unavailable-in-worker.js
Labels: docs, eventsource, fetch, html, infra, testharness.js, webrtc, wg-webapps, wg-webrtc, xhr

#13181 Make use of navigator.mediaDevices.getUserMedia instead of navigator.getUserMedia
  mediacapture-streams/MediaStream-default-feature-policy.https.html
Labels: mediacapture-streams, wg-webrtc

#11769 Various test fixes for python3 support.
  tools/wptserve/tests/functional/base.py
  tools/wptserve/tests/functional/test_handlers.py
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/tests/functional/test_request.py
  tools/wptserve/wptserve/pipes.py
  tools/wptserve/wptserve/request.py
  tools/wptserve/wptserve/response.py
Labels: infra, wptserve
