Repository web-platform-tests/wpt, pull requests merged in 2018-03, with the labels that each got.

#8979 Support wpt run safari (Safari 11 and Technology Preview)
  .pyup.yml
  docs/_running-tests/chrome_android.md
  docs/_running-tests/index.md
  docs/_running-tests/safari.md
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_safari.txt
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/safari.py
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: do not merge yet, docs, infra

#9696 add XHR.prototype.open parameter toString test
  xhr/open-parameters-toString.htm
Labels: xhr

#9725 Fix #9724: Make test_sauce actually pass
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
Labels: infra

#9732 Update reftest graph when node changes to support
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
Labels: infra

#9734 AccName: Additional test cases
  accname/description_test_case_557-manual.html
  accname/description_test_case_772-manual.html
  accname/description_test_case_773-manual.html
  accname/description_test_case_774-manual.html
  accname/description_test_case_838-manual.html
  accname/description_test_case_broken_reference-manual.html
  accname/description_test_case_one_valid_reference-manual.html
  accname/description_title-same-element-manual.html
  accname/name_1.0_combobox-focusable-alternative-manual.html
  accname/name_1.0_combobox-focusable-manual.html
  accname/name_checkbox-label-embedded-listbox-manual.html
  accname/name_checkbox-label-embedded-textbox-manual.html
  accname/name_checkbox-label-multiple-label-alternative-manual.html
  accname/name_checkbox-label-multiple-label-manual.html
  accname/name_file-label-inline-block-elements-manual.html
  accname/name_file-label-inline-block-styles-manual.html
  accname/name_file-label-inline-hidden-elements-manual.html
  accname/name_file-label-owned-combobox-manual.html
  accname/name_file-label-owned-combobox-owned-listbox-manual.html
  accname/name_link-mixed-content-manual.html
Labels: accname

#9737 Revert "Fix #7142: Change manifest update process"
  tools/manifest/manifest.py
Labels: infra

#9705 Update OWNERS - adds mnoorenberghe
  payment-request/OWNERS
Labels: payment-request, wg-payments

#9735 Magic constants are replaced by blob.size
  FileAPI/blob/Blob-slice-overflow.html
Labels: FileAPI, status:needs-changes, wg-webplatform

#9683 Ensure focus events are composed
  html/editing/focus/composed.window.js
Labels: html

#9728 Tests for PaymentCurrencyAmount's currencySystem
  payment-request/PaymentCurrencyAmount/currencySystem-member.https.html
Labels: payment-request, wg-payments

#9314 Imagebitmap redirect to same origin
  2dcontext/imagebitmap/createImageBitmap-origin.sub.html
Labels: 2dcontext, status:needs-owners, wg-html

#3936 [eme] Fix #3826: Test license expiration using playDuration
  encrypted-media/drm-mp4-playback-temporary-playduration-keystatus.html
  encrypted-media/drm-mp4-playback-temporary-playduration.html
  encrypted-media/scripts/playback-temporary-playduration-keystatus.js
  encrypted-media/scripts/playback-temporary-playduration.js
  encrypted-media/util/drm-messagehandler.js
  encrypted-media/util/utils.js
Labels: encrypted-media, wg-html

#9746 Add default list value to extra-property argument.
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra

#9749 Make ContentItem use a CustomIdent for counter names
  css/css-lists/counter-invalid.htm
Labels: servo-export

#9788 Remove myself from the interfaces/ owners
  interfaces/OWNERS
Labels: interfaces

#9024 Fix Selection API idlharness.js test
  interfaces/selection-api.idl
  selection/interfaces.html
Labels: interfaces, selection

#9766 Update the console IDL file
  interfaces/console.idl
Labels: interfaces

#9703 test: pre-selected shipping option dont fire events
  payment-request/change-shipping-option-select-last-manual.https.html
Labels: payment-request, wg-payments

#7645 Split selectors test into smaller tests
  css/selectors/child-indexed-pseudo-class.html
Labels: selectors

#9805 [css-text] Add lang=ja in css3-text-line-break-jazh tests
  css/css-text/i18n/css3-text-line-break-jazh-059.html
  css/css-text/i18n/css3-text-line-break-jazh-159.html
  css/css-text/i18n/css3-text-line-break-jazh-259.html
  css/css-text/i18n/reference/css3-text-line-break-jazh-059-ref.html
  css/css-text/i18n/reference/css3-text-line-break-jazh-159-ref.html
  css/css-text/i18n/reference/css3-text-line-break-jazh-259-ref.html
Labels: css-text

#9748 Firefox browser install now uses mozdownload and mozinstall
  tools/wpt/browser.py
  tools/wpt/commands.json
  tools/wpt/tests/test_browser.py
  tools/wptrunner/requirements_firefox.txt
Labels: infra

#9799 Add first batch of tests for content change selection update
  html/semantics/forms/textfieldselection/selection-start-end-extra.html
Labels: html

#9867 cc messages.json expectations wording updates
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-owners

#9655 Clicking on element before sending special keys in WebDriver tests
  webdriver/tests/actions/special_keys.py
Labels: webdriver, wg-testing_browser

#9822 Fixing WebDriver add_cookie tests
  webdriver/tests/cookies/add_cookie.py
Labels: webdriver, wg-testing_browser

#9865 Removing ES6 constructs from WebDriver element clear tests
  webdriver/tests/interaction/element_clear.py
Labels: webdriver, wg-testing_browser

#9857 Update the xhr IDL file
  interfaces/xhr.idl
Labels: interfaces

#9820 Removing ES6 constructs from WebDriver send_keys test
  webdriver/tests/element_send_keys/form_controls.py
Labels: webdriver, wg-testing_browser

#8680 CanMakePaymentEvent
  interfaces/payment-handler.idl
  payment-handler/app-can-make-payment.js
  payment-handler/can-make-payment-event-constructor.https.html
  payment-handler/can-make-payment-event-constructor.https.worker.js
  payment-handler/can-make-payment-event.https.html
  payment-handler/interfaces.https.any.js
  payment-handler/manifest.json
Labels: interfaces, payment-handler, wg-payments

#9859 Amend cross-origin tests to use assert_equals (Fixes #2519)
  html/browsers/origin/cross-origin-objects/cross-origin-objects.html
Labels: html

#9862 Correct serialization of counter()
  css/cssom/serialize-values.html
Labels: cssom, wg-css

#9890 Use CustomIdent in Symbol::Ident
  css/css-counter-styles/broken-symbols-ref.htm
  css/css-counter-styles/broken-symbols.htm
Labels: servo-export

#9891 Fire the pageshow event at the end of the page load r=jdm
  html/syntax/parsing/the-end.html
Labels: servo-export

#9795 Update orientation-sensor IDL file
  interfaces/orientation-sensor.idl
Labels: interfaces

#9842 Update the web-nfc IDL file
  interfaces/web-nfc.idl
Labels: interfaces

#9893 Use interfaces/web-nfc.idl file
  web-nfc/idlharness.https.html
Labels: web-nfc

#9869 Add tests for customElements.upgrade()
  custom-elements/custom-element-registry/upgrade.html
Labels: custom-elements, wg-webplatform

#9702 refactor: better naming of things
  payment-request/show-method-optional-promise-resolves-manual.https.html
Labels: payment-request, wg-payments

#9619 add string coercion test
  payment-request/payment-request-ctor-pmi-handling.https.html
Labels: payment-request, wg-payments

#9804 Add some basic autofocus tests
  html/semantics/forms/autofocus/first-when-later-but-before.html
  html/semantics/forms/autofocus/first-when-later.html
  html/semantics/forms/autofocus/first.html
  html/semantics/forms/autofocus/not-on-first-task.html
Labels: html

#9764 Update the clipboard-apis IDL file
  clipboard-apis/async-interfaces.https.html
  interfaces/clipboard-apis.idl
  interfaces/clipboard.idl
Labels: clipboard-apis, interfaces, wg-webplatform

#9852 Update the webidl IDL file
  interfaces/webidl.idl
Labels: interfaces

#9892 Consolidate all IDL files into interfaces/
  FileAPI/idlharness.html
  FileAPI/idlharness.worker.js
  IndexedDB/interfaces.html
  IndexedDB/interfaces.worker.js
  background-fetch/interfaces.html
  background-fetch/interfaces.worker.js
  cookie-store/idlharness.tentative.html
  cookie-store/idlharness_serviceworker.js
  encrypted-media/idlharness.https.html
  entries-api/interfaces-manual.html
  entries-api/interfaces.html
  interfaces/FileAPI.idl
  interfaces/IndexedDB.idl
  interfaces/background-fetch.idl
  interfaces/cookie-store.idl
  interfaces/encrypted-media.idl
  interfaces/entries-api.idl
  interfaces/storage.idl
  interfaces/webauthn.idl
  storage/interfaces.https.html
  storage/interfaces.https.worker.js
  webauthn/interfaces.https.html
Labels: FileAPI, IndexedDB, background-fetch, cookie-store, encrypted-media, entries-api, interfaces, storage, webauthn, wg-html, wg-webapps, wg-webauthn, wg-webplatform

#9693 Add more tests for data: URLs with space in body
  fetch/data-urls/resources/data-urls.json
Labels: fetch

#9836 Update the url IDL file
  interfaces/url.idl
  url/interfaces.any.js
Labels: interfaces, url

#9917 Writable streams: test changes to abort() under error conditions
  streams/writable-streams/aborting.js
Labels: streams

#9875 Require mozdownload and mozinstall when running wpt install.
  tools/wpt/commands.json
Labels: infra

#9806 On MacOS, search for Firefox binary in common paths (Fixes #7125)
  tools/wpt/browser.py
Labels: infra

#9706 Add regionCode test (manual and idl)
  interfaces/payment-request.idl
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
Labels: interfaces, payment-request, wg-payments

#9902 Add a lint to catch adding files that would otherwise be ignored by git.
  .gitignore
  tools/lint/lint.py
Labels: infra

#9930 removed tests g,h,q,r from cascade-import-002.xht
  css/CSS2/cascade-import/cascade-import-002.xht
  css/CSS2/cascade-import/support/cascade-import-002g.css
  css/CSS2/cascade-import/support/cascade-import-002h.css
  css/CSS2/cascade-import/support/cascade-import-002q.css
  css/CSS2/cascade-import/support/cascade-import-002r.css
Labels: CSS2, wg-css

#9782 Update the entries-api IDL file
  interfaces/entries-api.idl
Labels: interfaces

#9835 Update the uievents IDL file
  interfaces/uievents.idl
Labels: interfaces

#9215 Add css-align/OWNERS
  css/css-align/OWNERS
Labels: css-align, status:needs-owners

#9926 Streams: Modify tests to expect abort reason passthrough
  streams/piping/error-propagation-backward.js
  streams/piping/multiple-propagation.js
  streams/transform-streams/errors.js
  streams/transform-streams/reentrant-strategies.js
  streams/writable-streams/aborting.js
  streams/writable-streams/bad-underlying-sinks.js
  streams/writable-streams/close.js
  streams/writable-streams/general.js
  streams/writable-streams/reentrant-strategy.js
Labels: streams

#9935 [css-writing-modes] Move 'text-combine-upright: digits' tests to Level 4
  css/css-writing-modes/full-width-003.html
  css/css-writing-modes/text-combine-upright-parsing-digits-001.html
  css/css-writing-modes/text-combine-upright-parsing-digits-002.html
  css/css-writing-modes/text-combine-upright-parsing-invalid-001.html
  css/css-writing-modes/text-combine-upright-parsing-invalid-002.html
  css/css-writing-modes/text-combine-upright-value-digits2-001.html
  css/css-writing-modes/text-combine-upright-value-digits2-002.html
  css/css-writing-modes/text-combine-upright-value-digits2-003.html
  css/css-writing-modes/text-combine-upright-value-digits3-001.html
  css/css-writing-modes/text-combine-upright-value-digits3-002.html
  css/css-writing-modes/text-combine-upright-value-digits3-003.html
  css/css-writing-modes/text-combine-upright-value-digits4-001.html
  css/css-writing-modes/text-combine-upright-value-digits4-002.html
  css/css-writing-modes/text-combine-upright-value-digits4-003.html
Labels: css-writing-modes

#9889 Automatically setting session to None for new session tests
  webdriver/tests/support/fixtures.py
Labels: webdriver, wg-testing_browser

#9951 Document we wait for web fonts in reftests
  docs/_writing-tests/reftests.md
Labels: docs

#9948 gyroscope: Rename LocalCoordinateSystem to GyroscopeLocalCoordinateSystem
  interfaces/gyroscope.idl
Labels: interfaces

#9949 accelerometer: Rename LocalCoordinateSystem to AccelerometerLocalCoordinateSystem
  interfaces/accelerometer.idl
Labels: interfaces

#9950 Fix link to w3c-test.org in the running-tests docs
  docs/_running-tests/index.md
Labels: docs

#9941 webrtc: improve Firefox compability of RTCDTMFHelper
  webrtc/RTCDTMFSender-helper.js
Labels: webrtc, wg-webrtc

#9928 add Response test for propagating underlying ReadableStream error
  fetch/api/response/response-error-from-stream.html
Labels: fetch

#9942 Add sensor screen tests
  sensors/generic-sensor-tests.js
Labels: sensors

#9954 Remove the Sauce Travis jobs
  .travis.yml
Labels: infra

#9633 Fix #9481: fix invalid output during environment initialization
  tools/ci/check_stability.py
  tools/wpt/run.py
  tools/wpt/update.py
  tools/wptrunner/wptrunner/formatters.py
  tools/wptrunner/wptrunner/reduce.py
  tools/wptrunner/wptrunner/update/__init__.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra

#6618 Verify that modals are blocked in sandboxed frames without 'allow-mod…
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-1.html
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-2.html
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-3.html
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_block_modals-4.html
  html/semantics/embedded-content/the-iframe-element/support/iframe-that-opens-modals.html
  html/semantics/embedded-content/the-iframe-element/support/iframe_sandbox_block_modals.js
Labels: html

#9920 Add tests for return value of DOMTokenList's replace() method
  dom/nodes/Element-classlist.html
  interfaces/dom.idl
Labels: dom, interfaces

#9976 Revert "Fix #9481: fix invalid output during environment initialization"
  tools/ci/check_stability.py
  tools/wpt/run.py
  tools/wpt/update.py
  tools/wptrunner/wptrunner/formatters.py
  tools/wptrunner/wptrunner/reduce.py
  tools/wptrunner/wptrunner/update/__init__.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra

#9977 Remove the rest of Sauce support for stability runs (including JWT)
  .travis.yml
  tools/ci/check_stability.py
Labels: infra

#9687 This adds the ability to download latest Servo for `wpt run`
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: infra, status:needs-changes

#9924 Removes lines containing `GLib-GObject-CRITICAL` from the logs
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra

#9985 Correct order of serialized media list values
  css/cssom/medialist-interfaces-001.html
  css/cssom/medialist-interfaces-004.html
Labels: cssom, wg-css

#9989 convert PR.canMakePayment() to manual test
  payment-request/payment-request-canmakepayment-method-manual.https.html
Labels: payment-request, wg-payments

#9975 orientation-sensor: Rename LocalCoordinateSystem enum.
  interfaces/orientation-sensor.idl
Labels: interfaces

#9974 magnetometer: Rename LocalCoordinateSystem enum.
  interfaces/magnetometer.idl
Labels: interfaces

#9988 Change PaymentRequest.abort() to manual test
  payment-request/payment-request-abort-method-manual.https.html
  payment-request/payment-request-abort-method.https.html
Labels: payment-request, wg-payments

#10011 Remove HTMLIFrameElement.allowvr test
  webvr/idlharness.https.html
Labels: servo-export

#10020 Revert "Add a lint to catch adding files that would otherwise be ignored by git."
  tools/lint/lint.py
Labels: infra

#9958 Allow for exception to occur if medium not found
  css/cssom/medialist-interfaces-002.html
Labels: cssom, wg-css

#9960 Replace assert_own_property with assert_idl_attribute
  css/cssom/inline-style-001.html
  css/cssom/style-sheet-interfaces-001.html
Labels: cssom, wg-css

#9780 Update the encoding IDL file
  encoding/idlharness.html
  interfaces/encoding.idl
Labels: encoding, interfaces

#9662 Add tests for GeolocationSensor.read()
  geolocation-sensor/GeolocationSensor-disabled-by-feature-policy.https.html
  geolocation-sensor/GeolocationSensor_read.https.html
Labels: geolocation-sensor

#9944 WritableStream: Add smoke tests for abort() with non-Error arguments
  streams/writable-streams/aborting.js
Labels: streams

#10023 Add tests for throwing 'NotSupportedError' if an unsupported sensor option is passed to the constructor.
  sensors/generic-sensor-tests.js
Labels: sensors

#10004 Add an "Edit on GitHub" link to the docs
  docs/_config.yml
  docs/_includes/header.html
  docs/assets/gh-fork-ribbon.scss
  docs/assets/main.scss
Labels: docs

#9978 document.open()'s type argument is useless
  html/dom/dynamic-markup-insertion/opening-the-input-stream/type-argument.window.js
Labels: html

#10001 Improve HTMLAllCollection IDL
  interfaces/html.idl
Labels: interfaces, status:needs-spec-decision

#9990 show() must be triggered by user activation
  payment-request/payment-request-show-method-manual.https.html
  payment-request/payment-request-show-method.https.html
Labels: payment-request, wg-payments

#10025 Adjust MathML tests to Workaround WebKit's bug with document.fonts.ready
  mathml/presentation-markup/fractions/frac-parameters-1.html
  mathml/presentation-markup/fractions/frac-parameters-2.html
  mathml/presentation-markup/operators/mo-axis-height-1.html
  mathml/presentation-markup/radicals/root-parameters-1.html
  mathml/presentation-markup/scripts/subsup-parameters-1.html
  mathml/presentation-markup/scripts/underover-parameters-1.html
  mathml/presentation-markup/scripts/underover-parameters-2.html
  mathml/presentation-markup/scripts/underover-parameters-3.html
  mathml/presentation-markup/scripts/underover-parameters-4.html
  mathml/presentation-markup/tables/table-axis-height.html
  mathml/relations/css-styling/displaystyle-1.html
  mathml/relations/css-styling/lengths-3.html
Labels: mathml, status:needs-owners, wg-math

#9605 Add test for whitespace: nowrap and float:left
  css/css-text/line-breaking/line-breaking-012.html
  css/css-text/line-breaking/reference/line-breaking-012-ref.html
Labels: css-text

#9827 Update the screen-orientation IDL file
  interfaces/screen-orientation.idl
Labels: interfaces

#10031 Add a lint to catch adding files that would otherwise be ignored by git
  tools/lint/lint.py
Labels: infra

#9916 Replace a lonely domstringlist.idl with filtering html.idl
  html/infrastructure/common-dom-interfaces/collections/domstringlist-interface.html
  html/infrastructure/common-dom-interfaces/collections/domstringlist-interface.worker.js
  html/infrastructure/common-dom-interfaces/collections/domstringlist.idl
Labels: html

#10032 [css-align] Use actual prefixed properties in the grid-* gutter tests
  css/css-align/gaps/grid-column-gap-parsing-001.html
  css/css-align/gaps/grid-gap-parsing-001.html
  css/css-align/gaps/grid-row-gap-parsing-001.html
Labels: css-align

#10033 Remove redundant importScript bits from a .any.js test
  payment-handler/interfaces.https.any.js
Labels: payment-handler, wg-payments

#10034 Fix a link to the README in the documentation.
  docs/introduction.md
Labels: docs

#10003 README file for entries-api
  entries-api/README.md
Labels: entries-api

#10002 Update ED link in IndexedDB's README
  IndexedDB/README.md
Labels: IndexedDB, wg-webapps

#9783 Update the feature-policy IDL file
  feature-policy/interfaces.any.js
  interfaces/feature-policy.idl
Labels: feature-policy, interfaces

#10024 Add sensor referenceFrame/frequency TypeError tests
  sensors/generic-sensor-tests.js
Labels: sensors

#9900 Fixed firefox binary path for Windows and Mac in browser.py
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/tests/test_wpt.py
Labels: accname, css-position, infra

#10049 Add IDL test for the CSS Font Loading spec
  css/css-font-loading/idlharness.https.html
  interfaces/css-font-loading.idl
Labels: css-font-loading, interfaces

#9792 Update hr-time IDL file
  interfaces/hr-time.idl
Labels: interfaces

#9897 Fix font paths after #9718
  preload/download-resources.html
  preload/link-header-on-subresource.html
  preload/onload-event.html
  preload/preload-csp.sub.html
  preload/preload-default-csp.sub.html
  preload/preload-with-type.html
  preload/resources/dummy-preloads-subresource.css.sub.headers
  preload/single-download-preload.html
Labels: preload, wg-webperf

#10047 [web-animations] Update timing interfaces
  web-animations/animation-model/keyframe-effects/effect-value-iteration-composite-operation.html
  web-animations/interfaces/Animatable/animate.html
  web-animations/interfaces/Animatable/getAnimations.html
  web-animations/interfaces/Animation/cancel.html
  web-animations/interfaces/Animation/constructor.html
  web-animations/interfaces/Animation/effect.html
  web-animations/interfaces/Animation/finished.html
  web-animations/interfaces/Animation/idlharness.html
  web-animations/interfaces/AnimationEffect/getComputedTiming.html
  web-animations/interfaces/AnimationEffect/updateTiming.html
  web-animations/interfaces/AnimationEffectTiming/delay.html
  web-animations/interfaces/AnimationEffectTiming/direction.html
  web-animations/interfaces/AnimationEffectTiming/duration.html
  web-animations/interfaces/AnimationEffectTiming/easing.html
  web-animations/interfaces/AnimationEffectTiming/endDelay.html
  web-animations/interfaces/AnimationEffectTiming/fill.html
  web-animations/interfaces/AnimationEffectTiming/idlharness.html
  web-animations/interfaces/AnimationEffectTiming/iterationStart.html
  web-animations/interfaces/AnimationEffectTiming/iterations.html
  web-animations/interfaces/Document/getAnimations.html
  web-animations/interfaces/KeyframeEffect/constructor.html
  web-animations/interfaces/KeyframeEffect/copy-constructor.html
  web-animations/interfaces/KeyframeEffect/idlharness.html
  web-animations/interfaces/KeyframeEffect/iterationComposite.html
  web-animations/interfaces/KeyframeEffect/processing-a-keyframes-argument-001.html
  web-animations/resources/timing-tests.js
  web-animations/resources/timing-utils.js
  web-animations/testcommon.js
  web-animations/timing-model/animation-effects/phases-and-states.html
  web-animations/timing-model/animations/finishing-an-animation.html
  web-animations/timing-model/animations/setting-the-target-effect-of-an-animation.html
  web-animations/timing-model/animations/updating-the-finished-state.html
Labels: status:needs-owners, web-animations, wg-css, wg-svg

#10060 Document how to install the CA cert on Android
  docs/_running-tests/chrome_android.md
Labels: docs

#10059 Editing expectations of domain attribute of returned cookie
  webdriver/tests/cookies/add_cookie.py
Labels: webdriver, wg-testing_browser

#9986 ResourceTiming Issue 138: initiatorType test cases
  resource-timing/resource_frame_initiator_type.html
  resource-timing/resource_initiator_types.html
  resource-timing/resources/all_resource_types.htm
  resource-timing/resources/empty.py
  resource-timing/resources/eventsource.py
  resource-timing/resources/green_frame.htm
Labels: resource-timing, wg-webperf

#10067 cc Drop javascript-protocol URL tests
  conformance-checkers/Makefile
  conformance-checkers/html/elements/a/href/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/area/href/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/audio/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/base/href/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/blockquote/cite/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/button/formaction/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/del/cite/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/embed/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/form/action/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/iframe/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/img/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/input/type-image-formaction/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/input/type-image-src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/input/type-submit-formaction/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/input/type-url-value/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/ins/cite/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/link/href/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/object/data/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/q/cite/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/script/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/source/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/track/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/video/poster/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/elements/video/src/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/microdata/itemid/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/html/microdata/itemtype/scheme-javascript-no-slash-malformed-novalid.html
  conformance-checkers/messages.json
  conformance-checkers/tools/url.py
Labels: conformance-checkers, status:needs-owners

#10069 [css-grid] Fix relative path to grid.css file
  css/css-grid/abspos/absolute-positioning-grid-container-containing-block-001.html
  css/css-grid/abspos/absolute-positioning-grid-container-parent-001.html
  css/css-grid/abspos/grid-paint-positioned-children-001.html
  css/css-grid/abspos/grid-positioned-children-writing-modes-001-ref.html
  css/css-grid/abspos/grid-positioned-children-writing-modes-001.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-001.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-002.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-003.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-004.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-005.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-006.html
  css/css-grid/abspos/grid-positioned-items-and-autofit-tracks-007.html
  css/css-grid/abspos/grid-positioned-items-background-001.html
  css/css-grid/abspos/grid-positioned-items-background-rtl-001.html
  css/css-grid/abspos/grid-positioned-items-content-alignment-001.html
  css/css-grid/abspos/grid-positioned-items-content-alignment-rtl-001.html
  css/css-grid/abspos/grid-positioned-items-gaps-001.html
  css/css-grid/abspos/grid-positioned-items-gaps-rtl-001.html
  css/css-grid/abspos/grid-positioned-items-implicit-grid-001.html
  css/css-grid/abspos/grid-positioned-items-implicit-grid-line-001.html
  css/css-grid/abspos/grid-positioned-items-padding-001.html
  css/css-grid/abspos/grid-positioned-items-unknown-named-grid-line-001.html
  css/css-grid/abspos/grid-positioned-items-within-grid-implicit-track-001.html
  css/css-grid/abspos/grid-sizing-positioned-items-001.html
  css/css-grid/abspos/positioned-grid-items-should-not-create-implicit-tracks-001.html
  css/css-grid/abspos/positioned-grid-items-should-not-take-up-space-001.html
  css/css-grid/abspos/positioned-grid-items-sizing-001-ref.html
  css/css-grid/abspos/positioned-grid-items-sizing-001.html
  css/css-grid/abspos/support/grid.css
  css/css-grid/grid-definition/grid-change-fit-content-argument-001.html
  css/css-grid/grid-definition/grid-template-columns-fit-content-001-ref.html
  css/css-grid/grid-definition/grid-template-columns-fit-content-001.html
  css/css-grid/grid-definition/grid-template-rows-fit-content-001-ref.html
  css/css-grid/grid-definition/grid-template-rows-fit-content-001.html
  css/css-grid/grid-definition/support/grid.css
  css/css-grid/grid-items/grid-items-minimum-width-001.html
  css/css-grid/grid-items/grid-items-minimum-width-002.html
  css/css-grid/grid-items/grid-items-minimum-width-orthogonal-001.html
  css/css-grid/grid-items/grid-items-minimum-width-orthogonal-002.html
  css/css-grid/grid-items/grid-items-minimum-width-vertical-lr-001.html
  css/css-grid/grid-items/grid-items-minimum-width-vertical-lr-002.html
  css/css-grid/grid-items/grid-items-minimum-width-vertical-rl-001.html
  css/css-grid/grid-items/grid-items-minimum-width-vertical-rl-002.html
  css/css-grid/grid-items/grid-minimum-size-grid-items-022.html
  css/css-grid/grid-items/grid-minimum-size-grid-items-023.html
  css/css-grid/grid-items/grid-minimum-size-grid-items-024.html
  css/css-grid/grid-items/grid-minimum-size-grid-items-025.html
  css/css-grid/grid-items/support/grid.css
  css/css-grid/grid-model/grid-container-ignores-first-letter-001.html
  css/css-grid/grid-model/grid-container-ignores-first-line-001.html
  css/css-grid/grid-model/grid-item-accepts-first-letter-001.html
  css/css-grid/grid-model/grid-item-accepts-first-line-001.html
  css/css-grid/grid-model/support/grid.css
Labels: css-grid

#10065 WebDriver: REGRESSION(86d68c3198c): missing 'sys' import in fixtures.py
  webdriver/tests/support/fixtures.py
Labels: webdriver, wg-testing_browser

#10055 Add tentative test for what ".." on documentElement returns
  domxpath/document.tentative.html
Labels: domxpath, wg-dom

#9966 [presentation-api] check if a URL with an unsupported scheme is ignored
  presentation-api/controlling-ua/PresentationRequest_error.https.html
  presentation-api/controlling-ua/PresentationRequest_success.https.html
Labels: presentation-api, wg-secondscreen

#10058 Changing WebDriver test_parent_htmldocument to expect error
  webdriver/tests/element_retrieval/find_element_from_element.py
  webdriver/tests/element_retrieval/find_elements_from_element.py
Labels: webdriver, wg-testing_browser

#9995 Make lint work when directories are passed in
  tools/lint/lint.py
  tools/lint/tests/test_lint.py
Labels: infra, lint

#10080 Mute wget when downloading chrome deb
  tools/ci/lib.sh
Labels: infra

#9931 Add used body replacement test for Request constructor
  fetch/api/request/request-disturbed.html
Labels: fetch

#9945 Allow passing stability options through command line (Fixes #9877)
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra

#10077 Fix a typo in a resource file name (#9986)
  resource-timing/resource_initiator_types.html
Labels: resource-timing, wg-webperf

#10092 Remove dependency on external server for background-attachment-004
  css/CSS2/backgrounds/background-attachment-004.xht
  css/CSS2/backgrounds/support/cat-128.png
  css/CSS2/backgrounds/support/cat-830.png
Labels: CSS2, wg-css

#10099 Update serialization of drop-shadow
  css/filter-effects/parsing/filter-parsing-invalid.html
  css/filter-effects/parsing/filter-parsing-valid.html
Labels: filter-effects, wg-css, wg-svg

#9843 Update the web-share IDL file
  interfaces/web-share.idl
Labels: interfaces

#10018 ReadableStream: Readable byte stream must call pull if needed after receiving new chunk
  streams/readable-byte-streams/general.js
Labels: streams

#10041 stops using wrappedJSObject in marionette executor
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/testharness_marionette.js
  tools/wptrunner/wptrunner/executors/testharness_marionette_resume.js
Labels: infra, status:needs-owners

#10082 No longer allow Chrome stability check to fail
  .travis.yml
Labels: infra

#10098 Exit check_stability with an error when no tests run
  tools/ci/check_stability.py
Labels: infra

#10090 user activation must survive postMessage() to call show()
  payment-request/show-method-postmessage-iframe.html
  payment-request/show-method-postmessage-manual.https.html
Labels: payment-request, wg-payments

#10119 Edge doesn't do object spread yet
  payment-request/show-method-postmessage-iframe.html
Labels: payment-request, wg-payments

#9672 Test postMessage() exception order
  html/infrastructure/safe-passing-of-structured-data/transfer-errors.window.js
Labels: do not merge yet, html

#10116 Attempt to fix ci_resources_unittest (#10114)
  resources/test/tox.ini
  tools/ci/ci_resources_unittest.sh
Labels: infra

#9797 Update payment-request IDL file
  interfaces/payment-request.idl
Labels: interfaces

#9775 Update the css-typed-om IDL file
  interfaces/css-typed-om.idl
Labels: interfaces

#9855 Update the webvtt IDL file
  interfaces/webvtt.idl
  webvtt/api/interfaces.html
Labels: interfaces, webvtt, wg-audiovideo_tt

#9908 Update web-animations IDL file
  interfaces/web-animations.idl
  web-animations/interfaces/Animation/idlharness.html
  web-animations/interfaces/AnimationPlaybackEvent/idlharness.html
  web-animations/interfaces/DocumentTimeline/idlharness.html
  web-animations/interfaces/KeyframeEffect/idlharness.html
Labels: interfaces, web-animations, wg-css, wg-svg

#10120 Prevent false positives
  payment-request/show-method-postmessage-manual.https.html
Labels: payment-request, wg-payments

#9993 MathML: Test italic correction of sub and super scripts attached to a large operator
  fonts/math/largeop-displayoperatorminheight2000-2AFF-italiccorrection3000.woff
  mathml/presentation-markup/scripts/subsup-parameters-2.html
  mathml/tools/largeop.py
Labels: assets, mathml, wg-math

#10100 Handle options for add_untested_idls
  resources/idlharness.js
Labels: infra

#9099 Tests for PaymentItem.type member
  payment-request/PaymentItem/type_member.https.html
Labels: interfaces, payment-request, wg-payments

#10110 Add HTMLOrSVGElement to HTML's IDL
  interfaces/html.idl
Labels: interfaces

#10155 cc Update messages.json
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-owners

#10131 Fix python gitignore for directories.
  tools/gitignore/gitignore.py
  tools/gitignore/tests/test_gitignore.py
Labels: infra

#10147 Fixed lint checking directories it shouldn't be
  tools/gitignore/gitignore.py
  tools/lint/lint.py
Labels: infra

#10029 idlharness.js: Distinguish instance toJSON is being executed against when it's inherited
  resources/idlharness.js
  resources/test/tests/idlharness/IdlInterface/test_to_json_operation.html
Labels: infra

#10151 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=183928
  fetch/api/cors/cors-cookies-redirect.any.js
  fetch/api/resources/inspect-headers.py
  fetch/api/resources/redirect.py
Labels: fetch, webkit-export

#10175 Add base protocol to ConnectionlessProtocol.
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra

#9418 [css-sizing] Intrinsic percentage non-replaced widths
  css/css-sizing/intrinsic-percent-non-replaced-001-ref.html
  css/css-sizing/intrinsic-percent-non-replaced-001.html
  css/css-sizing/intrinsic-percent-non-replaced-002-ref.html
  css/css-sizing/intrinsic-percent-non-replaced-002.html
  css/css-sizing/intrinsic-percent-non-replaced-003.html
Labels: css-sizing, css-writing-modes, status:needs-owners

#10184 Better explain test execution in resources/test/README
  resources/test/README.md
Labels: infra

#10180 Replace 'enabledMethods' array with 'method' string.
  interfaces/payment-handler.idl
  payment-handler/can-make-payment-event.https.html
  payment-handler/payment-instruments.https.html
  payment-handler/payment-request-event.https.html
Labels: interfaces, payment-handler, wg-payments

#10169 expand tests to test in reverse direction
  html/webappapis/scripting/events/event-handler-attributes-window-body.html
Labels: html
