Repository web-platform-tests/wpt, pull requests merged in 2018-05, with the labels that each got.

#10135 Remove PaymentCurrencyAmount.currencySystem tests
  payment-request/PaymentCurrencyAmount/currencySystem-member.https.html
Labels: payment-request, wg-payments

#10166 Add alternate_hosts
  config.default.json
  docs/_writing-tests/server-features.md
  tools/serve/serve.py
  tools/serve/test_serve.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
  tools/wptserve/tests/test_config.py
  tools/wptserve/wptserve/config.py
  tools/wptserve/wptserve/pipes.py
  tools/wptserve/wptserve/server.py
Labels: do not merge yet, docs, infra

#10729 Move DL items from gfx to layout
  css/css-backgrounds/background-rounded-image-clip.html
  css/css-backgrounds/reference/background-rounded-image-clip.html
Labels: servo-export

#10730 Remove some const loops in /url/urlsearchparams-foreach.html
  url/urlsearchparams-foreach.html
Labels: servo-export

#10731 Move shadow stuff to its own test in link-rel-attribute.html
  html/semantics/document-metadata/the-link-element/link-rel-attribute.html
Labels: servo-export

#10732 Make session history aware of URLs
  html/browsers/history/the-history-interface/history_pushstate_url.html
Labels: servo-export

#10733 Place item clipping_and_scrolling inside closure
  css/css-backgrounds/background-rounded-image-clip.html
  css/css-backgrounds/reference/background-rounded-image-clip.html
Labels: servo-export

#10739 Revert "Update mozrunner from 7.0.0 to 7.0.1"
  tools/wptrunner/requirements_firefox.txt
Labels: infra, priority:urgent

#10700 Parsing tests for CSS UI Level 3
  css/css-ui/parsing/box-sizing-invalid.html
  css/css-ui/parsing/box-sizing-valid.html
  css/css-ui/parsing/caret-color-invalid.html
  css/css-ui/parsing/caret-color-valid.html
  css/css-ui/parsing/cursor-invalid.html
  css/css-ui/parsing/cursor-valid.html
  css/css-ui/parsing/outline-color-invalid.html
  css/css-ui/parsing/outline-color-valid-mandatory.html
  css/css-ui/parsing/outline-color-valid-optional.html
  css/css-ui/parsing/outline-invalid.html
  css/css-ui/parsing/outline-offset-invalid.html
  css/css-ui/parsing/outline-offset-valid.html
  css/css-ui/parsing/outline-style-invalid.html
  css/css-ui/parsing/outline-style-valid.html
  css/css-ui/parsing/outline-valid-mandatory.html
  css/css-ui/parsing/outline-valid-optional.html
  css/css-ui/parsing/outline-width-invalid.html
  css/css-ui/parsing/outline-width-valid.html
  css/css-ui/parsing/resize-invalid.html
  css/css-ui/parsing/resize-valid.html
  css/css-ui/parsing/resources/parsing-testcommon.js
  css/css-ui/parsing/text-overflow-invalid.html
  css/css-ui/parsing/text-overflow-valid.html
Labels: css-ui, wg-css

#10708 Fetch: fix and cleanup api/cors
  fetch/api/cors/cors-expose-star-worker.html
  fetch/api/cors/cors-expose-star.html
  fetch/api/cors/cors-expose-star.sub.any.js
  fetch/api/cors/cors-multiple-origins-worker.html
  fetch/api/cors/cors-multiple-origins.html
  fetch/api/cors/cors-multiple-origins.js
  fetch/api/cors/cors-multiple-origins.sub.any.js
Labels: fetch

#10709 Fetch: cleanup api/redirect
  fetch/api/redirect/redirect-count-worker.html
  fetch/api/redirect/redirect-count.any.js
  fetch/api/redirect/redirect-count.html
  fetch/api/redirect/redirect-empty-location-worker.html
  fetch/api/redirect/redirect-empty-location.any.js
  fetch/api/redirect/redirect-empty-location.html
  fetch/api/redirect/redirect-location-worker.html
  fetch/api/redirect/redirect-location.any.js
  fetch/api/redirect/redirect-location.html
  fetch/api/redirect/redirect-method-worker.html
  fetch/api/redirect/redirect-method.any.js
  fetch/api/redirect/redirect-method.html
  fetch/api/redirect/redirect-mode-worker.html
  fetch/api/redirect/redirect-mode.any.js
  fetch/api/redirect/redirect-mode.html
  fetch/api/redirect/redirect-origin-worker.html
  fetch/api/redirect/redirect-origin.any.js
  fetch/api/redirect/redirect-origin.html
  fetch/api/redirect/redirect-referrer-worker.html
  fetch/api/redirect/redirect-referrer.any.js
  fetch/api/redirect/redirect-referrer.html
  fetch/api/redirect/redirect-to-dataurl-worker.html
  fetch/api/redirect/redirect-to-dataurl.any.js
  fetch/api/redirect/redirect-to-dataurl.html
Labels: fetch

#10703 Correct document.domain setter test
  html/browsers/origin/.gitkeep
  html/browsers/origin/relaxing-the-same-origin-restriction/.gitkeep
  html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_setter.html
  html/browsers/origin/relaxing-the-same-origin-restriction/support/document_domain_setter_iframe.html
Labels: html

#10715 Cleanup CSSOM View interfaces test
  css/cssom-view/interfaces.html
Labels: cssom-view, wg-css

#10765 Remove unused css-mode argument to the lint.
  tools/lint/lint.py
Labels: infra

#10759 Add old-tests/OWNERS
  old-tests/OWNERS
Labels: old-tests, status:needs-owners

#10686 HTML: document.open() event listener removal
  html/dom/dynamic-markup-insertion/opening-the-input-stream/event-listeners.window.js
Labels: html

#10625 CSS-Flexbox: Add test for first-letter
  css/css-flexbox/flexbox_first-letter.html
Labels: css-flexbox, wg-css

#10786 Fix typo in documentation of SourceFile.content_is_css_visual().
  tools/manifest/sourcefile.py
Labels: infra

#10763 Add picture-in-picture/OWNERS
  picture-in-picture/OWNERS
Labels: picture-in-picture, status:needs-owners

#10814 Improve color use in background-clip-content-box-001.html.
  css/css-backgrounds/background-clip-content-box-001.html
  css/css-backgrounds/reference/background-clip-content-box-ref.html
Labels: css-backgrounds

#10804 Hook up logging for websocket server
  tools/serve/serve.py
Labels: infra

#10758 Add budget-api/OWNERS
  budget-api/OWNERS
Labels: budget-api, status:needs-owners

#10764 Add orientation-event/OWNERS
  orientation-event/OWNERS
Labels: orientation-event, status:needs-owners, wg-geolocation

#10768 Add mediasession/OWNERS
  mediasession/OWNERS
Labels: mediasession, status:needs-owners

#10771 Add client-hints/OWNERS
  client-hints/OWNERS
Labels: client-hints, status:needs-owners

#10772 Add mediacapture-fromelement/OWNERS
  mediacapture-fromelement/OWNERS
Labels: mediacapture-fromelement, status:needs-owners, wg-dap, wg-webrtc

#10774 Add media-capabilities/OWNERS
  media-capabilities/OWNERS
Labels: media-capabilities, status:needs-owners

#10784 Add remote-playback/OWNERS
  remote-playback/OWNERS
Labels: remote-playback, status:needs-owners, wg-secondscreen

#10780 Add netinfo/OWNERS
  netinfo/OWNERS
Labels: netinfo, status:needs-owners

#10848 Implement border-image-outset
  css/css-backgrounds/border-image-outset-001.htm
  css/css-backgrounds/border-image-outset-002.htm
  css/css-backgrounds/border-image-outset-003-ref.html
  css/css-backgrounds/border-image-outset-003.html
Labels: servo-export

#10849 Correct edge case for background color clip
  css/css-backgrounds/background-color-clip.html
  css/css-backgrounds/reference/background-color-clip.html
Labels: servo-export

#10855 Update Firefox prefs path for upstream changes.
  tools/wpt/browser.py
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra

#10846 Fetch: couple minor improvements to some CORB tests
  fetch/corb/img-mime-types-coverage.tentative.sub.html
  fetch/corb/script-html-correctly-labeled.tentative.sub.html
  fetch/corb/script-html-js-polyglot.sub.html
Labels: fetch

#10838 Add x-frame-options/README.md
  x-frame-options/README.md
Labels: status:needs-owners, x-frame-options

#8409 new test: scollElement-002.html
  css/cssom-view/elementScroll-002.html
Labels: cssom-view, wg-css

#10861 Add historical tests for document.selectedStylesheetSet/preferredStylesheetSet
  css/cssom/historical.html
Labels: cssom, wg-css

#10826 Accname: Remove unspecified behavior from test cases
  accname/description_from_content_of_describedby_element-manual.html
  accname/description_from_content_of_describedby_element_which_is_hidden-manual.html
  accname/name_from_content-manual.html
  accname/name_from_content_of_label-manual.html
  accname/name_from_content_of_labelledby_element-manual.html
  accname/name_from_content_of_labelledby_elements_one_of_which_is_hidden-manual.html
  accname/name_link-mixed-content-manual.html
Labels: accname

#10822 Rfc6265bis tests
  cookies/prefix/__host.document-cookie.non-secure.html
  cookies/prefix/__host.http.non-secure.html
  cookies/prefix/__secure.document-cookie.non-secure.html
  cookies/prefix/__secure.http.non-secure.html
  cookies/prefix/__secure.http.secure.html
  cookies/prefix/document-cookie.non-secure.html
  cookies/resources/cookie-helper.sub.js
  cookies/resources/drop.py
  cookies/resources/dropSameSite.py
  cookies/resources/dropSecure.py
  cookies/resources/helpers.py
  cookies/resources/imgIfMatch.py
  cookies/resources/list.py
  cookies/resources/postToParent.py
  cookies/resources/redirectWithCORSHeaders.py
  cookies/resources/set.py
  cookies/resources/setSameSite.py
  cookies/resources/setSecure.py
  cookies/samesite/fetch.html
  cookies/samesite/form-get-blank-reload.html
  cookies/samesite/form-get-blank.html
  cookies/samesite/form-post-blank-reload.html
  cookies/samesite/form-post-blank.html
  cookies/samesite/iframe-reload.html
  cookies/samesite/iframe.html
  cookies/samesite/img.html
  cookies/samesite/window-open-reload.html
  cookies/samesite/window-open.html
  cookies/secure/cookie-forcing.html
  cookies/secure/create-cookie-http.html
Labels: cookies

#10800 Fix #10741: Call Out-File with an encoding for make-hosts-file on Windows
  README.md
  docs/introduction.md
  tools/wpt/run.py
Labels: docs, infra

#10869 Add annevk to dom/OWNERS
  dom/OWNERS
Labels: dom

#10870 Move http/ tests into fetch/ and html/
  fetch/content-length/content-length.html
  fetch/content-length/content-length.html.headers
  fetch/http-cache/basic-auth-cache-test-ref.html
  fetch/http-cache/basic-auth-cache-test.html
  fetch/http-cache/resources/securedimage.py
  html/browsers/browsing-the-web/navigating-across-documents/refresh/README.md
  html/browsers/browsing-the-web/navigating-across-documents/refresh/navigate.window.js
  html/browsers/browsing-the-web/navigating-across-documents/refresh/resources/multiple.asis
  html/browsers/browsing-the-web/navigating-across-documents/refresh/resources/refresh.py
  html/browsers/browsing-the-web/navigating-across-documents/refresh/resources/refreshed.txt
  html/browsers/browsing-the-web/navigating-across-documents/refresh/subresource.any.js
  http/OWNERS
  http/refresh/README.md
Labels: fetch, html, http

#10863 DOM: retarget relatedTarget
  dom/events/relatedTarget.window.js
Labels: dom

#10879 Fix DOM interface test
  interfaces/html.idl
Labels: interfaces

#10735 Test that non-Text nodes are not touched by normalization.
  dom/nodes/Node-normalize.html
Labels: dom

#10865 HTML: FormData serialization of <input type=file> without selection
  html/semantics/forms/form-submission-0/form-data-set-empty-file.window.js
Labels: html

#10769 Add support for JS shell tests to the manifest code.
  tools/manifest/item.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra

#10889 Remove unneeded lint.whitelist lines
  lint.whitelist
Labels: infra

#10892 add url host test: Port number is removed if new port is scheme default
  url/setters_tests.json
Labels: url

#10850 Separate out wpt-specific parts of config from wptserve
  config.default.json
  tools/ci/make_hosts_file.py
  tools/serve/serve.py
  tools/serve/test_serve.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/tests/test_products.py
  tools/wptserve/setup.py
  tools/wptserve/tests/test_config.py
  tools/wptserve/wptserve/config.py
  tools/wptserve/wptserve/sslutils/__init__.py
  tools/wptserve/wptserve/sslutils/base.py
  tools/wptserve/wptserve/sslutils/openssl.py
  tools/wptserve/wptserve/sslutils/pregenerated.py
Labels: do not merge yet, infra

#10894 HTML: <iframe>.contentDocument of a data: URL document is null
  html/browsers/origin/origin-of-data-document.html
Labels: html

#10887 Verify sync XHR does not fire progress event
  xhr/sync-no-progress.any.js
Labels: xhr

#10901 Server-Timing: test PerformanceResourceTiming.idl from Service Worker
  server-timing/service_worker_idl.html
  server-timing/sw.js
Labels: server-timing, status:needs-owners, wg-webperf

#10902 Fixup remaining uses of config.default.json
  README.md
  docs/introduction.md
  lint.whitelist
  resources/test/wptserver.py
  tools/ci/ci_resources_unittest.sh
Labels: docs, infra

#10903 XHR: reduce try/catch usage
  xhr/access-control-basic-denied.htm
  xhr/access-control-basic-get-fail-non-simple.htm
  xhr/access-control-basic-non-cors-safelisted-content-type.htm
  xhr/access-control-basic-post-with-non-cors-safelisted-content-type.htm
  xhr/access-control-preflight-sync-header-denied.htm
  xhr/access-control-preflight-sync-method-denied.htm
  xhr/access-control-preflight-sync-not-supported.htm
Labels: xhr

#10916 Editorial: correct Markdown in fetch/data-urls/README.md
  fetch/data-urls/README.md
Labels: fetch

#10925 Use https://web-platform-tests.org
  CONTRIBUTING.md
  README.md
  css/README.md
  css/css-fonts/matching/README.md
  fetch/corb/README.md
  resources/readme.md
  resources/testharness.js
  tools/lint/lint.py
  webaudio/js/helpers.js
Labels: css-fonts, fetch, infra, webaudio, wg-audio

#10891 Extract Location object tests from query-encoding/
  html/infrastructure/urls/resolving-urls/query-encoding/location.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#10930 expose content-length on a cors request by default
  fetch/api/cors/cors-filtering.js
Labels: fetch

#10932 Fetch: cleanup api/cors/cors-filtering
  fetch/api/cors/cors-filtering-worker.html
  fetch/api/cors/cors-filtering.html
  fetch/api/cors/cors-filtering.sub.any.js
Labels: fetch

#10803 [infra] Improve test scheduling in CI
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
Labels: infra

#10934 [css-contain] Used leveled shortname in references
  css/css-contain/contain-layout-001.html
  css/css-contain/contain-layout-002.html
  css/css-contain/contain-layout-003.html
  css/css-contain/contain-layout-004.html
  css/css-contain/contain-layout-005.html
  css/css-contain/contain-layout-breaks-001.html
  css/css-contain/contain-layout-breaks-002.html
  css/css-contain/contain-paint-001.html
  css/css-contain/contain-paint-002.html
  css/css-contain/contain-paint-003.html
  css/css-contain/contain-paint-004.html
  css/css-contain/contain-paint-005.html
  css/css-contain/contain-paint-006.html
  css/css-contain/contain-paint-007.html
  css/css-contain/contain-paint-008.html
  css/css-contain/contain-size-001.html
  css/css-contain/contain-size-002.html
  css/css-contain/contain-size-003.html
  css/css-contain/contain-size-004.html
  css/css-contain/contain-size-005.html
  css/css-contain/contain-size-breaks-001.html
  css/css-contain/contain-style-breaks-001.html
  css/css-contain/contain-style-breaks-002.html
  css/css-contain/contain-style-breaks-003.html
  css/css-contain/contain-style-breaks-004.html
  css/css-contain/contain-style-breaks-005.html
  css/css-contain/contain-style-counters.html
  css/css-contain/counter-scoping-001.html
  css/css-contain/counter-scoping-002.html
  css/css-contain/counter-scoping-003.html
  css/css-contain/quote-scoping-001.html
  css/css-contain/quote-scoping-002.html
  css/css-contain/quote-scoping-003.html
  css/css-contain/quote-scoping-004.html
Labels: css-contain, wg-css

#10937 [infra] Remove unnecessary configuration
  .travis.yml
Labels: infra

#10935 Add browser version into run_info (and hence wptreport)
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/reduce.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra

#10717 Test import.meta.url preserving fragments
  html/semantics/scripting-1/the-script-element/module/import-meta/import-meta-url.html
  workers/modules/dedicated-worker-import-meta.html
Labels: html, wg-webapps, workers

#10956 Accname: Remove two tests
  accname/description_from_content_of_describedby_element_which_is_hidden-manual.html
  accname/name_test_case_663-manual.html
Labels: accname

#10950 Compute files-changed better in the face of merges
  tools/wpt/testfiles.py
Labels: infra

#10593 Correct computed value of transform
  css/css-transforms/2d-rotate-js.html
Labels: css-transforms, wg-css

#10929 Fix ignoring changes under resources in the stability checking script
  check_stability.ini
Labels: infra

#10968 WebDriver: XSS Auditor errors prevent WebKit from running scripts loaded via inline.py
  webdriver/tests/support/inline.py
Labels: webdriver, wg-testing_browser

#10978 Make fetch_tests_from_worker return a promise
  docs/_writing-tests/testharness-api.md
  resources/testharness.js
Labels: docs, infra

#10779 Add {upgrade-insecure-requests,secure-contexts,trusted-types}/OWNERS
  secure-contexts/OWNERS
  trusted-types/OWNERS
  upgrade-insecure-requests/OWNERS
Labels: secure-contexts, status:needs-owners, trusted-types, upgrade-insecure-requests, wg-webappsec

#10787 Add clear-site-data/OWNERS
  clear-site-data/OWNERS
Labels: clear-site-data, status:needs-owners, wg-webappsec

#10955 Change how invalid base URLs are tested
  url/README.md
  url/failure.html
  url/urltestdata.json
Labels: url

#10991 Server-Timing: test TAO:* for cross-origin resource
  server-timing/cross_origin.html
  server-timing/resources/blue_tao.png
  server-timing/resources/blue_tao.png.sub.headers
Labels: server-timing, status:needs-owners, wg-webperf

#10973 Use getPropertyValue in parsing-testcommon.js
  css/css-backgrounds/box-shadow-syntax-001.html
  css/css-backgrounds/parsing/resources/parsing-testcommon.js
  css/css-backgrounds/resources/parsing-testcommon.js
  css/css-images/parsing/resources/parsing-testcommon.js
  css/css-masking/parsing/resources/parsing-testcommon.js
  css/css-shapes/parsing/resources/parsing-testcommon.js
  css/css-transforms/parsing/resources/parsing-testcommon.js
  css/css-ui/parsing/resources/parsing-testcommon.js
  css/filter-effects/parsing/resources/parsing-testcommon.js
  css/motion/parsing/resources/parsing-testcommon.js
Labels: css-backgrounds, css-images, css-masking, css-shapes, css-transforms, css-ui, filter-effects, motion, wg-css, wg-svg

#10964 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=185549
  fetch/api/response/response-stream-disturbed-6.html
Labels: fetch, webkit-export

#11004 Rename *-expected.html to *-ref.html
  css/css-fonts/support/fonts/font-feature-settings-rendering-2-ref.html
  fetch/corb/img-html-correctly-labeled.sub-ref.html
  fetch/corb/img-html-correctly-labeled.sub.html
  fetch/corb/img-png-mislabeled-as-html-nosniff.tentative.sub-ref.html
  fetch/corb/img-png-mislabeled-as-html-nosniff.tentative.sub.html
  fetch/corb/img-png-mislabeled-as-html.sub-ref.html
  fetch/corb/img-png-mislabeled-as-html.sub.html
  svg/extensibility/foreignObject/stacking-context-ref.html
  svg/extensibility/foreignObject/stacking-context.html
Labels: css-fonts, fetch, svg, wg-svg

#10957 Properly switching window focus after close of window
  webdriver/tests/close_window/user_prompts.py
Labels: webdriver, wg-testing_browser

#11021 Test short regionCode
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
Labels: payment-request, wg-payments

#10947 Added dictionary WebGLContextAttributes to avoid no original dictionary error
  webxr/interfaces.https.html
Labels: webxr

#11017 Updated Edge config to have a default timeout
  tools/wptrunner/wptrunner/browsers/edge.py
Labels: infra

#10998 [wptrunner] Recover from malformed test manifest
  tools/wpt/tests/test_wpt.py
  tools/wptrunner/wptrunner/testloader.py
Labels: infra

#11000 Find Chrome binary on more platforms and fail gracefully
  tools/wpt/browser.py
Labels: infra

#11028 Generalize subsetTest() in common/ and use for WebCryptoAPI tests
  WebCryptoAPI/generateKey/successes.js
  WebCryptoAPI/generateKey/successes_AES-CBC.https.any.js
  WebCryptoAPI/generateKey/successes_AES-CTR.https.any.js
  WebCryptoAPI/generateKey/successes_AES-GCM.https.any.js
  WebCryptoAPI/generateKey/successes_AES-KW.https.any.js
  WebCryptoAPI/generateKey/successes_ECDH.https.any.js
  WebCryptoAPI/generateKey/successes_ECDSA.https.any.js
  WebCryptoAPI/generateKey/successes_HMAC.https.any.js
  WebCryptoAPI/generateKey/successes_RSA-OAEP.https.any.js
  WebCryptoAPI/generateKey/successes_RSA-PSS.https.any.js
  WebCryptoAPI/generateKey/successes_RSASSA-PKCS1-v1_5.https.any.js
  common/subset-tests.js
  docs/_writing-tests/testharness.md
Labels: WebCryptoAPI, assets, docs, wg-webcrypto

#10551 [css-shadow-parts] add OWNERS
  css/css-shadow-parts/OWNERS
Labels: css-shadow-parts, status:needs-owners, wg-css

#10520 [css-font-loading] add OWNERS
  css/css-font-loading/OWNERS
Labels: css-font-loading, status:needs-owners, wg-css

#10770 Add server-timing/OWNERS
  server-timing/OWNERS
Labels: server-timing, status:needs-owners, wg-webperf

#10775 Add wasm/OWNERS
  wasm/OWNERS
Labels: status:needs-owners, wasm

#10767 Add 2dcontext/OWNERS and offscreen-canvas/OWNERS
  2dcontext/OWNERS
  imagebitmap-renderingcontext/OWNERS
  offscreen-canvas/OWNERS
Labels: 2dcontext, imagebitmap-renderingcontext, offscreen-canvas, status:needs-owners, wg-html

#10508 [css-content] add OWNERS
  css/css-content/OWNERS
Labels: css-content, status:needs-owners, wg-css

#10550 [css-scroll-snap] add OWNERS
  css/css-scroll-snap/OWNERS
Labels: css-scroll-snap, status:needs-owners, wg-css

#10519 [css-fill-stroke] add OWNERS
  css/css-fill-stroke/OWNERS
Labels: css-fill-stroke, status:needs-owners, wg-css

#10522 [css-properties-values-api] add OWNERS
  css/css-properties-values-api/OWNERS
Labels: css-properties-values-api, status:needs-owners, wg-css

#11041 Handle the case where git is missing when using vcs.GitTree.
  tools/wptrunner/wptrunner/vcs.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra

#11053 Update sendBeacon test case array to include recently added test cases
  beacon/beacon-common.sub.js
Labels: beacon, wg-webperf

#10782 Add keyboard-lock/OWNERS
  keyboard-lock/OWNERS
Labels: keyboard-lock, status:needs-owners

#7215 [intersection-observer] Test isIntersecting change events
  intersection-observer/isIntersecting-change-events.html
  intersection-observer/resources/intersection-observer-test-utils.js
Labels: intersection-observer, wg-webplatform

#10381 Support adding Idlharness dependencies
  BackgroundSync/interfaces.any.js
  resources/idlharness.js
  resources/test/tests/idlharness/IdlInterface/get_inheritance_stack.html
  web-animations/interfaces/Animation/idlharness.html
Labels: BackgroundSync, infra, web-animations, wg-css, wg-svg

#11045 Remove CSSStyleDeclaration#setPropertyPriority/setPropertyValue from CSSOM IDL
  interfaces/cssom.idl
Labels: interfaces

#11065 some foreignObject-related tests
  svg/extensibility/foreignObject/foreign-object-circular-filter-reference-crash.html
  svg/extensibility/foreignObject/foreign-object-size-ref.html
  svg/extensibility/foreignObject/foreign-object-size.html
  svg/extensibility/foreignObject/position-svg-root-in-foreign-object-ref.html
  svg/extensibility/foreignObject/position-svg-root-in-foreign-object.html
Labels: svg, wg-svg

#10882 Documentation/Tutorial for adding a command to testdriver
  docs/_writing-tests/testdriver-tutorial.md
Labels: docs

#11060 Stop posting PR results to pulls.web-platform-tests.org
  .travis.yml
  check_stability.ini
  tools/ci/check_stability.py
Labels: demo, infra

#10761 Add .well-known/idp-proxy/OWNERS
  .well-known/idp-proxy/OWNERS
Labels: infra, status:needs-owners

#10983 Try and defend against macOS font installation failing
  tools/wptrunner/wptrunner/font.py
Labels: infra

#8695 Delete css/css-color/t451-system-colors-a.xht
  css/css-color/t451-system-colors-a.xht
Labels: css-color, wg-css

#11083 [cssom] Make a test assertion not show the number of CSS properties if it fails.
  css/cssom/getComputedStyle-detached-subtree.html
Labels: cssom, wg-css

#11076 Use add_dependency_idls in gamepad idlharness test
  gamepad/idlharness.html
Labels: BackgroundSync, gamepad, infra, web-animations, wg-css, wg-svg, wg-webplatform

#11091 Wait until window load before calling window.stop() in XHR test
  xhr/abort-after-stop.htm
Labels: xhr

#11086 Delete font-feature-settings-rendering-2.html with font
  css/css-fonts/support/fonts/FontWithFeatures.otf
  css/css-fonts/support/fonts/font-feature-settings-rendering-2-ref.html
  css/css-fonts/support/fonts/font-feature-settings-rendering-2.html
Labels: css-fonts

#11089 [css-filter] add OWNERS
  css/css-filter/OWNERS
Labels: css-filter, status:needs-owners

#11098 [docs] s/preceed/precede, other typos/punctuation
  README.md
Labels: infra

#11097 [tools] Disallow unused variables
  tools/lint/lint.py
  tools/lint/tests/test_lint.py
  tools/serve/serve.py
  tools/tox.ini
  tools/webdriver/webdriver/client.py
  tools/wpt/browser.py
  tools/wpt/tox.ini
  tools/wpt/wpt.py
  tools/wptrunner/test/test.py
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
  tools/wptrunner/wptrunner/manifestexpected.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/products.py
  tools/wptrunner/wptrunner/tests/test_products.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptserve/tests/functional/test_server.py
Labels: infra

#10977 Test BigInt as keys and values in IndexedDB
  IndexedDB/bigint_value.htm
Labels: IndexedDB, wg-webapps

#11035 font-variant descriptor was moved to Fonts 4
  css/css-fonts/font-variant-05.xht
  css/css-fonts/font-variant-descriptor-01.html
Labels: css-fonts

#6499 Initial Merge of WritableStreams Tests w/Upstream W3C
  streams/writable-streams/general.js
  streams/writable-streams/start.js
Labels: streams

#10915 URL/Encoding: change query state parsing
  encoding/big5-encoder.html
  encoding/gbk-encoder.html
  encoding/iso-2022-jp-encoder.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-form-errors-han.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-form-errors-hangul.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-form-errors-misc.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-href-errors-han.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-href-errors-hangul.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-href-errors-misc.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-form-errors-han.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-form-errors-hangul.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-form-errors-misc.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-href-errors-han.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-href-errors-hangul.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-href-errors-misc.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-form-errors-han.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-form-errors-hangul.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-form-errors-misc.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-href-errors-han.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-href-errors-hangul.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-href-errors-misc.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-errors-han.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-errors-misc.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-href-errors-han.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-href-errors-misc.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-extBa.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-extBb.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-han.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-hangul.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-misc.html
  encoding/legacy-mb-tchinese/big5/big5-encode-form-errors-pua.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-han.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-hangul.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-misc.html
  html/infrastructure/urls/resolving-urls/query-encoding/location.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
  url/README.md
  xhr/open-url-encoding.htm
Labels: do not merge yet, encoding, html, status:needs-spec-decision, url, xhr

#8723 Navigation fragment decode and encodings
  html/browsers/browsing-the-web/scroll-to-fragid/fragment-and-encoding-2.html
  html/browsers/browsing-the-web/scroll-to-fragid/fragment-and-encoding.html
Labels: html

#11099 Remove PaymentCurrencyAmount's currencySystem member
  interfaces/payment-request.idl
Labels: interfaces

#11124 update "navigation within beforeunload" test to match the spec
  html/browsers/browsing-the-web/unloading-documents/navigation-within-beforeunload.html
Labels: servo-export

#9761 Update the battery IDL file
  battery-status/battery-interface-idlharness.https.html
  interfaces/battery.idl
Labels: battery-status, interfaces, wg-dap, wg-das

#9829 Update the selection-api IDL file
  interfaces/selection-api.idl
Labels: interfaces

#9838 Update the vibration IDL file
  interfaces/vibration.idl
Labels: interfaces

#9785 Update the gamepad IDL file
  interfaces/gamepad.idl
Labels: interfaces

#11134 Sync Mozilla tests as of 2018-05-23
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-anonymous-items-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/transforms/perspective-untransformable-no-stacking-context-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/transforms/perspective-untransformable-no-stacking-context.html
  css/vendor-imports/mozilla/mozilla-central-reftests/transforms/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/writing-modes-3/reftest.list
Labels: vendor-imports

#11070 Add CODEOWNERS to prevent submodule issues
  CODEOWNERS
Labels: CODEOWNERS

#11129 Test query encoding of attributes separately
  html/infrastructure/urls/resolving-urls/query-encoding/attributes.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#11139 Stop using wpt test-jobs --include.
  tools/ci/before_install.sh
  tools/ci/ci_tools_unittest.sh
Labels: infra

#11110 [tools] Enable additional linting rules
  tools/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/browsers/chrome_android.py
  tools/wptrunner/wptrunner/wptmanifest/parser.py
Labels: infra

#11087 Add keyboard-map/OWNERS
  keyboard-map/OWNERS
Labels: keyboard-map, status:needs-owners

#11071 Move taskcluster to dedicated wpt worker type
  tools/ci/taskgraph.py
Labels: infra

#11111 Remove desiredCapabilities
  tools/wptrunner/wptrunner/browsers/edge.py
Labels: infra

#11088 Add async-local-storage/OWNERS
  async-local-storage/OWNERS
Labels: async-local-storage, status:needs-owners

#11148 Run apt-get update before installing Chrome
  tools/docker/start.sh
Labels: infra

#11159 Avoid using template string in testharness.js
  resources/testharness.js
Labels: infra

#11126 html/rendering: Test details' pseudo-elements.
  html/rendering/the-details-element/details-after.html
  html/rendering/the-details-element/details-before.html
  html/rendering/the-details-element/single-summary.html
Labels: html

#11163 [cssom] Add a few more historical tests.
  css/cssom/historical.html
Labels: cssom, wg-css

#11168 Sync Mozilla tests as of 2018-05-25
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-056-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-056.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-ellipse-052-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-ellipse-052.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-032-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-032.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/support/Ahem.ttf
Labels: vendor-imports

#11170 Make sizes-dynamic-001.html not racy.
  html/semantics/embedded-content/the-img-element/sizes/sizes-dynamic-001.html
Labels: html

#10274 Add a gradient color-stops parsing test
  css/css-images/gradient/color-stops-parsing.html
Labels: css-images, wg-css

#11164 Origin header and 308 redirect
  fetch/origin/no-cors.any.js
  fetch/origin/resources/redirect-and-stash.py
Labels: fetch

#7971 Add some basic tests for the 'transform-box' property
  css/css-transforms/transform-box/view-box-mutation.html
Labels: css-transforms, wg-css, wg-svg

#11176 [Fetch] Mutation on navigation request
  fetch/api/request/request-reset-attributes.https.html
Labels: fetch

#9752 Update the DOM-Parsing IDL file
  domparsing/interfaces.any.js
  interfaces/DOM-Parsing.idl
Labels: domparsing, interfaces

#9824 Update the remote-playback IDL file
  interfaces/remote-playback.idl
  interfaces/remoteplayback.idl
  remote-playback/idlharness.html
Labels: interfaces, remote-playback, wg-secondscreen

#9754 Update the IndexedDB IDL file
  interfaces/IndexedDB.idl
Labels: interfaces

#9812 Update the pointerevents IDL file
  interfaces/pointerevents.idl
  pointerevents/idlharness.html
Labels: interfaces, pointerevents, wg-pointerevents

#9887 Updated staticrange IDL file
  interfaces/staticrange.idl
  staticrange/idlharness.html
Labels: interfaces, staticrange

#9813 Update the pointerlock IDL file
  interfaces/pointerlock.idl
  pointerlock/idlharness.html
  pointerlock/interfaces.window.js
Labels: interfaces, pointerlock, wg-webplatform

#11186 Make order of subtests stable in /workers/name-property.html
  workers/name-property.html
Labels: flaky, wg-webapps, workers

#11197 Call done() correctly in /workers/nested_worker.worker.js
  workers/nested_worker.worker.js
Labels: flaky, wg-webapps, workers
