Repository web-platform-tests/wpt, pull requests merged in 2018-06, with the labels that each got.

#10478 Correct serialization of URL in background-332.html
  css/css-backgrounds/background-332.html
Labels: css-backgrounds, wg-css

#11271 Avoid uncaught exception in iframe if WebNFC is not supported
  web-nfc/nfc_push.https.html
Labels: web-nfc

#11276 [web-animations] Fix timeout/0 tests in unsupporting browsers
  web-animations/animation-model/animation-types/accumulation-per-property.html
  web-animations/animation-model/animation-types/addition-per-property.html
  web-animations/animation-model/animation-types/interpolation-per-property.html
  web-animations/animation-model/animation-types/property-list.js
Labels: web-animations, wg-css, wg-svg

#11288 URL: correct instructions for testing URL's base argument
  url/README.md
Labels: url

#11289 Add Priority Hints OWNERS
  priority-hints/OWNERS
Labels: priority-hints, status:needs-owners

#11286 Check if a type is a sequence through idlType.generic
  resources/idlharness.js
Labels: idlharness.js, infra

#11300 HTML: split out navigation tests for URL query-encoding tests
  html/infrastructure/urls/resolving-urls/query-encoding/navigation.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#11305 Move add_dependency_idls after add_idls
  dom/interfaces.html
Labels: dom

#11283 Sync Mozilla tests as of 2018-05-31
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-stacking-context-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-stacking-context-001a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-stacking-context-001b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-039-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-039.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-040.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-045-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-045.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-046.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-inset-018-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-inset-018.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-inset-019-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-inset-019.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-026-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-026.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-027-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-027.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-028.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-029.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-030-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-030.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-031-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-031.html
Labels: vendor-imports

#8400 Update outline-017.html to reduce flakiness in Edge
  css/css-ui/outline-017.html
  css/css-ui/outline-018.html
Labels: css-ui, flaky, wg-css

#11302 Make dynamic-import tests fail early instead of time out
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html
Labels: html

#11303 HTML: Don't confuse test runner by including testharness.js in a popup
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_allow_top_navigation-1.html
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_allow_top_navigation-2.html
  html/semantics/embedded-content/the-iframe-element/iframe_sandbox_allow_top_navigation-3.html
  html/semantics/embedded-content/the-iframe-element/support/load-into-the-iframe.html
Labels: html

#11315 Correct importScripts() behavior test
  service-workers/service-worker/import-scripts-updated-flag.https.html
  service-workers/service-worker/resources/import-scripts-updated-flag-worker.js
Labels: service-workers, wg-sw

#11306 Add filtering support to ManifestLoader.
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
  tools/wptrunner/wptrunner/testloader.py
Labels: infra

#11321 cc Update messages.json
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-owners

#11273 [css-paint-api] Fail a reftest early if CSS.registerProperty is not s…
  css/css-paint-api/registered-properties-in-custom-paint.https.html
  css/css-properties-values-api/registered-properties-inheritance.html
  css/css-properties-values-api/registered-property-computation.html
  css/css-properties-values-api/registered-property-initial.html
  css/css-properties-values-api/var-reference-registered-properties.html
Labels: css-paint-api, css-properties-values-api

#11297 Remove unused environment import.
  tools/wptrunner/wptrunner/update/update.py
Labels: infra

#11322 Update git documentation
  docs/_appendix/github-intro.md
  docs/assets/createpr.png
  docs/assets/createprlink.png
  docs/assets/editbtn.png
  docs/assets/pullrequestbtn.png
  docs/assets/pullrequestlink.png
  docs/assets/sendpullrequest.png
Labels: docs

#11327 Core-AAM: Add tests for blockquote, caption, and paragraph roles
  core-aam/blockquote-manual.html
  core-aam/caption-manual.html
  core-aam/paragraph-manual.html
Labels: core-aam

#11319 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=186254
  fetch/api/cors/cors-preflight.any.js
  fetch/api/resources/preflight.py
Labels: fetch, webkit-export

#11223 Make multiple-workers tests fail if (Shared)Worker is not defined
  workers/semantics/multiple-workers/003.html
  workers/semantics/multiple-workers/005.html
  workers/semantics/multiple-workers/006.html
  workers/semantics/multiple-workers/007.html
  workers/semantics/multiple-workers/008.html
Labels: flaky, wg-webapps, workers

#11339 HTML: Change <td hidden> and <th hidden> to expect display: none
  html/rendering/non-replaced-elements/tables/hidden-attr.html
Labels: html

#11249 Fetch: port blocking change (427, 548)
  fetch/api/request/request-bad-port.html
  tools/wptserve/wptserve/utils.py
  websockets/Create-blocked-port.any.js
Labels: fetch, infra, websockets, wg-webapps

#11341 HTML: Fix sandbox-disallow-same-origin.html to expect SecurityError
  html/browsers/sandboxing/sandbox-disallow-same-origin.html
Labels: html

#5122 XMLHttpRequest: upload listener flag
  xhr/event-upload-progress.htm
Labels: xhr

#11352 [css-contain] Fix references to paint instead of layout containment
  css/css-contain/contain-layout-001.html
  css/css-contain/contain-layout-002.html
  css/css-contain/contain-layout-003.html
  css/css-contain/contain-layout-004.html
  css/css-contain/contain-layout-005.html
Labels: css-contain

#10250 Test for used column-count when column-count/width are not auto
  css/css-multicol/column-count-used-001.html
Labels: css-multicol, wg-css

#11354 #11343 - Redirect POST requests using .py resource
  html/browsers/history/the-location-interface/reload_post_1-1.html
  html/browsers/history/the-location-interface/reload_post_1-manual.html
  html/browsers/history/the-location-interface/resources/reload_post_1-1.py
Labels: html, infra

#11348 Make IndexedDB/support.js work in workers
  IndexedDB/support.js
Labels: IndexedDB, wg-webapps

#11192 Auto-update the payment-request IDL
  interfaces/payment-request.idl
Labels: interfaces

#11324 Add test for logical box model longhand properties
  css/css-logical/logical-box-border-color.html
  css/css-logical/logical-box-border-style.html
  css/css-logical/logical-box-border-width.html
  css/css-logical/logical-box-inset.html
  css/css-logical/logical-box-margin.html
  css/css-logical/logical-box-padding.html
  css/css-logical/logical-box-size.html
  css/css-logical/resources/test-box-properties.js
Labels: css-logical

#11292 Split up encoding tests into buckets of 100 and fix bugs
  common/subset-tests.js
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-href-errors-han.html
  encoding/legacy-mb-japanese/euc-jp/eucjp-encode-href-errors-hangul.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-form-errors-han.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-href-errors-han.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-form-errors-han.html
  encoding/legacy-mb-japanese/shift_jis/sjis-encode-href-errors-han.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-csksc56011987.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-errors-han.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-iso-ir-149.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-korean.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-ks_c_5601-1987.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-ks_c_5601-1989.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-ksc_5601.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-href-errors-han.html
  encoding/legacy-mb-korean/euc-kr/euckr-encode-href.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-han.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-hangul.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href-errors-misc.html
  encoding/legacy-mb-tchinese/big5/big5-encode-href.html
Labels: assets, encoding

#11299 Ensure that Config's set of ports is generated atomically.
  tools/wptserve/wptserve/config.py
Labels: infra

#9854 Update the webusb IDL file
  interfaces/webusb.idl
Labels: interfaces, webusb

#11366 [css-text-3] Add test for intrinsic sizing and overflow-wrap
  css/css-text/overflow-wrap/overflow-wrap-min-content-size-001.html
  css/css-text/overflow-wrap/reference/overflow-wrap-min-content-size-001-ref.html
Labels: css-text, wg-css

#11365 Mention the need to setup the web server in the github tutorial
  docs/_appendix/github-intro.md
Labels: docs, wptserve

#11385 Make manifest's parsers quicker
  tools/manifest/sourcefile.py
Labels: infra

#11393 Revert #9854
  interfaces/webusb.idl
Labels: interfaces

#9301 Create permissions test suite with IDL tests
  interfaces/permissions.idl
  permissions/OWNERS
  permissions/interfaces.any.js
Labels: interfaces, permissions, wg-webappsec

#4790 Add tests for window.event
  dom/events/event-global.html
  interfaces/dom.idl
Labels: dom, interfaces, status:needs-spec-decision, wg-html

#10329 Extra window.event tests
  dom/events/event-global-extra.window.js
  dom/events/resources/event-global-extra-frame.html
Labels: dom

#11382 Fix the TemporaryFile mode to prevent crashing.
  tools/wptserve/tests/functional/test_request.py
  tools/wptserve/wptserve/request.py
Labels: infra

#11355 Update hashchange/popstate event tests
  html/browsers/browsing-the-web/history-traversal/hashchange_event.html
  html/browsers/browsing-the-web/history-traversal/popstate_event.html
Labels: html

#11409 prevent overwriting of salvageable state in later prompt/unload steps
  html/browsers/browsing-the-web/unloading-documents/prompt/004-1.html
  html/browsers/browsing-the-web/unloading-documents/prompt/004-2.html
  html/browsers/browsing-the-web/unloading-documents/prompt/004.html
Labels: servo-export

#11410 move to wpt
  css/cssom-view/dom-element-scroll.html
Labels: servo-export

#11411 improve spec compliance of window.close
  html/browsers/browsing-the-web/unloading-documents/prompt-and-unload-script-closeable.html
  html/browsers/browsing-the-web/unloading-documents/prompt-and-unload-script-uncloseable-1.html
  html/browsers/browsing-the-web/unloading-documents/prompt-and-unload-script-uncloseable.html
Labels: servo-export

#11412 Implement read methods on FileReaderSync
  FileAPI/FileReaderSync.worker.js
Labels: servo-export

#9904 Update css-fonts IDL file
  css/css-fonts/idlharness.html
  interfaces/css-fonts.idl
Labels: css-fonts, interfaces

#11396 [css-ui-4] link cursor over SVG links
  css/css-ui/cursor-pointer-links-001-manual.html
  css/css-ui/cursor-pointer-links-002-manual.html
  css/css-ui/cursor-pointer-links-003-manual.html
Labels: css-ui, wg-css

#11418 Revert "Ensure that Config's set of ports is generated atomically. (#11299)"
  tools/wptserve/wptserve/config.py
Labels: infra

#11424 Revert "WebKit export of https://bugs.webkit.org/show_bug.cgi?id=1861…
  css/css-animations/set-animation-play-state-to-paused-002-ref.html
  css/css-animations/set-animation-play-state-to-paused-002.html
Labels: css-animations

#11389 Add test for URL issue 348
  url/resources/urltestdata.json
Labels: url

#11408 Use `variant` for window-open-noopener
  html/browsers/the-window-object/window-open-noopener.html
Labels: flaky, html

#11378 Exclude more labels in "Reviewed but still open PRs"
  README.md
Labels: infra

#9837 Update the user-timing IDL file
  interfaces/performance-timeline.idl
  interfaces/user-timing.idl
  performance-timeline/idlharness.any.js
  performance-timeline/idlharness.html
  user-timing/idlharness.any.js
  user-timing/idlharness.html
Labels: interfaces, performance-timeline, user-timing, wg-webperf

#9905 Update css-masking IDL file
  css/css-masking/idlharness.html
  interfaces/css-masking.idl
Labels: css-masking, interfaces, wg-css, wg-svg

#9756 Update the ResizeObserver IDL file
  interfaces/ResizeObserver.idl
  resize-observer/idlharness.html
Labels: interfaces, resize-observer

#11419 [idlharness.js] Test exposure set of partial interfaces
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlDictionary/test_partial_interface_of.html
  resources/test/tests/functional/idlharness/IdlInterface/test_partial_interface_of.html
  resources/test/tests/unit/IdlDictionary/test_partial_dictionary.html
  resources/test/tests/unit/basic.html
Labels: infra

#9755 Add the InputDeviceCapabilities IDL file with test
  input-device-capabilities/OWNERS
  input-device-capabilities/interfaces.html
  interfaces/InputDeviceCapabilities.idl
Labels: input-device-capabilities, interfaces

#11431 [css-logical-properties-1] Add test case margin{-block,-inline}{-start,-end}
  css/css-logical/logicalprops-quirklength.html
Labels: css-logical

#11415 Added tests for InputFile directly
  tools/wptserve/tests/functional/test_input_file.py
  tools/wptserve/tests/functional/test_request.py
  tools/wptserve/wptserve/request.py
Labels: infra

#11438 URL: correct non-special URL's origin
  url/resources/urltestdata.json
Labels: url

#11444 Clean up mediasession idl test
  mediasession/idlharness.html
Labels: mediasession

#11442 [idlharness.js] Clean up media-capabilities idl test
  media-capabilities/idlharness.any.js
  media-capabilities/idlharness.html
Labels: media-capabilities

#9851 Update the webdriver IDL file
  interfaces/webdriver.idl
  webdriver/tests/interface.html
Labels: interfaces, webdriver, wg-testing_browser

#11451 Sync Mozilla tests as of 2018-06-09, #2
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-circle.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-image.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-inset.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-polygon.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/reftest.list
Labels: vendor-imports

#11333 Update the IDL generated content headers to the content from reffy-reports
  interfaces/BackgroundSync.idl
  interfaces/accelerometer.idl
  interfaces/ambient-light.idl
  interfaces/budget-api.idl
  interfaces/clipboard-apis.idl
  interfaces/compat.idl
  interfaces/css-font-loading.idl
  interfaces/entries-api.idl
  interfaces/feature-policy.idl
  interfaces/fetch.idl
  interfaces/fullscreen.idl
  interfaces/geolocation-sensor.idl
  interfaces/geometry.idl
  interfaces/gyroscope.idl
  interfaces/keyboard-lock.idl
  interfaces/magnetometer.idl
  interfaces/payment-request.idl
  interfaces/proximity.idl
  interfaces/storage.idl
  interfaces/uievents.idl
  interfaces/url.idl
  interfaces/web-animations.idl
  interfaces/webvtt.idl
Labels: interfaces

#11402 HTML: add more document.domain tests
  html/browsers/origin/relaxing-the-same-origin-restriction/document_domain.html
  html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_setter.html
  html/browsers/origin/relaxing-the-same-origin-restriction/sandboxed-document_domain.html
  html/browsers/origin/relaxing-the-same-origin-restriction/sandboxed-document_domain.html.headers
Labels: html

#11445 Clean up budget-api idl test
  budget-api/interfaces.any.js
Labels: budget-api

#11304 HTML: Use a URL that is more likely to fail to parse in img test
  html/semantics/embedded-content/the-img-element/invalid-src.html
Labels: html

#11461 Sync Mozilla tests as of 2018-06-11
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-abspos-child-002.html
Labels: vendor-imports

#10701 Add two screen-orientation tests and replace async by promise_test
  screen-orientation/lock-bad-argument.html
  screen-orientation/lock-basic.html
  screen-orientation/lock-sandboxed-iframe.html
  screen-orientation/onchange-event-subframe.html
  screen-orientation/onchange-event.html
  screen-orientation/orientation-reading.html
  screen-orientation/resources/iframe-listen-orientation-change.html
  screen-orientation/resources/sandboxed-iframe-locking.html
Labels: flaky, screen-orientation, wg-webplatform

#11456 Update one final occurence of "w3c/web-platform-tests"
  css/tools/w3ctestlib/templates/index.content.tmpl
Labels: infra

#11296 HTML: Run a history navigation test in a popup to report a result
  html/browsers/browsing-the-web/history-traversal/support/window-name-after-cross-origin-main-frame-navigation-popup.sub.html
  html/browsers/browsing-the-web/history-traversal/support/window-name-test.sub.html
  html/browsers/browsing-the-web/history-traversal/window-name-after-cross-origin-main-frame-navigation.sub.html
  html/browsers/history/the-history-interface/traverse_the_history_1.html
Labels: html

#10828 "Scroll an element into view" in HTML spec
  2dcontext/scroll/2d.scrollPathIntoView.basic.html
  2dcontext/scroll/2d.scrollPathIntoView.path.html
  2dcontext/scroll/2d.scrollPathIntoView.verticalLR.html
  2dcontext/scroll/2d.scrollPathIntoView.verticalRL.html
  2dcontext/tools/name2dir.yaml
  2dcontext/tools/spec.yaml
  2dcontext/tools/tests2d.yaml
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-position-vertical-lr.html
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-position-vertical-rl.html
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-position.html
Labels: 2dcontext, html, wg-html

#11340 Offscreen canvas: make worker tests catch errors
  offscreen-canvas/convert-to-blob/offscreencanvas.convert.to.blob.w.html
  offscreen-canvas/the-offscreen-canvas/offscreencanvas.commit.w.html
  offscreen-canvas/the-offscreen-canvas/offscreencanvas.transfer.to.imagebitmap.w.html
  offscreen-canvas/the-offscreen-canvas/offscreencanvas.transferrable.w.html
Labels: offscreen-canvas

#11150 [testharness.js] Extend test suite with "variants"
  resources/test/README.md
  resources/test/conftest.py
  resources/test/tests/functional/add_cleanup.html
  resources/test/tests/functional/add_cleanup_count.html
  resources/test/tests/functional/add_cleanup_err.html
  resources/test/tests/functional/add_cleanup_err_multi.html
  resources/test/tests/functional/api-tests-1.html
  resources/test/tests/functional/api-tests-2.html
  resources/test/tests/functional/api-tests-3.html
  resources/test/tests/functional/force_timeout.html
  resources/test/tests/functional/generate-callback.html
  resources/test/tests/functional/idlharness/IdlDictionary/test_partial_interface_of.html
  resources/test/tests/functional/idlharness/IdlInterface/test_immutable_prototype.html
  resources/test/tests/functional/idlharness/IdlInterface/test_partial_interface_of.html
  resources/test/tests/functional/idlharness/IdlInterface/test_primary_interface_of.html
  resources/test/tests/functional/idlharness/IdlInterface/test_to_json_operation.html
  resources/test/tests/functional/iframe-callback.html
  resources/test/tests/functional/iframe-consolidate-errors.html
  resources/test/tests/functional/iframe-consolidate-tests.html
  resources/test/tests/functional/iframe-msg.html
  resources/test/tests/functional/order.html
  resources/test/tests/functional/promise-async.html
  resources/test/tests/functional/promise.html
  resources/test/tests/functional/single-page-test-fail.html
  resources/test/tests/functional/single-page-test-no-assertions.html
  resources/test/tests/functional/single-page-test-no-body.html
  resources/test/tests/functional/single-page-test-pass.html
  resources/test/tests/functional/uncaught-exception-handle.html
  resources/test/tests/functional/uncaught-exception-ignore.html
  resources/test/tests/functional/worker-dedicated.html
  resources/test/tests/functional/worker-service.html
  resources/test/tests/functional/worker-shared.html
  resources/test/variants.js
Labels: infra

#11335 Mention the lint tool in the github tutorial
  docs/_appendix/github-intro.md
Labels: docs, lint

#11441 Clean up FileAPI idlharness tests
  FileAPI/idlharness-manual.html
  FileAPI/idlharness.html
  FileAPI/idlharness.worker.js
Labels: FileAPI, wg-webplatform

#11475 Remove array destructuring for WebDriver execute async script tests
  webdriver/tests/execute_async_script/collections.py
Labels: webdriver, wg-testing_browser

#11464 Fix #11454: Set --verify-log-full to False for ci/check_stability.py
  tools/ci/check_stability.py
Labels: infra

#11480 Fix c563-list-type-000-ref to match the test
  css/CSS2/css1/c563-list-type-000-ref.xht
Labels: CSS2, wg-css

#9773 Update the css-paint-api IDL file
  css/css-paint-api/idlharness.html
  interfaces/css-paint-api.idl
Labels: css-paint-api, interfaces

#11465 Auto-update the xhr IDL source
  interfaces/xhr.idl
Labels: interfaces

#11425 Order both actual and expected in selftests
  resources/test/conftest.py
Labels: infra

#11414 [idlharness.js] Support subsetTestByName in idlharness
  common/subset-tests-by-key.js
  dom/interfaces.html
  html/dom/interfaces.https.html
  resources/idlharness.js
Labels: assets, dom, html, infra, status:needs-owners

#11486 Fix linter to not complain about META.yml
  tools/ci/jobs.py
  tools/manifest/sourcefile.py
Labels: infra

#11367 fix `python wpt make-hosts-file` command in README for PowerShell on Windows 10
  README.md
Labels: infra

#11478 Add test run time to wptreport.json format
  tools/wptrunner/wptrunner/formatters.py
  tools/wptrunner/wptrunner/tests/test_formatters.py
Labels: infra

#11453 add webdriver element_click tests
  webdriver/tests/element_click/file_upload.py
  webdriver/tests/element_click/interactability.py
  webdriver/tests/element_click/navigate.py
  webdriver/tests/element_click/scroll_into_view.py
  webdriver/tests/element_click/support/close_window.html
  webdriver/tests/element_click/support/input.html
Labels: webdriver, wg-testing_browser

#11494 [docs] Add instruction for specifying test title
  docs/_writing-tests/testharness.md
Labels: docs

#10912 PaymentRequest "paymentmethodchanged" event
  payment-request/PaymentMethodChangeEvent/methodDetails-attribute.https.html
  payment-request/PaymentMethodChangeEvent/methodName-attribute.https.html
  payment-request/onpaymentmenthodchange-attribute.https.html
Labels: do not merge yet, infra, payment-request, wg-payments

#11503 docs: Add missing "be" to testharness' documentation
  docs/_writing-tests/testharness-api.md
Labels: docs

#11505 Sync Mozilla tests as of 2018-06-14
  css/vendor-imports/mozilla/mozilla-central-reftests/images3/color-stop-currentcolor-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/images3/color-stop-currentcolor.html
  css/vendor-imports/mozilla/mozilla-central-reftests/images3/reftest.list
Labels: vendor-imports

#9831 Update the server-timing IDL file
  interfaces/resource-timing.idl
  interfaces/server-timing.idl
  resource-timing/idlharness.any.js
  resource-timing/idlharness.html
  server-timing/idlharness.any.js
Labels: interfaces, resource-timing, server-timing, wg-webperf

#10962 Fix partial issues from #10198
  ambient-light/AmbientLightSensor-disabled-by-feature-policy.https.html
  ambient-light/AmbientLightSensor-enabled-by-feature-policy-attribute-redirect-on-load.https.html
  ambient-light/AmbientLightSensor-enabled-by-feature-policy-attribute.https.html
  ambient-light/AmbientLightSensor-enabled-by-feature-policy.https.html
  ambient-light/AmbientLightSensor-enabled-on-self-origin-by-feature-policy.https.html
  ambient-light/AmbientLightSensor.https.html
  ambient-light/AmbientLightSensor_onerror-manual.https.html
  geolocation-sensor/GeolocationSensor-disabled-by-feature-policy.https.html
  geolocation-sensor/GeolocationSensor-enabled-by-feature-policy-attribute-redirect-on-load.https.html
  geolocation-sensor/GeolocationSensor-enabled-by-feature-policy-attribute.https.html
  geolocation-sensor/GeolocationSensor-enabled-by-feature-policy.https.html
  geolocation-sensor/GeolocationSensor-enabled-on-self-origin-by-feature-policy.https.html
  geolocation-sensor/GeolocationSensor.https.html
  geolocation-sensor/GeolocationSensor_onerror-manual.https.html
  proximity/ProximitySensor.https.html
  proximity/ProximitySensor_onerror-manual.https.html
  resources/chromium/generic_sensor_mocks.js
Labels: ambient-light, geolocation-sensor, infra, proximity, wg-dap, wg-das

#9847 Update the webappsec-referrer-policy IDL file
  interfaces/webappsec-referrer-policy.idl
Labels: interfaces

#11513 Update references to OWNERS
  README.md
  docs/_config.yml
  docs/introduction.md
  payment-method-basic-card/empty-data-manual.https.html
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-call-immediate-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-duplicate-shipping-options-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-incremental-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-method-abort-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-state-checks-manual.https.html
  payment-request/algorithms-manual.https.html
  payment-request/change-shipping-option-manual.https.html
  payment-request/change-shipping-option-select-last-manual.https.html
  payment-request/payment-request-canmakepayment-method-manual.https.html
  payment-request/payment-request-show-method-manual.https.html
  payment-request/payment-response/complete-method-manual.https.html
  payment-request/payment-response/methodName-attribute-manual.https.html
  payment-request/payment-response/payerEmail-attribute-manual.https.html
  payment-request/payment-response/payerName-attribute-manual.https.html
  payment-request/payment-response/payerPhone-attribute-manual.https.html
  payment-request/payment-response/requestId-attribute-manual.https.html
  payment-request/payment-response/shippingAddress-attribute-manual.https.html
  payment-request/payment-response/shippingOption-attribute-manual.https.html
  payment-request/shipping-address-changed-manual.https.html
  payment-request/show-method-optional-promise-rejects-manual.https.html
  payment-request/show-method-optional-promise-resolves-manual.https.html
  payment-request/show-method-postmessage-manual.https.html
  payment-request/updateWith-method-pmi-handling-manual.https.html
  payment-request/user-abort-algorithm-manual.https.html
  payment-request/user-accepts-payment-request-algo-manual.https.html
Labels: docs, infra, payment-method-basic-card, payment-request, wg-payments

#11515 Use Referrer Policy IDL as dependency for fetch
  fetch/api/idl.any.js
Labels: fetch

#11512 [testdriver.js] Correct typos
  resources/testdriver.js
Labels: infra

#11401 Consolidate label conversion tests + add timeLog
  console/console-counting-label-conversion.any.js
  console/console-label-conversion.any.js
  console/console-time-label-conversion.any.js
Labels: console

#11171 Cross-Origin-Resource-Policy tests
  common/get-host-info.sub.js
  fetch/cross-origin-resource-policy/fetch-in-iframe.html
  fetch/cross-origin-resource-policy/fetch.html
  fetch/cross-origin-resource-policy/iframe-loads.html
  fetch/cross-origin-resource-policy/image-loads.html
  fetch/cross-origin-resource-policy/resources/green.png
  fetch/cross-origin-resource-policy/resources/hello.py
  fetch/cross-origin-resource-policy/resources/iframe.py
  fetch/cross-origin-resource-policy/resources/iframeFetch.html
  fetch/cross-origin-resource-policy/resources/image.py
  fetch/cross-origin-resource-policy/resources/redirect.py
  fetch/cross-origin-resource-policy/resources/script.py
  fetch/cross-origin-resource-policy/script-loads.html
Labels: assets, fetch

#11229 Move and simplify element.matches("*") test so that it works
  dom/nodes/selectors.js
Labels: dom

#11428 Fetch: test Cross-Origin-Resource-Policy: same-site's scheme restriction
  fetch/cross-origin-resource-policy/resources/image.py
  fetch/cross-origin-resource-policy/scheme-restriction.any.js
  fetch/cross-origin-resource-policy/scheme-restriction.https.window.js
Labels: fetch

#11537 Updating browser version retrieval for Chrome to return None on Windows
  tools/wpt/browser.py
Labels: infra

#11527 Call done() in websockets/opening-handshake/003-sets-origin.worker.js
  websockets/opening-handshake/003-sets-origin.worker.js
Labels: flaky, websockets, wg-webapps

#11549 Add input-device-capabilities/META.yml
  input-device-capabilities/META.yml
  input-device-capabilities/OWNERS
Labels: input-device-capabilities, status:needs-reviewers

#11552 [cssom-view] Remove redundant IDL tests
  css/cssom-view/cssom-view-window-screen-interface.html
  css/cssom-view/media-query-list-interface.xht
  css/cssom-view/window-interface.xht
Labels: cssom-view, wg-css

#11558 Change permissions/OWNERS to permissions/META.yml
  permissions/META.yml
  permissions/OWNERS
Labels: permissions, status:needs-reviewers, wg-webappsec

#11561 Ignore some new PNG files in ci_built_diff.sh
  tools/ci/ci_built_diff.sh
Labels: infra

#9768 Update the css-animations IDL file
  css/css-animations/idlharness.html
  interfaces/css-animations.idl
Labels: css-animations, interfaces

#9794 Update mediacapture-main IDL file
  interfaces/mediacapture-main.idl
  mediacapture-fromelement/idlharness.html
  mediacapture-image/idlharness.html
  mediacapture-record/idlharness.html
  mediacapture-streams/MediaDevices-IDL-all.html
Labels: interfaces, mediacapture-fromelement, mediacapture-image, mediacapture-record, mediacapture-streams, wg-das, wg-webrtc

#9767 Update the cors-rfc1918 IDL file
  fetch/cors-rfc1918/idlharness.tentative.any.js
  interfaces/cors-rfc1918.idl
Labels: fetch, interfaces

#9769 Update the css-conditional IDL file
  css/css-conditional/idlharness.html
  interfaces/css-conditional.idl
Labels: css-conditional, interfaces

#10577 Seed directory for WebRTC Statistic spec
  webrtc-stats/README.md
Labels: status:needs-reviewers, webrtc-stats, wg-webrtc

#10610 [webrtc-stats] add META.yml
  webrtc-stats/META.yml
Labels: status:needs-reviewers, webrtc-stats, wg-webrtc

#9907 Update the mediacapture-record IDL file
  interfaces/mediacapture-record.idl
  mediacapture-record/idlharness.html
Labels: interfaces, mediacapture-record

#11576 Auto-update the mediacapture-image IDL file
  interfaces/mediacapture-image.idl
  mediacapture-image/idlharness.html
Labels: interfaces, mediacapture-image

#11575 Auto-update the mediacapture-fromelement IDL file
  interfaces/mediacapture-fromelement.idl
  mediacapture-fromelement/idlharness.html
Labels: interfaces, mediacapture-fromelement, wg-das, wg-webrtc

#11344 [wptserve] Put `// META:` scripts after testharness.js
  infrastructure/server/order-of-metas.any.js
  infrastructure/server/order-of-metas.window.js
  infrastructure/server/resources/expect-global.js
  infrastructure/server/resources/expect-seen-testharness.js
  infrastructure/server/resources/expect-title-meta.js
  tools/serve/serve.py
Labels: infra

#11577 Clean up mediacapture-streams enumerateDevices IDL test
  mediacapture-streams/MediaDevices-IDL-enumerateDevices.html
Labels: mediacapture-streams, wg-webrtc

#11563 feature moved to Fonts 4
  css/css-fonts/test_font_feature_values_parsing.html
Labels: css-fonts

#11495 [performance-timeline] Reformat tests
  performance-timeline/performanceentry-tojson.any.js
  performance-timeline/po-takeRecords.any.js
  performance-timeline/webtiming-resolution.any.js
Labels: performance-timeline, wg-webperf

#11399 Console manual tests should mention entries not lines. Closes #11363
  console/console-count-logging-manual.html
  console/console-countReset-logging-manual.html
  console/console-number-format-specifiers-symbol-manual.html
  console/console-string-format-specifier-symbol-manual.html
Labels: console

#11581 SVG: Check that required properties are supported
  svg/styling/required-properties.svg
Labels: svg, wg-svg

#10927 Add basic test for radial gradient 'fr' attribute.
  svg/pservers/reftests/radialgradient-basic-002-ref.svg
  svg/pservers/reftests/radialgradient-basic-002.svg
Labels: svg, wg-svg

#11586 [sensors] Change reviewer
  accelerometer/META.yml
  ambient-light/META.yml
  generic-sensor/META.yml
  geolocation-sensor/META.yml
  gyroscope/META.yml
  magnetometer/META.yml
  orientation-sensor/META.yml
  proximity/META.yml
Labels: accelerometer, ambient-light, generic-sensor, geolocation-sensor, gyroscope, magnetometer, orientation-sensor, proximity, wg-das

#11331 Use test.step_func() in mediasource-append-buffer.html
  media-source/mediasource-append-buffer.html
Labels: media-source, wg-html

#9834 Update the touch-events IDL file
  interfaces/touch-events.idl
  touch-events/idlharness.window.js
Labels: interfaces, touch-events, wg-webevents

#11591 Manually rename/update Referrer Policy IDL
  fetch/api/idl.any.js
  interfaces/referrer-policy.idl
Labels: fetch, interfaces

#9760 Update the background-fetch IDL file
  background-fetch/interfaces-worker.https.html
  background-fetch/interfaces.https.any.js
  background-fetch/interfaces.https.html
  background-fetch/interfaces.https.worker.js
  interfaces/background-fetch.idl
Labels: background-fetch, interfaces

#11590 HTML: Split up parse-a-sizes-attribute.html
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-display-none.html
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-quirks-mode.html
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-standards-mode.html
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute-width-1000px.html
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute.html
  html/semantics/embedded-content/the-img-element/sizes/support/parse-a-sizes-attribute.js
  html/semantics/embedded-content/the-img-element/sizes/support/sizes-iframed.sub.html
Labels: html

#9848 Update the webappsec-secure-contexts IDL file
  interfaces/secure-contexts.idl
  secure-contexts/idlharness.any.js
Labels: interfaces, secure-contexts, webappsec, wg-webappsec

#9840 Update the web-bluetooth IDL file
  bluetooth/idl/idlharness.tentative.window.js
  interfaces/web-bluetooth.idl
Labels: bluetooth, interfaces, status:needs-reviewers, web-bluetooth, wg-cg_web-bluetooth

#9828 Update the scroll-animations IDL file
  interfaces/scroll-animations.idl
  scroll-animations/META.yml
  scroll-animations/idlharness.html
Labels: interfaces, scroll-animations

#9781 Update the encrypted-media IDL file
  encrypted-media/idlharness.https.html
  interfaces/encrypted-media.idl
Labels: encrypted-media, interfaces, wg-html

#11595 Auto-update the webaudio IDL file
  interfaces/webaudio.idl
  webaudio/idlharness.https.html
Labels: interfaces, webaudio, wg-audio

#11597 Update cookie-store OWNERS
  cookie-store/META.yml
Labels: cookie-store, status:needs-reviewers

#11574 Auto-update the mediacapture-depth IDL file
  interfaces/mediacapture-depth.idl
  mediacapture-depth/META.yml
  mediacapture-depth/idlharness.html
Labels: interfaces, mediacapture-depth, wg-das, wg-webrtc

#11603 Add tests for Element.toggleAttribute.
  dom/nodes/attributes.html
Labels: dom

#11604 Update META.yml
  mediacapture-depth/META.yml
Labels: mediacapture-depth, wg-das, wg-webrtc

#11294 HTML: Expect salvegable to be set to false for pagehide test
  html/browsers/browsing-the-web/unloading-documents/unload/006-1.html
  html/browsers/browsing-the-web/unloading-documents/unload/pagehide-manual-1.html
  html/browsers/browsing-the-web/unloading-documents/unload/pagehide-manual.html
Labels: html

#11606 WebSocket: only test 2 connections in websockets/constructor/014.html
  websockets/constructor/014.html
Labels: websockets, wg-webapps

#11607 HTML: split up meta refresh parsing test
  html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/parsing.html
Labels: html

#9814 Update the presentation-api IDL file
  interfaces/presentation-api.idl
  presentation-api/controlling-ua/idlharness.https.html
  presentation-api/receiving-ua/support/idlharness_receiving-ua.html
Labels: interfaces, presentation-api, wg-secondscreen

#9832 Update the shape-detection-api IDL file
  interfaces/shape-detection-api.idl
  shape-detection/META.yml
  shape-detection/idlharness.any.js
Labels: interfaces, shape-detection, status:needs-reviewers

#11610 [docs] Document subsetTestByKey() utility function
  docs/_writing-tests/testharness.md
Labels: docs

#9778 Update the orientation-event IDL file
  interfaces/orientation-event.idl
  orientation-event/idlharness.html
  orientation-event/idlharness.window.js
Labels: interfaces, orientation-event, wg-geolocation

#10913 Add basic tests for context fill and stroke.
  svg/painting/reftests/paint-context-001-ref.svg
  svg/painting/reftests/paint-context-001.svg
  svg/painting/reftests/paint-context-002-ref.svg
  svg/painting/reftests/paint-context-002.svg
Labels: svg, wg-svg

#11614 Prevent abort error from breaking test in FF (fixes #10792)
  IndexedDB/idbdatabase-createObjectStore-exception-order.htm
Labels: IndexedDB, wg-webapps
