Repository web-platform-tests/wpt, pull requests merged in 2018-10, with the labels that each got.

#13282 Allow all pull requests to trigger Taskcluster
  .taskcluster.yml
Labels: infra

#5279 Tests for scaled content with masks and mask-type property
  css/css-masking/mask-svg-content/mask-negative-scale.svg
  css/css-masking/mask-svg-content/mask-text-001.svg
  css/css-masking/mask-svg-content/mask-type-001.svg
  css/css-masking/mask-svg-content/mask-type-002.svg
  css/css-masking/mask-svg-content/mask-type-003.svg
  css/css-masking/mask-svg-content/reference/mask-green-square-001-ref.svg
  css/css-masking/mask-svg-content/reference/mask-negative-scale-001-ref.svg
  css/css-masking/mask-svg-content/reference/mask-text-001-ref.svg
Labels: css-masking, stale:awaiting-review, status:needs-reviewers, wg-css, wg-svg

#6336 Add tests for rendering regions
  webvtt/rendering/cues-with-video/processing-model/align_center-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_50-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_50.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_gt_50-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_gt_50.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_lt_50-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_lt_50.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_lt_50_size_gt_maximum_size-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center_position_lt_50_size_gt_maximum_size.html
  webvtt/rendering/cues-with-video/processing-model/align_center_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_center_wrapped.html
  webvtt/rendering/cues-with-video/processing-model/regions/basic-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/basic.html
  webvtt/rendering/cues-with-video/processing-model/regions/regionanchor_x_50_percent-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/regionanchor_x_50_percent.html
  webvtt/rendering/cues-with-video/processing-model/regions/regionanchor_y_50_percent-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/regionanchor_y_50_percent.html
  webvtt/rendering/cues-with-video/processing-model/regions/scroll_up-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/scroll_up.html
  webvtt/rendering/cues-with-video/processing-model/regions/single_line_top_left-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/single_line_top_left.html
  webvtt/rendering/cues-with-video/processing-model/regions/support/basic.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/regionanchor_x_50_percent.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/regionanchor_y_50_percent.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/scroll_up.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/single_line_top_left.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/viewportanchor_x_50_percent.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/viewportanchor_y_50_percent.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/support/width_50_percent.vtt
  webvtt/rendering/cues-with-video/processing-model/regions/viewportanchor_x_50_percent-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/viewportanchor_x_50_percent.html
  webvtt/rendering/cues-with-video/processing-model/regions/viewportanchor_y_50_percent-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/viewportanchor_y_50_percent.html
  webvtt/rendering/cues-with-video/processing-model/regions/width_50_percent-ref.html
  webvtt/rendering/cues-with-video/processing-model/regions/width_50_percent.html
  webvtt/rendering/cues-with-video/processing-model/support/align_center.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_center_long.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_center_position_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_center_position_gt_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_center_position_lt_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_center_position_lt_50_size_gt_maximum_size.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_middle.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_middle_position_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_middle_position_gt_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_middle_position_lt_50.vtt
  webvtt/rendering/cues-with-video/processing-model/support/align_middle_position_lt_50_size_gt_maximum_size.vtt
Labels: webvtt, wg-audiovideo_tt

#13283 Fix review issues in HTMLLegendElement.html.
  html/semantics/forms/the-legend-element/HTMLLegendElement.html
Labels: html-fieldset

#5149 ondeviceorientationabsolute event attribute
  orientation-event/ondeviceorientationabsolute.html
Labels: good first issue, orientation-event, status:needs-reviewers, type:missing-coverage, wg-geolocation

#12404 XHR: overrideMimeType() is not reset by open()
  xhr/overridemimetype-edge-cases.window.js
Labels: xhr

#13290 Fix #13289: handle non-str exception messages
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#13293 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=157788
  html/rendering/non-replaced-elements/flow-content-0/form-margin-quirk.html
Labels: html

#5054 Add test cases for multiple Referrer-Policy headers
  referrer-policy/generic/multiple-headers-and-values.html
  referrer-policy/generic/multiple-headers-and-values.html.headers
  referrer-policy/generic/multiple-headers-combined.html
  referrer-policy/generic/multiple-headers-combined.html.headers
  referrer-policy/generic/multiple-headers-one-invalid.html
  referrer-policy/generic/multiple-headers-one-invalid.html.headers
  referrer-policy/generic/multiple-headers-one-unknown-token.html
  referrer-policy/generic/multiple-headers-one-unknown-token.html.headers
  referrer-policy/generic/multiple-headers.html
  referrer-policy/generic/multiple-headers.html.headers
Labels: referrer-policy, wg-webappsec

#13308 Update interfaces/speech-api.idl
  interfaces/speech-api.idl
Labels: interfaces

#13307 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#13313 Rename test file that conflicts with existing css test file.
  css/css-shapes/shape-outside/values/shape-outside-inset-0010.html
Labels: css-shapes, wg-css

#13311 Make TravisCI always run the lint on all files.
  tools/ci/ci_lint.sh
Labels: ci, infra

#13312 Removes tests for XRStageBoundsPoint
  webxr/resources/webxr_util.js
Labels: webxr

#13317 XHR: enforce particular header line serialization
  xhr/resources/inspect-headers.py
Labels: xhr

#13300 Give all Travis jobs human-readable names
  .travis.yml
Labels: infra

#13319 [css-scroll-snap] Inheritance and initial values
  css/css-scroll-snap/inheritance.html
Labels: css-scroll-snap

#13328 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#13258 Simplify UUID RegExp because OS variants
  payment-request/payment-request-id-attribute.https.html
Labels: payment-request, wg-payments

#13214 Add interfaces/wasm-web-api.idl
  interfaces/wasm-web-api.idl
Labels: interfaces

#13332 wptserve: Add the application/wasm type to constants.content_types.
  tools/wptserve/wptserve/constants.py
Labels: infra, wptserve

#13330 Python 3: Update some test expectations in test_pipes.py.
  tools/wptserve/tests/functional/test_pipes.py
Labels: infra, wptserve

#13335 Fix import of serve.serve in servo runner
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner

#13017 Use the voiceschanged event to wait for SpeechSynthesisVoice instance
  speech-api/idlharness.window.js
Labels: speech-api

#13339 Switch WebKit browser product to WebDriver executors
  tools/wptrunner/wptrunner/browsers/webkit.py
Labels: infra, wptrunner

#13337 Python 3: Encode text content in Response.iter_content().
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/wptserve/response.py
Labels: infra, wptserve

#13351 Update interfaces/css-layout-api.idl
  interfaces/css-layout-api.idl
Labels: interfaces

#13353 Update interfaces/webrtc-dscp.idl
  interfaces/webrtc-dscp.idl
Labels: interfaces

#13350 [html] Correct file generation logic
  common/large.py
  html/editing/dnd/file/007.html
  html/editing/dnd/resources/32mb.py
Labels: assets, html

#13348 Python 3: Fix Content-Length header in slice().
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/wptserve/pipes.py
Labels: infra, wptserve

#12957 [csp] Remove cookies following test completion
  content-security-policy/reporting/report-cross-origin-no-cookies.sub.html
  content-security-policy/reporting/report-same-origin-with-cookies.html
Labels: content-security-policy

#13372 Fix typo in focus-visible selector test.
  css/selectors/focus-visible-009.html
Labels: selectors

#13378 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#13382 Fix typo funtion/funtional
  resources/test/README.md
  resources/testharness.js
  tools/wptrunner/wptrunner/browsers/__init__.py
Labels: infra, testharness.js, wptrunner

#13355 Python 3: Don't decode ReplacementTokenizer results.
  tools/wptserve/tests/functional/test_handlers.py
  tools/wptserve/wptserve/pipes.py
Labels: infra, wptserve

#13373 Add missing reject argument that is referenced.
  css/cssom-view/scroll-behavior-smooth-positions.html
Labels: cssom-view, wg-css

#13402 cc Add some eol newlines to a couple files
  conformance-checkers/html/elements/input/pattern-asterisk-novalid.html
  conformance-checkers/html/elements/input/pattern-paren-novalid.html
Labels: conformance-checkers, status:needs-reviewers

#13404 cc Update messages.json
  conformance-checkers/html/elements/input/pattern-asterisk-novalid.html
  conformance-checkers/html/elements/input/pattern-paren-novalid.html
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-reviewers

#13405 Fix assert for StorageEvent constructor test
  webstorage/event_initstorageevent.html
Labels: webstorage, wg-webplatform

#13410 Typo: runder → under
  tools/wptrunner/docs/design.rst
Labels: infra, wptrunner

#13408 Improve warnings of command left in queue in TestRunnerManager cleanup
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#13412 Move a comment in TestRunnerManager.wait_finished to make more sense
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#13417 Ignore "runner_teardown" messages in `TestRunnerManager.cleanup()`
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#13421 Use conditionals to avoid running no-op jobs on Travis
  .travis.yml
Labels: infra

#13423 Add one missing conditional for "stability (Firefox Nightly)"
  .travis.yml
Labels: infra

#13432 Remove last remnants of chrome_webdriver
  infrastructure/metadata/infrastructure/testdriver/actions/elementPosition.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/elementTiming.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/eventOrder.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiDevice.html.ini
Labels: infra

#13440 Add edenchuang as payment-request/ reviewer
  payment-request/META.yml
Labels: payment-request, wg-payments

#13387 [css-text] white-space collapse at start/end of line
  css/css-text/white-space/line-edge-white-space-collapse-001.html
  css/css-text/white-space/line-edge-white-space-collapse-002.html
  css/css-text/white-space/reference/line-edge-white-space-collapse-001-ref.html
  css/css-text/white-space/reference/line-edge-white-space-collapse-002-ref.html
Labels: css-text, wg-css

#13459 Sync Mozilla CSS tests as of 2018-10-10
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-ignored-cases-ib-split-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-ignored-cases-ib-split-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-ib-split-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-ib-split-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
Labels: vendor-imports

#13458 Update test for 'noopener' feature of window.open
  html/browsers/the-window-object/apis-for-creating-and-navigating-browsing-contexts-by-name/open-features-tokenization-noopener.html
Labels: html

#13460 Support `./wpt run --channel=preview safari`
  docs/_running-tests/safari.md
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
Labels: docs, infra, wpt

#13453 Python 3: Support checking for multiple headers.
  tools/wptserve/tests/functional/base.py
  tools/wptserve/tests/functional/test_pipes.py
Labels: infra, wptserve

#13481 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#13486 IdlHarness: Improve the error message for alias values.
  resources/idlharness.js
Labels: idlharness.js, infra

#13468 Switch to GroupingFormatter by default for wpt run.
  tools/ci/ci_wptrunner_infrastructure.sh
  tools/wpt/run.py
Labels: ci, infra, wpt

#13517 XHR: test unusual header name syntax
  xhr/setrequestheader-header-allowed.htm
Labels: xhr

#13520 Use tbpl formatter for logging stability checks.
  tools/ci/check_stability.py
Labels: ci, demo, infra

#13525 Fixed the insertAdjacentHTML tests.
  trusted-types/Element-insertAdjacentHTML.tentative.html
  trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.tentative.html
Labels: trusted-types

#13419 Don't switch back to the harness window during testharness tests.
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/testharness_webdriver.js
  tools/wptrunner/wptrunner/executors/testharness_webdriver_resume.js
Labels: infra, wptrunner

#13490 Fix untittest for about:blank as a ref
  tools/lint/tests/dummy/about_blank.html
  tools/lint/tests/test_lint.py
Labels: infra, lint

#12877 Don't try to normalise the channel if we don't have data for a product.
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/tests/test_run.py
Labels: infra, wpt

#13516 Add URL parsing test for "ssh://example.com/foo/bar.git"
  url/resources/urltestdata.json
Labels: url

#13552 [ci] Filter GitHub pull request events
  .taskcluster.yml
Labels: infra

#13555 Update interfaces/reporting.idl
  interfaces/reporting.idl
Labels: interfaces

#13519 Fix encoding/resources/two-boms-utf-16[be|le].html which were corrupted
  encoding/resources/two-boms-utf-16be.html
  encoding/resources/two-boms-utf-16le.html
Labels: encoding

#13543 Add tests for `screenLeft` and `screenTop`
  css/cssom-view/screenLeftTop.html
Labels: cssom-view, wg-css

#13565 Unbreak resources tests
  resources/test/conftest.py
Labels: infra, testharness.js

#13569 Update setup instructions for Safari to use `no_proxy='*'`
  docs/_running-tests/safari.md
Labels: docs

#13561 Make logging on taskcluster more space efficient
  tools/ci/taskcluster-run.py
Labels: ci, infra

#13567 Fix two bugs introduced in #12877
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: infra, wpt

#13512 Update interfaces/netinfo.idl
  interfaces/netinfo.idl
Labels: interfaces

#13566 Fix a test with missing period after <strong>no red</strong>
  css/CSS2/borders/border-top-width-003.xht
  css/CSS2/selectors/default-attribute-selector-005.xht
  css/CSS2/selectors/default-attribute-selector-006.xht
  css/CSS2/selectors/default-attribute-selector-007.xht
  css/CSS2/selectors/default-attribute-selector-008.xht
Labels: CSS2, wg-css

#13573 [css-exclusions] Inheritance, initial values
  css/css-exclusions/inheritance.html
Labels: css-exclusions

#13165 [service-workers] Refactor to use async cleanup
  service-workers/service-worker/activation-after-registration.https.html
  service-workers/service-worker/appcache-ordering-main.https.html
  service-workers/service-worker/client-id.https.html
  service-workers/service-worker/clients-matchall-exact-controller.https.html
  service-workers/service-worker/clients-matchall-include-uncontrolled.https.html
  service-workers/service-worker/clients-matchall.https.html
  service-workers/service-worker/controller-on-disconnect.https.html
  service-workers/service-worker/controller-on-load.https.html
  service-workers/service-worker/extendable-event-async-waituntil.https.html
  service-workers/service-worker/extendable-event-waituntil.https.html
  service-workers/service-worker/fetch-cors-xhr.https.html
  service-workers/service-worker/fetch-event-referrer-policy.https.html
  service-workers/service-worker/fetch-frame-resource.https.html
  service-workers/service-worker/fetch-header-visibility.https.html
  service-workers/service-worker/fetch-request-css-base-url.https.html
  service-workers/service-worker/fetch-request-css-images.https.html
  service-workers/service-worker/fetch-request-html-imports.https.html
  service-workers/service-worker/fetch-request-no-freshness-headers.https.html
  service-workers/service-worker/fetch-response-xhr.https.html
  service-workers/service-worker/fetch-waits-for-activate.https.html
  service-workers/service-worker/getregistration.https.html
  service-workers/service-worker/invalid-blobtype.https.html
  service-workers/service-worker/invalid-header.https.html
  service-workers/service-worker/iso-latin1-header.https.html
  service-workers/service-worker/postmessage-from-waiting-serviceworker.https.html
  service-workers/service-worker/referer.https.html
  service-workers/service-worker/registration-events.https.html
  service-workers/service-worker/state.https.html
  service-workers/service-worker/uncontrolled-page.https.html
  service-workers/service-worker/unregister-then-register.https.html
  service-workers/service-worker/update-recovery.https.html
  service-workers/service-worker/websocket.https.html
Labels: service-workers, wg-sw

#13580 Update data URL test case for empty MIME parameter
  fetch/data-urls/resources/data-urls.json
Labels: fetch

#13483 Add a test for the WebAssembly Web API.
  wasm/webapi/idlharness.any.js
Labels: wasm

#13574 [css-scroll-anchoring] Inheritance, initial value
  css/css-scroll-anchoring/inheritance.html
Labels: css-scroll-anchoring

#13584 [css-regions] Inheritance and initial values
  css/css-regions/inheritance.html
Labels: css-regions

#13590 fix: show requires user activation
  payment-request/payment-request-abort-method.https.html
  payment-request/payment-request-canmakepayment-method.https.html
  payment-request/rejects_if_not_active.https.html
Labels: payment-request, wg-payments

#13612 Editorial: update some issue links
  fetch/api/headers/header-values-normalize.html
  fetch/api/resources/inspect-headers.py
  html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/parsing.html
Labels: fetch, html

#13607 Update interfaces/csp-embedded-enforcement.idl
  interfaces/csp-embedded-enforcement.idl
Labels: interfaces

#13608 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#13622 Add assumption test for audio/video autoplay and make Chrome pass
  infrastructure/assumptions/allowed-to-play.html
  tools/wpt/run.py
Labels: infra, wpt

#13392 Find affected idlharness tests
  tools/wpt/testfiles.py
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#13614 remove duplicate line in docs for running the tests
  docs/_running-tests/index.md
Labels: docs

#13629 Add self to suggested reviewers for `tools/`
  tools/META.yml
Labels: META.yml, infra

#13631 Adding https versions to validate Firefox.
  server-timing/cross_origin.https.html
  server-timing/idlharness.https.any.js
Labels: server-timing, wg-webperf

#13635 remove http versions of tests, leaving behind https
  server-timing/cross_origin.html
  server-timing/idlharness.any.js
  server-timing/navigation_timing_idl.html
  server-timing/resource_timing_idl.html
  server-timing/server_timing_header-parsing.html
  server-timing/test_server_timing.html
  server-timing/test_server_timing.html.sub.headers
Labels: server-timing, wg-webperf

#13630 Reduce text-sizing dependency & use clearer colors in reftest flex-flexitem-percentage-prescation.html
  css/css-flexbox/flex-flexitem-percentage-prescation.html
  css/css-flexbox/reference/flex-flexitem-percentage-prescation-ref.html
Labels: css-flexbox, wg-css

#13636 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#13634 Rename idlharness.window.js to idlharness.https.window.js
  webmidi/idlharness.https.window.js
Labels: webmidi, wg-audio

#13609 Update interfaces/webmidi.idl
  interfaces/webmidi.idl
Labels: interfaces

#13641 Use correct protocol for server-timing/cross_origin.https.html
  server-timing/cross_origin.https.html
Labels: server-timing, wg-webperf

#13644 Simplify cases of `"%s" % already_a_string` in tools/ Python
  tools/ci/check_stability.py
  tools/ci/tag_master.py
  tools/wpt/utils.py
Labels: ci, infra, wpt

#13638 Add expectations for Safari in for infrastructure/ tests
  infrastructure/metadata/infrastructure/assumptions/allowed-to-play.html.ini
  infrastructure/metadata/infrastructure/assumptions/html-elements.html.ini
  infrastructure/metadata/infrastructure/server/context.any.js.ini
  infrastructure/metadata/infrastructure/server/order-of-metas.any.js.ini
  infrastructure/metadata/infrastructure/server/secure-context.https.any.js.ini
  infrastructure/metadata/infrastructure/server/title.any.js.ini
  infrastructure/metadata/infrastructure/testdriver/actions/elementPosition.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/elementTiming.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/eventOrder.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiDevice.html.ini
Labels: infra

#13571 [cssom-view] Inheritance of CSSOM View properties
  css/cssom-view/inheritance.html
Labels: cssom-view, wg-css

#13648 Move and fix the action_sequence documentation
  docs/_writing-tests/testdriver.md
Labels: docs

#13660 Remove reference loop from test clip-path-content-syling.svg.
  css/css-masking/clip-path-svg-content/clip-path-content-syling.svg
Labels: css-masking, wg-css, wg-svg

#13651 [css-multicol] Initial values and inheritance
  css/css-multicol/inheritance.html
  css/support/inheritance-testcommon.js
Labels: css-multicol, support

#13653 WebAssembly: Test aborted responses.
  wasm/webapi/abort.any.js
Labels: wasm

#11751 Add an instance of ImageData to the HTML interfaces test.
  html/dom/interfaces.https.html
Labels: html

#13667 Fix #13656: make percentage-heights-003 test definiteness
  css/css-flexbox/percentage-heights-003.html
Labels: css-flexbox, wg-css

#13678 Document review_requested@noreply.github.com
  docs/_reviewing-tests/email.md
Labels: docs

#13680 Fix the documentation of `action_sequence` somewhat
  docs/_writing-tests/testdriver.md
Labels: docs

#13642 Remove unused `channel` argument in `Firefox.version`
  tools/wpt/browser.py
Labels: infra, wpt

#13657 WebAssembly: Add tests for invalid code arguments.
  wasm/jsapi/constructor/compile.any.js
  wasm/jsapi/constructor/instantiate.any.js
  wasm/jsapi/module/constructor.any.js
  wasm/webapi/invalid-code.any.js
Labels: wasm

#13684 service workers: Add long timeout to matchall test
  service-workers/service-worker/clients-matchall-order.https.html
Labels: service-workers, wg-sw

#13690 [testharness.js] Correct typos
  resources/testharness.js
Labels: infra, testharness.js

#13671 Cross origin workers should fail to fetch
  workers/Worker_cross_origin_security_err.htm
  workers/constructors/SharedWorker/same-origin.html
  workers/constructors/Worker/same-origin.html
Labels: wg-webapps, workers

#13696 Add UCS-4 support check for Python in build-css-testsuites.sh
  css/build-css-testsuites.sh
Labels: build-css-testsuites.sh, status:needs-reviewers

#13705 Add myself to suggested-reviewers in css/css-align
  css/css-align/META.yml
Labels: css-align

#13706 Remove alexshalamov from the suggested reviewers lists
  accelerometer/META.yml
  ambient-light/META.yml
  generic-sensor/META.yml
  gyroscope/META.yml
  magnetometer/META.yml
  orientation-sensor/META.yml
  web-nfc/META.yml
Labels: accelerometer, ambient-light, generic-sensor, gyroscope, magnetometer, orientation-sensor, web-nfc, wg-das

#13669 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=190554
  resource-timing/resource_TAO_cross_origin_redirect_chain.html
  resource-timing/resource_timing_cross_origin_redirect_chain.html
Labels: resource-timing, wg-webperf

#13716 Update interfaces/cssom-view.idl
  interfaces/cssom-view.idl
Labels: interfaces

#13023 [css-transforms] Transforms initial values
  css/css-transforms/inheritance.html
  css/motion/inheritance.html
Labels: css-transforms, motion

#13750 [filter-effects] filter arguments optional
  css/filter-effects/parsing/filter-parsing-invalid.html
  css/filter-effects/parsing/filter-parsing-valid.html
Labels: filter-effects, wg-css, wg-svg

#13751 [filter-effects] computed filter
  css/filter-effects/parsing/filter-computed.html
  css/support/computed-testcommon.js
Labels: filter-effects, support, wg-css, wg-svg

#13733 Swapping @MSFTkihans with @zouhir
  payment-request/META.yml
Labels: payment-request, wg-payments

#13734 Fix pip aspect ratio test
  picture-in-picture/picture-in-picture-window.html
Labels: picture-in-picture

#13611 Ignore includers of untested mixins
  resources/idlharness.js
Labels: idlharness.js, infra

#13756 [docs] Embed a video with intro to wpt
  docs/introduction.md
Labels: docs

#13624 Python 3: Use six.create_bound_method() in test_response.py.
  tools/wptserve/tests/functional/test_response.py
Labels: infra, wptserve

#13105 [filter-effects] Inheritance and initial values
  css/filter-effects/inheritance.html
Labels: filter-effects, wg-css, wg-svg

#13772 Sync Mozilla CSS tests as of 2018-10-30
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-background-position-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-background-position-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-background-size-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-background-size-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/support/blue-32x32.png
Labels: vendor-imports

#13777 Remove unused method `ManagerGroup.is_alive()`
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#13778 Indent `manager_group` method calls to within the `with` scope
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#13782 Call the tools/wpt/ tests simply "tests" (not "unittests")
  .travis.yml
Labels: infra

#13643 Remove unused code in tools/wpt/utils.py
  tools/wpt/utils.py
Labels: infra, wpt

#13779 XMLHttpRequest: manipulate Content-Type less
  xhr/send-content-type-charset.htm
Labels: xhr

#13743 HTML: update innerText getter tests to return *inner* text
  html/dom/elements/the-innertext-idl-attribute/getter-tests.js
Labels: html

#13796 Remove some suggested reviewers who have asked to be removed
  WebCryptoAPI/META.yml
  annotation-vocab/META.yml
  css/css-grid/META.yml
  css/geometry/META.yml
  pointerevents/META.yml
  speech-api/META.yml
  subresource-integrity/META.yml
  url/META.yml
  webaudio/META.yml
Labels: WebCryptoAPI, annotation-vocab, css-grid, geometry, pointerevents, speech-api, subresource-integrity, url, webaudio, wg-annotation, wg-audio, wg-pointerevents, wg-webcrypto

#13799 Remove ES6 construct from WebDriver element click center point tests
  webdriver/tests/element_click/center_point.py
Labels: webdriver, wg-testing_browser

#13810 Update interfaces/IndexedDB.idl
  interfaces/IndexedDB.idl
Labels: interfaces

#13471 Fetch: combining header values
  fetch/api/basic/header-value-combining.any.js
  lint.whitelist
  xhr/getallresponseheaders.htm
  xhr/getresponseheader.any.js
  xhr/resources/header-content-length-twice.asis
  xhr/resources/headers-double-empty.asis
  xhr/resources/headers-some-are-empty.asis
  xhr/setrequestheader-combining.window.js
Labels: fetch, infra, xhr

#13812 add a warning about runner issues
  tools/runner/index.html
Labels: infra, runner

#13809 Adds Self Describing section to rendering docs
  docs/_writing-tests/rendering.md
Labels: docs

#13815 Fetch: Access-Control-Allow-Origin parsing
  cors/origin.htm
Labels: fetch

#13769 Add configuration for Azure Pipelines
  .azure-pipelines.yml
  lint.whitelist
Labels: ci, infra

#13801 Give `./wpt test-jobs` an `--all` argument
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
Labels: ci, infra

#13806 [wptrunner] Improve errors from Selenium
  tools/wptrunner/wptrunner/executors/executorselenium.py
Labels: infra, wptrunner

#13793 Change "Web Platform Tests" to web-platform-tests in runner
  tools/runner/index.html
Labels: infra, runner

#13817 Remove cors/allow-headers.htm
  cors/allow-headers.htm
Labels: fetch

#13814 Use the light blue WPT logo for the legacy runner
  tools/runner/index.html
  tools/runner/logo.svg
Labels: infra, runner

#13435 Test Location sans browsing context
  html/browsers/history/the-location-interface/no-browsing-context.window.js
Labels: html
