Repository web-platform-tests/wpt, pull requests merged in 2018-02, with the labels that each got.

#9414 Test for font-variation-settings
  css/css-fonts/font-variation-settings-serialization-001.html
Labels: css-fonts

#9460 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=182637
  service-workers/cache-storage/script-tests/cache-put.js
  service-workers/cache-storage/window/cache-put.https.html
Labels: service-workers, wg-sw

#9468 Fix broken markup for content-height-005-ref.html
  css/CSS2/visudet/reference/content-height-005-ref.html
Labels: CSS2, wg-css

#9376 [cssom] Add test for synchronization between css declaration block and style attribute
  css/cssom/css-style-attr-decl-block.html
Labels: cssom, wg-css

#9231 Test document.body and document.bgColor when root is not <html>
  html/dom/documents/dom-tree-accessors/Document.body.html
  html/obsolete/requirements-for-implementations/other-elements-attributes-and-apis/document-color-01.html
Labels: html

#9396 Add tests for already-started + emptyish script element
  html/semantics/scripting-1/the-script-element/emptyish-script-elements.html
Labels: html

#9487 Correct default Selectionstart and SelectionEnd
  html/semantics/forms/textfieldselection/defaultSelection.html
Labels: servo-export

#9489 Suppress duplicate reference name warning.
  lint.whitelist
Labels: infra

#9458 Sync Mozilla tests as of 2018-02-09
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-basic-block-horiz-001v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-basic-block-vert-001v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-basic-canvas-horiz-001v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-basic-canvas-vert-001v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-001v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-002v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-003v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-004v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-005v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-006v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-mbp-horiz-002v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-mbp-horiz-003v.xhtml
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-010-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-010.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-011-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-011.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-012-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-012.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-013-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-013.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-014-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-014.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-015-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-writing-mode-015.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: status:needs-owners, vendor-imports

#9499 Correct serialization of background-color
  css/css-backgrounds/background-331.html
  css/css-backgrounds/background-332.html
  css/css-backgrounds/background-333.html
Labels: css-backgrounds

#9008 Add format-specifier-applied-to-Symbol console tests
  console/console-format-specifier-symbol-manual.html
Labels: console

#9505 [custom-elements] Some fixes for "is" attribute behavior changes
  custom-elements/Document-createElement.html
  custom-elements/Document-createElementNS.html
  custom-elements/builtin-coverage.html
  custom-elements/upgrading/Node-cloneNode.html
Labels: custom-elements, wg-webplatform

#9508 [custom-elements] Add HTML serialization tests
  custom-elements/parser/serializing-html-fragments.html
Labels: custom-elements, wg-webplatform

#9515 Checking signal has aborted.
  fetch/api/abort/general.any.js
Labels: fetch

#9397 Added new testcases to test font-variant precedence rules
  css/css-fonts/font-variant-05-ref.xht
  css/css-fonts/font-variant-05.xht
  css/css-fonts/font-variant-06-ref.xht
  css/css-fonts/font-variant-06.xht
Labels: css-fonts

#9528 Implement element.innerText getter
  innerText/getter.html
Labels: servo-export

#9529 Adding tests with DRY coding technique
  html/semantics/forms/textfieldselection/defaultSelection.html
Labels: servo-export

#9518 Add test for wrappable content that has flex:none
  css/css-flexbox/flexbox_flex-none-wrappable-content-ref.html
  css/css-flexbox/flexbox_flex-none-wrappable-content.html
Labels: css-flexbox, wg-css

#9408 SVG Shapes: line supports pathLength
  svg/shapes/line-dasharray-ref.svg
  svg/shapes/line-dasharray.svg
  svg/shapes/line-getPointAtLength.svg
  svg/shapes/line-pathLength.svg
Labels: svg, wg-svg

#9534 Add test for empty URL behaviour
  css/css-values/urls/empty.html
  css/css-values/urls/support/empty-urls.css
Labels: css-values, wg-css

#9533 CSS2 tests were only correct if the default font has two weights.
  css/CSS2/fonts/font-weight-100-ref.html
  css/CSS2/fonts/font-weight-900-ref.html
  css/CSS2/fonts/font-weight-rule-005.xht
  css/CSS2/fonts/font-weight-rule-007.xht
Labels: CSS2, wg-css

#9451 Adapt Orientation IDL tests to latest spec
  interfaces/orientation-sensor.idl
Labels: interfaces

#9450 Adapt Magnetometer IDL tests to latest spec
  interfaces/magnetometer.idl
Labels: interfaces

#9449 Adapt Gyroscope IDL tests to latest spec
  interfaces/gyroscope.idl
Labels: interfaces

#9448 Adapt Accelerometer IDL tests to latest spec
  interfaces/accelerometer.idl
Labels: interfaces

#9525 Add @drott
  css/css-fonts/OWNERS
Labels: css-fonts

#9421 Fix #8806: Allow about:blank as reference URL
  tools/lint/lint.py
  tools/lint/tests/dummy/ref/about_blank-ref.html
  tools/lint/tests/test_lint.py
Labels: infra

#9202 Updating Server creation for localhost
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra

#8689 Reftest for handling important when there is an animation.
  css/css-cascade/important-prop-ref.html
  css/css-cascade/important-prop.html
Labels: css-cascade

#9541 Fix an error in executorservo.py
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: servo-export

#9527 Add tests for the breaking of a multicolumn across columns, including backgrounds and column rules
  css/css-multicol/multicol-breaking-000-ref.html
  css/css-multicol/multicol-breaking-000.html
  css/css-multicol/multicol-breaking-001-ref.html
  css/css-multicol/multicol-breaking-001.html
  css/css-multicol/multicol-breaking-002-ref.html
  css/css-multicol/multicol-breaking-002.html
  css/css-multicol/multicol-breaking-003-ref.html
  css/css-multicol/multicol-breaking-003.html
  css/css-multicol/multicol-breaking-nobackground-000-ref.html
  css/css-multicol/multicol-breaking-nobackground-000.html
  css/css-multicol/multicol-breaking-nobackground-001-ref.html
  css/css-multicol/multicol-breaking-nobackground-001.html
  css/css-multicol/multicol-breaking-nobackground-002-ref.html
  css/css-multicol/multicol-breaking-nobackground-002.html
  css/css-multicol/multicol-breaking-nobackground-003-ref.html
  css/css-multicol/multicol-breaking-nobackground-003.html
Labels: css-multicol

#9561 Implement element.innerText setter
  innerText/setter.html
Labels: servo-export

#9480 Fix hostnames
  tools/wptrunner/MANIFEST.in
  tools/wptrunner/setup.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/config.json
  tools/wptrunner/wptrunner/environment.py
Labels: demo, infra

#9484 Correct integration with Sauce Labs service
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/font.py
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
Labels: demo, infra

#9563 Fix selection{Start,End} test
  html/semantics/forms/textfieldselection/selection-start-end.html
Labels: html

#9566 minor typo fix
  README.md
Labels: infra

#5636 ReadableStream: Add a test that all queued writes complete on error
  streams/piping/error-propagation-forward.js
Labels: streams

#9501 Test whether javascript: navigation aborts fetches in earlier navigation
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/javascript-url-abort-return-value-string.tentative.html
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/javascript-url-abort-return-value-undefined.tentative.html
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/support/iframe-and-links.html
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-abort/support/set-child-loaded.html
Labels: html

#9564 Fix #7142: Change manifest update process
  tools/manifest/manifest.py
Labels: infra

#9576 cc Update messages.json expectations formatting
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-owners

#9587 Fix #8954: update wptrunner requirements
  tools/wptrunner/requirements.txt
  tools/wptrunner/requirements_chrome.txt
  tools/wptrunner/requirements_chrome_android.txt
  tools/wptrunner/requirements_edge.txt
  tools/wptrunner/requirements_firefox.txt
  tools/wptrunner/requirements_ie.txt
  tools/wptrunner/requirements_opera.txt
  tools/wptrunner/requirements_sauce.txt
  tools/wptrunner/requirements_servo.txt
Labels: infra

#9573 ReadableStream: Add a test that all queued writes complete when closing after first write
  streams/piping/close-propagation-forward.js
Labels: streams

#9596 cc Add https://streams.spec.whatwg.org/demos tests
  conformance-checkers/html/elements/script/streams-demo-append-child-isvalid.html
  conformance-checkers/html/elements/script/streams-demo-streaming-element-backpressure-isvalid.html
  conformance-checkers/html/elements/script/streams-demo-streaming-element-isvalid.html
Labels: conformance-checkers, status:needs-owners

#9495 Test <video autoplay> with various broken <track src> URLs
  html/semantics/embedded-content/media-elements/autoplay-with-broken-track.html
Labels: html

#9598 Update reftests in manifest when reftests become non-reftests
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
Labels: infra

#9537 Ensure we always run against the latest version of Firefox.
  tools/wpt/browser.py
  tools/wpt/tests/latest_mozilla_central.txt
  tools/wpt/tests/test_browser.py
Labels: infra

#9575 WebDriver: fix some issues in fullscreen tests
  webdriver/tests/fullscreen_window.py
Labels: webdriver, wg-testing_browser

#9601 Adding additional enabled <option> element in WebDriver test page
  webdriver/tests/element_click/select.py
Labels: webdriver, wg-testing_browser

#9603 Adding property name for self-referential array object
  webdriver/tests/execute_script/cyclic.py
Labels: webdriver, wg-testing_browser

#9600 Removing ES6 constructs from pages used in WebDriver tests
  webdriver/tests/element_click/bubbling.py
Labels: webdriver, wg-testing_browser

#9612 Making test_handle_prompt_accept consistent with other similar tests
  webdriver/tests/fullscreen_window.py
Labels: webdriver, wg-testing_browser

#9559 Moved and .name return the address of the document
  navigation-timing/po-navigation.html
Labels: navigation-timing, type:bug, wg-webperf

#9634 Updating test_element to correctly test for 'checked' property
  webdriver/tests/state/get_element_property.py
Labels: webdriver, wg-testing_browser

#9638 [webdriver] remove @lukeis from OWNERS
  webdriver/OWNERS
Labels: webdriver, wg-testing_browser

#9473 Add LinearAccelerationSensor shake threshold manual test
  accelerometer/LinearAccelerationSensor-shake-threshold-manual.https.html
Labels: accelerometer, wg-dap

#9626 Add a manual test for the copy event
  clipboard-apis/copy-event-manual.html
  clipboard-apis/cut-event-manual.html
  clipboard-apis/paste-event-manual.html
Labels: clipboard-apis, wg-webplatform

#9299 Update move-to-fullscreen-iframe-manual.html to match the spec
  fullscreen/model/move-to-fullscreen-iframe-manual.html
Labels: fullscreen

#9645 Adapt geolocation-sensor IDL to latest spec
  interfaces/geolocation-sensor.idl
Labels: interfaces

#8796 [WebIDL] Add tests for iterator objects and prototypes
  WebIDL/ecmascript-binding/default-iterator-object.html
  WebIDL/ecmascript-binding/iterator-prototype-object.html
Labels: WebIDL, wg-webplatform

#9258 Switch external_host to host_ip.
  config.default.json
  tools/serve/serve.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/servo.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/environment.py
Labels: infra

#9649 Make the browser.py documentation more truthful
  tools/wpt/browser.py
Labels: infra

#9650 Revert "Switch external_host to host_ip. (#9258)"
  config.default.json
  tools/serve/serve.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/servo.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/environment.py
Labels: infra

#9665 Capitalize Android in documentation
  docs/_running-tests/chrome_android.md
Labels: docs

#9586 createElement()/createElementNS() dictionary argument can be a string
  custom-elements/Document-createElement.html
  custom-elements/Document-createElementNS.html
  interfaces/dom.idl
Labels: custom-elements, interfaces, wg-webplatform

#9565 html: Add tests to verify BigInt structured clone integration
  html/infrastructure/safe-passing-of-structured-data/structured_clone_bigint.html
Labels: html

#9291 Optimize lock-bad-argument.html
  screen-orientation/lock-bad-argument.html
Labels: screen-orientation, wg-webplatform

#9668 Add tests for the use and lack of the .https file name flag
  infrastructure/assumptions/non-secure-context.any.js
  infrastructure/assumptions/secure-context.https.any.js
Labels: infra

#9669 Cross-link more of the documentation on writing tests
  docs/_writing-tests/index.md
  docs/_writing-tests/server-features.md
  docs/_writing-tests/testharness.md
Labels: docs

#9670 fixes style-attr-braces-002-quirks
  css/css-style-attr/style-attr-braces-002-quirks.htm
Labels: css-style-attr, wg-css

#9653 Remove dead code prepare_environment in browser.py
  tools/wpt/browser.py
Labels: infra

#9674 Update assumptions test to match HTML spec
  infrastructure/assumptions/html-elements.html
Labels: infra, status:needs-owners

#9663 Part 2: show(details) resolves tests
  payment-request/show-method-optional-promise-resolves-manual.https.html
Labels: payment-request, wg-payments

#9591 ReadableStream: Add tests for shutting down when readable becomes errored with preventAbort = true
  streams/piping/close-propagation-forward.js
  streams/piping/error-propagation-forward.js
Labels: streams

#9652 Check if git is a batch file on Windows
  tools/manifest/vcs.py
Labels: infra

#9691 Make the data-url-shared.html test a bit prettier/simpler
  workers/data-url-shared.html
Labels: wg-webapps, workers

#5188 Notifications: update IDL
  notifications/interfaces.html
Labels: notifications

#9617 Part 1: show(details) rejects tests
  payment-request/show-method-optional-promise-rejects-manual.https.html
Labels: payment-request, wg-payments

#9689 [css-text] Fix broken links to mplus-1p-regular.woff font
  css/css-text/line-break/reference/line-break-normal-021-ref.xht
  css/css-text/line-break/reference/line-break-normal-022-ref.xht
  css/css-text/line-break/reference/line-break-normal-023-ref.xht
  css/css-text/line-break/reference/line-break-normal-024-ref.xht
  css/css-text/line-break/reference/line-break-normal-025-ref.xht
  css/css-text/line-break/reference/line-break-strict-011-ref.xht
  css/css-text/line-break/reference/line-break-strict-012-ref.xht
  css/css-text/line-break/reference/line-break-strict-013-ref.xht
  css/css-text/line-break/reference/line-break-strict-014-ref.xht
  css/css-text/line-break/reference/line-break-strict-015-ref.xht
  css/css-text/line-break/reference/line-break-strict-016-ref.xht
  css/css-text/line-break/reference/line-break-strict-017-ref.xht
  css/css-text/line-break/reference/line-break-strict-018-ref.xht
  css/css-text/line-break/reference/support/mplus-1p-regular.woff
  css/css-text/line-break/support/mplus-1p-regular.woff
Labels: css-text

#9713 Remove the "sound" property from the Notification interface
  notifications/interfaces.html
Labels: notifications

#9465 WebDriver: don't send a request body for HTTP GET requests
  tools/webdriver/webdriver/transport.py
Labels: infra

#9467 Tests for PaymentInstruments.
  payment-handler/basic-card.js
  payment-handler/basic-card.json
  payment-handler/payment-app/payment.html
  payment-handler/payment-instruments.https.html
  payment-handler/payment-request-event.https.html
  payment-handler/register-and-activate-service-worker.js
Labels: payment-handler, wg-payments

#9393 Ensure testharnessreport.js is loaded as utf8
  resources/idlharness.js.headers
  resources/testdriver-vendor.js.headers
  resources/testdriver.js.headers
  tools/serve/serve.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptserve/wptserve/handlers.py
Labels: infra

#8015 [MIX]: Improve Safari support.
  mixed-content/generic/common.js
  mixed-content/generic/mixed-content-test-case.js
Labels: mixed-content, wg-webappsec

#9349 [Code Health] Fix ABC wpt.browser.Browser
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: 2dcontext, CSS2, FileAPI, assets, bluetooth, content-security-policy, css-align, css-color, css-fill-stroke, css-flexbox, css-fonts, css-grid, css-layout-api, css-paint-api, css-scoping, css-shapes, css-text, css-transforms, css-typed-om, css-values, css-writing-modes, cssom, cssom-view, infra, mediaqueries, selectors, vendor-imports, wg-css, wg-html, wg-webplatform
