Repository web-platform-tests/wpt, pull requests merged in 2018-04, with the labels that each got.

#10272 Fix customElements.upgrade() tests for <template>
  custom-elements/custom-element-registry/upgrade.html
Labels: custom-elements, wg-webplatform

#10267 ReadableStream: getReader() should call ToString() on mode
  streams/readable-streams/default-reader.js
Labels: streams

#10276 fix reftest-wait typo
  svg/linking/reftests/href-a-element-attr-change.html
Labels: svg, wg-svg

#10286 Use stable error messages in the link onload event tests by default.
  html/semantics/document-metadata/the-link-element/resources/link-load-error-events.sub.js
Labels: html

#9373 [css-fonts-4] Contribute Microsoft tests for Font Variations
  css/css-fonts/variations/at-font-face-descriptors.html
  css/css-fonts/variations/at-font-face-font-matching.html
  css/css-fonts/variations/font-opentype-collections.html
  css/css-fonts/variations/font-shorthand.html
  css/css-fonts/variations/font-stretch.html
  css/css-fonts/variations/font-style-interpolation.html
  css/css-fonts/variations/font-style-parsing.html
  css/css-fonts/variations/font-variation-settings-inherit.html
  css/css-fonts/variations/font-variation-settings-parsing.html
  css/css-fonts/variations/font-weight-interpolation.html
  css/css-fonts/variations/font-weight-lighter-bolder.html
  css/css-fonts/variations/font-weight-matching-installed-fonts.html
  css/css-fonts/variations/font-weight-matching.html
  css/css-fonts/variations/font-weight-parsing.html
  css/css-fonts/variations/resources/ahem.ttc
  css/css-fonts/variations/resources/csstest-weights-100-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-1479-w1-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-1479-w4-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-1479-w7-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-1479-w9-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-15-w1-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-15-w5-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-200-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-24-w2-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-24-w4-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-2569-w2-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-2569-w5-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-2569-w6-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-2569-w9-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-258-w2-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-258-w5-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-258-w8-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-300-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-3589-w3-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-3589-w5-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-3589-w8-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-3589-w9-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-400-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-47-w4-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-47-w7-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-500-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-600-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-700-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-800-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-900-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w1-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w2-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w3-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w4-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w5-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w6-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w7-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w8-kerned.ttf
  css/css-fonts/variations/resources/csstest-weights-full-w9-kerned.ttf
  lint.whitelist
Labels: css-fonts, infra

#9886 Updated ServiceWorker IDL file
  interfaces/ServiceWorker.idl
  service-workers/service-worker/interfaces-window.https.html
  service-workers/service-worker/resources/interfaces-idls.js
  service-workers/service-worker/resources/interfaces-worker.sub.js
Labels: interfaces, service-workers, wg-sw

#10113 Automated Keyboard Input
  docs/_writing-tests/testdriver.md
  html/editing/focus/focus-01.html
  infrastructure/testdriver/send_keys.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: docs, html, infra

#9884 Updated filter-effects IDL file
  css/filter-effects/interfaces.any.js
  interfaces/filter-effects.idl
  lint.whitelist
Labels: filter-effects, infra, interfaces, wg-css, wg-svg

#10294 Correct reference to certificate file
  README.md
Labels: docs, infra

#10238 Document useful arguments for `wpt run chrome`
  docs/_running-tests/chrome.md
  docs/_running-tests/index.md
Labels: docs

#10279 New MIME type parsing tests
  mimesniff/mime-types/resources/mime-types.json
Labels: mimesniff, status:needs-owners

#10273 Sync Mozilla tests as of 2018-04-02
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-001a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-001b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-002a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-002b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/transforms/reftest.list
Labels: status:needs-owners, vendor-imports

#10324 Sync Mozilla reftests as of 2018-04-05
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-abspos-child-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-abspos-child-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: status:needs-owners, vendor-imports

#10326 Add tests to check that the User-Agent header is set for XHR requests
  xhr/header-user-agent-async.htm
  xhr/header-user-agent-sync.htm
  xhr/resources/header-user-agent.py
Labels: xhr

#10327 [css-multicol] column-gap normal is 1em per spec now
  css/css-multicol/multicol-gap-001.xht
  css/css-multicol/multicol-gap-003.xht
Labels: css-multicol

#10322 Add tests for wptserve.pipes.ReplacementTokenizer
  tools/conftest.py
  tools/wptserve/tests/test_replacement_tokenizer.py
Labels: infra

#10323 Handle the case when MANIFEST.json is invalid JSON
  tools/manifest/manifest.py
Labels: infra

#10328 Tests were referencing the wrong reference tests
  css/css-backgrounds/css3-background-origin-padding-box.html
  css/css-backgrounds/css3-background-size-001.html
Labels: css-backgrounds

#10321 AccName: Fix several expected results
  accname/name_checkbox-label-multiple-label-alternative-manual.html
  accname/name_checkbox-label-multiple-label-manual.html
  accname/name_test_case_548-manual.html
  accname/name_test_case_558-manual.html
  accname/name_test_case_560-manual.html
  accname/name_test_case_733-manual.html
  accname/name_test_case_734-manual.html
  accname/name_test_case_735-manual.html
  accname/name_test_case_736-manual.html
  accname/name_test_case_737-manual.html
Labels: accname

#10315 Added testdriver automation for html/editing/focus/focus-02.html
  html/editing/focus/focus-02.html
Labels: html

#10335 Fix the unit test for affected tests
  tools/wpt/tests/test_wpt.py
Labels: infra

#10333 Bind StashServer to server_host instead of browser_host
  tools/serve/serve.py
Labels: infra

#10332 Add MISSING-LINK docs
  docs/_writing-tests/lint-tool.md
Labels: docs

#9751 Update the BackgroundSync IDL file
  BackgroundSync/interfaces.any.js
  background-fetch/interfaces.worker.js
  interfaces/BackgroundSync.idl
Labels: BackgroundSync, background-fetch, interfaces

#9763 Update the budget-api IDL file
  budget-api/interfaces.any.js
  interfaces/budget-api.idl
Labels: budget-api, interfaces

#9765 Update the compat IDL file
  compat/interfaces.any.js
  interfaces/compat.idl
Labels: compat, interfaces

#9776 Update the cssom IDL file
  interfaces/cssom.idl
Labels: interfaces

#9199 Add intersection-observer/OWNERS
  intersection-observer/OWNERS
Labels: intersection-observer, status:needs-owners, wg-webplatform

#10344 Change a const in var in idlharness.js
  resources/idlharness.js
Labels: infra

#10337 Improve error message for exposure_set test
  resources/idlharness.js
Labels: infra

#9753 Update the FileAPI IDL file
  interfaces/FileAPI.idl
Labels: interfaces

#10336 Improve idlharness error message for exposure test
  resources/idlharness.js
Labels: infra

#10353 Update expected cssText for custom property serialization
  css/css-variables/variable-cssText.html
Labels: css-variables, wg-css

#10360 Adapt web-nfc IDL tests to latest spec
  interfaces/web-nfc.idl
Labels: interfaces

#10361 Remove SimonSapin from OWNERS
  css/css-page/OWNERS
  css/css-variables/OWNERS
Labels: css-page, css-variables, wg-css

#10358 Sync Mozilla tests as of 2018-04-08
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-2-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-2.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-3-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-3.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-4-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/emptyspan-4.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/float-inside-inline-between-blocks-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/float-inside-inline-between-blocks-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/percent-height-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/percent-height-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-1-noib-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-2-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-2.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-3-noib-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-3-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-3.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-4-noib-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-4-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-4.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-5-noib-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-5-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-5.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-6-noib-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-6-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-from-split-inline-6.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-split-inline-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/remove-split-inline-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/split-inner-inline-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/split-inner-inline-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/split-inner-inline-2-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/split-inner-inline-2.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/table-pseudo-in-part3-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/table-pseudo-in-part3-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/whitespace-present-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/whitespace-present-1a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/whitespace-present-1b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
Labels: status:needs-owners, vendor-imports

#9800 Correct serialization of box-shadow and text-shadow
  css/css-variables/variable-substitution-shadow-properties.html
Labels: css-variables, wg-css

#10356 Properly define EventInit in /webvr/idlharness.https.html
  webvr/idlharness.https.html
Labels: webvr

#10357 Avoid async/await in /webstorage/idlharness.html
  webstorage/idlharness.html
Labels: webstorage, wg-webplatform

#10167 Add tests for mathematical functions in <img sizes="">
  html/semantics/embedded-content/the-img-element/sizes/parse-a-sizes-attribute.html
  html/semantics/embedded-content/the-img-element/sizes/sizes-iframed.sub.html
Labels: html

#10380 Remove generate_tests from NodeIterator.html
  dom/traversal/NodeIterator.html
  lint.whitelist
Labels: dom, infra

#10334 Check for circular interface deps in idlharness.js
  resources/idlharness.js
  resources/test/tests/idlharness/IdlInterface/get_inheritance_stack.html
Labels: infra

#10231 Make the normalized wptserve config a class
  tools/ci/make_hosts_file.py
  tools/serve/serve.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
  tools/wptserve/tests/test_config.py
  tools/wptserve/wptserve/config.py
  tools/wptserve/wptserve/utils.py
Labels: infra

#10382 Test self.event in workers
  dom/events/event-global.worker.js
Labels: dom

#10376 In HTML documents, always make sure we a body
  resources/testharness.js
Labels: infra

#9519 Test box-shadow serialization
  css/css-backgrounds/box-shadow-syntax-001.html
  css/css-backgrounds/box-shadow-syntax-001.xht
  css/css-backgrounds/reference/box-shadow-syntax-001.xht
  css/css-backgrounds/resources/parsing-testcommon.js
Labels: css-backgrounds

#10393 Fix #10388: Make resources/test use the upstream config
  resources/test/config.test.json
  resources/test/wptserver.py
Labels: infra

#10403 Added note about using special keys in send_keys to testdriver docs
  docs/_writing-tests/testdriver.md
Labels: docs

#10396 Automate more focus tests with testdriver
  html/editing/focus/focus-01.html
  html/editing/focus/focus-02.html
  html/editing/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-negative.html
  html/editing/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-order.html
  html/editing/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-positive.html
  html/editing/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-zero.html
Labels: html

#10397 Add python handler directory to Python path in wptserve
  tools/wptserve/tests/functional/docroot/subdir/example_module.py
  tools/wptserve/tests/functional/docroot/subdir/import_handler.py
  tools/wptserve/tests/functional/test_handlers.py
  tools/wptserve/wptserve/handlers.py
Labels: infra

#10188 update rel help
  css/css-fonts/font-variant-05.xht
  css/css-fonts/font-variant-06.xht
Labels: css-fonts

#10000 Add tests for transferring ImageBitmap objects.
  2dcontext/imagebitmap/createImageBitmap-transfer.html
  2dcontext/imagebitmap/transfer-worker.js
Labels: 2dcontext, status:needs-owners, wg-html

#10430 Don't store logger on the Config object
  tools/wptserve/tests/test_config.py
  tools/wptserve/wptserve/config.py
Labels: infra

#10354 Add test for checking property order after setting property on CSSStyleDeclaration
  css/cssom/cssstyledeclaration-setter-order.html
Labels: cssom, wg-css

#8993 Add tests for liveness of NodeLists/HTMLCollections
  dom/nodes/Document-Element-getElementsByTagName.js
  dom/nodes/Document-Element-getElementsByTagNameNS.js
  dom/nodes/Document-getElementsByClassName.html
  dom/nodes/Element-getElementsByClassName.html
  dom/nodes/Node-childNodes.html
  dom/nodes/ParentNode-children.html
  html/dom/documents/dom-tree-accessors/document.embeds-document.plugins-01.html
  html/dom/documents/dom-tree-accessors/document.forms.html
  html/dom/documents/dom-tree-accessors/document.getElementsByName/document.getElementsByName-liveness.html
  html/dom/documents/dom-tree-accessors/document.images.html
  html/dom/documents/dom-tree-accessors/document.links.html
  html/dom/documents/dom-tree-accessors/document.scripts.html
Labels: dom, html

#10445 Rename cakey.pem to cacert.key for consistency
  tools/certs/README.md
  tools/certs/cacert.key
  tools/sslutils/openssl.py
Labels: infra

#10170 CSS Backgrounds and Borders 3 parsing tests
  css/css-backgrounds/parsing/background-attachment-invalid.html
  css/css-backgrounds/parsing/background-attachment-valid.html
  css/css-backgrounds/parsing/background-clip-invalid.html
  css/css-backgrounds/parsing/background-clip-valid.html
  css/css-backgrounds/parsing/background-color-invalid.html
  css/css-backgrounds/parsing/background-color-valid.html
  css/css-backgrounds/parsing/background-image-invalid.html
  css/css-backgrounds/parsing/background-image-valid.html
  css/css-backgrounds/parsing/background-invalid.html
  css/css-backgrounds/parsing/background-origin-invalid.html
  css/css-backgrounds/parsing/background-origin-valid.html
  css/css-backgrounds/parsing/background-position-invalid.html
  css/css-backgrounds/parsing/background-position-valid.html
  css/css-backgrounds/parsing/background-repeat-invalid.html
  css/css-backgrounds/parsing/background-repeat-valid.html
  css/css-backgrounds/parsing/background-size-invalid.html
  css/css-backgrounds/parsing/background-size-valid.html
  css/css-backgrounds/parsing/background-valid.html
  css/css-backgrounds/parsing/border-color-invalid.html
  css/css-backgrounds/parsing/border-color-valid.html
  css/css-backgrounds/parsing/border-image-invalid.html
  css/css-backgrounds/parsing/border-image-outset-invalid.html
  css/css-backgrounds/parsing/border-image-outset-valid.html
  css/css-backgrounds/parsing/border-image-repeat-invalid.html
  css/css-backgrounds/parsing/border-image-repeat-valid.html
  css/css-backgrounds/parsing/border-image-slice-invalid.html
  css/css-backgrounds/parsing/border-image-slice-valid.html
  css/css-backgrounds/parsing/border-image-source-invalid.html
  css/css-backgrounds/parsing/border-image-source-valid.html
  css/css-backgrounds/parsing/border-image-valid.html
  css/css-backgrounds/parsing/border-image-width-invalid.html
  css/css-backgrounds/parsing/border-image-width-valid.html
  css/css-backgrounds/parsing/border-invalid.html
  css/css-backgrounds/parsing/border-radius-invalid.html
  css/css-backgrounds/parsing/border-radius-valid.html
  css/css-backgrounds/parsing/border-style-invalid.html
  css/css-backgrounds/parsing/border-style-valid.html
  css/css-backgrounds/parsing/border-valid.html
  css/css-backgrounds/parsing/border-width-invalid.html
  css/css-backgrounds/parsing/border-width-valid.html
  css/css-backgrounds/parsing/box-shadow-invalid.html
  css/css-backgrounds/parsing/box-shadow-valid.html
  css/css-backgrounds/parsing/resources/parsing-testcommon.js
Labels: css-backgrounds

#10443 Use version-specific prefs files when running Firefox
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: infra

#10429 [cssom] Add a test for mutation records when CSSStyleDeclaration.setPropertyValue is invoked.
  css/cssom/cssstyledeclaration-mutationrecord-001.html
  css/cssom/cssstyledeclaration-mutationrecord-002.html
  css/cssom/cssstyledeclaration-mutationrecord-003.html
  css/cssom/cssstyledeclaration-mutationrecord-004.html
Labels: cssom, wg-css

#10462 Accept variation in serialization of 'background'
  css/css-backgrounds/parsing/background-valid.html
Labels: css-backgrounds

#10263 Update serialization of timing functions
  css/css-transitions/transition-001.html
  css/css-transitions/transition-timing-function-001.html
Labels: css-transitions

#8508 Test that requestMediaKeySystemAccess sets label
  encrypted-media/scripts/requestmediakeysystemaccess.js
Labels: encrypted-media, wg-html

#10422 [cssom] Add tests for some recent CSSWG resolutions.
  css/cssom/getComputedStyle-detached-subtree.html
  css/cssom/getComputedStyle-dynamic-subdoc.html
  css/cssom/getComputedStyle-pseudo.html
Labels: cssom, wg-css

#10470 Sync Mozilla tests as of 2018-04-14
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-003-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-003a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-003b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-004-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-004a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-flex-basis-content-004b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: status:needs-owners, vendor-imports

#10383 [css-values] Typo fixes
  css/css-values/attr-invalid-type-001.html
  css/css-values/attr-invalid-type-002.html
  css/css-values/calc-in-calc.html
Labels: css-values, wg-css

#10444 Improve handling of harness-level errors in wptrunner
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
  tools/wptrunner/wptrunner/executors/pytestrunner/runner.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra

#9987 Ensure cloneNode() does not preserve the prototype
  dom/nodes/Node-cloneNode.html
Labels: dom

#10421 Fetch: align about:blank handling with the standard
  fetch/api/basic/scheme-about.any.js
  fetch/api/headers/header-values-normalize.html
  fetch/api/headers/header-values.html
Labels: fetch

#8422 Adjust XMLHttpRequest Content-Type handling
  xhr/send-content-type-charset.htm
Labels: xhr

#10484 null is not the correct origin for createDocument()
  dom/nodes/Node-cloneNode.html
Labels: dom

#10487 Remove old drawCustomFocusRing test
  2dcontext/drawing-paths-to-the-canvas/canvas_focus_drawCustomFocusRing_001.html
Labels: 2dcontext, status:needs-owners, wg-html

#10486 Meta: certificate advice for macOS (Chrome/Safari)
  tools/certs/README.md
Labels: infra

#8449 Add more XMLHttpRequest overrideMimeType() tests
  mimesniff/mime-types/resources/mime-types.json
  xhr/overridemimetype-blob.html
  xhr/overridemimetype-edge-cases.window.js
  xhr/responsetext-decoding.htm
Labels: mimesniff, xhr

#10148 Do not print logs twice when running wpt lint
  tools/lint/lint.py
Labels: infra

#10494 Fixed config.json not being used in TestEnvironment
  tools/wptrunner/wptrunner/environment.py
Labels: infra

#10505 Don't wrap HTTPExceptions in FunctionHandler.__call__().
  tools/wptserve/wptserve/handlers.py
Labels: infra

#10506 Fix README.md command: python wpt run
  README.md
Labels: infra

#10401 Updating WebDriver execute[Async]Script tests for unhandled user prompts
  webdriver/tests/execute_async_script/user_prompts.py
  webdriver/tests/execute_script/user_prompts.py
Labels: webdriver, wg-testing_browser

#10499 [wptrunner] Install Ahem in Sauce Labs Windows VM
  fonts/README.md
  tools/wptrunner/wptrunner/browsers/sauce_setup/edge-prerun.bat
Labels: assets, infra

#10491 Install Ahem for Safari on Sauce
  tools/wptrunner/wptrunner/browsers/sauce_setup/safari-prerun.sh
Labels: infra

#10441 Test vertical tab for base64
  fetch/data-urls/resources/base64.json
Labels: fetch

#10515 URL.createObjectURL should not work with MediaStream
  mediacapture-streams/MediaStream-MediaElement-preload-none-manual.https.html
  mediacapture-streams/historical.html
Labels: mediacapture-streams, wg-webrtc

#10509 Fetch: MediaSource blob: URLs
  fetch/api/basic/mediasource.window.js
Labels: fetch

#10518 Avoid FutureWarnings in test_sourcefile.py.
  tools/manifest/tests/test_sourcefile.py
Labels: infra

#9968 DOM: test composed/composedPath via IDL
  interfaces/dom.idl
  shadow-dom/Extensions-to-Event-Interface.html
  shadow-dom/resources/event-path-test-helpers.js
Labels: interfaces, shadow-dom, wg-webplatform

#10527 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=184746
  service-workers/service-worker/fetch-request-resources.https.html
  service-workers/service-worker/resources/fetch-request-resources-iframe.https.html
  service-workers/service-worker/resources/fetch-request-resources-worker.js
Labels: service-workers, webkit-export, wg-sw

#9039 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=180347
  fetch/api/redirect/redirect-mode.js
  service-workers/service-worker/fetch-event-redirect.https.html
Labels: fetch, service-workers, webkit-export, wg-sw

#10536 Update fetch and service worker tests to allow same-origin redirects …
  fetch/api/redirect/redirect-mode.js
  fetch/api/resources/cors-top.txt
  fetch/api/resources/cors-top.txt.headers
  service-workers/service-worker/fetch-event-redirect.https.html
Labels: fetch, service-workers, wg-sw

#10546 Fix ssl_config
  tools/wptserve/wptserve/config.py
Labels: infra

#9911 [WIP] Update testing of Request's default credentials mode
  fetch/api/request/request-init-003.sub.html
  fetch/api/request/request-structure.html
Labels: fetch

#8287 Test active script, via import(), in promise jobs
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-of-promise-result.html
Labels: html

#10538 Fix a couple of typos in test messages
  css/css-fonts/variations/font-shorthand.html
Labels: css-fonts

#10535 Flip serialization of two font-variation-settings tests
  css/css-fonts/variations/font-variation-settings-parsing.html
Labels: css-fonts

#10542 Add tests for handling bad content encoding in fetch
  fetch/content-encoding/bad-gzip-body.any.js
  fetch/content-encoding/resources/bad-gzip-body.py
Labels: fetch

#10563 Sync Mozilla reftests as of 2018-04-21
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-definite-sizes-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-definite-sizes-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-definite-sizes-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-definite-sizes-003.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-definite-sizes-004.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: status:needs-owners, vendor-imports

#10583 [innerText] add OWNERS
  innerText/OWNERS
Labels: innerText, status:needs-owners

#10585 Add acid/OWNERS and js/OWNERS
  acid/OWNERS
  js/OWNERS
Labels: acid, js, status:needs-owners

#10578 [css-sizing] add OWNERS
  css/css-sizing/OWNERS
Labels: css-sizing, status:needs-owners

#10581 [css-motion] add OWNERS
  css/motion/OWNERS
Labels: motion, status:needs-owners

#10587 Move innerText/* to html/dom/elements/the-innertext-idl-attribute/
  html/dom/elements/the-innertext-idl-attribute/OWNERS
  html/dom/elements/the-innertext-idl-attribute/getter-tests.js
  html/dom/elements/the-innertext-idl-attribute/getter.html
  html/dom/elements/the-innertext-idl-attribute/multiple-text-nodes.window.js
  html/dom/elements/the-innertext-idl-attribute/setter-tests.js
  html/dom/elements/the-innertext-idl-attribute/setter.html
Labels: html, innerText

#10419 XMLHttpRequest: align username/password test with the standard
  xhr/resources/authentication.py
  xhr/send-authentication-competing-names-passwords.htm
Labels: xhr

#6792 Redo autogenerated metadata
  docs/_writing-tests/file-names.md
  docs/_writing-tests/testharness.md
  tools/lint/lint.py
  tools/lint/tests/test_file_lints.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
  tools/serve/serve.py
Labels: docs, infra

#10595 Meta: remove old-tests/submission/migration.txt
  old-tests/submission/migration.txt
Labels: old-tests, status:needs-owners

#10592 Update DOMPoint and DOMQuad tests
  css/geometry/DOMPoint-001.html
  css/geometry/DOMQuad-001.html
  css/geometry/historical.html
Labels: geometry

#10521 [css-position] add OWNERS
  css/css-position/OWNERS
Labels: css-position, status:needs-owners

#10599 Add support for test variants in .any.js tests.
  docs/_writing-tests/testharness.md
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
  tools/serve/serve.py
Labels: docs, infra

#10601 Correct any.js documentation
  docs/_writing-tests/testharness.md
Labels: docs

#10600 Fetch: use new any.js for general abort test
  fetch/api/abort/general-serviceworker.https.html
  fetch/api/abort/general-sharedworker.html
  fetch/api/abort/general.any.js
Labels: fetch

#10540 Link to some PR filters to encourage review
  README.md
Labels: infra

#10584 Add css/vendor-imports/mozilla/mozilla-central-reftests/OWNERS
  css/vendor-imports/mozilla/OWNERS
Labels: vendor-imports

#10549 Css contain
  css/css-contain/contain-layout-001.html
  css/css-contain/contain-layout-002.html
  css/css-contain/contain-layout-003.html
  css/css-contain/contain-layout-004.html
  css/css-contain/contain-layout-005.html
  css/css-contain/contain-layout-breaks-001.html
  css/css-contain/contain-layout-breaks-002.html
  css/css-contain/contain-paint-001.html
  css/css-contain/contain-paint-002.html
  css/css-contain/contain-paint-003.html
  css/css-contain/contain-paint-004.html
  css/css-contain/contain-paint-005.html
  css/css-contain/contain-paint-006.html
  css/css-contain/contain-paint-007.html
  css/css-contain/contain-paint-008.html
  css/css-contain/contain-size-001.html
  css/css-contain/contain-size-002.html
  css/css-contain/contain-size-003.html
  css/css-contain/contain-size-004.html
  css/css-contain/contain-size-005.html
  css/css-contain/contain-size-breaks-001.html
  css/css-contain/contain-style-breaks-001.html
  css/css-contain/contain-style-breaks-002.html
  css/css-contain/contain-style-breaks-003.html
  css/css-contain/contain-style-breaks-004.html
  css/css-contain/contain-style-breaks-005.html
  css/css-contain/counter-scoping-001.html
  css/css-contain/counter-scoping-002.html
  css/css-contain/counter-scoping-003.html
  css/css-contain/quote-scoping-001.html
  css/css-contain/quote-scoping-002.html
  css/css-contain/quote-scoping-003.html
  css/css-contain/quote-scoping-004.html
  css/css-contain/reference/contain-layout-002-ref.html
  css/css-contain/reference/contain-layout-004-ref.html
  css/css-contain/reference/contain-layout-005-ref.html
  css/css-contain/reference/contain-layout-breaks-002-ref.html
  css/css-contain/reference/contain-paint-001-ref.html
  css/css-contain/reference/contain-paint-004-ref.html
  css/css-contain/reference/contain-paint-007-ref.html
  css/css-contain/reference/contain-paint-008-ref.html
  css/css-contain/reference/contain-size-001-ref.html
  css/css-contain/reference/contain-size-004-ref.html
  css/css-contain/reference/contain-size-005-ref.html
  css/css-contain/reference/contain-size-breaks-001-ref.html
  css/css-contain/reference/contain-style-breaks-001-ref.html
  css/css-contain/reference/contain-style-breaks-004-ref.html
  css/css-contain/reference/counter-scoping-001-ref.html
  css/css-contain/reference/counter-scoping-003-ref.html
  css/css-contain/reference/quote-scoping-001-ref.html
  css/css-contain/reference/quote-scoping-002-ref.html
  css/css-contain/reference/quote-scoping-003-ref.html
Labels: css-contain, wg-css

#10488 test incremental updates with updateWith()
  payment-request/PaymentRequestUpdateEvent/updateWith-incremental-update-manual.https.html
Labels: payment-request, wg-payments

#10500 refactor to use test_driver
  payment-request/payment-request-abort-method-manual.https.html
  payment-request/payment-request-abort-method.https.html
Labels: payment-request, wg-payments

#10629 Encoding: test IDL in all globals
  encoding/idlharness.any.js
  encoding/idlharness.html
Labels: encoding

#10630 Ensure event handlers are not garbage collected in ImageBitmap tests on WebKit.
  2dcontext/imagebitmap/common.sub.js
Labels: 2dcontext, status:needs-owners, webkit-export, wg-html

#10638 Fix test for Event.returnValue
  dom/events/Event-returnValue.html
Labels: dom

#10637 Encoding: fix big5-enc-ascii.html
  encoding/legacy-mb-tchinese/big5/big5-enc-ascii.html
Labels: encoding

#10632 Encoding: add missing script to iso2022jp-encode-form-csiso2022jp.html
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-form-csiso2022jp.html
Labels: encoding

#10628 [css-text] tests for overflow-wrap with break-word + break-spaces
  css/css-text/overflow-wrap/overflow-wrap-break-word-002.html
  css/css-text/overflow-wrap/overflow-wrap-break-word-003.html
  css/css-text/overflow-wrap/reference/overflow-wrap-break-word-002-ref.html
  css/css-text/overflow-wrap/reference/overflow-wrap-break-word-003-ref.html
Labels: css-text, wg-css

#10633 Encoding: remove incorrect iso-2022-jp test
  encoding/legacy-mb-japanese/iso-2022-jp/iso2022jp-encode-href-ascii.html
Labels: encoding

#10341 Add some obsolete, proprietary Gecko interfaces to historical tests.
  FileAPI/historical.https.html
  IndexedDB/historical.html
  dom/historical.html
Labels: FileAPI, IndexedDB, dom, wg-webapps, wg-webplatform

#10649 Allow up to 30s for the servers to start
  tools/wptrunner/wptrunner/environment.py
Labels: infra

#10650 Use a simpler and more reliable way to access the global scope in testharness.js.
  resources/testharness.js
Labels: infra

#10605 Fetch: reduce boilerplate in api/basic/
  fetch/api/basic/integrity-sharedworker.html
  fetch/api/basic/integrity-worker.html
  fetch/api/basic/integrity.html
  fetch/api/basic/integrity.sub.any.js
  fetch/api/basic/mode-no-cors-worker.html
  fetch/api/basic/mode-no-cors.html
  fetch/api/basic/mode-no-cors.sub.any.js
  fetch/api/basic/response-url-worker.html
  fetch/api/basic/response-url.html
  fetch/api/basic/response-url.sub.any.js
  fetch/api/basic/scheme-blob-worker.html
  fetch/api/basic/scheme-blob.html
  fetch/api/basic/scheme-blob.sub.any.js
  fetch/api/basic/scheme-others-worker.html
  fetch/api/basic/scheme-others.html
  fetch/api/basic/scheme-others.sub.any.js
Labels: fetch

#10642 Additional fixes to DOMQuad-001.html
  css/geometry/DOMQuad-001.html
Labels: geometry

#10658 Encoding: remove bogus euc-kr test
  encoding/legacy-mb-korean/euc-kr/euckr-encode-form-errors-hangul.html
Labels: encoding

#10664 Add web-platform-tests logos
  images/wpt-logo/wpt-logo-darkblue-bg.svg
  images/wpt-logo/wpt-logo-darkblue.svg
  images/wpt-logo/wpt-logo-lightblue-bg.svg
  images/wpt-logo/wpt-logo-orange-bg.svg
  images/wpt-logo/wpt-logo-white.svg
Labels: assets

#9339 [css3-images] Parsing tests for images properties
  css/css-images/parsing/gradient-position-invalid.html
  css/css-images/parsing/gradient-position-valid.html
  css/css-images/parsing/image-orientation-invalid.html
  css/css-images/parsing/image-orientation-valid.html
  css/css-images/parsing/image-rendering-invalid.html
  css/css-images/parsing/image-rendering-valid.html
  css/css-images/parsing/image-resolution-invalid.html
  css/css-images/parsing/image-resolution-valid.html
  css/css-images/parsing/object-fit-invalid.html
  css/css-images/parsing/object-fit-valid.html
  css/css-images/parsing/object-position-invalid.html
  css/css-images/parsing/object-position-valid.html
  css/css-images/parsing/resources/parsing-testcommon.js
Labels: css-images

#10192 Add tests for Request.isReloadNavigation
  fetch/api/request/request-idl.html
  fetch/api/request/request-reset-attributes.https.html
  fetch/api/request/request-structure.html
  fetch/api/request/resources/hello.txt
  fetch/api/request/resources/request-reset-attributes-worker.js
  service-workers/cache-storage/resources/cache-keys-attributes-for-service-worker.js
  service-workers/cache-storage/serviceworker/cache-keys-attributes-for-service-worker.https.html
  service-workers/service-worker/fetch-event-is-reload-iframe-navigation-manual.https.html
  service-workers/service-worker/fetch-event-is-reload-navigation-manual.https.html
  service-workers/service-worker/fetch-event.https.html
  service-workers/service-worker/resources/fetch-event-test-worker.js
  service-workers/service-worker/resources/install-worker.html
Labels: fetch, service-workers, wg-sw

#10673 Use a non-zero exit code if tag_master.py fails
  tools/ci/tag_master.py
Labels: infra

#10665 Increase taskcluster test chunks and timeouts.
  .taskcluster.yml
  tools/ci/taskgraph.py
Labels: infra

#10678 Fetch: align IDL testing with other standards
  fetch/api/headers/headers-idl.html
  fetch/api/idl.any.js
  fetch/api/request/request-idl.html
  fetch/api/response/response-idl.html
  interfaces/fetch.idl
Labels: fetch, interfaces

#10681 Log the response body when something goea wrong in tag_master.py
  tools/ci/tag_master.py
Labels: infra

#10683 Ignore css/tools/_virtualenv in .gitignore
  css/.gitignore
Labels: infra, status:needs-owners

#10677 Set log level to INFO for PR tagging script
  tools/ci/tag_master.py
Labels: infra

#10687 Use sha:<SHA> in tag_master.py instead of just <SHA>
  tools/ci/tag_master.py
Labels: infra

#10406 Add a infrastructure test to ensure that we can set Firefox prefs.
  infrastructure/browsers/firefox/prefs.html
  infrastructure/metadata/infrastructure/browsers/firefox/__dir__.ini
  infrastructure/metadata/infrastructure/browsers/firefox/prefs.html.ini
Labels: infra, status:needs-owners

#10694 Bump the versions of some moz* dependencies
  tools/wptrunner/requirements_firefox.txt
Labels: infra

#10539 Test for https://github.com/w3c/csswg-drafts/pull/1986
  css/css-syntax/declarations-trim-whitespace.html
Labels: css-syntax, wg-css

#10693 Assert serverTiming lives on PerformanceNavigationTiming and PerformanceResourceTiming
  server-timing/navigation_timing_idl.html
  server-timing/resource_timing_idl.html
  server-timing/server_timing_header-parsing.html
Labels: server-timing, status:needs-owners, wg-webperf

#10562 Fix RequestHeaders to proper concat repeats
  tools/wptserve/wptserve/request.py
Labels: infra, wptserve

#10612 Add infrastructure/OWNERS
  infrastructure/OWNERS
Labels: infra, status:needs-owners

#10711 XMLHttpRequest: remove some unneeded boilerplate resources
  xhr/abort-during-open.any.js
  xhr/abort-during-open.htm
  xhr/abort-during-open.worker.js
  xhr/send-send.any.js
  xhr/send-send.htm
  xhr/send-send.worker.js
Labels: xhr

#10712 Correct new Document() URL test
  dom/nodes/Document-constructor.html
Labels: dom, html

#10723 Attempt to make Config.ports() thread-safe
  tools/wptserve/wptserve/config.py
Labels: infra
