Repository web-platform-tests/wpt, pull requests merged in 2018-08, with the labels that each got.

#12211 Fold "Unscopable handled correctly" tests into the attribute/operation tests
  resources/idlharness.js
  resources/test/tests/unit/IdlInterface/do_member_unscopable_asserts.html
Labels: idlharness.js, infra, testharness.js

#9779 Update the dom IDL file
  interfaces/dom.idl
Labels: interfaces

#12258 Sync Mozilla tests as of 2018-08-01
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-column-row-gap-004-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-column-row-gap-004.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: vendor-imports

#12261 servodriver: Use config property instead of kwarg for browser kwargs.
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner

#6334 Add tests for self.queueMicrotask()
  html/webappapis/microtask-queuing/queue-microtask-exceptions.any.js
  html/webappapis/microtask-queuing/queue-microtask.any.js
  html/webappapis/microtask-queuing/queue-microtask.window.js
Labels: html, status:needs-spec-decision

#11978 Update the CSS-Parser-API IDL file
  css/css-parser-api/META.yml
  css/css-parser-api/idlharness.html
  interfaces/CSS-Parser-API.idl
Labels: css-parser, css-parser-api, interfaces

#12248 [URL] Add additional tests for URLSearchParams.sort()
  url/urlsearchparams-sort.html
Labels: url

#11945 Update the navigation-timing IDL file
  interfaces/navigation-timing.idl
Labels: interfaces, status:needs-reviewers

#12272 [idlharness.js] Catch IdlArray.test bugs better
  resources/idlharness.js
Labels: idlharness.js, infra

#11947 Update media-capabilities IDL + test
  interfaces/media-capabilities.idl
  media-capabilities/idlharness.any.js
Labels: interfaces, media-capabilities

#12276 Add a default name ("idl_test setup") for idl_test
  encoding/idlharness.any.js
  resources/idlharness.js
Labels: encoding, idlharness.js, infra

#11699 Auto-update the webrtc-stats IDL file
  interfaces/webrtc-stats.idl
  webrtc-stats/idlharness.window.js
Labels: interfaces, webrtc-stats, wg-webrtc

#11932 Update payment-handler IDL and tests
  interfaces/payment-handler.idl
  payment-handler/idlharness.https.any.js
  payment-handler/interfaces.https.any.js
Labels: interfaces, payment-handler, wg-payments

#12230 webrtc: throw InvalidAccessError on mismatching rtcpmuxPolicy in setRemoteDescription
  webrtc/RTCConfiguration-rtcpMuxPolicy.html
Labels: webrtc, wg-webrtc

#11893 Update the css-typed-om IDL file
  css/css-typed-om/interfaces.html
  interfaces/css-typed-om.idl
Labels: css-typed-om, interfaces

#11872 Update the WebXR IDL file
  interfaces/webxr.idl
  webxr/idlharness.https.window.js
  webxr/interfaces.https.html
Labels: interfaces, webxr

#12271 Test that removal from a MediaStream fires ended on media elements.
  mediacapture-streams/MediaStream-removetrack.https.html
Labels: mediacapture-streams, wg-webrtc

#11925 Update the push-api IDL and tests
  interfaces/push-api.idl
  push-api/idlharness.any.js
  push-api/idlharness.https.any.js
Labels: interfaces, push-api, wg-webplatform

#11859 Update the notifications IDL file
  interfaces/notifications.idl
  notifications/idlharness.any.js
Labels: interfaces, notifications

#12274 Fix webusb IDL test
  webusb/idlharness.https.any.js
  webusb/resources/usb-helpers.js
Labels: filter-effects, webusb, wg-css, wg-svg

#12286 Test NotificationEvent only in service workers
  notifications/idlharness.any.js
Labels: notifications

#12288 Compress wpt_report.json on Taskcluster
  tools/ci/ci_taskcluster.sh
Labels: ci, infra

#12268 [workers] Detect errors to avoid timeouts
  workers/WorkerGlobalScope_requestAnimationFrame.htm
  workers/modules/dedicated-worker-import-blob-url.any.js
  workers/modules/dedicated-worker-import-failure.html
  workers/modules/dedicated-worker-import-meta.html
  workers/modules/dedicated-worker-import.any.js
Labels: wg-webapps, workers

#12270 [css-contain] Apply different changes to improve tests
  css/css-contain/contain-layout-001.html
  css/css-contain/contain-paint-001.html
  css/css-contain/contain-paint-011.html
  css/css-contain/contain-paint-012.html
  css/css-contain/contain-size-breaks-001.html
Labels: css-contain

#12269 [css-contain] Containment and stacking contexts
  css/css-contain/contain-layout-016.html
  css/css-contain/contain-layout-017.html
  css/css-contain/contain-paint-020.html
  css/css-contain/contain-paint-021.html
Labels: css-contain

#11700 Auto-update the webrtc IDL file
  interfaces/webrtc-pc.idl
  interfaces/webrtc.idl
  webrtc/idlharness.https.window.js
  webrtc/interfaces.https.html
Labels: idlharness.js, infra, interfaces, webrtc, wg-webrtc

#11865 Update the html-media-capture IDL file
  html-media-capture/idlharness.html
  html-media-capture/idlharness.window.js
  interfaces/html-media-capture.idl
Labels: html-media-capture, interfaces, wg-das

#11868 Update the css-conditional IDL file.
  interfaces/css-conditional.idl
Labels: css-conditional, interfaces

#9841 Add the webmidi IDL file + test
  interfaces/webmidi.idl
  webmidi/META.yml
  webmidi/idlharness.window.js
Labels: interfaces, status:needs-reviewers, webmidi, wg-audio

#11862 Update the hr-time IDL file
  hr-time/idlharness.any.js
  hr-time/idlharness.html
  interfaces/hr-time.idl
Labels: hr-time, interfaces, wg-webperf

#11825 Update the filter-effects IDL file
  interfaces/filter-effects.idl
Labels: interfaces

#11854 Update the css-pseudo IDL test
  css/css-pseudo/idlharness.html
  css/css-pseudo/interfaces.html
Labels: css-pseudo, interfaces

#11858 Update the intersection-observer IDL file
  interfaces/intersection-observer.idl
  intersection-observer/idlharness.window.js
Labels: interfaces, intersection-observer, wg-webplatform

#11863 Add objects to the DOM-Parsing IDL test
  domparsing/interfaces.any.js
Labels: domparsing

#12307 Revert "Update selenium from 3.13.0 to 3.14.0"
  tools/wptrunner/requirements_safari.txt
Labels: infra, wptrunner

#12094 Add preamble to testdriver-tutorial.html
  docs/_writing-tests/testdriver-tutorial.md
Labels: docs

#12308 Fix typo in Media Capabilities IDL test
  media-capabilities/idlharness.any.js
Labels: media-capabilities

#12311 Remove duplicated interfaces/touchevents.idl
  html/dom/interfaces.worker.js
  interfaces/touchevents.idl
Labels: html, interfaces

#12314 [css-contain] Update contain-paint-001 reference
  css/css-contain/reference/contain-paint-001-ref.html
Labels: css-contain

#12320 Add negative test for SpeechRecognitionError
  speech-api/historical.html
Labels: speech-api

#11550 Import Web Speech API conformance tests
  speech-api/SpeechRecognition-abort-manual.https.html
  speech-api/SpeechRecognition-basics.https.html
  speech-api/SpeechRecognition-onerror-manual.https.html
  speech-api/SpeechRecognition-onresult-manual.https.html
  speech-api/SpeechRecognition-stop-manual.https.html
  speech-api/webspeech.js
Labels: speech-api

#12319 Test that SpeechSynthesisUtterance's voice attribute is initially null
  speech-api/SpeechSynthesisUtterance-basics.https.html
Labels: speech-api

#12322 Add @andypaicu as suggested reviewer for CSP
  content-security-policy/META.yml
Labels: content-security-policy

#12303 Fix a t.assert_unreached typo in a CSP test helper
  content-security-policy/embedded-enforcement/support/testharness-helper.sub.js
Labels: content-security-policy

#12304 Wrap a stray assert (causing harness error) in a test
  priority-hints/img-attr-named-constructor.tentative.html
Labels: priority-hints

#12318 Sync trivial IDL differences in interfaces/
  interfaces/FileAPI.idl
  interfaces/animation-worklet.idl
  interfaces/battery-status.idl
  interfaces/keyboard-map.idl
  interfaces/media-source.idl
  interfaces/mediacapture-streams.idl
Labels: interfaces

#12295 Add interfaces/README.md to explain reffy-reports origins
  interfaces/README.md
Labels: interfaces

#12324 Add more suggested reviewers for Priority Hints
  priority-hints/META.yml
Labels: priority-hints

#12335 Sync whitespace IDL differences in interfaces/
  interfaces/netinfo.idl
  interfaces/performance-timeline.idl
  interfaces/webmidi.idl
  interfaces/webrtc.idl
Labels: interfaces

#12317 Add Web Speech API IDL file + test
  interfaces/speech-api.idl
  speech-api/idlharness.window.js
Labels: interfaces, speech-api

#12293 Use a .worker.js test for WorkerGlobalScope_requestAnimationFrame.
  workers/WorkerGlobalScope_requestAnimationFrame.htm
  workers/WorkerGlobalScope_requestAnimationFrame.tentative.worker.js
Labels: wg-webapps, workers

#10871 Add basic text multiline text (via 'white-space').
  svg/text/reftests/text-multiline-001-ref.svg
  svg/text/reftests/text-multiline-001.svg
  svg/text/reftests/text-multiline-002-ref.svg
  svg/text/reftests/text-multiline-002.svg
  svg/text/reftests/text-multiline-003-ref.svg
  svg/text/reftests/text-multiline-003.svg
Labels: svg, wg-svg

#10249 Add test for DocumentAndElementEventHandlers in SVG
  svg/types/scripted/event-handler-all-document-element-events.svg
Labels: svg, wg-svg

#10275 Add tests for rel, rellist, download, and text on SVGAElement
  svg/linking/scripted/a-download-click.svg
  svg/linking/scripted/a.rel-getter-01.svg
  svg/linking/scripted/a.rel-setter-01.svg
  svg/linking/scripted/a.text-getter-01.svg
  svg/linking/scripted/a.text-setter-01.svg
  svg/linking/scripted/rellist-feature-detection.svg
  svg/linking/scripted/resources/a-download-click.svg
Labels: svg, wg-svg

#10868 Add basic text 'inline-size' tests.
  svg/text/reftests/text-inline-size-001-ref.svg
  svg/text/reftests/text-inline-size-001.svg
  svg/text/reftests/text-inline-size-002-ref.svg
  svg/text/reftests/text-inline-size-002.svg
  svg/text/reftests/text-inline-size-003-ref.svg
  svg/text/reftests/text-inline-size-003.svg
  svg/text/reftests/text-inline-size-005-ref.svg
  svg/text/reftests/text-inline-size-005.svg
  svg/text/reftests/text-inline-size-006-ref.svg
  svg/text/reftests/text-inline-size-006.svg
  svg/text/reftests/text-inline-size-007-ref.svg
  svg/text/reftests/text-inline-size-007.svg
  svg/text/reftests/text-inline-size-101-ref.svg
  svg/text/reftests/text-inline-size-101.svg
  svg/text/reftests/text-inline-size-201-ref.svg
  svg/text/reftests/text-inline-size-201.svg
  svg/text/visualtests/text-inline-size-001-visual.svg
  svg/text/visualtests/text-inline-size-002-visual.svg
  svg/text/visualtests/text-inline-size-003-visual.svg
  svg/text/visualtests/text-inline-size-005-visual.svg
  svg/text/visualtests/text-inline-size-006-visual.svg
  svg/text/visualtests/text-inline-size-007-visual.svg
  svg/text/visualtests/text-inline-size-101-visual.svg
  svg/text/visualtests/text-inline-size-201-visual.svg
Labels: svg, wg-svg

#10926 Add test for marker 'orient' attribute.
  svg/painting/reftests/markers-orient-001-ref.svg
  svg/painting/reftests/markers-orient-001.svg
Labels: svg, wg-svg

#12338 Fix some typos in testharness.js.
  resources/testharness.js
Labels: infra, testharness.js

#12342 Sync Mozilla tests as of 2018-08-07
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-table-caption-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-table-caption-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
Labels: vendor-imports

#12341 Don't try to re-encode already-encoded bytes when serializing.
  tools/wptrunner/wptrunner/wptmanifest/serializer.py
Labels: infra, wptrunner

#12321 Fix module worker referrer tests
  workers/modules/dedicated-worker-import-referrer.html
Labels: wg-webapps, workers

#12348 Update nokogiri version
  annotation-vocab/tools/ruby-rdf/Gemfile.lock
Labels: annotation-vocab, wg-annotation

#12330 Fix worklet referrer tests to match spec
  worklets/resources/referrer-checker.py
  worklets/resources/referrer-tests.js
  worklets/resources/referrer-window.html
Labels: worklets

#12281 Ensure that in-repo files that match gitignore rules are synced.
  tools/wptrunner/wptrunner/update/sync.py
  tools/wptrunner/wptrunner/update/tree.py
  tools/wptrunner/wptrunner/vcs.py
Labels: infra, wptrunner

#12349 [css-grid] Update grid-layout-properties.html to new behavior
  css/css-grid/grid-layout-properties.html
Labels: css-grid

#11750 Add a test for getRootNode({composed:true})
  dom/nodes/rootNode.html
Labels: dom

#11963 Add a test for the absence of XMLDocument.prototype.load
  dom/historical.html
Labels: dom

#12353 Rename idlharness tests for [SecureContext] APIs to .https.
  background-fetch/idlharness.https.any.js
  notifications/idlharness.https.any.js
  push-api/idlharness.https.any.js
Labels: background-fetch, notifications, push-api, wg-webplatform

#12351 Add tests for 'face' and 'size' attribute on <font> element
  html/rendering/non-replaced-elements/phrasing-content-0/font-element-text-decoration-color/font-face.html
  html/rendering/non-replaced-elements/phrasing-content-0/font-element-text-decoration-color/font-size.html
Labels: html

#11775 Check [NewObject] on show(), use webdriver
  payment-request/payment-request-abort-method.https.html
  payment-request/payment-request-canmakepayment-method.https.html
  payment-request/payment-request-show-method.https.html
  payment-request/payment-response/complete-method-manual.https.html
Labels: payment-request, wg-payments

#12373 Fix bug in Document-url.sub.html
  dom/nodes/Document-URL.html
Labels: dom

#12375 Actually pass capabilities to marionette session
  tools/wptrunner/wptrunner/executors/executormarionette.py
Labels: infra, wptrunner

#12376 Run registerProtocolHandler tests in a secure context.
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol.https.html
Labels: html

#12305 Wrap an assert in step_func in a CSP test
  content-security-policy/unsafe-hashes/style_attribute_allowed.html
Labels: content-security-policy

#10914 Add basic test for 'paint-order'.
  svg/painting/reftests/paint-order-001-ref.svg
  svg/painting/reftests/paint-order-001.svg
Labels: svg, wg-svg

#12369 Ensure the ls-tree/check-ignore pairing use the same separators.
  tools/wptrunner/wptrunner/update/tree.py
Labels: infra, wptrunner

#12359 HTML: Add checks for the return value of document.open()
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/002.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/004.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/005.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/006.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/008.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/009.https.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/010.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/011-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/012-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/013-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/014-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/015-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/016-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-ignore-opens-during-unload.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-synchronous-script.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/custom-element.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/encoding.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/ignore-opens-during-unload.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/mutation-events.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/type-argument-plaintext.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/type-argument.window.js
Labels: html

#8748 [testharness.js] Honor promises from cleanup fns
  docs/_writing-tests/testharness-api.md
  lint.whitelist
  resources/test/conftest.py
  resources/test/tests/functional/add_cleanup_async.html
  resources/test/tests/functional/add_cleanup_async_bad_return.html
  resources/test/tests/functional/add_cleanup_async_rejection.html
  resources/test/tests/functional/add_cleanup_async_rejection_after_load.html
  resources/test/tests/functional/add_cleanup_async_timeout.html
  resources/test/tests/functional/add_cleanup_bad_return.html
  resources/test/tests/functional/add_cleanup_count.html
  resources/test/tests/functional/add_cleanup_err.html
  resources/test/tests/functional/add_cleanup_err_multi.html
  resources/test/tests/functional/add_cleanup_sync_queue.html
  resources/test/tests/functional/iframe-consolidate-errors.html
  resources/test/tests/functional/promise-with-sync.html
  resources/test/tests/functional/queue.html
  resources/test/tests/functional/task-scheduling-promise-test.html
  resources/test/tests/functional/task-scheduling-test.html
  resources/test/tests/functional/worker-dedicated.sub.html
  resources/test/tests/unit/exceptional-cases.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#12377 Replace document.origin with self.origin in cookie-helper.sub.js
  cookies/resources/cookie-helper.sub.js
Labels: cookies

#12386 Rewrite secure-contexts/idlharness.any.js to use idl_test
  secure-contexts/idlharness.any.js
Labels: secure-contexts, wg-webappsec

#12296 [Streams] Add a test for piping to errored
  streams/piping/multiple-propagation.js
Labels: streams

#12392 Fix typo in contain-size ruby tests (s/internatl/internal)
  css/css-contain/contain-size-002.html
  css/css-contain/contain-size-003.html
  css/css-contain/contain-size-004.html
  css/css-contain/contain-size-005.html
Labels: css-contain

#12367 [wptrunner] Remove unused code
  tools/wptrunner/wptrunner/reduce.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#12405 Convert compat+console+fullscreen+storage+url+xhr to idl_test
  compat/idlharness.window.js
  compat/interfaces.any.js
  console/idlharness.any.js
  fullscreen/idlharness.window.js
  fullscreen/interfaces.html
  storage/idlharness.https.any.js
  storage/interfaces.https.html
  storage/interfaces.https.worker.js
  url/idlharness.any.js
  url/interfaces.any.js
  xhr/idlharness.any.js
  xhr/interfaces.html
Labels: compat, console, fullscreen, storage, url, xhr

#12202 Fix test case which relied on outdated Name/QName production
  dom/nodes/Document-createElement.html
  dom/nodes/Document-createElementNS.js
Labels: dom

#12381 Fix service worker tests generated from non-https .any.js
  infrastructure/server/context.any.js
  infrastructure/server/secure-context.https.any.js
  tools/manifest/item.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_item.py
  tools/manifest/tests/test_sourcefile.py
  tools/serve/serve.py
Labels: infra, manifest, serve

#12390 Rewrite Budget API IDL test to use idl_test
  budget-api/idlharness.https.any.js
  budget-api/interfaces.any.js
Labels: budget-api

#12415 Test that there's no help cursor on help links
  html/rendering/the-css-user-agent-style-sheet-and-presentational-hints/no-help-cursor-on-links.historical.html
Labels: html

#12422 [Battery] Correct IDL file name
  battery-status/battery-interface-idlharness.https.window.js
Labels: battery-status, wg-das

#12432 Avoid using Promise.prototype.finally in idlharness.js
  resources/idlharness.js
Labels: idlharness.js, infra

#12343 [html] Verify synchronicity of beforeunload event
  html/browsers/browsing-the-web/unloading-documents/beforeunload-synchronous.html
Labels: html

#12437 implement opener, disowning
  html/browsers/windows/auxiliary-browsing-contexts/opener-setter.html
  html/browsers/windows/auxiliary-browsing-contexts/resources/opener-setter.html
Labels: servo-export

#12438 Update interfaces/speech-api.idl
  interfaces/speech-api.idl
Labels: interfaces

#12440 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#12441 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#12442 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#12444 Update the Animation Worklet IDL file + test
  animation-worklet/idlharness.any.js
  animation-worklet/interfaces.any.js
  interfaces/animation-worklet.idl
Labels: animation-worklet, interfaces

#12310 Add default prompt value for user prompt WebDriver tests
  webdriver/tests/support/fixtures.py
Labels: webdriver, wg-testing_browser

#12450 Ensure templated tests do set a Content-Type: text/html HTTP header
  tools/serve/serve.py
Labels: infra, serve

#11101 Add tests for PaymentResponse.retry()
  payment-request/payment-response/rejects_if_not_active-manual.https.html
  payment-request/payment-response/retry-method-manual.https.html
Labels: payment-request, status:needs-reviewers, wg-payments

#12396 test PaymentValidationErrors' `shippingAddress` member
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
Labels: payment-request, wg-payments

#12395 test PaymentValidationErrors' `payer` member
  payment-request/PaymentValidationErrors/retry-shows-payer-member-manual.https.html
Labels: payment-request, wg-payments

#12394 test PaymentValidationErrors' `error` member
  payment-request/PaymentValidationErrors/retry-shows-error-member-manual.https.html
Labels: payment-request, wg-payments

#12458 Ensure `x` is declared before use in test
  html/dom/elements/global-attributes/dir_auto-contained-script-R-ref.html
  html/dom/elements/global-attributes/dir_auto-contained-script-R.html
Labels: html

#12462 Revert "Partly fix #8581: add extra subdomains for cookie tests"
  tools/serve/serve.py
Labels: infra, serve

#12451 Add missing `var` declaration in dom/nodes/attributes test cases
  dom/nodes/attributes.html
Labels: dom

#12448 Test length of `selectedOptions` after change
  html/semantics/forms/the-select-element/select-selectedOptions.html
Labels: html

#12435 Rewrite UI Events IDL test to use idl_test
  uievents/idlharness.window.js
  uievents/interfaces.html
Labels: uievents, wg-webplatform

#12466 Add tests for HTMLTableDataCellElement/HTMLTableHeaderCellElement int…
  html/dom/historical.html
Labels: html

#12470 Update interfaces/SVG.idl
  interfaces/SVG.idl
Labels: interfaces

#12471 Update interfaces/background-fetch.idl
  interfaces/background-fetch.idl
Labels: interfaces

#12472 Added h2 dependency to wptserve/setup.py
  tools/wptserve/setup.py
Labels: infra, wptserve

#12433 Rewrite Vibration API IDL test to use idl_test
  vibration/idl.html
  vibration/idlharness.window.js
Labels: vibration, wg-das

#12436 Rewrite WebVTT IDL tests to use idl_test
  webvtt/api/idlharness.window.js
  webvtt/api/interfaces.html
Labels: webvtt, wg-audiovideo_tt

#12434 Remove redundant idlharness.js for Navigation Timing
  navigation-timing/nav2_idlharness.html
Labels: navigation-timing, wg-webperf

#12417 CSS Containment - Contain:style Scoping Test Updates
  css/css-contain/quote-scoping-001.html
  css/css-contain/quote-scoping-002.html
  css/css-contain/quote-scoping-003.html
  css/css-contain/quote-scoping-004.html
Labels: css-contain

#12485 [css-contain] Fix antialiasing issue
  css/css-contain/contain-size-001.html
  css/css-contain/contain-size-002.html
  css/css-contain/contain-size-003.html
  css/css-contain/contain-size-006.html
  css/css-contain/contain-size-012.html
  css/css-contain/reference/contain-size-004-ref.html
  css/css-contain/reference/pass_if_pass_below_clipped.html
Labels: css-contain, wg-css

#12315 service worker: Add a couple of tests
  service-workers/service-worker/active.https.html
  service-workers/service-worker/installing.https.html
  service-workers/service-worker/navigation-preload/navigationPreload.https.html
  service-workers/service-worker/serviceworkerobject-scripturl.https.html
  service-workers/service-worker/waiting.https.html
Labels: service-workers, wg-sw

#12360 [wptrunner] Make test skipping explicit
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#12399 fix(resources/testdriver): wait for a document.body
  resources/testdriver.js
Labels: infra, testdriver.js

#12486 [css-contain] use overflow:hidden on elements where it actually works
  css/css-contain/contain-size-007.html
  css/css-contain/contain-size-008.html
  css/css-contain/contain-size-009.html
  css/css-contain/contain-size-010.html
Labels: css-contain, wg-css

#12495 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#12487 [css-contain] Fix typos
  css/css-contain/contain-paint-cell-001.html
  css/css-contain/contain-style-counters-003.html
  css/css-contain/contain-style-counters-004.html
Labels: css-contain, wg-css

#12492 [css-contain] Add support file in local directory
  css/css-contain/support/60x60-red.png
Labels: css-contain, wg-css

#12504 add test to check for null image source
  html/semantics/embedded-content/the-img-element/null-image-source.html
Labels: servo-export

#12290 Add test for blocked iframe navigation
  html/semantics/embedded-content/the-iframe-element/src-repeated-in-ancestor.html
Labels: html

#12505 [HTTP/2.0] Extra safety checks to fix crash during test
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#12500 Avoid invoking the Notification constructor in service workers
  notifications/idlharness.https.any.js
Labels: notifications

#12499 Update WebGL IDL files + tests
  interfaces/webgl1.idl
  interfaces/webgl2.idl
  webgl/webgl1-idlharness.any.js
  webgl/webgl2-idlharness.any.js
Labels: interfaces, webgl

#12497 Update Feature Policy IDL file + test
  feature-policy/idlharness.window.js
  feature-policy/interfaces.any.js
  interfaces/feature-policy.idl
Labels: feature-policy, interfaces

#12502 Add MediaStreamTrack Content Hints IDL file + test
  interfaces/mst-content-hint.idl
  mst-content-hint/META.yml
  mst-content-hint/idlharness.window.js
Labels: interfaces, mst-content-hint, wg-webrtc

#11840 [testdriver.js] Document and test `bless` method
  docs/_writing-tests/testdriver.md
  infrastructure/testdriver/bless.html
Labels: docs, infra

#12517 Add a test for constructing-form-data-set
  html/semantics/forms/form-submission-0/constructing-form-data-set.html
Labels: html

#11432 Fetch: tests for further CORS restrictions
  fetch/api/cors/cors-preflight-not-cors-safelisted.any.js
  fetch/api/cors/cors-preflight.any.js
  fetch/api/cors/resources/corspreflight.js
  fetch/api/cors/resources/not-cors-safelisted.json
  fetch/api/headers/headers-no-cors.window.js
Labels: fetch

#12483 [wptrunner] Implement `--null` in test lists
  tools/wpt/testfiles.py
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#11746 Fix wptserve test_request on Python 3
  tools/wptserve/tests/functional/test_request.py
Labels: infra, wptserve

#7633 css generated content: added test for counter-* calc() values
  css/css-values-3/calc-in-counter-001-ref.xhtml
  css/css-values-3/calc-in-counter-001.xhtml
Labels: CSS2, css-values-3, status:needs-reviewers, wg-css

#10963 Add basic text in a shape tests.
  svg/text/reftests/text-complex-001-ref.svg
  svg/text/reftests/text-complex-001.svg
  svg/text/reftests/text-complex-002-ref.svg
  svg/text/reftests/text-complex-002.svg
  svg/text/reftests/text-shape-inside-001-ref.svg
  svg/text/reftests/text-shape-inside-001.svg
  svg/text/reftests/text-shape-inside-002-ref.svg
  svg/text/reftests/text-shape-inside-002.svg
Labels: svg, wg-svg

#12537 Remove the Budget API tests
  budget-api/META.yml
  budget-api/idlharness.https.any.js
  interfaces/budget-api.idl
Labels: budget-api, interfaces

#12548 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#10773 HTML: document.open() and the unload event
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/unload.window.js
Labels: html

#10778 HTML: document.open() and the beforeunload event
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/beforeunload.window.js
Labels: html

#10815 HTML: document.open() and global variables
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/001.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/008.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/009.https.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/015-1.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/015.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/document.open-03-frame.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/document.open-03.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/no-new-global.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/global-variables-frame.html
Labels: do not merge yet, html

#12493 Document rough consensus on reverting changes
  docs/_appendix/reverting.md
Labels: docs

#12562 [FIXED] /html/semantics/scripting-1/the-script-element/script-charset-02.html Passed
  html/semantics/scripting-1/the-script-element/script-charset-02.html
Labels: html

#12565 [wptserver] Correct value in unit test
  tools/serve/test_serve.py
Labels: infra, serve

#12527 HTML: fieldset's legend and position: relative
  html/rendering/non-replaced-elements/the-fieldset-element-0/legend-position-relative-ref.html
  html/rendering/non-replaced-elements/the-fieldset-element-0/legend-position-relative.html
Labels: html, html-fieldset

#12501 HTML: default style for fieldset
  html/rendering/non-replaced-elements/the-fieldset-element-0/fieldset-default-style.html
Labels: html, html-fieldset

#12494 HTML: fieldset used value for CSS 'display'
  html/rendering/non-replaced-elements/the-fieldset-element-0/fieldset-display.html
Labels: html, html-fieldset

#12476 Fieldset should support multicol
  html/rendering/non-replaced-elements/the-fieldset-element-0/fieldset-multicol.html
Labels: html, html-fieldset

#12489 Fieldset should support CSS Flexbox
  html/rendering/non-replaced-elements/the-fieldset-element-0/fieldset-flexbox.html
Labels: html, html-fieldset
