Repository web-platform-tests/wpt, pull requests merged in 2019-05, with the labels that each got.

#16619 [web-share]: Add reviewer
  web-share/META.yml
Labels: web-share

#16621 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16620 Update interfaces/IndexedDB.idl
  interfaces/IndexedDB.idl
Labels: interfaces

#16428 [css-text] test that spans don't disturb hyphenation
  css/css-text/hyphens/hyphens-span-001.html
  css/css-text/hyphens/hyphens-span-002.html
  css/css-text/hyphens/reference/hyphens-span-001-ref.html
  css/css-text/hyphens/reference/hyphens-span-002-ref.html
Labels: css-text, wg-css

#16446 Fix hanging
  css/css-text/white-space/reference/white-space-intrinsic-size-004-ref.html
  css/css-text/white-space/reference/white-space-pre-wrap-trailing-spaces-002-ref.html
  css/css-text/white-space/reference/white-space-pre-wrap-trailing-spaces-003-ref.html
  css/css-text/white-space/white-space-intrinsic-size-004.html
  css/css-text/white-space/white-space-pre-wrap-trailing-spaces-002.html
  css/css-text/white-space/white-space-pre-wrap-trailing-spaces-003.html
Labels: css-text, wg-css

#16634 [css-text] Checks that &shy; can be styled
  css/css-text/hyphens/reference/shy-styling-001-alt-ref.html
  css/css-text/hyphens/reference/shy-styling-001-ref.html
  css/css-text/hyphens/shy-styling-001.html
Labels: css-text, wg-css

#16635 [css-text] tweak test
  css/css-text/hyphens/shy-styling-001.html
Labels: css-text, wg-css

#16636 cc Use GitHub URL for vnu.jar download
  conformance-checkers/Makefile
Labels: conformance-checkers, status:needs-reviewers

#15366 fix align start and end refs
  webvtt/rendering/cues-with-video/processing-model/align_end-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_end_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_start-ref.html
  webvtt/rendering/cues-with-video/processing-model/align_start_wrapped-ref.html
Labels: webvtt, wg-audiovideo_tt

#16603 Web Share: Manual tests for file sharing
  web-share/resources/manual-helper.js
  web-share/share-files-manual.html
  web-share/share-image-manual.html
Labels: web-share

#16632 [docs] Document wdspec tests
  docs/_writing-tests/index.md
  docs/_writing-tests/wdspec.md
  docs/introduction.md
Labels: docs, webdriver

#16657 Remove some double assignments in a webdriver test.
  webdriver/tests/get_element_attribute/get.py
Labels: webdriver, wg-testing_browser

#16656 HTML: mark typemustmatch historical
  html/dom/elements-embedded.js
  html/semantics/embedded-content/the-object-element/historical.html
  html/semantics/embedded-content/the-object-element/object-fallback.html
  html/semantics/embedded-content/the-object-element/test2.html
  webdriver/tests/get_element_attribute/get.py
Labels: html, webdriver, wg-testing_browser

#16658 HTML: compare window sizing for noopener/noreferrer
  html/browsers/the-window-object/noopener-noreferrer-sizing.window.js
  html/browsers/the-window-object/support/sizing-target.html
Labels: html

#15224 In BC event-loop, only run tasks related to fully-active documents
  html/webappapis/scripting/event-loops/fully_active_document.window.js
  html/webappapis/scripting/event-loops/resources/iframe.html
  html/webappapis/scripting/event-loops/resources/page-with-frame.html
Labels: html, servo-export

#16655 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#16654 Update interfaces/mediasession.idl
  interfaces/mediasession.idl
Labels: interfaces

#16666 Expand the chromium logger with a few more fields.
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner

#15801 [wake-lock] Adapted feature policy tests to latest spec
  feature-policy/resources/feature-policy-wakelock.html
  wake-lock/wakelock-disabled-by-feature-policy.https.sub.html
  wake-lock/wakelock-enabled-by-feature-policy-attribute-redirect-on-load.https.sub.html
  wake-lock/wakelock-enabled-by-feature-policy-attribute.https.sub.html
  wake-lock/wakelock-enabled-by-feature-policy.https.sub.html
  wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.sub.html
Labels: feature-policy, wake-lock, wg-das, wg-webappsec

#13572 [css-rhythm] Inheritance, initial values
  css/css-rhythm/inheritance.html
Labels: css-rhythm

#13647 [css-scrollbars] Inheritance, initial values
  css/css-scrollbars/inheritance.html
Labels: css-scrollbars

#16275 Update interfaces/README.md with the current state
  interfaces/README.md
Labels: interfaces

#16637 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#15289 [css-images] Computed values are as specified
  css/css-images/parsing/image-orientation-computed.html
  css/css-images/parsing/image-rendering-computed.html
  css/css-images/parsing/object-fit-computed.html
  css/css-images/parsing/object-fit-valid.html
Labels: css-images

#15758 Add CEReactions tests for some HTML elements
  custom-elements/reactions/HTMLStyleElement.html
  custom-elements/reactions/HTMLTableCellElement.html
  custom-elements/reactions/HTMLTableColElement.html
Labels: custom-elements, wg-webplatform

#16675 [infra] Remove unused file
  serve.py
  tools/serve/serve.py
Labels: infra, serve

#16648 Remove git submodule configuration
  .gitmodules
Labels: infra

#16676 Fix the exception-handling for resize-observer.
  resize-observer/resources/resizeTestHelper.js
Labels: resize-observer

#15311 [css-scroll-snap] scroll-snap-type computed value
  css/css-scroll-snap/parsing/scroll-margin-block-computed.html
  css/css-scroll-snap/parsing/scroll-margin-computed.html
  css/css-scroll-snap/parsing/scroll-margin-inline-computed.html
  css/css-scroll-snap/parsing/scroll-snap-align-computed.html
  css/css-scroll-snap/parsing/scroll-snap-stop-computed.html
  css/css-scroll-snap/parsing/scroll-snap-type-computed.html
Labels: css-scroll-snap

#15293 [css-flexbox] Inheritance, initial values
  css/css-flexbox/inheritance.html
Labels: css-flexbox, wg-css

#16726 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#16725 Update interfaces/event-timing.idl
  interfaces/event-timing.idl
Labels: interfaces

#16445 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#9963 Test SpeechSynthesisUtterance volume attribute
  speech-api/SpeechSynthesisUtterance-volume-manual.html
Labels: media-source, mediacapture-fromelement, speech-api, wg-das, wg-html, wg-webrtc

#16633 [css-text] Test hyphens and out-of-flow elements
  css/css-text/hyphens/hyphens-out-of-flow-001.html
  css/css-text/hyphens/hyphens-out-of-flow-002.html
Labels: css-text, wg-css

#16737 Link to IDL sync PRs again for troubleshooting
  interfaces/README.md
Labels: interfaces

#16735 Improve KeyError from request.first/last.
  tools/wptserve/wptserve/request.py
Labels: infra, wptserve

#16650 [docs] Remove instructions for submodules
  README.md
Labels: infra

#16628 test(webvtt): add vertical cue and text-combine-upright rendering tests
  webvtt/rendering/cues-with-video/processing-model/bidi/vertical_lr-ref.html
  webvtt/rendering/cues-with-video/processing-model/bidi/vertical_lr.html
  webvtt/rendering/cues-with-video/processing-model/bidi/vertical_rl-ref.html
  webvtt/rendering/cues-with-video/processing-model/bidi/vertical_rl.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue/vertical_ruby-position-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue/vertical_ruby-position.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue/vertical_text-combine-upright-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue/vertical_text-combine-upright.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_vertical_text-combine-upright-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_vertical_text-combine-upright.html
  webvtt/rendering/cues-with-video/processing-model/support/bidi_text-combine-upright.vtt
  webvtt/rendering/cues-with-video/processing-model/support/bidi_vertical_lr.vtt
  webvtt/rendering/cues-with-video/processing-model/support/bidi_vertical_rl-oneline.vtt
  webvtt/rendering/cues-with-video/processing-model/support/bidi_vertical_rl.vtt
  webvtt/rendering/cues-with-video/processing-model/support/class_text-combine-upright.vtt
Labels: webvtt, wg-audiovideo_tt

#16750 Add test to for shipping address redaction in onshippingaddresschange event.
  payment-request/shipping-address-changed-manual.https.html
Labels: payment-request, wg-payments

#16752 Update SpeechSynthesisUtterance-volume-manual.html
  speech-api/SpeechSynthesisUtterance-volume-manual.html
Labels: speech-api

#16728 add tests for options createImageBitmap option 'imageOrientation'
  2dcontext/imagebitmap/createImageBitmap-flipY.html
Labels: 2dcontext, wg-html

#16746 Add a test for transferring a WebAssembly ArrayBuffer
  wasm/serialization/arraybuffer/transfer.window.js
Labels: wasm

#15634 [testharness.js] Tolerate late tests
  resources/test/tests/unit/late-test.html
  resources/testharness.js
Labels: infra, testharness.js

#16768 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#16766 Update interfaces/css-images.idl
  interfaces/css-images.idl
Labels: interfaces

#16463 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#16781 Revert "[testharness.js] Tolerate late tests (#15634)"
  resources/test/tests/unit/late-test.html
  resources/testharness.js
Labels: infra, testharness.js

#16782 [testharness.js] Tolerate late tests
  resources/test/tests/unit/late-test.html
  resources/testharness.js
Labels: infra, testharness.js

#16451 Update noopener tests to match spec rules for choosing a browsing con…
  html/browsers/the-window-object/window-open-noopener.html
  html/semantics/links/links-created-by-a-and-area-elements/htmlanchorelement_noopener.html
Labels: html

#16118 Terminate Edge browser process after test completion
  tools/wptrunner/wptrunner/browsers/edge.py
Labels: infra, wptrunner

#16813 [css-text] Fix test instructions to match the ref
  css/css-text/shaping/shaping-001.html
Labels: css-text

#16797 Update some no-longer-valid WebIDL tests.
  WebIDL/valid/idl/array.widl
  WebIDL/valid/idl/attributes.widl
  WebIDL/valid/idl/constants.widl
  WebIDL/valid/idl/exception-inheritance.widl
  WebIDL/valid/idl/exception.widl
  WebIDL/valid/idl/identifier-qualified-names.widl
  WebIDL/valid/idl/indexed-properties.widl
  WebIDL/valid/idl/iterator.widl
  WebIDL/valid/idl/reg-operations.widl
  WebIDL/valid/idl/serializer.widl
  WebIDL/valid/idl/typesuffixes.widl
Labels: WebIDL, wg-webplatform

#16794 xhr: Use .any.js syntax for access-control-{and-redirects-*,basic-allow-*} tests
  xhr/access-control-and-redirects-async-same-origin.any.js
  xhr/access-control-and-redirects-async.any.js
  xhr/access-control-and-redirects.any.js
  xhr/access-control-basic-allow-access-control-origin-header.any.js
  xhr/access-control-basic-allow-async.any.js
  xhr/access-control-basic-allow-non-cors-safelisted-method-async.any.js
  xhr/access-control-basic-allow-non-cors-safelisted-method.any.js
  xhr/access-control-basic-allow-preflight-cache-invalidation-by-header.any.js
  xhr/access-control-basic-allow-preflight-cache-invalidation-by-method.any.js
  xhr/access-control-basic-allow-preflight-cache-timeout.any.js
  xhr/access-control-basic-allow-preflight-cache.any.js
  xhr/access-control-basic-allow-star.any.js
  xhr/access-control-basic-allow-star.htm
  xhr/access-control-basic-allow.any.js
  xhr/access-control-basic-allow.htm
Labels: xhr

#16691 Add the ability to download WebDriver on the new MicrosoftEdge
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_edge_chromium.txt
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/edgechromium.py
  tools/wptrunner/wptrunner/executors/executoredgechromium.py
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra, wpt, wptrunner

#14824 HTML: Tests for button layout
  html/rendering/non-replaced-elements/form-controls/button-style.html
  html/rendering/widgets/button-layout/abspos.html
  html/rendering/widgets/button-layout/anonymous-button-content-box-ref.html
  html/rendering/widgets/button-layout/anonymous-button-content-box.html
  html/rendering/widgets/button-layout/computed-style.html
  html/rendering/widgets/button-layout/display-other.html
  html/rendering/widgets/button-layout/flex.html
  html/rendering/widgets/button-layout/grid.html
  html/rendering/widgets/button-layout/inline-level-ref.html
  html/rendering/widgets/button-layout/inline-level.html
  html/rendering/widgets/button-layout/propagate-text-decoration-ref.html
  html/rendering/widgets/button-layout/propagate-text-decoration.html
  html/rendering/widgets/button-layout/shrink-wrap.html
Labels: html

#16820 Get rid of use of "damer" as filler text
  css/css-flexbox/flexbox_absolute-atomic-ref.html
  css/css-flexbox/flexbox_absolute-atomic.html
  css/css-flexbox/flexbox_box-clear-ref.html
  css/css-flexbox/flexbox_box-clear.html
  css/css-flexbox/flexbox_columns.html
  css/css-flexbox/flexbox_direction-column-ref.html
  css/css-flexbox/flexbox_direction-column-reverse-ref.html
  css/css-flexbox/flexbox_direction-column-reverse.html
  css/css-flexbox/flexbox_direction-column.html
  css/css-flexbox/flexbox_display-ref.html
  css/css-flexbox/flexbox_display.html
  css/css-flexbox/flexbox_fbfc-ref.html
  css/css-flexbox/flexbox_fbfc.html
  css/css-flexbox/flexbox_first-line-ref.html
  css/css-flexbox/flexbox_first-line.html
  css/css-flexbox/flexbox_item-clear-ref.html
  css/css-flexbox/flexbox_item-clear.html
  css/css-flexbox/flexbox_margin-collapse-ref.html
  css/css-flexbox/flexbox_margin-collapse.html
  css/css-flexbox/flexbox_order-abspos-space-around-ref.html
  css/css-flexbox/flexbox_order-abspos-space-around.html
  css/css-flexbox/flexbox_rowspan-overflow-automatic.html
  css/css-flexbox/flexbox_rowspan-overflow.html
  css/css-flexbox/flexbox_rtl-direction-ref.html
  css/css-flexbox/flexbox_rtl-direction.html
  css/css-flexbox/flexbox_stf-abspos.html
  css/css-flexbox/flexbox_stf-fixpos.html
  css/css-flexbox/flexbox_stf-float.html
  css/css-flexbox/flexbox_stf-inline-block.html
  css/css-flexbox/flexbox_stf-table-caption.html
  css/css-flexbox/flexbox_stf-table-cell.html
  css/css-flexbox/flexbox_stf-table-row-group.html
  css/css-flexbox/flexbox_stf-table-row.html
  css/css-flexbox/flexbox_stf-table-singleline-2.html
  css/css-flexbox/flexbox_stf-table-singleline-ref.html
  css/css-flexbox/flexbox_stf-table-singleline.html
  css/css-flexbox/flexbox_stf-table.html
  css/css-flexbox/flexbox_table-fixed-layout.html
  css/css-flexbox/flexbox_visibility-collapse-line-wrapping-ref.html
  css/css-flexbox/flexbox_visibility-collapse-line-wrapping.html
  css/css-flexbox/flexbox_visibility-collapse-ref.html
  css/css-flexbox/flexbox_visibility-collapse.html
  css/css-flexbox/flexbox_width-overflow.html
  css/css-flexbox/getcomputedstyle/flexbox_computedstyle_align-items-invalid.html
  css/css-flexbox/getcomputedstyle/flexbox_computedstyle_align-self-invalid.html
  css/css-flexbox/getcomputedstyle/flexbox_computedstyle_flex-direction-invalid.html
  css/css-flexbox/getcomputedstyle/flexbox_computedstyle_flex-wrap-invalid.html
  css/css-multicol/multicol-columns-001-ref.xht
  css/css-multicol/multicol-columns-001.xht
  css/css-multicol/multicol-columns-002.xht
  css/css-multicol/multicol-columns-003.xht
  css/css-multicol/multicol-columns-004.xht
  css/css-multicol/multicol-columns-005.xht
  css/css-multicol/multicol-columns-006.xht
  css/css-multicol/multicol-columns-007.xht
  css/css-multicol/multicol-count-001.xht
  css/css-multicol/multicol-fill-auto-block-children-001.xht
  css/css-multicol/multicol-width-001-ref.xht
  css/css-multicol/multicol-width-001.xht
  css/css-multicol/multicol-width-count-001.xht
Labels: css-flexbox, css-multicol, wg-css

#8804 Add references to a couple more Flexbox tests
  css/css-flexbox/flex-direction-row-vertical-ref.html
  css/css-flexbox/flex-direction-row-vertical.html
  css/css-flexbox/flexbox_stf-fixpos.html
Labels: css-flexbox, stale:awaiting-review, wg-css

#16832 Remove now unneeded docs/Gemfile
  docs/Gemfile
Labels: docs

#16840 Rewrite preload tests to reduce running time
  preload/onload-event.html
  preload/preload-csp.sub.html
  preload/preload-default-csp.sub.html
  preload/resources/preload_helper.js
Labels: preload, wg-webperf

#16838 Rewrite tests to reduce running time
  preload/link-header-preload-nonce.html
  preload/link-header-preload.html
Labels: preload, wg-webperf

#16769 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#16789 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#16836 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#16790 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16837 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16814 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#16765 Update interfaces/SVG.idl
  interfaces/SVG.idl
Labels: interfaces

#16767 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#16819 Fix race condition in servodriver
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner

#16571 Update service worker resource timing test to use {{hosts[alt]}}
  service-workers/service-worker/resource-timing.sub.https.html
  service-workers/service-worker/resources/resource-timing-iframe.sub.html
Labels: service-workers, wg-sw

#16856 Update error type test for attachInternals()
  custom-elements/HTMLElement-attachInternals.html
Labels: custom-elements, wg-webplatform

#16811 html: Add a testcase for submit event reentrancy protection
  html/semantics/forms/form-submission-0/form-submission-algorithm.html
Labels: html

#16835 [motion] Test used offset distance with path()
  css/motion/offset-distance-001.html
  css/motion/offset-distance-002.html
  css/motion/offset-distance-003.html
  css/motion/offset-distance-004.html
  css/motion/offset-distance-005.html
  css/motion/offset-distance-006.html
  css/motion/offset-distance-007.html
  css/motion/offset-distance-008.html
  css/motion/offset-distance-009.html
  css/motion/offset-distance-ref.html
Labels: motion, motion-1

#16842 Rewrite preload tests to reduce running time
  preload/link-header-preload-imagesrcset.html
  preload/link-header-preload-nonce.html
  preload/link-header-preload.html
  preload/onload-event.html
  preload/preload-csp.sub.html
  preload/preload-default-csp.sub.html
  preload/preload-with-type.html
Labels: preload, wg-webperf

#16853 Update error type test for attachShadow()
  shadow-dom/Element-interface-attachShadow.html
Labels: shadow-dom, wg-webplatform

#16795 shadow-dom: Add testcases for attachShadow() with disabledFeatures=['shadow']
  shadow-dom/Element-interface-attachShadow-custom-element.html
Labels: shadow-dom, wg-webplatform

#16889 Add a test for document.write() in a module script.
  html/webappapis/dynamic-markup-insertion/document-write/module-iframe.html
  html/webappapis/dynamic-markup-insertion/document-write/module.html
Labels: html

#16743 html: Add a test for form.requestSubmit()
  html/semantics/forms/the-form-element/form-requestsubmit.html
Labels: html

#15740 Add tests for 'form-associated custom elements'
  custom-elements/CustomElementRegistry.html
  custom-elements/form-associated/ElementInternals-NotSupportedError.html
  custom-elements/form-associated/ElementInternals-labels.html
  custom-elements/form-associated/ElementInternals-setFormValue.html
  custom-elements/form-associated/ElementInternals-validation.html
  custom-elements/form-associated/form-associated-callback.html
  custom-elements/form-associated/form-disabled-callback.html
  custom-elements/form-associated/form-reset-callback.html
  html/semantics/forms/form-submission-0/resources/targetted-form.js
Labels: custom-elements, do not merge yet, html, wg-webplatform

#16892 Don't use assert_own_property in CSS tests.
  css/support/computed-testcommon.js
  css/support/inheritance-testcommon.js
Labels: support

#16894 cc Update messages.json
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-reviewers

#16895 cc Rename some files
  conformance-checkers/html-aria/name-computation-img/557-isvalid.html
  conformance-checkers/html-aria/name-computation-img/565-isvalid.html
  conformance-checkers/html-aria/name-computation-img/566-isvalid.html
Labels: conformance-checkers, status:needs-reviewers

#16904 Add META.yml for element-timing
  element-timing/META.yml
Labels: element-timing, status:needs-reviewers

#16899 Address review comments that were mistakenly abandoned in #16452.
  sms/constructor.tentative.https.any.js
Labels: sms, status:needs-reviewers

#16898 Add a precondition to all the element timing tests
  element-timing/background-image-data-uri.html
  element-timing/background-image-multiple-elements.html
  element-timing/background-image-stretched.html
  element-timing/buffer-before-onload.html
  element-timing/cross-origin-element.sub.html
  element-timing/cross-origin-iframe-element.sub.html
  element-timing/disconnect-image.html
  element-timing/image-TAO-wildcard.sub.html
  element-timing/image-carousel.html
  element-timing/image-clipped-svg.html
  element-timing/image-data-uri.html
  element-timing/image-not-added.html
  element-timing/image-not-fully-visible.html
  element-timing/image-rect-iframe.html
  element-timing/image-with-css-scale.html
  element-timing/image-with-rotation.html
  element-timing/images-repeated-resource.html
  element-timing/invisible-images.html
  element-timing/multiple-background-images.html
  element-timing/observe-background-image.html
  element-timing/observe-child-element.html
  element-timing/observe-elementtiming.html
  element-timing/observe-large-image.html
  element-timing/observe-multiple-images.html
  element-timing/observe-shadow-image.html
  element-timing/observe-svg-image.html
  element-timing/observe-video-poster.html
  element-timing/progressively-loaded-image.html
  element-timing/rectangular-image.html
Labels: element-timing, status:needs-reviewers

#16900 [cssom] Test the camelcased attributes are implemented as attributes.
  css/cssom/cssstyledeclaration-properties.html
Labels: cssom, wg-css

#16734 Add some initial tests for JSON modules.
  html/semantics/scripting-1/the-script-element/json-module/array.json
  html/semantics/scripting-1/the-script-element/json-module/false.json
  html/semantics/scripting-1/the-script-element/json-module/invalid-content-type.html
  html/semantics/scripting-1/the-script-element/json-module/module.html
  html/semantics/scripting-1/the-script-element/json-module/module.json
  html/semantics/scripting-1/the-script-element/json-module/non-object.any.js
  html/semantics/scripting-1/the-script-element/json-module/null.json
  html/semantics/scripting-1/the-script-element/json-module/parse-error.html
  html/semantics/scripting-1/the-script-element/json-module/parse-error.json
  html/semantics/scripting-1/the-script-element/json-module/string.json
  html/semantics/scripting-1/the-script-element/json-module/true.json
  html/semantics/scripting-1/the-script-element/json-module/utf8.html
  html/semantics/scripting-1/the-script-element/json-module/utf8.json
  html/semantics/scripting-1/the-script-element/json-module/valid-content-type.html
Labels: html, status:needs-spec-decision

#16770 [css-writing-modes] Add text-combine-upright tests
  css/css-writing-modes/text-combine-upright-all-001-manual.html
  css/css-writing-modes/text-combine-upright-all-002-manual.html
  css/css-writing-modes/text-combine-upright-digits-001-manual.html
  css/css-writing-modes/text-combine-upright-digits-002-manual.html
  css/css-writing-modes/text-combine-upright-digits-004-manual.html
Labels: css-writing-modes

#16912 Fix race conditions when using get_free_port
  tools/wptrunner/wptrunner/browsers/fennec.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra, wptrunner

#16930 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16863 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#14996 [css-ui] Test appearance <compat> values and 'auto'
  css/css-ui/appearance-auto-001.html
  css/css-ui/appearance-auto-ref.html
  css/css-ui/appearance-button-bevel-001.html
  css/css-ui/appearance-checkbox-001.html
  css/css-ui/appearance-listbox-001.html
  css/css-ui/appearance-menulist-001.html
  css/css-ui/appearance-menulist-button-001.html
  css/css-ui/appearance-menulist-button-002.html
  css/css-ui/appearance-meter-001.html
  css/css-ui/appearance-progress-bar-001.html
  css/css-ui/appearance-push-button-001.html
  css/css-ui/appearance-radio-001.html
  css/css-ui/appearance-searchfield-001.html
  css/css-ui/appearance-slider-horizontal-001.html
  css/css-ui/appearance-square-button-001.html
  css/css-ui/appearance-textarea-001.html
  css/css-ui/tools/appearance-build-webkit-reftests.py
  css/css-ui/webkit-appearance-auto-001.html
  css/css-ui/webkit-appearance-button-bevel-001.html
  css/css-ui/webkit-appearance-checkbox-001.html
  css/css-ui/webkit-appearance-listbox-001.html
  css/css-ui/webkit-appearance-menulist-001.html
  css/css-ui/webkit-appearance-menulist-button-001.html
  css/css-ui/webkit-appearance-menulist-button-002.html
  css/css-ui/webkit-appearance-meter-001.html
  css/css-ui/webkit-appearance-progress-bar-001.html
  css/css-ui/webkit-appearance-push-button-001.html
  css/css-ui/webkit-appearance-radio-001.html
  css/css-ui/webkit-appearance-searchfield-001.html
  css/css-ui/webkit-appearance-slider-horizontal-001.html
  css/css-ui/webkit-appearance-square-button-001.html
  css/css-ui/webkit-appearance-textarea-001.html
  update-built-tests.sh
Labels: css-ui, infra

#16985 Remove duplicated attribute reflection tests
  html/semantics/text-level-semantics/the-a-element/a.rel-getter-01.html
  html/semantics/text-level-semantics/the-a-element/a.rel-setter-01.html
  html/semantics/text-level-semantics/the-data-element/data.value-001.html
Labels: html

#17001 Fix a typo in app-change-payment-method.js
  payment-handler/app-change-payment-method.js
Labels: payment-handler, wg-payments

#16851 [docs] Automatically generate CLI documentation
  docs/conf.py
  docs/requirements.txt
  docs/running-tests/command-line-arguments.md
  docs/running-tests/from-local-system.md
  tools/wpt/wpt.py
Labels: docs, infra, wpt

#17012 Sync Mozilla CSS tests as of 2019-05-25
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-suppress-baseline-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-suppress-baseline-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
Labels: vendor-imports

#17018 Added 2 new column-fill: auto tests
  css/css-multicol/columnfill-auto-max-height-001.html
  css/css-multicol/columnfill-auto-max-height-002.html
Labels: css-multicol

#16868 Rewrite more preload tests to reduce running time
  preload/download-resources.html
  preload/link-header-on-subresource.html
  preload/onerror-event.html
  preload/preload-csp.sub.html
  preload/preload-default-csp.sub.html
Labels: preload, wg-webperf

#17021 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#17019 Adapt the rest wake lock tests to latest spec
  wake-lock/wakelock-insecure-context.any.js
  wake-lock/wakelock-insecure-context.html
  wake-lock/wakelock-state-is-global.https.html
  wake-lock/wakelock-type.https.any.js
  wake-lock/wakelock-type.https.html
Labels: wake-lock, wg-das

#17014 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#17026 Split relList supports() into multiple tests
  html/semantics/rellist-feature-detection.html
Labels: html

#15122 Align legacy callback interface tests
  dom/events/EventListener-handleEvent.html
  dom/traversal/TreeWalker-acceptNode-filter.html
Labels: dom

#17025 Editorial: cleanup some area opener/noopener tests
  html/semantics/links/links-created-by-a-and-area-elements/target_blank_implicit_noopener.html
  html/semantics/links/links-created-by-a-and-area-elements/target_blank_implicit_noopener_base.html
Labels: html

#17024 Add test for screen wake lock on worker
  wake-lock/wakelock-screen-type-on-worker.https.worker.js
Labels: wake-lock, wg-das

#17042 Fix typo in wakelock-type.https.any.js' title.
  wake-lock/wakelock-type.https.any.js
Labels: wake-lock, wg-das

#16989 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16990 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#16991 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#17010 Update interfaces/mediacapture-streams.idl
  interfaces/mediacapture-streams.idl
Labels: interfaces

#17043 wake-lock: Fix invalid types test in wakelock-type.https.any.js
  wake-lock/wakelock-type.https.any.js
Labels: wake-lock, wg-das

#16670 [docs] Add information on virtualenv
  docs/running-tests/from-local-system.md
Labels: docs

#17041 Remove the test that checks that pointer events and compatibility mouse events have the same timestamp
  pointerevents/pointerevent_suppress_compat_events_on_drag_mouse.html
Labels: pointerevents, wg-pointerevents

#17051 rename per https://web-platform-tests.org/writing-tests/index.html
  payment-request/rejects_if_not_active-manual.https.html
Labels: payment-request, wg-payments

#15943 [wake-lock] Add tests for AbortSignal
  wake-lock/wakelock-abortsignal.https.any.js
Labels: wake-lock, wg-das

#17059 [css-values] Corrected link to spec in initial-background-color.html
  css/css-values/initial-background-color.html
Labels: css-values, wg-css

#17056 Get Edge browser version
  tools/wpt/browser.py
Labels: infra, wpt

#17054 [css-ui] Correct property name
  css/css-ui/appearance-menulist-button-002.html
  css/css-ui/webkit-appearance-menulist-button-002.html
Labels: css-ui

#17065 Revert "[Gecko Bug 1546981] Remove duplicate test-case, and remove an error suppression it caused."
  webrtc/RTCPeerConnection-setLocalDescription-answer.html
Labels: webrtc, wg-webrtc

#17067 Ignore all exceptions when checking if requirements are met
  tools/wpt/virtualenv.py
Labels: infra, wpt

#17072 Pass rebuild through correctly to invalidate cache
  tools/manifest/vcs.py
Labels: infra, manifest

#17070 Firefox.find_binary_path should return None is the binary isn't found
  tools/wpt/browser.py
Labels: infra, wpt

#17060 Remove remaining IDL `implements`
  domxpath/interfaces.tentative.html
  interfaces/dedicated-workers.idl
Labels: domxpath, interfaces, wg-dom

#14948 [css-logical] Inheritance, initial values
  css/css-logical/inheritance.html
Labels: css-logical

#17094 [css-values-3] Removed invalid declaration in initial-background-color.html
  css/css-values/initial-background-color.html
Labels: css-values, wg-css

#16963 Pin the six version in wptrunner
  tools/wptrunner/requirements.txt
Labels: infra, wptrunner

#17080 Update testdriver tutorial doc
  docs/writing-tests/testdriver-tutorial.md
Labels: docs

#16573 Revise match link in floating-first-letter reftests
  css/selectors/floating-first-letter-05d0.html
  css/selectors/floating-first-letter-feff.html
Labels: selectors

#17047 Switch to random OS port retrieval for webdriver server
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/browsers/fennec.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra, wptrunner

#16639 Get all of manifest/lint/gitignore typed
  tools/gitignore/gitignore.py
  tools/gitignore/tests/test_gitignore.py
  tools/lint/fnmatch.py
  tools/lint/lint.py
  tools/lint/rules.py
  tools/manifest/XMLParser.py
  tools/manifest/download.py
  tools/manifest/item.py
  tools/manifest/log.py
  tools/manifest/manifest.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_item.py
  tools/manifest/tests/test_manifest.py
  tools/manifest/tests/test_sourcefile.py
  tools/manifest/update.py
  tools/manifest/utils.py
  tools/manifest/vcs.py
  tools/mypy.ini
  tools/tox.ini
  tools/wpt/testfiles.py
  tools/wptrunner/wptrunner/metadata.py
Labels: gitignore, infra, lint, manifest, mypy.ini, tox.ini, wpt, wptrunner

#17033 Improve error message when virtualenv is missing
  tools/wpt/virtualenv.py
Labels: infra, wpt

#17113 Corrected 1 link in calc-background-position-003.html
  css/css-values/calc-background-position-003.html
Labels: css-values, wg-css

#15288 [css-transforms] backface-visibility parsing
  css/css-transforms/parsing/backface-visibility-computed.html
  css/css-transforms/parsing/backface-visibility-invalid.html
  css/css-transforms/parsing/backface-visibility-valid.html
Labels: css-transforms
