Repository web-platform-tests/wpt, pull requests merged in 2019-12, with the labels that each got.

#20542 Don't set taskcluster variables when we don't want to run the task
  .taskcluster.yml
Labels: Taskcluster, mozilla:gecko-blocked

#20561 Fix email handing for decision task
  .taskcluster.yml
  tools/ci/tc/decision.py
Labels: Taskcluster, ci, infra, mozilla:gecko-blocked

#20564 Add Chrome expectations to multiTouchPointsWithPause.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
Labels: infra

#20535 Add META.yml for fetch metadata
  fetch/metadata/META.yml
Labels: fetch

#20562 Add a test for jobs scheduled on an epochs push
  tools/ci/tc/testdata/epochs_daily_push_event.json
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra, mozilla:gecko-blocked

#20461 Add `Set Permission` API to testdriver.js
  infrastructure/metadata/infrastructure/testdriver/set_permission.html.ini
  infrastructure/testdriver/set_permission.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, testdriver.js, wptrunner

#20575 Issue 21810/improve validation methods
  html/semantics/forms/the-input-element/number.html
Labels: html, servo-export

#20549 Improve diagnostics for WPT failures
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, servo-export, wptrunner

#20586 Add taskcluster CI badge
  README.md
Labels: infra

#20162 Implement WebAuthn basic test using testdriver API
  webauthn/resources/common-inputs.js
  webauthn/resources/utils.js
  webauthn/webauthn-testdriver-basic.https.html
Labels: webauthn, wg-webauthn

#20602 Add shallawa to svg/META.yml
  svg/META.yml
Labels: svg, wg-svg

#20557 Handle commit changes
  tools/ci/run_tc.py
  tools/ci/tc/decision.py
  tools/ci/tc/tests/test_valid.py
Labels: Taskcluster, ci, infra

#20639 Remove failure expectations on Chrome for multiTouchPoints actions infra tests
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
Labels: infra

#15871 HTML: mutating the style element
  html/semantics/document-metadata/the-style-element/mutations.window.js
Labels: html

#20651 Add zcorpan to conformance-checkers/META.yml
  conformance-checkers/META.yml
Labels: conformance-checkers

#20629 cc picture in rp not valid; update picture.py
  conformance-checkers/html/elements/picture/parent-rp-novalid.html
  conformance-checkers/tools/picture.py
Labels: conformance-checkers, status:needs-reviewers

#20657 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#20668 cc Make a picture.py doc-conformance test valid
  conformance-checkers/html/elements/picture/picture-isvalid.html
  conformance-checkers/tools/picture.py
Labels: conformance-checkers

#20669 cc Update messages.json for parent-rp-novalid case
  conformance-checkers/messages.json
Labels: conformance-checkers

#20606 Don't put the computed value in the title of computed value tests
  css/css-values/minmax-length-computed.html
  css/css-values/minmax-length-percent-computed.html
  css/support/computed-testcommon.js
Labels: css-values, support, wg-css

#20674 testdriver.js: Make set_permission() take a PermissionDescriptor, not a name
  infrastructure/metadata/infrastructure/testdriver/set_permission.https.html.ini
  infrastructure/testdriver/set_permission.https.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
Labels: infra, testdriver.js, wptrunner

#20540 [testharness.js] Test `assert_object_equals`
  resources/test/tests/functional/api-tests-1.html
  resources/test/tests/unit/assert_object_equals.html
Labels: infra, testharness.js

#20659 Inserting empty DocumentFragment results in no notifications
  html/semantics/document-metadata/the-style-element/mutations.window.js
Labels: html

#20702 Document test_driver.set_permission().
  docs/writing-tests/testdriver.md
Labels: docs

#20409 wptrunner: Fail with NotImplementedError when appropriate
  infrastructure/metadata/infrastructure/testdriver/generate_test_report.html.ini
  infrastructure/metadata/infrastructure/testdriver/set_permission.https.html.ini
  infrastructure/metadata/infrastructure/testdriver/virtual_authenticator.html.ini
  infrastructure/testdriver/virtual_authenticator.html
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/testdriver-extra.js
  tools/wptrunner/wptrunner/tests/__init__.py
Labels: infra, mozilla:gecko-blocked, webauthn, wg-webauthn, wptrunner

#20512 Update interfaces/feature-policy.idl
  interfaces/feature-policy.idl
Labels: interfaces

#20513 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20653 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#20658 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#20548 additional stepMismatch tests for input type="number"
  html/semantics/forms/constraints/form-validation-validity-stepMismatch.html
Labels: html

#20664 [wptrunner] Attempt to fix EXTERNAL-TIMEOUT
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#20686 Workarounds for form-submission-0 tests with about:blank onloads
  html/semantics/forms/form-submission-0/constructing-form-data-set.html
  html/semantics/forms/form-submission-0/form-submission-algorithm.html
Labels: html, servo-export

#20707 Fix markup of function parameters in testdriver.md
  docs/writing-tests/testdriver.md
Labels: docs, mozilla:gecko-blocked

#20716 docs: Fix typo in test_driver.set_permission() usage example.
  docs/writing-tests/testdriver.md
Labels: docs, mozilla:gecko-blocked

#20712 [cssom-view] Make matchMedia tests not racy.
  css/cssom-view/resources/matchMedia.js
Labels: cssom-view, wg-css

#20400 HTML: test origin and Window object reuse
  html/browsers/windows/document-domain-nested-navigate.window.js
  html/browsers/windows/document-domain-nested-set.window.js
  html/browsers/windows/document-domain-nested.window.js
Labels: html

#16348 Adoption and DocumentFragment
  custom-elements/adopted-callback.html
  dom/nodes/adoption.window.js
  html/semantics/scripting-1/the-template-element/template-element/template-content-hierarcy.html
Labels: custom-elements, dom, html, wg-webplatform

#20722 Don't import webdriver into executors/base.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, mozilla:gecko-blocked, wptrunner

#20699 [Azure Pipelines] don't install Ahem for STP jobs
  .azure-pipelines.yml
  tools/ci/azure/affected_tests.yml
Labels: Azure Pipelines, ci, infra

#20718 Clean up testharness.css leftovers.
  resources/testharness.css.headers
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint, testharness.js

#20596 Test if we correctly strip request-body-headers for redirects
  fetch/api/redirect/redirect-method.any.js
  fetch/api/resources/method.py
Labels: fetch

#17795 Delete test_valid_but_unmatchable_key webdriver test
  webdriver/tests/new_session/default_values.py
Labels: webdriver, wg-testing_browser

#20728 Put non-core-spec webxr tests in their own subfolders
  webxr/gamepads-module/xrInputSource_gamepad_disconnect.https.html
  webxr/gamepads-module/xrInputSource_gamepad_input_registered.https.html
  webxr/hit-test/xrRay_constructor.https.html
  webxr/hit-test/xrRay_matrix.https.html
Labels: webxr, wg-immersive-web

#20723 Add t.step_func() to oneframeupdate test
  webxr/xrView_oneframeupdate.https.html
Labels: servo-export, webxr, wg-immersive-web

#20720 Fetch: remove support for Response's trailer
  fetch/api/basic/historical.any.js
  fetch/api/headers/historical.any.js
  fetch/api/request/request-type-attribute-historical.html
  fetch/api/response/response-trailer.html
Labels: fetch

#18927 Upgrade Safari stable runs to use macOS Mojave
  .azure-pipelines.yml
Labels: Azure Pipelines, infra

#20727 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#20749 Update interfaces/fetch.idl
  interfaces/fetch.idl
Labels: interfaces

#20750 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20760 Update interfaces/IndexedDB.idl
  interfaces/IndexedDB.idl
Labels: interfaces

#20758 GitHub Actions: Work around #20700
  .github/workflows/detect_pull_request_preview.yml
  .github/workflows/documentation.yml
  .github/workflows/epochs.yml
  .github/workflows/manifest.yml
Labels: GitHub Actions

#20432 HTML: getSVGDocument() / contentDocument
  html/semantics/embedded-content/the-iframe-element/cross-origin-to-whom-part-2.window.js
  html/semantics/embedded-content/the-iframe-element/cross-origin-to-whom.window.js
  html/semantics/embedded-content/the-iframe-element/support/document-with-embedded-svg.html
  html/semantics/embedded-content/the-iframe-element/support/svg.svg
Labels: html

#20752 Remove temporary failure expectations for multiTouch
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseFirstPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseSecondPoint.html.ini
Labels: infra

#20732 [TC] Fix up #20557: hard reset to expected head
  tools/ci/run_tc.py
Labels: ci, infra

#20730 Trigger servo runs daily
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#20754 Bump the manifest version
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
Labels: infra, manifest, mozilla:gecko-blocked, wptrunner

#20779 De-flake loading/lazyload/invisible-lazy-image.tentative.html
  loading/lazyload/invisible-lazy-image.tentative.html
Labels: loading, status:needs-reviewers

#20780 Make assertion failures useful on UAs not supporting lazy load
  loading/lazyload/original-base-url-applied-2-tentative.html
  loading/lazyload/original-base-url-applied-iframe-tentative.html
Labels: loading, status:needs-reviewers

#20782 [Lazyload]: Simplify and fix disconnected image test
  loading/lazyload/META.yml
  loading/lazyload/disconnected-image-loading-lazy.tentative.html
Labels: loading, status:needs-reviewers

#20783 [Lazyload] Refactor lazy load tests
  loading/lazyload/below-viewport-image-loading-lazy-load-event.tentative.html
  loading/lazyload/image-loading-lazy-load-event.tentative.html
  loading/lazyload/image-loading-lazy-multicol.tentative.html
  loading/lazyload/image-loading-lazy.tentative.html
  loading/lazyload/invisible-lazy-image.tentative.html
  loading/lazyload/not-rendered-below-viewport-image-loading-lazy.tentative.html
  loading/lazyload/not-rendered-image-loading-lazy.tentative.html
Labels: loading

#20792 [css-pseudo] Add "reftest-wait" class in async ::marker test
  css/css-pseudo/marker-content-013.html
Labels: css-pseudo

#20810 [css-pseudo] Load missing reftest-wait.js script in ::marker test
  css/css-pseudo/marker-content-013.html
Labels: css-pseudo

#20791 Fixup selenium executor
  tools/wptrunner/wptrunner/executors/executorselenium.py
Labels: infra, wptrunner

#20765 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20726 Update interfaces/encrypted-media.idl
  interfaces/encrypted-media.idl
Labels: interfaces

#20691 Update interfaces/media-playback-quality.idl
  interfaces/media-playback-quality.idl
Labels: interfaces

#20776 Test ImageBitmapRenderingContext has canvas attribute and value is same object as canvas or OffscreenCanvas
  imagebitmap-renderingcontext/context-creation-offscreen.html
  imagebitmap-renderingcontext/context-preserves-canvas.html
Labels: imagebitmap-renderingcontext

#20820 [html] Reduce reliance on global state
  html/cross-origin-opener-policy/resources/common.js
Labels: html

#20826 Update interfaces/encrypted-media.idl
  interfaces/encrypted-media.idl
Labels: interfaces

#20797 Address flakiness of service-workers/service-worker/update-no-cache-r…
  service-workers/service-worker/resources/test-request-headers-worker.js
  service-workers/service-worker/resources/test-request-headers-worker.py
Labels: service-workers, wg-sw

#20764 Test optional RTCDTMFToneChangeEvent constructor parameters
  webrtc/RTCDTMFSender-ontonechange.https.html
Labels: webrtc, wg-webrtc

#20842 COEP: test that <meta http-equiv> is not supported
  html/cross-origin-embedder-policy/meta-http-equiv.https.html
Labels: html

#20839 Disable infra tests that cause CI failures
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseFirstPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseSecondPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsTwoTouchStarts.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
Labels: infra

#18214 Added 2 tests and 2 references on selection [css-pseudo]
  css/css-pseudo/grammar-error-001-ref.html
  css/css-pseudo/grammar-error-001.html
  css/css-pseudo/spelling-error-001-ref.html
  css/css-pseudo/spelling-error-001.html
Labels: css-pseudo

#18602 Corrected a typo in float-shrink-to-fit-vrl-vlr-016.xht test
  css/css-writing-modes/float-shrink-to-fit-vrl-vlr-016.xht
Labels: css-writing-modes

#20802 [CSS4Pseudo] Added 2 tests and 1 reference on selection and text-shadow
  css/css-pseudo/selection-text-shadow-006-manual.html
  css/css-pseudo/selection-text-shadow-016-ref.html
  css/css-pseudo/selection-text-shadow-016.html
Labels: css-pseudo

#20526 Disallow serializing and transferring non-origin-clean ImageBitmap
  2dcontext/imagebitmap/createImageBitmap-serializable.html
  2dcontext/imagebitmap/createImageBitmap-transfer.html
  2dcontext/imagebitmap/no-coop-coep.https.window.js
  2dcontext/imagebitmap/resources/coop-coep-popup.html
  2dcontext/imagebitmap/resources/coop-coep-popup.html.headers
  2dcontext/imagebitmap/resources/coop-coep-worker.js
  2dcontext/imagebitmap/resources/coop-coep-worker.js.headers
Labels: 2dcontext, wg-html

#20554 Add a test for serializing Module for storage.
  wasm/webapi/historical.any.js
Labels: wasm

#20695 Fix OffscreenCanvas.convertToBlob worker exception tests
  offscreen-canvas/convert-to-blob/offscreencanvas.convert.to.blob.html
  offscreen-canvas/convert-to-blob/offscreencanvas.convert.to.blob.w.html
Labels: offscreen-canvas

#20778 [Lazyload]: De-flake loading/lazyload/invisble-image.tentative.html
  loading/lazyload/invisible-image.tentative.html
Labels: loading

#20110 [css-grid] Grid align content distribution tests
  css/css-grid/alignment/grid-align-content-distribution-vertical-lr.html
  css/css-grid/alignment/grid-align-content-distribution-vertical-rl.html
  css/css-grid/alignment/grid-align-content-distribution.html
Labels: css-grid

#20655 Service worker: updating ready tests
  service-workers/service-worker/ready.https.html
  service-workers/service-worker/ready.https.window.js
Labels: service-workers, wg-sw

#20888 Reland "Update Safari Technology Preview to 97"
  .azure-pipelines.yml
  infrastructure/metadata/infrastructure/testdriver/actions/elementPosition.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/elementTiming.html.ini
  infrastructure/metadata/infrastructure/testdriver/bless.html.ini
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#20459 Change how wptrunner computes reftests
  css/CSS2/selectors/universal-selector-002-notref.xht
  css/CSS2/selectors/universal-selector-002-ref.xht
  css/CSS2/selectors/universal-selector-002.xht
  docs/assets/_reftest_graph_example.dot
  docs/assets/reftest_graph_example.svg
  docs/writing-tests/reftests.md
  infrastructure/metadata/infrastructure/reftest/legacy/fuzzy-ref-2.html.ini
  infrastructure/metadata/infrastructure/reftest/legacy/reftest_and_fail_0-ref.html.ini
  infrastructure/metadata/infrastructure/reftest/legacy/reftest_cycle_fail_0-ref.html.ini
  infrastructure/metadata/infrastructure/reftest/legacy/reftest_fuzzy_chain_ini.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_and_fail.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_cycle_fail.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-0.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-1.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-4.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-5.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-6.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_match_and_mismatch-7.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_multiple_mismatch-0.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_multiple_mismatch-1.html.ini
  infrastructure/reftest/legacy/README.md
  infrastructure/reftest/legacy/fuzzy-ref-2.html
  infrastructure/reftest/legacy/fuzzy-ref-2a.html
  infrastructure/reftest/legacy/reftest_and_fail.html
  infrastructure/reftest/legacy/reftest_and_fail_0-ref.html
  infrastructure/reftest/legacy/reftest_and_mismatch.html
  infrastructure/reftest/legacy/reftest_and_mismatch_0.html
  infrastructure/reftest/legacy/reftest_and_mismatch_1.html
  infrastructure/reftest/legacy/reftest_cycle.html
  infrastructure/reftest/legacy/reftest_cycle_0-ref.html
  infrastructure/reftest/legacy/reftest_cycle_1-ref.html
  infrastructure/reftest/legacy/reftest_cycle_fail.html
  infrastructure/reftest/legacy/reftest_cycle_fail_0-ref.html
  infrastructure/reftest/legacy/reftest_fuzzy_chain_ini.html
  infrastructure/reftest/reftest_match_and_mismatch-0.html
  infrastructure/reftest/reftest_match_and_mismatch-1.html
  infrastructure/reftest/reftest_match_and_mismatch-2.html
  infrastructure/reftest/reftest_match_and_mismatch-3.html
  infrastructure/reftest/reftest_match_and_mismatch-4.html
  infrastructure/reftest/reftest_match_and_mismatch-5.html
  infrastructure/reftest/reftest_match_and_mismatch-6.html
  infrastructure/reftest/reftest_match_and_mismatch-7.html
  infrastructure/reftest/reftest_multiple_match-0.html
  infrastructure/reftest/reftest_multiple_match-1.html
  infrastructure/reftest/reftest_multiple_mismatch-0.html
  infrastructure/reftest/reftest_multiple_mismatch-1.html
  tools/manifest/item.py
  tools/manifest/manifest.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_manifest.py
  tools/manifest/tests/test_sourcefile.py
  tools/wptrunner/wptrunner/tests/test_update.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: CSS2, docs, infra, manifest, wg-css, wptrunner

#19735 Tweaked, improved sizing-orthog-htb-in-vrl-013-ref.xht
  css/css-writing-modes/sizing-orthog-htb-in-vrl-013-ref.xht
Labels: css-writing-modes

#20033 Added 2 CSS4Pseudo tests and 1 reference
  css/css-pseudo/spelling-error-002-manual.html
  css/css-pseudo/spelling-error-003-manual.html
  css/css-pseudo/textpath-selection-011-ref.html
  css/css-pseudo/textpath-selection-011.html
Labels: css-pseudo

#20580 Update wasm-module-builder.js from V8.
  wasm/jsapi/constructor/multi-value.any.js
  wasm/jsapi/instanceTestFactory.js
  wasm/jsapi/module/customSections.any.js
  wasm/jsapi/wasm-module-builder.js
Labels: wasm

#20900 Improve wptrunner tests compatibility with Python3
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/expectedtree.py
  tools/wptrunner/wptrunner/manifestexpected.py
  tools/wptrunner/wptrunner/manifestinclude.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/products.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/tests/test_expectedtree.py
  tools/wptrunner/wptrunner/tests/test_manifestexpected.py
  tools/wptrunner/wptrunner/tests/test_testloader.py
  tools/wptrunner/wptrunner/tests/test_update.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptrunner/wptrunner/update/state.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#20901 Fix relative imports in wptrunner for Python3 compatibility
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptlogging.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#20914 Add support for running crashtest tests with webkitgtk
  tools/wptrunner/wptrunner/browsers/epiphany.py
  tools/wptrunner/wptrunner/browsers/webkit.py
  tools/wptrunner/wptrunner/browsers/webkitgtk_minibrowser.py
Labels: infra, wptrunner

#20925 Sync Mozilla CSS tests as of 2019-12-27
  css/vendor-imports/mozilla/mozilla-central-reftests/text-decor-3/support/generate-text-emphasis-line-height-tests.py
  css/vendor-imports/mozilla/mozilla-central-reftests/text-decor-3/support/generate-text-emphasis-position-property-tests.py
  css/vendor-imports/mozilla/mozilla-central-reftests/text-decor-3/support/generate-text-emphasis-ruby-tests.py
  css/vendor-imports/mozilla/mozilla-central-reftests/text-decor-3/support/generate-text-emphasis-style-property-tests.py
  css/vendor-imports/mozilla/mozilla-central-reftests/text3/support/generate-segment-break-transformation-rules-tests.py
Labels: vendor-imports

#20893 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20869 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#20905 [web-animations] Fix test in setting-the-playbackrate-of-an-animation.html
  web-animations/timing-model/animations/setting-the-playback-rate-of-an-animation.html
Labels: web-animations, wg-css, wg-svg

#20961 Fix <input type=time> stepUp()-stops-at-border test
  html/semantics/forms/the-input-element/time.html
Labels: html

#20943 Add content-aspect-ratio and update the description in canvas-aspect-ratio
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/canvas-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/content-aspect-ratio.html
Labels: html

#20920 Replace call to dict.iteritems by six.iteritems
  tools/wptrunner/wptrunner/manifestinclude.py
Labels: infra, wptrunner
