Repository web-platform-tests/wpt, pull requests merged in 2019-06, with the labels that each got.

#17130 cc Update messages.json
  conformance-checkers/html/media-queries/012-valid.html
  conformance-checkers/messages.json
Labels: conformance-checkers, status:needs-reviewers

#17131 service worker: Add more tests for updateViaCache and type in register.
  service-workers/service-worker/registration-schedule-job.https.html
  service-workers/service-worker/registration-updateviacache.https.html
Labels: service-workers, wg-sw

#17138 manifest.update.update's manifest_path argument should be optional
  tools/manifest/update.py
Labels: infra, manifest

#17134 Ensure that testfiles revish is a string.
  tools/wpt/testfiles.py
  tools/wpt/tests/test_testfiles.py
Labels: infra, wpt

#17124 [serve] Make pywebsocket honor log_level config
  tools/serve/serve.py
Labels: infra, serve

#16381 Add test for Joint session state manipulation
  html/browsers/history/joint-session-history/joint-session-history-iframe-state.html
Labels: html

#17164 Wrap event handlers in Client Hints tests in `t.step_func`
  client-hints/accept_ch.tentative.https.html
  client-hints/accept_ch_lifetime.tentative.https.html
  client-hints/accept_ch_lifetime_cross_origin_iframe.tentative.sub.https.html
  client-hints/accept_ch_lifetime_subresource.tentative.https.html
  client-hints/http_equiv_accept_ch_lifetime.tentative.https.html
  client-hints/http_equiv_accept_ch_lifetime_cross_origin_iframe.tentative.sub.https.html
  client-hints/http_equiv_accept_ch_lifetime_subresource.tentative.https.html
Labels: client-hints

#17156 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#17100 Add new tests for CSS properties math-style and math-script-level
  css/css-fonts/math-script-level-and-math-style/math-script-level-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-005.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-005.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-001.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-002.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-004.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-005.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-005.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-002.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-004.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-style-001.tentative.html
  fonts/math/scriptpercentscaledown0-scriptscriptpercentscaledown40.woff
  fonts/math/scriptpercentscaledown80-scriptscriptpercentscaledown0.woff
  fonts/math/scriptpercentscaledown80-scriptscriptpercentscaledown40.woff
  mathml/tools/percentscaledown.py
Labels: assets, css-fonts, mathml, wg-math

#17157 Update interfaces/media-capabilities.idl
  interfaces/media-capabilities.idl
Labels: interfaces

#17017 Corrected and improved absolute_length_units.html
  css/css-values/absolute_length_units.html
Labels: css-values, wg-css

#17147 [wpt] Correctly set the browser channel for Edge
  tools/wpt/install.py
  tools/wpt/run.py
Labels: infra, wpt

#17160 Adjust for device pixel ratio
  preload/link-header-preload-imagesrcset.html
Labels: preload, wg-webperf

#17148 Load Ahem as a webfont everywhere (part 1)
  css/CSS2/text/letter-spacing-004-ref.xht
  css/CSS2/text/letter-spacing-065.xht
  css/css-grid/grid-definition/grid-inline-support-flexible-lengths-001.html
  css/css-grid/grid-definition/grid-inline-support-grid-template-columns-rows-001.html
  css/css-grid/grid-definition/grid-inline-support-named-grid-lines-001.html
  css/css-grid/grid-definition/grid-inline-support-repeat-001.html
  css/css-grid/grid-definition/grid-inline-template-columns-rows-resolved-values-001.html
  css/css-grid/grid-definition/grid-support-flexible-lengths-001.html
  css/css-grid/grid-definition/grid-support-grid-template-columns-rows-001.html
  css/css-grid/grid-definition/grid-support-named-grid-lines-001.html
  css/css-grid/grid-definition/grid-support-repeat-001.html
  css/css-grid/grid-definition/grid-template-columns-rows-resolved-values-001.html
  css/css-shapes/spec-examples/shape-outside-018.html
  docs/writing-tests/ahem.md
  fonts/ahem.css
Labels: CSS2, assets, css-grid, css-shapes, docs, resource-timing, status:needs-reviewers, wg-css, wg-webperf

#17172 Expand set of allowed types when updating manifest.
  tools/manifest/manifest.py
Labels: infra, manifest

#17184 Adjust imagesrcset test for device pixel ratio
  preload/dynamic-adding-preload-imagesrcset.html
Labels: preload, wg-webperf

#17182 Update interfaces/selection-api.idl
  interfaces/selection-api.idl
Labels: interfaces

#17190 Load Ahem as a web font everywhere (part 1a)
  css/css-grid/grid-layout-properties.html
  css/css-ui/text-overflow-023.html
Labels: css-grid, css-ui

#17139 Service workers: Resurrection is no longer a thing
  service-workers/service-worker/getregistration.https.html
  service-workers/service-worker/unregister-then-register-new-script.https.html
  service-workers/service-worker/unregister-then-register.https.html
Labels: service-workers, wg-sw

#17209 rm @tobie from META files
  WebIDL/META.yml
  resources/test/tests/unit/META.yml
Labels: WebIDL, infra, testharness.js, wg-webplatform

#17187 [ci] Collect results from prior release of Safari
  tools/ci/azure/install_safari.yml
Labels: ci, infra

#16920 Use Chromium based Edge for Edge test runs
  .azure-pipelines.yml
  tools/ci/azure/cleanup_win10.yml
  tools/ci/azure/install_edge.yml
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: ci, infra, wpt

#17201 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#17207 Fix spelling errors in /tests/wpt
  eventsource/dedicated-worker/eventsource-onmessage.htm
  eventsource/shared-worker/eventsource-onmessage.htm
Labels: eventsource, servo-export, wg-webapps

#14980 [css-ui] Update which 'appearance' keywords are supported
  css/css-ui/appearance-cssom-001.html
Labels: css-ui

#17206 Service worker: Removing 'currentchange', which only existed in early prototypes
  service-workers/service-worker/registration-end-to-end.https.html
Labels: service-workers, wg-sw

#17215 Import mo form tests
  mathml/presentation-markup/operators/mo-form-dynamic-ref.html
  mathml/presentation-markup/operators/mo-form-dynamic.html
  mathml/presentation-markup/operators/mo-form-fallback-ref.html
  mathml/presentation-markup/operators/mo-form-fallback.html
  mathml/presentation-markup/operators/mo-form-minus-plus-ref.html
  mathml/presentation-markup/operators/mo-form-minus-plus.html
  mathml/presentation-markup/operators/mo-form-ref.html
  mathml/presentation-markup/operators/mo-form.html
Labels: mathml, wg-math

#17203 Service worker: Altering ready test due to resurrection
  service-workers/service-worker/ready.https.html
Labels: service-workers, wg-sw

#17226 Improve dynamic MathML tests
  mathml/presentation-markup/fractions/frac-created-dynamically-2.html
  mathml/presentation-markup/fractions/frac-created-dynamically-3.html
  mathml/presentation-markup/fractions/frac-created-dynamically.html
  mathml/presentation-markup/operators/mo-form-dynamic.html
Labels: mathml, status:needs-reviewers, wg-math

#17227 MathML dynamic fraction test: Use <mn> for numbers.
  mathml/presentation-markup/fractions/frac-created-dynamically-3-ref.html
  mathml/presentation-markup/fractions/frac-created-dynamically-3.html
Labels: mathml, status:needs-reviewers, wg-math

#17213 Ignore the stacktrace when checking errors
  payment-request/allowpaymentrequest/removing-allowpaymentrequest.https.sub.html
  payment-request/allowpaymentrequest/setting-allowpaymentrequest-timing.https.sub.html
  payment-request/allowpaymentrequest/setting-allowpaymentrequest.https.sub.html
Labels: payment-request, wg-payments

#17225 [Azure Pipelines] Make it possible to trigger Safari stable manually
  .azure-pipelines.yml
Labels: infra

#17228 Math script level font size clamping
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-002.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-004.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-004.tentative.html
Labels: css-fonts, mathml, wg-math

#17224 [Azure Pipelines] add `--channel dev` to edgechromium
  .azure-pipelines.yml
Labels: infra

#17240 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#16199 Implement WheelEvent interface
  uievents/order-of-events/mouse-events/wheel-basic-manual.html
  uievents/order-of-events/mouse-events/wheel-scrolling-manual.html
Labels: servo-export, uievents, wg-webapps, wg-webplatform

#17244 Fix typo in unregister-then-register.https.html
  service-workers/service-worker/unregister-then-register.https.html
Labels: service-workers, wg-sw

#17162 custom-elements: Add a test for upgrade failure due to non-null shado…
  custom-elements/upgrading.html
Labels: custom-elements, wg-webplatform

#16788 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#17262 Remove deadlock from payment-is-showing test
  payment-request/payment-is-showing.https.html
Labels: payment-request, wg-payments

#17266 Use `assert_approx_equals` in MediaSource tests
  media-source/mediasource-endofstream.html
  media-source/mediasource-sequencemode-append-buffer.html
Labels: media-source, wg-html

#17287 Fix #17286: TC needs to update the apt database before installing
  .taskcluster.yml
Labels: infra

#17298 Update some webvtt tests to load Ahem as a web font.
  webvtt/rendering/cues-with-video/processing-model/basic-ref.html
  webvtt/rendering/cues-with-video/processing-model/basic.html
  webvtt/rendering/cues-with-video/processing-model/line_0_is_top-ref.html
  webvtt/rendering/cues-with-video/processing-model/line_0_is_top.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_namespace-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_namespace.html
Labels: webvtt, wg-audiovideo_tt

#17300 Allow browsers to block mixed content requests from cross-origin tests.
  beacon/headers/header-referrer-strict-origin-when-cross-origin.https.html
  beacon/headers/header-referrer-strict-origin.https.html
  beacon/headers/header-referrer-unsafe-url.https.html
  beacon/headers/header-referrer.js
Labels: beacon, wg-webperf

#17242 Prevent fooling PerformanceObserver.supportedEntryTypes
  timing-entrytypes-registry/META.yml
  timing-entrytypes-registry/registry.any.js
  timing-entrytypes-registry/registry.window.js
  timing-entrytypes-registry/resources/utils.js
Labels: do not merge yet, status:needs-reviewers, timing-entrytypes-registry

#17272 Prevent the error from triggering a page error in Worker-nested-importScripts-error
  workers/Worker-nested-importScripts-error.html
Labels: servo-export, wg-webapps, workers

#17306 Update interfaces/page-visibility.idl
  interfaces/page-visibility.idl
Labels: interfaces

#17307 Update interfaces/performance-timeline.idl
  interfaces/performance-timeline.idl
Labels: interfaces

#17308 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#17309 Remove relations/css-styling/lengths-2
  mathml/relations/css-styling/lengths-2-ref.html
  mathml/relations/css-styling/lengths-2.html
  mathml/relations/css-styling/lengths-3.html
Labels: mathml, wg-math

#17291 Add ahem.css to Grid tests using .sizedToGridArea
  css/css-grid/abspos/absolute-positioning-grid-container-containing-block-001.html
  css/css-grid/abspos/absolute-positioning-grid-container-parent-001.html
  css/css-grid/abspos/grid-positioned-children-writing-modes-001.html
  css/css-grid/abspos/grid-positioned-items-background-001.html
  css/css-grid/abspos/grid-positioned-items-background-rtl-001.html
  css/css-grid/abspos/grid-positioned-items-implicit-grid-001.html
  css/css-grid/abspos/grid-positioned-items-implicit-grid-line-001.html
  css/css-grid/abspos/grid-positioned-items-unknown-named-grid-line-001.html
  css/css-grid/abspos/grid-sizing-positioned-items-001.html
  css/css-grid/abspos/positioned-grid-items-should-not-create-implicit-tracks-001.html
  css/css-grid/abspos/positioned-grid-items-should-not-take-up-space-001.html
Labels: css-grid

#17302 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=198808
  service-workers/service-worker/fetch-event-async-respond-with.https.html
Labels: service-workers, webkit-export, wg-sw

#17323 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=198784
  intersection-observer/root-margin-root-element.html
Labels: intersection-observer, webkit-export, wg-webapps

#17315 Disallow symlinks
  html/semantics/embedded-content/the-img-element/srcset/resources/image.png
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_path_lints.py
Labels: html, infra, lint

#17336 Adapt to web-nfc latest spec
  web-nfc/NFCReadingEvent_constructor.https.html
  web-nfc/NFCWriter_push.https.html
Labels: web-nfc

#17337 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#17282 Update interfaces/geometry.idl
  interfaces/geometry.idl
Labels: interfaces

#17283 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#17345 Add more direction tests
  mathml/presentation-markup/direction/direction-overall-ref.html
  mathml/presentation-markup/direction/direction-overall.html
  mathml/presentation-markup/direction/direction-token-ref.html
  mathml/presentation-markup/direction/direction-token.html
  mathml/presentation-markup/direction/direction.html
Labels: mathml, wg-math

#17265 [Azure Pipelines] avoid parenthesis in job names
  .azure-pipelines.yml
Labels: infra

#17346 Test mathsize attribute
  mathml/relations/css-styling/mathsize-attribute-ref.html
  mathml/relations/css-styling/mathsize-attribute.html
Labels: mathml, wg-math

#17340 Add web-nfc tests
  web-nfc/NFCReadingEvent_constructor.https.html
Labels: web-nfc

#17344 Convert Long Tasks API idlharness test to use `idl_test`
  longtask-timing/idlharness.window.js
Labels: longtask-timing

#17354 Add tests for movablelimits
  mathml/presentation-markup/operators/mo-movablelimits-default-ref.html
  mathml/presentation-markup/operators/mo-movablelimits-default.html
  mathml/presentation-markup/operators/mo-movablelimits-dynamic-ref.html
  mathml/presentation-markup/operators/mo-movablelimits-dynamic.html
  mathml/presentation-markup/operators/mo-movablelimits-ref.html
  mathml/presentation-markup/operators/mo-movablelimits.html
Labels: mathml, wg-math

#17289 Revert "Ignore lint failures until we import a rev with them fixed"
  lint.whitelist
Labels: infra

#17218 [cssom] Add test disallowing non-standard feature
  css/cssom/cssstyledeclaration-setter-form-controls.html
Labels: cssom, wg-css

#17362 Link to testdriver docs from the main docs site
  docs/writing-tests/index.md
Labels: docs

#17365 [docs] Build (but do not deploy) for pull requests
  tools/ci/website_build.sh
Labels: ci, infra

#17374 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#17325 [serve] Gracefully shut down on SIGTERM
  tools/serve/serve.py
Labels: infra, serve

#17379 [Azure Pipelines] Use more verbose TBPL logging for full runs
  .azure-pipelines.yml
Labels: infra

#15631 [csp] Wait for all tests to be defined
  content-security-policy/generic/generic-0_2.html
  content-security-policy/generic/generic-0_8.sub.html
  content-security-policy/generic/generic-0_8_1.sub.html
  content-security-policy/generic/generic-0_9.sub.html
  content-security-policy/generic/no-default-src.sub.html
  content-security-policy/generic/positiveTest.js
  content-security-policy/reporting/report-only-in-meta.sub.html
  content-security-policy/reporting/report-uri-from-child-frame.html
  content-security-policy/script-src/support/worker-importscripts.js
  content-security-policy/style-src/inline-style-allowed-while-cloning-objects.sub.html
Labels: content-security-policy

#16415 [cookie-store] Promote stability in test results
  cookie-store/serviceworker_cookieStore_subscriptions.js
  cookie-store/serviceworker_cookieStore_subscriptions_basic.js
  cookie-store/serviceworker_cookieStore_subscriptions_empty.js
  cookie-store/serviceworker_cookieStore_subscriptions_eventhandler_attribute.js
  cookie-store/serviceworker_cookieStore_subscriptions_mismatch.js
Labels: cookie-store

#16436 [IndexedDB] Promote test isolation
  IndexedDB/idbfactory_open2.htm
  IndexedDB/idbfactory_open4.htm
  IndexedDB/idbfactory_open5.htm
Labels: IndexedDB, wg-webapps

#16478 [html] Add test for history traversal
  html/browsers/browsing-the-web/history-traversal/api-availability.html
  html/browsers/browsing-the-web/history-traversal/resources/api-availability-1.html
  html/browsers/browsing-the-web/history-traversal/resources/api-availability-2.html
Labels: html

#17368 [docs] Improve GitHub introduction
  docs/appendix/github-intro.md
Labels: docs

#17389 Fix timeout in rejects_if_not_active.https.html
  payment-request/rejects_if_not_active.https.html
Labels: payment-request, wg-payments

#17399 Mark a couple of manual payment-handler tests as manual
  payment-handler/change-payment-method-manual.https.html
  payment-handler/payment-request-event-manual.https.html
Labels: payment-handler, wg-payments

#17221 [css-ui] Test serialization: `-webkit-appearance`
  css/css-ui/appearance-parsing.html
  css/css-ui/appearance-property.html
  css/css-ui/appearance-serialization.html
  css/css-ui/webkit-appearance-parsing.html
  css/css-ui/webkit-appearance-property.html
  css/css-ui/webkit-appearance-serialization.html
Labels: css-ui

#17401 [docs] Increase strictness of build process
  docs/Makefile
  docs/README.md
  docs/admin/index.md
  docs/appendix/test-templates.md
  docs/introduction.md
  docs/running-tests/from-local-system.md
  tools/wptserve/wptserve/response.py
Labels: docs, infra, wptserve

#17425 [webnfc] Remove incorrect test
  web-nfc/NFCReadingEvent_constructor.https.html
  web-nfc/NFCWriter_push.https.html
Labels: web-nfc

#17285 Service worker: self.serviceWorker
  service-workers/service-worker/global-serviceworker.https.any.js
Labels: service-workers, wg-sw

#16339 [docs] Reorganize information on Ahem
  docs/running-tests/from-local-system.md
  docs/writing-tests/ahem.md
Labels: docs

#15964 [docs] Deprecate some requirement flags
  docs/writing-tests/css-metadata.md
Labels: docs

#17422 Update interfaces/mediasession.idl
  interfaces/mediasession.idl
Labels: interfaces

#17423 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#17212 Add mandatory capabilities parameter for webdriver new session command
  tools/webdriver/webdriver/client.py
Labels: infra, webdriver, wg-testing_browser

#17433 [serve] Second attempt to fix the logging more properly
  tools/serve/serve.py
Labels: infra, serve

#17452 Improve failing condition of a test.
  svg/scripted/script-runs-in-shadow-tree.html
Labels: svg, wg-svg

#17440 Fix markdown to use powershell syntax highlighter
  README.md
Labels: infra

#17409 [Azure Pipelines] put parenthesis pack in step names
  .azure-pipelines.yml
Labels: infra

#17386 [docs] Add detail on writing Python handlers
  docs/writing-tests/python-handlers/index.md
  tools/wptserve/docs/handlers.rst
Labels: docs, infra, wptserve

#17486 Add more tests for fraction gaps.
  fonts/math/math-text.woff
  mathml/presentation-markup/fractions/frac-parameters-gap-001-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-001.html
  mathml/presentation-markup/fractions/frac-parameters-gap-002-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-002.html
  mathml/presentation-markup/fractions/frac-parameters-gap-003-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-003.html
  mathml/presentation-markup/fractions/frac-parameters-gap-004-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-004.html
  mathml/presentation-markup/fractions/frac-parameters-gap-005-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-005.html
  mathml/presentation-markup/fractions/frac-parameters-gap-006-ref.html
  mathml/presentation-markup/fractions/frac-parameters-gap-006.html
  mathml/tools/math-text.py
Labels: assets, mathml, wg-math

#17503 Use consistent test naming in encoding/encodeInto.any.js
  encoding/encodeInto.any.js
Labels: encoding

#17369 [docs] Simplify recommendation for advanced usage
  docs/appendix/github-intro.md
Labels: docs

#17505 Simplify EventSource bogus ctor tests
  eventsource/dedicated-worker/eventsource-constructor-url-bogus.htm
  eventsource/eventsource-constructor-url-bogus.any.js
  eventsource/eventsource-constructor-url-bogus.htm
  eventsource/shared-worker/eventsource-constructor-url-bogus.htm
Labels: eventsource, wg-webapps

#17524 Fix font size expectation
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
Labels: css-fonts

#17532 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#17531 Update interfaces/webmidi.idl
  interfaces/webmidi.idl
Labels: interfaces

#17530 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#16170 Added parentheses to check minimum of 32 nested pairs inside calc
  css/css-values/calc-parenthesis-stack.html
Labels: css-values, wg-css

#17529 Trigger affected tests
  interfaces/service-workers.idl
  service-workers/service-worker/interfaces-sw.https.html
Labels: interfaces, service-workers, wg-sw

#17541 Sync Mozilla CSS tests as of 2019-06-26
  css/vendor-imports/mozilla/mozilla-central-reftests/images3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/ruby/ruby-inlinize-blocks-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/ruby/ruby-inlinize-blocks-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-056-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-circle-056.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-ellipse-052-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-ellipse-052.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-032-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/shape-outside-polygon-032.html
Labels: vendor-imports

#17537 Update interfaces/performance-timeline.idl
  interfaces/performance-timeline.idl
Labels: interfaces

#17538 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#17534 math-script-level-004: Fix expectation for the font-size values.
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
Labels: css-fonts

#14260 Origin outside of CORS and interaction with the Referrer Policy
  fetch/origin/assorted.window.js
  fetch/origin/no-cors.any.js
  fetch/origin/resources/redirect-and-stash.py
  fetch/origin/resources/referrer-policy.py
Labels: fetch

#17441 [css-lists] list-style-image computed value
  css/css-lists/parsing/list-style-image-computed.sub.html
Labels: css-lists

#17442 [css-images] Radii are clamped non-negative
  css/css-backgrounds/parsing/background-image-computed.sub.html
Labels: css-backgrounds, css-images

#17430 Correct mediacapture-streams idlharness interface types
  mediacapture-streams/idlharness.https.window.js
Labels: mediacapture-streams, wg-webrtc

#14979 [css-ui] Test for appearance/-webkit-appearance and initial value
  css/css-ui/appearance-initial-value-001.html
Labels: css-ui

#17004 Test that font-family does not match against postscript names.
  css/css-fonts/font-family-name-025-ref.html
  css/css-fonts/font-family-name-025.html
Labels: css-fonts

#17507 Added another link to spec to numbers-units-001 test
  css/CSS2/values/numbers-units-001.xht
Labels: CSS2, wg-css

#17508 Added a link to spec to numbers-units-004 test
  css/CSS2/values/numbers-units-004.xht
Labels: CSS2, wg-css

#17510 Added a link to spec to numbers-units-00[2-3] tests
  css/CSS2/values/numbers-units-002.xht
  css/CSS2/values/numbers-units-003.xht
Labels: CSS2, wg-css

#17512 Added a link to spec to numbers-units-00[5-6] tests
  css/CSS2/values/numbers-units-005.xht
  css/CSS2/values/numbers-units-006.xht
Labels: CSS2, wg-css

#17513 Added a link to spec in 13 CSS2/values tests
  css/CSS2/values/numbers-units-007.xht
  css/CSS2/values/numbers-units-009.xht
  css/CSS2/values/numbers-units-010.xht
  css/CSS2/values/numbers-units-011.xht
  css/CSS2/values/numbers-units-012.xht
  css/CSS2/values/numbers-units-013.xht
  css/CSS2/values/numbers-units-015.xht
  css/CSS2/values/numbers-units-019.xht
  css/CSS2/values/units-002.xht
  css/CSS2/values/units-003.xht
  css/CSS2/values/units-004.xht
  css/CSS2/values/units-005.xht
  css/CSS2/values/units-009.xht
Labels: CSS2, wg-css

#17514 Added a link to spec in 6 CSS2/values tests
  css/CSS2/values/numbers-units-016.xht
  css/CSS2/values/numbers-units-017.xht
  css/CSS2/values/units-001.xht
  css/CSS2/values/units-006.xht
  css/CSS2/values/units-008.xht
Labels: CSS2, wg-css

#17570 HTML: applet no longer exists
  html/dom/elements-obsolete.js
Labels: html

#17568 Update interfaces/animation-worklet.idl
  interfaces/animation-worklet.idl
Labels: interfaces

#17556 Sync Mozilla CSS tests as of 2019-06-27
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-select-elem-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-select-elem-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-select-elem-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-select-elem-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
Labels: vendor-imports

#17211 test correct exception when attempting to draw a closed ImageBitmap to a canvas.
  2dcontext/imagebitmap/createImageBitmap-drawImage-closed.html
Labels: 2dcontext, wg-html

#17437 Test that changing <iframe srcdoc> processes attributes
  html/semantics/embedded-content/the-iframe-element/srcdoc_process_attributes.html
Labels: html

#17579 Update interfaces/animation-worklet.idl
  interfaces/animation-worklet.idl
Labels: interfaces
