Repository web-platform-tests/wpt, pull requests merged in 2019-02, with the labels that each got.

#15192 Values3 gt pr14
  css/css-values/calc-numbers.html
Labels: css-values, wg-css

#15200 Update interfaces/netinfo.idl
  interfaces/netinfo.idl
Labels: interfaces

#15196 [Azure Pipelines] Run all tests on Edge on Windows 10
  .azure-pipelines.yml
Labels: infra

#15201 [Azure Pipelines] Add required variables for manually triggering jobs
  .azure-pipelines.yml
Labels: infra

#15195 Urange Parsing
  css/css-syntax/urange-parsing.html
Labels: css-syntax

#15131 Add some tests for Symbol properties on Storage objects.
  webstorage/symbol-props.window.js
Labels: webstorage, wg-webplatform

#15221 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#15227 Added two noto woff2 fonts (Sans Mongolian, Sans Nko)
  fonts/noto/NotoSansMongolian-regular.woff2
  fonts/noto/NotoSansNko-regular-webfont.woff2
Labels: assets

#15208 Replicating "Alt" key workaround for IE WebDriver tests
  webdriver/tests/perform_actions/key_events.py
Labels: webdriver, wg-testing_browser

#15233 Update infrastructure/ metadata for ChromeDriver 2.45
  infrastructure/metadata/infrastructure/testdriver/actions/elementTiming.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/eventOrder.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiDevice.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/pause.html.ini
Labels: infra

#15204 Enabling older browsers values for KeyboardEvent.key in WebDriver tests
  webdriver/tests/perform_actions/key_events.py
  webdriver/tests/perform_actions/pointer.py
  webdriver/tests/perform_actions/support/keys.py
Labels: webdriver, wg-testing_browser

#15210 [css-grid] Adds test for checking if a button has grid context applied properly
  css/css-grid/grid-model/grid-button-001.html
Labels: css-grid

#15244 [Azure Pipelines] Enable much more verbose TBPL logs for full Edge runs
  .azure-pipelines.yml
Labels: infra

#15030 implemented 3 corrections detailed in issue 14160
  css/css-values/lh-rlh-on-root-001.html
Labels: css-values, wg-css

#14986 14 new CSS Values tests and 3 reference files
  css/css-values/angle-units-001.html
  css/css-values/angle-units-002.html
  css/css-values/angle-units-003.html
  css/css-values/angle-units-004.html
  css/css-values/angle-units-005.html
  css/css-values/attr-invalid-type-008.html
  css/css-values/calc-positive-fraction-001.html
  css/css-values/ch-unit-008.html
  css/css-values/ch-unit-009.html
  css/css-values/ch-unit-010.html
  css/css-values/ch-unit-011.html
  css/css-values/ch-unit-012.html
  css/css-values/reference/ch-unit-008-ref.html
  css/css-values/reference/ch-unit-009-ref.html
  css/css-values/reference/ch-unit-011-ref.html
Labels: css-values, wg-css

#15235 WritableStream: test writer behaviour
  streams/writable-streams/write.any.js
Labels: streams

#15246 Update interfaces/mediasession.idl
  interfaces/mediasession.idl
Labels: interfaces

#15248 Update apiclient
  css/tools/apiclient/test.py
Labels: css, infra

#15249 CODEOWNERS cleanup
  CODEOWNERS
Labels: infra

#15222 Try and improve #15159 by moving the window to a deterministic location
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/reftest.js
Labels: infra, wptrunner

#15141 Use print() function in both Python 2 and Python 3
  css/css-fonts/support/fonts/makegsubfonts.py
  css/tools/w3ctestlib/Sources.py
  tools/pywebsocket/example/echo_client.py
  tools/pywebsocket/test/test_msgutil.py
  tools/pywebsocket/test/test_util.py
  tools/wptrunner/setup.py
  tools/wptrunner/test/test.py
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: css, css-fonts, infra, pywebsocket, third_party, wptrunner

#15097 ReadableStream @@asyncIterator
  streams/readable-streams/async-iterator.any.js
  streams/readable-streams/brand-checks.any.js
  streams/readable-streams/general.any.js
  streams/readable-streams/patched-global.any.js
Labels: streams

#15255 [html] Restore utility method for query encoding
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#15272 Sync Mozilla CSS tests as of 2019-02-07
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-007-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-007.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-intrinsic-ratio-007v.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: vendor-imports

#15278 Stop running coverage by default in tox
  tools/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: infra, tox.ini, wpt, wptrunner

#15286 Use gPV/sP, as that's slightly more well-supported
  css/css-syntax/urange-parsing.html
Labels: css-syntax

#13873 [css-overscroll-behavior] Parsing, serialization
  css/css-overscroll-behavior/parsing/overscroll-behavior-invalid.html
  css/css-overscroll-behavior/parsing/overscroll-behavior-valid.html
Labels: css-overscroll-behavior

#15256 [html] Restore coverage for query encoding
  html/infrastructure/urls/resolving-urls/query-encoding/attributes.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/location.sub.html
  html/infrastructure/urls/resolving-urls/query-encoding/navigation.sub.html
Labels: html

#12804 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#15297 Use CSS style to set color of text and background.
  mathml/presentation-markup/fractions/frac-1.html
  mathml/presentation-markup/fractions/frac-parameters-1.html
  mathml/presentation-markup/fractions/frac-parameters-2.html
  mathml/presentation-markup/operators/mo-axis-height-1.html
  mathml/presentation-markup/radicals/root-parameters-1.html
  mathml/presentation-markup/scripts/subsup-1.html
  mathml/presentation-markup/scripts/subsup-2.html
  mathml/presentation-markup/scripts/subsup-3.html
  mathml/presentation-markup/scripts/subsup-4.html
  mathml/presentation-markup/scripts/subsup-5.html
  mathml/presentation-markup/scripts/subsup-parameters-1.html
  mathml/presentation-markup/scripts/subsup-parameters-2.html
  mathml/presentation-markup/scripts/underover-1.html
  mathml/presentation-markup/scripts/underover-parameters-1.html
  mathml/presentation-markup/scripts/underover-parameters-2.html
  mathml/presentation-markup/scripts/underover-parameters-3.html
  mathml/presentation-markup/scripts/underover-parameters-4.html
  mathml/presentation-markup/spaces/space-1.html
  mathml/presentation-markup/spaces/space-2.html
  mathml/presentation-markup/tables/table-axis-height.html
  mathml/relations/css-styling/display-1.html
  mathml/relations/html5-tree/href-click-1.html
  mathml/relations/html5-tree/href-click-2.html
Labels: mathml, status:needs-reviewers, wg-math

#14952 Remove two uses of dedicated-workers.idl
  background-fetch/idlharness.https.any.js
  payment-handler/idlharness.https.any.js
Labels: background-fetch, payment-handler, wg-payments

#15298 Add an id="log" container at the top of the page for MathML testharne…
  mathml/presentation-markup/fractions/frac-1.html
  mathml/presentation-markup/fractions/frac-parameters-1.html
  mathml/presentation-markup/fractions/frac-parameters-2.html
  mathml/presentation-markup/operators/mo-axis-height-1.html
  mathml/presentation-markup/radicals/root-parameters-1.html
  mathml/presentation-markup/scripts/subsup-1.html
  mathml/presentation-markup/scripts/subsup-2.html
  mathml/presentation-markup/scripts/subsup-3.html
  mathml/presentation-markup/scripts/subsup-4.html
  mathml/presentation-markup/scripts/subsup-5.html
  mathml/presentation-markup/scripts/subsup-parameters-1.html
  mathml/presentation-markup/scripts/underover-1.html
  mathml/presentation-markup/scripts/underover-parameters-1.html
  mathml/presentation-markup/scripts/underover-parameters-2.html
  mathml/presentation-markup/scripts/underover-parameters-3.html
  mathml/presentation-markup/scripts/underover-parameters-4.html
  mathml/presentation-markup/spaces/space-1.html
  mathml/presentation-markup/tables/table-axis-height.html
  mathml/relations/css-styling/displaystyle-1.html
  mathml/relations/css-styling/lengths-3.html
  mathml/relations/html5-tree/class-2.html
  mathml/relations/html5-tree/display-1.html
  mathml/relations/html5-tree/unique-identifier-2.html
Labels: mathml, status:needs-reviewers, wg-math

#15287 [css-overscroll-behavior] Computed values
  css/css-overscroll-behavior/META.yml
  css/css-overscroll-behavior/parsing/overscroll-behavior-computed.html
Labels: css-overscroll-behavior

#15251 Update dynamic import tests now HTML event handler functions do not have [[ScriptOrModule]] set
  html/semantics/scripting-1/the-script-element/module/dynamic-import/scripts/Function.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/scripts/eval.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/scripts/inline-event-handlers-UA-code.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/scripts/reflected-inline-event-handlers.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/scripts/setTimeout.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-classic.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-nonce-module.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/string-compilation-other-document.html
Labels: html

#15328 HTML: noopener keyword is tokenized
  html/browsers/the-window-object/window-open-noopener.html
Labels: html

#15330 Make stability checks provide an explicit message for duplicate test names
  tools/wptrunner/wptrunner/stability.py
Labels: infra, wptrunner

#15312 [css-box] Inheritance, initial values
  css/css-box/inheritance.html
Labels: css-box

#15339 url whitespace consumption
  css/css-syntax/url-whitespace-consumption.html
Labels: css-syntax

#15337 decimal points in numbers
  css/css-syntax/decimal-points-in-numbers.html
Labels: css-syntax

#15347 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#15267 Add screen orientation test: fire event before promise is resolved
  screen-orientation/event-before-promise.html
Labels: screen-orientation, wg-webplatform

#15357 HTML: noreferer was never a property of hyperlinks
  html/semantics/text-level-semantics/historical.html
Labels: html

#15353 Add .mailmap to map people to their current names
  .mailmap
Labels: infra

#15329 Don't use mozdownload to download firefox
  tools/wpt/browser.py
Labels: infra, wpt

#15334 Fix shebangs and executable bits for a bunch of files
  tools/ci/before_install.sh
  tools/ci/ci_built_diff.sh
  tools/ci/ci_lint.sh
  tools/ci/ci_manifest.sh
  tools/ci/lib.sh
  tools/docker/start.sh
  tools/manifest/update.py
  tools/pywebsocket/mod_pywebsocket/memorizingfile.py
  tools/wptrunner/wptrunner/browsers/sauce_setup/edge-prerun.bat
  tools/wptrunner/wptrunner/browsers/sauce_setup/safari-prerun.sh
  tools/wptrunner/wptrunner/formatters.py
Labels: ci, docker, infra, manifest, pywebsocket, third_party, wptrunner

#15350 Fetch: use `t.step_timeout()` instead of bare `step_timeout()`
  fetch/stale-while-revalidate/stale-css.tentative.html
  fetch/stale-while-revalidate/stale-image.tentative.html
Labels: fetch

#15346 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#15342 Added 2 calc() tests on angle and time units from google chromium pro…
  css/css-values/calc-angle-values.html
  css/css-values/calc-time-values.html
Labels: css-values, wg-css

#15369 Unclosed URL At EOF
  css/css-syntax/unclosed-url-at-eof.html
Labels: css-syntax

#15315 [svg] Test ry property parsing
  svg/geometry/parsing/ry-invalid.svg
  svg/geometry/parsing/ry-valid.svg
Labels: svg, wg-svg

#15363 Correct format string in logging messages
  tools/wpt/browser.py
Labels: infra, wpt

#15358 HTML: make <a>'s rel setter test work
  html/semantics/text-level-semantics/the-a-element/a.rel-setter-01.html
Labels: html

#15384 [Azure] Use curl instead of InvokeRESTAPI@1
  .azure-pipelines.yml
Labels: infra

#15385 [Screen Orientation] Fix: add requestFullscreen to onchange-event.html
  screen-orientation/onchange-event.html
Labels: screen-orientation, wg-webplatform

#15378 [Screen Orientation] Fix: add requestFullscreen to lock-basic
  screen-orientation/lock-basic.html
Labels: screen-orientation, wg-webplatform

#15374 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#15391 HTML: window.name
  html/browsers/the-window-object/name-attribute.window.js
Labels: html

#14163 fix: make PMIs conform to spec
  payment-method-basic-card/empty-data-manual.https.html
  payment-method-basic-card/payment-request-canmakepayment-method.https.html
Labels: payment-method-basic-card, wg-payments

#14491 Add CEReactions tests for HTMLBaseElement
  custom-elements/reactions/HTMLBaseElement.html
  custom-elements/reactions/HTMLButtonElement.html
  custom-elements/reactions/resources/reactions.js
Labels: custom-elements, wg-webplatform

#15395 Add @danyao
  payment-request/META.yml
Labels: payment-request, wg-payments

#15397 adding a new test on rgba() function
  css/css-values/rgba-011.html
Labels: css-values, wg-css

#15392 HTML: nested browsing contexts name attribute
  html/browsers/windows/nested-browsing-contexts/name-attribute.window.js
  html/browsers/windows/nested-browsing-contexts/resources/post-to-parent.html
Labels: html

#15407 Update interfaces/storage.idl
  interfaces/storage.idl
Labels: interfaces

#15408 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#15405 Update interfaces/font-metrics-api.idl
  interfaces/font-metrics-api.idl
Labels: interfaces

#15362 Fix flakiness with stale-while-revalidate tests.
  fetch/stale-while-revalidate/fetch.tentative.html
  fetch/stale-while-revalidate/stale-css.py
  fetch/stale-while-revalidate/stale-css.tentative.html
  fetch/stale-while-revalidate/stale-image.py
  fetch/stale-while-revalidate/stale-image.tentative.html
  fetch/stale-while-revalidate/stale-script.py
  fetch/stale-while-revalidate/stale-script.tentative.html
Labels: fetch

#11173 [testdriver] Enable manual interaction
  docs/_writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: content-security-policy, docs, infra, testdriver.js, wptrunner

#15411 Mark WebGL idlharness tests as slow
  webgl/webgl1-idlharness.any.js
  webgl/webgl2-idlharness.any.js
Labels: webgl

#15406 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#15356 HTML: <form rel>
  html/semantics/forms/form-submission-target/rel-base-target.html
  html/semantics/forms/form-submission-target/rel-button-target.html
  html/semantics/forms/form-submission-target/rel-form-target.html
  html/semantics/forms/form-submission-target/rel-input-target.html
  html/semantics/forms/form-submission-target/resources/endpoint.html
  html/semantics/forms/form-submission-target/resources/reltester.js
  html/semantics/rellist-feature-detection.html
Labels: html

#15413 Simplify test_driver_internal to not use prototype + Object.create
  resources/testdriver.js
Labels: infra, testdriver.js

#15421 CDC versus Ident Token
  css/css-syntax/cdc-vs-ident-tokens.html
Labels: css-syntax

#15422 Do not throw from taskcluster-run.py if wpt fails
  tools/ci/taskcluster-run.py
Labels: ci, infra

#15404 Modify HTMLButtonElement CEReactions tests for boolean attributes
  custom-elements/reactions/HTMLButtonElement.html
Labels: custom-elements, wg-webplatform

#15428 Update interfaces/webgl1.idl
  interfaces/webgl1.idl
Labels: interfaces

#15414 HTML: window.length and named access
  html/browsers/the-window-object/length-attribute.window.js
Labels: html

#15401 Added 1 test about z-index and fractional values
  css/css-values/calc-z-index-fractions-001.html
Labels: css-values, wg-css

#15321 Added 2 new calc() tests with background-position
  css/css-values/calc-background-position-002.html
  css/css-values/calc-background-position-003.html
Labels: css-values, wg-css

#15423 Added calc-serialization-002 getComputedStyle-border-radius-002 tests
  css/css-values/calc-serialization-002.html
  css/css-values/getComputedStyle-border-radius-002.html
Labels: css-values, wg-css

#15381 Quirks: move vertical-align-in-quirks.html to historical/
  quirks/historical/reference/vertical-align-in-quirks-ref.html
  quirks/historical/vertical-align-in-quirks.html
  quirks/reference/vertical-align-in-quirks-ref.html
Labels: quirks, status:needs-reviewers

#12695 Make reftests 800x600 everywhere
  docs/_reviewing-tests/checklist.md
  docs/_writing-tests/assumptions.md
  docs/_writing-tests/general-guidelines.md
  docs/_writing-tests/reftests.md
  infrastructure/reftest/size-ref.html
  tools/wptrunner/wptrunner/browsers/fennec.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/reftest.js
Labels: docs, infra, wptrunner

#15313 [css-ui] Parsing of user-select
  css/css-ui/parsing/user-select-computed.html
  css/css-ui/parsing/user-select-invalid.html
  css/css-ui/parsing/user-select-valid.html
Labels: css-ui

#15452 [docs] Adding missing `EventWatcher` heading to docs
  docs/_writing-tests/testharness-api.md
Labels: docs

#15437 Fill testing holes for WritableStream
  streams/writable-streams/brand-checks.any.js
  streams/writable-streams/close.any.js
  streams/writable-streams/write.any.js
Labels: streams

#15453 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#15455 [html] Add test that cancelAnimationFrame cancels a pending animation frame callback
  html/webappapis/animation-frames/cancel-pending.html
Labels: html, status:needs-reviewers

#15110 [Azure Pipelines] Rename all/affected Safari job/artifact names
  .azure-pipelines.yml
Labels: infra

#15301 Import WPT fraction tests from WebKit
  mathml/presentation-markup/fractions/frac-color-001-notref.html
  mathml/presentation-markup/fractions/frac-color-001.html
  mathml/presentation-markup/fractions/frac-linethickness-001-ref.html
  mathml/presentation-markup/fractions/frac-linethickness-001.html
  mathml/presentation-markup/fractions/frac-linethickness-002-ref.html
  mathml/presentation-markup/fractions/frac-linethickness-002.html
  mathml/presentation-markup/fractions/frac-linethickness-003-notref.html
  mathml/presentation-markup/fractions/frac-linethickness-003.html
  mathml/presentation-markup/fractions/frac-mrow-001-ref.html
  mathml/presentation-markup/fractions/frac-mrow-001.html
  mathml/presentation-markup/fractions/frac-numalign-denomalign-001-ref.html
  mathml/presentation-markup/fractions/frac-numalign-denomalign-001.html
Labels: mathml, status:needs-reviewers, wg-math

#15302 Add MathML to check the painting of fraction bars and the effect of C…
  mathml/presentation-markup/fractions/frac-bar-001-ref.html
  mathml/presentation-markup/fractions/frac-bar-001.html
  mathml/presentation-markup/fractions/frac-color-002-ref.html
  mathml/presentation-markup/fractions/frac-color-002.html
  mathml/presentation-markup/fractions/frac-visibility-001-ref.html
  mathml/presentation-markup/fractions/frac-visibility-001.html
Labels: mathml, status:needs-reviewers, wg-math

#15475 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#15472 [wptrunner] Remove unused method
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#15477 [Azure Pipelines] Remove the wpt.fyi hook (no longer needed)
  .azure-pipelines.yml
Labels: infra

#15480 [wasm] Add JS-API tests for wasm threads
  wasm/jsapi/memory/constructor.any.js
Labels: wasm

#15123 html,custom-elements: Add tests for HTMLElement.attachInternals()
  custom-elements/HTMLElement-attachInternals.html
  interfaces/html.idl
Labels: custom-elements, interfaces, wg-webplatform

#15494 Update interfaces/netinfo.idl
  interfaces/netinfo.idl
Labels: interfaces

#15489 [wptrunner] Remove superfluous statement
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptserve/wptserve/request.py
Labels: infra, wptrunner, wptserve

#15498 [Azure Pipelines] Add wpt.fyi hooks for each individual job/run
  .azure-pipelines.yml
  tools/ci/azure/fyi_hook.yml
Labels: ci, infra

#15427 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#15502 [Azure Pipelines] Allow Safari TP to be manually triggered
  .azure-pipelines.yml
Labels: infra

#15460 HTML: window.focus() sans browsing context
  html/browsers/the-window-object/focus.window.js
Labels: html

#15461 HTML: opener of a Window sans browsing context
  html/browsers/windows/embedded-opener-remove-frame.html
Labels: html

#15519 [Azure Pipelines] POST to the /api/checks/azure/1234 endpoint
  tools/ci/azure/fyi_hook.yml
Labels: ci, infra

#15522 [Azure Pipelines] Put artifact name in urlencoded POST body
  tools/ci/azure/fyi_hook.yml
Labels: ci, infra

#15524 Update README and META.yml to use the MathML Core spec.
  mathml/META.yml
  mathml/README.md
Labels: mathml, status:needs-reviewers, wg-math

#15454 Add CEReactions tests for some HTML elements
  custom-elements/reactions/HTMLAreaElement.html
  custom-elements/reactions/HTMLButtonElement.html
  custom-elements/reactions/HTMLEmbedElement.html
  custom-elements/reactions/HTMLFieldSetElement.html
  custom-elements/reactions/HTMLImageElement.html
  custom-elements/reactions/resources/reactions.js
Labels: custom-elements, wg-webplatform

#13125 [docs] Reorganize information on running the tests
  docs/_running-tests/custom-runner.md
  docs/_running-tests/from-local-system.md
  docs/_running-tests/from-web.md
  docs/_running-tests/index.md
  docs/introduction.md
Labels: docs

#15532 [docs] Correct page formatting
  docs/_writing-tests/h2tests.md
Labels: docs

#15508 fix(webvtt regions): scroll_up file has malformed WEBVTT signature
  webvtt/rendering/cues-with-video/processing-model/regions/support/scroll_up.vtt
Labels: webvtt, wg-audiovideo_tt

#15491 Remove new lines in the reference for 'white-space: pre' tests
  webvtt/rendering/cues-with-video/processing-model/selectors/cue/white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/bold_object/bold_white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/italic_object/italic_white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/underline_object/underline_white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/voice_object/voice_white-space_pre_wrapped-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/white-space_pre_wrapped-ref.html
Labels: webvtt, wg-audiovideo_tt

#15530 MathML: Automate href-manual using testdriver.js
  mathml/relations/html5-tree/href-click-3.html
  mathml/relations/html5-tree/href-manual.html
Labels: mathml, status:needs-reviewers, wg-math

#15482 Add some tests for the realms involved in creating new platform objects.
  WebIDL/ecmascript-binding/constructors-support.html
  WebIDL/ecmascript-binding/constructors.html
Labels: WebIDL, status:needs-spec-decision, wg-webplatform

#15556 [wptrunner] Do not use undefined method
  tools/wptrunner/wptrunner/executors/executorselenium.py
Labels: infra, wptrunner

#15488 [wptrunner] Reset internal state during "rerun"
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#15463 Add missing tests for ReadableStream
  streams/readable-streams/async-iterator.any.js
  streams/readable-streams/brand-checks.any.js
  streams/readable-streams/default-reader.any.js
  streams/readable-streams/tee.any.js
Labels: streams

#15557 Update web-nfc idlharness.https.window.js
  web-nfc/idlharness.https.window.js
Labels: web-nfc

#14859 Use the checks API with taskcluster jobs
  .taskcluster.yml
Labels: infra

#15576 Revert "Use the checks API with taskcluster jobs (#14859)"
  .taskcluster.yml
Labels: infra

#15429 [Screen Orientation] Add orientation and associated angle test
  screen-orientation/orientation-reading.html
Labels: screen-orientation, wg-webplatform

#15582 Fix tabs and trailing whitespace in a couple of files.
  tools/pywebsocket/mod_pywebsocket/memorizingfile.py
  tools/scripts/manifest.js
  tools/scripts/toc.js
Labels: infra, pywebsocket, scripts

#15562 [Azure Pipelines] Drop --no-restart-on-unexpected for Edge tests
  .azure-pipelines.yml
Labels: infra

#14074 Add test for response headers
  tools/webdriver/webdriver/transport.py
  webdriver/tests/support/asserts.py
Labels: infra, webdriver, wg-testing_browser

#15574 Move the lint from Travis to TaskCluster
  .taskcluster.yml
  .travis.yml
  tools/ci/start.sh
Labels: ci, infra

#15594 Revert "Move the lint from Travis to TaskCluster"
  .taskcluster.yml
  .travis.yml
  tools/ci/start.sh
Labels: ci, infra

#15597 Fix #15596: change window after reftest:teardown
  tools/wptrunner/wptrunner/executors/executormarionette.py
Labels: infra, wptrunner

#15603 Revert marionette reftest reset
  tools/wptrunner/wptrunner/executors/executormarionette.py
Labels: do not merge yet, infra, vendor-imports, wptrunner

#15581 Sync Mozilla CSS tests as of 2019-02-27
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-image.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/float-retry-push-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/shapes1/reftest.list
Labels: vendor-imports
