Repository web-platform-tests/wpt, pull requests merged in 2019-04, with the labels that each got.

#16169 Corrected 1 error in calc-numbers.html
  css/css-values/calc-numbers.html
Labels: css-values, wg-css

#15515 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#16157 [wptrunner] Detect crash during script execution
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#16176 Fix downloading stable Firefox
  tools/wpt/browser.py
Labels: infra, wpt

#16174 Run base wptrunner tests on python 3.
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/tests/test_manifestexpected.py
  tools/wptrunner/wptrunner/tests/test_products.py
  tools/wptrunner/wptrunner/tests/test_testloader.py
  tools/wptrunner/wptrunner/tests/test_update.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_conditional.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_parser.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_serializer.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_static.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_tokenizer.py
Labels: infra, wptrunner

#16167 Verify that ReadableStreamTee doesn't pull more chunks than the branch HWM
  streams/readable-streams/tee.any.js
Labels: streams

#16205 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16183 Make test_tokenizer pass on python 3.
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_tokenizer.py
Labels: infra, wptrunner

#16208 Add Permissions as dependency for Wake Lock idlharness test
  wake-lock/idlharness.https.any.js
Labels: wake-lock, wg-das

#16204 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16181 Use a single action to generate and tag the manifest.
  .github/main.workflow
  tools/ci/action_manifest_build.sh
  tools/ci/manifest_build.py
Labels: .github, ci, infra

#16185 Remove useless shell script wrapping lint.
  .taskcluster.yml
  tools/ci/ci_lint.sh
  tools/ci/run_tc.py
Labels: ci, infra

#16235 [service-workers] Improve test stability
  service-workers/service-worker/skip-waiting-using-registration.https.html
  service-workers/service-worker/skip-waiting-without-using-registration.https.html
Labels: service-workers, wg-sw

#16234 Updating Edge os_version os_build powershell strings to be raw_strings.
  tools/wptrunner/wptrunner/browsers/edge.py
Labels: infra, wptrunner

#16203 Add a web-nfc test about NDEFMessage url
  web-nfc/NFCReader_options_url-manual.https.html
Labels: web-nfc

#16088 Implement srcObject logic for Blob media providers
  html/semantics/embedded-content/media-elements/src_object_blob.html
Labels: html, servo-export

#16080 HTML: output mutations
  html/semantics/forms/the-output-element/mutations.window.js
Labels: html

#15826 Make Chrome use server_host hard-coded to localhost.
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wpt, wptrunner

#16164 Test [[waitForUpdate]] is set to true on dispatch of payerdetailchange
  payment-request/payment-response/payerdetailschange-updateWith-manual.https.html
Labels: payment-request, wg-payments

#16202 Add web-nfc tests about signal
  web-nfc/NFCWriter_push.https.html
  web-nfc/NFCWriter_push_signal-manual.https.html
Labels: web-nfc

#16257 Add web-nfc tests about NDEFMessageSource TypeError
  web-nfc/NFCWriter_push.https.html
Labels: web-nfc

#16256 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#16258 [css-text-decor] Add -manual to text-decoration tests
  css/css-text-decor/text-decoration-001-manual.html
  css/css-text-decor/text-decoration-002-manual.html
  css/css-text-decor/text-decoration-003-manual.html
  css/css-text-decor/text-decoration-004-manual.html
  css/css-text-decor/text-decoration-040-manual.html
  css/css-text-decor/text-decoration-040a-manual.html
  css/css-text-decor/text-decoration-041-manual.html
  css/css-text-decor/text-decoration-044-manual.html
  css/css-text-decor/text-decoration-045-manual.html
  css/css-text-decor/text-decoration-046a-manual.html
  css/css-text-decor/text-decoration-048-manual.html
  css/css-text-decor/text-decoration-048a-manual.html
  css/css-text-decor/text-decoration-049-manual.html
  css/css-text-decor/text-decoration-082-manual.html
  css/css-text-decor/text-decoration-085-manual.html
  css/css-text-decor/text-decoration-090-manual.html
  css/css-text-decor/text-decoration-090a-manual.html
  css/css-text-decor/text-decoration-091-manual.html
  css/css-text-decor/text-decoration-091a-manual.html
  css/css-text-decor/text-decoration-092-manual.html
  css/css-text-decor/text-decoration-092a-manual.html
  css/css-text-decor/text-decoration-095a-manual.html
  css/css-text-decor/text-decoration-096-manual.html
  css/css-text-decor/text-decoration-096a-manual.html
  css/css-text-decor/text-decoration-097-manual.html
  css/css-text-decor/text-decoration-097a-manual.html
Labels: css-text-decor

#16227 Improve title and comments of play/ended/loop test
  html/semantics/embedded-content/media-elements/playing-the-media-resource/loop-from-ended.tentative.html
Labels: html

#16211 [css-text-decor] Add text-decoration-line tests
  css/css-text-decor/text-decoration-line-001-manual.html
  css/css-text-decor/text-decoration-line-002-manual.html
  css/css-text-decor/text-decoration-line-003-manual.html
  css/css-text-decor/text-decoration-line-004-manual.html
  css/css-text-decor/text-decoration-line-040-manual.html
  css/css-text-decor/text-decoration-line-040a-manual.html
  css/css-text-decor/text-decoration-line-041-manual.html
  css/css-text-decor/text-decoration-line-044-manual.html
  css/css-text-decor/text-decoration-line-045-manual.html
  css/css-text-decor/text-decoration-line-046a-manual.html
  css/css-text-decor/text-decoration-line-048-manual.html
  css/css-text-decor/text-decoration-line-048a-manual.html
  css/css-text-decor/text-decoration-line-049-manual.html
  css/css-text-decor/text-decoration-line-082-manual.html
  css/css-text-decor/text-decoration-line-085-manual.html
  css/css-text-decor/text-decoration-line-090-manual.html
  css/css-text-decor/text-decoration-line-090a-manual.html
  css/css-text-decor/text-decoration-line-091-manual.html
  css/css-text-decor/text-decoration-line-091a-manual.html
  css/css-text-decor/text-decoration-line-092-manual.html
  css/css-text-decor/text-decoration-line-092a-manual.html
  css/css-text-decor/text-decoration-line-095-manual.html
  css/css-text-decor/text-decoration-line-095a-manual.html
  css/css-text-decor/text-decoration-line-096-manual.html
  css/css-text-decor/text-decoration-line-096a-manual.html
  css/css-text-decor/text-decoration-line-097-manual.html
  css/css-text-decor/text-decoration-line-097a-manual.html
Labels: css-text-decor

#16271 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16272 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#16273 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16261 [Azure Pipelines] Add back --no-restart-on-unexpected for Edge
  .azure-pipelines.yml
Labels: infra

#16270 [html] Fix incorrect test cases in selection-start-end-extra.html
  html/semantics/forms/textfieldselection/selection-start-end-extra.html
Labels: html

#16230 Capturing event listeners should be called before non capturing ones
  dom/events/EventTarget-dispatchEvent.html
Labels: dom

#16289 Optimise webnfc NFCReader option tests
  web-nfc/NFCReader_options_recordType_empty-manual.https.html
  web-nfc/NFCReader_options_recordType_json-manual.https.html
  web-nfc/NFCReader_options_recordType_opaque-manual.https.html
  web-nfc/NFCReader_options_recordType_text-manual.https.html
  web-nfc/NFCReader_options_recordType_url-manual.https.html
  web-nfc/NFCReader_options_url-manual.https.html
  web-nfc/resources/nfc_help.js
Labels: web-nfc

#16298 Add a web-nfc test for NFCReaderOptions mediaType
  web-nfc/NFCReader_options_mediaType-manual.https.html
Labels: web-nfc

#16302 Fix typo: s/acutally/actually/
  content-security-policy/README.html
Labels: content-security-policy

#16297 [css-text-decor] Add text-underline-position tests
  css/css-text-decor/text-underline-position-019-manual.html
  css/css-text-decor/text-underline-position-020-manual.html
  css/css-text-decor/text-underline-position-021-manual.html
  css/css-text-decor/text-underline-position-022-manual.html
  css/css-text-decor/text-underline-position-071-manual.html
  css/css-text-decor/text-underline-position-072-manual.html
  css/css-text-decor/text-underline-position-073-manual.html
  css/css-text-decor/text-underline-position-074-manual.html
  css/css-text-decor/text-underline-position-075-manual.html
  css/css-text-decor/text-underline-position-076-manual.html
Labels: css-text-decor

#16311 Add --no-manifest-download flag to wptrunner.
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#16301 [js] test order of host callout & typecheck during eval
  content-security-policy/generic/eval-typecheck-callout-order.tentative.html
  content-security-policy/generic/eval-typecheck-callout-order.tentative.html.headers
Labels: content-security-policy, js

#16309 Merge the xhtml top-level directory into html.
  html/the-xhtml-syntax/parsing-xhtml-documents/adopt-while-parsing-001-ref.html
  html/the-xhtml-syntax/parsing-xhtml-documents/adopt-while-parsing-001.html
  html/the-xhtml-syntax/parsing-xhtml-documents/adopt-while-parsing.xhtml
Labels: html

#13271 [service-workers] Add test for method importScripts to fix issue #2613
  service-workers/service-worker/import-scripts-resource-map.https.html
  service-workers/service-worker/resources/import-scripts-diff-resource-map-worker.js
  service-workers/service-worker/resources/import-scripts-get.py
Labels: service-workers, wg-sw

#16307 DOM: listeners on target are now copied twice
  dom/events/Event-dispatch-handlers-changed.html
Labels: dom

#16177 [Azure Pipelines] Enable experimental Server Timing in Safari TP
  docs/_running-tests/safari.md
  tools/ci/azure/install_safari.yml
Labels: ci, docs, infra

#15111 Fix #12696: make property_order default to empty list
  tools/wptrunner/wptrunner/update/metadata.py
Labels: infra, wptrunner

#16319 [xhr] Remove None headers from the server handler
  xhr/resources/authentication.py
Labels: xhr

#15863 Add a test for the order of operations in the WebAssembly.Global constructor.
  wasm/jsapi/global/value-get-set.any.js
Labels: wasm

#16326 Merge wasm-constants.js and wasm-module-builder.js.
  wasm/jsapi/constructor/compile.any.js
  wasm/jsapi/constructor/instantiate-bad-imports.any.js
  wasm/jsapi/constructor/instantiate.any.js
  wasm/jsapi/constructor/validate.any.js
  wasm/jsapi/instance/constructor-bad-imports.any.js
  wasm/jsapi/instance/constructor.any.js
  wasm/jsapi/instance/exports.any.js
  wasm/jsapi/instance/toString.any.js
  wasm/jsapi/instanceTestFactory.js
  wasm/jsapi/module/constructor.any.js
  wasm/jsapi/module/customSections.any.js
  wasm/jsapi/module/exports.any.js
  wasm/jsapi/module/imports.any.js
  wasm/jsapi/module/toString.any.js
  wasm/jsapi/table/get-set.any.js
  wasm/jsapi/wasm-constants.js
  wasm/jsapi/wasm-module-builder.js
  wasm/webapi/body.any.js
  wasm/webapi/instantiateStreaming-bad-imports.any.js
  wasm/webapi/instantiateStreaming.any.js
  wasm/webapi/invalid-code.any.js
Labels: wasm

#16329 Clarify the repr() of ManifestItem.
  tools/wptrunner/wptrunner/wptmanifest/backends/conditional.py
  tools/wptrunner/wptrunner/wptmanifest/backends/static.py
Labels: infra, wptrunner

#16136 Support downloading bzip2 manifests
  tools/manifest/download.py
  tools/wpt/commands.json
Labels: infra, manifest, wpt

#16332 Use git to get file hashes even with manifest --work
  tools/manifest/vcs.py
Labels: infra, manifest

#16305 override `align-items` in flex-vertical-align-effect.html
  css/css-flexbox/flex-vertical-align-effect.html
Labels: css-flexbox, wg-css

#16334 [tools] Document unintuitive branch
  tools/manifest/vcs.py
Labels: infra, manifest

#16333 Implement DocumentFragment XML serialization.
  domparsing/XMLSerializer-serializeToString.html
Labels: domparsing, servo-export

#16325 Add a note about jsshell tests to the documentation.
  docs/_writing-tests/testharness.md
Labels: docs

#16278 Add some binding tests for DOMStringMap.
  html/dom/elements/global-attributes/dataset-binding.window.js
Labels: html

#16262 Update test for Storage [[Set]].
  webstorage/set.window.js
Labels: webstorage, wg-webplatform

#16343 Update interfaces/FileAPI.idl
  interfaces/FileAPI.idl
Labels: interfaces

#16328 HTML: custom elements upgrade exception
  custom-elements/upgrading/Node-cloneNode.html
  custom-elements/upgrading/upgrading-parser-created-element.html
Labels: custom-elements, wg-webplatform

#16335 Make manifest --work the default; drop the git code
  tools/manifest/download.py
  tools/manifest/manifest.py
  tools/manifest/tests/test_utils.py
  tools/manifest/update.py
  tools/manifest/utils.py
  tools/manifest/vcs.py
Labels: infra, manifest

#16347 [css-text-decor] Add parsing tests for text-decoration-line
  css/css-text-decor/parsing/text-decoration-line-invalid.html
  css/css-text-decor/parsing/text-decoration-line-valid.html
Labels: css-text-decor

#16198 Make serializeToString serialize document nodes correctly
  domparsing/XMLSerializer-serializeToString.html
Labels: domparsing, servo-export

#16358 Import a WebKit test added in https://trac.webkit.org/r236002 for https://github.com/whatwg/dom/issues/742
  shadow-dom/capturing-and-bubbling-event-listeners-across-shadow-trees.html
Labels: shadow-dom, wg-webplatform

#16362 DOM/HTML: remove "Shadow DOM v0" leftovers
  html/semantics/forms/the-label-element/label-attributes.sub.html
  shadow-dom/resources/shadow-dom.js
Labels: html, shadow-dom, wg-webplatform

#16228 [Resource Timing] Fix buffer-full-add-after-full-event test flakiness
  resource-timing/buffer-full-add-after-full-event.html
  resource-timing/resources/buffer-full-utilities.js
Labels: resource-timing, wg-webperf

#16349 Update Python syntax
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
  tools/ci/tests/test_run_tc.py
  tools/lint/lint.py
  tools/manifest/manifest.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_manifest.py
  tools/pywebsocket/example/echo_client.py
  tools/pywebsocket/mod_pywebsocket/standalone.py
  tools/pywebsocket/test/client_for_testing.py
  tools/runner/report.py
  tools/serve/serve.py
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/testfiles.py
  tools/wpt/tests/test_wpt.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/manifestexpected.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wptmanifest/serializer.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_conditional.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_serializer.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_static.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_tokenizer.py
  tools/wptrunner/wptrunner/wpttest.py
  tools/wptserve/tests/functional/base.py
  tools/wptserve/wptserve/response.py
  tools/wptserve/wptserve/router.py
Labels: ci, infra, lint, manifest, pywebsocket, runner, serve, wpt, wptrunner, wptserve

#16361 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16363 Drop meta_filters support
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
  tools/wptrunner/wptrunner/testloader.py
Labels: infra, manifest, wptrunner

#16367 Remove tentative from table test name
  css/css-tables/border-spacing-included-in-sizes-001.html
Labels: css-tables

#14671 [css-text] Test for relaxation of word-break:keep-all when overflowing
  css/css-text/overflow-wrap/overflow-wrap-normal-keep-all-001.html
  css/css-text/overflow-wrap/reference/overflow-wrap-normal-keep-all-001-ref.html
Labels: css-text, wg-css

#14670 [css-text] Test that overflow-wrap doesn't break grapheme clusters
  css/css-text/overflow-wrap/overflow-wrap-cluster-001.html
  css/css-text/overflow-wrap/overflow-wrap-cluster-002.html
  css/css-text/overflow-wrap/reference/overflow-wrap-cluster-001-ref.html
Labels: css-text, wg-css

#16369 Remove test for SVG's hasExtension() function.
  mathml/relations/html5-tree/required-extensions-1.html
Labels: mathml, status:needs-reviewers, wg-math

#16383 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16382 Update interfaces/wake-lock.idl
  interfaces/wake-lock.idl
Labels: interfaces

#16384 Fix typo in mathml/presentation-markup/operators/mo-paint-lspace-rspa…
  mathml/presentation-markup/operators/mo-paint-lspace-rspace.html
Labels: mathml, status:needs-reviewers, wg-math

#13518 [Resource Timing] Test XO redirection sandwich with and without TAO
  common/get-host-info.sub.js
  resource-timing/crossorigin-sandwich-TAO.sub.html
  resource-timing/crossorigin-sandwich-no-TAO.sub.html
  resource-timing/resources/multi_redirect.py
Labels: assets, resource-timing, status:needs-reviewers, wg-webperf

#16330 HTML: ensure BarProps are visible for noopener/noreferrer
  html/browsers/the-window-object/noopener-noreferrer-BarProp.window.js
  html/browsers/the-window-object/support/BarProp-target.html
Labels: html

#16280 [testharness.js] Sanitize unpaired surrogates
  resources/test/tests/unit/unpaired-surrogates.html
  resources/testharness.js
Labels: infra, testharness.js

#16365 Fix bogus type comment syntax causing mypy to fail totally
  tools/wpt/utils.py
Labels: infra, wpt

#16357 Fix "relevant mutations" tests for <img> crossorigin attribute
  html/semantics/embedded-content/the-img-element/relevant-mutations.html
Labels: html

#16372 [xhr] Tolerate expected variation
  xhr/send-redirect-post-upload.htm
Labels: xhr

#15937 test POST navigation with Referrer-Policy
  fetch/origin/no-cors.window.js
  fetch/origin/resources/redirect-and-stash.py
  fetch/origin/resources/referrer-policy.py
Labels: fetch

#16405 Fix get-host-info.sub.js so workers can use it.
  common/get-host-info.sub.js
Labels: assets

#16414 [generic-sensor] Avoid unhandled promise rejection
  generic-sensor/generic-sensor-tests.js
Labels: generic-sensor, wg-das

#16417 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#16422 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#16423 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#16424 Update interfaces/animation-worklet.idl
  interfaces/animation-worklet.idl
Labels: interfaces

#14673 [css-text] Arabic cursive joining and ZWJ
  css/css-text/text-encoding/reference/shaping-join-001-ref.html
  css/css-text/text-encoding/reference/shaping-no-join-001-ref.html
  css/css-text/text-encoding/reference/shaping-tatweel-001-ref.html
  css/css-text/text-encoding/reference/shaping-tatweel-002-ref.html
  css/css-text/text-encoding/shaping-join-001.html
  css/css-text/text-encoding/shaping-join-002.html
  css/css-text/text-encoding/shaping-join-003.html
  css/css-text/text-encoding/shaping-no-join-001.html
  css/css-text/text-encoding/shaping-no-join-002.html
  css/css-text/text-encoding/shaping-no-join-003.html
  css/css-text/text-encoding/shaping-tatweel-001.html
  css/css-text/text-encoding/shaping-tatweel-002.html
  css/css-text/text-encoding/shaping-tatweel-003.html
  fonts/Scheherazade-Regular.woff
  fonts/noto/noto-sans-v8-latin-regular.woff
Labels: assets, css-text, do not merge yet, wg-css, wg-i18n_core

#16379 [css-text] Fix inacurate terminology in test description
  css/css-text/white-space/break-spaces-007.html
Labels: css-text, wg-css

#16377 [css-text] Fix overflow-wrap-break-word-007
  css/css-text/overflow-wrap/overflow-wrap-break-word-007.html
Labels: css-text, wg-css

#16430 [css-text] Incorrectly characterized some tests as MUST insted of SHOULD
  css/css-text/shaping/shaping-001.html
  css/css-text/shaping/shaping-002.html
  css/css-text/shaping/shaping-003.html
  css/css-text/shaping/shaping-008.html
  css/css-text/shaping/shaping-017.html
  css/css-text/shaping/shaping-018.html
  css/css-text/shaping/shaping-020.html
  css/css-text/shaping/shaping-021.html
  css/css-text/shaping/shaping-023.html
  css/css-text/shaping/shaping-024.html
Labels: css-text, wg-css

#15798 Correcting use of pytest.approx for approximate equality checking
  webdriver/tests/perform_actions/pointer.py
  webdriver/tests/perform_actions/pointer_origin.py
Labels: webdriver, wg-testing_browser

#16440 Wbbw
  css/css-text/parsing/word-break-invalid.html
  css/css-text/parsing/word-break-valid.html
Labels: css-text

#16441 [css-text] Simplify tests by removing unneeded positioning / z-indexing
  css/css-text/white-space/break-spaces-003.html
  css/css-text/white-space/break-spaces-004.html
  css/css-text/white-space/break-spaces-005.html
  css/css-text/white-space/break-spaces-006.html
  css/css-text/white-space/break-spaces-007.html
  css/css-text/white-space/break-spaces-008.html
  css/css-text/white-space/break-spaces-009.html
  css/css-text/white-space/pre-wrap-008.html
  css/css-text/white-space/pre-wrap-015.html
  css/css-text/white-space/pre-wrap-016.html
  css/css-text/white-space/reference/white-space-break-spaces-005-ref.html
Labels: css-text, wg-css

#16442 [css-test] test the line breaking of replaced elements and atomic inlines
  css/css-text/line-breaking/line-breaking-atomic-001.html
  css/css-text/line-breaking/line-breaking-atomic-002.html
  css/css-text/line-breaking/line-breaking-atomic-003.html
  css/css-text/line-breaking/line-breaking-atomic-004.html
  css/css-text/line-breaking/line-breaking-atomic-005.html
  css/css-text/line-breaking/line-breaking-atomic-006.html
  css/css-text/line-breaking/line-breaking-atomic-007.html
  css/css-text/line-breaking/line-breaking-atomic-008.html
  css/css-text/line-breaking/line-breaking-replaced-001.html
  css/css-text/line-breaking/line-breaking-replaced-002.html
  css/css-text/line-breaking/line-breaking-replaced-003.html
  css/css-text/line-breaking/line-breaking-replaced-004.html
  css/css-text/line-breaking/line-breaking-replaced-005.html
  css/css-text/line-breaking/reference/line-breaking-atomic-003-ref.html
  css/css-text/line-breaking/reference/line-breaking-atomic-005-ref.html
  css/css-text/line-breaking/reference/line-breaking-atomic-007-ref.html
  css/css-text/line-breaking/reference/line-breaking-atomic-008-ref.html
  css/css-text/line-breaking/reference/line-breaking-replaced-001-ref.html
  css/css-text/line-breaking/reference/line-breaking-replaced-002-ref.html
  css/css-text/line-breaking/reference/line-breaking-replaced-003-ref.html
  css/css-text/line-breaking/reference/line-breaking-replaced-004-ref.html
  css/css-text/line-breaking/reference/line-breaking-replaced-005-ref.html
Labels: css-text, wg-css

#16443 [css-test] Handle U+00C0 as other control characters
  css/css-text/white-space/control-chars-00C.html
Labels: css-text, wg-css

#16444 [css2] Fix typo in text that make it check the wrong character
  css/CSS2/text/white-space-processing-005.xht
Labels: CSS2, wg-css

#16439 [testharness.js] Correct assertion message
  resources/testharness.js
Labels: infra, testharness.js

#16454 Use Omaha proxy to find the correct ChromeDriver
  tools/wpt/browser.py
Labels: infra, wpt

#16472 Get runner.js working again
  tools/runner/runner.js
Labels: infra, runner

#16378 [css-text-3] Fix incorrect test
  css/css-text/white-space/break-spaces-008.html
Labels: css-text, wg-css

#11191 Use the The 3-Clause BSD License from opensource.org
  CONTRIBUTING.md
  LICENSE.md
Labels: infra

#16447 Split the nested context tests to reduce chances of timeouts on bots
  resource-timing/nested-context-navigations-embed.html
  resource-timing/nested-context-navigations-iframe.html
  resource-timing/nested-context-navigations-object.html
  resource-timing/nested-context-navigations.html
Labels: resource-timing, status:needs-reviewers, wg-webperf

#16459 [docs] Remove ambiguity
  docs/_running-tests/safari.md
Labels: docs

#16562 Attempt to handle ChromeDriver versions better
  tools/ci/ci_wptrunner_infrastructure.sh
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/tests/test_wpt.py
Labels: ci, infra, wpt

#16572 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=197338
  fetch/api/request/request-keepalive.html
Labels: fetch, webkit-export

#16552 Update interfaces/user-timing.idl
  interfaces/user-timing.idl
Labels: interfaces

#16574 Update interfaces/mediacapture-streams.idl
  interfaces/mediacapture-streams.idl
Labels: interfaces

#16558 Import WebKit tests for inferred mrow (baseline alignment, stretchy o…
  mathml/presentation-markup/mrow/inferred-mrow-baseline.html
  mathml/presentation-markup/mrow/inferred-mrow-stretchy.html
Labels: mathml, status:needs-reviewers, wg-math

#16582 [css-contain] Mark body as overflow:hidden in contain-size-grid-002.html
  css/css-contain/contain-size-grid-002.html
Labels: css-contain

#16565 HTML: test autocomplete=one-time-code. For whatwg/html#4573
  html/semantics/forms/the-form-element/form-autocomplete.html
Labels: html

#7494 Add more tests for FileReader.result.
  FileAPI/reading-data-section/filereader_events.any.js
  FileAPI/reading-data-section/filereader_result.html
Labels: FileAPI, wg-webapps, wg-webplatform

#8575 [css-scroll-snap] Add tests for scroll-into-view operations.
  css/css-scroll-snap/scroll-target-001-ref.html
  css/css-scroll-snap/scroll-target-align-001.html
  css/css-scroll-snap/scroll-target-align-002.html
  css/css-scroll-snap/scroll-target-align-003.html
  css/css-scroll-snap/scroll-target-margin-001.html
  css/css-scroll-snap/scroll-target-margin-002.html
  css/css-scroll-snap/scroll-target-margin-003.html
  css/css-scroll-snap/scroll-target-padding-001.html
  css/css-scroll-snap/scroll-target-padding-002.html
  css/css-scroll-snap/scroll-target-padding-003.html
  css/css-scroll-snap/scroll-target-snap-001.html
  css/css-scroll-snap/scroll-target-snap-002.html
  css/css-scroll-snap/scroll-target-snap-003.html
  css/css-scroll-snap/support/scroll-target-align-001-iframe.html
  css/css-scroll-snap/support/scroll-target-margin-001-iframe.html
  css/css-scroll-snap/support/scroll-target-padding-001-iframe.html
  css/css-scroll-snap/support/scroll-target-snap-001-iframe.html
Labels: css-scroll-snap, status:needs-reviewers, wg-css

#16561 Update pointerevents test pointerevent_coordinates_when_locked.html
  pointerevents/pointerlock/pointerevent_coordinates_when_locked.html
Labels: pointerevents, wg-pointerevents

#16577 additional test for patternMismatch validation
  html/semantics/forms/constraints/form-validation-validate.html
  html/semantics/forms/constraints/form-validation-validity-patternMismatch.html
Labels: html

#16587 Fix RefTest.to_json for fuzzy values including None
  tools/manifest/item.py
  tools/manifest/tests/test_item.py
Labels: infra, manifest

#16588 Rebuild mtime cache when we fallback to rebuilding the manifest
  tools/manifest/manifest.py
Labels: infra, manifest

#16589 Define __slots__ on all manifest item classes
  tools/manifest/item.py
Labels: infra, manifest

#16593 Use .any.js syntax for some xhr tests
  xhr/event-abort.any.js
  xhr/event-abort.htm
  xhr/event-error.sub.any.js
  xhr/event-error.sub.html
  xhr/event-load.any.js
  xhr/event-load.htm
  xhr/event-loadend.any.js
  xhr/event-loadend.htm
  xhr/event-loadstart-upload.any.js
  xhr/event-loadstart-upload.htm
  xhr/event-loadstart.any.js
  xhr/event-loadstart.htm
  xhr/event-progress.any.js
  xhr/event-progress.htm
  xhr/event-readystate-sync-open.any.js
  xhr/event-readystate-sync-open.htm
  xhr/event-readystatechange-loaded.any.js
  xhr/event-readystatechange-loaded.htm
  xhr/event-timeout-order.any.js
  xhr/event-timeout-order.htm
  xhr/event-timeout.any.js
  xhr/event-timeout.htm
  xhr/event-upload-progress-crossorigin.any.js
  xhr/event-upload-progress.any.js
Labels: xhr

#16597 Added 2 complex gCS shorthand tests on calc(mixed values)
  css/css-values/getComputedStyle-border-radius-001.html
  css/css-values/getComputedStyle-border-radius-003.html
Labels: css-values, wg-css

#16545 Add PaymentRequestEvent.changePaymentMethod(methodName, details) test.
  payment-handler/app-change-payment-method.js
  payment-handler/change-payment-method.https.html
Labels: payment-handler, wg-payments

#16599 Added precise test on computed value of rgb() with calc(%tage)
  css/css-values/calc-rgb-percent-001.html
Labels: css-values, wg-css

#16567 Move from hosts[][www] to hosts[alt][] for resource timing tests
  resource-timing/redirects.sub.html
  resource-timing/resources/fake_responses_https.sub.html
  resource-timing/resources/fake_responses_https_redirect.sub.html
Labels: resource-timing, wg-webperf

#16576 [css-writing-modes] Add vertical writing mode tests
  css/css-writing-modes/writing-mode-vlr-001-manual.html
  css/css-writing-modes/writing-mode-vlr-002-manual.html
  css/css-writing-modes/writing-mode-vlr-003-manual.html
  css/css-writing-modes/writing-mode-vlr-005-manual.html
  css/css-writing-modes/writing-mode-vlr-006-manual.html
  css/css-writing-modes/writing-mode-vlr-007-manual.html
  css/css-writing-modes/writing-mode-vlr-008-manual.html
  css/css-writing-modes/writing-mode-vlr-009-manual.html
  css/css-writing-modes/writing-mode-vlr-010-manual.html
  css/css-writing-modes/writing-mode-vlr-012-manual.html
  css/css-writing-modes/writing-mode-vlr-014-manual.html
  css/css-writing-modes/writing-mode-vlr-015-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-001-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-002-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-003-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-004-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-005-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-006-manual.html
  css/css-writing-modes/writing-mode-vlr-table-001-manual.html
  css/css-writing-modes/writing-mode-vlr-table-002-manual.html
  css/css-writing-modes/writing-mode-vrl-001-manual.html
  css/css-writing-modes/writing-mode-vrl-002-manual.html
  css/css-writing-modes/writing-mode-vrl-003-manual.html
  css/css-writing-modes/writing-mode-vrl-005-manual.html
  css/css-writing-modes/writing-mode-vrl-007-manual.html
  css/css-writing-modes/writing-mode-vrl-008-manual.html
  css/css-writing-modes/writing-mode-vrl-009-manual.html
  css/css-writing-modes/writing-mode-vrl-010-manual.html
  css/css-writing-modes/writing-mode-vrl-012-manual.html
  css/css-writing-modes/writing-mode-vrl-014-manual.html
  css/css-writing-modes/writing-mode-vrl-015-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-001-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-002-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-003-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-004-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-005-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-006-manual.html
  css/css-writing-modes/writing-mode-vrl-table-001-manual.html
  css/css-writing-modes/writing-mode-vrl-table-002-manual.html
Labels: css-writing-modes

#16591 Always set rebuild = True when we have to rebuild the manifest
  tools/manifest/manifest.py
Labels: infra, manifest

#16601 Add contact address to web-based runner page
  tools/runner/index.html
Labels: infra, runner

#16605 Update lint for `internals` to not assume `window.internals`
  docs/_writing-tests/lint-tool.md
  lint.whitelist
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: docs, infra, lint

#16609 Fix typo: possibilty -> possibility
  infrastructure/reftest/reftest_fuzzy_no_differences.html
  infrastructure/reftest/reftest_fuzzy_no_differences_1.html
Labels: infra

#16360 [docs] Restructure explanations of test types
  docs/_writing-tests/index.md
  docs/introduction.md
Labels: docs

#16575 Import dynamic MathML dir test from Mozilla layout/reftests/mathml/dir-11.html (#16575)
  mathml/relations/css-styling/dynamic-dir-1-ref.html
  mathml/relations/css-styling/dynamic-dir-1.html
Labels: mathml, wg-math

#16610 Fix gitignore with a literal plus an exclusion
  tools/gitignore/gitignore.py
  tools/gitignore/tests/test_gitignore.py
Labels: gitignore, infra
