Repository web-platform-tests/wpt, pull requests merged in 2019-11, with the labels that each got.

#20042 Update interfaces/media-capabilities.idl
  interfaces/media-capabilities.idl
Labels: interfaces

#19562 html: Add tests for SubmitEvent interface
  html/semantics/forms/form-submission-0/SubmitEvent.window.js
  html/semantics/forms/form-submission-0/form-submission-algorithm.html
  html/semantics/forms/form-submission-0/implicit-submission.optional.html
  html/semantics/forms/form-submission-0/resources/targetted-form.js
Labels: html

#20039 Switch to community TC deployment
  .taskcluster.yml
Labels: Taskcluster

#20034 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20053 Sync Mozilla CSS tests as of 2019-11-01
  css/vendor-imports/mozilla/mozilla-central-reftests/lists-3/list-style-type-string-001-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/lists-3/list-style-type-string-001a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/lists-3/list-style-type-string-001b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/lists-3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
Labels: vendor-imports

#19904 [WebCryptoAPI] Defer harness completion
  WebCryptoAPI/derive_bits_keys/ecdh_bits.https.any.js
  WebCryptoAPI/derive_bits_keys/ecdh_bits.js
  WebCryptoAPI/derive_bits_keys/ecdh_keys.https.any.js
  WebCryptoAPI/derive_bits_keys/ecdh_keys.js
  WebCryptoAPI/derive_bits_keys/hkdf.https.any.js
  WebCryptoAPI/derive_bits_keys/hkdf.js
  WebCryptoAPI/derive_bits_keys/pbkdf2.https.any.js
  WebCryptoAPI/derive_bits_keys/pbkdf2.js
Labels: WebCryptoAPI, wg-webcrypto

#20041 Fix generation of TC URLs
  tools/ci/run_tc.py
  tools/ci/tcdownload.py
  tools/wpt/browser.py
Labels: ci, infra, wpt

#20038 Fix a dead link in docs
  docs/running-tests/from-local-system.md
Labels: docs

#20050 Minor changes to testdriver docs
  docs/writing-tests/index.md
  docs/writing-tests/testdriver-extension-tutorial.md
  docs/writing-tests/testdriver.md
  docs/writing-tests/testharness.md
Labels: docs

#19986 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#20066 [css] remove reftest.list files outside of vendor-imports
  css/css-backgrounds/background-attachment-local/reftest.list
  css/css-backgrounds/background-size/vector/empty/reftest.list
  css/css-backgrounds/background-size/vector/reftest.list
Labels: css-backgrounds

#20067 Rename battery-interface-idlharness.https.window.js to idlharness.https.window.js
  battery-status/idlharness.https.window.js
Labels: battery-status, wg-das

#19269 Fix documentation links in testharness.md
  docs/writing-tests/testharness.md
Labels: docs

#20072 Add a test template for testdriver.js usage
  docs/writing-tests/test-templates.md
Labels: docs

#20074 Fix README: lint is described above contrib
  README.md
Labels: infra

#18648 [import-maps] Re-implement dynamic resource
  import-maps/builtin-support.tentative/static-import.js
  import-maps/builtin-support.tentative/static-import.py
  import-maps/core/static-import.js
  import-maps/core/static-import.py
  import-maps/resources/test-helper.js
Labels: import-maps, status:needs-reviewers

#15664 [csp] Enable string substitution behavior
  content-security-policy/generic/generic-0_1-script-src.html
  content-security-policy/generic/generic-0_10.sub.html
Labels: content-security-policy

#16409 [xhr] Promote determinism in test for invalid HTTP
  xhr/resources/echo-method.py
Labels: xhr

#17236 [cssom] Test serialization of media queries
  css/cssom/serialize-media-rule.html
Labels: cssom, wg-css

#16355 [csp] Correct typo in documentation
  content-security-policy/README.html
Labels: content-security-policy

#19816 Implement MouseEvent's x/y and offsetX/offsetY attributes
  css/cssom-view/mouseEvent.html
Labels: cssom-view, servo-export, wg-css

#20084 Fix incorrect assertion in <iframe srcdoc> attributes processing test
  html/semantics/embedded-content/the-iframe-element/srcdoc_process_attributes.html
Labels: html

#20086 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#19277 Update interfaces/picture-in-picture.idl
  interfaces/picture-in-picture.idl
Labels: interfaces

#20075 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#19715 [docs] Document `on_event` function
  docs/writing-tests/testharness-api.md
  resources/test/tests/functional/api-tests-1.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#20036 [testharness.js] Require single-page test opt-in
  docs/writing-tests/testharness-api.md
  infrastructure/metadata/infrastructure/expected-fail/uncaught-exception.html.ini
  infrastructure/metadata/infrastructure/expected-fail/unhandled-rejection.html.ini
  infrastructure/metadata/infrastructure/server/context.any.js.ini
  infrastructure/metadata/infrastructure/server/order-of-metas.any.js.ini
  infrastructure/metadata/infrastructure/server/secure-context.https.any.js.ini
  infrastructure/metadata/infrastructure/server/title.any.js.ini
  resources/test/tests/functional/single-page-test-fail.html
  resources/test/tests/functional/single-page-test-no-assertions.html
  resources/test/tests/functional/single-page-test-no-body.html
  resources/test/tests/functional/single-page-test-pass.html
  resources/test/tests/functional/worker-uncaught-single.js
  resources/test/tests/unit/exceptional-cases.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#20103 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#20104 Fix some tests for define() in CustomElementRegistry.html
  custom-elements/CustomElementRegistry.html
Labels: custom-elements, wg-webplatform

#20115 Remove orphaned webaudio/refresh_idl.rb (Ruby script)
  webaudio/refresh_idl.rb
Labels: webaudio, wg-audio

#20095 Added a speech-api test for speaking an empty utterance
  speech-api/SpeechSynthesis-speak-events.html
Labels: speech-api

#20121 Update interfaces/web-share.idl
  interfaces/web-share.idl
Labels: interfaces

#20116 Basic crossOriginIsolated tests
  html/cross-origin-opener-policy/coep.https.html
  html/cross-origin-opener-policy/no-https.html
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/no-coop-coep.https.any.js
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/resources/nested-worker-success.js
  html/webappapis/the-windoworworkerglobalscope-mixin/README.md
Labels: html

#20099 [docs] Remove contact info for results-collection
  docs/admin/index.md
Labels: docs

#20123 [testharness.js] extract the stack for unhandled rejection
  resources/testharness.js
Labels: infra, testharness.js

#20117 Document why the top-level wpt.py exists
  wpt.py
Labels: infra

#20071 Update usvstring-reflection.https.html
  html/dom/usvstring-reflection.https.html
Labels: html

#20147 [docs] update email filter instruction
  docs/reviewing-tests/email.md
Labels: docs

#19151 hmtl: Add a test for an autofocus issue with <dialog>
  html/semantics/interactive-elements/the-dialog-element/dialog-autofocus-just-once.html
  html/semantics/interactive-elements/the-dialog-element/dialog-focusing-steps-prevent-autofocus.html
Labels: do not merge yet, html

#20152 [taskcluster] Disable Chrome sandboxing in Docker
  tools/tox.ini
  tools/wpt/run.py
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: infra, tox.ini, wpt, wptrunner

#20088 [css-grid] Grid align justify tests
  css/css-grid/alignment/grid-align-justify-margin-border-padding-vertical-lr.html
  css/css-grid/alignment/grid-align-justify-margin-border-padding-vertical-rl.html
  css/css-grid/alignment/grid-align-justify-margin-border-padding.html
  css/css-grid/alignment/grid-align-justify-overflow.html
  css/css-grid/alignment/grid-align-justify-stretch-with-orthogonal-flows.html
Labels: css-grid

#19579 Implement the Virtual Authenticator testdriver API
  infrastructure/metadata/infrastructure/testdriver/virtual_authenticator.html.ini
  infrastructure/testdriver/virtual_authenticator.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: debug, infra, testdriver.js, wptrunner

#18014 [docs] Introduce video introduction
  docs/assets/web-platform.png
  docs/index.md
  docs/intro-video-transcript.md
Labels: docs, mozilla:gecko-blocked

#20158 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#19729 [storage-access-api] create META.yml
  storage-access-api/META.yml
Labels: status:needs-reviewers, storage-access-api

#20168 [testharness.js] Preserve harness error message
  resources/testharness.js
Labels: infra, mozilla:gecko-blocked, testharness.js

#20167 [css-lists] Opt-in to single-page test feature
  css/css-lists/list-inside-contain.html
Labels: css-lists

#20092 Name and link to the license from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: infra

#20093 Simplifiy contributing section in README
  README.md
Labels: infra

#20163 [docs] update wpt.live address
  README.md
  docs/index.md
Labels: docs, infra

#20160 Replace most instances of "Web Platform Tests"
  common/security-features/resources/common.sub.js
  css/css-scroll-anchoring/README.md
  mixed-content/README.md
  mixed-content/generic/test-case.sub.js
  referrer-policy/README.md
  sms/README.md
  tools/webdriver/README.md
  upgrade-insecure-requests/README.md
Labels: assets, css-scroll-anchoring, infra, mixed-content, referrer-policy, sms, upgrade-insecure-requests, webdriver, wg-testing_browser, wg-webappsec

#19861 Closing a PeerConnection should not fire iceconnectionstatechange event.
  webrtc/RTCPeerConnection-iceConnectionState.https.html
Labels: webrtc, wg-webrtc

#20153 Use long timeout in webdriver/tests/find_element_from_element/find.py
  webdriver/tests/find_element_from_element/find.py
Labels: webdriver, wg-testing_browser

#20177 Update psutil to 5.6.5
  tools/wptrunner/requirements_firefox.txt
Labels: infra, wptrunner

#20173 [speech-api] use `assert_precondition` to avoid spurious failure
  speech-api/historical.html
Labels: speech-api, status:needs-reviewers

#20179 Prevent potential timeout results in 2 MathML tests:
  mathml/relations/html5-tree/css-inline-style-dynamic.tentative.html
  mathml/relations/html5-tree/href-click-3.html
Labels: mathml, status:needs-reviewers, wg-math

#20190 [websockets] Correct references
  websockets/unload-a-document/001-1.html
  websockets/unload-a-document/002-1.html
Labels: websockets, wg-webapps

#20189 Update interfaces/resize-observer.idl
  interfaces/resize-observer.idl
Labels: interfaces

#20191 Recompress PNGs in docs/assets where there are significant gains
  docs/assets/createpr.png
  docs/assets/pullrequestbtn.png
  docs/assets/reftest-tutorial-test-screenshot.png
  docs/assets/testharness-tutorial-test-screenshot-1.png
  docs/assets/testharness-tutorial-test-screenshot-2.png
  docs/assets/web-platform.png
Labels: docs, mozilla:gecko-blocked

#20085 Update interfaces/fetch.idl
  interfaces/fetch.idl
Labels: interfaces

#20139 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#20195 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20083 autofocus: Add tests for delegatesFocus and <area>.
  html/interaction/focus/the-autofocus-attribute/resources/imagemap.html
  html/interaction/focus/the-autofocus-attribute/supported-elements.html
Labels: do not merge yet, html

#19865 Convert manual test for input events to use testdriver
  input-events/input-events-typing.html
Labels: input-events, wg-webapps

#20199 taskcluster: ensure data.metadata.owner is a valid e-mail on push event
  .taskcluster.yml
Labels: Taskcluster

#20192 Wait 100ms for oniceconnectionstatechange event to have fired.
  webrtc/RTCPeerConnection-iceConnectionState.https.html
Labels: webrtc, wg-webrtc

#20089 Refer to web-platform-tests.org docs from README
  README.md
Labels: infra

#20209 Add subtests for dir attribute
  mathml/relations/css-styling/attribute-mapping-001.html
Labels: mathml, wg-math

#20211 taskcluster: ensure data.metadata.owner is a valid e-mail on push event (v2)
  .taskcluster.yml
Labels: Taskcluster

#20216 cramped-001.html: Overscripts are not cramped.
  mathml/presentation-markup/scripts/cramped-001.html
Labels: mathml, status:needs-reviewers, wg-math

#20205 Verify piping disturbs stream synchronously
  fetch/api/response/response-stream-disturbed-by-pipe.any.js
Labels: fetch

#20224 taskcluster: ensure data.metadata.owner is a valid e-mail on push event (v3)
  .taskcluster.yml
Labels: Taskcluster

#20232 taskcluster: ensure data.metadata.owner is a valid e-mail on push event (v4)
  .taskcluster.yml
Labels: Taskcluster

#20247 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#20223 [html] Include omitted script
  html/syntax/parsing/html5lib_innerHTML_adoption01.html
  html/syntax/parsing/html5lib_innerHTML_foreign-fragment.html
  html/syntax/parsing/html5lib_innerHTML_math.html
  html/syntax/parsing/html5lib_innerHTML_tests4.html
  html/syntax/parsing/html5lib_innerHTML_tests6.html
  html/syntax/parsing/html5lib_innerHTML_tests7.html
  html/syntax/parsing/html5lib_innerHTML_tests_innerHTML_1.html
  html/syntax/parsing/html5lib_innerHTML_webkit02.html
  html/tools/html5lib_test_fragment.xml
Labels: html

#20213 WebKitWebDriver: pass list of domains where WPT certificate is valid (#19233)
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/browsers/epiphany.py
  tools/wptrunner/wptrunner/browsers/webkit.py
  tools/wptrunner/wptrunner/browsers/webkitgtk_minibrowser.py
  tools/wptrunner/wptrunner/tests/browsers/test_webkitgtk.py
Labels: infra, wptrunner

#20249 taskcluster: ensure data.metadata.owner is a valid e-mail on push event (v5)
  .taskcluster.yml
Labels: Taskcluster

#20120 Add support for the mutable argument to addImportedGlobal.
  wasm/jsapi/wasm-module-builder.js
Labels: wasm

#20118 Ensure all exports are checked in assert_Instance.
  wasm/jsapi/assertions.js
Labels: wasm

#17314 Add an initial test for wasm multi-value.
  wasm/jsapi/constructor/multi-value.any.js
Labels: wasm

#16313 Add a test for object identity in WebAssembly exports.
  wasm/jsapi/instance/constructor-caching.any.js
Labels: wasm

#20244 [web-locks] Improve test determinism
  web-locks/signal.tentative.https.any.js
Labels: web-locks

#20127 Allow metadata to expect any subtest statuses for a test.
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#20253 [infra] Remove unused configuration file
  check_stability.ini
Labels: infra

#17189 [docs] Generate linting docs from source
  docs/__init__.py
  docs/conf.py
  docs/wpt_lint_rules.py
  docs/writing-tests/lint-tool.md
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: docs, infra, lint

#20234 [mediacapture-image] Correct failure reporting
  mediacapture-image/MediaStreamTrack-getConstraints-fast.html
Labels: mediacapture-image

#20255 taskcluster: remove trigger on branch epochs/three_hourly
  .taskcluster.yml
Labels: Taskcluster

#20266 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#20146 Recreate #15394
  screen-orientation/event-before-promise.html
  screen-orientation/lock-basic.html
  screen-orientation/lock-unlock-check.html
  screen-orientation/onchange-event-subframe.html
  screen-orientation/onchange-event.html
  screen-orientation/orientation-reading.html
Labels: screen-orientation, status:needs-reviewers, wg-webapps

#20272 Update interfaces/speech-api.idl
  interfaces/speech-api.idl
Labels: interfaces

#20271 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#20274 Add stephenmcgruer to interfaces/META.yml
  interfaces/META.yml
Labels: interfaces

#20273 webdriver: perform_actions/validity.py::test_pause_invalid_types
  webdriver/tests/perform_actions/validity.py
Labels: webdriver, wg-testing_browser

#20286 [tools] Remove unused lint exceptions
  lint.whitelist
Labels: infra

#20290 Sync Mozilla CSS tests as of 2019-11-17
  css/vendor-imports/mozilla/mozilla-central-reftests/will-change/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/will-change/will-change-fixpos-cb-offset-path-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/will-change/will-change-stacking-context-offset-path-1.html
Labels: vendor-imports

#14271 Check that billingAddress gets nulled and redacted
  payment-method-basic-card/billing-address-is-null-manual.https.html
Labels: payment-method-basic-card, wg-payments

#20298 Update interfaces/DOM-Parsing.idl
  interfaces/DOM-Parsing.idl
Labels: interfaces

#20299 Annotate Chrome failure to unbreak infra tests
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
Labels: infra

#20296 Make webdriver importable in Python 3
  tools/webdriver/webdriver/__init__.py
  tools/webdriver/webdriver/client.py
  tools/webdriver/webdriver/error.py
  tools/webdriver/webdriver/transport.py
Labels: infra, webdriver, wg-testing_browser

#20303 Update interfaces/DOM-Parsing.idl
  interfaces/DOM-Parsing.idl
Labels: interfaces

#20301 Test for link element firing multiple events
  html/semantics/document-metadata/the-link-element/link-multiple-error-events.html
  html/semantics/document-metadata/the-link-element/link-multiple-load-events.html
Labels: html

#20079 shadow-dom: Add test cases for focus() and nested shadow hosts.
  shadow-dom/focus/focus-method-delegatesFocus.html
Labels: shadow-dom, wg-webplatform

#20310 Update interfaces/media-playback-quality.idl
  interfaces/media-playback-quality.idl
Labels: interfaces

#20313 Remove TODO in sriharness
  resources/sriharness.js
Labels: infra

#20316 Removed unused `platform_ini` member in browser.py
  tools/wpt/browser.py
Labels: infra, wpt

#20317 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#20248 Remove interfaces/pointerevents-extension.idl
  interfaces/pointerevents-extension.idl
Labels: do not merge yet, interfaces

#20331 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#19870 Update interfaces/pointerevents.idl
  interfaces/pointerevents.idl
Labels: do not merge yet, interfaces

#20341 service worker: Use the correct spelling for referrer in a wpt test
  service-workers/service-worker/referrer-toplevel-script-fetch.https.html
Labels: chromium-export, mozilla:gecko-blocked, service-workers, wg-sw

#20334 [Azure Pipelines] drop references to 'Hosted Windows Client Next'
  .azure-pipelines.yml
Labels: Azure Pipelines

#20335 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#19838 [infra] Integrate with external PR preview system
  .github/workflows/detect_pull_request_preview.yml
  .github/workflows/pull_request_previews.yml
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
  tools/tox.ini
Labels: GitHub Actions, ci, do not merge yet, infra, tox.ini

#20347 [ci] Correct syntax in GitHub Workflow file
  .github/workflows/pull_request_previews.yml
Labels: GitHub Actions

#20348 [ci] Change name of environment variable
  .github/workflows/detect_pull_request_preview.yml
  .github/workflows/pull_request_previews.yml
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: GitHub Actions, ci, infra

#20350 [ci] Correct syntax in git commands
  tools/ci/pr_preview.py
Labels: ci, infra

#20351 [ci] Remove malfunctioning GitHub Workflow
  .github/workflows/pull_request_previews.yml
Labels: GitHub Actions

#20352 Indexed DB: Verify array proxies are not valid keys
  IndexedDB/key_invalid.htm
Labels: IndexedDB, wg-webapps

#20355 Add web-nfc test for ArrayBufferView of external type
  web-nfc/NDEFRecord_constructor.https.html
Labels: mozilla:gecko-blocked, web-nfc

#20357 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#20358 Use spread syntax in WebIDL/current-realm.html.
  WebIDL/current-realm.html
Labels: WebIDL, wg-webplatform

#20365 Update interfaces/audio-output.idl
  interfaces/audio-output.idl
Labels: interfaces

#20366 Update interfaces/battery-status.idl
  interfaces/battery-status.idl
Labels: interfaces

#20367 Update interfaces/mediacapture-depth.idl
  interfaces/mediacapture-depth.idl
Labels: interfaces

#20368 Update interfaces/mediacapture-fromelement.idl
  interfaces/mediacapture-fromelement.idl
Labels: interfaces

#20369 Update interfaces/navigation-timing.idl
  interfaces/navigation-timing.idl
Labels: interfaces

#8580 [css-grid-1] Add test for exclusion of cyclic-sizing-dependency items from baseline alignment.
  css/css-grid/alignment/grid-baseline-align-cycles-001.html
  css/css-grid/alignment/references/grid-baseline-align-cycles-001-ref.html
Labels: css-grid, wg-css

#20379 Update interfaces/hr-time.idl
  interfaces/hr-time.idl
Labels: interfaces

#20380 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#20382 Update interfaces/pointerevents.idl
  interfaces/pointerevents.idl
Labels: interfaces

#20381 Update interfaces/performance-timeline.idl
  interfaces/performance-timeline.idl
Labels: interfaces

#19917 [css-fonts] Add tests for standard font families
  css/css-fonts/standard-font-family-10-notref.html
  css/css-fonts/standard-font-family-10.html
  css/css-fonts/standard-font-family-11-notref.html
  css/css-fonts/standard-font-family-11.html
  css/css-fonts/standard-font-family-12-notref.html
  css/css-fonts/standard-font-family-12.html
  css/css-fonts/standard-font-family-13-notref.html
  css/css-fonts/standard-font-family-13.html
  css/css-fonts/standard-font-family-14-notref.html
  css/css-fonts/standard-font-family-14.html
  css/css-fonts/standard-font-family-15-notref.html
  css/css-fonts/standard-font-family-15.html
  css/css-fonts/standard-font-family-16-notref.html
  css/css-fonts/standard-font-family-16.html
  css/css-fonts/standard-font-family-2-ref.html
  css/css-fonts/standard-font-family-2.html
  css/css-fonts/standard-font-family-3-notref.html
  css/css-fonts/standard-font-family-3.html
  css/css-fonts/standard-font-family-4-notref.html
  css/css-fonts/standard-font-family-4.html
  css/css-fonts/standard-font-family-5-notref.html
  css/css-fonts/standard-font-family-5.html
  css/css-fonts/standard-font-family-6-ref.html
  css/css-fonts/standard-font-family-6.html
  css/css-fonts/standard-font-family-7-ref.html
  css/css-fonts/standard-font-family-7.html
  css/css-fonts/standard-font-family-8-notref.html
  css/css-fonts/standard-font-family-8.html
  css/css-fonts/standard-font-family-9-notref.html
  css/css-fonts/standard-font-family-9.html
  css/css-fonts/standard-font-family-ref.html
  css/css-fonts/standard-font-family.html
Labels: css-fonts

#20304 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#20257 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20387 Update interfaces/remote-playback.idl
  interfaces/remote-playback.idl
Labels: interfaces

#20187 [testharness.js] Implement `promise_setup`
  docs/writing-tests/testharness-api.md
  lint.whitelist
  resources/test/tests/unit/promise_setup-timeout.html
  resources/test/tests/unit/promise_setup.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#20363 Fix Chromium logger to properly handle expected test status
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner

#5280 [css-sizing-3] Add tests for percentage resolution
  css/css-sizing/percentage-resolution-001-ref.html
  css/css-sizing/percentage-resolution-001.html
Labels: css-sizing, stale:awaiting-submitter-response, status:needs-reviewers, wg-css

#19401 Create a decision task for taskcluster
  .taskcluster.yml
  tools/ci/commands.json
  tools/ci/run_tc.py
  tools/ci/tc/README.md
  tools/ci/tc/__init__.py
  tools/ci/tc/decision.py
  tools/ci/tc/download.py
  tools/ci/tc/taskgraph.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/testdata/master_push_event.json
  tools/ci/tc/testdata/pr_event.json
  tools/ci/tc/tests/test_decision.py
  tools/ci/tc/tests/test_taskgraph.py
  tools/ci/tc/tests/test_valid.py
  tools/ci/tests/test_run_tc.py
  tools/taskcluster/commands.json
  tools/taskcluster/verify.py
  tools/tox.ini
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/paths
Labels: Taskcluster, ci, infra, tox.ini, webdriver, wg-testing_browser, wpt, wptrunner

#20407 Revert "Implement a decision task for taskcluster jobs"
  .taskcluster.yml
  tools/ci/commands.json
  tools/ci/run_tc.py
  tools/ci/tc/README.md
  tools/ci/tc/decision.py
  tools/ci/tc/taskgraph.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_decision.py
  tools/ci/tc/tests/test_taskgraph.py
  tools/ci/tc/tests/test_valid.py
  tools/ci/tcdownload.py
  tools/ci/tests/test_run_tc.py
  tools/taskcluster/__init__.py
  tools/taskcluster/commands.json
  tools/taskcluster/testdata/master_push_event.json
  tools/taskcluster/testdata/pr_event.json
  tools/taskcluster/verify.py
  tools/tox.ini
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/paths
Labels: Taskcluster, ci, infra, tox.ini, wpt

#20240 [wpt] Enable experimental features for Edge Canary
  tools/wpt/run.py
Labels: infra, wpt

#20416 Update interfaces/resize-observer.idl
  interfaces/resize-observer.idl
Labels: interfaces

#20412 Do not attempt to push to epochs on forks
  .github/workflows/epochs.yml
Labels: GitHub Actions

#20386 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#20399 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#20417 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#20166 [Trusted Types] make the idlharness.js tentative
  trusted-types/idlharness.tentative.window.js
Labels: trusted-types

#20423 Test EventListener invocation order in AT_TARGET phase
  dom/events/Event-dispatch-order-at-target.html
Labels: dom

#20422 Update interfaces/WebCryptoAPI.idl
  interfaces/WebCryptoAPI.idl
Labels: interfaces

#20431 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces
