Repository web-platform-tests/wpt, pull requests merged in 2019-08, with the labels that each got.

#18221 [wpt] Smarter discovery of Chrome binaries
  docs/running-tests/chrome.md
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: docs, infra, wpt

#18226 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#18224 Update interfaces/css-properties-values-api.idl
  interfaces/css-properties-values-api.idl
Labels: interfaces

#18220 MathML displaystyle: Test display="inline" and attribute value cases.
  mathml/relations/css-styling/displaystyle-1.html
  mathml/relations/css-styling/displaystyle-2.html
  mathml/relations/html5-tree/display-1.html
  mathml/support/attribute-values.js
Labels: mathml, status:needs-reviewers, wg-math

#18209 Give more content to foreign-container
  mathml/support/mathml-fragments.js
Labels: mathml, wg-math

#18227 Add stronger test for MathML in SVG foreignObject element.
  mathml/relations/html5-tree/integration-point-4.html
Labels: mathml, status:needs-reviewers, wg-math

#18186 Move ChromeAndroid to ExecutorWebDriver
  docs/running-tests/chrome_android.md
  tools/wpt/browser.py
  tools/wptrunner/requirements_chrome_android.txt
  tools/wptrunner/wptrunner/browsers/chrome_android.py
Labels: docs, infra, wpt, wptrunner

#18173 [docs] Correct Promise terminology
  docs/writing-tests/testharness-api.md
Labels: docs

#18233 Fix test expectation for inline margins
  mathml/relations/css-styling/padding-border-margin/margin-001.html
Labels: mathml, wg-math

#17864 Attempt to fix flaky ChromeDriver crashes caused by action sequence
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, pointerevents, wg-pointerevents, wptrunner

#17944 Update chromium log formatter to treat subtest fails as test failure.
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner

#17680 Introduce automation to support pull rqst previews
  .github/main.workflow
  docs/writing-tests/submission-process.md
  tools/ci/tests/test_update_pr_preview.py
  tools/ci/update_pr_preview.py
  tools/tox.ini
Labels: .github, ci, docs, infra, tox.ini

#18248 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#18225 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#18256 Mark the failures from #18255 as XFAIL
  tools/ci/tests/test_update_pr_preview.py
Labels: ci, infra

#17174 The expected height of the green box is wrong
  css/css-text/line-break/line-break-anywhere-001.html
  css/css-text/line-break/reference/line-break-anywhere-001-ref.html
Labels: css-text

#18245 [tools] Misc pytest fixes
  tools/manifest/tests/test_item.py
  tools/pytest.ini
  tools/wpt/tests/test_run.py
Labels: infra, manifest, pytest.ini, wpt

#17811 [docs] Introduce tutorial on writing reftests
  docs/assets/reftest-tutorial-test-screenshot.png
  docs/writing-tests/index.md
  docs/writing-tests/reftest-tutorial.md
  docs/writing-tests/reftests.md
Labels: docs

#18263 Update the expected results of the calc() serialization in motion-1
  css/motion/offset-supports-calc.html
Labels: motion

#18273 [css-text] tests for css issue 3879
  css/css-text/white-space/reference/trailing-other-space-separators-001-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-002-ref.html
  css/css-text/white-space/trailing-other-space-separators-001.html
  css/css-text/white-space/trailing-other-space-separators-002.html
Labels: css-text, wg-css

#18274 [css-text] Test other space separators for various values of white-space
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-001-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-002-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-003-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-004-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-005-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-006-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-007-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-008-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-009-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-010-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-011-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-012-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-013-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-014-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-015-ref.html
  css/css-text/white-space/trailing-other-space-separators-003.html
  css/css-text/white-space/trailing-other-space-separators-004.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-001.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-002.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-003.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-004.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-005.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-006.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-007.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-008.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-009.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-010.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-011.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-012.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-013.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-014.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-015.html
Labels: css-text, wg-css

#18265 Update interfaces/speech-api.idl
  interfaces/speech-api.idl
Labels: interfaces

#18267 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#18266 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#18237 Add tentative idl tests
  mathml/relations/html5-tree/clipboard-event-handlers.tentative.html
  mathml/relations/html5-tree/css-inline-style-interface.tentative.html
  mathml/relations/html5-tree/html-or-foreign-element-interfaces.tentative.html
  mathml/relations/html5-tree/math-global-event-handlers.tentative.html
Labels: mathml, wg-math

#18276 MathML: Make box comparison more reliable by using an absolutely-posi…
  mathml/support/box-comparison.js
Labels: mathml, pull-request-has-preview, status:needs-reviewers, wg-math

#18262 Fixed a comment copy/paste typo.
  url/resources/setters_tests.json
Labels: url

#18289 Update interfaces/speech-api.idl
  interfaces/speech-api.idl
Labels: interfaces

#18293 MathML: Add tests for children not participating to their parent layout
  mathml/relations/css-styling/not-participating-to-parent-layout.html
  mathml/support/layout-comparison.js
  mathml/support/mathml-fragments.js
Labels: mathml, pull-request-has-preview, status:needs-reviewers, wg-math

#17802 HTML: ensure serializing SharedArrayBuffer throws without COOP+COEP
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/no-coop-coep.https.any.js
Labels: html

#18295 Documentation: .serviceworker implies .https these days
  docs/writing-tests/file-names.md
  docs/writing-tests/general-guidelines.md
  docs/writing-tests/testharness.md
Labels: docs, pull-request-has-preview

#18299 MathML: Use non-zero axis height to test fraction shifts
  fonts/math/fraction-denominatordisplaystyleshiftdown6000-axisheight1000-rulethickness1000.woff
  fonts/math/fraction-denominatordisplaystyleshiftdown6000-rulethickness1000.woff
  fonts/math/fraction-denominatorshiftdown3000-axisheight1000-rulethickness1000.woff
  fonts/math/fraction-denominatorshiftdown3000-rulethickness1000.woff
  fonts/math/fraction-numeratordisplaystyleshiftup2000-axisheight1000-rulethickness1000.woff
  fonts/math/fraction-numeratordisplaystyleshiftup2000-rulethickness1000.woff
  fonts/math/fraction-numeratorshiftup11000-axisheight1000-rulethickness1000.woff
  fonts/math/fraction-numeratorshiftup11000-rulethickness1000.woff
  fonts/math/stack-bottomdisplaystyleshiftdown5000-axisheight1000.woff
  fonts/math/stack-bottomdisplaystyleshiftdown5000.woff
  fonts/math/stack-bottomshiftdown6000-axisheight1000.woff
  fonts/math/stack-bottomshiftdown6000.woff
  fonts/math/stack-topdisplaystyleshiftup3000-axisheight1000.woff
  fonts/math/stack-topdisplaystyleshiftup3000.woff
  fonts/math/stack-topshiftup9000-axisheight1000.woff
  fonts/math/stack-topshiftup9000.woff
  mathml/presentation-markup/fractions/frac-parameters-1.html
  mathml/presentation-markup/fractions/frac-parameters-2.html
  mathml/tools/fractions.py
  mathml/tools/stacks.py
Labels: assets, mathml, pull-request-has-preview, wg-math

#18300 Update link in wptserve/README
  tools/wptserve/README.md
Labels: infra, pull-request-has-preview, wptserve

#17719 Web Audio: SharedArrayBuffer and COOP/COEP
  webaudio/the-audio-api/the-audiobuffer-interface/audiobuffer-copy-channel.html
  webaudio/the-audio-api/the-audioworklet-interface/audioworklet-postmessage-sharedarraybuffer.https.html
  webaudio/the-audio-api/the-audioworklet-interface/audioworklet-postmessage-sharedarraybuffer.https.html.headers
Labels: webaudio, wg-audio

#18305 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#17689 CSS and SharedArrayBuffer: don't make support conditional
  css/css-layout-api/constraints-data-sab-failure.https.html
  css/css-layout-api/fragment-data-sab-failure.https.html
Labels: css-layout-api

#18308 [css-lists] Parsing of counter-* properties
  css/css-lists/parsing/counter-increment-invalid.html
  css/css-lists/parsing/counter-increment-valid.html
  css/css-lists/parsing/counter-reset-invalid.html
  css/css-lists/parsing/counter-reset-valid.html
  css/css-lists/parsing/counter-set-invalid.html
  css/css-lists/parsing/counter-set-valid.html
Labels: css-lists

#18296 [docs] Reorganize information on utility scripts
  README.md
  docs/writing-tests/index.md
  docs/writing-tests/tools.md
Labels: docs, infra

#18260 [docs] Relocate "appendix" content
  docs/appendix/index.md
  docs/index.md
  docs/reviewing-tests/git.md
  docs/reviewing-tests/index.md
  docs/reviewing-tests/reverting.md
  docs/writing-tests/github-intro.md
  docs/writing-tests/index.md
  docs/writing-tests/submission-process.md
  docs/writing-tests/test-templates.md
Labels: docs, pull-request-has-preview

#18317 [docs] Correct errors in build process
  docs/Makefile
  docs/make.bat
  docs/writing-tests/reftest-tutorial.md
Labels: docs, pull-request-has-preview

#18157 Fix timeout in payment-is-showing.https.html
  payment-request/blank.html
  payment-request/payment-is-showing.https.html
Labels: payment-request, wg-payments

#18323 mfrac without bar: Remove test for AxisHeight parameter.
  fonts/math/stack-axisheight7000.woff
  mathml/presentation-markup/fractions/frac-parameters-2.html
  mathml/tools/stacks.py
Labels: assets, mathml, pull-request-has-preview, wg-math

#18326 [payment-request] Fix style: use double quotes consistently
  payment-request/payment-is-showing.https.html
Labels: payment-request, wg-payments

#18329 [payment-request] Fix uncaught rejections in payment-is-showing test
  payment-request/payment-is-showing.https.html
Labels: payment-request, wg-payments

#18333 Update interfaces/web-share.idl
  interfaces/web-share.idl
Labels: interfaces

#18324 [cookie-store] Deflake service worker registration
  cookie-store/serviceworker_cookieStore_arguments.tentative.https.html
  cookie-store/serviceworker_cookieStore_basic.tentative.https.html
  cookie-store/serviceworker_cookieStore_subscriptions.tentative.https.html
  cookie-store/serviceworker_cookieStore_subscriptions_basic.tentative.https.html
  cookie-store/serviceworker_cookieStore_subscriptions_empty.tentative.https.html
Labels: cookie-store, pull-request-has-preview

#18347 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#18348 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#18346 Update interfaces/animation-worklet.idl
  interfaces/animation-worklet.idl
Labels: interfaces

#18370 Update interfaces/encoding.idl
  interfaces/encoding.idl
Labels: interfaces

#18366 Update interfaces/accelerometer.idl
  interfaces/accelerometer.idl
Labels: interfaces

#18367 Update interfaces/ambient-light.idl
  interfaces/ambient-light.idl
Labels: interfaces

#18368 Update interfaces/console.idl
  interfaces/console.idl
Labels: interfaces

#18364 [css-align] Parsing of row-gap
  css/css-align/parsing/row-gap-computed.html
  css/css-align/parsing/row-gap-invalid.html
  css/css-align/parsing/row-gap-valid.html
Labels: css-align

#18375 [css-align] [css-multicol] Move column-gap parsing
  css/css-align/parsing/column-gap-computed.html
  css/css-align/parsing/column-gap-invalid.html
  css/css-align/parsing/column-gap-valid.html
  css/css-multicol/inheritance.html
Labels: css-align, css-multicol

#18377 Update interfaces/fetch.idl
  interfaces/fetch.idl
Labels: interfaces

#18378 Update interfaces/geolocation-sensor.idl
  interfaces/geolocation-sensor.idl
Labels: interfaces

#18379 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#18380 Update interfaces/magnetometer.idl
  interfaces/magnetometer.idl
Labels: interfaces

#18381 Update interfaces/mediasession.idl
  interfaces/mediasession.idl
Labels: interfaces

#18336 Move the clear-100x50.png image to the right directory
  2dcontext/drawing-rectangles-to-the-canvas/clear-100x50.png
  images/clear-100x50.png
Labels: 2dcontext, assets, servo-export, wg-html

#18359 [ci] Convert GitHub Actions files to new format
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/push-build-publish-documentation-website.yml
  .github/workflows/push-build-release-manifest.yml
Labels: .github, status:needs-reviewers

#18386 Update interfaces/user-timing.idl
  interfaces/user-timing.idl
Labels: interfaces

#18385 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#18384 Update interfaces/orientation-sensor.idl
  interfaces/orientation-sensor.idl
Labels: interfaces

#18383 Update interfaces/notifications.idl
  interfaces/notifications.idl
Labels: interfaces

#18303 [docs] Document and test testharness.js utility fn
  docs/writing-tests/testharness-api.md
  resources/test/tests/unit/format-value.html
Labels: docs, infra, testharness.js

#18304 [docs] Explain behavior of failing assertions
  docs/writing-tests/testharness-api.md
Labels: docs

#18355 Remove reference to Reviewable in the test review policy
  docs/reviewing-tests/index.md
Labels: docs, pull-request-has-preview

#18369 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#14994 [css-ui] Test appearance: textfield
  css/css-ui/appearance-textfield-001-ref.html
  css/css-ui/appearance-textfield-001.html
  css/css-ui/webkit-appearance-textfield-001.html
Labels: css-ui

#18412 Move computed transition-timing-function test
  css/css-transitions/parsing/transition-timing-function-computed.html
Labels: css-animations, css-transitions

#18365 [css-rhythm] Parsing tests for line-height-step
  css/css-rhythm/parsing/line-height-step-computed.html
  css/css-rhythm/parsing/line-height-step-invalid.html
  css/css-rhythm/parsing/line-height-step-valid.html
Labels: css-rhythm, mozilla:gecko-blocked

#18373 [css-text-decor] Parsing of text-shadow
  css/css-text-decor/parsing/text-shadow-computed.html
  css/css-text-decor/parsing/text-shadow-invalid.html
  css/css-text-decor/parsing/text-shadow-valid.html
Labels: css-text-decor

#18415 Update to webidl2@24.3.1
  resources/webidl2/lib/README.md
  resources/webidl2/lib/webidl2.js
Labels: idlharness.js, infra, pull-request-has-preview

#17809 Change test_designMode to check for empty string instead of br tag
  webdriver/tests/element_clear/clear.py
Labels: webdriver, wg-testing_browser

#18417 Make status neutral return code 0 so that jobs stop failing
  tools/ci/manifest_build.py
  tools/ci/tests/test_update_pr_preview.py
  tools/ci/update_pr_preview.py
  tools/ci/website_build.sh
Labels: ci, infra, pull-request-has-preview

#18421 Revert "Change test_designMode to check for empty string instead of br tag"
  webdriver/tests/element_clear/clear.py
Labels: pull-request-has-preview, webdriver, wg-testing_browser

#18442 [Azure Pipelines] Migrate scheduled builds to YAML
  .azure-pipelines.yml
Labels: infra, pull-request-has-preview

#17523 HTML: Sequential focus navigation with shadow dom
  shadow-dom/focus/focus-tabindex-order-shadow-negative.html
  shadow-dom/focus/focus-tabindex-order-shadow-slot-one.html
  shadow-dom/focus/focus-tabindex-order-shadow-varying-tabindex.html
  shadow-dom/focus/focus-tabindex-order-shadow-zero-host-negative.html
  shadow-dom/focus/focus-tabindex-order-shadow-zero-host-not-set.html
  shadow-dom/focus/focus-tabindex-order-shadow-zero-host-one.html
  shadow-dom/focus/focus-tabindex-order-shadow-zero.html
  shadow-dom/focus/resources/shadow-utils.js
Labels: html, shadow-dom, wg-webplatform

#18439 [pointerevents] Serialization of touch-action
  pointerevents/inheritance.html
  pointerevents/parsing/touch-action-computed.html
  pointerevents/parsing/touch-action-invalid.html
  pointerevents/parsing/touch-action-valid.html
Labels: pointerevents, wg-pointerevents

#18447 HTML: Add WPT for DocumentOrShadowRoot.activeElement
  shadow-dom/focus/DocumentOrShadowRoot-activeElement.html
Labels: shadow-dom, wg-webplatform

#17657 HTML: WPT for tabIndex
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/tabindex-getter.html
Labels: html

#18479 Update interfaces/element-timing.idl
  interfaces/element-timing.idl
Labels: interfaces

#18480 Update interfaces/event-timing.idl
  interfaces/event-timing.idl
Labels: interfaces

#18481 Update interfaces/largest-contentful-paint.idl
  interfaces/largest-contentful-paint.idl
Labels: interfaces

#18482 Update interfaces/layout-instability.idl
  interfaces/layout-instability.idl
Labels: interfaces

#18483 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#18474 fix-documentCOOPValueTitle-substitution
  html/cross-origin-opener-policy/resources/common.js
Labels: html

#18497 Meta: increase timeout for COEP test
  html/cross-origin-opener-policy/coep-navigate-popup.https.html
Labels: html, pull-request-has-preview

#18489 Add a test for document.fonts.ready timing assumptions
  infrastructure/assumptions/document-fonts-ready.html
Labels: infra, pull-request-has-preview

#18457 [css-transitions-2] Make null-effect test properly wait for the transition to start
  css/css-transitions/CSSTransition-effect.tentative.html
Labels: css-transitions, status:needs-reviewers

#18445 [Azure Pipelines] Differentiate manual triggers for Edge Dev/Canary
  .azure-pipelines.yml
Labels: infra, pull-request-has-preview

#18341 [ci] Correct file management in tests
  tools/ci/tests/test_update_pr_preview.py
Labels: ci, infra

#18517 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces, mozilla:gecko-blocked

#18518 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces, mozilla:gecko-blocked

#18520 [css-sizing] padding computed value
  css/css-box/parsing/padding-computed.html
Labels: css-box, css-sizing, mozilla:gecko-blocked

#18522 [css-writing-modes] tag feature to the right level
  css/css-writing-modes/text-combine-upright-digits-001-manual.html
  css/css-writing-modes/text-combine-upright-digits-002-manual.html
  css/css-writing-modes/text-combine-upright-digits-004-manual.html
Labels: css-writing-modes, mozilla:gecko-blocked, wg-css

#18523 [css-writing-mode] Mark replaced element writing mode effect as shoul…
  css/css-writing-modes/writing-mode-vrl-forms-006-manual.html
Labels: css-writing-modes, mozilla:gecko-blocked, wg-css

#18525 [css-writing-modes] Fix writing mode test
  css/css-writing-modes/relpos-inline-overflowing-block-vrl.html
Labels: css-writing-modes, mozilla:gecko-blocked, wg-css

#18530 [css-writing-modes] Fix a bunch of writing mode tests
  css/css-writing-modes/support/mn+arabic.png
  css/css-writing-modes/support/mn+latin.png
  css/css-writing-modes/support/mn-orientation.png
  css/css-writing-modes/support/mn_ar_wrap.png
  css/css-writing-modes/support/mn_en_wrap.png
  css/css-writing-modes/support/world.png
  css/css-writing-modes/support/zh+arabic.png
  css/css-writing-modes/support/zh+latin.png
  css/css-writing-modes/support/zh-orientation.png
  css/css-writing-modes/support/zh_ar_wrap.png
  css/css-writing-modes/support/zh_en_wrap.png
  css/css-writing-modes/text-combine-upright-all-001-manual.html
  css/css-writing-modes/text-combine-upright-all-002-manual.html
  css/css-writing-modes/text-combine-upright-digits-001-manual.html
  css/css-writing-modes/text-combine-upright-digits-002-manual.html
  css/css-writing-modes/text-combine-upright-digits-004-manual.html
  css/css-writing-modes/writing-mode-vlr-001-manual.html
  css/css-writing-modes/writing-mode-vlr-002-manual.html
  css/css-writing-modes/writing-mode-vlr-003-manual.html
  css/css-writing-modes/writing-mode-vlr-005-manual.html
  css/css-writing-modes/writing-mode-vlr-006-manual.html
  css/css-writing-modes/writing-mode-vlr-007-manual.html
  css/css-writing-modes/writing-mode-vlr-008-manual.html
  css/css-writing-modes/writing-mode-vlr-009-manual.html
  css/css-writing-modes/writing-mode-vlr-010-manual.html
  css/css-writing-modes/writing-mode-vlr-012-manual.html
  css/css-writing-modes/writing-mode-vlr-014-manual.html
  css/css-writing-modes/writing-mode-vlr-015-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-001-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-002-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-003-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-004-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-005-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-006-manual.html
  css/css-writing-modes/writing-mode-vlr-table-001-manual.html
  css/css-writing-modes/writing-mode-vrl-001-manual.html
  css/css-writing-modes/writing-mode-vrl-002-manual.html
  css/css-writing-modes/writing-mode-vrl-003-manual.html
  css/css-writing-modes/writing-mode-vrl-005-manual.html
  css/css-writing-modes/writing-mode-vrl-007-manual.html
  css/css-writing-modes/writing-mode-vrl-008-manual.html
  css/css-writing-modes/writing-mode-vrl-009-manual.html
  css/css-writing-modes/writing-mode-vrl-010-manual.html
  css/css-writing-modes/writing-mode-vrl-012-manual.html
  css/css-writing-modes/writing-mode-vrl-014-manual.html
  css/css-writing-modes/writing-mode-vrl-015-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-001-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-002-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-003-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-004-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-005-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-006-manual.html
  css/css-writing-modes/writing-mode-vrl-table-001-manual.html
Labels: css-writing-modes, wg-css

#18529 [css-writing-modes] Hide scrollbars that mess up with the ref-test
  css/css-writing-modes/available-size-006.html
  css/css-writing-modes/available-size-007.html
  css/css-writing-modes/available-size-008.html
  css/css-writing-modes/available-size-009.html
  css/css-writing-modes/available-size-010.html
  css/css-writing-modes/available-size-015.html
  css/css-writing-modes/available-size-016.html
  css/css-writing-modes/available-size-019.html
Labels: css-writing-modes, wg-css

#18527 [css-writing-mode] Fix reftests
  css/css-writing-modes/sizing-orthog-htb-in-vlr-004-ref.xht
  css/css-writing-modes/sizing-orthog-htb-in-vlr-004.xht
  css/css-writing-modes/sizing-orthog-htb-in-vrl-001-ref.xht
Labels: css-writing-modes, wg-css

#18371 [css-inline] Parsing line-height
  css/css-inline/parsing/line-height-computed.html
  css/css-inline/parsing/line-height-invalid.html
  css/css-inline/parsing/line-height-valid.html
Labels: css-inline

#18372 SVG Text: text-anchor computed value
  svg/text/parsing/text-anchor-computed.svg
Labels: svg, wg-svg

#18532 Add missing charset declaration
  svg/animations/correct-events-for-short-animations-with-syncbases.html
Labels: pull-request-has-preview, svg, wg-svg

#18043 [performance-timeline] make sure performance entries are not clonable
  performance-timeline/not-clonable.html
  performance-timeline/resources/postmessage-entry.html
Labels: performance-timeline, wg-webperf

#18478 Load Ahem as web font in ex-unit-001.html
  css/css-values/ex-unit-001.html
Labels: css-values, mozilla:gecko-blocked, pull-request-has-preview, wg-css

#18539 [css-writing-modes] form controls **should** match the writing-mode
  css/css-writing-modes/writing-mode-vlr-forms-001-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-002-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-003-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-004-manual.html
  css/css-writing-modes/writing-mode-vlr-forms-005-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-001-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-002-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-003-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-004-manual.html
  css/css-writing-modes/writing-mode-vrl-forms-005-manual.html
Labels: css-writing-modes, wg-css

#18542 [css-writing-mode] Make reference files more reliable
  css/css-writing-modes/reference/available-size-001-ref.html
  css/css-writing-modes/reference/available-size-002-ref.html
Labels: css-writing-modes, mozilla:gecko-blocked, wg-css

#18388 Use get-host-info.sub.js in no-cross-origin-autofocus.sub.html
  html/semantics/forms/autofocus/no-cross-origin-autofocus.html
Labels: html

#18499 HTML: <img>'s historical progress events
  html/semantics/embedded-content/the-img-element/historical-progress-event.window.js
Labels: html, mozilla:gecko-blocked, pull-request-has-preview

#18473 Move html/interaction/focus/document-level-focus-apis/test.html under support directory
  html/interaction/focus/document-level-focus-apis/document-level-apis.html
  html/interaction/focus/document-level-focus-apis/support/test.html
Labels: html

#18431 Enable testdriver to return results to tests.
  docs/writing-tests/testdriver-tutorial.md
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: docs, infra, wptrunner

#18524 [css-logical] computed logical margin/padding
  css/css-logical/parsing/margin-block-inline-computed.html
  css/css-logical/parsing/padding-block-inline-computed.html
Labels: css-logical

#18521 [css-sizing] Computed min/max width/height
  css/css-sizing/parsing/max-height-computed.html
  css/css-sizing/parsing/max-width-computed.html
  css/css-sizing/parsing/min-height-computed.html
  css/css-sizing/parsing/min-width-computed.html
Labels: css-sizing, mozilla:gecko-blocked

#18536 HTML: window.open()'s url parameter default
  html/browsers/the-window-object/window-open-defaults.window.js
Labels: html, pull-request-has-preview

#18557 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces, mozilla:gecko-blocked

#18537 Add @clelland as Feature Policy reviewer
  feature-policy/META.yml
Labels: feature-policy, pull-request-has-preview, status:needs-reviewers, wg-webappsec

#18509 [tools] Disallow refs to some non-existent files
  lint.whitelist
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint, mozilla:gecko-blocked

#18393 [ci] Check out master when managing tags & labels
  .github/workflows/pull_request.yml
Labels: .github, mozilla:gecko-blocked, status:needs-reviewers

#15577 Wrap Feature Policy common code in setup()
  feature-policy/experimental-features/resources/common.js
Labels: feature-policy, status:needs-reviewers, wg-webappsec

#18448 [Azure Pipelines] reduce Edge parallel jobs from 20 to 10
  .azure-pipelines.yml
Labels: infra, pull-request-has-preview

#18559 Add cross-origin-embedder-policy tests with service workers
  html/cross-origin-embedder-policy/none-sw-from-none.https.html
  html/cross-origin-embedder-policy/none-sw-from-require-corp.https.html
  html/cross-origin-embedder-policy/none-sw-from-require-corp.https.html.headers
  html/cross-origin-embedder-policy/require-corp-sw-from-none.https.html
  html/cross-origin-embedder-policy/require-corp-sw-from-require-corp.https.html
  html/cross-origin-embedder-policy/require-corp-sw-from-require-corp.https.html.headers
  html/cross-origin-embedder-policy/resources/nothing.txt
  html/cross-origin-embedder-policy/resources/sw.js
Labels: html

#18454 [Azure Pipelines] drop old workaround for `safaridriver --version`
  .azure-pipelines.yml
Labels: infra, pull-request-has-preview

#18543 HTML: COEP and ImageBitmap
  2dcontext/imagebitmap/no-coop-coep.https.window.js
  2dcontext/imagebitmap/resources/coop-coep-popup.html
  2dcontext/imagebitmap/resources/coop-coep-popup.html.headers
  2dcontext/imagebitmap/resources/coop-coep-worker.js
  2dcontext/imagebitmap/resources/coop-coep-worker.js.headers
Labels: 2dcontext, pull-request-has-preview, wg-html

#18586 Remove an unused file
  html/cross-origin-embedder-policy/resources/nothing.txt
Labels: html

#18578 Update interfaces/worklets.idl
  interfaces/worklets.idl
Labels: interfaces

#18575 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#18577 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#18591 HTML: Test default styles for 'appearance'
  html/rendering/widgets/appearance/default-styles.html
Labels: html

#17239 WebView support
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_android_webview.txt
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
Labels: infra, wpt, wptrunner

#18605 Corrected text assert of abs-pos-non-replaced-vlr-213.xht test
  css/css-writing-modes/abs-pos-non-replaced-vlr-213.xht
Labels: css-writing-modes

#18606 Update interfaces/shape-detection-api.idl
  interfaces/shape-detection-api.idl
Labels: interfaces

#18607 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#18585 Skip problematic tests in Safari using --exclude
  .azure-pipelines.yml
Labels: infra, pull-request-has-preview

#18614 MathML: Wait for Ahem fonts to be ready for displaystyle dynamic tests.
  mathml/relations/css-styling/displaystyle-013.html
  mathml/relations/css-styling/displaystyle-014.html
Labels: mathml, status:needs-reviewers, wg-math

#18617 Test <frame>.tabIndex
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/resources/frameset-using-page.html
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/tabindex-getter-frame.html
Labels: html, pull-request-has-preview

#18625 Update interfaces/clipboard-apis.idl
  interfaces/clipboard-apis.idl
Labels: interfaces

#18626 Update interfaces/css-animations.idl
  interfaces/css-animations.idl
Labels: interfaces

#18627 Update interfaces/css-transitions.idl
  interfaces/css-transitions.idl
Labels: interfaces

#18628 Update interfaces/css-typed-om.idl
  interfaces/css-typed-om.idl
Labels: interfaces

#18629 Update interfaces/cssom-view.idl
  interfaces/cssom-view.idl
Labels: interfaces

#18630 Add missing comma in earlyoom argument list
  tools/ci/run_tc.py
Labels: ci, infra, pull-request-has-preview

#18636 Update interfaces/screen-capture.idl
  interfaces/screen-capture.idl
Labels: interfaces

#18637 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#18638 Update interfaces/touch-events.idl
  interfaces/touch-events.idl
Labels: interfaces

#18639 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#18640 Update interfaces/webmidi.idl
  interfaces/webmidi.idl
Labels: interfaces

#18623 [wptserve] Support `.sub.` filename w/pipe param
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/wptserve/handlers.py
Labels: infra, wptserve
