Repository web-platform-tests/wpt, pull requests merged in 2019-01, with the labels that each got.

#14678 Fix key code for NUMPAD4 and NUMPAD5
  webdriver/tests/perform_actions/support/keys.py
Labels: webdriver, wg-testing_browser

#8782 Add AnimationTiming tests
  html/webappapis/animation-frames/callback-handle.html
  html/webappapis/animation-frames/callback-timestamp.html
  html/webappapis/animation-frames/cancel-handle-manual.html
Labels: html

#8693 Add DataTransferItem getAsString test
  html/editing/dnd/the-datatransferitem-interface/getAsString-manual.html
Labels: html

#14715 Prevent webdriver client Session.close() exception
  tools/webdriver/webdriver/client.py
Labels: infra, webdriver, wg-testing_browser

#14702 Fix Mojo detection in bluetooth-helpers.js
  bluetooth/resources/bluetooth-helpers.js
Labels: bluetooth, status:needs-reviewers

#14713 Fix resource-timing.html document.domain test - take 2
  common/sleep.py
  resource-timing/SyntheticResponse.py
  resource-timing/document-domain-no-impact-loader.sub.html
  resource-timing/resource-timing-level1.js
  resource-timing/resource-timing-level1.sub.html
  resource-timing/resources/document-domain-no-impact.sub.html
  resource-timing/resources/iframe-setdomain.sub.html
Labels: assets, resource-timing, status:needs-reviewers, wg-webperf

#14721 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=183586
  custom-elements/enqueue-custom-element-callback-reactions-inside-another-callback.html
Labels: custom-elements, wg-webplatform

#14733 Css values fixes
  css/css-values/reference/vh-support-atviewport-ref.htm
  css/css-values/vh-support-atviewport.html
Labels: css-values, wg-css

#14255 Test PaymentOptions.requestBillingAddress
  payment-request/billing-address-changed-manual.https.html
Labels: payment-request, wg-payments

#14719 [resource-timing] test_resource_timing.html to pass also when run in HTTPS
  resource-timing/test_resource_timing.https.html
  resource-timing/test_resource_timing.js
Labels: resource-timing, wg-webperf

#14649 Produce a valid report when no tests are affected
  tools/wpt/run.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wpt, wptrunner

#14637 html, xhr: Add tests for 'formdata' event
  html/dom/interfaces.https.html
  html/semantics/forms/form-submission-0/FormDataEvent.window.js
  html/semantics/forms/form-submission-0/constructing-form-data-set.html
  html/semantics/forms/form-submission-0/form-submission-algorithm.html
  html/semantics/forms/form-submission-0/resources/targetted-form.js
  interfaces/html.idl
  xhr/formdata.htm
Labels: html, interfaces, xhr

#10726 Tests for caching of PATCH and POST responses
  fetch/http-cache/post-patch.html
  fetch/http-cache/resources/http-cache.py
Labels: fetch

#14728 [manifest] Make sure deleted tests are removed from manifest
  tools/manifest/manifest.py
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#11497 Add tests for presentational table attributes
  html/rendering/non-replaced-elements/tables/table-attribute.html
Labels: html

#13272 Fix #8581: add extra subdomains for cookie tests
  tools/serve/serve.py
  tools/serve/test_serve.py
  tools/wptserve/tests/test_config.py
  tools/wptserve/wptserve/config.py
Labels: infra, serve, wptserve

#14634 Implement source for postMessage events
  referrer-policy/css-integration/child-css/external-import-stylesheet.html
  referrer-policy/css-integration/child-css/internal-import-stylesheet.html
  referrer-policy/css-integration/child-css/processing-instruction.html
  referrer-policy/css-integration/css-test-helper.js
  referrer-policy/css-integration/font-face/external-import-stylesheet.html
  referrer-policy/css-integration/font-face/external-stylesheet.html
  referrer-policy/css-integration/font-face/internal-import-stylesheet.html
  referrer-policy/css-integration/font-face/internal-stylesheet.html
  referrer-policy/css-integration/font-face/processing-instruction.html
  referrer-policy/css-integration/image/external-import-stylesheet.html
  referrer-policy/css-integration/image/external-stylesheet.html
  referrer-policy/css-integration/image/inline-style.html
  referrer-policy/css-integration/image/internal-import-stylesheet.html
  referrer-policy/css-integration/image/internal-stylesheet.html
  referrer-policy/css-integration/image/presentation-attribute.html
  referrer-policy/css-integration/image/processing-instruction.html
  referrer-policy/generic/common.js
  referrer-policy/generic/referrer-policy-test-case.js
  referrer-policy/generic/sandboxed-iframe-with-opaque-origin.html
  referrer-policy/generic/subresource-test/area-navigate.html
  referrer-policy/generic/subresource-test/fetch-messaging.html
  referrer-policy/generic/subresource-test/iframe-messaging.html
  referrer-policy/generic/subresource-test/image-decoding.html
  referrer-policy/generic/subresource-test/link-navigate.html
  referrer-policy/generic/subresource-test/script-messaging.html
  referrer-policy/generic/subresource-test/worker-messaging.html
  referrer-policy/generic/subresource-test/xhr-messaging.html
  referrer-policy/generic/unsupported-csp-referrer-directive.html
Labels: referrer-policy, wg-webappsec

#14615 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#14505 Encoding: encodeInto()
  encoding/encodeInto.any.js
Labels: encoding

#14752 [Azure Pipelines] Run full daily runs of Safari Technology Preview
  .azure-pipelines.yml
Labels: infra

#14703 Update the Web Bluetooth reviewers.
  bluetooth/META.yml
Labels: bluetooth

#14778 Revert unnecessary change made in f3cbe0368c
  fetch/api/abort/general.any.js
Labels: fetch

#13575 [compositing] Inheritance, initial values
  css/compositing/inheritance.html
Labels: compositing, wg-css, wg-svg

#14775 Encoding: align encodeInto() test with reality
  encoding/encodeInto.any.js
Labels: encoding, status:needs-reviewers

#14790 Update interfaces/user-timing.idl
  interfaces/user-timing.idl
Labels: interfaces

#14789 Update interfaces/encoding.idl
  interfaces/encoding.idl
Labels: interfaces

#14784 CSS: Add Rachel Andrew as test reviewer
  css/css-break/META.yml
  css/css-flexbox/META.yml
  css/css-grid/META.yml
  css/css-inline/META.yml
  css/css-overflow/META.yml
  css/css-regions/META.yml
  css/css-tables/META.yml
Labels: css-break, css-flexbox, css-grid, css-inline, css-overflow, css-regions, css-tables, wg-css

#13748 [css-ui] expect resolved color in inheritance test
  css/css-ui/inheritance.html
Labels: css-ui

#14679 [css-text] Check interraction of tab-size, letter-spacing, word-spacing
  css/css-text/tab-size/tab-size-spacing-001-ref.html
  css/css-text/tab-size/tab-size-spacing-001.html
Labels: css-text, wg-css

#14811 Remove mnoorenberghe
  payment-request/META.yml
Labels: payment-request, wg-payments

#14814 xhr: Check if entry lists associated to new FormData instance and formData attribute are not identical.
  xhr/formdata.htm
Labels: xhr

#14817 Update interfaces/performance-timeline.idl
  interfaces/performance-timeline.idl
Labels: interfaces

#14797 Use get_host_info() for WebKit
  resource-timing/no-entries-for-cross-origin-css-fetched.sub.html
  resource-timing/resource_memory_cached.sub.html
Labels: resource-timing, wg-webperf

#14818 Delete non-existent id
  html/semantics/selectors/pseudo-classes/link.html
Labels: html

#14842 Use idl_test for HTML's interfaces.worker.js.
  html/dom/interfaces.worker.js
Labels: html

#14806 Stop explicitly listing hosts in chrome_android.md
  docs/_running-tests/chrome_android.md
Labels: docs

#14863 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#14861 Update MathML spec link
  mathml/META.yml
Labels: mathml, wg-math

#14890 Drop the use of `average_size` with hypothesis.strategies.lists
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#14852 Add support for Epiphany web browser
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_epiphany.txt
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/epiphany.py
Labels: infra, wpt, wptrunner

#8697 Add tabindex event test
  html/editing/focus/sequential-focus-navigation-and-the-tabindex-attribute/focus-tabindex-event-manual.html
Labels: html

#14910 [css-overflow] property parsing and serialization
  css/css-overflow/parsing/block-ellipsis-invalid.html
  css/css-overflow/parsing/block-ellipsis-valid.html
  css/css-overflow/parsing/continue-invalid.html
  css/css-overflow/parsing/continue-valid.html
  css/css-overflow/parsing/line-clamp-invalid.html
  css/css-overflow/parsing/line-clamp-valid.html
  css/css-overflow/parsing/max-lines-invalid.html
  css/css-overflow/parsing/max-lines-valid.html
  css/css-overflow/parsing/overflow-invalid.html
  css/css-overflow/parsing/overflow-valid.html
  css/css-overflow/parsing/text-overflow-invalid.html
  css/css-overflow/parsing/text-overflow-valid.html
Labels: css-overflow

#14898 Fix #14894: Disable Python hypothesis deadlines on CI
  tools/conftest.py
Labels: conftest.py, infra

#13109 [css-overflow] Inheritance and initial values
  css/css-overflow/inheritance.html
Labels: css-overflow, wg-css

#14423 Add some tests that check SDP after transceiver stop
  webrtc/RTCRtpTransceiver-stop.html
Labels: webrtc, wg-webrtc

#13922 Ensure that the 'address' member remains null in RTCIceCandidateStats for remote prflx candidates
  webrtc-stats/getStats-remote-candidate-address.html
Labels: webrtc-stats, wg-webrtc

#14924 Bug #14179: Disable test_run_firefox for flakiness
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#14899 Script-blocking style sheet tests
  html/semantics/document-metadata/the-link-element/link-error-fired-before-scripting-unblocked.html
  html/semantics/document-metadata/the-link-element/link-load-event.html
  html/semantics/document-metadata/the-link-element/link-load-fired-before-scripting-unblocked.html
  html/semantics/document-metadata/the-link-element/resources/neutral.css
  html/semantics/document-metadata/the-link-element/stylesheet-not-removed-until-next-stylesheet-loads.html
Labels: html

#14930 Sync Mozilla CSS tests as of 2019-01-17
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-width-table-auto-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-width-table-auto-1.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-width-table-fixed-1-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/calc-width-table-fixed-1.html
Labels: vendor-imports

#14746 Update interfaces/SVG.idl
  interfaces/SVG.idl
Labels: interfaces

#14918 fix: buggy test and description
  payment-request/payment-response/retry-method-manual.https.html
Labels: payment-request, wg-payments

#14923 [css-overflow] overflow computed value
  css/css-overflow/parsing/overflow-computed.html
  css/css-overflow/parsing/text-overflow-computed.html
Labels: css-overflow

#14297 Test payment request is showing boolean
  payment-request/blank.html
  payment-request/payment-is-showing.https.html
Labels: payment-request, wg-payments

#14935 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#14886 Manually update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#14949 [css-tables] Inheritance and initial value tests
  css/css-tables/inheritance.html
Labels: css-tables

#14950 [css-tables] Parsing of CSS Table properties
  css/css-tables/parsing/border-collapse-invalid.html
  css/css-tables/parsing/border-collapse-valid.html
  css/css-tables/parsing/border-spacing-invalid.html
  css/css-tables/parsing/border-spacing-valid.html
  css/css-tables/parsing/caption-side-invalid.html
  css/css-tables/parsing/caption-side-valid.html
  css/css-tables/parsing/empty-cells-invalid.html
  css/css-tables/parsing/empty-cells-valid.html
  css/css-tables/parsing/table-layout-invalid.html
  css/css-tables/parsing/table-layout-valid.html
Labels: css-tables

#14953 [css-tables] Computed values of table properties
  css/css-tables/parsing/border-collapse-computed.html
  css/css-tables/parsing/border-spacing-computed.html
  css/css-tables/parsing/caption-side-computed.html
  css/css-tables/parsing/empty-cells-computed.html
  css/css-tables/parsing/table-layout-computed.html
Labels: css-tables

#14977 Add another test with a HTMLCollection on the prototype chain.
  dom/collections/HTMLCollection-as-proto-length-get-throws.html
  dom/collections/HTMLCollection-as-prototype.html
Labels: dom

#14966 correct calc-unit-analysis test (see issue 13713)
  css/css-values/calc-unit-analysis.html
Labels: css-values, wg-css

#14876 SVG Interactivity: onwheel attribute
  svg/interact/manual/event-attribute-001-manual.svg
Labels: svg, wg-svg

#14990 Update interfaces/picture-in-picture.idl
  interfaces/picture-in-picture.idl
Labels: interfaces

#14991 Update interfaces/pointerlock.idl
  interfaces/pointerlock.idl
Labels: interfaces

#14989 Update interfaces/css-pseudo.idl
  interfaces/css-pseudo.idl
Labels: interfaces

#14962 [css-text] Parsing of CSS Text properties
  css/css-text/parsing/hanging-punctuation-invalid.html
  css/css-text/parsing/hanging-punctuation-valid.html
  css/css-text/parsing/hyphens-invalid.html
  css/css-text/parsing/hyphens-valid.html
  css/css-text/parsing/letter-spacing-invalid.html
  css/css-text/parsing/letter-spacing-valid.html
  css/css-text/parsing/line-break-invalid.html
  css/css-text/parsing/line-break-valid.html
  css/css-text/parsing/overflow-wrap-invalid.html
  css/css-text/parsing/overflow-wrap-valid.html
  css/css-text/parsing/tab-size-invalid.html
  css/css-text/parsing/tab-size-valid.html
  css/css-text/parsing/text-align-all-invalid.html
  css/css-text/parsing/text-align-all-valid.html
  css/css-text/parsing/text-align-invalid.html
  css/css-text/parsing/text-align-last-invalid.html
  css/css-text/parsing/text-align-last-valid.html
  css/css-text/parsing/text-align-valid.html
  css/css-text/parsing/text-indent-invalid.html
  css/css-text/parsing/text-indent-valid.html
  css/css-text/parsing/text-justify-invalid.html
  css/css-text/parsing/text-justify-valid.html
  css/css-text/parsing/text-transform-invalid.html
  css/css-text/parsing/text-transform-valid.html
  css/css-text/parsing/white-space-invalid.html
  css/css-text/parsing/white-space-valid.html
  css/css-text/parsing/word-break-invalid.html
  css/css-text/parsing/word-break-valid.html
  css/css-text/parsing/word-spacing-invalid.html
  css/css-text/parsing/word-spacing-valid.html
  css/css-text/parsing/word-wrap-invalid.html
  css/css-text/parsing/word-wrap-valid.html
Labels: css-text

#14999 [css-ui][compat] Move and update appearance cssom test
  compat/webkit-appearance.html
  css/css-ui/appearance-cssom-001.html
Labels: compat, css-ui

#15016 Add assert descriptions to Web Locks test to aid debugging
  web-locks/signal.tentative.https.any.js
Labels: web-locks

#14813 Complement basic-card with ApplePay
  payment-request/MerchantValidationEvent/constructor.https.html
  payment-request/PaymentRequestUpdateEvent/constructor.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-call-immediate-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-duplicate-shipping-options-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-incremental-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-method-abort-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-state-checks-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updatewith-method.https.html
  payment-request/algorithms-manual.https.html
  payment-request/billing-address-changed-manual.https.html
  payment-request/change-shipping-option-manual.https.html
  payment-request/change-shipping-option-select-last-manual.https.html
  payment-request/onmerchantvalidation-attribute.https.html
  payment-request/onpaymentmenthodchange-attribute.https.html
  payment-request/payment-request-abort-method.https.html
  payment-request/payment-request-canmakepayment-method-protection.https.html
  payment-request/payment-request-canmakepayment-method.https.html
  payment-request/payment-request-constructor-crash.https.html
  payment-request/payment-request-onshippingaddresschange-attribute.https.html
  payment-request/payment-request-onshippingoptionchange-attribute.https.html
  payment-request/payment-request-shippingType-attribute.https.html
  payment-request/payment-request-show-method.https.html
  payment-request/payment-response/helpers.js
  payment-request/payment-response/rejects_if_not_active-manual.https.html
  payment-request/rejects_if_not_active.https.html
  payment-request/shipping-address-changed-manual.https.html
  payment-request/show-method-optional-promise-rejects-manual.https.html
  payment-request/show-method-optional-promise-resolves-manual.https.html
  payment-request/show-method-postmessage-iframe.html
  payment-request/show-method-postmessage-manual.https.html
  payment-request/updateWith-method-pmi-handling-manual.https.html
  payment-request/user-abort-algorithm-manual.https.html
  payment-request/user-accepts-payment-request-algo-manual.https.html
Labels: payment-request, wg-payments

#14934 Remove PaymentAddress.regionCode tests
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
  payment-request/historical.https.html
Labels: do not merge yet, payment-request, wg-payments

#15033 Update interfaces/IndexedDB.idl
  interfaces/IndexedDB.idl
Labels: interfaces

#15012 Remove the `./wpt check-stability` command
  tools/ci/check_stability.py
  tools/ci/commands.json
  tools/wpt/tests/test_wpt.py
Labels: ci, infra, wpt

#14383 [eme] Check if encryption scheme is supported
  encrypted-media/clearkey-check-encryption-scheme.https.html
  encrypted-media/drm-check-encryption-scheme.https.html
  encrypted-media/scripts/check-encryption-scheme.js
Labels: encrypted-media, wg-html

#14384 [eme] Check if HDCP policy is supported
  encrypted-media/clearkey-check-status-for-hdcp.https.html
  encrypted-media/drm-check-status-for-hdcp.https.html
  encrypted-media/scripts/check-status-for-hdcp.js
Labels: encrypted-media, wg-html

#15037 Invoke the staging.wpt.fyi Azure hook at the end of daily run
  .azure-pipelines.yml
Labels: infra

#15041 Change the condition for running all tests for branch to reason
  .azure-pipelines.yml
Labels: infra

#14981 Use fluxbox as window manager for xvfb in CI (14938)
  .taskcluster.yml
  tools/ci/start.sh
  tools/docker/Dockerfile
Labels: ci, docker, infra, wpt

#15043 Updating WebDriver new window command tests to switch window
  webdriver/tests/new_window/new_tab.py
  webdriver/tests/new_window/new_window.py
Labels: webdriver, wg-testing_browser

#14983 Make webrtc-stats idlharness.js test depend on webrtc
  webrtc-stats/idlharness.window.js
Labels: webrtc-stats, wg-webrtc

#15046 Added added <meta name='flags' content='invalid'> in 5 css-values tests
  css/css-values/attr-color-invalid-fallback.html
  css/css-values/attr-invalid-type-001.html
  css/css-values/attr-invalid-type-002.html
  css/css-values/attr-length-invalid-fallback.html
  css/css-values/attr-px-invalid-fallback.html
Labels: css-values, wg-css

#15029 Added 7 new css-values tests and 2 reference files
  css/css-values/ic-unit-008.html
  css/css-values/ic-unit-009.html
  css/css-values/ic-unit-010.html
  css/css-values/ic-unit-011.html
  css/css-values/ic-unit-012.html
  css/css-values/q-unit-case-insensitivity-001.html
  css/css-values/q-unit-case-insensitivity-002.html
  css/css-values/reference/ic-unit-008-ref.html
  css/css-values/reference/ic-unit-009-ref.html
Labels: css-values, wg-css

#15065 Update interfaces/generic-sensor.idl
  interfaces/generic-sensor.idl
Labels: interfaces

#15067 Update interfaces/shape-detection-api.idl
  interfaces/shape-detection-api.idl
Labels: interfaces

#14960 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#15066 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#15014 Add some tests for named properties on Storage.
  webstorage/defineProperty.window.js
  webstorage/set.window.js
Labels: webstorage, wg-webplatform

#14954 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#13377 Update interfaces/css-layout-api.idl
  interfaces/css-layout-api.idl
Labels: interfaces

#15055 Fix code associated with several keys
  webdriver/tests/perform_actions/support/keys.py
Labels: webdriver, wg-testing_browser

#15071 Convert css/ idlharness.js tests to use idl_test
  css/css-conditional/idlharness.html
  css/css-fonts/idlharness.html
  css/css-paint-api/idlharness.html
  css/css-properties-values-api/idlharness.html
Labels: css-conditional, css-fonts, css-paint-api, css-properties-values-api

#14803 Add the ability to skip virtualenv setup when using an existing one
  tools/wpt/run.py
  tools/wpt/tests/test_run.py
  tools/wpt/virtualenv.py
  tools/wpt/wpt.py
Labels: infra, wpt

#15060 An+B Parsing
  css/css-syntax/anb-serialization.html
Labels: css-syntax

#15063 meta-charset (a) on its own line, and (b) just after the title, befor…
  css/css-values/vh_not_refreshing_on_chrome.html
  css/css-values/viewport-relative-lengths-scaled-viewport.html
  css/css-values/viewport-units-css2-001.html
Labels: css-values, wg-css

#15084 Rename anb-serialization.html to anb-parsing.html
  css/css-syntax/anb-parsing.html
Labels: css-syntax

#15059 An+B Serialization
  css/css-syntax/anb-serialization.html
Labels: anb-serialization.html, css-syntax

#15068 Add Noto Naskh Arabic regular woff2 font
  fonts/noto/NotoNaskhArabic-regular.woff2
Labels: assets

#15085 Update expected value for test_tests_affected_idlharness
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#15086 Input Preprocessing
  css/css-syntax/input-preprocessing.html
Labels: css-syntax, input-preprocessing.html

#15079 Pass the full path to the flake8 config files
  tools/tox.ini
Labels: infra, tox.ini

#15088 Unclosed Constructs Are Valid
  css/css-syntax/unclosed-constructs.html
Labels: css-syntax

#15087 Inclusive Ranges
  css/css-syntax/inclusive-ranges.html
Labels: css-syntax

#15090 CSS Whitespace
  css/css-syntax/whitespace.html
Labels: css-syntax

#15095 Update interfaces/picture-in-picture.idl
  interfaces/picture-in-picture.idl
Labels: interfaces

#15094 Update interfaces/ambient-light.idl
  interfaces/ambient-light.idl
Labels: interfaces

#15096 Update interfaces/wasm-js-api.idl
  interfaces/wasm-js-api.idl
Labels: interfaces

#15092 Escaped EOF
  css/css-syntax/escaped-eof.html
Labels: css-syntax

#15109 Add a web platform test checking documentElement clientWidth is `Initial Containing Block` size even if there is visible overlow:hidden region due to minimum-scale.
  css/css-device-adapt/documentElement-clientWidth-on-minimum-scale-size.tentative.html
Labels: css-device-adapt, wg-css

#15105 Improve `EventListener::handleEvent()` coverage
  dom/events/EventListener-handleEvent.html
Labels: dom

#15074 Enable full logging for verify runs on taskcluster
  tools/ci/taskcluster-run.py
Labels: ci, dom, infra, requirements_flake8.txt

#15115 Fix first arg of assert_throws
  css/css-syntax/escaped-eof.html
Labels: css-syntax

#15128 Update interfaces/orientation-sensor.idl
  interfaces/orientation-sensor.idl
Labels: interfaces

#15126 Update interfaces/gyroscope.idl
  interfaces/gyroscope.idl
Labels: interfaces

#15124 Update interfaces/accelerometer.idl
  interfaces/accelerometer.idl
Labels: interfaces

#15125 Update interfaces/geolocation-sensor.idl
  interfaces/geolocation-sensor.idl
Labels: interfaces

#15127 Update interfaces/magnetometer.idl
  interfaces/magnetometer.idl
Labels: interfaces

#15116 Clarify that object arg to assert_throws is for non-DOMExceptions
  docs/_writing-tests/testharness-api.md
Labels: docs

#15130 Correct the order of owner and repo args in tag_master.py
  tools/ci/tag_master.py
Labels: ci, infra

#15135 Fix useless test in dataset-delete.html.
  html/dom/elements/global-attributes/dataset-delete.html
Labels: html

#15158 [Azure Pipelines] Only publish `./wpt run` results if all succeeded
  .azure-pipelines.yml
Labels: infra

#15076 Add fyi logos
  images/fyi-logo/fyi_color.svg
  images/fyi-logo/fyi_color_bg.svg
  images/fyi-logo/fyi_monochromatic.svg
  images/fyi-logo/fyi_monochromatic_bg.svg
Labels: assets

#14711 Add CEReactions tests
  custom-elements/reactions/HTMLCanvasElement.html
  custom-elements/reactions/HTMLDataElement.html
  custom-elements/reactions/HTMLDetailsElement.html
  custom-elements/reactions/HTMLMapElement.html
  custom-elements/reactions/HTMLModElement.html
  custom-elements/reactions/HTMLOListElement.html
  custom-elements/reactions/HTMLQuoteElement.html
  custom-elements/reactions/HTMLSlotElement.html
  custom-elements/reactions/HTMLTimeElement.html
  custom-elements/reactions/resources/reactions.js
Labels: custom-elements, wg-webplatform

#15170 [css-font-loading] Handle a fontFace.loaded promise rejection in idlharness test
  css/css-font-loading/idlharness.https.html
Labels: css-font-loading

#15078 HTML: window.open() can set opener of a nested browsing context
  html/browsers/windows/embedded-opener-a-form.html
  html/browsers/windows/embedded-opener.html
Labels: html

#15180 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#14300 [Azure Pipelines] Run infrastructure/ tests on Windows 10
  .azure-pipelines.yml
  infrastructure/metadata/infrastructure/assumptions/allowed-to-play.html.ini
  infrastructure/metadata/infrastructure/assumptions/html-elements.html.ini
  infrastructure/metadata/infrastructure/reftest/size.html.ini
  infrastructure/metadata/infrastructure/server/context.any.js.ini
  infrastructure/metadata/infrastructure/server/order-of-metas.any.js.ini
  infrastructure/metadata/infrastructure/server/order-of-metas.window.js.ini
  infrastructure/metadata/infrastructure/server/secure-context.https.any.js.ini
  infrastructure/metadata/infrastructure/server/title.any.js.ini
  infrastructure/metadata/infrastructure/testdriver/file_upload.sub.html.ini
  tools/ci/azure/cleanup_win10.yml
  tools/ci/azure/install_certs.yml
  tools/ci/azure/install_python.yml
  tools/ci/azure/pip_install.yml
  tools/ci/azure/system_info.yml
  tools/ci/azure/update_hosts.yml
  tools/ci/azure/update_manifest.yml
Labels: ci, infra

#14866 Improve the test names of tests for toJSON behavior.
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlInterface/test_to_json_operation.html
Labels: idlharness.js, infra, testharness.js

#15172 Get Edge version using PowerShell command
  tools/wpt/browser.py
Labels: infra, wpt

#15186 WritableStream: fix two small coverage gaps
  streams/writable-streams/aborting.any.js
  streams/writable-streams/general.any.js
Labels: streams
