Repository web-platform-tests/wpt, pull requests merged in 2020-05, with the labels that each got.

#23319 Rename lint.whitelist to lint.ignore
  lint.ignore
  tools/lint/lint.py
  tools/lint/tests/dummy/lint.ignore
  tools/lint/tests/test_lint.py
Labels: infra, lint

#23350 Use requestSkipAnimationFrame to avoid races in tests
  webxr/dom-overlay/ar_dom_overlay.https.html
  webxr/events_input_sources_change.https.html
  webxr/events_referenceSpace_reset_immersive.https.html
  webxr/events_session_select.https.html
  webxr/events_session_select_subframe.https.html
  webxr/events_session_squeeze.https.html
  webxr/gamepads-module/xrInputSource_gamepad_disconnect.https.html
  webxr/gamepads-module/xrInputSource_gamepad_input_registered.https.html
  webxr/getInputPose_handedness.https.html
  webxr/getInputPose_pointer.https.html
  webxr/getViewerPose_emulatedPosition.https.html
  webxr/hit-test/ar_hittest_subscription_inputSources.https.html
  webxr/hit-test/ar_hittest_subscription_transientInputSources.https.html
  webxr/resources/webxr_util.js
  webxr/xrBoundedReferenceSpace_updates.https.html
  webxr/xrInputSource_add_remove.https.html
  webxr/xrInputSource_emulatedPosition.https.html
  webxr/xrInputSource_profiles.https.html
  webxr/xrInputSource_sameObject.https.html
  webxr/xrPose_transform_sameObject.https.html
  webxr/xrReferenceSpace_originOffset.https.html
  webxr/xrReferenceSpace_originOffsetBounded.https.html
  webxr/xrSession_input_events_end.https.html
  webxr/xrSession_sameObject.https.html
  webxr/xrStationaryReferenceSpace_floorlevel_updates.https.html
Labels: webxr, wg-immersive-web

#23356 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#23365 Add META.yml for LayoutInstability and LargestContentfulPaint
  largest-contentful-paint/META.yml
  layout-instability/META.yml
Labels: largest-contentful-paint, layout-instability, status:needs-reviewers

#23213 Python3: Add support for infrastructure/test PR triggered run
  infrastructure/metadata/infrastructure/server/http2-context.sub.h2.any.js.ini
  infrastructure/metadata/infrastructure/server/wpt-server-http.sub.html.ini
  tools/ci/ci_wptrunner_infrastructure.sh
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: ci, infra, wptrunner

#23369 Add missing token argument.
  xhr/resources/access-control-preflight-denied.py
Labels: xhr

#23377 Add unicode tests for base64 decoding
  fetch/data-urls/resources/base64.json
Labels: fetch

#23382 Add test for passing a FormData into URLSearchParams
  url/urlsearchparams-constructor.any.js
Labels: url

#23371 WebIDL: Fix class string of null-prototype instance test
  WebIDL/ecmascript-binding/class-string-iterator-prototype-object.any.js
Labels: WebIDL, wg-webplatform

#23380 HTML: <form>'s invalid event is not to be supported
  html/semantics/forms/form-submission-0/historical.window.js
Labels: html

#23143 Python 3: Convert text to byte string to support PY2 and PY3
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra, wptrunner

#23281 [wptserve] Fix RequestHeaders.get in Python 3
  tools/wptserve/tests/test_request.py
  tools/wptserve/wptserve/request.py
Labels: infra, python3, wptserve

#23324 Remove assert_precondition from testharness.js
  docs/writing-tests/testharness-api.md
  infrastructure/expected-fail/precondition-in-promise.html
  infrastructure/expected-fail/precondition-in-setup.html
  infrastructure/expected-fail/precondition-without-setup.html
  infrastructure/expected-fail/precondition.html
  lint.ignore
  resources/testharness.js
Labels: docs, infra, mozilla:gecko-blocked, testharness.js

#23336 [shadow-dom] rename slotable to slottable
  shadow-dom/Slottable-mixin.html
  shadow-dom/slotchange-event.html
  shadow-dom/slots-imperative-slot-api.tentative.html
Labels: shadow-dom, wg-webplatform

#23405 List default globals in prototypes.any.js
  wasm/jsapi/prototypes.any.js
Labels: wasm

#23408 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#23284 [wptserve] Make sure GET/POST params are always binary
  infrastructure/testdriver/file_upload.py
  tools/wptserve/tests/functional/test_stash.py
  tools/wptserve/wptserve/pipes.py
  tools/wptserve/wptserve/request.py
  tools/wptserve/wptserve/response.py
  tools/wptserve/wptserve/stash.py
  tools/wptserve/wptserve/utils.py
Labels: infra, mozilla:gecko-blocked, wptserve

#23399 Support Function in IdlArray.prototype.assert_type_is
  resources/idlharness.js
Labels: idlharness.js, infra

#23357 Make canvas test generation python3 compatible
  html/canvas/tools/gentestutils.py
  html/canvas/tools/tests2d-offscreen.yaml
  html/canvas/tools/tests2d.yaml
Labels: html, mozilla:gecko-blocked

#23327 [wptserve] Make cookies always binary strings
  tools/wptserve/tests/functional/test_cookies.py
  tools/wptserve/wptserve/request.py
  tools/wptserve/wptserve/response.py
Labels: infra, mozilla:gecko-blocked, wptserve

#23246 Add some badges to README
  README.md
Labels: infra

#23397 Roll webidl2.js to master
  resources/webidl2/lib/webidl2.js
Labels: idlharness.js, infra

#23360 [WIP] Add interfaces/periodic-background-sync.idl and update test
  interfaces/periodic-background-sync.idl
  periodic-background-sync/idlharness.https.any.js
Labels: interfaces, periodic-background-sync

#17573 HTML: <thead height> et al are a thing
  html/rendering/non-replaced-elements/tables/table-row-group-height-ref.html
  html/rendering/non-replaced-elements/tables/table-row-group-height.html
Labels: html

#23431 Fix stash ID in //fetch/metadata/preload.https.sub.html
  fetch/metadata/preload.https.sub.html
Labels: fetch

#23348 [css-flexbox] remove ttwf-reftest- prefix on 10 tests
  css/css-flexbox/flex-align-content-center.html
  css/css-flexbox/flex-align-content-end.html
  css/css-flexbox/flex-align-content-space-around.html
  css/css-flexbox/flex-align-content-space-between.html
  css/css-flexbox/flex-align-content-start.html
  css/css-flexbox/flex-base.html
  css/css-flexbox/flex-direction-column-reverse.html
  css/css-flexbox/flex-direction-column.html
  css/css-flexbox/flex-direction-row-reverse.html
  css/css-flexbox/flex-inline.html
  css/css-flexbox/reference/flex-align-content-center-ref.html
  css/css-flexbox/reference/flex-align-content-end-ref.html
  css/css-flexbox/reference/flex-align-content-space-around-ref.html
  css/css-flexbox/reference/flex-align-content-space-between-ref.html
  css/css-flexbox/reference/flex-align-content-start-ref.html
  css/css-flexbox/reference/flex-base-ref.html
  css/css-flexbox/reference/flex-direction-column-ref.html
  css/css-flexbox/reference/flex-direction-column-reverse-ref.html
  css/css-flexbox/reference/flex-direction-row-reverse-ref.html
  css/css-flexbox/reference/flex-inline-ref.html
Labels: css-flexbox, wg-css

#23392 Remove erroneous named properties object test
  WebIDL/ecmascript-binding/class-string-named-properties-object.window.js
Labels: WebIDL, wg-webplatform

#23416 idlharness test fixups
  FileAPI/idlharness.html
  FileAPI/idlharness.worker.js
  interfaces/trusted-types.tentative.idl
  wasm/jsapi/idlharness.any.js
Labels: FileAPI, interfaces, wasm, wg-webapps

#23427 Encoding: test a bunch of legacy UTF labels
  encoding/resources/encodings.js
Labels: encoding

#22594 Fix broken link
  css/css-values/ch-pseudo-recalc-on-font-load.html
Labels: wg-css

#23440 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#23445 [css-flexbox-1][css-overflow-3] Add tests for capturing margin/padding in flex overflow.
  css/css-flexbox/overflow-area-001.html
  css/css-flexbox/overflow-area-002.html
  css/css-flexbox/reference/overflow-area-001-ref.html
  css/css-flexbox/reference/overflow-area-002-ref.html
Labels: css-flexbox, wg-css

#23432 URL: test IDNA ignored code points in host
  url/resources/toascii.json
  url/resources/urltestdata.json
Labels: status:needs-spec-decision, url

#11935 [webaudio] Generalize convolver test tolerances for numerical error
  webaudio/the-audio-api/the-convolvernode-interface/convolver-response-1-chan.html
  webaudio/the-audio-api/the-convolvernode-interface/convolver-response-2-chan.html
  webaudio/the-audio-api/the-convolvernode-interface/convolver-response-4-chan.html
Labels: webaudio, wg-audio

#19754 Let retry.py flush stdout after each log message
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
  tools/docker/retry.py
Labels: Taskcluster, ci, docker, infra

#23452 Adjust font-size expectation for none/mprescripts
  mathml/relations/css-styling/attribute-mapping-001.html
Labels: mathml, wg-math

#23446 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#23474 Fix //fetch/metadata/preload.https.sub.html
  fetch/metadata/preload.https.sub.html
Labels: fetch

#23467 Test the sourceText of event handlers
  html/webappapis/scripting/events/event-handler-sourcetext.html
Labels: html

#23486 Implement cross origin resource policy check
  fetch/cross-origin-resource-policy/image-loads.html
  fetch/cross-origin-resource-policy/script-loads.html
Labels: fetch, servo-export

#23493 [taskcluster] Fix unit tests
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#23458 HTML: registerProtocolHandler() lowercases scheme argument
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol.https.html
Labels: html, status:needs-spec-decision

#23495 Update menclose help and explains better how tests work in MathML core
  mathml/presentation-markup/menclose/legacy-menclose-radical-notation.html
  mathml/presentation-markup/mrow/inferred-mrow-baseline.html
  mathml/presentation-markup/mrow/inferred-mrow-stretchy.html
  mathml/presentation-markup/mrow/legacy-mstyle-attributes.html
  mathml/presentation-markup/mrow/spacing.html
  mathml/relations/css-styling/color-004.tentative-ref.html
  mathml/relations/css-styling/color-004.tentative.html
  mathml/relations/css-styling/visibility-004.tentative-ref.html
  mathml/relations/css-styling/visibility-004.tentative.html
Labels: mathml, status:needs-reviewers, wg-math

#23500 registerProtocolHandler(): handler's URL cannot be a blob URL
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol.https.html
Labels: html

#23502 Use tc index for geckodriver downloads
  tools/wpt/browser.py
  tools/wpt/commands.json
  tools/wptrunner/requirements_firefox.txt
Labels: infra, wpt, wptrunner

#23507 Don't run Fx chaos mode test verification step
  tools/ci/tc/tasks/test.yml
Labels: ci, infra

#23478 Factor actions out into their own file
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#23516 Fix module script referrer port
  html/semantics/scripting-1/the-script-element/module/referrer-origin-when-cross-origin.sub.html
Labels: html

#23530 Update some scriptlevel tests to match the new syntax.
  css/css-fonts/math-script-level-and-math-style/math-script-level-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-005.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-005.tentative.html
Labels: css-fonts

#23529 [testdriver] fix typos in addPointer documentation
  resources/testdriver-actions.js
Labels: infra, testdriver.js

#23538 Update some scriptlevel tests to match the new syntax (part 2).
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-005.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative.html
Labels: css-fonts

#23542 MathML scriptlevel: Update test for attribute mapping.
  mathml/relations/css-styling/attribute-mapping-002.html
Labels: mathml, status:needs-reviewers, wg-math

#23543 Add MathML for automatic scriptlevel attribute
  mathml/relations/css-styling/scriptlevel-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23477 Pass logger explicitly in to Executors
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#23536 [Azure Pipelines] run wpt_integration_{macOS,win}_{py36,py38} entirely using py3
  .azure-pipelines.yml
Labels: Azure Pipelines, ci, infra, python3

#23547 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#22844 Introduce test infrastructure for QuicTransport
  tools/quic/README.md
  tools/quic/certs/README.md
  tools/quic/certs/cert.key
  tools/quic/certs/cert.pem
  tools/quic/certs/config.json
  tools/quic/quic_transport_server.py
  tools/wptserve/wptserve/sslutils/openssl.py
  webtransport/quic/client-indication.any.js
  webtransport/quic/handlers/README.md
  webtransport/quic/handlers/client-indication.quic.py
Labels: infra, quic, webtransport, wptserve

#23550 [Azure Pipelines] tweak job and display names
  .azure-pipelines.yml
Labels: Azure Pipelines

#23404 New image-resolution tests
  css/css-images/image-resolution/image-resolution-001.html
  css/css-images/image-resolution/image-resolution-002.html
  css/css-images/image-resolution/image-resolution-003.html
  css/css-images/image-resolution/image-resolution-004.html
  css/css-images/image-resolution/image-resolution-005.html
  css/css-images/image-resolution/image-resolution-006.html
  css/css-images/image-resolution/image-resolution-007.html
  css/css-images/image-resolution/image-resolution-008.html
  css/css-images/image-resolution/image-resolution-009.html
  css/css-images/image-resolution/image-resolution-010.html
  css/css-images/image-resolution/image-resolution-011.html
  css/css-images/image-resolution/reference/100x100-blue-blur4px.html
  css/css-images/image-resolution/support/swatch-blue-192dpi.png
  css/css-images/image-resolution/support/swatch-blue-48dpi.png
  css/css-images/image-resolution/support/swatch-blue-48x192dpi.png
Labels: css-images

#23559 MathML operator dictionary: verify spacing for single char + combinin…
  mathml/presentation-markup/operators/operator-dictionary-combining.html
Labels: mathml, status:needs-reviewers, wg-math

#23558 MathML: Regenerate tests for the operator dictionary
  fonts/math/operators.woff
  mathml/presentation-markup/operators/operator-dictionary-largeop-001.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-002.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-003.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-004.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-005.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-006.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-001.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-002.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-003.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-004.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-005.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-006.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-001.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-002.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-003.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-004.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-005.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-006.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-001.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-002.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-003.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-004.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-005.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-006.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-001.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-002.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-003.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-004.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-005.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-006.html
  mathml/presentation-markup/operators/support/operator-dictionary-tests.js
  mathml/support/operator-dictionary.json
Labels: assets, mathml, wg-math

#23564 Fix superclass calls in MarionetteRefTestExecutor
  tools/wptrunner/wptrunner/executors/executormarionette.py
Labels: infra, wptrunner

#23566 Run Taskcluster on draft PRs
  .taskcluster.yml
Labels: Taskcluster

#23541 Add more file: URL drive letter tests
  url/resources/urltestdata.json
Labels: url

#23555 [wptserve] Clarify response.set_error takes text
  tools/wptserve/wptserve/response.py
Labels: infra, python3, wptserve

#23552 Strict referrer policy on insecure descendant script from secure module script
  html/semantics/scripting-1/the-script-element/module/referrer-strict-policies.sub.html
  html/semantics/scripting-1/the-script-element/module/resources/import-referrer-checker-insecure.sub.js
  html/semantics/scripting-1/the-script-element/module/resources/import-referrer-checker-insecure.sub.js.headers
Labels: html

#23591 [css-ruby] test parsing of the ruby-merge property
  css/css-ruby/parsing/ruby-merge-invalid.html
  css/css-ruby/parsing/ruby-merge-valid.html
Labels: css-ruby, wg-css

#23572 URL: forbid <, >, and ^ in hosts
  url/resources/urltestdata.json
Labels: url

#23592 [compression] move pako into a third_party directory
  compression/compression-including-empty-chunk.tentative.any.js
  compression/compression-multiple-chunks.tentative.any.js
  compression/compression-stream.tentative.any.js
  compression/third_party/pako/LICENSE
  compression/third_party/pako/README
  compression/third_party/pako/pako_inflate.min.js
Labels: compression

#23604 Adjust expectations after operator dict changes
  mathml/presentation-markup/operators/mo-form-minus-plus-ref.html
  mathml/presentation-markup/operators/mo-form-ref.html
Labels: mathml, wg-math

#23576 Get rid of unused canvas2d test templates
  html/canvas/tools/templates.yaml
Labels: html

#23600 Update interfaces/web-share.idl
  interfaces/web-share.idl
Labels: interfaces

#23611 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#23239 Add lint for files with the same basename path
  lint.ignore
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/dummy/tests/dir1/a.html
  tools/lint/tests/dummy/tests/dir1/a.js
  tools/lint/tests/dummy/tests/dir1/a.xhtml
  tools/lint/tests/dummy/tests/dir1/b.html
  tools/lint/tests/dummy/tests/dir2/a.xhtml
  tools/lint/tests/test_lint.py
Labels: infra, lint

#23456 [WebDriver] Add test for triple click
  webdriver/tests/perform_actions/pointer_tripleclick.py
Labels: webdriver, wg-testing_browser

#23619 Rename a test with a duplicate basename path
  dom/nodes/Document-createCDATASection-xhtml.xhtml
  lint.ignore
Labels: dom, infra

#23622 [css-grid] Add test checking the minimum contribution with percentages
  css/css-grid/grid-definition/grid-minimum-contribution-with-percentages.html
Labels: css-grid

#23626 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#23524 Removed extra "support" directory in path to font
  css/WOFF2/support/available-002a.xht
Labels: WOFF2, wg-fonts

#23631 [Azure Pipelines] skip pointer_tripleclick.py on Safari runs
  .azure-pipelines.yml
Labels: Azure Pipelines

#23633 Remove documents.fonts.ready workaround
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
Labels: css-fonts

#23636 [docs] document how to get safaridriver logs for debugging
  docs/running-tests/safari.md
Labels: docs

#23585 Add inset inline properties tests for dialog centering tests
  html/semantics/interactive-elements/the-dialog-element/centering.html
Labels: html

#20323 [Azure Pipelines] start running inert element retargeting tests again
  .azure-pipelines.yml
Labels: Azure Pipelines

#23651 Update interfaces/layout-instability.idl and test
  interfaces/layout-instability.idl
  layout-instability/idlharness.html
  layout-instability/idlharness.window.js
Labels: interfaces, layout-instability

#23628 Update Safari Technology Preview to 106
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#23655 Add interfaces/device-memory.idl and test
  device-memory/idlharness.https.any.js
  interfaces/device-memory.idl
Labels: device-memory, interfaces

#23654 [Azure Pipelines] drop the `sudo safaridriver --enable` workaround
  tools/ci/azure/com.apple.Safari.plist
  tools/ci/azure/install_safari.yml
Labels: Azure Pipelines, ci, infra

#23568 [webxr] xrSession_visibilityState: EventWatcher constructor called with duplicate events
  webxr/xrSession_visibilityState.https.html
Labels: webxr, wg-immersive-web

#23091 [2dcontext] Add a test for drawing an empty canvas to another canvas.
  html/canvas/element/drawing-images-to-the-canvas/2d.drawImage.canvas.html
  html/canvas/tools/tests2d.yaml
Labels: 2dcontext, html, wg-html

#23666 [websockets] rename stream-tentative/ directory to stream.tentative/
  websockets/stream.tentative/README.md
  websockets/stream.tentative/abort.any.js
  websockets/stream.tentative/backpressure-receive.any.js
  websockets/stream.tentative/backpressure-send.any.js
  websockets/stream.tentative/close.any.js
  websockets/stream.tentative/constructor.any.js
  websockets/stream.tentative/resources/url-constants.js
Labels: websockets, wg-webapps

#23101 Test getOwnPropertyDescriptor() with host objects as [[ProxyTarget]]
  html/browsers/the-window-object/proxy-getOwnPropertyDescriptor.html
  resources/testharness.js
Labels: html, infra, testharness.js

#23644 Convert all script metadata to text
  tools/lint/lint.py
  tools/manifest/item.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
  tools/serve/serve.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, lint, manifest, mozilla:gecko-blocked, serve, wptrunner

#23667 html: Remove Promise.resolve in bailout-side-effects-ignore-opens-during-unload.window.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-ignore-opens-during-unload.window.js
Labels: html

#23674 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#23673 Update interfaces/badging.idl
  interfaces/badging.idl
Labels: interfaces

#23669 Rename variable to avoid mypy type error
  tools/manifest/sourcefile.py
Labels: infra, manifest

#23681 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#23685 Fix expectation for dynamic accentunder case
  mathml/relations/css-styling/scriptlevel-001.html
Labels: mathml, wg-math

#22116 Extract Service Workers idlharness.js tests into a single test
  service-workers/idlharness.https.any.js
  service-workers/service-worker/data-iframe.html
  service-workers/service-worker/idlharness-window.https.html
  service-workers/service-worker/interface-requirements-sw.https.html
  service-workers/service-worker/resources/interface-requirements-worker.sub.js
Labels: service-workers, wg-sw

#23642 wpt serve should return non-zero if any of the subprocess fails
  tools/serve/serve.py
Labels: infra, serve

#18285 Add webgpu/ test directory
  webgpu/META.yml
  webgpu/README.md
Labels: status:needs-reviewers, webgpu

#23680 [css-grid] Test heights of orthogonal grid item
  css/css-grid/grid-items/grid-items-minimum-height-orthogonal-001.html
  css/css-grid/grid-items/grid-items-minimum-width-orthogonal-001.html
Labels: css-grid

#23698 Remove KyleJu from tools/META.yml
  tools/META.yml
Labels: META.yml, infra

#23653 [Azure Pipelines] mention the obvious in docs: Windows
  .azure-pipelines.yml
Labels: Azure Pipelines

#21367 [Azure Pipelines] add a `safaridriver_diagnose` variable for extra logs
  .azure-pipelines.yml
  docs/running-tests/safari.md
  tools/ci/azure/install_safari.yml
  tools/ci/azure/publish_logs.yml
Labels: Azure Pipelines, ci, docs, infra

#23705 [QuicTransport] Address comments in pull/22844
  tools/quic/quic_transport_server.py
  webtransport/quic/handlers/client-indication.quic.py
Labels: infra, quic, webtransport

#23115 Update interfaces/{screen-}wake-lock.idl and test
  interfaces/wake-lock.idl
  screen-wake-lock/idlharness.https.window.js
Labels: do not merge yet, interfaces, screen-wake-lock

#23526 [uievents] Simplify dblclick test to make it fail fast
  uievents/click/dblclick_event_mouse.html
  uievents/click/mouse-dblclick-event.html
Labels: uievents, wg-webapps

#23723 Update interfaces/web-animations.idl
  interfaces/web-animations.idl
Labels: interfaces

#23726 Sync Mozilla CSS tests as of 2020-05-21
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-column-row-gap-004-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/flexbox-column-row-gap-004.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
Labels: vendor-imports

#23732 [ci/tc] Fix a unit test
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#23567 [webxr] webGLCanvasContext create xrcompatible bug fix
  webxr/webGLCanvasContext_create_xrcompatible.https.html
Labels: webxr, wg-immersive-web

#23740 Add MathML test for movablelimits and displaystyle
  mathml/relations/css-styling/displaystyle-3.html
Labels: mathml, status:needs-reviewers, wg-math

#23741 Add test to ensure that mathcolor/mathbackground uses the CSS definit…
  mathml/relations/css-styling/mathcolor-mathbackground-css-ref.html
  mathml/relations/css-styling/mathcolor-mathbackground-css.html
Labels: mathml, status:needs-reviewers, wg-math

#23743 Add MathML test for edge cases of minsize and maxsize
  mathml/presentation-markup/operators/mo-minsize-maxsize-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23709 [Azure Pipelines] stop setting no_proxy='*' on macOS
  .azure-pipelines.yml
  tools/ci/azure/affected_tests.yml
Labels: Azure Pipelines, ci, infra

#23761 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=212054
  css/css-flexbox/flex-lines/multi-line-wrap-reverse-column-reverse-ref.html
  css/css-flexbox/flex-lines/multi-line-wrap-reverse-column-reverse.html
Labels: css-flexbox, webkit-export, wg-css

#23363 Python 3: Port some html tests following Python file handlers p…
  cookies/resources/set-cookie.py
  html/semantics/embedded-content/media-elements/track/track-element/cors/support/cors-tester.py
  html/semantics/embedded-content/the-img-element/404-response-with-actual-image-data.py
  html/semantics/forms/form-submission-0/resources/form-submission.py
  html/semantics/scripting-1/the-script-element/module/resources/check-cookie.py
  html/semantics/scripting-1/the-script-element/module/resources/referrer-checker.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/slow-png.py
  xhr/resources/inspect-headers.py
Labels: cookies, html, infra, wptserve, xhr

#23786 Add MathML test to check the default font-family on the <math> root.
  mathml/relations/css-styling/default-font-family.html
Labels: mathml, status:needs-reviewers, wg-math

#23790 Update interfaces/css-shadow-parts.idl
  interfaces/css-shadow-parts.idl
Labels: interfaces

#23791 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#23792 Update interfaces/webmidi.idl
  interfaces/webmidi.idl
Labels: interfaces

#23769 New tests for grid elements as flexbox items.
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-001.html
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-002.html
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-003.html
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-004.html
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-005.html
  css/css-grid/layout-algorithm/grid-as-flex-item-should-not-shrink-to-fit-006.html
Labels: css-grid

#23796 mpadded: verify allow pseudo-units relying on orthogonal metrics are …
  mathml/presentation-markup/mpadded/legacy-orthogonal-pseudo-units.html
Labels: mathml, status:needs-reviewers, wg-math

#23800 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#23812 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#22054 Refactor: Make user-interaction-editing-contenteditable tests atomic
  html/editing/editing-0/contenteditable/user-interaction-editing-contenteditable.html
Labels: html

#23801 [css-grid] Fix grid-items-sizing-alignment-001.html for WebKit
  css/css-grid/grid-items/grid-items-sizing-alignment-001-ref.html
  css/css-grid/grid-items/grid-items-sizing-alignment-001.html
Labels: css-grid

#23737 Test both negotiated & non-negotiated datachannels
  webrtc/RTCDataChannel-bufferedAmount.html
  webrtc/RTCDataChannel-close.html
  webrtc/RTCDataChannel-send-blob-order.html
  webrtc/RTCDataChannel-send.html
  webrtc/RTCIceTransport.html
  webrtc/RTCPeerConnection-createDataChannel.html
  webrtc/RTCPeerConnection-helper.js
Labels: webrtc, wg-webrtc

#23754 Add default case for non-member types in assert_type_is
  resources/idlharness.js
Labels: idlharness.js, infra

#23850 Update Safari Technology Preview to 107
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#23855 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#23846 Add interfaces/compression.idl and test
  compression/idlharness.https.any.js
  interfaces/compression.idl
Labels: compression, interfaces

#23845 Add interfaces/get-installed-related-apps.idl and update test
  installedapp/idlharness.https.window.js
  interfaces/get-installed-related-apps.idl
Labels: installedapp, interfaces

#23857 Merge BigInt into structured-clone-battery-of-tests.js
  html/infrastructure/safe-passing-of-structured-data/structured_clone_bigint.html
  html/webappapis/structured-clone/structured-clone-battery-of-tests.js
Labels: html

#23859 Update interfaces/BackgroundSync.idl
  interfaces/BackgroundSync.idl
Labels: interfaces

#23848 [wptserve] Fix response.status encoding
  tools/wptserve/tests/test_response.py
  tools/wptserve/wptserve/response.py
Labels: infra, python3, wptserve

#23879 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#23884 Update interfaces/css-properties-values-api.idl
  interfaces/css-properties-values-api.idl
Labels: interfaces

#23753 Add test to fire scrollend events for user scrolls
  dom/events/scrolling/scroll_support.js
  dom/events/scrolling/scrollend-event-for-user-scroll.html
Labels: dom
