Repository web-platform-tests/wpt, pull requests merged in 2020-06, with the labels that each got.

#23883 Remove ability to specify sub-product with ':'
  tools/wpt/run.py
  tools/wpt/tests/test_run.py
Labels: infra, wpt

#23742 Add a wpt docker-push command
  tools/docker/README.md
  tools/docker/commands.json
  tools/docker/frontend.py
Labels: docker, infra

#23893 Improve QUIC README.md
  tools/quic/README.md
Labels: infra, quic

#23890 Move interfaces/BackgroundSync.idl to interfaces/background-sync.idl
  BackgroundSync/idlharness.https.any.js
  interfaces/background-sync.idl
Labels: BackgroundSync, interfaces

#23903 Add references to height inheritance tests
  css/CSS2/normal-flow/min-height-applies-to-013.xht
  css/CSS2/normal-flow/min-height-applies-to-014.xht
Labels: CSS2, wg-css

#23904 Correct CSS2/css1/c414-flt-fit-000.xht and reference
  css/CSS2/css1/c414-flt-fit-000-ref.xht
  css/CSS2/css1/c414-flt-fit-000.xht
Labels: CSS2, wg-css

#23816 First pass WPT for Web App Manifest
  manifest/META.yml
  manifest/link-rel-manifest.html
Labels: manifest, status:needs-reviewers

#23907 COEP: do not test exception message
  html/cross-origin-embedder-policy/require-corp-sw.https.html
  html/cross-origin-embedder-policy/resources/require-corp-sw.js
Labels: html

#23897 [Sauce] Remove workaround that manually sets selenium version for edge
  tools/wptrunner/wptrunner/browsers/sauce.py
Labels: infra, wptrunner

#23915 Add a test to check edge cases of radical kerning.
  fonts/math/radical-negativekernbeforedegree1000-rulethickness1000.woff
  mathml/presentation-markup/radicals/root-parameters-2.html
  mathml/tools/radicals.py
Labels: assets, mathml, wg-math

#23916 MathML: check that spacing is not added unless mrow layout is used.
  mathml/presentation-markup/mrow/no-spacing.html
Labels: mathml, status:needs-reviewers, wg-math

#23912 Add MathML tests for presentational hints
  mathml/relations/css-styling/presentational-hints-001-ref.html
  mathml/relations/css-styling/presentational-hints-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23917 Update interfaces/fetch.idl
  interfaces/fetch.idl
Labels: interfaces

#23911 [webdriver] normalize and fix links to the WebDriver spec
  css/compositing/test-plan/test-plan.html
  docs/writing-tests/testdriver-extension-tutorial.md
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/webdriver/README.md
  webdriver/README.md
  webdriver/tests/get_named_cookie/get.py
  webdriver/tests/perform_actions/support/keys.py
Labels: compositing, docs, infra, testdriver.js, webdriver, wg-css, wg-svg, wg-testing_browser

#23932 Add MathML dynamic tests for mfrac@linethickness and math@display
  mathml/presentation-markup/fractions/frac-linethickness-002.html
  mathml/relations/css-styling/presentational-hints-001.html
  mathml/relations/html5-tree/display-1.html
Labels: mathml, status:needs-reviewers, wg-math

#23922 Add a wpt build-docs command
  docs/commands.json
  docs/frontend.py
  tools/wpt/paths
Labels: docs, infra, wpt

#23933 Add tests for dynamic width, height, depth attributes of <mspace>
  mathml/presentation-markup/spaces/space-1.html
Labels: mathml, status:needs-reviewers, wg-math

#23936 Add dynamic test for id and style attributes on MathML elements
  mathml/relations/html5-tree/dynamic-2-ref.html
  mathml/relations/html5-tree/dynamic-2.html
Labels: mathml, status:needs-reviewers, wg-math

#23931 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#23934 Add dynamic tests for MathML attributes mapped to CSS
  mathml/relations/css-styling/presentational-hints-002-ref.html
  mathml/relations/css-styling/presentational-hints-002.html
Labels: mathml, status:needs-reviewers, wg-math

#23939 Add dynamic tests for MathML elements using mrow or mtext layout.
  mathml/presentation-markup/mrow/dynamic-mrow-like-001-ref.html
  mathml/presentation-markup/mrow/dynamic-mrow-like-001.html
  mathml/presentation-markup/tokens/dynamic-mtext-like-001-ref.html
  mathml/presentation-markup/tokens/dynamic-mtext-like-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23381 Workers: test where Worker/SharedWorker are exposed
  workers/semantics/multiple-workers/005.html
  workers/semantics/multiple-workers/006-1.js
  workers/semantics/multiple-workers/006.html
  workers/semantics/multiple-workers/007.html
  workers/semantics/multiple-workers/exposure.any.js
Labels: wg-webapps, workers

#23942 Add a test for dynamic modification of the content of an mtable
  mathml/presentation-markup/tables/dynamic-table-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23950 Add tests to dynamically modify child list of MathML elements.
  mathml/relations/html5-tree/dynamic-childlist-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23963 Fix the permission of make.bat
  docs/make.bat
Labels: docs

#23959 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#21553 Align with latest version of webrtc-stats hierarchy
  webrtc/RTCPeerConnection-getStats.https.html
  webrtc/RTCStats-helper.js
Labels: webrtc, wg-webrtc

#23983 Update interfaces/webdriver.idl
  interfaces/webdriver.idl
Labels: interfaces

#23770 Python 3: port tests in cors following migration guideline in RFC 49
  cors/resources/304.py
  cors/resources/cache-304.py
  cors/resources/checkandremove.py
  cors/resources/cors-cookie.py
  cors/resources/cors-makeheader.py
  cors/resources/expose-headers.py
  cors/resources/preflight.py
  cors/resources/status.py
Labels: fetch, python3

#23989 Move interfaces/CSS-Parser-API.idl
  css/css-parser-api/idlharness.html
  interfaces/css-parser-api.idl
Labels: css-parser-api, interfaces

#24001 Rename Taskcluster integration test task
  tools/ci/ci_tools_integration_test.sh
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#15739 Add tests for creating mfrac children dynamically
  mathml/presentation-markup/fractions/frac-invalid-2-ref.html
  mathml/presentation-markup/fractions/frac-invalid-2.html
  mathml/presentation-markup/fractions/frac-invalid-3-ref.html
  mathml/presentation-markup/fractions/frac-invalid-3.html
  mathml/presentation-markup/fractions/frac-invalid-ref.html
  mathml/presentation-markup/fractions/frac-invalid.html
Labels: mathml, wg-math

#23956 Don't assert there is no viewport override for reftests.
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, mozilla:gecko-blocked, wptrunner

#24009 Update interfaces/fetch.idl
  interfaces/fetch.idl
Labels: interfaces

#23762 Add a CODE_OF_CONDUCT.md for web-platform-tests
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: infra

#24025 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#24032 Use atomic_writes package to update manifest
  tools/manifest/manifest.py
Labels: infra, manifest

#24058 COEP: clean up timeouts in dedicated-worker.https.html
  html/cross-origin-embedder-policy/dedicated-worker.https.html
Labels: html

#23771 Python 3: port tests in resource-timing
  common/redirect.py
  resource-timing/SyntheticResponse.py
  resource-timing/resources/TAOResponse.py
  resource-timing/resources/cors-ahem.py
  resource-timing/resources/empty.py
  resource-timing/resources/eventsource.py
  resource-timing/resources/fake_responses.py
  resource-timing/resources/gzip_xml.py
  resource-timing/resources/multi_redirect.py
  resource-timing/resources/preflight.py
  resource-timing/resources/status-code.py
Labels: python3, resource-timing

#24059 Update generated tests due to upstream html5lib changes
  html/syntax/parsing/html5lib_blocks.html
  html/syntax/parsing/html5lib_comments01.html
  html/syntax/parsing/html5lib_entities01.html
  html/syntax/parsing/html5lib_menuitem-element.html
  html/syntax/parsing/html5lib_plain-text-unsafe.html
  html/syntax/parsing/html5lib_tests18.html
  html/syntax/parsing/html5lib_tests25.html
  html/syntax/parsing/html5lib_tests8.html
  html/syntax/parsing/html5lib_webkit01.html
Labels: html

#24008 Update XHR send to use XMLHttpRequestBodyInit
  xhr/send-data-es-object.any.js
  xhr/send-data-readablestream.any.js
  xhr/setrequestheader-content-type.htm
Labels: servo-export, xhr

#24053 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#24103 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#24104 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#24081 Python 3: port tests in clear-site-data etc.
  clear-site-data/support/controlled-endpoint.py
  clear-site-data/support/echo-clear-site-data.py
  preload/resources/cross-origin-module.py
  scroll-to-text-fragment/stash.py
  signed-exchange/resources/check-cert-request.py
  signed-exchange/resources/prefetch-test-cert.py
  signed-exchange/resources/prefetch-test-sxg.py
  web-animations/resources/xhr-doc.py
Labels: clear-site-data, preload, python3, scroll-to-text-fragment, signed-exchange, web-animations, wg-css, wg-svg, wg-webappsec, wg-webperf

#22982 Streams: update tests for Web IDL conversion
  interfaces/streams.idl
  streams/byte-length-queuing-strategy.any.js
  streams/count-queuing-strategy.any.js
  streams/idlharness.any.js
  streams/piping/flow-control.any.js
  streams/piping/pipe-through.any.js
  streams/piping/throwing-options.any.js
  streams/queuing-strategies.any.js
  streams/readable-byte-streams/bad-buffers-and-views.any.js
  streams/readable-byte-streams/brand-checks.any.js
  streams/readable-byte-streams/construct-byob-request.any.js
  streams/readable-byte-streams/constructor.any.js
  streams/readable-byte-streams/general.any.js
  streams/readable-byte-streams/properties.any.js
  streams/readable-streams/async-iterator.any.js
  streams/readable-streams/brand-checks.any.js
  streams/readable-streams/constructor.any.js
  streams/readable-streams/default-reader.any.js
  streams/readable-streams/general.any.js
  streams/readable-streams/patched-global.any.js
  streams/resources/constructor-ordering.js
  streams/resources/rs-test-templates.js
  streams/transform-streams/brand-checks.any.js
  streams/transform-streams/constructor.any.js
  streams/transform-streams/general.any.js
  streams/transform-streams/properties.any.js
  streams/writable-streams/aborting.any.js
  streams/writable-streams/bad-underlying-sinks.any.js
  streams/writable-streams/brand-checks.any.js
  streams/writable-streams/constructor.any.js
  streams/writable-streams/properties.any.js
Labels: interfaces, streams

#24120 Update interfaces/streams.idl
  interfaces/streams.idl
Labels: interfaces

#24082 Python 3:port tests in html/browsers
  html/browsers/browsing-the-web/navigating-across-documents/refresh/resources/refresh.py
  html/browsers/browsing-the-web/navigating-across-documents/resources/redirect.py
  html/browsers/history/the-location-interface/resources/reload_post_1-1.py
  html/browsers/offline/appcache/resources/appcache-data.py
  html/browsers/offline/appcache/resources/appcache-iframe.py
  html/browsers/offline/appcache/workers/resources/appcache-worker-data.py
  html/browsers/offline/appcache/workers/resources/appcache-worker-import.py
  html/browsers/offline/appcache/workers/resources/appcache-worker.py
  html/editing/dnd/resources/32mb.py
Labels: html, python3

#24085 Python 3: Port tests in x-frame-options and worklets
  worklets/resources/credentials.py
  worklets/resources/referrer-checker.py
  worklets/resources/set-cookie.py
  x-frame-options/support/nested.py
  x-frame-options/support/redirect.py
  x-frame-options/support/xfo.py
Labels: python3, worklets, x-frame-options

#24121 Update interfaces/native-file-system.idl and test
  interfaces/native-file-system.idl
  native-file-system/idlharness.https.any.js
Labels: interfaces, native-file-system

#24118 Unbreak use of createDataChannelPair()
  html/dom/usvstring-reflection.https.html
Labels: html

#24110 Corrected a decisive error in textpath-selection-011.html
  css/css-pseudo/textpath-selection-011.html
Labels: css-pseudo

#24112 Add test that inactivate/activate a transceiver and ensure corresponding track stays live
  webrtc/receiver-track-live.html
Labels: webrtc, wg-s_webrtc

#24088 Update wasm tests for i64 support.
  wasm/jsapi/bad-imports.js
  wasm/jsapi/global/constructor.any.js
  wasm/jsapi/global/value-get-set.any.js
  wasm/jsapi/instanceTestFactory.js
Labels: wasm

#24125 Update Safari Technology Preview to 108
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#24131 Pin version of html5lib used in html/tools/build.sh
  html/tools/build.sh
Labels: html

#24123 [wptserve] Handle non-ASCII query params correctly in Python 3
  tools/wptserve/tests/functional/test_request.py
  tools/wptserve/wptserve/request.py
Labels: infra, python3, wptserve

#24141 move webrtc/receiver-track-live.html to *.https.html
  webrtc/receiver-track-live.https.html
Labels: webrtc, wg-s_webrtc

#24148 Fix the artifact path for geckodriver downloads
  tools/wpt/browser.py
Labels: infra, wpt

#24030 Add step_wait, step_wait_func, and step_wait_func_done functions
  docs/writing-tests/testharness-api.md
  lint.ignore
  resources/test/tests/functional/step_wait.html
  resources/test/tests/functional/step_wait_func.html
  resources/testharness.js
Labels: docs, infra, testharness.js

#24038 COOP+COEP: adopt step_wait & friends
  html/cross-origin-embedder-policy/none.https.html
  html/cross-origin-embedder-policy/require-corp-about-blank.html
  html/cross-origin-embedder-policy/require-corp-about-srcdoc.html
  html/cross-origin-embedder-policy/require-corp.https.html
  html/cross-origin-opener-policy/coop-sandbox.https.html
  html/cross-origin-opener-policy/popup-same-origin-non-initial-about-blank.https.html
Labels: html, infra, mozilla:gecko-blocked, testharness.js

#24150 Add MathML test for various paint invalidation of radicals.
  mathml/presentation-markup/radicals/dynamic-radical-paint-invalidation-001-ref.html
  mathml/presentation-markup/radicals/dynamic-radical-paint-invalidation-001.html
Labels: mathml, status:needs-reviewers, wg-math

#24091 Python 3: port tests in workers
  workers/baseurl/beta/import.py
  workers/baseurl/beta/importScripts.py
  workers/baseurl/beta/sharedworker.py
  workers/baseurl/beta/worker.py
  workers/baseurl/beta/xhr-worker.py
  workers/baseurl/beta/xhr.py
  workers/interfaces/WorkerGlobalScope/location/helper-redirect.py
  workers/modules/resources/export-credentials.py
  workers/modules/resources/export-referrer-checker.py
  workers/modules/resources/postmessage-credentials.py
  workers/modules/resources/postmessage-referrer-checker.py
  workers/semantics/encodings/003-1.py
  workers/support/imported_script.py
  workers/support/nosiniff-error-worker.py
Labels: python3, wg-webapps, workers

#24079 Python3: port beacon tests
  beacon/resources/beacon.py
  beacon/resources/content-type.py
  beacon/resources/inspect-header.py
  fetch/api/resources/trickle.py
Labels: beacon, fetch, python3, wg-webperf

#24152 Add test cases for URLSearchParams parsing %
  url/urlencoded-parser.any.js
  url/urlsearchparams-constructor.any.js
  url/urlsearchparams-stringifier.any.js
Labels: url

#24158 Update the docs for ignoring the linter
  docs/writing-tests/general-guidelines.md
  docs/writing-tests/lint-tool.md
Labels: docs

#24162 Add test to check painting order of mrow-like elements.
  mathml/presentation-markup/mrow/mrow-painting-order-ref.html
  mathml/presentation-markup/mrow/mrow-painting-order.html
Labels: mathml, status:needs-reviewers, wg-math

#24166 Correct name of lint.ignore file in docs
  docs/writing-tests/general-guidelines.md
  docs/writing-tests/lint-tool.md
Labels: docs

#24165 Python 3: port tests in document-metadata & embedded-content in html/…
  html/semantics/document-metadata/interactions-of-styling-and-scripting/stylesheet.py
  html/semantics/document-metadata/the-link-element/resources/css.py
  html/semantics/document-metadata/the-link-element/stylesheet.py
  html/semantics/document-metadata/the-meta-element/pragma-directives/attr-meta-http-equiv-refresh/support/refresh.py
  html/semantics/embedded-content/media-elements/loading-the-media-resource/resources/delayed-broken-video.py
  html/semantics/embedded-content/the-iframe-element/stash.py
  html/semantics/embedded-content/the-iframe-element/support/download_stash.py
  html/semantics/embedded-content/the-img-element/resources/referrer-checker-img.py
Labels: html, python3

#24146 Add manual tests for web manifest
  appmanifest/META.yml
  appmanifest/link-relationship/link-rel-manifest.html
  appmanifest/link-relationship/link-tree-order-manual.html
  appmanifest/name-member/name-member-fail.webmanifest
  appmanifest/name-member/name-member-fail.webmanifest.headers
  appmanifest/name-member/name-member-manual.html
  appmanifest/name-member/name-member.webmanifest
  appmanifest/name-member/name-member.webmanifest.headers
  appmanifest/short_name-member/short_name-member-manual.html
  appmanifest/short_name-member/short_name-member.webmanifest
  appmanifest/short_name-member/short_name-member.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-red-manual.html
  appmanifest/theme_color-member/theme_color-member-red.webmanifest
  appmanifest/theme_color-member/theme_color-member-red.webmanifest.headers
  manifest/META.yml
Labels: appmanifest, manifest, wg-webapps

#24185 Add MathML tests for dynamically adding/removing children, including …
  mathml/relations/html5-tree/dynamic-childlist-002.html
Labels: mathml, status:needs-reviewers, wg-math

#24214 Update interfaces/native-file-system.idl
  interfaces/native-file-system.idl
Labels: interfaces

#24271 Python 3: port tests in xhr [part 1]
  xhr/resources/accept-language.py
  xhr/resources/accept.py
  xhr/resources/access-control-allow-lists.py
  xhr/resources/access-control-allow-with-body.py
  xhr/resources/access-control-auth-basic.py
  xhr/resources/access-control-basic-allow-no-credentials.py
  xhr/resources/access-control-basic-allow-star.py
  xhr/resources/access-control-basic-allow.py
  xhr/resources/access-control-basic-cors-safelisted-request-headers.py
  xhr/resources/access-control-basic-denied.py
Labels: python3, xhr

#24272 Python 3: port xhr tests [part 2]
  xhr/resources/access-control-basic-options-not-supported.py
  xhr/resources/access-control-basic-preflight-cache-invalidation.py
  xhr/resources/access-control-basic-preflight-cache-timeout.py
  xhr/resources/access-control-basic-preflight-cache.py
  xhr/resources/access-control-basic-put-allow.py
  xhr/resources/access-control-basic-whitelist-response-headers.py
  xhr/resources/access-control-cookie.py
  xhr/resources/access-control-origin-header.py
  xhr/resources/access-control-preflight-denied.py
  xhr/resources/access-control-preflight-request-header-lowercase.py
Labels: python3, xhr

#24276 Python 3: port xhr tests [part 5]
  xhr/resources/corsenabled.py
  xhr/resources/delay.py
  xhr/resources/echo-headers.py
  xhr/resources/echo-method.py
  xhr/resources/empty-div-utf8-html.py
  xhr/resources/form.py
  xhr/resources/gzip.py
  xhr/resources/header-user-agent.py
  xhr/resources/headers.py
  xhr/resources/img-utf8-html.py
Labels: python3, xhr

#24293 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#24266 Support async iterable declarations in idlharness
  resources/idlharness.js
Labels: idlharness.js, infra

#24308 Fix endianness problem in wasm-module-builder.js
  wasm/jsapi/wasm-module-builder.js
Labels: wasm

#24284 Fix nested modules while imported under more than 3 levels
  html/semantics/scripting-1/the-script-element/module/nested-imports-a.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-b.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-c.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-d.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-e.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-f.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-g.js
  html/semantics/scripting-1/the-script-element/module/nested-imports-h.js
  html/semantics/scripting-1/the-script-element/module/nested-imports.html
Labels: html, servo-export

#24310 Split wdspec tasks into two chunks
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#24267 Streams: fix IDL tests
  streams/idlharness.any.js
Labels: streams

#23276 [css-backgrounds-3] Corrected and improved background-image-007.html test
  css/css-backgrounds/background-image-007.html
Labels: css-backgrounds

#24314 Add print-reftest to the taskcluster config
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#24298 IDL: Handle ArrayBufferView in attribute types
  resources/idlharness.js
Labels: idlharness.js, infra

#24250 Test entry/incumbent globals for WebAssembly host functions.
  wasm/jsapi/functions/entry-different-function-realm.html
  wasm/jsapi/functions/entry.html
  wasm/jsapi/functions/helper.js
  wasm/jsapi/functions/incumbent.html
  wasm/jsapi/functions/resources/README.md
  wasm/jsapi/functions/resources/current/current.html
  wasm/jsapi/functions/resources/current/resources/window-to-open.html
  wasm/jsapi/functions/resources/entry-incumbent.html
  wasm/jsapi/functions/resources/function/function.html
  wasm/jsapi/functions/resources/function/resources/window-to-open.html
  wasm/jsapi/functions/resources/incumbent-incumbent.html
  wasm/jsapi/functions/resources/relevant/relevant.html
  wasm/jsapi/functions/resources/relevant/resources/window-to-open.html
  wasm/jsapi/functions/resources/resources/window-to-open.html
  wasm/jsapi/functions/resources/window-to-open.html
Labels: wasm

#24278 Python 3: port xhr tests [part 6]
  xhr/resources/infinite-redirects.py
  xhr/resources/invalid-utf8-html.py
  xhr/resources/last-modified.py
  xhr/resources/no-custom-header-on-preflight.py
  xhr/resources/parse-headers.py
  xhr/resources/redirect-cors.py
  xhr/resources/redirect.py
  xhr/resources/requri.py
  xhr/resources/reset-token.py
  xhr/resources/shift-jis-html.py
Labels: python3, xhr

#24211 Add interfaces/content-index.idl and test
  content-index/idlharness.https.any.js
  interfaces/content-index.idl
Labels: content-index, interfaces

#24221 Add interfaces/savedata.idl and test
  interfaces/savedata.idl
  savedata/idlharness.any.js
Labels: interfaces, savedata

#24222 Add interfaces/storage-access.idl and update test
  interfaces/storage-access-api.tentative.idl
  interfaces/storage-access.idl
  storage-access-api/idlharness.window.js
Labels: interfaces, storage-access-api

#24236 Add interfaces/web-otp.idl and test
  interfaces/web-otp.idl
  web-otp/idlharness.https.window.js
Labels: interfaces, web-otp

#24258 Test frameElement access from siblings
  html/browsers/windows/nested-browsing-contexts/frameElement-siblings.sub.html
  html/browsers/windows/nested-browsing-contexts/resources/frameElement-sibling-accessed.html
  html/browsers/windows/nested-browsing-contexts/resources/frameElement-sibling-accessor.html
Labels: html

#24288 Test the interaction of document.domain and iframe removal
  html/browsers/windows/document-domain-removed-iframe.html
  html/browsers/windows/resources/document-domain-setter.html
Labels: html

#24324 [idlharness] Remove old names for legacy extended attributes
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlNamespace/test_operation.html
Labels: idlharness.js, infra, testharness.js

#24283 animations: Finish support for fractional iteration counts
  css/css-animations/animation-iteration-count-009.html
Labels: css-animations, servo-export

#23837 Rehabilitated border-image-shorthand-001 test
  css/css-backgrounds/border-image-shorthand-001.htm
  css/css-backgrounds/reference/border-image-shorthand-001-ref.html
  css/css-backgrounds/support/blue-and-red-diamonds-81x81.png
Labels: css-backgrounds

#24084 Python 3: Port tests in document-policy, dom and import-maps
  document-policy/echo-policy.py
  dom/nodes/Document-contentType/support/contenttype_setter.py
  dom/nodes/Document-createElement-namespace-tests/generate.py
  dom/nodes/encoding.py
  import-maps/common/tools/format_json.py
  import-maps/core/static-import.py
Labels: document-policy, dom, import-maps, python3

#24317 Deflake layout-instability idlharness test
  layout-instability/idlharness.html
Labels: layout-instability

#23747 Added box-shadow-table-border-collapse-001 test
  css/css-backgrounds/box-shadow-table-border-collapse-001.html
  css/css-backgrounds/reference/box-shadow-table-border-collapse-001-ref.html
Labels: css-backgrounds

#24237 Python 3: port small test files in various directories
  background-fetch/resources/upload.py
  event-timing/resources/slow-image.py
  lifecycle/resources/beacon.py
  presentation-api/controlling-ua/support/stash.py
  presentation-api/receiving-ua/support/stash.py
  referrer-policy/generic/resources/referrer.py
  reporting/resources/report.py
  upgrade-insecure-requests/support/redirect-cors.py
  wasm/webapi/status.py
Labels: background-fetch, event-timing, infra, lifecycle, presentation-api, python3, referrer-policy, upgrade-insecure-requests, wasm, wg-secondscreen, wg-webappsec

#24086 Python3: port tests in network-error-logging, origin-isolation, origi…
  network-error-logging/support/cached-with-validation.py
  network-error-logging/support/lock.py
  network-error-logging/support/redirect.py
  network-error-logging/support/report.py
  origin-isolation/resources/send-origin-isolation-header.py
  origin-policy/bad-server/resources/subframe-with-bad-header.py
  origin-policy/resources/subframe-with-origin-policy.py
Labels: network-error-logging, origin-isolation, origin-policy, python3, wg-webperf

#24334 Python 3: port tests in service-workers [part 1]
  service-workers/cache-storage/resources/fetch-status.py
  service-workers/cache-storage/resources/vary.py
  service-workers/service-worker/ServiceWorkerGlobalScope/resources/update-worker.py
  service-workers/service-worker/navigation-preload/resources/chunked-encoding-scope.py
  service-workers/service-worker/navigation-preload/resources/cookie.py
  service-workers/service-worker/navigation-preload/resources/redirect-scope.py
  service-workers/service-worker/navigation-preload/resources/request-headers-scope.py
  service-workers/service-worker/navigation-preload/resources/resource-timing-scope.py
  service-workers/service-worker/resources/404.py
  service-workers/service-worker/resources/about-blank-replacement-frame.py
Labels: python3, service-workers, wg-sw

#24164 Python 3: Port tests in html/semantics/scripting-1
  fetch/api/resources/redirect.py
  html/semantics/scripting-1/the-script-element/cacheable-script-throw.py
  html/semantics/scripting-1/the-script-element/log.py
  html/semantics/scripting-1/the-script-element/module/resources/delayed-modulescript.py
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/moving-between-documents-iframe.py
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/slow-flag-setter.py
  html/semantics/scripting-1/the-script-element/resources/cross-origin.py
  html/semantics/scripting-1/the-script-element/resources/load-error-events.py
  html/semantics/scripting-1/the-script-element/script-not-found-not-executed-2.py
  html/semantics/scripting-1/the-script-element/script-not-found-not-executed.py
  html/semantics/scripting-1/the-script-element/serve-with-content-type.py
Labels: fetch, html, python3

#24182 Python 3: port tests in cookies
  cookies/http-state/resources/cookie-setter.py
  cookies/resources/drop.py
  cookies/resources/dropSameSite.py
  cookies/resources/dropSameSiteNone.py
  cookies/resources/dropSecure.py
  cookies/resources/echo-json.py
  cookies/resources/helpers.py
  cookies/resources/imgIfMatch.py
  cookies/resources/list.py
  cookies/resources/postToParent.py
  cookies/resources/redirectWithCORSHeaders.py
  cookies/resources/set.py
  cookies/resources/setSameSite.py
  cookies/resources/setSameSiteNone.py
  cookies/resources/setSecure.py
Labels: cookies, python3

#24279 Python 3: port xhr tests [part 7]
  xhr/resources/status.py
  xhr/resources/trickle.py
  xhr/resources/upload.py
  xhr/resources/win-1252-html.py
  xhr/resources/win-1252-xml.py
  xhr/resources/zlib.py
Labels: python3, xhr

#22952 Improving hyphens-auto-010 files
  css/css-text/hyphens/hyphens-auto-010.html
  css/css-text/hyphens/hyphens-none-012.html
  css/css-text/hyphens/hyphens-none-013.html
  css/css-text/hyphens/reference/hyphens-auto-010H-ref.html
  css/css-text/hyphens/reference/hyphens-auto-010M-ref.html
Labels: css-text

#23307 Added 1 test on 'background-attachment: local' and 'overflow: hidden'
  css/css-backgrounds/background-attachment-350.html
  css/css-backgrounds/support/100x100-red.png
Labels: css-backgrounds

#24354 Python 3: port wptserve handler related tests in websockets
  websockets/cookies/support/set-cookie.py
  websockets/security/check.py
Labels: python3, websockets, wg-webapps

#24370 XPathNSResolver: Add non-string return value test
  domxpath/resolver-callback-interface.html
  domxpath/resolver-non-string-result.html
  domxpath/resources/invalid_namespace_test.js
Labels: domxpath, wg-dom

#24367 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=213667
  dom/ranges/Range-adopt-test.html
Labels: dom, webkit-export

#24374 location.replace with invalid urls should throw
  html/browsers/history/the-location-interface/location_replace.html
Labels: html

#24377 Fix html/coep/require-corp.https.html flakiness
  html/cross-origin-embedder-policy/require-corp.https.html
Labels: html

#24373 `theme_color`, `icons` and `display` member tests for Web App Manifest
  appmanifest/display-member/display-member-media-feature-manual.html
  appmanifest/display-member/display-member-media-feature.webmanifest
  appmanifest/display-member/display-member-media-feature.webmanifest.headers
  appmanifest/icons-member/fail.png
  appmanifest/icons-member/icons-member-last-matching-manual.html
  appmanifest/icons-member/icons-member-last-matching.webmanifest
  appmanifest/icons-member/icons-member-last-matching.webmanifest.headers
  appmanifest/icons-member/icons-member-manual.html
  appmanifest/icons-member/icons-member-next-appropriate-manual.html
  appmanifest/icons-member/icons-member-next-appropriate.webmanifest
  appmanifest/icons-member/icons-member-next-appropriate.webmanifest.headers
  appmanifest/icons-member/icons-member.webmanifest
  appmanifest/icons-member/icons-member.webmanifest.headers
  appmanifest/icons-member/pass.png
  appmanifest/theme_color-member/theme_color-member-hsl-manual.html
  appmanifest/theme_color-member/theme_color-member-hsl.webmanifest
  appmanifest/theme_color-member/theme_color-member-hsl.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-named-manual.html
  appmanifest/theme_color-member/theme_color-member-named.webmanifest
  appmanifest/theme_color-member/theme_color-member-named.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-red.webmanifest
  appmanifest/theme_color-member/theme_color-member-rgb-manual.html
  appmanifest/theme_color-member/theme_color-member-rgb.webmanifest
  appmanifest/theme_color-member/theme_color-member-rgb.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-rgbhex3-manual.html
  appmanifest/theme_color-member/theme_color-member-rgbhex3.webmanifest
  appmanifest/theme_color-member/theme_color-member-rgbhex3.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-rgbhex6-manual.html
  appmanifest/theme_color-member/theme_color-member-rgbhex6.webmanifest
  appmanifest/theme_color-member/theme_color-member-rgbhex6.webmanifest.headers
  appmanifest/theme_color-member/theme_color-member-rgblegacy-manual.html
  appmanifest/theme_color-member/theme_color-member-rgblegacy.webmanifest
  appmanifest/theme_color-member/theme_color-member-rgblegacy.webmanifest.headers
Labels: appmanifest, wg-webapps

#24223 Add interfaces/ua-client-hints.idl and test
  interfaces/ua-client-hints.idl
  ua-client-hints/idlharness.https.any.js
Labels: interfaces, ua-client-hints

#24363 Fix idlharness timeout when enumerability checks fail
  resources/idlharness.js
Labels: idlharness.js, infra

#24372 Test `this` value of non-function callback interfaces
  dom/traversal/TreeWalker-acceptNode-filter.html
  domxpath/resolver-callback-interface.html
Labels: appmanifest, css-backgrounds, css-pseudo, dom, domxpath, html, interfaces, ua-client-hints, websockets, wg-dom, wg-webapps

#24381 Python 3: port tests in encoding
  encoding/resources/single-byte-raw.py
  encoding/resources/text-plain-charset.py
Labels: encoding, python3

#24016 Add another https port, 8444
  common/get-host-info.sub.js
  tools/serve/serve.py
  tools/wptrunner/wptrunner/environment.py
Labels: assets, infra, serve, wptrunner

#24382 Update interfaces/media-capabilities.idl
  interfaces/media-capabilities.idl
Labels: interfaces

#24339 Python 3: port tests in service-workers [part 6]
  service-workers/service-worker/resources/update-registration-with-type.py
  service-workers/service-worker/resources/update-worker-from-file.py
  service-workers/service-worker/resources/update-worker.py
  service-workers/service-worker/resources/update_shell.py
  service-workers/service-worker/resources/worker_interception_redirect_webworker.py
Labels: python3, service-workers, wg-sw

#24378 Test `orientation` member
  appmanifest/orientation-member/orientation-member-landscape-manual.html
  appmanifest/orientation-member/orientation-member-landscape.webmanifest
  appmanifest/orientation-member/orientation-member-landscape.webmanifest.headers
  appmanifest/orientation-member/orientation-member-portrait-manual.html
  appmanifest/orientation-member/orientation-member-portrait.webmanifest
  appmanifest/orientation-member/orientation-member-portrait.webmanifest.headers
Labels: appmanifest, wg-webapps

#24337 Python 3: port tests in service-workers [part 4]
  service-workers/service-worker/resources/navigation-redirect-scope1.py
  service-workers/service-worker/resources/navigation-redirect-scope2.py
  service-workers/service-worker/resources/notification_icon.py
  service-workers/service-worker/resources/redirect.py
  service-workers/service-worker/resources/request-headers.py
  service-workers/service-worker/resources/sandboxed-iframe-fetch-event-iframe.py
  service-workers/service-worker/resources/service-worker-csp-worker.py
  service-workers/service-worker/resources/service-worker-header.py
  service-workers/service-worker/resources/success.py
  service-workers/service-worker/resources/test-request-headers-worker.py
Labels: python3, service-workers, wg-sw

#24338 Python 3: port tests in service-workers [part 5]
  service-workers/service-worker/resources/trickle.py
  service-workers/service-worker/resources/update-claim-worker.py
  service-workers/service-worker/resources/update-during-installation-worker.py
  service-workers/service-worker/resources/update-fetch-worker.py
  service-workers/service-worker/resources/update-max-aged-worker-imported-script.py
  service-workers/service-worker/resources/update-max-aged-worker.py
  service-workers/service-worker/resources/update-missing-import-scripts-imported-worker.py
  service-workers/service-worker/resources/update-missing-import-scripts-main-worker.py
  service-workers/service-worker/resources/update-nocookie-worker.py
  service-workers/service-worker/resources/update-recovery-worker.py
  service-workers/service-worker/resources/update_shell.py
Labels: python3, service-workers, wg-sw

#24394 Partially revert "Add another https port (#24016)"
  common/get-host-info.sub.js
Labels: assets, infra, serve, wptrunner
