Repository web-platform-tests/wpt, pull requests merged in 2020-09, with the labels that each got.

#25298 Update interfaces/native-file-system.idl and test
  interfaces/native-file-system.idl
  native-file-system/idlharness.https.any.js
Labels: interfaces, native-file-system

#25299 Add interfaces/webxr-hand-input.idl and test
  interfaces/webxr-hand-input.idl
  webxr/hand-input/idlharness.https.window.js
Labels: interfaces, webxr, wg-immersive-web

#25271 screen-wake-lock: Add tests for WakeLockSentinel's "released" attribute.
  screen-wake-lock/wakelock-document-hidden-manual.https.html
  screen-wake-lock/wakelock-released.https.html
Labels: mozilla:gecko-blocked, screen-wake-lock

#25324 EventSource: move IDL tests to HTML
  eventsource/README.md
  eventsource/idlharness.html
  html/dom/idlharness.https.html
  html/dom/idlharness.worker.js
Labels: eventsource, html, wg-webapps

#25326 Web IDL: use idl_test() and .any.js
  WebIDL/idlharness.any.js
  WebIDL/idlharness.html
Labels: WebIDL, wg-webplatform

#25329 Wasm: use idl_test
  wasm/jsapi/idlharness.any.js
Labels: wasm

#25328 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#25330 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#25323 File API: make manual IDL test work
  FileAPI/idlharness-manual.html
Labels: FileAPI, wg-webapps

#25320 Update interfaces/html.idl and remove interfaces/secure-contexts.idl
  interfaces/html.idl
  interfaces/secure-contexts.idl
  secure-contexts/idlharness.any.js
Labels: interfaces, secure-contexts, wg-webappsec

#25352 Idle Detection: use idl_test more
  idle-detection/idlharness.https.window.js
  idle-detection/resources/idlharness-worker.js
  interfaces/idle-detection.tentative.idl
Labels: idle-detection, interfaces

#25356 Navigation Timing: adopt idl_test
  navigation-timing/idlharness.window.js
Labels: navigation-timing, wg-webperf

#25353 File API: make manual IDL test use idl_test
  FileAPI/idlharness-manual.html
Labels: FileAPI, mozilla:gecko-blocked, wg-webapps

#25357 Storage: move IDL to /html/dom/
  html/dom/idlharness.https.html
  webstorage/README.md
  webstorage/idlharness.window.js
Labels: html, webstorage, wg-webplatform

#25355 Entries API: use idl_test and .window.js
  entries-api/idlharness-manual.html
  entries-api/idlharness-manual.window.js
  entries-api/idlharness.html
  entries-api/idlharness.window.js
Labels: entries-api

#25365 Use session_new_window instead of session_with_new_window
  webdriver/tests/perform_actions/pointer.py
Labels: mozilla:gecko-blocked, webdriver, wg-testing_browser

#24903 Docs: JavaScript tests
  docs/writing-tests/idlharness.md
  docs/writing-tests/testharness.md
Labels: docs, mozilla:gecko-blocked

#25360 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=215567
  webrtc/RTCRtpTransceiver-setCodecPreferences.html
Labels: webkit-export, webrtc, wg-s_webrtc

#25390 [css-grid] Await Ahem font in grid-intrinsic-track-sizes-001.html
  css/css-grid/layout-algorithm/grid-intrinsic-track-sizes-001.html
Labels: css-grid

#25361 [Safari Stable] Skip problematic tests
  .azure-pipelines.yml
Labels: Azure Pipelines

#25363 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=216075
  webrtc/RTCIceCandidate-constructor.html
Labels: webkit-export, webrtc, wg-s_webrtc

#25405 Tweak math-global-event-handlers.tentative.html
  mathml/relations/html5-tree/math-global-event-handlers.tentative.html
Labels: mathml, status:needs-reviewers, wg-math

#25400 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#25407 Test that UTF8 BOM is honored over explicit HTTP charset info in CSS stylesheets
  css/css-syntax/charset/page-windows-1252-http-windows-1251-css-utf8-bom.html
  css/css-syntax/charset/support/utf8-bom-http-windows-1251.css
  css/css-syntax/charset/support/utf8-bom-http-windows-1251.css.headers
Labels: css-syntax

#25412 Update interfaces/intersection-observer.idl
  interfaces/intersection-observer.idl
Labels: interfaces, mozilla:gecko-blocked

#25380 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=216048
  fetch/stale-while-revalidate/stale-image.html
  html/dom/elements/images/bypass-cache-revalidation.html
  html/dom/elements/images/image.py
Labels: fetch, html, webkit-export

#25418 [Safari Tech Preview] Skip web-share test that makes STP crash
  .azure-pipelines.yml
Labels: Azure Pipelines

#25404 testharness.js: Use the right function name in step_wait_func's assert() call
  resources/testharness.js
Labels: infra, testharness.js

#25422 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#25428 [css-ui] Test that appearance: button is an alias for auto
  css/css-ui/appearance-button-001-ref.html
  css/css-ui/appearance-button-001.html
  css/css-ui/appearance-button-002.tentative-ref.html
  css/css-ui/appearance-button-002.tentative.html
  css/css-ui/webkit-appearance-button-001.html
  css/css-ui/webkit-appearance-button-002.tentative.html
Labels: css-ui

#25033 Issue #5552 - Verify a defined class is resolved `whenDefined`
  custom-elements/CustomElementRegistry.html
Labels: custom-elements, wg-webplatform

#25437 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#25438 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces, mozilla:gecko-blocked

#25429 [css-ui] Add missing -webkit-appearance tests
  css/css-ui/webkit-appearance-auto-input-non-widget-001.html
  css/css-ui/webkit-appearance-progress-bar-002.html
Labels: css-ui

#25442 Fix defaultValue-clobbering.html
  html/semantics/forms/the-input-element/defaultValue-clobbering-ref.html
  html/semantics/forms/the-input-element/defaultValue-clobbering.html
Labels: html

#24556 [Taskcluster] Make lint create a GitHub Checks output file
  tools/ci/tc/github_checks_output.py
  tools/ci/tc/tasks/test.yml
  tools/lint/lint.py
  tools/lint/tests/test_lint.py
  tools/wptrunner/wptrunner/stability.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: ci, dom, infra, lint, wptrunner

#25373 [css-text] Tests for support of tab-size on inline boxes
  css/css-text/tab-size/tab-size-inline-001-ref.html
  css/css-text/tab-size/tab-size-inline-001.html
  css/css-text/tab-size/tab-size-inline-002-ref.html
  css/css-text/tab-size/tab-size-inline-002.html
  css/css-text/tab-size/tab-size-integer-004-ref.html
  css/css-text/tab-size/tab-size-integer-004.html
Labels: css-text, wg-css

#25461 tests for trailing ogham spaces
  css/css-text/white-space/reference/trailing-ogham-001-ref.html
  css/css-text/white-space/trailing-ogham-001.html
  css/css-text/white-space/trailing-ogham-002.html
  css/css-text/white-space/trailing-ogham-003.html
Labels: css-text, wg-css

#25457 Update interfaces/encrypted-media.idl
  interfaces/encrypted-media.idl
Labels: interfaces

#25463 Test implicit sizes and width
  html/semantics/embedded-content/the-img-element/sizes/implicit-sizes-ignores-width.html
Labels: html

#25465 [css-text] Tests for bidi and trailing spaces
  css/css-text/white-space/eol-spaces-bidi-001.html
  css/css-text/white-space/eol-spaces-bidi-002.html
  css/css-text/white-space/reference/eol-spaces-bidi-001-ref.html
  css/css-text/white-space/reference/eol-spaces-bidi-002-ref.html
Labels: css-text, wg-css

#25446 Python3: Read file as binary type to avoid any decoding attempt
  tools/wptserve/wptserve/handlers.py
Labels: infra, python3, wptserve

#25423 Fix running reftests in Firefox stable.
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
Labels: infra, wptrunner

#24982 [weakref] WeakRef/FinalizationRegistry, cleanupSome testing
  js/builtins/weakrefs/cleanup-prevented-with-reference.optional.any.js
  js/builtins/weakrefs/cleanup-prevented-with-unregister.optional.any.js
  js/builtins/weakrefs/gc-has-one-chance-to-call-cleanupCallback.optional.any.js
  js/builtins/weakrefs/holdings-multiple-values.optional.any.js
  js/builtins/weakrefs/reentrancy.optional.any.js
  js/builtins/weakrefs/resources/maybe-garbage-collect.js
  js/builtins/weakrefs/return-undefined-with-gc.optional.any.js
  js/builtins/weakrefs/unregister-cleaned-up-cell.optional.any.js
  lint.ignore
Labels: infra, js, weakrefs

#25469 Update Safari Technology Preview to 113
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#25471 Remove annotationsArtifactName override from test.yml
  tools/ci/tc/tasks/test.yml
Labels: ci, infra

#25467 [Windows] Check both 32-bit and 64-bit locations for Chrome install
  tools/wpt/browser.py
Labels: infra, wpt

#24352 Add action to regenerate the WPT certs
  .github/workflows/regen_certs.yml
  tools/certs/config.json
  tools/ci/commands.json
  tools/ci/regen_certs.py
  tools/serve/serve.py
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/chrome_spki_certs.py
Labels: GitHub Actions, certs, ci, infra, serve, wptrunner

#25478 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#25481 Docs: assert_object_equals is DEPRECATED
  docs/writing-tests/testharness-api.md
Labels: docs

#25485 Update interfaces/webxr-hand-input.idl
  interfaces/webxr-hand-input.idl
Labels: interfaces, mozilla:gecko-blocked

#25510 Update interfaces/intersection-observer.idl
  interfaces/intersection-observer.idl
Labels: interfaces

#25043 Convert a few async_test(async...) into promise_tests
  html/cross-origin-embedder-policy/reporting-navigation.https.html
  html/cross-origin-embedder-policy/reporting-to-endpoint.https.html
  screen-wake-lock/wakelock-onrelease.https.html
Labels: html, screen-wake-lock, screen_enumeration

#24965 Add connection-pool tests
  fetch/connection-pool/network-partition-key.html
  fetch/connection-pool/resources/network-partition-checker.html
  fetch/connection-pool/resources/network-partition-iframe-checker.html
  fetch/connection-pool/resources/network-partition-key.js
  fetch/connection-pool/resources/network-partition-key.py
  fetch/connection-pool/resources/network-partition-worker-checker.html
  fetch/connection-pool/resources/network-partition-worker.js
  tools/wptserve/wptserve/request.py
  tools/wptserve/wptserve/server.py
Labels: fetch, infra, wptserve

#25514 Python 3: make the new introduced image.py file python 3 compatible
  html/dom/elements/images/image.py
Labels: html, mozilla:gecko-blocked, python3

#25450 [wptrunner] Drop --ignore-certificate-errors for Chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, mozilla:gecko-blocked, wptrunner

#25516 Python3: pass correct type of data to json handler
  network-error-logging/support/report.py
Labels: network-error-logging, python3, wg-webperf

#25526 Update interfaces/streams.idl
  interfaces/streams.idl
Labels: interfaces

#24935 Test some visual effects on MathML content
  mathml/relations/css-styling/blur-filter-ref.html
  mathml/relations/css-styling/blur-filter.html
  mathml/relations/css-styling/clip-path-ref.html
  mathml/relations/css-styling/clip-path.html
  mathml/relations/css-styling/clip-ref.html
  mathml/relations/css-styling/clip.html
  mathml/relations/css-styling/transform-ref.html
  mathml/relations/css-styling/transform.html
Labels: mathml, wg-math

#24879 [webdriver] Close old windows at the end of each test as well as beginning
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#25544 Revert "[webdriver] Close old windows at the end of each test as well…
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#25542 Update interfaces/encoding.idl and test
  encoding/idlharness.any.js
  interfaces/encoding.idl
Labels: encoding, interfaces

#25557 Update interfaces/webxr-hand-input.idl
  interfaces/webxr-hand-input.idl
Labels: interfaces, mozilla:gecko-blocked

#25558 Check removal of allowPaymentRequest IDL attribute
  html/semantics/embedded-content/the-iframe-element/historical.html
Labels: html

#25564 Python3: Add missing prefix
  content-security-policy/reporting/support/not-embeddable-frame.py
Labels: content-security-policy, python3

#25566 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#25568 Update interfaces/compression.idl and test
  compression/idlharness.https.any.js
  interfaces/compression.idl
Labels: compression, interfaces

#25275 Attempt to fix escaping in CSP tests
  content-security-policy/frame-ancestors/support/frame-in-frame.sub.html
  content-security-policy/navigation/support/test_csp_self_window.sub.html
Labels: content-security-policy, mozilla:gecko-blocked

#25585 Remove hanging script tag in font-parse-numeric-stretch-style-weight.html
  css/css-fonts/variations/font-parse-numeric-stretch-style-weight.html
Labels: css-fonts

#25588 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#25581 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#25310 HTML: make sure the default opacity of ::placeholder is 1
  html/rendering/non-replaced-elements/form-controls/placeholder-opacity-default.tentative.html
Labels: html

#25493 Feature/media capture fitness distance
  mediacapture-streams/GUM-empty-option-param.https.html
  mediacapture-streams/GUM-required-constraint-with-ideal-value.https.html
  mediacapture-streams/GUM-unknownkey-option-param.https.html
Labels: mediacapture-streams, wg-s_webrtc

#25342 Adds typed-om flow relative border tests
  css/css-typed-om/the-stylepropertymap/properties/logical.html
Labels: css-typed-om

#25561 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=216266
  xhr/xhr-timeout-longtask.any.js
Labels: webkit-export, xhr

#25582 Update interfaces/webxr-hand-input.idl
  interfaces/webxr-hand-input.idl
Labels: interfaces, mozilla:gecko-blocked

#25622 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#25627 Fix capitalization of AudioBuffer in webaudio/the-audio-api/processin…
  webaudio/the-audio-api/processing-model/delay-time-clamping.html
Labels: webaudio, wg-audio

#25628 Fix expected initial AudioContext state in audiocontext-suspend-resum…
  webaudio/the-audio-api/the-audiocontext-interface/audiocontext-suspend-resume.html
Labels: webaudio, wg-audio

#25567 Reland "[webdriver] Close old windows at the end of each test as well as beginning"
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/tests/browsers/test_webkitgtk.py
Labels: infra, wptrunner

#25634 Update interfaces/web-nfc.idl
  interfaces/web-nfc.idl
Labels: interfaces

#25633 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#25560 Replace allowpaymentrequest attr with allow=payment
  lint.ignore
  payment-request/allowpayment/active-document-cross-origin.https.sub.html
  payment-request/allowpayment/active-document-same-origin.https.html
  payment-request/allowpayment/allowpaymentrequest-attribute-cross-origin-bc-containers.https.html
  payment-request/allowpayment/allowpaymentrequest-attribute-same-origin-bc-containers.https.html
  payment-request/allowpayment/basic.https.html
  payment-request/allowpayment/common.sub.js
  payment-request/allowpayment/echo-PaymentRequest.html
  payment-request/allowpayment/no-attribute-cross-origin-bc-containers.https.html
  payment-request/allowpayment/no-attribute-same-origin-bc-containers.https.html
  payment-request/allowpayment/removing-allowpaymentrequest.https.sub.html
  payment-request/allowpayment/setting-allowpaymentrequest-timing.https.sub.html
  payment-request/allowpayment/setting-allowpaymentrequest.https.sub.html
  payment-request/historical.https.html
  payment-request/show-method-postmessage-manual.https.html
Labels: infra, payment-request, wg-payments

#25637 Update interfaces/is-input-pending.idl
  interfaces/is-input-pending.idl
Labels: interfaces

#25640 Update interfaces/html.idl and test
  custom-state-pseudo-class/idlharness.window.js
  html/dom/idlharness.https.html
  html/dom/idlharness.worker.js
  interfaces/html.idl
Labels: custom-state-pseudo-class, html, interfaces

#25647 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: interfaces

#25592 Python3: Read file into a byte string
  cookies/http-state/resources/cookie-setter.py
Labels: cookies, python3

#25599 HTML: Add test for <input type=tel> matching :dir()
  html/semantics/selectors/pseudo-classes/dir.html
Labels: html

#25669 Python3: Fix escaping in CSP unsafe-hashes tests
  content-security-policy/unsafe-hashes/support/child_window_location_navigate.sub.html
Labels: content-security-policy, python3

#25659 Change some async_tests in webrtc/ to use promise_test
  webrtc/RTCPeerConnection-onnegotiationneeded.html
Labels: mozilla:gecko-blocked, webrtc, wg-s_webrtc

#25682 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#25694 Update math-level depth to match the new syntax
  css/css-fonts/math-script-level-and-math-style/math-script-level-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative-ref.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-001.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-002.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-003.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-004.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-auto-and-math-style-005.tentative.html
  css/css-fonts/math-script-level-and-math-style/math-script-level-font-size-clamping-001.tentative.html
  mathml/relations/css-styling/attribute-mapping-002.html
  mathml/relations/css-styling/presentational-hints-001-ref.html
  mathml/relations/css-styling/presentational-hints-001.html
Labels: css-fonts, mathml, wg-math

#25660 Change some async_tests in screen_enumeration/ to use promise_test
  screen_enumeration/getScreens.tentative.https.window.js
  screen_enumeration/isMultiScreen.tentative.https.window.js
Labels: screen_enumeration, status:needs-reviewers

#25697 Update interfaces/WebCryptoAPI.idl
  interfaces/WebCryptoAPI.idl
Labels: interfaces

#25717 Fix tests that return values to async_test in encrypted-media/
  encrypted-media/scripts/onencrypted.js
  encrypted-media/scripts/reset-src-after-setmediakeys.js
Labels: encrypted-media, wg-html

#25709 Remove interfaces/css-layout-api.idl
  interfaces/css-layout-api.idl
Labels: interfaces

#25584 Fix html/coep/cross-origin-isolated-permission.https.html
  html/cross-origin-embedder-policy/cross-origin-isolated-permission.https.html
Labels: html

#25693 Move merchant validation tests
  merchant-validation/META.yml
  merchant-validation/complete-method.tentative.https.html
  merchant-validation/constructor.tentative.https.html
  merchant-validation/constructortentative..http.html
Labels: merchant-validation, mozilla:gecko-blocked, status:needs-reviewers

#25749 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#25743 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#25315 Add Wheel Input into Webdriver
  infrastructure/metadata/infrastructure/testdriver/actions/wheelScroll.html.ini
  infrastructure/testdriver/actions/wheelScroll.html
  resources/testdriver-actions.js
  tools/webdriver/webdriver/client.py
  webdriver/tests/perform_actions/conftest.py
  webdriver/tests/perform_actions/support/test_actions_scroll_wdspec.html
  webdriver/tests/perform_actions/wheel.py
Labels: infra, testdriver.js, webdriver, wg-testing_browser

#25719 Fix tests that return values to async_test in webrtc/
  webrtc/RTCPeerConnection-getStats.https.html
  webrtc/RTCPeerConnection-setRemoteDescription-replaceTrack.https.html
  webrtc/RTCPeerConnection-track-stats.https.html
  webrtc/legacy/RTCPeerConnection-addStream.https.html
Labels: webrtc, wg-s_webrtc

#25738 Update interfaces/native-file-system.idl
  interfaces/native-file-system.idl
Labels: interfaces

#25773 Increase maximum open files for each server process on Darwin (WebKit export)
  tools/serve/serve.py
Labels: infra, serve, webkit-export

#25657 [wpt] Check ChromeDriver version before accepting found binary
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/tests/test_browser.py
Labels: infra, wpt

#25771 Rename feature-policy.idl -> permissions-policy.idl
  feature-policy/idlharness.window.js
  interfaces/permissions-policy.idl
Labels: feature-policy, interfaces, wg-webappsec

#25550 Make testdriver click/send_keys/actions work in more browsing contexts
  docs/writing-tests/testdriver.md
  infrastructure/testdriver/click_child.html
  infrastructure/testdriver/click_iframe.html
  infrastructure/testdriver/click_nested.html
  infrastructure/testdriver/click_outer_child.html
  infrastructure/testdriver/click_window.html
  resources/testdriver.js
  tools/webdriver/webdriver/client.py
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: docs, infra, testdriver.js, webdriver, wg-testing_browser, wptrunner

#25149 [Taskcluster] Switch to repeat-only for stability checks
  tools/ci/tc/tasks/test.yml
Labels: ci, infra

#25779 Ensure Edge Chromium passes vendor-specific capabilities to WebDriver
  tools/wptrunner/wptrunner/browsers/edgechromium.py
Labels: infra, wptrunner

#25788 Update underline position for -scroll-* tests
  css/css-text-decor/text-decoration-thickness-scroll-001.html
  css/css-text-decor/text-underline-offset-scroll-001.html
Labels: css-text-decor

#25793 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#25778 [wpt] Check EdgeDriver version before accepting found binary
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/tests/test_browser.py
Labels: infra, wpt

#25782 Update interfaces/webrtc-svc.idl
  interfaces/webrtc-svc.idl
Labels: interfaces

#25770 Add interfaces/serial.idl and test
  interfaces/serial.idl
  serial/idlharness.https.any.js
Labels: interfaces, serial

#25801 Update interfaces/css-font-loading.idl
  interfaces/css-font-loading.idl
Labels: interfaces

#25808 Reinstated y.png needed for css-border-radius-ref-001.html
  css/css-backgrounds/support/y.png
Labels: css-backgrounds

#25769 Rename text-detection-api.tentative.idl to text-detection-api.idl
  interfaces/text-detection-api.idl
  shape-detection/idlharness.https.any.js
Labels: interfaces, shape-detection

#25774 Add interfaces/webrtc-insertable-streams.idl and test
  interfaces/webrtc-insertable-streams.idl
  webrtc-insertable-streams/idlharness.https.window.js
Labels: interfaces, webrtc-insertable-streams, wg-s_webrtc

#25812 Update interfaces/deprecation-reporting.idl
  interfaces/deprecation-reporting.idl
Labels: interfaces

#25213 Added 2 word-break tests and references
  css/css-text/word-break/reference/word-break-break-all-062-ref.html
  css/css-text/word-break/reference/word-break-keep-all-063-ref.html
  css/css-text/word-break/word-break-break-all-062.html
  css/css-text/word-break/word-break-keep-all-063.html
Labels: css-text

#25835 [wpt] Fix tests/test_wpt.py::test_tests_affected_idlharness
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#25789 Change writing-mode in vertical underline thickness test
  css/css-text-decor/text-decoration-thickness-vertical-002.html
Labels: css-text-decor

#25803 Corrected active selection tests involving pseudo-elements
  css/css-pseudo/active-selection-025.html
  css/css-pseudo/active-selection-027.html
  css/css-pseudo/reference/active-selection-025-ref.html
  css/css-pseudo/reference/active-selection-027-ref.html
Labels: css-pseudo

#25619 [mathml] Improve feature detection for operator dictionary test
  mathml/presentation-markup/operators/operator-dictionary-largeop-001.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-002.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-003.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-004.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-005.html
  mathml/presentation-markup/operators/operator-dictionary-largeop-006.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-001.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-002.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-003.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-004.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-005.html
  mathml/presentation-markup/operators/operator-dictionary-movablelimits-006.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-001.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-002.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-003.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-004.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-005.html
  mathml/presentation-markup/operators/operator-dictionary-spacing-006.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-001.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-002.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-003.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-004.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-005.html
  mathml/presentation-markup/operators/operator-dictionary-stretchy-006.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-001.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-002.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-003.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-004.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-005.html
  mathml/presentation-markup/operators/operator-dictionary-symmetric-006.html
  mathml/presentation-markup/operators/support/operator-dictionary-tests.js
  mathml/support/feature-detection-operators.js
Labels: mathml, status:needs-reviewers, wg-math

#25871 Tweak some subsup tests to make them less strict
  mathml/presentation-markup/scripts/subsup-1.html
  mathml/presentation-markup/scripts/subsup-2.html
  mathml/presentation-markup/scripts/subsup-3.html
Labels: mathml, status:needs-reviewers, wg-math

#25716 Changes URL tests for file path normalisation proposal
  url/resources/setters_tests.json
  url/resources/urltestdata.json
Labels: status:needs-spec-decision, url

#20832 Align with latest version of WebRTC spec
  webrtc/RTCConfiguration-iceServers.html
  webrtc/RTCPeerConnection-getDefaultIceServers.html
  webrtc/RTCPeerConnection-getStats.https.html
  webrtc/RTCPeerConnection-mandatory-getStats.https.html
  webrtc/RTCPeerConnection-ondatachannel.html
  webrtc/RTCPeerConnection-track-stats.https.html
  webrtc/RTCRtpParameters-encodings.html
  webrtc/RTCRtpParameters-helper.js
  webrtc/RTCRtpReceiver-getParameters.html
Labels: mozilla:gecko-blocked, webrtc, wg-s_webrtc, wg-webrtc

#25680 [WIP] Make webdriver client handle headers case insensitively
  tools/webdriver/webdriver/transport.py
  webdriver/tests/support/asserts.py
Labels: infra, webdriver, wg-testing_browser

#25606 Made active-selection-031-ref.html more precise
  css/css-pseudo/reference/active-selection-031-ref.html
Labels: css-pseudo

#25642 Adding a blur() method to selection-contenteditable-011.html
  css/css-pseudo/selection-contenteditable-011.html
Labels: css-pseudo

#25607 Corrected (more precise) comments in the 3rd ascii drawing
  css/css-backgrounds/background-attachment-353.html
Labels: css-backgrounds

#25825 Rehabilitated and improved border-image-slice-00[5|7] tests
  css/css-backgrounds/border-image-slice-005.htm
  css/css-backgrounds/border-image-slice-007.htm
  css/css-backgrounds/reference/border-image-slice-005-ref.html
  css/css-backgrounds/reference/border-image-slice-007-ref.html
  css/css-backgrounds/support/9grid40-30-20-10-green.png
  css/css-backgrounds/support/9grid40-30-20-10-red.png
Labels: css-backgrounds

#25263 WebKitGTK: rework how the minibrowser is downloaded on the CI (TaskCluster) and add weekly runs for beta channel
  .taskcluster.yml
  tools/ci/run_tc.py
  tools/ci/taskcluster-run.py
  tools/ci/tc/tasks/test.yml
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/utils.py
Labels: Taskcluster, ci, infra, wpt

#25852 [wptrunner] Add --mojojs-path flag (Chrome-only)
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wpt, wptrunner
