Repository web-platform-tests/wpt, pull requests merged in 2020-07, with the labels that each got.

#24195 Python 3: Port tests in fetch/corb, fetch/cross-origin-resource-polic…
  fetch/corb/resources/sniffable-resource.py
  fetch/cross-origin-resource-policy/resources/hello.py
  fetch/cross-origin-resource-policy/resources/iframe.py
  fetch/cross-origin-resource-policy/resources/image.py
  fetch/cross-origin-resource-policy/resources/redirect.py
  fetch/cross-origin-resource-policy/resources/script.py
  fetch/nosniff/resources/css.py
  fetch/nosniff/resources/image.py
  fetch/nosniff/resources/js.py
  fetch/nosniff/resources/nosniff.py
  fetch/nosniff/resources/worker.py
Labels: fetch, python3

#24167 Python 3: Port tests in content-security-policy
  common/redirect-opt-in.py
  content-security-policy/embedded-enforcement/support/echo-allow-csp-from.py
  content-security-policy/embedded-enforcement/support/echo-policy-multiple.py
  content-security-policy/embedded-enforcement/support/echo-required-csp.py
  content-security-policy/generic/support/304-response.py
  content-security-policy/navigate-to/support/delayed_frame.py
  content-security-policy/navigate-to/support/redirect_to_post_message_to_frame_owner.py
  content-security-policy/reporting/support/set-cookie.py
  content-security-policy/support/echo-policy.py
  content-security-policy/support/report.py
  content-security-policy/support/resource.py
Labels: assets, content-security-policy, python3

#24345 Add interfaces/webhid.idl and test
  interfaces/webhid.idl
  webhid/idlharness.https.window.js
Labels: interfaces, webhid

#24208 Add interfaces/is-input-pending.idl and test
  interfaces/is-input-pending.idl
  is-input-pending/idlharness.window.js
Labels: interfaces, is-input-pending

#24419 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#24412 Add a test to verify finding fragment id in non UTF8 document
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-frag-non-utf8-encoded-document.html
Labels: html

#24380 Test `browser`, `minimal-ui`, and `fullscreen` values of the `display` member
  appmanifest/display-member/display-member-media-feature-browser-manual.html
  appmanifest/display-member/display-member-media-feature-browser.webmanifest
  appmanifest/display-member/display-member-media-feature-browser.webmanifest.headers
  appmanifest/display-member/display-member-media-feature-fullscreen-manual.html
  appmanifest/display-member/display-member-media-feature-fullscreen.webmanifest
  appmanifest/display-member/display-member-media-feature-fullscreen.webmanifest.headers
  appmanifest/display-member/display-member-media-feature-minimal-ui-manual.html
  appmanifest/display-member/display-member-media-feature-minimal-ui.webmanifest
  appmanifest/display-member/display-member-media-feature-minimal-ui.webmanifest.headers
  appmanifest/display-member/display-member-media-feature-standalone-manual.html
  appmanifest/display-member/display-member-media-feature-standalone.webmanifest
  appmanifest/display-member/display-member-media-feature-standalone.webmanifest.headers
Labels: appmanifest, wg-webapps

#24421 Move asserts inside the test
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-frag-non-utf8-encoded-document.html
Labels: html

#24423 Python 3: port tests of range, stale-while-revalidate in fetch
  fetch/range/resources/long-wav.py
  fetch/range/resources/partial-script.py
  fetch/range/resources/stash-take.py
  fetch/stale-while-revalidate/resources/stale-css.py
  fetch/stale-while-revalidate/resources/stale-image.py
  fetch/stale-while-revalidate/resources/stale-script.py
Labels: fetch, python3

#24335 Python 3: port tests in service-workers [part 2]
  service-workers/service-worker/resources/about-blank-replacement-ping-frame.py
  service-workers/service-worker/resources/about-blank-replacement-popup-frame.py
  service-workers/service-worker/resources/bytecheck-worker-imported-script.py
  service-workers/service-worker/resources/bytecheck-worker.py
  service-workers/service-worker/resources/echo-content.py
  service-workers/service-worker/resources/echo-cookie-worker.py
  service-workers/service-worker/resources/fetch-access-control.py
  service-workers/service-worker/resources/fetch-request-no-freshness-headers-script.py
  service-workers/service-worker/resources/import-mime-type-worker.py
  service-workers/service-worker/resources/import-scripts-echo.py
Labels: python3, service-workers, wg-sw

#24245 Update interfaces/webxr-ar-module.idl
  interfaces/webxr-ar-module.idl
Labels: interfaces

#24427 Streams: remove obsolete test for @@asyncIterator === values
  streams/readable-streams/async-iterator.any.js
Labels: streams

#24431 Add metadata to mediaquery case insensitivity test
  css/mediaqueries/mq-case-insensitive-001.html
Labels: mediaqueries, wg-css

#24432 Test that deprecated media types don't match
  css/mediaqueries/mq-deprecated-001.html
Labels: mediaqueries, wg-css

#24430 [mediaqueries] Confirm that invalid syntax is rejected
  css/mediaqueries/mq-range-001.html
Labels: mediaqueries, wg-css

#23104 Introduce IdlInterface#should_have_interface_object() method
  dom/idlharness.window.js
  resources/idlharness.js
  resources/test/tests/unit/IdlInterface/should_have_interface_object.html
Labels: dom, idlharness.js, infra, testharness.js

#24397 Convert a manual dialog fullscreen test to test_driver
  fullscreen/api/element-request-fullscreen-dialog.html
Labels: fullscreen

#24342 Add a @page margins test for print-reftests
  infrastructure/reftest/reftest_mismatch_page_margins-print.html
Labels: infra

#24434 Fix copypasta error
  css/mediaqueries/mq-deprecated-001.html
Labels: mediaqueries, wg-css

#24433 Test media features that are false in the negative range
  css/mediaqueries/mq-negative-range-001.html
Labels: mediaqueries, wg-css

#24441 Color gamut
  css/mediaqueries/mq-gamut-001.html
  css/mediaqueries/mq-gamut-002.html
  css/mediaqueries/mq-gamut-003.html
  css/mediaqueries/mq-gamut-004.html
  css/mediaqueries/mq-gamut-005.html
Labels: mediaqueries, wg-css

#24455 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#24201 Add interfaces/deprecation-reporting.idl and test
  deprecation-reporting/idlharness.any.js
  interfaces/deprecation-reporting.idl
Labels: deprecation-reporting, interfaces

#24459 Add mathml test to check default UA sheet values on the <math> root
  mathml/relations/css-styling/default-properties-on-the-math-root.html
Labels: mathml, status:needs-reviewers, wg-math

#24463 Duplicate -001, but with the item getting its size from a child rather than explicitly.
  css/css-grid/layout-algorithm/grid-flex-track-intrinsic-sizes-003.html
Labels: css-grid

#24209 Add interfaces/custom-state-pseudo-class.idl and test
  custom-state-pseudo-class/idlharness.window.js
  interfaces/custom-state-pseudo-class.idl
Labels: custom-state-pseudo-class, interfaces

#24464 Add another variant that explicitly uses minmax(0, 1fr), rather than relying on the auto size.
  css/css-grid/layout-algorithm/flex-and-intrinsic-sizes-001.html
Labels: css-grid

#24466 [css-grid] Improve readability/understandability of baseline alignment test.
  css/css-grid/alignment/grid-baseline-004.html
Labels: css-grid

#24465 Update interfaces/streams.idl
  interfaces/streams.idl
Labels: interfaces

#24468 [css-grid] Fix empty first row baseline test.
  css/css-grid/alignment/grid-baseline-004.html
Labels: css-grid

#24470 [css-grid] Maxmin autorepeat tests
  css/css-grid/grid-definition/grid-auto-fill-columns-001.html
  css/css-grid/grid-definition/grid-auto-fill-rows-001.html
  css/css-grid/grid-definition/grid-auto-fit-columns-001.html
  css/css-grid/grid-definition/grid-auto-fit-rows-001.html
Labels: css-grid

#24471 Change 'window.load() event' to 'window load event' for correctness
  html/semantics/embedded-content/the-iframe-element/iframe-loading-lazy.tentative.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-below-viewport-dynamic.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-viewport-dynamic.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-multicol.html
Labels: html

#24473 [css-grid] Add testcase for second-row shared alignment baseline.
  css/css-grid/alignment/grid-baseline-004.html
Labels: css-grid

#24475 [css-grid] Remove now-disallowed variant results.
  css/css-grid/grid-definition/grid-support-grid-template-areas-001.html
Labels: css-grid

#24477 [css-grid] Check that 'align-self: last baseline' does not interfere with baseline alignment in first row.
  css/css-grid/alignment/grid-baseline-004.html
Labels: css-grid

#24484 Move six import after path is set
  tools/localpaths.py
Labels: infra, localpaths.py, mozilla:gecko-blocked

#24151 Switch WPT to use Taskcluster Checks integration
  .taskcluster.yml
  tools/ci/commands.json
  tools/ci/tc/decision.py
  tools/ci/tc/sink_task.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: Taskcluster, ci, infra

#24482 Python 3: port some tests in common and infrastructure
  common/echo.py
  common/slow.py
  infrastructure/testdriver/file_upload.py
Labels: assets, infra, python3

#24147 Python 3: port tests in html/infrastructure
  html/infrastructure/urls/resolving-urls/query-encoding/resources/blank.py
  html/infrastructure/urls/resolving-urls/query-encoding/resources/css-tmpl.py
  html/infrastructure/urls/resolving-urls/query-encoding/resources/manifest.py
  html/infrastructure/urls/resolving-urls/query-encoding/resources/page-using-manifest.py
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resource.py
  html/infrastructure/urls/resolving-urls/query-encoding/resources/stash.py
Labels: html, python3

#24235 Update picture-in-picture idlharness test
  picture-in-picture/idlharness.window.js
Labels: picture-in-picture, wg-media

#24170 Allow hiding test state for first-contentful-paint tests
  docs/writing-tests/testharness-api.md
  paint-timing/basetest.html
  paint-timing/border-image.html
  paint-timing/buffered-flag.window.js
  paint-timing/child-painting-first-image.html
  paint-timing/fcp-only/fcp-canvas-context.html
  paint-timing/fcp-only/fcp-gradient.html
  paint-timing/fcp-only/fcp-text-input.html
  paint-timing/fcp-only/fcp-video-frame.html
  paint-timing/fcp-only/fcp-video-poster.html
  paint-timing/fcp-only/fcp-with-rtl.html
  paint-timing/first-contentful-bg-image.html
  paint-timing/first-contentful-canvas.html
  paint-timing/first-contentful-image.html
  paint-timing/first-contentful-paint.html
  paint-timing/first-contentful-svg.html
  paint-timing/first-image-child.html
  paint-timing/first-paint-bg-color.html
  paint-timing/first-paint-only.html
  paint-timing/input-text.html
  paint-timing/mask-image.html
  paint-timing/paint-visited.html
  paint-timing/replaced-content-image.html
  paint-timing/resources/utils.js
  paint-timing/sibling-painting-first-image.html
  resources/testharness.js
Labels: docs, infra, paint-timing, testharness.js, wg-webperf

#24487 In case track is ended, make sure deviceId/groupId are exposed if they were exposed when the track was not ended
  mediacapture-streams/MediaStreamTrack-getSettings.https.html
Labels: mediacapture-streams, wg-s_webrtc

#24476 [css-grid] Test inner vs. outer grid size
  css/css-grid/grid-definition/grid-auto-fill-columns-001.html
  css/css-grid/grid-definition/grid-auto-fill-rows-001.html
  css/css-grid/grid-definition/grid-auto-fit-columns-001.html
  css/css-grid/grid-definition/grid-auto-fit-rows-001.html
  css/css-grid/grid-model/grid-gutters-and-tracks-001.html
Labels: css-grid

#24494 Add logging of target_commitish to manifest_build.py
  tools/ci/manifest_build.py
Labels: ci, infra

#24497 Manifest action: Adjust logging and try stripping the commit
  tools/ci/manifest_build.py
Labels: ci, infra

#8582 [css-grid] Add tests for baseline alignment inside auto-sized tracks.
  css/css-grid/alignment/grid-baseline-align-001.html
  css/css-grid/alignment/grid-baseline-justify-001.html
  css/css-grid/alignment/references/grid-baseline-align-001-ref.html
  css/css-grid/alignment/references/grid-baseline-justify-001-ref.html
Labels: css-grid, css-scroll-snap, css-sizing, css-typed-om, css-ui, css-writing-modes, cssom, custom-elements, infra, pointerevents, service-workers, webaudio, wg-audio, wg-css, wg-pointerevents, wg-sw, wg-webplatform

#24499 [css-grid-1] Add test for percentage gaps in shrinkwrap width / content-based height using float.
  css/css-grid/alignment/grid-gutters-014-ref.html
  css/css-grid/alignment/grid-gutters-014.html
Labels: css-grid

#24509 Update interfaces/native-file-system.idl
  interfaces/native-file-system.idl
Labels: interfaces

#24492 Update interfaces/ambient-light.idl
  interfaces/ambient-light.idl
Labels: interfaces

#24510 Python 3: port some recently added tests
  content-security-policy/reporting/support/redirect-throw-function.sub.py
  images/blue-png-cachable.py
  layout-instability/resources/slow-image.py
Labels: assets, content-security-policy, layout-instability, python3

#24525 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#24516 [css-text-3] Add letter-spacing tests written last October
  css/css-text/letter-spacing/letter-spacing-100.html
  css/css-text/letter-spacing/letter-spacing-101.html
  css/css-text/letter-spacing/letter-spacing-102.html
  css/css-text/letter-spacing/letter-spacing-103.html
  css/css-text/letter-spacing/letter-spacing-104.html
  css/css-text/letter-spacing/letter-spacing-105.html
  css/css-text/letter-spacing/letter-spacing-106.html
  css/css-text/letter-spacing/letter-spacing-111.html
  css/css-text/letter-spacing/letter-spacing-112.html
  css/css-text/letter-spacing/reference/letter-spacing-100-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-101-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-102-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-103-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-104-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-105-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-106-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-111-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-112-ref.html
  css/css-text/letter-spacing/support/swatch-orange.png
Labels: css-text

#24530 Wrong assert
  css/css-text/white-space/white-space-letter-spacing-001.html
Labels: css-text

#24529 Update interfaces/payment-handler.idl
  interfaces/payment-handler.idl
Labels: interfaces

#24483 Python 3: port tests in common/security-features/subresource [part 1]
  common/security-features/subresource/audio.py
  common/security-features/subresource/document.py
  common/security-features/subresource/empty.py
  common/security-features/subresource/font.py
  common/security-features/subresource/image.py
  common/security-features/subresource/referrer.py
  common/security-features/subresource/script.py
  common/security-features/subresource/shared-worker.py
  common/security-features/subresource/static-import.py
  common/security-features/subresource/stylesheet.py
Labels: assets, python3

#24514 Actually remove six from Dockerfile
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
  tools/docker/Dockerfile
Labels: Taskcluster, ci, docker, infra

#24511 [Taskcluster] Only schedule the sink-task for pull requests
  tools/ci/tc/decision.py
  tools/ci/tc/taskgraph.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra

#24520 [lint] Allow multiple --ignore-glob in `wpt lint`
  tools/lint/lint.py
  tools/lint/tests/test_lint.py
Labels: infra, lint, mozilla:gecko-blocked

#24422 Python 3: port tests of content-type, http-cache, metadata, origin in …
  fetch/content-type/resources/content-type.py
  fetch/http-cache/resources/http-cache.py
  fetch/http-cache/resources/securedimage.py
  fetch/metadata/resources/echo-as-json.py
  fetch/metadata/resources/echo-as-script.py
  fetch/metadata/resources/post-to-owner.py
  fetch/metadata/resources/record-header.py
  fetch/origin/resources/redirect-and-stash.py
  fetch/origin/resources/referrer-policy.py
Labels: fetch, python3

#24542 Add comment to border-width-011 to make it immediately obvious
  css/CSS2/borders/border-width-011.xht
Labels: CSS2, wg-css

#24549 Update interfaces/native-file-system.idl
  interfaces/native-file-system.idl
Labels: interfaces

#24202 Add interfaces/intervention-reporting.idl and test
  interfaces/intervention-reporting.idl
  intervention-reporting/idlharness.any.js
Labels: interfaces, intervention-reporting

#24409 Python 3: port webappapis and cross-origin tests in html
  html/cross-origin-embedder-policy/resources/report.py
  html/cross-origin-opener-policy/reporting/resources/dispatcher.py
  html/cross-origin-opener-policy/reporting/resources/report.py
  html/cross-origin-opener-policy/resources/coop-coep.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/http-refresh.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/meta-refresh.py
  html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/support/promise-access-control.py
Labels: html, python3

#24548 Make XRSession.inputSources iterable
  webxr/xrInputSourceArray_iterable.html
Labels: servo-export, webxr, wg-immersive-web

#24540 Cleanup newline-removal in manifest_build.py
  tools/ci/manifest_build.py
Labels: ci, infra

#24557 Fix tools/ unit tests
  tools/.coveragerc
  tools/ci/tc/tests/test_valid.py
  tools/lint/lint.py
  tools/pytest.ini
Labels: .coveragerc, ci, infra, lint, pytest.ini

#24559 Add missing test path for manifest during WPT syncing.
  tools/wptrunner/wptrunner/update/sync.py
Labels: infra, servo-export, wptrunner

#24565 Rename some manual dynamic import tests
  html/semantics/scripting-1/the-script-element/module/dynamic-import/no-active-script-classic-manual.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/no-active-script-module-manual.html
Labels: html

#24563 Update interfaces/image-capture.idl
  interfaces/image-capture.idl
Labels: interfaces

#24567 [tools] Fix some deprecation warnings
  tools/lint/lint.py
  tools/manifest/typedata.py
  tools/manifest/vcs.py
  tools/wptserve/wptserve/config.py
Labels: infra, lint, manifest, wptserve

#24576 TC: don't run print tests for WebKitGTK and Servo
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra, mozilla:gecko-blocked

#24506 grid-auto applies to explicit rows
  css/css-grid/grid-definition/grid-auto-explicit-rows-001.html
Labels: css-grid, grid-definition

#24583 Update interfaces/pointerevents.idl
  interfaces/pointerevents.idl
Labels: interfaces

#24585 Python 3: Use bytes for status
  cors/resources/304.py
  cors/resources/cache-304.py
  cors/resources/cors-makeheader.py
  resource-timing/resources/cors-ahem.py
  resource-timing/resources/fake_responses.py
  signed-exchange/resources/prefetch-test-cert.py
  xhr/resources/inspect-headers.py
Labels: fetch, python3, resource-timing, signed-exchange, wg-webperf, xhr

#24481 Python 3: port tests in common/security-features [part 2]
  common/security-features/scope/document.py
  common/security-features/scope/util.py
  common/security-features/scope/worker.py
  common/security-features/subresource/subresource.py
  common/security-features/subresource/svg.py
  common/security-features/subresource/video.py
  common/security-features/subresource/worker.py
  common/security-features/subresource/xhr.py
Labels: assets, python3

#24274 Python 3: port tests in xhr [part 3]
  xhr/resources/access-control-preflight-request-header-sorted.py
  xhr/resources/access-control-preflight-request-headers-origin.py
  xhr/resources/access-control-preflight-request-invalid-status.py
  xhr/resources/access-control-preflight-request-must-not-contain-cookie.py
  xhr/resources/auth1/auth.py
  xhr/resources/auth10/auth.py
  xhr/resources/auth11/auth.py
  xhr/resources/auth2/auth.py
  xhr/resources/auth2/corsenabled.py
  xhr/resources/auth3/auth.py
Labels: python3, xhr

#24568 Test that BroadcastChannel settings object is current, not incumbent
  webmessaging/multi-globals/broadcastchannel-current.sub.html
  webmessaging/multi-globals/broadcastchannel-incumbent.sub.html
  webmessaging/multi-globals/support/current-document-domain.sub.html
  webmessaging/multi-globals/support/incumbent-document-domain.sub.html
Labels: webmessaging, wg-webapps

#24566 Test that MessagePort owners are current, not incumbent
  webmessaging/multi-globals/messageport-current.html
  webmessaging/multi-globals/messageport-incumbent.html
  webmessaging/multi-globals/support/current.html
  webmessaging/multi-globals/support/incumbent.html
Labels: webmessaging, wg-webapps

#24562 Python 3: port tests in webdriver
  webdriver/tests/get_named_cookie/get.py
  webdriver/tests/perform_actions/pointer_tripleclick.py
  webdriver/tests/support/authentication.py
  webdriver/tests/support/inline.py
Labels: python3, webdriver, wg-testing_browser

#24591 Add Servo dependency to docker.
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
  tools/docker/Dockerfile
Labels: Taskcluster, ci, docker, infra

#24275 Python 3: port xhr tests [part 4]
  xhr/resources/auth4/auth.py
  xhr/resources/auth5/auth.py
  xhr/resources/auth6/auth.py
  xhr/resources/auth7/corsenabled.py
  xhr/resources/auth8/corsenabled-no-authorize.py
  xhr/resources/auth9/auth.py
  xhr/resources/authentication.py
  xhr/resources/chunked.py
  xhr/resources/conditional.py
  xhr/resources/content.py
Labels: python3, xhr

#24408 Python 3: port tests forms, links & text-level-semantics tests in htm…
  html/semantics/forms/form-submission-0/form-echo.py
  html/semantics/forms/form-submission-0/resources/file-submission.py
  html/semantics/forms/form-submission-target/form-target-iframe-helper.py
  html/semantics/links/downloading-resources/resources/inspect-header.py
  html/semantics/text-level-semantics/the-a-element/a-download-404.py
Labels: html, python3

#24450 check unattached doc + iframes for manifest
  html/links/manifest/document-not-attached-manual.html
  html/links/manifest/no-manifest-from-iframe-manual.html
Labels: html

#24446 Add MIME Checks for link rel=manifest
  html/links/manifest/mime-type-application-json-manual.html
  html/links/manifest/mime-type-application-json.webmanifest
  html/links/manifest/mime-type-application-json.webmanifest.headers
  html/links/manifest/mime-type-application-manifest+json-manual.html
  html/links/manifest/mime-type-application-manifest+json.webmanifest
  html/links/manifest/mime-type-application-manifest+json.webmanifest.headers
  html/links/manifest/mime-type-invalid-manual.html
  html/links/manifest/mime-type-invalid.webmanifest
  html/links/manifest/mime-type-invalid.webmanifest.headers
  html/links/manifest/mime-type-none-manual.html
  html/links/manifest/mime-type-none.webmanifest
  html/links/manifest/mime-type-none.webmanifest.headers
  html/links/manifest/mime-type-text-json-manual.html
  html/links/manifest/mime-type-text-json.webmanifest
  html/links/manifest/mime-type-text-json.webmanifest.headers
  html/links/manifest/wrong-mime-type-text-plain-manual.html
  html/links/manifest/wrong-mime-type-text-plain.webmanifest
  html/links/manifest/wrong-mime-type-text-plain.webmanifest.headers
Labels: html

#24447 Relocate to link relationship to HTML spec
  appmanifest/link-relationship/link-rel-manifest.html
  appmanifest/link-relationship/link-tree-order-manual.html
  html/links/manifest/link-relationship/link-rel-manifest.html
  html/links/manifest/link-relationship/link-tree-order-manual.html
Labels: appmanifest, html, wg-webapps

#15618 Screen Orientation: add requestFullscreen to final orientation-reading.html test
  screen-orientation/orientation-reading.html
Labels: screen-orientation, wg-webapps, wg-webplatform

#23423 Web Share file sharing no longer tentative
  web-share/share-files-manual.https.html
Labels: web-share, wg-webapps

#24597 Update interfaces/input-device-capabilities.idl
  interfaces/input-device-capabilities.idl
Labels: interfaces

#24603 Split mpadded-002.html first paragraph
  mathml/presentation-markup/mpadded/mpadded-002.html
Labels: mathml, wg-math

#24518 Add a test for network errors with <embed>
  html/semantics/embedded-content/resources/not-embeddable.html
  html/semantics/embedded-content/resources/not-embeddable.html.headers
  html/semantics/embedded-content/the-embed-element/embed-network-error.sub.html
  html/semantics/embedded-content/the-iframe-element/iframe-network-error.sub.html
Labels: html

#24612 Update interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#24615 Fix path in subresource.py
  common/security-features/subresource/subresource.py
Labels: assets

#23880 Corrected and improved border-radius-clipping.html test
  css/css-backgrounds/border-radius-clipping-002.html
  css/css-backgrounds/border-radius-clipping.html
  css/css-backgrounds/reference/border-radius-clipping-ref.html
  css/css-backgrounds/support/100x100-green-with-red-corners.png
Labels: css-backgrounds

#24614 [wptserve] Make Request.GET.get return a value
  tools/wptserve/tests/test_request.py
  tools/wptserve/wptserve/request.py
Labels: infra, wptserve

#24608 [lint] Implement EarlyTestdriverVendor lint
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint

#24619 [wptserve] Allow more headers in Python 3
  tools/wptserve/tests/functional/test_server.py
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#24611 Test that AudioContext's state is updated if "allowed to start"
  webaudio/the-audio-api/the-audiocontext-interface/constructor-allowed-to-start.html
Labels: webaudio, wg-audio

#24560 Fix wpt rev-list failure-handling in epochs_update.sh
  tools/ci/epochs_update.sh
Labels: ci, infra

#24457 Update interfaces/audio-output.idl and test
  audio-output/idlharness.https.window.js
  interfaces/audio-output.idl
Labels: audio-output, interfaces, wg-s_webrtc

#24241 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#24632 Update interfaces/streams.idl
  interfaces/streams.idl
Labels: interfaces

#24617 Python 3: Port three files in fetch/
  fetch/api/resources/infinite-slow-response.py
  fetch/api/resources/stash-put.py
  fetch/api/resources/stash-take.py
  tools/wptserve/wptserve/response.py
Labels: fetch, infra, wptserve

#24451 Python 3: Port tests in fetch/api [part 1]
  fetch/api/request/resources/cache.py
  fetch/api/resources/authentication.py
  fetch/api/resources/cache.py
  fetch/api/resources/clean-stash.py
  fetch/api/resources/inspect-headers.py
  fetch/api/resources/method.py
  fetch/api/resources/preflight.py
  fetch/api/resources/trickle.py
  fetch/content-encoding/resources/bad-gzip-body.py
  fetch/redirect-navigate/302-found-post-handler.py
Labels: fetch, python3

#21937 Update interfaces/service-workers.idl
  interfaces/service-workers.idl
Labels: do not merge yet, interfaces

#24589 Dynamically test javascript URL string return values in frames
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-return-value-handling-dynamic.html
Labels: appmanifest, assets, fullscreen, html, interfaces, origin-isolation, screen-orientation, streams, web-share, wg-webapps

#8715 Add in more references for css-color tests
  css/css-color/t32-opacity-basic-0.6-a-ref.html
  css/css-color/t32-opacity-basic-0.6-a.xht
  css/css-color/t32-opacity-zorder-c-ref.html
  css/css-color/t32-opacity-zorder-c.xht
  css/css-color/t421-rgb-hex3-expand-b-ref.html
  css/css-color/t421-rgb-hex3-expand-b.xht
  css/css-color/t422-rgba-a0.6-a.xht
  css/css-color/t425-hsla-basic-a-ref.html
  css/css-color/t425-hsla-basic-a.xht
Labels: css-color, wg-css

#24629 Add @hoch as a suggested reviewer for webaudio/
  webaudio/META.yml
Labels: webaudio, wg-audio

#24663 Fix mpadded-002.html baseline mismatch
  mathml/presentation-markup/mpadded/mpadded-002.html
Labels: mathml, wg-math

#24665 Add percentage handling tests for mpadded
  mathml/presentation-markup/mpadded/mpadded-002.html
Labels: mathml, wg-math

#24656 Python 3: Use byte type for content
  xhr/resources/invalid-utf8-html.py
  xhr/resources/shift-jis-html.py
  xhr/resources/win-1252-xml.py
Labels: python3, xhr

#24624 Python 3: Port tests in fetch/api [part 2]
  fetch/api/resources/bad-chunk-encoding.py
  fetch/api/resources/echo-content.py
  fetch/api/resources/redirect-empty-location.py
  fetch/api/resources/script-with-header.py
  fetch/api/resources/status.py
  fetch/h1-parsing/resources/document-with-0x00-in-header.py
  fetch/h1-parsing/resources/script-with-0x00-in-header.py
Labels: fetch, python3

#24670 [css-sizing-3] Add tests for input/textarea max-content sizing.
  css/css-sizing/max-content-input-001-ref.html
  css/css-sizing/max-content-input-001.html
Labels: css-sizing

#24655 [css-animations] Fix expected var() resolution for getKeyframes subtest
  css/css-animations/KeyframeEffect-getKeyframes.tentative.html
Labels: css-animations

#24633 Add interfaces/anchors.idl and test
  interfaces/anchors.idl
  webxr/anchors/idlharness.https.window.js
Labels: interfaces, webxr, wg-immersive-web

#24703 grid-template-areas must define at least one cell
  css/css-grid/parsing/grid-template-areas-one-cell.html
Labels: css-grid

#24705 [css-grid-1] Show grid cell sizes to test against undersizing.
  css/css-grid/grid-definition/grid-template-columns-fit-content-001-ref.html
  css/css-grid/grid-definition/grid-template-columns-fit-content-001.html
  css/css-grid/grid-definition/grid-template-rows-fit-content-001-ref.html
  css/css-grid/grid-definition/grid-template-rows-fit-content-001.html
Labels: css-grid

#24706 Corrected active-selection-056, added active-selection-057 tests
  css/css-pseudo/active-selection-056.html
  css/css-pseudo/active-selection-057.html
  css/css-pseudo/reference/ref-nothing-below.xht
Labels: css-pseudo

#24709 Improved active-selection-063.html
  css/css-pseudo/active-selection-063.html
  css/css-pseudo/reference/ref-filled-green-100px-square.xht
Labels: css-pseudo

#24634 Add interfaces/dom-overlays.idl and test
  interfaces/dom-overlays.idl
  webxr/dom-overlay/idlharness.https.window.js
Labels: interfaces, webxr, wg-immersive-web

#24660 Add interfaces/gamepad-extensions.idl and test
  gamepad/idlharness-extensions.window.js
  interfaces/gamepad-extensions.idl
Labels: gamepad, interfaces, wg-webapps

#24637 Add a test for early return in the resource selection algorithm
  html/semantics/embedded-content/media-elements/loading-the-media-resource/resource-selection-resumes-onload.html
Labels: html

#24713 Added 2 active-selection-* tests and their respective reference files
  css/css-pseudo/active-selection-021.html
  css/css-pseudo/active-selection-024.html
  css/css-pseudo/reference/active-selection-021-ref.html
  css/css-pseudo/reference/active-selection-024-ref.html
Labels: css-pseudo

#24729 Streams: fix interceptThen assigning to a const
  streams/piping/then-interception.any.js
Labels: streams

#24702 Add Chrome nightly (Chromium trunk) to wpt
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/tests/test_wpt.py
  tools/wpt/utils.py
Labels: infra, wpt

#24714 Added 2 active-selection-* tests
  css/css-pseudo/active-selection-031.html
  css/css-pseudo/active-selection-045.html
  css/css-pseudo/reference/active-selection-031-ref.html
  css/css-pseudo/support/100x100-red.png
Labels: css-pseudo

#24673 Update docker image for Servo dependencies.
  .taskcluster.yml
  tools/ci/tc/decision.py
  tools/ci/tc/tasks/test.yml
  tools/docker/Dockerfile
Labels: Taskcluster, ci, docker, infra

#24742 [tools] Pin mock to v3.*
  tools/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: infra, tox.ini, wpt, wptrunner

#24704 [wptserve] Preserve semicolons in query parameters
  tools/wptserve/tests/functional/docroot/sub_params.sub.txt
  tools/wptserve/tests/functional/docroot/sub_params.txt
  tools/wptserve/tests/functional/test_handlers.py
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/wptserve/handlers.py
Labels: infra, wptserve

#24739 Turn on MojoJS in Chrome nightly (Chromium trunk)
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wpt, wptrunner

#24745 [wpt] Ignore testdriver* in changed files
  tools/wpt/run.py
  tools/wpt/testfiles.py
  tools/wpt/tests/test_testfiles.py
Labels: infra, wpt

#24766 [wpt] Fix the installation of ChromeDriver stable
  tools/wpt/browser.py
  tools/wpt/tests/test_install.py
  tools/wpt/tests/test_wpt.py
  tools/wpt/utils.py
Labels: infra, wpt

#24720 Document how to address the web-platform.test lint rule
  docs/writing-tests/file-names.md
  tools/lint/rules.py
Labels: docs, infra, lint

#24716 Add return statement for ResponseWriter.write_content() function.
  tools/wptserve/wptserve/response.py
Labels: infra, wptserve

#24759 Added 5 new selection-* tests and 5 references
  css/css-pseudo/reference/selection-contenteditable-011-ref.html
  css/css-pseudo/reference/selection-input-011-ref.html
  css/css-pseudo/reference/selection-intercharacter-011-ref.html
  css/css-pseudo/reference/selection-intercharacter-012-ref.html
  css/css-pseudo/reference/selection-textarea-011-ref.html
  css/css-pseudo/selection-contenteditable-011.html
  css/css-pseudo/selection-input-011.html
  css/css-pseudo/selection-intercharacter-011.html
  css/css-pseudo/selection-intercharacter-012.html
  css/css-pseudo/selection-textarea-011.html
Labels: css-pseudo

#24775 Update interfaces/geolocation-API.idl
  interfaces/geolocation-API.idl
Labels: interfaces

#24768 [wptpr.live] Make sure to clean up old refs/prs-open/{pr}
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: ci, infra

#24778 Move WebAssembly toStringTag test and run it in js shells.
  wasm/jsapi/constructor/toStringTag.any.js
Labels: wasm

#24749 Added background-attachment-353.html
  css/css-backgrounds/background-attachment-353.html
  css/css-backgrounds/support/100x100-gr-rr.png
Labels: css-backgrounds

#24531 Python 3: port tests in cookie-store
  cookie-store/resources/cookie_helper.py
Labels: cookie-store, python3

#24657 Python 3: Drop use of flush on ResponseWriter in a couple of files
  fetch/range/resources/long-wav.py
  html/semantics/embedded-content/the-iframe-element/support/download_stash.py
Labels: fetch, html, infra, python3, wptserve

#24783 [wpt] Remove a redundant channel arg
  tools/wpt/browser.py
  tools/wpt/tests/test_install.py
Labels: infra, wpt

#24785 Specify channel for stable Safari runs on Azure Pipelines
  .azure-pipelines.yml
Labels: Azure Pipelines

#24748 WebKit export of http://bugs.webkit.org/show_bug.cgi?id=214370
  css/css-grid/alignment/grid-place-content-001.html
Labels: css-grid, webkit-export

#24788 Added 9 new active-selection-* tests and their references
  css/css-pseudo/active-selection-001-manual.html
  css/css-pseudo/active-selection-002-manual.html
  css/css-pseudo/active-selection-003-manual.html
  css/css-pseudo/active-selection-004-manual.html
  css/css-pseudo/active-selection-011.html
  css/css-pseudo/active-selection-012.html
  css/css-pseudo/active-selection-014.html
  css/css-pseudo/active-selection-016.html
  css/css-pseudo/active-selection-018.html
  css/css-pseudo/reference/active-selection-011-ref.html
  css/css-pseudo/reference/active-selection-012-ref.html
  css/css-pseudo/reference/active-selection-014-ref.html
  css/css-pseudo/reference/active-selection-016-ref.html
  css/css-pseudo/support/select-custom.cur
  css/css-pseudo/support/select-custom.png
Labels: css-pseudo

#24794 Corrections to selection-intercharacter-011 and 012 reference files
  css/css-pseudo/reference/selection-intercharacter-011-ref.html
  css/css-pseudo/reference/selection-intercharacter-012-ref.html
  css/css-pseudo/selection-intercharacter-011.html
  css/css-pseudo/selection-intercharacter-012.html
Labels: css-pseudo

#24779 Update interfaces/image-capture.idl and test
  interfaces/image-capture.idl
  mediacapture-image/idlharness.window.js
Labels: interfaces, mediacapture-image

#24795 Python 3: Fix prefix in xhr tests
  xhr/resources/inspect-headers.py
  xhr/resources/redirect.py
Labels: python3, xhr

#24798 [lint] Clarify the help message for --ignore-glob
  tools/lint/lint.py
Labels: infra, lint

#24796 Python 3: Use string type due to call of json_handler at stash-take.py
  fetch/api/resources/stash-put.py
Labels: fetch, python3

#24815 Reenable test_verify_taskcluster_yml on Windows
  tools/ci/tc/tests/test_valid.py
Labels: ci, infra
