Repository web-platform-tests/wpt, pull requests merged in 2020-11, with the labels that each got.

#26314 [wptrunner] Make reftests obey the 'www' file-flag.
  infrastructure/reftest/reftest.www.sub.html
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#26359 Python3: Add prefix "b" for bytes literals for Python3 compatiblility
  beacon/resources/content-type-and-body.py
Labels: beacon, wg-webperf

#26365 Python3: Add prefix "b" for bytes literals for newly introduced .py file
  xhr/resources/get-set-cookie.py
Labels: xhr

#26317 URL: percent-encoding test framework basics
  url/README.md
  url/percent-encoding.window.js
  url/resources/percent-encoding.json
  url/resources/percent-encoding.py
Labels: url

#26396 Update interfaces/ua-client-hints.idl
  interfaces/ua-client-hints.idl
Labels: interfaces

#26395 Update interfaces/CSP.idl
  interfaces/CSP.idl
Labels: interfaces

#26426 [input] Test some edge-cases for valueAsNumber with type number
  html/semantics/forms/the-input-element/input-valueasnumber.html
Labels: html

#26428 Remove zcorpan as suggested_reviewers in some directories
  fetch/metadata/META.yml
  html/META.yml
  html/dom/elements/the-innertext-idl-attribute/META.yml
  html/semantics/embedded-content/META.yml
  html/semantics/selectors/META.yml
Labels: fetch, html

#26385 [encoding] Add tests for GBK and gb18030 encoding
  encoding/gb18030-encoder.html
  encoding/gbk-encoder.html
  encoding/legacy-mb-schinese/gb18030/gb18030-decoder.html
  encoding/legacy-mb-schinese/gb18030/gb18030-encoder.html
  encoding/legacy-mb-schinese/gb18030/resources/ranges.js
  encoding/legacy-mb-schinese/gbk/gbk-decoder.html
  encoding/legacy-mb-schinese/gbk/gbk-encoder.html
Labels: encoding

#26432 [wpt] Minor tweaks for MojoJS setup process
  tools/wpt/browser.py
Labels: infra, wpt

#26383 Fix OffscreenCanvas RTL tests
  html/canvas/offscreen/text/2d.text.draw.align.end.ltr.html
  html/canvas/offscreen/text/2d.text.draw.align.end.ltr.worker.js
  html/canvas/offscreen/text/2d.text.draw.align.end.rtl.html
  html/canvas/offscreen/text/2d.text.draw.align.end.rtl.worker.js
  html/canvas/offscreen/text/2d.text.draw.align.start.ltr.html
  html/canvas/offscreen/text/2d.text.draw.align.start.ltr.worker.js
  html/canvas/offscreen/text/2d.text.draw.align.start.rtl.html
  html/canvas/offscreen/text/2d.text.draw.align.start.rtl.worker.js
  html/canvas/tools/yaml/offscreen/text.yaml
Labels: html

#26433 [wpt] Use the new dest paths of Chrome on macOS
  tools/wpt/browser.py
Labels: infra, wpt

#26449 [Azure Pipelines] Fix `wpt test-jobs` failures
  .azure-pipelines.yml
Labels: Azure Pipelines, infra, wpt

#26458 [css-sizing-4] Make failures more obvious
  css/css-sizing/aspect-ratio/zero-or-infinity-001.html
  css/css-sizing/aspect-ratio/zero-or-infinity-002.html
  css/css-sizing/aspect-ratio/zero-or-infinity-003.html
  css/css-sizing/aspect-ratio/zero-or-infinity-004.html
  css/css-sizing/aspect-ratio/zero-or-infinity-005.html
Labels: css-sizing

#26456 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#25290 Small cleanup of Gamepad tests
  gamepad/feature-policy-gamepad.html
  gamepad/gamepad-default-feature-policy.https.sub.html
  gamepad/gamepad-secure-context.html
Labels: gamepad, wg-webapps

#25979 Get the gitignore cache working, consistently use fast JSON modules
  tools/gitignore/gitignore.py
  tools/manifest/jsonlib.py
  tools/manifest/manifest.py
  tools/manifest/vcs.py
  tools/mypy.ini
Labels: gitignore, infra, manifest, mypy.ini

#26466 Pass an absolute path in to mozrunner for the xrePath
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra, wptrunner

#26450 Add file missing file to connection-pool tests
  fetch/connection-pool/resources/network-partition-about-blank-checker.html
Labels: fetch

#26446 [docs] Add note that not all tests can be run in-browser
  docs/running-tests/from-web.md
Labels: docs

#26420 Fix #17577: Check runners deal with lone surrogates in test output
  infrastructure/metadata/infrastructure/testharness/lone-surrogates.html.ini
  infrastructure/testharness/lone-surrogates.html
  resources/test/tests/unit/helpers.js
  resources/test/tests/unit/unpaired-surrogates.html
  resources/testharness.js
Labels: infra, testharness.js

#26496 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#26501 Update interfaces/WebCryptoAPI.idl
  interfaces/WebCryptoAPI.idl
Labels: interfaces

#26503 Read and write state file as binary
  tools/wptrunner/wptrunner/update/state.py
Labels: infra, wptrunner

#26507 Add a --py2 command line flag
  tools/wpt/wpt.py
  wpt
Labels: infra, wpt

#26521 Fix typo in displayed text imageData-colorManagedBehavior.html
  html/canvas/element/manual/wide-gamut-canvas/imageData-colorManagedBehavior.html
Labels: html

#23102 Test that MediaQueryList::{add,remove}Listener parameter is optional
  css/cssom-view/MediaQueryList-addListener-removeListener.html
Labels: cssom-view, wg-css

#26522 Update interfaces/mediacapture-streams.idl and test
  interfaces/mediacapture-streams.idl
  mediacapture-streams/idlharness.https.window.js
Labels: interfaces, mediacapture-streams, wg-s_webrtc

#26438 Quirks: Add tests for "html fills viewport" and "body fills html"
  quirks/body-fills-html-quirk-float.html
  quirks/body-fills-html-quirk-inline.html
  quirks/body-fills-html-quirk-positioned.html
  quirks/body-fills-html-quirk-ref.html
  quirks/body-fills-html-quirk-ref2.html
  quirks/body-fills-html-quirk-vertical.html
  quirks/body-fills-html-quirk.html
  quirks/html-fills-viewport-quirk-ref.html
  quirks/html-fills-viewport-quirk-vertical.html
  quirks/html-fills-viewport-quirk.html
Labels: quirks, safe for preview

#26245 Trying to improve selection-contenteditable-011.html and its reference
  css/css-pseudo/reference/selection-contenteditable-011-ref.html
  css/css-pseudo/selection-contenteditable-011.html
Labels: css-pseudo

#26547 Quirks: Fix one usage of 'direction: vertical-lr' in #26438
  quirks/html-fills-viewport-quirk-vertical.html
Labels: quirks

#26328 Require Python file handers to import helpers via root path
  __init__.py
  common/__init__.py
  common/security-features/__init__.py
  common/security-features/scope/__init__.py
  common/security-features/scope/document.py
  common/security-features/scope/worker.py
  common/security-features/subresource/audio.py
  common/security-features/subresource/document.py
  common/security-features/subresource/empty.py
  common/security-features/subresource/font.py
  common/security-features/subresource/image.py
  common/security-features/subresource/script.py
  common/security-features/subresource/shared-worker.py
  common/security-features/subresource/static-import.py
  common/security-features/subresource/stylesheet.py
  common/security-features/subresource/svg.py
  common/security-features/subresource/video.py
  common/security-features/subresource/worker.py
  common/security-features/subresource/xhr.py
  cookies/__init__.py
  cookies/resources/__init__.py
  cookies/resources/drop.py
  cookies/resources/dropSameSite.py
  cookies/resources/dropSameSiteNone.py
  cookies/resources/dropSecure.py
  cookies/resources/imgIfMatch.py
  cookies/resources/list.py
  cookies/resources/postToParent.py
  cookies/resources/redirectWithCORSHeaders.py
  cookies/resources/set.py
  cookies/resources/setSameSite.py
  cookies/resources/setSameSiteNone.py
  cookies/resources/setSecure.py
  docs/writing-tests/python-handlers/index.md
  resource-timing/SyntheticResponse.py
  tools/ci/tc/tests/test_decision.py
  tools/ci/tc/tests/test_taskgraph.py
  tools/ci/tc/tests/test_valid.py
  tools/ci/tests/test_jobs.py
  tools/lint/tests/test_lint.py
  tools/manifest/tests/test_manifest.py
  tools/wpt/tests/test_browser.py
  tools/wpt/tests/test_install.py
  tools/wpt/tests/test_markdown.py
  tools/wpt/tests/test_revlist.py
  tools/wpt/tests/test_run.py
  tools/wpt/tests/test_testfiles.py
  tools/wpt/tests/test_wpt.py
  tools/wptserve/tests/functional/docroot/__init__.py
  tools/wptserve/tests/functional/docroot/subdir/__init__.py
  tools/wptserve/tests/functional/docroot/subdir/import_handler.py
  tools/wptserve/wptserve/handlers.py
  tools/wptserve/wptserve/router.py
Labels: assets, ci, cookies, docs, infra, lint, manifest, resource-timing, wg-webperf, wpt, wptserve

#26556 Test multipart/form-data form submission with controls and punctuation.
  FileAPI/file/resources/echo-content-escaped.py
  FileAPI/file/send-file-form-controls.tentative.html
  FileAPI/file/send-file-form-punctuation.tentative.html
  FileAPI/file/send-file-form-utf-8.html
  FileAPI/file/send-file-form-windows-1252.tentative.html
  FileAPI/file/send-file-form-x-user-defined.tentative.html
  FileAPI/file/send-file-formdata-controls.tentative.html
  FileAPI/file/send-file-formdata-punctuation.tentative.html
  FileAPI/file/send-file-formdata-utf-8.html
  FileAPI/file/send-file-formdata.html
  FileAPI/support/send-file-form-helper.js
  FileAPI/support/send-file-formdata-helper.js
  html/semantics/forms/form-submission-0/newline-normalization.html
Labels: FileAPI, html, mozilla:gecko-blocked, wg-webapps

#26560 Fix wpt tests-affected to use stdin for the rev-list
  tools/wpt/testfiles.py
Labels: infra, wpt

#26557 Test that no load or error events fire for <link rel="icon">
  html/links/icon/no-error-event.sub.html
  html/links/icon/no-load-event.html
Labels: html, mozilla:gecko-blocked

#26571 Made more robust 4 background-size tests
  css/css-backgrounds/background-size-006.html
  css/css-backgrounds/background-size-009.html
  css/css-backgrounds/background-size-014.html
  css/css-backgrounds/background-size-017.html
Labels: css-backgrounds

#26587 Fix incorrect css-text-3 test
  css/css-text/white-space/full-width-leading-spaces-004.html
Labels: css-text, wg-css

#26588 Mark segment break transformation tests as tentative
  css/css-text/white-space/seg-break-transformation-000.tentative.html
  css/css-text/white-space/seg-break-transformation-001.tentative.html
  css/css-text/white-space/seg-break-transformation-002.tentative.html
  css/css-text/white-space/seg-break-transformation-003.tentative.html
  css/css-text/white-space/seg-break-transformation-004.tentative.html
  css/css-text/white-space/seg-break-transformation-005.tentative.html
  css/css-text/white-space/seg-break-transformation-006.tentative.html
  css/css-text/white-space/seg-break-transformation-007.tentative.html
  css/css-text/white-space/seg-break-transformation-008.tentative.html
  css/css-text/white-space/seg-break-transformation-009.tentative.html
  css/css-text/white-space/seg-break-transformation-010.tentative.html
  css/css-text/white-space/seg-break-transformation-011.tentative.html
  css/css-text/white-space/seg-break-transformation-012.tentative.html
  css/css-text/white-space/seg-break-transformation-014.tentative.html
  css/css-text/white-space/seg-break-transformation-015.tentative.html
  css/css-text/white-space/seg-break-transformation-016.tentative.html
  css/css-text/white-space/seg-break-transformation-017.tentative.html
  css/css-text/white-space/seg-break-transformation-018.tentative.html
  css/css-text/white-space/seg-break-transformation-019.tentative.html
Labels: css-text

#26581 Update Safari Technology Preview to 116
  infrastructure/metadata/infrastructure/testdriver/actions/eventOrder.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseFirstPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseSecondPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsTwoTouchStarts.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#26442 Added a 'column-fill: auto' and 'widows' test
  css/css-break/reference/widows-001-ref.html
  css/css-break/widows-001.html
Labels: css-break, status:needs-reviewers

#26590 Update interfaces/web-nfc.idl and test
  interfaces/web-nfc.idl
  web-nfc/idlharness.https.window.js
Labels: interfaces, web-nfc

#26252 [Taskcluster] Switch wpt run on CI to Python 3 only
  tools/ci/taskcluster-run.py
Labels: ci, infra, python3

#25044 [Azure Pipelines] Use Python 3.8.x for Safari test-suite runs
  .azure-pipelines.yml
Labels: Azure Pipelines

#26615 [Python3] Make echo-content-escaped.py py3-compliant
  FileAPI/file/resources/echo-content-escaped.py
Labels: FileAPI, python3, wg-webapps

#26617 New flex aspect ratio test
  css/css-flexbox/flex-aspect-ratio-img-row-014.html
  css/css-flexbox/reference/flex-aspect-ratio-img-row-014-ref.html
Labels: css-flexbox, wg-css

#26500 Remove ResponseWriter.flush() and explicit_flush
  element-timing/resources/progressive-image.py
  eventsource/resources/message2.py
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/moving-between-documents-iframe.py
  resource-timing/SyntheticResponse.py
  service-workers/service-worker/navigation-preload/resources/chunked-encoding-scope.py
  service-workers/service-worker/resources/invalid-chunked-encoding-with-flush.py
  tools/wptserve/wptserve/response.py
  xhr/resources/echo-method.py
Labels: element-timing, eventsource, html, infra, resource-timing, service-workers, wg-sw, wg-webapps, wg-webperf, wptserve, xhr

#26391 Python3: Use http.client.HTTPMessage.raw_items() to get header fields
  xhr/resources/inspect-headers.py
Labels: python3, xhr

#26644 [merchant-validation] Rename an incorrectly named test
  merchant-validation/constructor.tentative.http.html
Labels: merchant-validation

#26619 Remove annotated-spec-related functionality from canvas tests
  html/canvas/tools/current-work-canvas.xhtml
  html/canvas/tools/gentestutils.py
  html/canvas/tools/spec.yaml
  html/canvas/tools/specextract.py
Labels: html

#26645 Fix echo-content-escaped.py again
  FileAPI/file/resources/echo-content-escaped.py
Labels: FileAPI, wg-webapps

#26643 Update url/resources/percent-encoding.py to work on Python 3
  url/resources/percent-encoding.py
Labels: url

#26646 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#26655 Fix echo-content-escaped.py for real
  FileAPI/file/resources/echo-content-escaped.py
Labels: FileAPI, wg-webapps

#26657 Add test to check scrollable overflow of abspos elements
  css/css-position/positon-absolute-scrollable-overflow-001.html
Labels: css-position

#26659 Fix positon-absolute-scrollable-overflow-001.html
  css/css-position/positon-absolute-scrollable-overflow-001.html
Labels: css-position

#26674 [wptrunner/chromium] De-dupe merged expected statuses
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner
