Repository web-platform-tests/wpt, pull requests merged in 2020-04, with the labels that each got.

#22593 Remove incorrect test
  css/css-backgrounds/background-border-collapsed-gradient.html
  css/css-backgrounds/reference/background-border-collapsed-gradient-ref.html
Labels: css-backgrounds, wg-css

#22592 Convert files from UTF-16 to UTF-8
  css/css-backgrounds/border-image-shorthand-001.htm
  css/css-backgrounds/border-image-shorthand-002.htm
  css/css-backgrounds/border-image-shorthand-003.htm
Labels: css-backgrounds, wg-css

#22568 Unit test for LogHandler
  tools/wptrunner/wptrunner/tests/test_stability.py
Labels: infra, wptrunner

#22552 Added 6 hyphens tests and 4 references
  css/css-text/hyphens/hyphens-auto-inline-010.html
  css/css-text/hyphens/hyphens-manual-inline-010.html
  css/css-text/hyphens/hyphens-manual-inline-011.html
  css/css-text/hyphens/hyphens-manual-inline-012.html
  css/css-text/hyphens/hyphens-none-012.html
  css/css-text/hyphens/hyphens-none-013.html
  css/css-text/hyphens/reference/hyphens-auto-inline-010-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-010-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-011-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-012-ref.html
Labels: css-text

#22640 Fixing spec links in tests
  css/css-text-decor/text-decoration-style-multiple.html
  css/css-text-decor/text-decoration-style-recalc.html
Labels: wg-css

#22639 Fix more spec links
  css/css-transitions/transition-background-position-with-edge-offset.html
  css/css-transitions/transitioncancel-001.html
  css/css-ui/outline-023.html
  css/geometry/DOMPoint-001.html
  css/geometry/DOMQuad-001.html
Labels: css-transitions, css-ui, geometry

#22636 dom/events/Event-dispatch-redispatch.html emits exact text metrics
  dom/events/Event-dispatch-redispatch.html
Labels: dom

#22641 Adjust assert in css-text tests to be more specific
  css/css-text/line-breaking/line-breaking-009.html
  css/css-text/line-breaking/line-breaking-010.html
  css/css-text/line-breaking/line-breaking-011.html
  css/css-text/line-breaking/line-breaking-ic-001.html
  css/css-text/line-breaking/line-breaking-ic-002.html
  css/css-text/line-breaking/line-breaking-ic-003.html
Labels: css-text, wg-css

#22635 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#21135 Form constraint validation
  html/semantics/forms/constraints/form-validation-validity-patternMismatch.html
  html/semantics/forms/constraints/radio-valueMissing.html
Labels: html, servo-export

#22649 Update interfaces/intersection-observer.idl
  interfaces/intersection-observer.idl
Labels: interfaces

#22557 webrtc: add third-party sdp module
  webrtc/third_party/README.md
  webrtc/third_party/sdp/LICENSE
  webrtc/third_party/sdp/sdp.js
Labels: webrtc, wg-webrtc

#22643 Python3: Use explicit relative imports to support Python 2 and Python 3
  webdriver/tests/support/__init__.py
Labels: webdriver, wg-testing_browser

#22293 service worker: Fix fetch-event-handled-worker.js
  service-workers/service-worker/fetch-event-handled.https.html
  service-workers/service-worker/resources/fetch-event-handled-worker.js
Labels: service-workers, wg-sw

#22567 Test GET + Cors combination in assorted.window.js
  fetch/origin/assorted.window.js
Labels: fetch

#22698 Fix css/css-flexbox/reference/flexitem-stretch-range-ref.html
  css/css-flexbox/reference/flexitem-stretch-range-ref.html
Labels: css-flexbox, wg-css

#22693 css-flexbox/auto-margins-001.html: Use Ahem font for alignment tests.
  css/css-flexbox/auto-margins-001-ref.html
  css/css-flexbox/auto-margins-001.html
Labels: css-flexbox, wg-css

#22700 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#22701 Fix #22692: Workaround Safari failures for stable after 13.1 release
  .azure-pipelines.yml
Labels: Azure Pipelines

#22716 Improve the logging when a server fails to start.
  tools/serve/serve.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptserve/wptserve/server.py
Labels: infra, mozilla:gecko-blocked, serve, wptrunner, wptserve

#22731 Remove obsolete kExprEnd from Wasm function body
  wasm/jsapi/table/grow-reftypes.tentative.any.js
Labels: wasm

#22732 Unit tests for markdown.py
  tools/wpt/tests/test_markdown.py
Labels: infra, wpt

#22727 Upstream dom/ tests from jsdom
  dom/attributes-are-nodes.html
  dom/collections/HTMLCollection-iterator.html
  dom/events/Event-stopImmediatePropagation.html
  dom/events/EventTarget-add-listener-platform-object.html
  dom/events/EventTarget-add-remove-listener.html
  dom/events/EventTarget-this-of-listener.html
  dom/nodes/Document-createCDATASection.html
  dom/nodes/Document-createCDATASection.xhtml
  dom/nodes/DocumentFragment-constructor.html
  dom/nodes/DocumentFragment-getElementById.html
  dom/nodes/DocumentFragment-querySelectorAll-after-modification.html
  dom/nodes/Element-hasAttribute.html
  dom/nodes/Element-matches-namespaced-elements.html
  dom/nodes/Element-removeAttribute.html
  dom/nodes/Element-setAttribute.html
  dom/nodes/Element-tagName.html
  dom/nodes/Node-cloneNode-XMLDocument.html
  dom/nodes/Node-cloneNode-document-with-doctype.html
  dom/nodes/Node-cloneNode-external-stylesheet-no-bc.sub.html
  dom/nodes/Node-cloneNode-svg.html
  dom/nodes/Node-isConnected-shadow-dom.html
  dom/nodes/Node-mutation-adoptNode.html
  dom/nodes/ParentNode-querySelector-case-insensitive.html
  dom/nodes/ParentNode-querySelector-escapes.html
  dom/nodes/ParentNode-querySelector-scope.html
  dom/nodes/ParentNode-querySelectorAll-removed-elements.html
  dom/nodes/ParentNode-querySelectors-exclusive.html
  dom/nodes/ParentNode-querySelectors-namespaces.html
  dom/nodes/ParentNode-querySelectors-space-and-dash-attribute-value.html
  dom/nodes/Text-wholeText.html
  dom/nodes/attributes-namednodemap.html
  dom/nodes/getElementsByClassName-32.html
  dom/nodes/getElementsByClassName-empty-set.html
  dom/nodes/getElementsByClassName-whitespace-class-names.html
  dom/nodes/svg-template-querySelector.html
  dom/window-extends-event-target.html
Labels: dom

#22704 test for dynamic shipping options
  payment-request/dynamically-change-shipping-options-manual.https.html
Labels: payment-request, wg-payments

#22767 [payment-request] Stop sending requests to wpt.fyi
  feature-policy/payment-allowed-by-feature-policy.https.sub.html
  payment-method-id/payment-request-ctor-pmi-handling.https.sub.html
  payment-request/payment-request-constructor.https.sub.html
  payment-request/payment-request-ctor-currency-code-checks.https.sub.html
  payment-request/payment-request-ctor-pmi-handling.https.sub.html
Labels: feature-policy, payment-method-id, payment-request, wg-payments, wg-webappsec

#15501 Revert "Remove PaymentAddress.regionCode tests"
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
  payment-request/historical.https.html
Labels: do not merge yet, payment-request, wg-payments

#22780 Test for csswg issue 4741
  css/css-contain/contain-size-063.html
  css/css-contain/reference/contain-size-063-ref.html
Labels: css-text, wg-css

#22712 New unit test for the screenshot formatter
  tools/wptrunner/wptrunner/tests/test_formatters.py
Labels: infra, wptrunner

#22774 Update interfaces/css-typed-om.idl
  interfaces/css-typed-om.idl
Labels: interfaces

#22775 Update interfaces/permissions.idl
  interfaces/permissions.idl
Labels: interfaces

#22776 Update interfaces/worklets.idl
  interfaces/worklets.idl
Labels: interfaces

#22532 Unit tests for err_string()
  tools/wptrunner/wptrunner/tests/test_stability.py
Labels: infra, mozilla:gecko-blocked, wptrunner

#22768 Add test for scrollend of programmatic scroll
  dom/events/scrolling/scrollend-event-fired-for-programmatic-scroll.html
  dom/events/scrolling/scrollend-event-fired-for-scrollIntoView.html
Labels: dom

#22760 Suppress hypothesis.HealtCheck.too_slow on Python 3
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#22766 Add crashtest support to Safari
  tools/wptrunner/wptrunner/browsers/safari.py
Labels: infra, wptrunner

#22762 flexbox-with-multi-column-property.html: set "font-kerning: none;"
  css/css-flexbox/flexbox-with-multi-column-property.html
Labels: css-flexbox, wg-css

#21521 Added 1 ::selection test with &Tab; control characters
  css/css-pseudo/active-selection-063.html
  css/css-pseudo/reference/ref-filled-green-100px-square.xht
Labels: css-pseudo

#22794 Update Safari Technology Preview to 104
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#22816 Align crashtests documentation with the RFC and code
  docs/writing-tests/crashtest.md
Labels: docs

#22800 Update interfaces/video-raf.idl
  interfaces/video-raf.idl
Labels: interfaces

#22827 Update interfaces/event-timing.idl
  interfaces/event-timing.idl
Labels: interfaces

#22458 [css-text] Following up on #22309
  css/css-text/line-break/line-break-normal-015a.xht
  css/css-text/line-break/line-break-normal-015b.xht
  css/css-text/line-break/line-break-strict-015a.xht
  css/css-text/line-break/line-break-strict-015b.xht
  css/css-text/line-break/reference/line-break-normal-015a-ref.xht
  css/css-text/line-break/reference/line-break-normal-015b-ref.xht
  css/css-text/line-break/reference/line-break-strict-015a-ref.xht
  css/css-text/line-break/reference/line-break-strict-015b-ref.xht
Labels: css-text, wg-css

#22873 fix broken link in writing-tests/index.md
  docs/writing-tests/index.md
Labels: docs

#22876 tests for clearTimeout and clearInterval to clear any type of timer
  html/webappapis/timers/cleartimeout-clearinterval.any.js
Labels: html

#22858 Python 3: Add key "Content-Type" check for python 3 in webdriver test
  webdriver/tests/support/asserts.py
Labels: webdriver, wg-testing_browser

#22869 fix specificity subtest in css/selectors/invalidation/is.html
  css/selectors/invalidation/is.html
Labels: selectors

#22851 Extend webxr idlharness tests
  webxr/ar-module/idlharness.https.window.js
  webxr/idlharness.https.window.js
Labels: webxr, wg-immersive-web

#22714 Python 3: Improve webdriver tests compatibility with Python 3
  webdriver/tests/add_cookie/add.py
  webdriver/tests/execute_async_script/collections.py
  webdriver/tests/execute_script/collections.py
  webdriver/tests/get_alert_text/get.py
  webdriver/tests/get_current_url/get.py
  webdriver/tests/get_named_cookie/get.py
  webdriver/tests/new_session/create_alwaysMatch.py
  webdriver/tests/new_session/create_firstMatch.py
  webdriver/tests/new_session/invalid_capabilities.py
  webdriver/tests/new_session/response.py
  webdriver/tests/perform_actions/support/keys.py
  webdriver/tests/status/status.py
  webdriver/tests/support/asserts.py
  webdriver/tests/support/authentication.py
  webdriver/tests/support/fixtures.py
  webdriver/tests/support/http_request.py
  webdriver/tests/support/image.py
  webdriver/tests/support/inline.py
  webdriver/tests/switch_to_frame/cross_origin.py
  webdriver/tests/switch_to_frame/switch.py
Labels: webdriver, wg-testing_browser

#22877 [cssom] Test that CSSStyleDeclaration.cssText returns the empty string for computed style.
  css/cssom/cssstyledeclaration-csstext.html
Labels: cssom, wg-css

#22904 [cssom] Add a test for custom properties in getComputedStyle().
  css/cssom/cssstyledeclaration-custom-properties.html
Labels: cssom, wg-css

#21510 test for existence of contenteditable=plaintext-only
  contenteditable/META.yml
  contenteditable/plaintext-only.html
Labels: contenteditable, do not merge yet, status:needs-reviewers

#22853 Update interfaces/appmanifest.idl and test
  appmanifest/idlharness.window.js
  interfaces/appmanifest.idl
Labels: appmanifest, interfaces, wg-webapps

#22927 Python 3: Add platform_name returned in Linux for Python 3 support
  webdriver/tests/support/__init__.py
Labels: webdriver, wg-testing_browser

#22875 Move video-raf/ to video-rvfc/ and update IDL
  interfaces/video-rvfc.idl
  video-raf/META.yml
  video-raf/README.md
  video-rvfc/META.yml
  video-rvfc/README.md
  video-rvfc/idlharness.window.js
  video-rvfc/video-request-animation-frame-parallel.html
  video-rvfc/video-request-animation-frame-repeating.html
  video-rvfc/video-request-animation-frame.html
Labels: interfaces, video-raf, video-rvfc

#22935 Remove a non-ASCII character from #22927
  webdriver/tests/support/__init__.py
Labels: webdriver, wg-testing_browser

#22928 SharedArrayBuffer and blob:/data: worker follow-up
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/blob-data.https.html
Labels: html, infra, testharness.js

#22911 Add retry logic for downloading Chrome in TaskCluster
  tools/ci/run_tc.py
Labels: ci, infra

#22929 COEP requires a secure context
  html/cross-origin-embedder-policy/no-secure-context.html
  html/cross-origin-embedder-policy/no-secure-context.html.headers
Labels: html

#22959 Move text-decoration property down to styled element
  css/css-text-decor/reference/text-underline-position-from-font-variable-ref.html
  css/css-text-decor/text-underline-position-from-font-variable.html
Labels: css-text-decor

#22981 Make webdriver/tests/support changes trigger infrastructure/ tests
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
Labels: ci, infra, webdriver, wg-testing_browser

#22984 Update interfaces/webauthn.idl
  interfaces/webauthn.idl
Labels: interfaces

#22976 Cleanup on width-keyword-classes.css
  css/support/width-keyword-classes.css
Labels: support

#22989 Test that lspace/rspace/minsize/maxsize are relative to the core oper…
  mathml/presentation-markup/operators/mo-font-relative-lengths-001.html
Labels: mathml, status:needs-reviewers, wg-math

#22943 Further suppress hypothesis health checks
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#22699 Implement assert_implements and assert_implements_optional
  docs/writing-tests/testharness-api.md
  fetch/metadata/portal.https.sub.html
  html/semantics/embedded-content/the-video-element/resize-during-playback.html
  resources/test/tests/unit/assert_implements.html
  resources/test/tests/unit/assert_implements_optional.html
  resources/test/tests/unit/assert_object_equals.html
  resources/test/tests/unit/helpers.js
  resources/testharness.js
Labels: docs, fetch, html, infra, testharness.js

#23006 Replace assert_precondition with assert_implements in largest-contentful-paint/
  largest-contentful-paint/contracted-image.html
  largest-contentful-paint/cross-origin-image.sub.html
  largest-contentful-paint/expanded-image.html
  largest-contentful-paint/first-letter-background.html
  largest-contentful-paint/first-paint-equals-lcp-text.html
  largest-contentful-paint/iframe-content-not-observed.html
  largest-contentful-paint/image-src-change.html
  largest-contentful-paint/larger-image.html
  largest-contentful-paint/larger-text.html
  largest-contentful-paint/loadTime-after-appendChild.html
  largest-contentful-paint/multiple-redirects-TAO.html
  largest-contentful-paint/observe-after-untrusted-scroll.html
  largest-contentful-paint/observe-image.html
  largest-contentful-paint/observe-text.html
  largest-contentful-paint/redirects-tao-star.html
  largest-contentful-paint/repeated-image.html
  largest-contentful-paint/resources/invisible-images.js
  largest-contentful-paint/same-origin-redirects.html
  largest-contentful-paint/text-with-display-style.html
  largest-contentful-paint/toJSON.html
  largest-contentful-paint/video-poster.html
Labels: largest-contentful-paint, status:needs-reviewers

#23005 Replace assert_precondition with assert_implements in layout-instability/
  layout-instability/buffer-layout-shift.html
  layout-instability/buffered-flag.html
  layout-instability/recent-input.html
  layout-instability/supported-layout-type.html
  layout-instability/toJSON.html
Labels: layout-instability, status:needs-reviewers

#23020 Remove a missed assert_precondition in event-timing/
  event-timing/supported-types.window.js
Labels: event-timing

#23001 Update interfaces/netinfo.idl
  interfaces/netinfo.idl
Labels: interfaces

#23021 Replace assert_precondition with assert_implements in speech-api/
  speech-api/historical.html
Labels: speech-api

#22955 Improving hyphens-auto-inline-010 related files
  css/css-text/hyphens/hyphens-auto-inline-010.html
  css/css-text/hyphens/reference/hyphens-auto-inline-010H-ref.html
  css/css-text/hyphens/reference/hyphens-auto-inline-010M-ref.html
Labels: css-text

#23025 Remove uses of precondition_failed in html/
  html/rendering/widgets/baseline-alignment-and-overflow.tentative.html
Labels: html

#22956 Improving hyphens-manual-[011-013] related files
  css/css-text/hyphens/hyphens-manual-011.html
  css/css-text/hyphens/hyphens-manual-012.html
  css/css-text/hyphens/hyphens-manual-013.html
  css/css-text/hyphens/reference/hyphens-manual-011H-ref.html
  css/css-text/hyphens/reference/hyphens-manual-011M-ref.html
  css/css-text/hyphens/reference/hyphens-manual-013H-ref.html
  css/css-text/hyphens/reference/hyphens-manual-013M-ref.html
Labels: css-text

#22957 Improving hyphens-manual-inline-[011-012] related files
  css/css-text/hyphens/hyphens-manual-inline-011.html
  css/css-text/hyphens/hyphens-manual-inline-012.html
  css/css-text/hyphens/reference/hyphens-manual-inline-011H-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-011M-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-012H-ref.html
  css/css-text/hyphens/reference/hyphens-manual-inline-012M-ref.html
Labels: css-text

#23024 Replace assert_precondition with assert_implements in workers/
  workers/modules/shared-worker-parse-error-failure.html
Labels: wg-webapps, workers

#22553 Added 6 break-spaces and new line tests
  css/css-text/white-space/break-spaces-newline-011.html
  css/css-text/white-space/break-spaces-newline-012.html
  css/css-text/white-space/break-spaces-newline-013.html
  css/css-text/white-space/break-spaces-newline-014.html
  css/css-text/white-space/break-spaces-newline-015.html
  css/css-text/white-space/break-spaces-newline-016.html
Labels: css-text

#23046 Update links for cramped and remove OOF tests for them.
  mathml/presentation-markup/scripts/cramped-001.html
Labels: mathml, status:needs-reviewers, wg-math

#22995 [css-grid] Grid align baseline tests
  css/css-grid/alignment/grid-align-baseline-vertical.html
  css/css-grid/alignment/grid-align-baseline.html
Labels: css-grid

#6351 [css-flex] Changes to test suite after review of files
  css/css-flexbox/flex-align-items-center.html
  css/css-flexbox/flex-items-flexibility.html
  css/css-flexbox/flexbox_generated-flex.html
  css/css-flexbox/flexbox_generated-nested-flex.html
  css/css-flexbox/flexbox_generated.html
  css/css-flexbox/flexbox_margin-auto-overflow-2-ref.html
  css/css-flexbox/flexbox_margin-auto-overflow-2.html
  css/css-flexbox/flexbox_margin-collapse.html
  css/css-flexbox/flexbox_margin-left-ex.html
  css/css-flexbox/reference/flex-align-items-center-ref.html
  css/css-flexbox/reference/flex-items-flexibility.html
  css/css-flexbox/visibility-collapse-001.htm
  css/css-flexbox/visibility-collapse-002.htm
Labels: css-flexbox, stale:awaiting-review, status:needs-reviewers, wg-css

#21967 Adding 8 white-space-instrinsic-size tests
  css/css-text/white-space/white-space-intrinsic-size-013.html
  css/css-text/white-space/white-space-intrinsic-size-014.html
  css/css-text/white-space/white-space-intrinsic-size-015.html
  css/css-text/white-space/white-space-intrinsic-size-016.html
  css/css-text/white-space/white-space-intrinsic-size-017.html
  css/css-text/white-space/white-space-intrinsic-size-018.html
  css/css-text/white-space/white-space-intrinsic-size-019.html
  css/css-text/white-space/white-space-intrinsic-size-020.html
Labels: css-text

#23056 Add MathML tests for dynamic repaint due to color changes.
  mathml/relations/css-styling/color-001.html
  mathml/relations/css-styling/color-002.html
  mathml/relations/css-styling/color-003.html
  mathml/relations/css-styling/color-004.html
Labels: mathml, status:needs-reviewers, wg-math

#23073 Update MathML cramped tests to match the updated specification
  mathml/presentation-markup/scripts/cramped-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23079 [performance-timeline] simplify idlharness.js test signficantly
  performance-timeline/idlharness.any.js
Labels: performance-timeline, wg-webperf

#23093 Add MathML dynamic tests for stretchy, symmetric, largeop, minsize an…
  mathml/presentation-markup/operators/mo-stretch-properties-dynamic-001.html
Labels: mathml, status:needs-reviewers, wg-math

#23085 Add MathML reftests for dynamic modification of form/lspace/rspace at…
  mathml/presentation-markup/operators/mo-form-dynamic-002-ref.html
  mathml/presentation-markup/operators/mo-form-dynamic-002.html
  mathml/presentation-markup/operators/mo-lspace-rspace-dynamic-ref.html
  mathml/presentation-markup/operators/mo-lspace-rspace-dynamic.html
Labels: mathml, status:needs-reviewers, wg-math

#23083 Add MathML tests for dynamic visibility change.
  mathml/relations/css-styling/visibility-001.html
  mathml/relations/css-styling/visibility-002.html
  mathml/relations/css-styling/visibility-003.html
  mathml/relations/css-styling/visibility-004.html
Labels: mathml, status:needs-reviewers, wg-math

#23094 allowing the body to shrink when necessary on mobile
  docs/assets/custom.css
Labels: docs

#23103 [css-ruby] tests for https://github.com/w3c/csswg-drafts/issues/4631
  css/css-ruby/empty-ruby-base-container-abs.html
  css/css-ruby/empty-ruby-base-container-float.html
  css/css-ruby/empty-ruby-text-container-abs.html
  css/css-ruby/empty-ruby-text-container-float.html
Labels: css-ruby, wg-css

#22843 [css-ruby] Test for M/B/P around base/annotation container boxes
  css/css-ruby/ruby-box-model-001-ref.html
  css/css-ruby/ruby-box-model-001.html
Labels: css-ruby

#23008 Replace assert_precondition with assert_implements in credential-management/
  credential-management/federatedcredential-framed-get.sub.https.html
  credential-management/passwordcredential-framed-get.sub.https.html
Labels: credential-management

#23023 Replace assert_precondition with assert_equals in native-io/
  native-io/close_async.tentative.https.any.js
  native-io/close_sync.tentative.https.any.js
  native-io/concurrent_io_async.tentative.https.any.js
Labels: native-io

#23096 Allow wpt.py to be called from outside the WPT directory
  wpt.py
Labels: infra

#23098 "ownership" of a SpeechSynthesisUtterance is not defined by the specification
  speech-api/SpeechSynthesis-speak-ownership.html
Labels: speech-api

#23092 Update interfaces/pointerevents.idl and test
  interfaces/pointerevents.idl
  pointerevents/idlharness.window.js
Labels: interfaces, pointerevents, wg-pointerevents

#22524 Add tests for ParentNode#replaceChildren
  dom/nodes/Node-insertBefore.html
  dom/nodes/Node-replaceChild.html
  dom/nodes/ParentNode-append.html
  dom/nodes/ParentNode-prepend.html
  dom/nodes/ParentNode-replaceChildren.html
  dom/nodes/pre-insertion-validation-hierarchy.js
  dom/nodes/pre-insertion-validation-notfound.js
Labels: dom

#22678 HTML: remove title argument for registerProtocolHandler()
  html/webappapis/system-state-and-capabilities/the-navigator-object/historical.https.window.js
Labels: do not merge yet, html, status:needs-spec-decision

#23118 *.any.js: add EOF newlines
  IndexedDB/blob-valid-after-deletion.any.js
  IndexedDB/blob-valid-before-commit.any.js
  IndexedDB/key-generators/reading-autoincrement-indexes-cursors.any.js
  IndexedDB/key-generators/reading-autoincrement-store-cursors.any.js
  IndexedDB/key-generators/reading-autoincrement-store.any.js
  cookie-store/cookieStore_delete_insecure.tentative.https.any.js
  cookie-store/cookieStore_get_delete_basic.tentative.https.any.js
  device-memory/device-memory.https.any.js
  native-file-system/sandboxed_FileSystemBaseHandle-IndexedDB.tentative.https.any.js
  performance-timeline/webtiming-resolution.any.js
  resource-timing/buffered-flag.any.js
  service-workers/service-worker/ServiceWorkerGlobalScope/fetch-on-the-right-interface.https.any.js
  xhr/event-abort.any.js
  xhr/event-error.sub.any.js
  xhr/event-load.any.js
  xhr/event-loadend.any.js
  xhr/event-loadstart-upload.any.js
  xhr/event-loadstart.any.js
  xhr/event-progress.any.js
  xhr/event-readystate-sync-open.any.js
  xhr/event-readystatechange-loaded.any.js
  xhr/event-timeout-order.any.js
  xhr/event-timeout.any.js
  xhr/event-upload-progress-crossorigin.any.js
  xhr/event-upload-progress.any.js
Labels: IndexedDB, cookie-store, device-memory, native-file-system, performance-timeline, resource-timing, service-workers, wg-sw, wg-webapps, wg-webperf, xhr

#22832 Add interfaces/page-lifecycle.idl and test
  interfaces/page-lifecycle.idl
  page-lifecycle/idlharness.html
Labels: interfaces, page-lifecycle

#21321 Remove instances of 'whitelist' in content-security-policy/
  content-security-policy/embedded-enforcement/subsumption_algorithm-unsafe_inline.html
  content-security-policy/script-src/script-src-sri_hash.sub.html
  content-security-policy/script-src/script-src-strict_dynamic_discard_source_expressions.html
  content-security-policy/script-src/script-src-strict_dynamic_discard_source_expressions.html.headers
  content-security-policy/script-src/script-src-strict_dynamic_double_policy_honor_source_expressions.html
  content-security-policy/script-src/script-src-strict_dynamic_double_policy_honor_source_expressions.html.headers
  content-security-policy/script-src/script-src-strict_dynamic_in_img-src.html
  content-security-policy/style-src/stylenonce-allowed.sub.html
  content-security-policy/worker-src/dedicated-worker-src-child-fallback.sub.html
  content-security-policy/worker-src/dedicated-worker-src-self-fallback.sub.html
  content-security-policy/worker-src/service-worker-src-child-fallback.https.sub.html
  content-security-policy/worker-src/service-worker-src-self-fallback.https.sub.html
  content-security-policy/worker-src/shared-worker-src-child-fallback.sub.html
  content-security-policy/worker-src/shared-worker-src-self-fallback.sub.html
Labels: content-security-policy

#22836 Add interfaces/hit-test.idl and test
  hit-test/idlharness.https.html
  interfaces/hit-test.idl
Labels: hit-test, interfaces

#23116 MIME Sniffing: tests for MIME type groups
  mimesniff/mime-types/README.md
  mimesniff/mime-types/resources/mime-groups.json
Labels: mimesniff

#23120 Use python binary to run multiprocess tests.
  tools/wptrunner/wptrunner/executors/executorservodriver.py
Labels: infra, servo-export, wptrunner

#23031 Add WebKit support for WebXR tests
  lint.whitelist
  webxr/resources/webxr_util.js
Labels: infra, webxr, wg-immersive-web

#22424 Add a test for unexpected activation triggered during space keydown driven focus management
  uievents/order-of-events/focus-events/focus-management-expectations.html
Labels: uievents, wg-webapps

#23132 Make transition in FCP test faster, otherwise test is slow
  paint-timing/fcp-only/fcp-invisible-scale-transition.html
Labels: paint-timing, wg-webperf

#23138 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#23088 [cssom] Add a test for enumeration of logical props in getComputedStyle.
  css/cssom/getComputedStyle-logical-enumeration.html
Labels: cssom, wg-css

#23022 Replace assert_precondition with assert_implements in vibration/
  vibration/invalid-values.html
Labels: vibration, wg-das

#23147 Update interfaces/hit-test.idl
  interfaces/hit-test.idl
Labels: interfaces

#23149 Rename a bunch of older idlharness test
  WebIDL/idlharness.html
  clipboard-apis/async-idlharness.https.html
  css/geometry/idlharness.html
  css/geometry/idlharness.worker.js
  entries-api/idlharness-manual.html
  entries-api/idlharness.html
  eventsource/idlharness.html
  service-workers/service-worker/idlharness-sw.https.html
  service-workers/service-worker/idlharness-window.https.html
  service-workers/service-worker/resources/idlharness-worker.sub.js
  webdriver/tests/idlharness.html
Labels: WebIDL, clipboard-apis, entries-api, eventsource, geometry, service-workers, webdriver, wg-sw, wg-testing_browser, wg-webapps, wg-webplatform

#19632 Scripts moved between documents
  html/semantics/scripting-1/the-script-element/moving-between-documents/README.md
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-createHTMLDocument-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-parse-error-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/after-prepare-iframe-success-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-parse-error-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-parse-error-inline-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-success-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-createHTMLDocument-success-inline-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-parse-error-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-parse-error-inline-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-success-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/before-prepare-iframe-success-inline-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-createHTMLDocument-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-fetch-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-fetch-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-parse-error-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-parse-error-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-parse-error-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-success-external-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-success-external-module.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/move-back-iframe-success-inline-classic.html
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/moving-between-documents-helper.js
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/moving-between-documents-iframe.py
  html/semantics/scripting-1/the-script-element/moving-between-documents/resources/slow-flag-setter.py
  html/semantics/scripting-1/the-script-element/moving-between-documents/tools/generate.py
  html/semantics/scripting-1/the-script-element/resources/flag-setter.js
Labels: html, infra, status:needs-reviewers

#23112 Wasm: test SharedArrayBuffer-ness in another way
  wasm/jsapi/memory/grow.any.js
Labels: wasm

#23127 Update interfaces/DOM-Parsing.idl
  interfaces/DOM-Parsing.idl
Labels: interfaces

#23172 Wasm: ensure expected results are booleans
  wasm/jsapi/memory/grow.any.js
Labels: wasm

#23164 XHR: align with Fetch's Content-Type stripping
  xhr/send-redirect-to-cors.htm
Labels: xhr

#23171 Add MathML tests for color/visibility of normal, large and stretchy mo.
  mathml/relations/css-styling/color-005-ref.html
  mathml/relations/css-styling/color-005.html
  mathml/relations/css-styling/visibility-005-ref.html
  mathml/relations/css-styling/visibility-005.html
Labels: mathml, status:needs-reviewers, wg-math

#23007 Replace assert_precondition with assert_equals in domparsing/
  domparsing/DOMParser-parseFromString-encoding.html
Labels: domparsing

#23166 Add support for canceling CSS transitions
  css/css-transitions/transitioncancel-002.html
Labels: css-transitions, servo-export

#23170 css-flexbox: convert 7 manual-tests to ref-tests
  css/css-flexbox/align-content_center.html
  css/css-flexbox/align-content_flex-end.html
  css/css-flexbox/align-content_flex-start.html
  css/css-flexbox/align-content_space-around.html
  css/css-flexbox/align-content_space-between.html
  css/css-flexbox/align-content_stretch.html
  css/css-flexbox/flexbox-order-only-flexitems.html
  css/css-flexbox/reference/align-content_center-ref.html
  css/css-flexbox/reference/align-content_flex-end-ref.html
  css/css-flexbox/reference/align-content_flex-start-ref.html
  css/css-flexbox/reference/align-content_space-around-ref.html
  css/css-flexbox/reference/align-content_space-between-ref.html
  css/css-flexbox/reference/align-content_space-stretch-ref.html
  css/css-flexbox/reference/flexbox-order-only-flexitems-ref.html
Labels: css-flexbox, wg-css

#23121 Meta: remove need for !worker in workers/ tests
  workers/modules/shared-worker-import-blob-url.window.js
  workers/modules/shared-worker-import-data-url.window.js
  workers/modules/shared-worker-import.window.js
Labels: wg-webapps, workers

#23131 Wait for resource to be fetched completely
  fetch/stale-while-revalidate/fetch.html
Labels: fetch

#23202 Add a test checking that deviceId is empty before getUserMedia is called
  mediacapture-streams/MediaDevices-enumerateDevices.https.html
Labels: mediacapture-streams, wg-webrtc

#23204 Move hit-test idlharness to webxr/hit-test
  webxr/hit-test/idlharness.https.html
Labels: webxr, wg-immersive-web

#23187 [taskcluster] Increase retries and wait time
  tools/ci/run_tc.py
Labels: ci, infra

#23190 Add python3 and python3-pip to the docker image
  .taskcluster.yml
  tools/docker/Dockerfile
  tools/docker/README.md
Labels: Taskcluster, docker, infra

#23140 Test new Web IDL class string behavior
  WebIDL/ecmascript-binding/class-string-interface.any.js
  WebIDL/ecmascript-binding/class-string-iterator-prototype-object.any.js
  WebIDL/ecmascript-binding/class-string-named-properties-object.window.js
  WebIDL/ecmascript-binding/interface-prototype-object.html
  WebIDL/ecmascript-binding/iterator-prototype-object.html
  html/browsers/the-window-object/window-prototype-chain.html
Labels: WebIDL, html, wg-webplatform

#23189 Add assert_precondition to the lint
  lint.whitelist
  tools/lint/lint.py
  tools/lint/rules.py
Labels: infra, lint

#23129 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#23197 Update interfaces/cssom.idl
  interfaces/cssom.idl
Labels: interfaces

#23208 [taskcluster] Actually use the new image in tests
  tools/ci/tc/tasks/test.yml
  tools/docker/README.md
Labels: ci, docker, infra

#23205 WASM JS API: Test new Web IDL class string behavior
  wasm/jsapi/error-interfaces-no-symbol-tostringtag.js
  wasm/jsapi/global/toString.any.js
  wasm/jsapi/instance/toString.any.js
  wasm/jsapi/memory/toString.any.js
  wasm/jsapi/module/toString.any.js
  wasm/jsapi/table/toString.any.js
Labels: wasm

#23209 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#23176 XHR: correct 303 redirect logic
  xhr/send-redirect-to-cors.htm
Labels: xhr

#23219 Update interfaces/pointerevents.idl
  interfaces/pointerevents.idl
Labels: interfaces

#22833 WASM JS API: Test cross-realm default [[Prototype]] value
  wasm/jsapi/proto-from-ctor-realm.html
Labels: wasm

#23150 Update interfaces/html.idl
  interfaces/html.idl
  resources/idlharness.js
Labels: idlharness.js, infra, interfaces

#22145 Use assert_implements in test the-input-element/type-change-state.html
  html/semantics/forms/the-input-element/type-change-state.html
Labels: html

#23228 Update interfaces/webrtc-stats.idl
  interfaces/webrtc-stats.idl
Labels: interfaces

#23245 Replace assert_precondition in workers/
  lint.whitelist
  workers/modules/dedicated-worker-parse-error-failure.html
Labels: infra, wg-webapps, workers

#23240 Update two SVG tests to be consistent between browsers
  svg/import/pservers-grad-08-b-manual.svg
  svg/import/text-altglyph-01-b-manual.svg
Labels: svg, wg-svg

#23218 Update Safari Technology Preview to 105
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#23254 Fix mobile table
  docs/assets/custom.css
  docs/writing-tests/making-a-testing-plan.md
Labels: docs

#23207 Update interfaces/fullscreen.idl
  interfaces/fullscreen.idl
  resources/idlharness.js
Labels: idlharness.js, infra, interfaces

#23122 Update interfaces/event-timing.idl
  interfaces/event-timing.idl
Labels: interfaces

#23262 Fix invalid string escape
  tools/wpt/browser.py
Labels: infra, wpt

#23257 [wptserve] Fix an exception handler in stash
  tools/wptserve/wptserve/stash.py
Labels: infra, wptserve

#23256 URL: Percent encode NULLs in fragments
  url/resources/setters_tests.json
  url/resources/urltestdata.json
Labels: url

#23263 Update interfaces/payment-request.idl
  interfaces/payment-request.idl
Labels: interfaces

#22257 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#23200 Improve web engine detection in webxr_util.js
  webxr/resources/webxr_util.js
Labels: webxr, wg-immersive-web
