Repository web-platform-tests/wpt, pull requests merged in 2020-02, with the labels that each got.

#21540 Add some tests for Node IDL members on Attr objects
  dom/nodes/Node-baseURI.html
  dom/nodes/Node-cloneNode.html
  dom/nodes/Node-isSameNode.html
Labels: dom

#20306 HTML: Add a tentative test for input element's baseline alignment
  html/rendering/widgets/baseline-alignment-and-overflow.tentative.html
Labels: html

#21538 Update interfaces/cssom-view.idl
  interfaces/cssom-view.idl
Labels: interfaces

#21319 Remove instance of 'whitelist' in css/css-pseudo
  css/css-pseudo/first-letter-allowed-properties.html
Labels: css-pseudo

#21517 Update chromium log formatter to handle known_intermittent.
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner

#21558 Re-land pull_request_previews.yml workflow
  .github/workflows/pull_request_previews.yml
  tools/ci/pr_preview.py
Labels: GitHub Actions, ci, infra

#21561 Restore pull_request_previews.yml to use secrets.DEPLOY_TOKEN
  .github/workflows/pull_request_previews.yml
Labels: GitHub Actions

#21550 COEP: increase timeouts to reduce intermittents
  html/cross-origin-embedder-policy/require-corp.https.html
Labels: html

#21568 Update space-like tests.
  mathml/presentation-markup/spaces/space-like-001.html
  mathml/presentation-markup/spaces/space-like-002.html
  mathml/presentation-markup/spaces/space-like-003.html
Labels: mathml, status:needs-reviewers, wg-math

#21569 Bump testfiles manifest version to 8
  tools/wpt/tests/test_testfiles.py
Labels: infra, wpt

#21436 Make run_changed_files py3 friendly
  tools/wpt/testfiles.py
Labels: infra, wpt

#21388 Remove assert_throws use in js and wasm tests.
  js/builtins/Array.prototype.join-order.html
  js/builtins/Math.maxmin.js
  js/builtins/Object.prototype.hasOwnProperty-order.html
  wasm/jsapi/bad-imports.js
  wasm/jsapi/constructor/instantiate-bad-imports.any.js
  wasm/jsapi/instance/constructor-bad-imports.any.js
  wasm/jsapi/module/constructor.any.js
  wasm/webapi/instantiateStreaming-bad-imports.any.js
Labels: js, wasm

#21575 Make pull_request_previews.yml workflow only run on main repo
  .github/workflows/pull_request_previews.yml
Labels: GitHub Actions

#21576 Fix a typo in test_revlist.py
  tools/wpt/tests/test_revlist.py
Labels: infra, wpt

#21580 Fix test_testfiles.py to use new manifest format
  tools/wpt/tests/test_testfiles.py
Labels: infra, wpt

#21574 Do not create wptpr.live deployments for forks
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: ci, infra

#21577 Make test_get_epoch_revisions() python3 compatible
  tools/wpt/tests/test_revlist.py
Labels: infra, wpt

#21485 Add tests to verify origin headers sent by ping
  html/semantics/links/downloading-resources/header-origin-no-referrer-when-downgrade.html
  html/semantics/links/downloading-resources/header-origin-no-referrer.html
  html/semantics/links/downloading-resources/header-origin-origin-when-cross-origin.html
  html/semantics/links/downloading-resources/header-origin-origin.html
  html/semantics/links/downloading-resources/header-origin-same-origin.html
  html/semantics/links/downloading-resources/header-origin-strict-origin-when-cross-origin.html
  html/semantics/links/downloading-resources/header-origin-strict-origin.html
  html/semantics/links/downloading-resources/header-origin-unsafe-url.html
  html/semantics/links/downloading-resources/header-origin.html
  html/semantics/links/downloading-resources/header-origin.js
Labels: html, ping-attribute, status:needs-reviewers

#21588 html: Fix assert_array_equals usage in pseudo-classes
  html/semantics/selectors/pseudo-classes/utils.js
Labels: html

#21586 Fix metadata for http2-context.sub.h2.any.js.ini
  infrastructure/metadata/infrastructure/server/http2-context.sub.h2.any.js.ini
Labels: infra

#21495 Add interfaces/js-self-profiling.idl and test
  interfaces/js-self-profiling.idl
  js-self-profiling/idlharness.any.js
Labels: interfaces, js-self-profiling

#21494 Add interfaces/badging.idl and test
  badging/idlharness.any.js
  interfaces/badging.idl
Labels: badging, interfaces

#21478 Add interfaces/video-raf.idl and test
  interfaces/video-raf.idl
  video-raf/idlharness.window.js
Labels: interfaces, video-raf

#21489 Add interfaces/permissions-revoke.idl and test
  interfaces/permissions-revoke.idl
  permissions-revoke/idlharness.any.js
Labels: interfaces, permissions-revoke

#21492 Add interfaces/permissions-request.idl and test
  interfaces/permissions-request.idl
  permissions-request/idlharness.any.js
Labels: interfaces, permissions-request

#21603 Remove leftover code in tools/ci/pr_preview.py
  tools/ci/pr_preview.py
Labels: ci, infra

#21606 Update interfaces/cookie-store.idl
  interfaces/cookie-store.idl
Labels: interfaces

#21461 Remove interfaces/webrtc-dscp.idl
  interfaces/webrtc-dscp.idl
Labels: interfaces

#21427 Update interfaces/media-capabilities.idl
  interfaces/media-capabilities.idl
Labels: interfaces

#21420 Fix buggy testcase font-variant-position-01.html
  css/css-fonts/font-variant-position-01.html
Labels: css-fonts

#21619 Revert "Major new manifest version (v8): path trie edition"
  .azure-pipelines.yml
  tools/ci/azure/tox_pytest.yml
  tools/manifest/item.py
  tools/manifest/manifest.py
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_manifest.py
  tools/manifest/typedata.py
  tools/manifest/update.py
  tools/manifest/utils.py
  tools/wpt/tests/test_testfiles.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/tests/test_update.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
Labels: Azure Pipelines, ci, infra, manifest, wpt, wptrunner

#21627 Update Safari Technology Preview to 100
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#21230 COOP+COEP: javascript: URLs
  html/cross-origin-embedder-policy/coep-frame-javascript.https.html
  html/cross-origin-embedder-policy/javascript.https.html
  html/cross-origin-embedder-policy/javascript.https.html.headers
  html/cross-origin-embedder-policy/resources/coep-frame.html
  html/cross-origin-embedder-policy/resources/coep-frame.html.headers
Labels: html

#21626 [css-text] Adjust test cases to match css-wg resolution
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-loose.html
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-normal.html
  css/css-text/i18n/ja/css-text-line-break-ja-hyphens-strict.html
  css/css-text/i18n/other-lang/css-text-line-break-de-hyphens-loose.html
  css/css-text/i18n/other-lang/css-text-line-break-de-hyphens-normal.html
  css/css-text/i18n/other-lang/css-text-line-break-de-hyphens-strict.html
  css/css-text/i18n/unknown-lang/css-text-line-break-hyphens-loose.html
  css/css-text/i18n/unknown-lang/css-text-line-break-hyphens-normal.html
  css/css-text/i18n/unknown-lang/css-text-line-break-hyphens-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-hyphens-strict.html
  css/css-text/line-break/line-break-loose-013.xht
  css/css-text/line-break/line-break-loose-hyphens-001.html
  css/css-text/line-break/line-break-loose-hyphens-002.html
  css/css-text/line-break/line-break-loose-hyphens-003.html
  css/css-text/line-break/line-break-normal-013.xht
  css/css-text/line-break/line-break-normal-hyphens-001.html
  css/css-text/line-break/line-break-normal-hyphens-002.html
  css/css-text/line-break/line-break-normal-hyphens-003.html
  css/css-text/line-break/line-break-strict-013.xht
  css/css-text/line-break/line-break-strict-hyphens-001.html
  css/css-text/line-break/line-break-strict-hyphens-002.html
  css/css-text/line-break/line-break-strict-hyphens-003.html
  css/css-text/line-break/reference/line-break-loose-013-ref.xht
  css/css-text/line-break/reference/line-break-loose-hyphens-001-ref.html
  css/css-text/line-break/reference/line-break-loose-hyphens-002-ref.html
  css/css-text/line-break/reference/line-break-loose-hyphens-003-ref.html
  css/css-text/line-break/reference/line-break-normal-013-ref.xht
  css/css-text/line-break/reference/line-break-normal-hyphens-001-ref.html
  css/css-text/line-break/reference/line-break-normal-hyphens-002-ref.html
  css/css-text/line-break/reference/line-break-strict-013-ref.xht
  css/css-text/writing-system/reference/writing-system-line-break-001-ref.html
  css/css-text/writing-system/writing-system-line-break-001.html
Labels: css-text, wg-css

#21631 Use the correct URL for wptpr.live deployments
  tools/ci/pr_preview.py
Labels: ci, infra

#21641 Remove some randomness from error messages to make CI easier to do
  fetch/api/response/response-error-from-stream.html
Labels: fetch

#15548 Add a test for the URL used in DOMParser.
  domparsing/DOMParser-parseFromString-url-moretests.html
Labels: domparsing

#21601 Fix the SyntaxError expectations in filesystem tests
  native-file-system/script-tests/FileSystemWritableFileStream-write.js
Labels: native-file-system, status:needs-reviewers

#21630 Update interfaces/permissions-request.idl
  interfaces/permissions-request.idl
Labels: interfaces

#21649 [css-text] Correct misinterpretation of UAX14
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-001-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-002-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-003-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-004-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-005-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-006-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-007-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-008-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-009-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-010-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-011-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-012-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-013-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-014-ref.html
  css/css-text/white-space/reference/trailing-other-space-separators-break-spaces-015-ref.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-001.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-002.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-003.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-004.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-005.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-006.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-007.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-008.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-009.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-010.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-011.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-012.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-013.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-014.html
  css/css-text/white-space/trailing-other-space-separators-break-spaces-015.html
Labels: css-text, wg-css

#21306 Rewrite createImageBitmap-origin.sub.html using get_host_info
  2dcontext/imagebitmap/createImageBitmap-origin.sub.html
Labels: 2dcontext, wg-html

#21638 Stop using promise_rejects in wasm tests
  wasm/jsapi/constructor/compile.any.js
  wasm/jsapi/constructor/instantiate.any.js
  wasm/webapi/abort.any.js
  wasm/webapi/empty-body.any.js
  wasm/webapi/invalid-code.any.js
  wasm/webapi/rejected-arg.any.js
Labels: wasm

#21593 Make test_parse_epoch() py3 friendly
  tools/wpt/tests/test_revlist.py
Labels: infra, wpt

#19886 Use structured clone battery of tests for more
  html/infrastructure/safe-passing-of-structured-data/messagechannel.any.js
  html/infrastructure/safe-passing-of-structured-data/structured_clone_bigint.html
  html/infrastructure/safe-passing-of-structured-data/structured_clone_blob.window.js
  html/infrastructure/safe-passing-of-structured-data/structured_clone_blob_array.window.js
  html/infrastructure/safe-passing-of-structured-data/window-postmessage.window.js
  html/webappapis/structured-clone/structured-clone-battery-of-tests-harness.js
  html/webappapis/structured-clone/structured-clone-battery-of-tests.js
Labels: html

#21668 Test was pointing at wrong reftest
  svg/text/reftests/textpath-shape-001.svg
Labels: svg, wg-svg

#21667 foreignObject default size is 0, we must set it
  svg/render/reftests/blending-svg-foreign-object-ref.html
  svg/render/reftests/blending-svg-foreign-object.html
Labels: mozilla:gecko-blocked, svg, wg-svg

#21666 Reftest has word "green", not "blue"
  css/css-masking/clip-path/clip-path-element-userSpaceOnUse-003.html
Labels: css-masking, wg-css, wg-svg

#21635 Added "font-feature-settings" where we only had "-moz-font-feature-settings"
  css/css-fonts/alternates-order.html
Labels: css-fonts

#21684 Change descriptive text to match reftest
  css/css-text/line-breaking/line-breaking-replaced-005.html
Labels: css-text

#21665 Fixed copy-paste issue in URL passed to hixie.ch/delayed-file
  css/CSS2/cascade-import/cascade-import-009.xht
  css/CSS2/cascade-import/cascade-import-010.xht
Labels: CSS2, wg-css

#21682 Add a link to rfcs in README
  README.md
Labels: infra

#21676 Update interfaces/webxr.idl
  interfaces/webxr.idl
Labels: interfaces

#21656 Convert returned binary data from call() to string
  tools/wpt/browser.py
  tools/wpt/utils.py
Labels: infra, wpt

#21618 Fix timeout vs. task-queue race conditions in promise rejection tests
  html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/promise-rejection-events-onerror.html
  html/webappapis/scripting/processing-model-2/unhandled-promise-rejections/support/promise-rejection-events.js
Labels: html, servo-export

#21651 Adds a test for 'checking script type and credentials mode values before connecting to the matched SharedWorkerGlobalScope'
  workers/shared-worker-options-mismatch.html
  workers/support/empty-worker.js
Labels: wg-webapps, workers

#21595 Add instrumentation facility to wptrunner
  tools/wptrunner/wptrunner/instruments.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#21687 Remove most uses of promise_rejects from streams tests
  streams/piping/abort.any.js
  streams/piping/close-propagation-backward.any.js
  streams/piping/close-propagation-forward.any.js
  streams/piping/error-propagation-backward.any.js
  streams/piping/error-propagation-forward.any.js
  streams/piping/flow-control.any.js
  streams/piping/multiple-propagation.any.js
  streams/piping/throwing-options.any.js
  streams/readable-byte-streams/general.any.js
  streams/readable-streams/bad-strategies.any.js
  streams/readable-streams/bad-underlying-sources.any.js
  streams/readable-streams/default-reader.any.js
  streams/readable-streams/garbage-collection.any.js
  streams/readable-streams/general.any.js
  streams/readable-streams/reentrant-strategies.any.js
  streams/readable-streams/tee.any.js
  streams/resources/rs-test-templates.js
  streams/transform-streams/backpressure.any.js
  streams/transform-streams/errors.any.js
  streams/transform-streams/flush.any.js
  streams/transform-streams/general.any.js
  streams/transform-streams/reentrant-strategies.any.js
  streams/transform-streams/terminate.any.js
  streams/writable-streams/aborting.any.js
  streams/writable-streams/bad-strategies.any.js
  streams/writable-streams/bad-underlying-sinks.any.js
  streams/writable-streams/close.any.js
  streams/writable-streams/constructor.any.js
  streams/writable-streams/error.any.js
  streams/writable-streams/general.any.js
  streams/writable-streams/reentrant-strategy.any.js
  streams/writable-streams/start.any.js
  streams/writable-streams/write.any.js
Labels: streams

#21646 Fix round(), abstract the tests
  css/css-values/round-function.html
  css/support/numeric-testcommon.js
Labels: css-values, support, wg-css

#21718 Fetch: improve ReadableStream upload test
  fetch/api/basic/request-upload.any.js
Labels: fetch

#21696 Remove leftover tools/.gitmodules file
  tools/.gitmodules
Labels: .gitmodules, infra

#21722 [Azure Pipelines] Consistently use the "Use Python Version" task
  .azure-pipelines.yml
  tools/ci/azure/pip_install.yml
Labels: Azure Pipelines, ci, infra

#21545 Python3: change type of variable "latest_release" from integer to list.
  tools/wpt/browser.py
Labels: infra, wpt

#21719 Fix Queue module import for PY2/PY3 compatibility
  tools/wptrunner/wptrunner/instruments.py
Labels: infra, wptrunner

#21714 Ensure manifest url base is a string.
  tools/wptrunner/wptrunner/metadata.py
Labels: infra, wptrunner

#21644 Use error instead of critical for logging the traceback (#21594)
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#21704 Fix is_alive() usage and always call it as a function.
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/chrome_android.py
  tools/wptrunner/wptrunner/browsers/chrome_ios.py
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/browsers/edgechromium.py
  tools/wptrunner/wptrunner/browsers/ie.py
  tools/wptrunner/wptrunner/browsers/opera.py
  tools/wptrunner/wptrunner/browsers/safari.py
  tools/wptrunner/wptrunner/browsers/webkit.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra, wptrunner

#21660 Ignore JavascriptErrorException during wait() in executorwebdriver
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#21612 Remove use of assert_throws in idlharness.js
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlInterface/test_immutable_prototype.html
Labels: idlharness.js, infra, testharness.js

#21731 Add tests for prefers-reduced-data
  css/mediaqueries/prefers-reduced-data.html
Labels: mediaqueries, wg-css

#21724 [Azure Pipelines] Clarify why both py2 and py3 are installed
  .azure-pipelines.yml
Labels: Azure Pipelines

#21206 Test entry and incumbent settings object for promise jobs
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/promise-job-entry-different-function-realm.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/promise-job-entry.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/promise-job-incumbent.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/README.md
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/current/current.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/current/resources/window-to-open.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/function/function.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/function/resources/window-to-open.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/promise-job-entry-incumbent.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/promise-job-incumbent-incumbent.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/promise-job-incumbent-resolver.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/relevant/relevant.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/relevant/resources/window-to-open.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/resources/window-to-open.html
  html/webappapis/scripting/processing-model-2/integration-with-the-javascript-job-queue/resources/window-to-open.html
Labels: html

#21735 Update interfaces/wai-aria.idl
  interfaces/wai-aria.idl
Labels: interfaces

#21139 Make sure input value=12:30:01 doesn't turn into 12:30:1
  html/semantics/forms/the-input-element/input-seconds-leading-zeroes.html
Labels: html, servo-export

#21610 Fix API tests to test assert_throws_js and assert_throws_dom instead …
  resources/test/tests/functional/api-tests-1.html
Labels: infra, testharness.js

#21602 New tests for letter-spacing in a bidi context
  css/css-text/letter-spacing/letter-spacing-bidi-003.xht
  css/css-text/letter-spacing/letter-spacing-bidi-004.xht
  css/css-text/letter-spacing/letter-spacing-bidi-005.xht
  css/css-text/letter-spacing/letter-spacing-nesting-003.xht
  css/css-text/letter-spacing/reference/letter-spacing-bidi-003-ref.xht
  css/css-text/letter-spacing/reference/letter-spacing-bidi-004-ref.xht
  css/css-text/letter-spacing/reference/letter-spacing-bidi-005-ref.xht
  css/css-text/letter-spacing/reference/letter-spacing-nesting-003-ref.xht
Labels: css-text

#21773 Remove tentative from lazy load tests
  html/semantics/embedded-content/the-img-element/below-viewport-image-loading-lazy-load-event.html
  html/semantics/embedded-content/the-img-element/common.js
  html/semantics/embedded-content/the-img-element/disconnected-image-loading-lazy.html
  html/semantics/embedded-content/the-img-element/iframe-loading-eager.html
  html/semantics/embedded-content/the-img-element/iframe-loading-lazy.html
  html/semantics/embedded-content/the-img-element/image-loading-eager.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-below-viewport-dynamic.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-cross-origin-ifame-001.sub.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-cross-origin-ifame-002.sub.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-script-disabled-iframe.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-viewport-dynamic.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-load-event.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-move-document.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-move-into-script-disabled-iframe.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-multicol.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy.html
  html/semantics/embedded-content/the-img-element/invisible-image.html
  html/semantics/embedded-content/the-img-element/move-element-and-scroll.html
  html/semantics/embedded-content/the-img-element/not-rendered-below-viewport-image-loading-lazy.html
  html/semantics/embedded-content/the-img-element/not-rendered-image-loading-lazy.html
  html/semantics/embedded-content/the-img-element/original-base-url-applied-2.html
  html/semantics/embedded-content/the-img-element/original-base-url-applied-iframe.html
  html/semantics/embedded-content/the-img-element/original-base-url-applied.html
  html/semantics/embedded-content/the-img-element/original-crossorigin-applied.sub.html
  html/semantics/embedded-content/the-img-element/original-referrer-policy-applied.sub.html
  html/semantics/embedded-content/the-img-element/picture-loading-lazy.html
  html/semantics/embedded-content/the-img-element/remove-element-and-scroll.html
  html/semantics/embedded-content/the-img-element/resources/image-loading-lazy-below-viewport-iframe.html
  html/semantics/embedded-content/the-img-element/resources/image-loading-lazy-in-viewport-iframe.html
  html/semantics/embedded-content/the-img-element/resources/image.png
  html/semantics/embedded-content/the-img-element/resources/newwindow.html
  html/semantics/embedded-content/the-img-element/resources/referrer-checker-img.py
  html/semantics/embedded-content/the-img-element/resources/subframe.html
  loading/lazyload/META.yml
Labels: html, loading

#21777 [badging] rename idlharness.any.js to idlharness.https.any.js
  badging/idlharness.https.any.js
Labels: badging, status:needs-reviewers

#21761 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#21743 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#20165 [storage-access-api] make idlharness.js test tentative with external IDL
  interfaces/storage-access-api.tentative.idl
  storage-access-api/idlharness.tentative.window.js
  storage-access-api/idlharness.window.js
Labels: interfaces, storage-access-api

#21772 Remove of 2 @viewport related tests
  css/css-device-adapt/idlharness.html
  css/css-values/vh-support-atviewport.html
Labels: css-device-adapt, css-values, wg-css

#21762 Eliminate last uses of assert_throws.
  content-security-policy/reporting/report-clips-sample.html
  cors/support.js
  custom-elements/state.tentative/ElementInternals-states.html
  custom-elements/state.tentative/state-pseudo-class.html
  docs/writing-tests/testharness-api.md
  fetch/http-cache/http-cache.js
  html/dom/new-harness.js
  import-maps/builtin-support.tentative/imported/resources/helpers/parsing.js
  import-maps/builtin-support.tentative/imported/resources/parsing-schema.js
  import-maps/resources/jest-test-helper.js
  resource-timing/resources/webperftestharnessextension.js
  resources/test/tests/functional/api-tests-1.html
  resources/test/tests/unit/IdlInterface/do_member_unscopable_asserts.html
  resources/test/tests/unit/assert_object_equals.html
  resources/testharness.js
  service-workers/service-worker/fetch-event-redirect.https.html
  service-workers/service-worker/resources/testharness-helpers.js
  speech-api/SpeechSynthesis-speak-ownership.html
  trusted-types/block-text-node-insertion-into-script-element.tentative.html
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.tentative.https.html
  trusted-types/trusted-types-eval-reporting-report-only.tentative.https.html
  trusted-types/trusted-types-eval-reporting.tentative.https.html
  trusted-types/trusted-types-reporting.tentative.https.html
  user-timing/measure_exception.html
  user-timing/resources/webperftestharnessextension.js
  video-raf/video-request-animation-frame.html
  wasm/jsapi/bad-imports.js
  webrtc-extensions/RTCRtpParameters-maxFramerate.html
  webrtc/RTCConfiguration-iceCandidatePoolSize.html
  webrtc/RTCPeerConnection-constructor.html
  webrtc/RTCPeerConnection-track-stats.https.html
  webrtc/tools/.eslintrc.js
Labels: content-security-policy, custom-elements, docs, fetch, html, import-maps, infra, resource-timing, service-workers, speech-api, testharness.js, trusted-types, user-timing, video-raf, wasm, webrtc, webrtc-extensions, wg-sw, wg-webperf, wg-webplatform, wg-webrtc

#21781 Secure contexts: add data: URLs
  secure-contexts/basic-popup-and-iframe-tests.https.js
Labels: secure-contexts, wg-webappsec

#21637 Stop using promise_rejects in worklets tests
  worklets/resources/import-tests.js
Labels: worklets

#21770 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#21785 Rename two tests with the same basename
  html/semantics/document-metadata/the-style-element/style_type_html.html
  html/semantics/document-metadata/the-style-element/style_type_svg.svg
Labels: html

#21786 Update interfaces/payment-method-basic-card.idl
  interfaces/payment-method-basic-card.idl
Labels: interfaces

#21332 Make name content attributes consistently atoms and put them in rare_data for fast access
  html/dom/elements/name-content-attribute-and-property.html
Labels: html, servo-export

#21792 docs: Fix links in Running Tests from Local System
  docs/running-tests/from-local-system.md
Labels: docs, status:needs-reviewers

#21247 Add SupportedPropertyNames to Document (also fix iframe getting)
  html/dom/documents/dom-tree-accessors/nameditem-names.html
Labels: html, servo-export

#21794 Remove jugglinmike from some "reviewers" lists
  .github/META.yml
  fetch/metadata/META.yml
  infrastructure/META.yml
  tools/META.yml
Labels: GitHub Actions, META.yml, fetch, infra

#21782 Remove remaining promise_rejects uses
  PeriodicBackgroundSync/periodicsync.https.window.js
  encoding/streams/encode-bad-chunks.any.js
  encoding/streams/realms.window.js
  fetch/range/sw.https.window.js
  html/cross-origin-embedder-policy/none-load-from-cache-storage.https.html
  html/cross-origin-embedder-policy/require-corp-load-from-cache-storage.https.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/dynamic-imports-script-error.html
  imagebitmap-renderingcontext/toBlob-origin-clean-offscreen.sub.html
  lint.whitelist
  mediacapture-image/MediaStreamTrack-applyConstraints-fast.html
  payment-request/PaymentRequestUpdateEvent/updateWith-method-abort-update-manual.https.html
  payment-request/show-method-optional-promise-rejects-manual.https.html
  portals/portal-activate-data.html
  portals/portals-activate-empty-browsing-context.html
  resources/testharness.js
  service-workers/service-worker/registration-mime-types.https.html
  service-workers/service-worker/resources/registration-tests-mime-types.js
  tools/lint/rules.py
  web-locks/acquire.tentative.https.any.js
  web-locks/ifAvailable.tentative.https.any.js
  webaudio/resources/audit.js
  webauthn/createcredential-excludecredentials.https.html
  webrtc-extensions/RTCRtpParameters-maxFramerate.html
  webrtc/tools/.eslintrc.js
  webxr/xrSession_viewer_availability.https.html
Labels: PeriodicBackgroundSync, encoding, fetch, html, imagebitmap-renderingcontext, infra, lint, mediacapture-image, mozilla:gecko-blocked, payment-request, portals, service-workers, testharness.js, web-locks, webaudio, webauthn, webrtc, webrtc-extensions, webxr, wg-audio, wg-immersive-web, wg-payments, wg-sw, wg-webauthn, wg-webrtc

#21787 Update docs around wpt-pr-bot
  docs/admin/index.md
Labels: docs

#21802 Use errno attribute to handle socket.error for PY2 and PY3 compatibility
  tools/wptrunner/wptrunner/webdriver_server.py
Labels: infra, wptrunner

#21793 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#21763 Update chromium logger to identify subtest failures.
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
Labels: infra, wptrunner

#21804 Link to github issue explaining why webaudio's audit.js exists
  webaudio/resources/audit.js
Labels: webaudio, wg-audio

#21819 Fix lint.whitelist after 8636d91
  lint.whitelist
Labels: infra

#21539 Add new comprehensive test for image-set rendering
  css/css-images/image-set/image-set-rendering-ref.html
  css/css-images/image-set/image-set-rendering.html
Labels: css-images

#21822 Iterating over dictionary's items with six library for PY2 & PY3 comp…
  tools/webdriver/webdriver/protocol.py
Labels: infra, webdriver, wg-testing_browser

#21835 Use six.iteritems to iterate over dictionary's items in tools
  tools/manifest/manifest.py
  tools/runner/report.py
  tools/wptrunner/test/test.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, manifest, runner, wptrunner

#21821 Fix resources path in lazy load tests
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-cross-origin-ifame-001.sub.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-in-cross-origin-ifame-002.sub.html
  html/semantics/embedded-content/the-img-element/original-base-url-applied-2.html
  html/semantics/embedded-content/the-img-element/original-base-url-applied-iframe.html
  html/semantics/embedded-content/the-img-element/original-crossorigin-applied.sub.html
Labels: html

#21778 Verify that WebAssembly objects are validated.
  wasm/jsapi/bad-imports.js
Labels: wasm

#21829 WebSockets: Fix Create-Secure-extensions-empty.any.js
  websockets/Create-Secure-extensions-empty.any.js
  websockets/handlers/handshake_no_extensions_wsh.py
  websockets/websocket.sub.js
Labels: websockets, wg-webapps

#21834 Make HTTPConnection() call compatible for both Python2 and Python 3
  tools/webdriver/webdriver/transport.py
Labels: infra, mozilla:gecko-blocked, webdriver, wg-testing_browser

#21720 Migrated wpt test_run to Python3
  tools/wpt/run.py
  tools/wpt/tests/test_run.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wpt, wptrunner

#17730 HTML: top-level data: URLs
  html/browsers/browsing-the-web/navigating-across-documents/resources/redirect.py
  html/browsers/browsing-the-web/navigating-across-documents/top-level-data-url.window.js
Labels: html

#21839 Enable xfailed test in wptrunner's test_sauce
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
Labels: infra, wptrunner

#21866 Test that implicit grid should be supported between lines [-10k, 10k].
  css/css-grid/grid-definition/grid-limits-001.html
Labels: css-grid

#21867 Verify that 'auto' is excluded from the <line-name> production.
  css/css-grid/parsing/grid-area-invalid.html
  css/css-grid/parsing/grid-template-columns-invalid.html
  css/css-grid/parsing/grid-template-rows-invalid.html
Labels: css-grid

#21869 References that say they show scrollbars should actually show scrollbars.
  css/css-grid/grid-model/reference/100x100-grey-box-with-horizontal-scrollbar.html
  css/css-grid/grid-model/reference/100x100-grey-box-with-scrollbars.html
  css/css-grid/grid-model/reference/100x100-grey-box-with-vertical-scrollbar.html
Labels: css-grid

#21871 Fix the overflow tests to match both the spec and their own asserts.
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-001.html
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-002.html
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-003.html
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-004.html
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-005.html
  css/css-grid/grid-model/grid-areas-overflowing-grid-container-006.html
Labels: css-grid

#21872 [css-grid-1] Add tests for overflowing padding.
  css/css-grid/grid-model/grid-overflow-padding-001.html
  css/css-grid/grid-model/grid-overflow-padding-002.html
Labels: css-grid

#21814 Update interfaces/video-raf.idl
  interfaces/video-raf.idl
Labels: interfaces

#21853 nonce attribute: no longer tentative
  content-security-policy/nonce-hiding/nonces.html
  content-security-policy/nonce-hiding/nonces.html.headers
  content-security-policy/nonce-hiding/script-nonces-hidden-meta.sub.html
  content-security-policy/nonce-hiding/script-nonces-hidden.html
  content-security-policy/nonce-hiding/script-nonces-hidden.html.headers
  content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html
  content-security-policy/nonce-hiding/svgscript-nonces-hidden.html
  content-security-policy/nonce-hiding/svgscript-nonces-hidden.html.headers
Labels: content-security-policy

#21856 COEP: change cache.match() exception
  html/cross-origin-embedder-policy/require-corp-load-from-cache-storage.https.html
Labels: html

#21705 Add infrastructure for testing origin policy
  tools/certs/cacert.key
  tools/certs/cacert.pem
  tools/certs/web-platform.test.key
  tools/certs/web-platform.test.pem
  tools/serve/serve.py
  tools/serve/test_serve.py
  tools/wptrunner/wptrunner/executors/pytestrunner/runner.py
  tools/wptserve/wptserve/config.py
Labels: certs, infra, serve, wptrunner, wptserve

#21886 Fix typo in error message: promise_reject(s)_js
  resources/testharness.js
Labels: infra, testharness.js

#21891 Update Safari Technology Preview to 101
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#21146 SharedArrayBuffer and blob:/data: worker
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/blob-data.https.html
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/blob-data.https.html.headers
Labels: do not merge yet, html

#21879 nonce attribute: typo fix
  content-security-policy/nonce-hiding/nonces.html
Labels: content-security-policy

#13142 IdlHarness: Improve the formatting of generic types.
  resources/idlharness.js
  resources/test/tests/unit/IdlInterfaceMember/toString.html
Labels: idlharness.js, infra, testharness.js

#20481 Automate webauthn tests
  webauthn/createcredential-badargs-attestation.https.html
  webauthn/createcredential-badargs-authnrselection.https.html
  webauthn/createcredential-badargs-challenge.https.html
  webauthn/createcredential-badargs-rp.https.html
  webauthn/createcredential-badargs-user.https.html
  webauthn/createcredential-excludecredentials.https.html
  webauthn/createcredential-extensions.https.html
  webauthn/createcredential-passing.https.html
  webauthn/createcredential-pubkeycredparams.https.html
  webauthn/createcredential-timeout.https.html
  webauthn/getcredential-badargs-rpid.https.html
  webauthn/getcredential-badargs-userverification.https.html
  webauthn/getcredential-extensions.https.html
  webauthn/getcredential-passing.https.html
  webauthn/getcredential-timeout.https.html
  webauthn/helpers.js
  webauthn/securecontext.http.html
  webauthn/securecontext.https.html
Labels: infra, webauthn, wg-webauthn, wptrunner

#21859 Tests for @page sizes "JIS-B5" and "JIS-B4"
  css/css-page/page-size-011.xht
  css/css-page/page-size-012.xht
Labels: css-page

#21840 Enable xfailed test in wptserve's test_response
  tools/wptserve/tests/functional/test_response.py
Labels: infra, wptserve

#21876 Pass a constructor to assert_throws_dom and promise_rejects_dom.
  css/cssom/CSSStyleSheet-constructable.html
  css/selectors/attribute-selectors/attribute-case/syntax.html
  custom-elements/custom-element-registry/define.html
  custom-elements/reactions/with-exceptions.html
  custom-elements/throw-on-dynamic-markup-insertion-counter-construct.html
  custom-elements/throw-on-dynamic-markup-insertion-counter-reactions.html
  docs/writing-tests/testharness-api.md
  dom/nodes/Document-createElement.html
  dom/nodes/Document-createElementNS.html
  dom/nodes/Element-matches.js
  dom/nodes/Node-removeChild.html
  dom/nodes/ParentNode-querySelector-All.js
  dom/ranges/Range-cloneContents.html
  dom/ranges/Range-extractContents.html
  dom/ranges/Range-insertNode.html
  dom/ranges/Range-surroundContents.html
  fetch/api/abort/serviceworker-intercepted.https.html
  html/browsers/history/the-history-interface/001.html
  html/browsers/history/the-history-interface/002.html
  html/browsers/origin/relaxing-the-same-origin-restriction/document_domain_setter.html
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-exception-vs-return-origin.sub.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-exception-vs-return-xml.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-same-origin-domain.sub.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/bailout-side-effects-xml.window.js
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/origin-check-in-document-open-same-origin-domain.sub.html
  resources/test/tests/functional/api-tests-1.html
  resources/testharness.js
  service-workers/service-worker/detached-context.https.html
  service-workers/service-worker/multipart-image.https.html
  webmessaging/postMessage_Document.htm
  webmessaging/postMessage_Function.htm
  webmessaging/postMessage_dup_transfer_objects.htm
  webmessaging/postMessage_invalid_targetOrigin.htm
  xhr/open-url-multi-window-2.htm
  xhr/open-url-multi-window-3.htm
  xhr/open-url-multi-window-5.htm
Labels: cssom, custom-elements, docs, dom, fetch, html, infra, selectors, service-workers, testharness.js, webmessaging, wg-css, wg-sw, wg-webapps, wg-webplatform, xhr

#21916 Add tests for navigation CORP
  html/cross-origin-embedder-policy/none.https.html
  html/cross-origin-embedder-policy/require-corp.https.html
  html/cross-origin-embedder-policy/resources/navigate-require-corp-same-site.sub.html
  html/cross-origin-embedder-policy/resources/navigate-require-corp-same-site.sub.html.headers
  lint.whitelist
Labels: html, infra

#21905 Update interfaces/web-bluetooth.idl
  interfaces/web-bluetooth.idl
Labels: interfaces

#21912 Update interfaces/css-font-loading.idl
  interfaces/css-font-loading.idl
Labels: interfaces

#21913 Update interfaces/cssom-view.idl
  interfaces/cssom-view.idl
Labels: interfaces

#21914 Update interfaces/resize-observer.idl
  interfaces/resize-observer.idl
Labels: interfaces

#21922 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#21926 Sync Mozilla CSS tests as of 2020-02-21
  css/vendor-imports/mozilla/mozilla-central-reftests/check-for-references.sh
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/multicol3/reftest.list
Labels: vendor-imports

#21925 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#21927 Update interfaces/css-font-loading.idl
  interfaces/css-font-loading.idl
Labels: interfaces

#21652 service worker: Add test for FetchEvent.handled
  service-workers/service-worker/fetch-event-handled.https.html
  service-workers/service-worker/resources/fetch-event-handled-worker.js
Labels: service-workers, wg-sw

#21851 Remove remaining copies of W3C 3-clause BSD License
  resources/LICENSE
  shadow-dom/untriaged/LICENSE
  tools/wptrunner/LICENSE
  tools/wptrunner/wptrunner/update/sync.py
  tools/wptserve/LICENSE
Labels: infra, shadow-dom, wg-webplatform, wptrunner, wptserve

#21934 CSP nonce: correct some SVG assertions
  content-security-policy/nonce-hiding/script-nonces-hidden.html
  content-security-policy/nonce-hiding/svgscript-nonces-hidden-meta.sub.html
  content-security-policy/nonce-hiding/svgscript-nonces-hidden.html
Labels: content-security-policy

#21936 Add preconditions to all the portals tests
  portals/about-blank-cannot-host.html
  portals/csp/frame-src.sub.html
  portals/history/history-manipulation-inside-portal.html
  portals/htmlportalelement-event-handler-content-attributes.html
  portals/portal-activate-data.html
  portals/portal-activate-event.html
  portals/portal-non-http-navigation.html
  portals/portal-onload-event.html
  portals/portals-activate-empty-browsing-context.html
  portals/portals-activate-inside-iframe.html
  portals/portals-activate-inside-portal.html
  portals/portals-activate-no-browsing-context.html
  portals/portals-activate-resolution.html
  portals/portals-activate-twice.html
  portals/portals-adopt-predecessor.html
  portals/portals-cross-origin-load.sub.html
  portals/portals-focus.sub.html
  portals/portals-host-exposure.sub.html
  portals/portals-host-hidden-after-activation.html
  portals/portals-host-post-message.sub.html
  portals/portals-navigate-after-adoption.html
  portals/portals-nested.html
  portals/portals-post-message.sub.html
  portals/portals-referrer-inherit-header.html
  portals/portals-referrer-inherit-meta.html
  portals/portals-referrer.html
  portals/portals-rendering.html
  portals/portals-repeated-activate.html
  portals/portals-set-src-after-activate.html
  portals/predecessor-fires-unload.html
  portals/xfo/portals-xfo-deny.sub.html
Labels: portals

#21938 Update interfaces/visual-viewport.idl
  interfaces/visual-viewport.idl
Labels: interfaces

#21877 Fetch HTTP(S) scheme/data url scripts from data url iframe/dedicated worker/shared worker
  fetch/api/cors/data-url-iframe.html
  fetch/api/cors/data-url-shared-worker.html
  fetch/api/cors/data-url-worker.html
Labels: fetch

#21954 Unskip linting unit test by making it work with python3
  tools/lint/tests/test_file_lints.py
Labels: infra, lint

#21895 Implement Broadcastchannel
  webmessaging/broadcastchannel/basics.html
Labels: servo-export, webmessaging, wg-webapps

#21537 Kill off hanging crashtests.
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, servo-export, wptrunner

#18228 Rewrite self.html as an any.js test.
  workers/interfaces/WorkerGlobalScope/self.any.js
  workers/interfaces/WorkerGlobalScope/self.html
  workers/interfaces/WorkerGlobalScope/self.js
Labels: wg-webapps, workers

#21977 cc Adjust html-aria/presentation-role alt values
  conformance-checkers/html-aria/presentation-role/497.html
  conformance-checkers/html-aria/presentation-role/498.html
  conformance-checkers/html-aria/presentation-role/499.html
  conformance-checkers/html-aria/presentation-role/500.html
  conformance-checkers/html-aria/presentation-role/501.html
  conformance-checkers/html-aria/presentation-role/502.html
  conformance-checkers/html-aria/presentation-role/503.html
  conformance-checkers/html-aria/presentation-role/504.html
  conformance-checkers/html-aria/presentation-role/505.html
  conformance-checkers/html-aria/presentation-role/506.html
  conformance-checkers/html-aria/presentation-role/507.html
  conformance-checkers/html-aria/presentation-role/509.html
Labels: conformance-checkers

#21962 Add a test for content-dpr in various scenarios
  content-dpr/content-dpr-various-elements-ref.html
  content-dpr/content-dpr-various-elements.html
Labels: content-dpr, status:needs-reviewers

#21979 Content-DPR: Add tests for negative/0 values
  content-dpr/image-with-dpr-header.html
Labels: content-dpr, status:needs-reviewers

#21981 Removed some lines from a subtest that don't match the current spec.
  html/semantics/embedded-content/the-object-element/object-attributes.html
Labels: html

#21982 Rewrite returns-same-object.html as an any.js test.
  workers/interfaces/WorkerGlobalScope/location/returns-same-object.any.js
  workers/interfaces/WorkerGlobalScope/location/returns-same-object.html
  workers/interfaces/WorkerGlobalScope/location/returns-same-object.js
Labels: wg-webapps, workers
