Repository web-platform-tests/wpt, pull requests merged in 2020-12, with the labels that each got.

#26663 Update interfaces/mediastream-recording.idl
  interfaces/mediastream-recording.idl
Labels: interfaces

#26664 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#26665 Update interfaces/media-source.idl
  interfaces/media-source.idl
Labels: interfaces

#26678 Update interfaces/webaudio.idl
  interfaces/webaudio.idl
Labels: interfaces

#26685 Update interfaces/serial.idl
  interfaces/serial.idl
Labels: interfaces

#26696 Update interfaces/html.idl and test
  html/dom/idlharness.https.html
  interfaces/html.idl
Labels: html, interfaces

#26415 Add interfaces/performance-measure-memory.idl and test
  interfaces/performance-measure-memory.idl
  measure-memory/idlharness.tentative.any.js
Labels: interfaces, measure-memory

#26701 Test that beforeunload requires sticky activation
  html/browsers/browsing-the-web/unloading-documents/beforeunload-sticky-activation-iframe.html
  html/browsers/browsing-the-web/unloading-documents/beforeunload-sticky-activation-manual.html
  html/browsers/browsing-the-web/unloading-documents/beforeunload-sticky-activation-popup.html
  html/browsers/browsing-the-web/unloading-documents/support/beforeunload-sticky-destination.html
  html/browsers/browsing-the-web/unloading-documents/support/beforeunload-sticky-start.html
Labels: html

#26722 [css-multicol] move tests from vendor-imports into the main suite
  css/css-multicol/broken-column-rule-1-ref.html
  css/css-multicol/broken-column-rule-1.html
  css/css-multicol/moz-multicol3-column-balancing-break-inside-avoid-1-ref.html
  css/css-multicol/moz-multicol3-column-balancing-break-inside-avoid-1.html
  css/css-multicol/multicol-height-002-print-ref.xht
  css/css-multicol/multicol-height-002-print.xht
  css/vendor-imports/mozilla/mozilla-central-reftests/multicol3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
Labels: css-multicol, vendor-imports

#26472 Test addEventListener abort signal
  dom/abort/addEventListenerAbortController.tentative.html
  dom/events/AddEventListenerOptions-signal.any.js
Labels: dom

#26726 Update vendored enum34 to 1.10
  tools/third_party/enum/PKG-INFO
  tools/third_party/enum/enum/__init__.py
  tools/third_party/enum/enum/doc/enum.pdf
  tools/third_party/enum/enum/test.py
  tools/third_party/enum/setup.cfg
  tools/third_party/enum/setup.py
Labels: infra, third_party

#26745 Update interfaces/webrtc.idl
  interfaces/webrtc.idl
Labels: interfaces

#26744 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#26747 Add tests for form newline normalization in filenames
  html/semantics/forms/form-submission-0/newline-normalization.html
Labels: html

#26730 Add flakiness for webaudio/the-audio-api/the-audiobuffer-interface/ct…
  webaudio/the-audio-api/the-audiobuffer-interface/ctor-audiobuffer.html
Labels: webaudio, wg-audio

#26720 Update warning about modifying css/vendor-imports/ (feel free to!)
  css/README.md
Labels: README.md, status:needs-reviewers

#26667 Added 15 widows & orphans tests and 14 references: content distribution in columns
  css/css-break/reference/widows-orphans-008-ref.html
  css/css-break/reference/widows-orphans-009-ref.html
  css/css-break/reference/widows-orphans-010-ref.html
  css/css-break/reference/widows-orphans-011-ref.html
  css/css-break/reference/widows-orphans-012-ref.html
  css/css-break/reference/widows-orphans-013-ref.html
  css/css-break/reference/widows-orphans-014-ref.html
  css/css-break/reference/widows-orphans-016-ref.html
  css/css-break/reference/widows-orphans-017-ref.html
  css/css-break/widows-orphans-008.html
  css/css-break/widows-orphans-009.html
  css/css-break/widows-orphans-010.html
  css/css-break/widows-orphans-011.html
  css/css-break/widows-orphans-012.html
  css/css-break/widows-orphans-013.html
  css/css-break/widows-orphans-014.html
  css/css-break/widows-orphans-015.html
  css/css-break/widows-orphans-016.html
  css/css-break/widows-orphans-017.html
Labels: css-break, status:needs-reviewers

#26776 Replace improperly assigned uuid value in COOP reporting
  html/cross-origin-opener-policy/reporting/resources/reporting-common.js
Labels: html

#26773 Python3: Enforce response header to bytes in COOP test file
  html/cross-origin-opener-policy/reporting/resources/redirect.py
Labels: html, python3

#26512 [wptpr.live] Change PR deployment to use 'pull_request_target'
  .github/workflows/detect_pull_request_preview.yml
  .github/workflows/pull_request_previews.yml
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: GitHub Actions, ci, infra, safe for preview

#26780 Fixes #26779 - Describe RFC process in testdriver extension tutorial
  docs/writing-tests/testdriver-extension-tutorial.md
Labels: docs, status:needs-reviewers

#26723 Fixes #26055: Add a testdriver.js API to delete all cookies.
  docs/writing-tests/testdriver.md
  infrastructure/testdriver/delete_all_cookies.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: docs, infra, testdriver.js, wptrunner

#26331 Update to more recent versions of hyper libraries
  tools/third_party/h2/.gitignore
  tools/third_party/h2/.travis.yml
  tools/third_party/h2/CONTRIBUTORS.rst
  tools/third_party/h2/HISTORY.rst
  tools/third_party/h2/MANIFEST.in
  tools/third_party/h2/docs/source/api.rst
  tools/third_party/h2/docs/source/basic-usage.rst
  tools/third_party/h2/docs/source/conf.py
  tools/third_party/h2/docs/source/negotiating-http2.rst
  tools/third_party/h2/docs/source/twisted-head-example.rst
  tools/third_party/h2/docs/source/twisted-post-example.rst
  tools/third_party/h2/examples/asyncio/asyncio-server.py
  tools/third_party/h2/examples/asyncio/wsgi-server.py
  tools/third_party/h2/examples/curio/curio-server.py
  tools/third_party/h2/examples/eventlet/eventlet-server.py
  tools/third_party/h2/examples/fragments/client_https_setup_fragment.py
  tools/third_party/h2/examples/fragments/client_upgrade_fragment.py
  tools/third_party/h2/examples/fragments/server_https_setup_fragment.py
  tools/third_party/h2/examples/fragments/server_upgrade_fragment.py
  tools/third_party/h2/examples/twisted/head_request.py
  tools/third_party/h2/examples/twisted/post_request.py
  tools/third_party/h2/examples/twisted/twisted-server.py
  tools/third_party/h2/h2/__init__.py
  tools/third_party/h2/h2/config.py
  tools/third_party/h2/h2/connection.py
  tools/third_party/h2/h2/events.py
  tools/third_party/h2/h2/settings.py
  tools/third_party/h2/h2/stream.py
  tools/third_party/h2/h2/utilities.py
  tools/third_party/h2/setup.cfg
  tools/third_party/h2/setup.py
  tools/third_party/h2/test/test_basic_logic.py
  tools/third_party/h2/test/test_closed_streams.py
  tools/third_party/h2/test/test_events.py
  tools/third_party/h2/test/test_flow_control_window.py
  tools/third_party/h2/test/test_h2_upgrade.py
  tools/third_party/h2/test/test_head_request.py
  tools/third_party/h2/test/test_invalid_frame_sequences.py
  tools/third_party/h2/test/test_invalid_headers.py
  tools/third_party/h2/test/test_settings.py
  tools/third_party/h2/test/test_stream_reset.py
  tools/third_party/h2/test/test_utility_functions.py
  tools/third_party/h2/test_requirements.txt
  tools/third_party/h2/tox.ini
  tools/third_party/h2/utils/backport.sh
  tools/third_party/hyperframe/HISTORY.rst
  tools/third_party/hyperframe/PKG-INFO
  tools/third_party/hyperframe/hyperframe.egg-info/PKG-INFO
  tools/third_party/hyperframe/hyperframe/__init__.py
  tools/third_party/hyperframe/hyperframe/flags.py
  tools/third_party/hyperframe/hyperframe/frame.py
  tools/third_party/hyperframe/setup.cfg
  tools/third_party/hyperframe/setup.py
  tools/third_party/hyperframe/test/test_frames.py
Labels: infra, mozilla:gecko-blocked, third_party

#26826 Test top-level await in worklets
  css/css-paint-api/top-level-await-ref.html
  css/css-paint-api/top-level-await.https.html
Labels: css-paint-api

#26175 Test that dynamic import() is disallowed in paint worklets
  css/css-paint-api/dynamic-import-ref.html
  css/css-paint-api/dynamic-import.html
  css/css-paint-api/resources/imported-module.mjs
  html/README.md
  worklets/META.yml
  worklets/README.md
Labels: css-paint-api, html, worklets

#26851 Fix a CORS test error
  cors/basic.htm
  cors/resources/cors-makeheader.py
Labels: fetch

#26759 Handle errors during WebDriver shutdown more gracefully
  tools/webdriver/webdriver/client.py
  tools/webdriver/webdriver/transport.py
Labels: infra, webdriver, wg-testing_browser

#26858 Update Safari Technology Preview to 117
  infrastructure/metadata/infrastructure/testdriver/actions/crossOrigin.sub.html.ini
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#26754 Update interfaces/serial.idl
  interfaces/serial.idl
Labels: interfaces

#26838 Test newline normalization in form-associated custom elements.
  custom-elements/form-associated/ElementInternals-setFormValue.html
Labels: custom-elements, wg-webplatform

#26881 cc Update messages.json
  conformance-checkers/messages.json
Labels: conformance-checkers, mozilla:gecko-blocked, status:needs-reviewers

#26882 [css-transforms] move tests from vendor-imports into the main suite
  css/css-transforms/containing-block-dynamic-1-ref.html
  css/css-transforms/perspective-containing-block-dynamic-1a.html
  css/css-transforms/perspective-containing-block-dynamic-1b.html
  css/css-transforms/perspective-untransformable-no-stacking-context-ref.html
  css/css-transforms/perspective-untransformable-no-stacking-context.html
  css/css-transforms/perspective-zero-2-ref.html
  css/css-transforms/perspective-zero-2.html
  css/css-transforms/perspective-zero.html
  css/css-transforms/reference/green.html
  css/css-transforms/transform-containing-block-dynamic-1a.html
  css/css-transforms/transform-containing-block-dynamic-1b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/flexbox/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/transforms/reftest.list
Labels: css-transforms, vendor-imports

#26876 Un -tentative some file-selector-button tests.
  css/css-pseudo/file-selector-button-001.html
  css/css-pseudo/file-selector-button-display-toggle-crash.html
Labels: css-pseudo

#26872 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#26862 Update interfaces/mediasession.idl
  interfaces/mediasession.idl
Labels: interfaces

#26885 [css-conditional] move tests from vendor-imports into the main suite
  css/css-conditional/css-supports-001.xht
  css/css-conditional/css-supports-002.xht
  css/css-conditional/css-supports-003.xht
  css/css-conditional/css-supports-004.xht
  css/css-conditional/css-supports-005.xht
  css/css-conditional/css-supports-006.xht
  css/css-conditional/css-supports-007.xht
  css/css-conditional/css-supports-008.xht
  css/css-conditional/css-supports-009.xht
  css/css-conditional/css-supports-010.xht
  css/css-conditional/css-supports-011.xht
  css/css-conditional/css-supports-012.xht
  css/css-conditional/css-supports-013.xht
  css/css-conditional/css-supports-014.xht
  css/css-conditional/css-supports-015.xht
  css/css-conditional/css-supports-016.xht
  css/css-conditional/css-supports-017.xht
  css/css-conditional/css-supports-018.xht
  css/css-conditional/css-supports-019.xht
  css/css-conditional/css-supports-020.xht
  css/css-conditional/css-supports-021.xht
  css/css-conditional/css-supports-022.xht
  css/css-conditional/css-supports-023.xht
  css/css-conditional/css-supports-024.xht
  css/css-conditional/css-supports-025.xht
  css/css-conditional/css-supports-026.xht
  css/css-conditional/css-supports-029.xht
  css/css-conditional/css-supports-030.xht
  css/css-conditional/css-supports-031.xht
  css/css-conditional/css-supports-032.xht
  css/css-conditional/css-supports-033.xht
  css/css-conditional/css-supports-034.xht
  css/css-conditional/css-supports-035.xht
  css/css-conditional/css-supports-036.xht
  css/css-conditional/css-supports-037.xht
  css/css-conditional/css-supports-038.xht
  css/css-conditional/css-supports-039.xht
  css/css-conditional/css-supports-040.xht
  css/css-conditional/css-supports-041.xht
  css/css-conditional/css-supports-042.xht
  css/css-conditional/css-supports-043.xht
  css/css-conditional/css-supports-044.xht
  css/css-conditional/css-supports-045.xht
  css/css-conditional/css-supports-046.xht
  css/css-conditional/support/pass.xht
  css/vendor-imports/mozilla/mozilla-central-reftests/conditional3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
Labels: css-conditional, vendor-imports

#26894 Make pr_preview.py pass the token as a password rather than a username
  tools/ci/pr_preview.py
Labels: GitHub Actions, ci, infra

#26896 Remove 'Remote' concept in pr_preview.py
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: ci, infra

#26897 pr_preview.py: Fix bug handling 204 in DELETE
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: ci, infra

#26886 [css-sizing] move box-sizing tests from vendor-imports/ into css-sizing/
  css/css-sizing/box-sizing-border-box-001-ref.xht
  css/css-sizing/box-sizing-border-box-001.xht
  css/css-sizing/box-sizing-border-box-002-ref.xht
  css/css-sizing/box-sizing-border-box-002.xht
  css/css-sizing/box-sizing-border-box-003-ref.xht
  css/css-sizing/box-sizing-border-box-003.xht
  css/css-sizing/box-sizing-border-box-004-ref.xht
  css/css-sizing/box-sizing-border-box-004.xht
  css/css-sizing/box-sizing-content-box-001-ref.xht
  css/css-sizing/box-sizing-content-box-001.xht
  css/css-sizing/box-sizing-content-box-002-ref.xht
  css/css-sizing/box-sizing-content-box-002.xht
  css/css-sizing/box-sizing-content-box-003-ref.xht
  css/css-sizing/box-sizing-content-box-003.xht
  css/css-sizing/box-sizing-replaced-001-ref.xht
  css/css-sizing/box-sizing-replaced-001.xht
  css/css-sizing/box-sizing-replaced-002-ref.xht
  css/css-sizing/box-sizing-replaced-002.xht
  css/css-sizing/box-sizing-replaced-003-ref.xht
  css/css-sizing/box-sizing-replaced-003.xht
  css/css-sizing/support/replaced-min-max-1.png
  css/css-sizing/support/replaced-min-max-10.png
  css/css-sizing/support/replaced-min-max-11.png
  css/css-sizing/support/replaced-min-max-12.png
  css/css-sizing/support/replaced-min-max-13.png
  css/css-sizing/support/replaced-min-max-14.png
  css/css-sizing/support/replaced-min-max-15.png
  css/css-sizing/support/replaced-min-max-16.png
  css/css-sizing/support/replaced-min-max-17.png
  css/css-sizing/support/replaced-min-max-18.png
  css/css-sizing/support/replaced-min-max-19.png
  css/css-sizing/support/replaced-min-max-2.png
  css/css-sizing/support/replaced-min-max-3.png
  css/css-sizing/support/replaced-min-max-4.png
  css/css-sizing/support/replaced-min-max-5.png
  css/css-sizing/support/replaced-min-max-6.png
  css/css-sizing/support/replaced-min-max-7.png
  css/css-sizing/support/replaced-min-max-8.png
  css/css-sizing/support/replaced-min-max-9.png
  css/css-sizing/support/replaced-min-max.png
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/ui3/reftest.list
  lint.ignore
Labels: css-sizing, infra, mozilla:gecko-blocked, vendor-imports

#26283 Rename Progress_event_bubbles_cancelable.html to progress_event_bubbles_cancelable.html
  FileAPI/FileReader/progress_event_bubbles_cancelable.html
Labels: FileAPI, wg-webapps

#26895 Fix `wpt build-docs`
  docs/commands.json
  docs/conf.py
Labels: docs

#26906 pr_preview.py: Add debug logging for 422 error
  tools/ci/pr_preview.py
Labels: ci, infra

#26918 [css-contain] tests for size containment's "layout in place"
  css/css-contain/contain-size-064.html
  css/css-contain/reference/contain-size-064-ref.html
Labels: css-contain, wg-css

#26915 [css-images-3] Test early vs late EXIF in PNG.
  css/css-images/image-orientation/image-orientation-exif-png.html
  css/css-images/image-orientation/reference/image-orientation-exif-png-ref.html
  css/css-images/image-orientation/support/F-exif-early.png
  css/css-images/image-orientation/support/F-exif-late.png
  css/css-images/image-orientation/support/F-rotated.png
  css/css-images/image-orientation/support/F-upright.png
Labels: css-images

#26922 [css-backgrounds-3] Add tests for box-shadow radius.
  css/css-backgrounds/box-shadow-radius-000-ref.html
  css/css-backgrounds/box-shadow-radius-000.html
  css/css-backgrounds/box-shadow-radius-001-ref.html
  css/css-backgrounds/box-shadow-radius-001.html
Labels: css-backgrounds

#26926 Address flakiness with webaudio/the-audio-api/the-pannernode-interfac…
  webaudio/the-audio-api/the-pannernode-interface/panner-distance-clamping.html
Labels: webaudio, wg-audio

#26845 Add html/interaction/focus/document-level-focus-apis/document-has-system-focus.html
  html/interaction/focus/document-level-focus-apis/document-has-system-focus.html
  html/interaction/focus/document-level-focus-apis/support/popup.html
Labels: html

#26929 Update interfaces/mediastream-recording.idl
  interfaces/mediastream-recording.idl
Labels: interfaces

#26937 Update interfaces/webxr-hand-input.idl
  interfaces/webxr-hand-input.idl
Labels: interfaces

#26936 Added a widows-orphans edge test case
  css/css-break/widows-orphans-018.html
Labels: css-break

#26868 Added 2 tests involving boundary between 2 characters
  css/css-text/word-break/break-boundary-2-chars-001.html
  css/css-text/word-break/break-boundary-2-chars-002.html
  css/css-text/word-break/reference/break-boundary-2-chars-001-ref.html
  css/css-text/word-break/reference/break-boundary-2-chars-002-ref.html
Labels: css-text

#26762 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=219270
  html/browsers/history/the-location-interface/location-prevent-extensions.html
  html/browsers/origin/cross-origin-objects/cross-origin-objects.html
  html/browsers/the-windowproxy-exotic-object/windowproxy-prevent-extensions.html
Labels: html, webkit-export

#26765 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=219276
  html/browsers/history/the-location-interface/location-non-configurable-toString-valueOf.html
  html/browsers/history/the-location-interface/location-prototype-no-toString-valueOf.html
Labels: html, webkit-export

#26979 Fix documentation build for python 3
  tools/ci/website_build.sh
Labels: ci, infra

#26970 Add/Fix META.yml files to ease specs to WPT mapping
  BackgroundSync/META.yml
  client-hints/META.yml
  compression/META.yml
  contacts/META.yml
  content-security-policy/embedded-enforcement/META.yml
  css/css-inline/META.yml
  css/css-overscroll-behavior/META.yml
  css/css-parser-api/META.yml
  event-timing/META.yml
  fetch/metadata/META.yml
  geolocation-sensor/META.yml
  idle-detection/META.yml
  import-maps/META.yml
  input-device-capabilities/META.yml
  keyboard-lock/META.yml
  lifecycle/META.yml
  media-capabilities/META.yml
  mediasession/META.yml
  picture-in-picture/META.yml
  scroll-animations/META.yml
  scroll-to-text-fragment/META.yml
  speech-api/META.yml
  storage-access-api/META.yml
  timing-entrytypes-registry/META.yml
  video-rvfc/META.yml
  wasm/jsapi/META.yml
  wasm/webapi/META.yml
  webcodecs/META.yml
  webrtc-identity/META.yml
  webxr/META.yml
  webxr/dom-overlay/META.yml
  webxr/layers/META.yml
Labels: BackgroundSync, client-hints, compression, contacts, content-security-policy, css-inline, css-overscroll-behavior, css-parser-api, event-timing, fetch, geolocation-sensor, idle-detection, import-maps, input-device-capabilities, keyboard-lock, lifecycle, media-capabilities, mediasession, picture-in-picture, scroll-animations, scroll-to-text-fragment, speech-api, storage-access-api, timing-entrytypes-registry, video-rvfc, wasm, webcodecs, webrtc-identity, webxr, wg-css, wg-das, wg-immersive-web, wg-media, wg-s_webrtc, wg-webperf

#26983 Add further META.yml files to ease specs to WPT mapping
  badging/META.yml
  content-index/META.yml
  css/css-color-adjust/META.yml
  css/css-size-adjust/META.yml
  custom-state-pseudo-class/META.yml
  deprecation-reporting/META.yml
  intervention-reporting/META.yml
  is-input-pending/META.yml
  js-self-profiling/META.yml
  network-error-logging/META.yml
  origin-policy/META.yml
  page-lifecycle/META.yml
  permissions-request/META.yml
  permissions-revoke/META.yml
  savedata/META.yml
  serial/META.yml
  trusted-types/META.yml
  ua-client-hints/META.yml
  web-otp/META.yml
  webhid/META.yml
  webrtc-insertable-streams/META.yml
  webrtc-priority/META.yml
  webrtc-svc/META.yml
  webtransport/META.yml
  webxr/anchors/META.yml
  webxr/ar-module/META.yml
  webxr/gamepads-module/META.yml
  webxr/hand-input/META.yml
  webxr/hit-test/META.yml
Labels: badging, content-index, css-color-adjust, css-size-adjust, custom-state-pseudo-class, deprecation-reporting, intervention-reporting, is-input-pending, js-self-profiling, network-error-logging, origin-policy, page-lifecycle, permissions-request, permissions-revoke, savedata, serial, trusted-types, ua-client-hints, web-otp, webhid, webrtc-insertable-streams, webrtc-priority, webrtc-svc, webtransport, webxr, wg-immersive-web, wg-s_webrtc, wg-webperf

#26987 Add tests to check logical properties work in WebKit non-standard "-webkit-writing-mode: horizontal-bt"
  css/css-logical/resources/test-shared.js
Labels: css-logical

#26988 Update interfaces/dom.idl
  interfaces/dom.idl
Labels: interfaces

#26997 Target additional specs in META.yml files
  document-policy/META.yml
  html/cross-origin-embedder-policy/META.yml
  html/cross-origin-opener-policy/META.yml
  installedapp/META.yml
  js/META.yml
  measure-memory/META.yml
  native-file-system/META.yml
  screen_enumeration/META.yml
  webrtc-extensions/META.yml
  x-frame-options/META.yml
Labels: document-policy, html, installedapp, js, measure-memory, native-file-system, screen_enumeration, webrtc-extensions, x-frame-options

#26992 Update interfaces/encrypted-media.idl
  interfaces/encrypted-media.idl
Labels: interfaces

#27010 Corrected lh-rlh-on-root-001.html test based on issue 22055
  css/css-values/lh-rlh-on-root-001.html
Labels: css-values, wg-css

#27014 NDEFReader.scan rejects if promise is resolved
  web-nfc/NDEFReader_scan.https.html
Labels: web-nfc

#26994 [selectors] Improve :focus-visible tests
  css/selectors/focus-visible-001.html
  css/selectors/focus-visible-002.html
  css/selectors/focus-visible-003.html
  css/selectors/focus-visible-004.html
  css/selectors/focus-visible-005.html
  css/selectors/focus-visible-006.html
  css/selectors/focus-visible-007.html
  css/selectors/focus-visible-008.html
  css/selectors/focus-visible-009.html
  css/selectors/focus-visible-010.html
  css/selectors/focus-visible-011.html
  css/selectors/focus-visible-012.html
Labels: selectors

#25828 Added tests for first-letter pseudo element with preceding punctuatio…
  css/css-pseudo/first-letter-punctuation-and-space-ref.html
  css/css-pseudo/first-letter-punctuation-and-space.html
Labels: css-pseudo

#27022 [css-text-3] Add tests for UAX9 bidi rules pertaining to tabs (U+0009)
  css/css-text/white-space/reference/tab-bidi-001-ref.html
  css/css-text/white-space/tab-bidi-001.html
Labels: css-text
