Repository web-platform-tests/wpt, pull requests merged in 2021-04, with the labels that each got.

#28315 `font-stretch` should use keywords for computed style when possible
  css/css-fonts/animations/font-stretch-interpolation.html
Labels: css-fonts

#28329 Update Safari Technology Preview to 123
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#28351 Add test for dynamic setting of aspect-ratio
  css/css-sizing/aspect-ratio/replaced-element-dynamic-aspect-ratio.html
Labels: css-sizing

#28332 Remove dupe websockets/Close-Reason-Unpaired-surrogates.any.js
  websockets/Close-Reason-Unpaired-surrogates.any.js
Labels: websockets, wg-html

#28368 [css-flexbox] Margin collapsing bug in WebKit preventing some flexbox tests from succeeding
  css/css-flexbox/flexbox-writing-mode-013-ref.html
  css/css-flexbox/flexbox-writing-mode-014-ref.html
  css/css-flexbox/flexbox-writing-mode-015-ref.html
Labels: css-flexbox, wg-css

#28379 Revert "[css-flexbox] Margin collapsing bug in WebKit preventing some flexbox tests from succeeding (#28368)"
  css/css-flexbox/flexbox-writing-mode-013-ref.html
  css/css-flexbox/flexbox-writing-mode-014-ref.html
  css/css-flexbox/flexbox-writing-mode-015-ref.html
Labels: css-flexbox, wg-css

#28274 Fix typo in tabledata-extraneous-data-001.xht
  css/WOFF2/tabledata-extraneous-data-001.xht
Labels: WOFF2, wg-fonts

#28226 Fix missing assert_equals
  dom/nodes/Node-contains-xml.xml
Labels: dom

#20899 [html] Test COEP derivation in shared workers
  html/cross-origin-embedder-policy/resources/shared-worker-fetch.js.py
  html/cross-origin-embedder-policy/shared-workers.html
Labels: html

#28246 serve.py: Define logger if undefined
  tools/serve/serve.py
Labels: infra, serve, websockets, wg-html

#28311 Fix false-positive test in firefox
  density-size-correction/density-corrected-size-pseudo-elements-ref.html
Labels: density-size-correction, status:needs-reviewers

#28386 Remove testharness; this is a reftest
  css/css-grid/grid-definition/grid-repeat-max-width-001.html
Labels: css-grid

#28313 Test 'current environment settings object' for Worker() URL parsing and COEP report
  html/cross-origin-embedder-policy/multi-globals/current/current.html
  html/cross-origin-embedder-policy/multi-globals/current/current.html.headers
  html/cross-origin-embedder-policy/multi-globals/current/worker.js
  html/cross-origin-embedder-policy/multi-globals/incumbent/incumbent.html
  html/cross-origin-embedder-policy/multi-globals/incumbent/incumbent.html.headers
  html/cross-origin-embedder-policy/multi-globals/incumbent/worker.js
  html/cross-origin-embedder-policy/multi-globals/worker.js
  html/cross-origin-embedder-policy/multi-globals/workers-coep-report.https.html
  html/cross-origin-embedder-policy/multi-globals/workers-coep-report.https.html.headers
  workers/multi-globals/current/current.html
  workers/multi-globals/current/worker.js
  workers/multi-globals/incumbent/incumbent.html
  workers/multi-globals/incumbent/worker.js
  workers/multi-globals/url-parsing.html
  workers/multi-globals/worker.js
Labels: html, wg-html, workers

#28281 HTML: Test ordering of COEP reporting vs CSP and X-Frame-Options
  html/cross-origin-embedder-policy/reporting-navigation.https.html
Labels: html

#28412 Corrections to columnar right and left justification tests (issue #28378)
  css/css-flexbox/flexbox_justifycontent-left-002-ref.html
  css/css-flexbox/flexbox_justifycontent-left-002.html
  css/css-flexbox/flexbox_justifycontent-right-002-ref.html
  css/css-flexbox/flexbox_justifycontent-right-002.html
Labels: css-flexbox, wg-css

#28400 Add a new test to check Replaced children with % max-height are sized
  css/css-flexbox/percentage-max-height-004-ref.html
  css/css-flexbox/percentage-max-height-004.html
Labels: css-flexbox, wg-css

#28426 When animating between a value that is computed to be a percentage and a fixed value, a `calc()` value must be used
  css/css-backgrounds/animations/background-position-origin-interpolation.html
Labels: css-backgrounds

#28425 Avoid relying on vertical scrollbar placement in a couple of tests.
  css/css-writing-modes/sizing-orthog-vrl-in-htb-013-ref.xht
  css/css-writing-modes/sizing-orthog-vrl-in-htb-013.xht
  css/cssom-view/cssom-getBoundingClientRect-vertical-rl-ref.html
  css/cssom-view/cssom-getBoundingClientRect-vertical-rl.html
Labels: css-writing-modes, cssom-view, status:needs-reviewers, wg-css

#28435 [css-color-4] Remove tests for color() fallback
  css/css-color/predefined-014.html
  css/css-color/predefined-015.html
Labels: css-color

#26740 Add test cases for newline handling in form payloads
  FileAPI/file/send-file-formdata-controls.html
  FileAPI/file/send-file-formdata-punctuation.html
  FileAPI/support/send-file-formdata-helper.js
  custom-elements/form-associated/ElementInternals-setFormValue.html
  html/semantics/forms/form-submission-0/constructing-form-data-set.html
  html/semantics/forms/form-submission-0/enctypes-helper.js
  html/semantics/forms/form-submission-0/multipart-formdata.window.js
  html/semantics/forms/form-submission-0/text-plain.window.js
  html/semantics/forms/form-submission-0/urlencoded2.window.js
  url/urlsearchparams-stringifier.any.js
Labels: FileAPI, custom-elements, html, status:needs-spec-decision, url, wg-webapps, wg-webplatform

#28428 realtimeanalyser-fft-scaling.html webaudio test is flaky in WebKit te…
  webaudio/the-audio-api/the-analysernode-interface/realtimeanalyser-fft-scaling.html
Labels: webaudio, wg-audio

#28432 Additional file URL tests
  url/resources/urltestdata.json
Labels: url

#28442 Rename xhr-content-length.window.js to require HTTPS
  service-workers/service-worker/xhr-content-length.https.window.js
Labels: service-workers, wg-sw

#28445 Block port 10080 as per https://github.com/whatwg/fetch/issues/1191
  fetch/api/request/request-bad-port.any.js
  tools/wptserve/wptserve/utils.py
  websockets/Create-blocked-port.any.js
Labels: fetch, infra, websockets, wg-html, wptserve

#28285 COEP reporting: test HTTP SF parsing with multiple headers
  html/cross-origin-embedder-policy/header-parsing.https.html
  html/cross-origin-embedder-policy/reporting-to-endpoint.https.html
  html/cross-origin-embedder-policy/resources/reporting-empty-frame-multiple-headers.html.asis
Labels: html

#28020 Add fetch test on HTTP 425 response.
  fetch/api/basic/http-response-code.any.js
Labels: fetch

#28203 Add FetchEvent test that should reject none Uint8Array ReadableStream.
  service-workers/service-worker/fetch-event.https.html
Labels: service-workers, wg-sw

#28468 Remove remaining Python 2 condition in requirements.txt
  tools/wptrunner/requirements.txt
Labels: infra, wptrunner

#28466 [Azure Pipelines] upgrade to ubuntu-20.04 agents
  .azure-pipelines.yml
  tools/ci/azure/fyi_hook.yml
Labels: Azure Pipelines, ci, infra

#28467 [docs] avoid the use of Docker to build/deploy documentation
  .github/workflows/documentation.yml
  docs/requirements.txt
  tools/docker/documentation/Dockerfile
Labels: GitHub Actions, docker, docs, infra

#28403 Test that document.open() removes initial about:blankness
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/remove-initial-about-blankness.window.js
Labels: html

#28464 Revert "[Taskcluster] pin Chrome Dev to 91.0.4449.6"
  infrastructure/metadata/infrastructure/server/http2-websocket.sub.h2.any.js.ini
  tools/ci/run_tc.py
Labels: ci, infra

#28479 [css-color-4] Remove another test for color() fallback
  css/css-color/color-function-parsing.html
Labels: css-color

#28460 chore: restructure xhr/formdata tests
  xhr/FormData-append.html
  xhr/formdata-blob.htm
  xhr/formdata-set.htm
  xhr/formdata.html
  xhr/formdata/append-formelement.html
  xhr/formdata/append.any.js
  xhr/formdata/constructor-formelement.html
  xhr/formdata/constructor.any.js
  xhr/formdata/delete-formelement.html
  xhr/formdata/delete.any.js
  xhr/formdata/foreach.any.js
  xhr/formdata/get-formelement.html
  xhr/formdata/get.any.js
  xhr/formdata/has-formelement.html
  xhr/formdata/has.any.js
  xhr/formdata/set-blob.any.js
  xhr/formdata/set-formelement.html
  xhr/formdata/set.any.js
Labels: xhr

#28504 [selectors] Simplify @supports check in :focus-visible tests
  css/selectors/focus-visible-001.html
  css/selectors/focus-visible-002.html
  css/selectors/focus-visible-003.html
  css/selectors/focus-visible-004.html
  css/selectors/focus-visible-005.html
  css/selectors/focus-visible-006.html
  css/selectors/focus-visible-008.html
  css/selectors/focus-visible-009.html
  css/selectors/focus-visible-010.html
  css/selectors/focus-visible-011.html
  css/selectors/focus-visible-012.html
  css/selectors/focus-visible-013.html
  css/selectors/focus-visible-014.html
  css/selectors/focus-visible-015.html
  css/selectors/focus-visible-016.html
  css/selectors/focus-visible-017.html
  css/selectors/focus-visible-018.html
  css/selectors/focus-visible-019.html
  css/selectors/focus-visible-script-focus-001.html
  css/selectors/focus-visible-script-focus-002.tentative.html
  css/selectors/focus-visible-script-focus-003.tentative.html
  css/selectors/focus-visible-script-focus-004.html
  css/selectors/focus-visible-script-focus-005.html
  css/selectors/focus-visible-script-focus-006.tentative.html
  css/selectors/focus-visible-script-focus-007.tentative.html
  css/selectors/focus-visible-script-focus-008.html
  css/selectors/focus-visible-script-focus-009.html
  css/selectors/focus-visible-script-focus-010.html
  css/selectors/focus-visible-script-focus-011.html
  css/selectors/focus-visible-script-focus-012.html
  css/selectors/focus-visible-script-focus-013.html
  css/selectors/focus-visible-script-focus-014.html
  css/selectors/focus-visible-script-focus-015.html
  css/selectors/focus-visible-script-focus-016.tentative.html
  css/selectors/focus-visible-script-focus-017.tentative.html
  css/selectors/focus-visible-script-focus-018.html
  css/selectors/focus-visible-script-focus-019.html
Labels: selectors

#28517 Remove unused codecov integration
  .codecov.yml
  tools/ci/ci_tools_integration_test.sh
  tools/ci/ci_tools_unittest.sh
Labels: ci, infra

#28535 Update the XSLTProcessor tentative IDL
  interfaces/xslt.tentative.idl
Labels: interfaces, status:needs-reviewers

#28537 [idlharness.js] Rename NoInterfaceObject to LegacyNoInterfaceObject
  css/geometry/DOMRectList.html
  docs/writing-tests/idlharness.md
  resources/idlharness.js
  resources/test/tests/unit/IdlInterface/should_have_interface_object.html
  uievents/resources/eventrecorder.js
Labels: docs, geometry, idlharness.js, infra, testharness.js, uievents, wg-webapps

#28544 Add missing dependencies of idlharness.js tests
  mst-content-hint/idlharness.window.js
  uievents/idlharness.window.js
  webrtc-encoded-transform/idlharness.https.window.js
Labels: mst-content-hint, uievents, webrtc-encoded-transform, wg-s_webrtc, wg-webapps

#28543 [idlharness.js] Drop support for [Constructor] extended attributes
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlInterface/test_immutable_prototype.html
  resources/test/tests/functional/idlharness/IdlInterface/test_primary_interface_of.html
  resources/test/tests/unit/IdlInterface/constructors.html
  web-animations/interfaces/Animation/constructor.html
  webvr/idlharness.https.html
Labels: idlharness.js, infra, testharness.js, web-animations, webvr, wg-css, wg-svg

#28545 Fix test_tests_affected_idlharness
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#28518 Sync interfaces/ with @webref/idl using GitHub Actions
  .github/workflows/interfaces.yml
  interfaces/README.md
  tools/ci/interfaces_update.sh
Labels: GitHub Actions, ci, infra, interfaces

#28553 Rename two test cases to different name
  css/css-sizing/aspect-ratio/abspos-019.html
  css/css-sizing/aspect-ratio/abspos-020.html
Labels: css-sizing

#28562 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=224719
  css/css-backgrounds/parsing/background-image-computed.sub.html
Labels: css-backgrounds

#28563 Add test for cross-origin redirect timing
  common/slow-redirect.py
  resource-timing/cross-origin-start-end-time-with-redirects.html
Labels: assets, resource-timing, wg-webperf

#28569 Update quic transport server
  tools/quic/requirements.txt
  tools/serve/serve.py
Labels: infra, quic, serve

#28565 Test registerProtocolHandler() for newly safelisted Matrix scheme
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol.https.html
Labels: html

#28509 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=224604
  webrtc-encoded-transform/routines.js
  webrtc-encoded-transform/script-audio-transform-worker.js
  webrtc-encoded-transform/script-audio-transform.https.html
  webrtc-encoded-transform/script-change-transform-worker.js
  webrtc-encoded-transform/script-change-transform.https.html
  webrtc-encoded-transform/script-late-transform.https.html
  webrtc-encoded-transform/script-metadata-transform-worker.js
  webrtc-encoded-transform/script-metadata-transform.https.html
  webrtc-encoded-transform/script-transform-worker.js
  webrtc-encoded-transform/script-transform.https.html
  webrtc-encoded-transform/script-write-twice-transform-worker.js
  webrtc-encoded-transform/script-write-twice-transform.https.html
  webrtc-encoded-transform/sframe-keys.https.html
  webrtc-encoded-transform/sframe-transform-buffer-source.html
  webrtc-encoded-transform/sframe-transform-in-worker.https.html
  webrtc-encoded-transform/sframe-transform-readable.html
  webrtc-encoded-transform/sframe-transform-worker.js
  webrtc-encoded-transform/sframe-transform.html
Labels: webkit-export, webrtc-encoded-transform

#28564 Upstream changes from WebKit bug 224611 related to `calc()`
  css/css-shapes/parsing/shape-outside-computed.html
  css/css-transitions/animations/vertical-align-interpolation.html
Labels: css-shapes, css-transitions, css-values, wg-css

#28574 chore: make fetch/api/response strict compatible
  fetch/api/response/response-static-redirect.any.js
Labels: fetch

#28577 Expect most compatible computed value for html/rendering/widgets/button-layout/computed-style.html
  html/rendering/widgets/button-layout/computed-style.html
Labels: html

#28236 HTTP/2fy request-upload test around streaming
  fetch/api/basic/request-upload.any.js
  fetch/api/basic/request-upload.h2.any.js
  fetch/api/resources/echo-content.h2.py
Labels: fetch

#28520 chore: make fetch/api/headers strict compatible
  fetch/api/headers/header-values-normalize.any.js
  fetch/api/headers/header-values.any.js
  fetch/api/headers/headers-basic.any.js
  fetch/api/headers/headers-casing.any.js
  fetch/api/headers/headers-combine.any.js
  fetch/api/headers/headers-errors.any.js
  fetch/api/headers/headers-no-cors.any.js
  fetch/api/headers/headers-normalize.any.js
  fetch/api/headers/headers-record.any.js
  fetch/api/headers/headers-structure.any.js
Labels: fetch

#28594 [idlharness.js] avoid overtesting the non-exposure of interfaces
  resources/idlharness.js
Labels: idlharness.js, infra

#28394 Tests for unbounded cue end time
  html/semantics/embedded-content/media-elements/interfaces/TextTrackCue/endTime.html
  webvtt/api/VTTCue/constructor-exceptions.html
  webvtt/api/VTTCue/constructor.html
Labels: html, webvtt, wg-audiovideo_tt

#28598 Fix padding-valid.html to use sorted calc() in expected serialized value according to spec
  css/css-box/parsing/padding-valid.html
Labels: css-box

#28131 [selectors] Add test for :focus-visible and Shadow DOM
  css/selectors/focus-visible-020.html
Labels: selectors

#28601 -moz-box-sizing replaced with box-sizing
  css/CSS2/normal-flow/blocks-027.xht
  css/CSS2/normal-flow/blocks-028.xht
Labels: CSS2, wg-css

#28591 Make scrollbars appear in engine-specific location
  css/css-flexbox/overflow-auto-005.html
  css/css-flexbox/reference/overflow-auto-005-ref.html
Labels: css-flexbox, wg-css

#28603 [idlharness.js] Remove unnecessary Math.fround fallback
  resources/idlharness.js
Labels: idlharness.js, infra

#28401 chore: move FileAPI/reading-data-section to any.js
  FileAPI/reading-data-section/Determining-Encoding.any.js
  FileAPI/reading-data-section/FileReader-event-handler-attributes.any.js
  FileAPI/reading-data-section/FileReader-multiple-reads.any.js
  FileAPI/reading-data-section/filereader_abort.any.js
  FileAPI/reading-data-section/filereader_error.any.js
  FileAPI/reading-data-section/filereader_readAsArrayBuffer.any.js
  FileAPI/reading-data-section/filereader_readAsBinaryString.any.js
  FileAPI/reading-data-section/filereader_readAsDataURL.any.js
  FileAPI/reading-data-section/filereader_readAsText.any.js
  FileAPI/reading-data-section/filereader_readystate.any.js
  FileAPI/reading-data-section/filereader_result.any.js
Labels: FileAPI, wg-webapps

#28241 Historical test for WheelEvent#initWheelEvent
  uievents/historical.html
Labels: uievents, wg-webapps

#28570 Unpin docutils in docs/requirements.txt
  docs/requirements.txt
Labels: docs

#28548 [GitHub Actions] Update certificate regeneration workflow
  .github/workflows/regen_certs.yml
Labels: GitHub Actions

#28593 Test ShadowRoot's delegatesFocus attribute
  shadow-dom/focus/ShadowRoot-delegatesFocus.html
Labels: shadow-dom, wg-webplatform

#28538 [GitHub Actions] consistently use ubuntu-20.04 and checkout v2
  .github/workflows/epochs.yml
  .github/workflows/manifest.yml
Labels: GitHub Actions

#28625 Don't try to set Access-Control-Allow-Origin to None in worklet tests
  worklets/resources/credentials.py
  worklets/resources/set-cookie.py
Labels: worklets

#28623 Split the test cases for mapping width and height to aspect ratio
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/img-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/picture-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/resources/aspect-ratio.js
Labels: html

#28619 [idlharness.js] remove support for implements statements
  resources/idlharness.js
Labels: idlharness.js, infra

#28639 Merge xslt/ into dom/xslt/
  dom/idlharness.window.js
  dom/xslt/README.md
  dom/xslt/externalScript.js
  dom/xslt/invalid-output-encoding-crash.html
  dom/xslt/transformToFragment-on-node-from-inactive-document-crash.html
  dom/xslt/transformToFragment.tentative.window.js
  interfaces/xslt.tentative.idl
  xslt/META.yml
  xslt/idlharness.tentative.window.js
Labels: dom, interfaces, wg-xsl, xslt

#28396 Add a lint that checks paths are unique irrespective of case
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_path_lints.py
Labels: infra, lint

#28661 [Taskcluster] pin Chrome Dev to 91.0.4472.19
  tools/ci/run_tc.py
Labels: ci, infra

#28659 Switch the test cases order in img-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/img-aspect-ratio.html
Labels: html, status:needs-reviewers

#28664 Stop testing Python 2.7 in resources/ tests
  resources/test/tox.ini
Labels: infra, testharness.js

#28665 [css-counter-styles] Explicitly test zero values for 'pad' and 'additive-symbols' descriptors
  css/css-counter-styles/counter-style-additive-symbols-syntax.html
  css/css-counter-styles/counter-style-pad-syntax.html
Labels: css-counter-styles

#28630 Improve assertion and comments for overflow-wrap-anywhere-011.html and its reference.
  css/css-text/overflow-wrap/overflow-wrap-anywhere-011-ref.html
  css/css-text/overflow-wrap/overflow-wrap-anywhere-011.html
Labels: css-text

#28459 "justifyall" tests were the same as "justify"
  css/css-text/text-align/reference/text-align-justifyall-ref-001.html
  css/css-text/text-align/reference/text-align-justifyall-ref-002.html
  css/css-text/text-align/reference/text-align-justifyall-ref-003.html
  css/css-text/text-align/reference/text-align-justifyall-ref-004.html
  css/css-text/text-align/reference/text-align-justifyall-ref-005.html
  css/css-text/text-align/reference/text-align-justifyall-ref-006.html
  css/css-text/text-align/text-align-justifyall-001.html
  css/css-text/text-align/text-align-justifyall-002.html
  css/css-text/text-align/text-align-justifyall-003.html
  css/css-text/text-align/text-align-justifyall-004.html
  css/css-text/text-align/text-align-justifyall-005.html
  css/css-text/text-align/text-align-justifyall-006.html
Labels: css-text

#28654 Web Share: Retire share-url-data-manual.https.html
  web-share/share-url-data-manual.https.html
Labels: web-share, wg-webapps

#28650 [idlharness.js] Simplify handling of inheritance and mixins
  resources/idlharness.js
  resources/test/tests/functional/idlharness/IdlDictionary/test_partial_interface_of.html
  resources/test/tests/functional/idlharness/IdlInterface/test_interface_mixin.html
  resources/test/tests/functional/idlharness/IdlInterface/test_partial_interface_of.html
  resources/test/tests/functional/idlharness/IdlNamespace/test_partial_namespace.html
  resources/test/tests/unit/IdlArray/is_json_type.html
  resources/test/tests/unit/IdlInterface/default_to_json_operation.html
  resources/test/tests/unit/IdlInterface/traverse_inherited_and_consequential_interfaces.html
Labels: idlharness.js, infra, testharness.js

#28688 [idlharness.js] Let get_reverse_inheritance_stack() do the reversing
  resources/idlharness.js
  resources/test/tests/unit/IdlDictionary/get_reverse_inheritance_stack.html
  resources/test/tests/unit/IdlInterface/get_reverse_inheritance_stack.html
Labels: idlharness.js, infra, testharness.js

#28690 Fix HTMLIframeElement capitalization typos
  feature-policy/idlharness.window.js
  html/dom/idlharness.https.html
  permissions-policy/idlharness.window.js
Labels: feature-policy, html, permissions-policy, wg-webappsec

#28684 [testharness.js] Check if value is null in _assert_inherits
  resources/testharness.js
Labels: infra, testharness.js

#28693 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=217916
  WebIDL/ecmascript-binding/interface-object-set-receiver.html
  WebIDL/ecmascript-binding/interface-prototype-constructor-set-receiver.html
Labels: WebIDL, webkit-export, wg-webplatform

#28089 Test IsConstructor for all interfaces
  resources/idlharness.js
Labels: idlharness.js, infra

#28652 Fix --include-file
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#28680 Add test for correctly selecting image sources with oddly parented elements.
  html/semantics/embedded-content/the-img-element/img-picture-ancestor.html
Labels: html

#28691 Upstream changes made to `rotate` CSS property parsing test in WebKit r276554
  css/css-transforms/parsing/rotate-parsing-valid.html
Labels: css-transforms

#28682 Remove copyright year
  LICENSE.md
Labels: infra

#28656 Add streaming upload on redirect code tests.
  fetch/api/redirect/redirect-upload.h2.any.js
  fetch/api/resources/redirect.h2.py
Labels: fetch

#28708 Add test that <img> source selection occurs even if the element is outside the document.
  html/semantics/embedded-content/the-img-element/source-media-outside-doc.html
Labels: html

#28709 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=225075
  css/selectors/focus-visible-021.html
Labels: selectors, webkit-export

#28663 Unset __PYVENV_LAUNCHER__ on macOS to avoid virtualenv weirdness
  tools/wpt/virtualenv.py
Labels: infra, wpt

#28726 Change grid-positioned-items-content-alignment*-001.html to accommoda…
  css/css-grid/abspos/grid-positioned-items-content-alignment-001.html
  css/css-grid/abspos/grid-positioned-items-content-alignment-rtl-001.html
Labels: css-grid

#28727 Rewrite test for setting blob on srcObject
  html/semantics/embedded-content/media-elements/src_object_blob.html
Labels: html

#28040 HTML: Test rendering of ol, ul, menu, li, dir, dl, dt, dd
  html/rendering/non-replaced-elements/form-controls/resets.html
  html/rendering/non-replaced-elements/lists/lists-styles.html
  html/rendering/non-replaced-elements/lists/ol-display-contents-ref.html
  html/rendering/non-replaced-elements/lists/ol-start-display-contents.html
  html/rendering/non-replaced-elements/lists/ol-start-reversed-display-contents.html
  html/rendering/support/test-ua-stylesheet.js
Labels: html

#28733 Bless with testdriver media element play for srcObject test
  html/semantics/embedded-content/media-elements/src_object_blob.html
Labels: html

#28744 Fix #28743: make the status checkboxes on the th.js output work again
  resources/testharness.js
Labels: infra, testharness.js

#28702 Mved initial-background-color & unset-value-storage into /css-cascade/
  css/css-cascade/initial-background-color.html
  css/css-cascade/reference/all-green.html
  css/css-cascade/unset-value-storage.html
  css/css-values/initial-background-color.html
Labels: css-cascade, css-values, wg-css

#28731 Improved, better, more precise help link to 3 CSS3Values tests
  css/css-values/calc-in-media-queries-002.html
  css/css-values/calc-invalid-range-clamping.html
  css/css-values/calc-rgb-percent-001.html
Labels: css-values, wg-css

#28748 Replace int2byte from six with string literals or bytes(...)
  encoding/resources/single-byte-raw.py
  xhr/resources/invalid-utf8-html.py
  xhr/resources/shift-jis-html.py
  xhr/resources/win-1252-xml.py
Labels: encoding, xhr

#28735 Replace all uses of six.move by the Python 3-only equivalent
  common/security-features/subresource/static-import.py
  common/security-features/subresource/subresource.py
  cookie-store/resources/cookie_helper.py
  cookies/resources/helpers.py
  cookies/resources/set.py
  fetch/api/resources/redirect.py
  fetch/api/resources/trickle.py
  resource-timing/SyntheticResponse.py
  resources/test/conftest.py
  resources/test/wptserver.py
  service-workers/service-worker/resources/notification_icon.py
  service-workers/service-worker/resources/update-worker.py
  webdriver/tests/support/authentication.py
  webdriver/tests/support/fixtures.py
  webdriver/tests/support/http_request.py
  webdriver/tests/support/inline.py
  webdriver/tests/switch_to_frame/cross_origin.py
  websockets/cookies/support/set-cookie.py
  websockets/handlers/set-cookie-secure_wsh.py
  websockets/handlers/set-cookie_http_wsh.py
  websockets/handlers/set-cookie_wsh.py
  websockets/handlers/set-cookies-samesite_wsh.py
  websockets/handlers/stash_responder_wsh.py
  xhr/resources/trickle.py
Labels: assets, cookie-store, cookies, fetch, infra, resource-timing, service-workers, testharness.js, webdriver, websockets, wg-html, wg-sw, wg-testing_browser, wg-webperf, xhr

#28747 Remove most cases of py3-conditional code using PY3 from six
  FileAPI/file/resources/echo-content-escaped.py
  common/security-features/subresource/font.py
  cookie-store/resources/cookie_helper.py
  html/semantics/embedded-content/the-img-element/404-response-with-actual-image-data.py
  html/semantics/forms/form-submission-0/resources/file-submission.py
  service-workers/service-worker/resources/fetch-access-control.py
  webdriver/tests/print/printcmd.py
  webdriver/tests/print/user_prompts.py
  webdriver/tests/support/asserts.py
  webdriver/tests/support/image.py
Labels: FileAPI, assets, cookie-store, html, service-workers, webdriver, wg-sw, wg-testing_browser, wg-webapps

#28710 New test for percentage paddings
  css/css-flexbox/percentage-padding-002-ref.html
  css/css-flexbox/percentage-padding-002.html
Labels: css-flexbox, wg-css

#28758 Simplify file-submission.py and the tests using it
  html/semantics/forms/form-submission-0/resources/file-submission.py
  html/semantics/forms/form-submission-0/submit-file.sub.html
  service-workers/service-worker/data-transfer-files.https.html
Labels: html, mozilla:gecko-blocked, service-workers, wg-sw

#28740 Refactor xhr/resources/inspect-headers.py to avoid six
  xhr/resources/inspect-headers.py
Labels: xhr

#28763 Use the correct reference test in percentage-padding-002.html
  css/css-flexbox/percentage-padding-002.html
Labels: css-flexbox, wg-css

#28761 [ci] Send the full release info when updating a manifest release
  tools/ci/manifest_build.py
Labels: ci, infra

#28741 Fix the Stash Lock to be unique
  tools/wptserve/wptserve/stash.py
Labels: infra, wptserve

#28751 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=224594
  css/css-logical/logicalprops-with-variables.html
Labels: css-logical, webkit-export

#28767 Improved link rel=help to 4 font-loading tests
  css/css-values/ch-empty-pseudo-recalc-on-font-load.html
  css/css-values/ch-pseudo-recalc-on-font-load.html
  css/css-values/ch-recalc-on-font-load.html
  css/css-values/viewport-units-after-font-load.html
Labels: css-font-loading, css-values, wg-css

#28762 [lint] Simplify check_file_contents to avoid mypy type confusion
  tools/lint/lint.py
Labels: infra, lint
