Repository web-platform-tests/wpt, pull requests merged in 2021-06, with the labels that each got.

#29014 chore(webmessaging/broadcastchannel): html -> js
  webmessaging/broadcastchannel/basics.any.js
  webmessaging/broadcastchannel/interface.any.js
Labels: webmessaging, wg-html

#29128 Streams: resolve BYOB reads immediately on cancel
  streams/readable-byte-streams/general.any.js
Labels: streams

#29113 Fix URLManifestItem.https for serviceworker-module
  infrastructure/metadata/infrastructure/server/context.any.js.ini
  infrastructure/server/context.any.js
  tools/manifest/item.py
Labels: infra, manifest

#25760 Add test for interfaces/portals.idl
  portals/idlharness.window.js
Labels: portals

#29166 chore: FileAPI/file/*-formdata.html to .any.js
  FileAPI/file/send-file-formdata-controls.any.js
  FileAPI/file/send-file-formdata-punctuation.any.js
  FileAPI/file/send-file-formdata-utf-8.any.js
  FileAPI/file/send-file-formdata.any.js
  FileAPI/file/send-file-formdata.html
Labels: FileAPI, wg-webapps

#23853 Add test for interfaces/css-highlight-api.idl
  css/css-highlight-api/idlharness.window.js
  lint.ignore
Labels: css-highlight-api, infra, interfaces, status:needs-reviewers

#29247 Update and rename controlsList.html to controlsList.tentative.html
  html/semantics/embedded-content/media-elements/controlsList.tentative.html
Labels: html

#27411 Move FileAPI/file/File-constructor to .js file
  FileAPI/file/File-constructor.any.js
Labels: FileAPI, wg-webapps

#28366 chore: move FileAPI/fileReader to any.js
  FileAPI/fileReader.any.js
  FileAPI/fileReader.html
Labels: FileAPI, wg-webapps

#29257 Let Dependabot handle tools/ recursively
  .github/dependabot.yml
Labels: GitHub Actions

#29241 Change encoding/single-byte-decoder.html to a .window.js test
  encoding/single-byte-decoder.html
  encoding/single-byte-decoder.window.js
Labels: encoding

#29195 [GitHub Actions] make the interfaces/ update job conditional on repo
  .github/workflows/interfaces.yml
Labels: GitHub Actions

#29213 Service worker: Fail if fetch event has targetClientId
  service-workers/service-worker/fetch-event.https.html
  service-workers/service-worker/historical.https.any.js
Labels: service-workers, wg-sw

#29237 chore: rename dom/events/Event-constructors to .js
  dom/events/Event-constructors.any.js
Labels: dom

#29238 chore: update webidl2.js to v24.1.1
  resources/webidl2/lib/README.md
  resources/webidl2/lib/webidl2.js
Labels: idlharness.js, infra

#29239 chore: make exposed_in matcher work in Deno
  resources/idlharness.js
Labels: idlharness.js, infra

#29234 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=225894
  html/browsers/the-window-object/window-indexed-properties-delete-no-cache.html
  html/browsers/the-window-object/window-indexed-properties-strict.html
  html/browsers/the-window-object/window-indexed-properties.html
Labels: html, webkit-export

#29240 fix: make fetch/api/ strict mode compatible
  fetch/api/basic/scheme-data.any.js
  fetch/api/basic/stream-safe-creation.any.js
Labels: fetch

#29013 Move capturing-snap-positions.html into css/css-scroll-snap/
  css/css-scroll-snap/capturing-snap-positions.html
Labels: css-scroll-snap

#29275 Add test for out of head <meta name="referrer"> elements
  referrer-policy/generic/meta-referrer-outofhead-fetch.http.html
Labels: referrer-policy, wg-webappsec

#29271 URL: Add some possible bugs seen in implementation
  url/resources/setters_tests.json
  url/resources/urltestdata.json
Labels: url

#29211 Remove __future__ imports in tools/
  tools/lint/fnmatch.py
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/base.py
  tools/lint/tests/test_path_lints.py
  tools/manifest/download.py
  tools/runner/report.py
  tools/serve/serve.py
  tools/wave/configuration_loader.py
  tools/wave/data/session.py
  tools/wave/network/api/results_api_handler.py
  tools/wave/network/api/sessions_api_handler.py
  tools/wave/network/static_handler.py
  tools/wave/testing/event_dispatcher.py
  tools/wave/testing/results_manager.py
  tools/wave/testing/sessions_manager.py
  tools/wave/testing/test_loader.py
  tools/wave/testing/tests_manager.py
  tools/wave/testing/wpt_report.py
  tools/wave/utils/deserializer.py
  tools/wave/utils/serializer.py
  tools/wave/utils/user_agent_parser.py
  tools/wave/wave_server.py
  tools/wptrunner/setup.py
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/tests/test_testloader.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wptmanifest/serializer.py
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptserve/tests/functional/base.py
  tools/wptserve/tests/test_replacement_tokenizer.py
  tools/wptserve/wptserve/ws_h2_handshake.py
Labels: infra, lint, manifest, runner, serve, wave, wptrunner, wptserve

#29274 Make Dependabot ignore sphinx (to be upgraded manually)
  .github/dependabot.yml
  docs/requirements.txt
Labels: GitHub Actions, docs

#29302 Fix accent-color-checkbox-checked-001 reference
  css/css-ui/accent-color-checkbox-checked-001-notref.html
Labels: css-ui

#29306 conformance-checkers: Use Python 3 in Makefile; don't override envars
  conformance-checkers/Makefile
Labels: conformance-checkers

#29323 Use unittest.mock instead of the mock package
  tools/ci/tc/tests/test_decision.py
  tools/ci/tc/tests/test_valid.py
  tools/lint/tests/test_lint.py
  tools/lint/tests/test_path_lints.py
  tools/manifest/tests/test_manifest.py
  tools/manifest/tests/test_utils.py
  tools/requirements_pytest.txt
  tools/wpt/tests/test_browser.py
  tools/wpt/tests/test_revlist.py
  tools/wpt/tests/test_run.py
  tools/wpt/tests/test_testfiles.py
  tools/wptrunner/wptrunner/tests/browsers/test_sauce.py
  tools/wptrunner/wptrunner/tests/test_products.py
  tools/wptrunner/wptrunner/tests/test_update.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptserve/tests/test_request.py
  tools/wptserve/tests/test_response.py
Labels: ci, infra, lint, manifest, mozilla:gecko-blocked, requirements_pytest.txt, wpt, wptrunner, wptserve

#28988 Run mypy for tools/serve/ (but still allow untyped defs)
  tools/mypy.ini
  tools/serve/serve.py
  tools/serve/test_functional.py
  tools/serve/test_serve.py
  tools/serve/wave.py
Labels: infra, mypy.ini, serve

#29358 Update URL for MathML Core
  mathml/META.yml
Labels: mathml, wg-math

#29362 Rewrite use of socket.error and socket.timeout errors
  tools/serve/serve.py
  tools/wave/tests/test_wave.py
  tools/wpt/tests/test_wpt.py
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/webdriver_server.py
  tools/wptserve/wptserve/response.py
  tools/wptserve/wptserve/server.py
Labels: infra, serve, wave, wpt, wptrunner, wptserve

#29341 New test for summary element as list item
  html/rendering/the-details-element/summary-display-list-item-001-ref.html
  html/rendering/the-details-element/summary-display-list-item-001.html
  html/rendering/the-details-element/summary-display-list-item-002-ref.html
  html/rendering/the-details-element/summary-display-list-item-002.html
Labels: html

#29360 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=226967
  webrtc-extensions/transfer-datachannel-worker.js
  webrtc-extensions/transfer-datachannel.html
Labels: webkit-export, webrtc-extensions

#29361 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=226968
  webrtc-extensions/transfer-datachannel-service-worker.https.html
  webrtc-extensions/transfer-datachannel-service-worker.js
Labels: webkit-export, webrtc-extensions

#29396 cc Rename one ARIA test, and update messages.json
  conformance-checkers/html-aria/presentation-role/523-haswarn.html
  conformance-checkers/messages.json
Labels: conformance-checkers

#29246 Tests for forbidden host code-points and resolution of non-special URLs
  url/resources/urltestdata.json
Labels: url

#29409 Update definition of contain:strict and contain:content to include style
  css/css-contain/parsing/contain-computed.html
Labels: css-contain, wg-css

#28453 [css-lists] Test counter-reset: reversed()
  css/css-lists/counter-10-ref.html
  css/css-lists/counter-reset-reversed-list-item-start.html
  css/css-lists/counter-reset-reversed-list-item.html
  css/css-lists/counter-reset-reversed-not-list-item-start.html
  css/css-lists/counter-reset-reversed-not-list-item.html
Labels: css-lists

#29406 Test that print() doesn't work in detached frames
  html/webappapis/user-prompts/print-in-detached-frame.html
Labels: html

#29405 Test printing during unload/beforeunload
  html/webappapis/user-prompts/print-during-beforeunload.html
  html/webappapis/user-prompts/print-during-unload.html
  html/webappapis/user-prompts/resources/destination.html
  html/webappapis/user-prompts/resources/print-during-event.sub.html
Labels: html

#29137 [css-images] Test interaction between EXIF density and image-set() without <resolution>
  density-size-correction/image-set-003.html
Labels: density-size-correction, status:needs-reviewers

#29392 [css-align-3][css-grid-1][css-flexbox-1] Add tests for safe/unsafe alignment keywords.
  css/css-align/self-alignment/self-align-safe-unsafe-flex-001-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-flex-001.html
  css/css-align/self-alignment/self-align-safe-unsafe-flex-002-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-flex-002.html
  css/css-align/self-alignment/self-align-safe-unsafe-flex-003-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-flex-003.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-001-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-001.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-002-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-002.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-003-ref.html
  css/css-align/self-alignment/self-align-safe-unsafe-grid-003.html
Labels: css-align, do not merge yet

#29442 Run webmessaging/ tests as any.js
  webmessaging/Channel_postMessage_Blob.any.js
  webmessaging/Channel_postMessage_DataCloneErr.any.js
  webmessaging/Channel_postMessage_DataCloneErr.htm
  webmessaging/Channel_postMessage_clone_port.any.js
  webmessaging/Channel_postMessage_clone_port_error.any.js
  webmessaging/Channel_postMessage_event_properties.any.js
  webmessaging/Channel_postMessage_ports_readonly_array.any.js
  webmessaging/Channel_postMessage_target_source.any.js
  webmessaging/MessageEvent-trusted.any.js
  webmessaging/MessageEvent-trusted.window.js
  webmessaging/MessageEvent.any.js
  webmessaging/MessagePort_initial_disabled.any.js
  webmessaging/MessagePort_initial_disabled.htm
  webmessaging/MessagePort_onmessage_start.any.js
  webmessaging/MessagePort_onmessage_start.htm
  webmessaging/message-channels/basics.any.js
  webmessaging/message-channels/close.any.js
  webmessaging/message-channels/cross-document.html
  webmessaging/message-channels/dictionary-transferrable.any.js
  webmessaging/message-channels/implied-start.any.js
  webmessaging/message-channels/no-start.any.js
  webmessaging/message-channels/resources/cross-document-1.html
  webmessaging/message-channels/resources/cross-document-2.html
  webmessaging/message-channels/user-activation.tentative.any.js
  webmessaging/message-channels/worker-post-after-close.any.js
  webmessaging/message-channels/worker.any.js
  webmessaging/support/MessageEvent-trusted-worker.js
Labels: webmessaging, wg-s_htmlwg

#29443 Use .any.js for some dom/events tests
  dom/events/AddEventListenerOptions-once.any.js
  dom/events/AddEventListenerOptions-passive.any.js
  dom/events/EventTarget-add-remove-listener.any.js
  dom/events/EventTarget-add-remove-listener.html
  dom/events/EventTarget-addEventListener.any.js
  dom/events/EventTarget-addEventListener.html
  dom/events/EventTarget-removeEventListener.any.js
  dom/events/EventTarget-removeEventListener.html
Labels: dom

#29444 Fix message-channels/close.any.js for non window
  webmessaging/message-channels/close.any.js
Labels: webmessaging, wg-s_htmlwg

#29419 Update javascript: URL byte/string conversion tests
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-return-value-handling-dynamic.html
Labels: html, status:needs-spec-decision

#29461 Don't use a closure over a class for WaveHandler
  tools/serve/wave.py
Labels: infra, serve

#28381 Start creating a proper client for WebDriver BiDi
  tools/webdriver/webdriver/bidi/__init__.py
  tools/webdriver/webdriver/bidi/client.py
  tools/webdriver/webdriver/client.py
  webdriver/tests/bidi/new_session/connect.py
  webdriver/tests/support/fixtures.py
Labels: infra, webdriver, webdriver-bidi, wg-testing_browser

#29467 Flip tests for bubbles/cancelable on pageshow/pagehide
  html/browsers/browsing-the-web/history-traversal/001.html
  html/browsers/browsing-the-web/unloading-documents/unload/002.html
  html/syntax/parsing/the-end.html
Labels: html

#29481 Encoding: add some basic EOF tests
  encoding/streams/decode-utf8.any.js
  encoding/textdecoder-eof.any.js
Labels: encoding

#29310 Add tests for WritableStreamDefaultController.signal
  streams/writable-streams/aborting.any.js
Labels: streams

#28480 Attempt to test replace before load
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-click.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/a-user-click.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-requestsubmit.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-button-click.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/iframe-src.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign-user-click.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-assign.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-user-click.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-user-mouseup.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/code-injector.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/helpers.js
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/message-opener.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/slow-code-injector.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-popup.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-load.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/window-open-self.html
  html/browsers/history/the-session-history-of-browsing-contexts/navigation-in-onload.html
  html/browsers/history/the-session-history-of-browsing-contexts/navigation-in-onload_form-submission-1.html
  html/browsers/history/the-session-history-of-browsing-contexts/navigation-in-onload_form-submission-2.html
  html/browsers/history/the-session-history-of-browsing-contexts/navigation-in-onload_form-submission-dynamic-iframe.html
  html/browsers/history/the-session-history-of-browsing-contexts/navigation-in-onload_form-submission-iframe.html
Labels: html

#29488 Streams: read with fixed endianness
  streams/readable-byte-streams/general.any.js
Labels: streams

#29484 Change documentation to point at Matrix rather than IRC.
  CODE_OF_CONDUCT.md
  README.md
  docs/index.md
  docs/running-tests/custom-runner.md
  docs/writing-tests/general-guidelines.md
  docs/writing-tests/submission-process.md
Labels: docs, infra

#29499 cc Update ARIA document-conformance tests
  conformance-checkers/html-aria/host-language/implicit-semantics-checkbox-norole-haswarn.html
  conformance-checkers/html-aria/presentation-role/497-novalid.html
  conformance-checkers/html-aria/presentation-role/498-novalid.html
  conformance-checkers/html-aria/presentation-role/499-novalid.html
  conformance-checkers/html-aria/presentation-role/500-novalid.html
  conformance-checkers/html-aria/presentation-role/501-novalid.html
  conformance-checkers/html-aria/presentation-role/502-novalid.html
  conformance-checkers/html-aria/presentation-role/503-novalid.html
  conformance-checkers/html-aria/presentation-role/504-novalid.html
  conformance-checkers/html-aria/presentation-role/505-novalid.html
  conformance-checkers/html-aria/presentation-role/506-novalid.html
  conformance-checkers/html-aria/presentation-role/507-novalid.html
  conformance-checkers/html-aria/presentation-role/509-novalid.html
  conformance-checkers/messages.json
Labels: conformance-checkers

#27720 [URL] Ensure that path-only URLs do not have their paths erased by th…
  url/resources/setters_tests.json
Labels: url

#29468 Test the javascript: URL security check
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-security-check-failure.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-security-check-multi-globals.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-security-check-same-origin-domain.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/resources/document-domain-set-to-site.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/resources/multi-globals-subframe-1.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/resources/multi-globals-subframe-2.sub.html
Labels: html

#29503 Streams: fix assert_throws_js calls
  streams/readable-byte-streams/non-transferable-buffers.any.js
Labels: streams

#29516 Add WebAssembly Exception handling tests from spec repo.
  wasm/jsapi/exception/constructor.tentative.any.js
  wasm/jsapi/exception/getArg.tentative.any.js
  wasm/jsapi/exception/is.tentative.any.js
  wasm/jsapi/exception/toString.tentative.any.js
  wasm/jsapi/exception/type.tentative.any.js
  wasm/jsapi/tag/constructor.tentative.any.js
  wasm/jsapi/tag/toString.tentative.any.js
  wasm/jsapi/tag/type.tentative.any.js
Labels: wasm

#29517 fix validateStreamFromPartialString test utility
  fetch/api/resources/utils.js
Labels: fetch

#29411 Test density size correction for cross-origin images
  density-size-correction/density-corrected-image-svg-aspect-ratio-cross-origin.sub.html
  density-size-correction/density-corrected-image-svg-cross-origin.sub.html
  density-size-correction/density-corrected-size-bg-cross-origin.sub.html
  density-size-correction/density-corrected-size-img-cross-origin.sub.html
  density-size-correction/density-corrected-size-pseudo-elements-cross-origin.sub.html
  density-size-correction/density-corrected-various-elements-cross-origin.sub.html
  density-size-correction/image-set-001-cross-origin.sub.html
  density-size-correction/image-set-002-cross-origin.sub.html
  density-size-correction/srcset-cross-origin.sub.html
Labels: density-size-correction, status:needs-reviewers

#29522 Find and install EdgeDriver using installed Edge channel
  tools/wpt/browser.py
  tools/wpt/run.py
Labels: infra, wpt
