Repository web-platform-tests/wpt, pull requests merged in 2021-03, with the labels that each got.

#27827 Remove unnecessary testdriver <script>s
  shadow-dom/focus/focus-selector-delegatesFocus.html
Labels: shadow-dom, wg-webplatform

#27815 Parse tombstones on android devices
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/browsers/chrome_android.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#27844 [wptserve] Handle LibreSSL in HTTP/2.0 requirements check
  tools/wptserve/wptserve/utils.py
Labels: infra, wptserve

#27778 XMLHttpRequest: response stream errors
  service-workers/service-worker/fetch-request-xhr-sync-error.https.window.js
  service-workers/service-worker/resources/fetch-request-xhr-sync-error-worker.js
  xhr/response-body-errors.any.js
Labels: service-workers, wg-sw, xhr

#27845 [testharness.js] Do not wrap assert_any in expose_assert
  resources/testharness.js
Labels: infra, testharness.js

#10548 Parsing Content-Length
  fetch/content-length/parsing.window.js
  fetch/content-length/resources/content-length.py
  fetch/content-length/resources/content-lengths.json
  fetch/content-length/too-long.window.js
Labels: fetch

#27860 Update interfaces/SVG.idl
  interfaces/SVG.idl
Labels: interfaces

#27861 Update interfaces/css-parser-api.idl
  interfaces/css-parser-api.idl
Labels: interfaces

#27862 Update interfaces/webvtt.idl
  interfaces/webvtt.idl
Labels: interfaces

#27865 Improve flexbox-basic-* tests robustness
  css/css-flexbox/flexbox-basic-canvas-vert-001-ref.xhtml
  css/css-flexbox/flexbox-basic-canvas-vert-001.xhtml
  css/css-flexbox/flexbox-basic-canvas-vert-001v.xhtml
  css/css-flexbox/flexbox-basic-iframe-vert-001-ref.xhtml
  css/css-flexbox/flexbox-basic-iframe-vert-001.xhtml
  css/css-flexbox/flexbox-basic-img-vert-001-ref.xhtml
  css/css-flexbox/flexbox-basic-img-vert-001.xhtml
  css/css-flexbox/flexbox-basic-textarea-vert-001-ref.xhtml
  css/css-flexbox/flexbox-basic-textarea-vert-001.xhtml
  css/css-flexbox/flexbox-basic-video-vert-001-ref.xhtml
  css/css-flexbox/flexbox-basic-video-vert-001.xhtml
Labels: css-flexbox, wg-css

#27863 Remove interfaces/SRI.idl
  interfaces/SRI.idl
Labels: interfaces

#27882 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#27880 Decode str in check_key_cert
  tools/wptserve/wptserve/sslutils/openssl.py
Labels: infra, wptserve

#27896 Allow fuzzy matching for replaced-element-003
  css/css-sizing/aspect-ratio/replaced-element-003.html
Labels: css-sizing

#27805 Remove unused variable and move reset session to a function
  webdriver/tests/support/fixtures.py
Labels: mozilla:gecko-blocked, webdriver, wg-testing_browser

#27897 [docs] Add note on debugging fuzzy reftests using `wpt run`
  docs/writing-tests/reftests.md
Labels: docs

#27894 Fetch: redo Content-Length parser test names
  fetch/content-length/parsing.window.js
Labels: fetch

#27322 Add fetch upload test on HTTP 421 response.
  fetch/api/basic/request-upload.any.js
  fetch/connection-pool/resources/network-partition-key.py
  service-workers/service-worker/fetch-event.https.html
  service-workers/service-worker/resources/fetch-event-test-worker.js
Labels: fetch, service-workers, status:needs-spec-decision, wg-sw

#27914 Update interfaces/webgl1.idl
  interfaces/webgl1.idl
Labels: interfaces

#27915 Update interfaces/webgl2.idl
  interfaces/webgl2.idl
Labels: interfaces

#27909 [css-sizing-3] min-width:min-content testcase from Ojan Vafai
  css/css-sizing/min-content-min-width-000.html
Labels: css-sizing

#27928 Update interfaces/background-sync.idl
  interfaces/background-sync.idl
Labels: interfaces

#27929 Update interfaces/keyboard-map.idl
  interfaces/keyboard-map.idl
Labels: interfaces

#27927 Remove unused scripts in css/vendor-imports/
  css/vendor-imports/mozilla/mozilla-central-reftests/check-for-references.sh
  css/vendor-imports/mozilla/mozilla-central-reftests/sync-tests-filter
  css/vendor-imports/mozilla/mozilla-central-reftests/sync-tests.sh
Labels: vendor-imports

#27934 Ensure border-width interpolation test does not yield float values
  css/css-backgrounds/animations/border-width-interpolation.html
Labels: css-backgrounds

#27923 Remove css/css-transitions/properties-value-auto-001.html
  css/css-transitions/properties-value-auto-001.html
  css/css-transitions/support/properties.js
Labels: css-transitions

#27957 Remove interfaces/appmanifest.idl
  interfaces/appmanifest.idl
Labels: interfaces

#27925 [css-break] move tests from vendor-imports into the main suite
  css/css-break/overflowing-block-print-ref.html
  css/css-break/overflowing-block-print.html
Labels: css-break

#27967 Rename interfaces/cors-rfc1918.idl -> interfaces/private-network-access.idl
  fetch/private-network-access/idlharness.tentative.any.js
  interfaces/private-network-access.idl
Labels: fetch, interfaces

#27955 [Resource-Timing] content-length/encodedBodySize
  resource-timing/resource_timing_content_length.html
  resource-timing/resources/resource-timing-content-length.py
Labels: resource-timing, wg-webperf

#27717 chore: Add Dependabot for depenency updates
  .github/dependabot.yml
Labels: GitHub Actions

#27975 [css-flexbox] Improve robustness of select-element-zero-height-* tests
  css/css-flexbox/select-element-zero-height-001-ref.html
  css/css-flexbox/select-element-zero-height-001.html
  css/css-flexbox/select-element-zero-height-002-ref.html
  css/css-flexbox/select-element-zero-height-002.html
Labels: css-flexbox, wg-css

#27991 [WebIDL] Test subclassing of legacy factory functions
  WebIDL/ecmascript-binding/legacy-factor-function-subclass.window.js
Labels: WebIDL, wg-webplatform

#23781 Add tests for proxying modifier clicks on label to labeled elements
  html/semantics/forms/the-label-element/proxy-modifier-click-to-associated-element.tentative.html
Labels: html

#27990 Additional port blocking in response to NAT Slipstream v2
  fetch/api/request/request-bad-port.any.js
  tools/wptserve/wptserve/utils.py
  websockets/Create-blocked-port.any.js
Labels: fetch, infra, websockets, wg-html, wptserve

#28000 Introduce a --no-fail-on-unexpected-pass flag.
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#28024 Perform xrReferenceSpace_originOffsetBounded.html validations with an active XRFrame.
  webxr/xrReferenceSpace_originOffsetBounded.https.html
Labels: webxr, wg-immersive-web

#26404 Adds flexbox start/end tests for LRT and RTL languages
  css/css-flexbox/flexbox_justifycontent-end-ref.html
  css/css-flexbox/flexbox_justifycontent-end-rtl-ref.html
  css/css-flexbox/flexbox_justifycontent-end-rtl.html
  css/css-flexbox/flexbox_justifycontent-end.html
  css/css-flexbox/flexbox_justifycontent-start-ref.html
  css/css-flexbox/flexbox_justifycontent-start-rtl-ref.html
  css/css-flexbox/flexbox_justifycontent-start-rtl.html
  css/css-flexbox/flexbox_justifycontent-start.html
Labels: css-flexbox, wg-css

#28037 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=203456
  html/browsers/the-windowproxy-exotic-object/windowproxy-define-own-property-unforgeable-same-origin.html
Labels: html, webkit-export

#28031 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=221872
  WebIDL/ecmascript-binding/attributes-accessors-unique-function-objects.html
Labels: WebIDL, webkit-export, wg-webplatform

#28044 Update Safari Technology Preview to 122
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#28003 Add test for proposed AbortSignal.abort()
  dom/abort/event.any.js
Labels: dom

#28051 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=223113
  css/selectors/focus-visible-001.html
  css/selectors/focus-visible-019.html
Labels: selectors, webkit-export

#28036 Fix perspective interpolation test to allow 0 as value
  css/css-transforms/animation/perspective-interpolation.html
Labels: css-transforms

#28029 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=222739
  html/browsers/origin/cross-origin-objects/cross-origin-objects-function-caching.html
  html/browsers/origin/cross-origin-objects/cross-origin-objects-function-common.js
  html/browsers/origin/cross-origin-objects/cross-origin-objects-function-length.html
  html/browsers/origin/cross-origin-objects/cross-origin-objects-function-name.html
Labels: html, webkit-export

#28055 [ci] Remove deployment of PRs to wptpr.live
  .github/workflows/pull_request_previews.yml
  tools/ci/pr_preview.py
  tools/ci/tests/test_pr_preview.py
Labels: GitHub Actions, ci, infra

#26091 Add Symbol.unscopables lexical scope test of compiled event handlers
  html/webappapis/scripting/events/compile-event-handler-symbol-unscopables.html
Labels: html

#27968 Dialog should not still be centered when removed and re-added to the document
  html/semantics/interactive-elements/the-dialog-element/abspos-dialog-layout.html
Labels: html

#28084 New test for percentage flex basis in nested column flexboxes
  css/css-flexbox/flex-basis-011-ref.html
  css/css-flexbox/flex-basis-011.html
Labels: css-flexbox, wg-css

#28129 Fetch/XHR: test JSON parser
  fetch/api/response/json.any.js
  xhr/json.any.js
  xhr/no-utf16-json.htm
Labels: fetch, xhr

#28119 Added tests for the 'left' and 'right' keywords on 'justify-content' …
  css/css-flexbox/flexbox_justifycontent-left-001-ref.html
  css/css-flexbox/flexbox_justifycontent-left-001.html
  css/css-flexbox/flexbox_justifycontent-left-002-ref.html
  css/css-flexbox/flexbox_justifycontent-left-002.html
  css/css-flexbox/flexbox_justifycontent-right-001-ref.html
  css/css-flexbox/flexbox_justifycontent-right-001.html
  css/css-flexbox/flexbox_justifycontent-right-002-ref.html
  css/css-flexbox/flexbox_justifycontent-right-002.html
Labels: css-flexbox, wg-css

#28102 Remove ES6 ...spread from assert_wrapper() and AssertRecord()
  resources/testharness.js
Labels: infra, testharness.js

#28153 Streams: add missing asserts in tee test
  streams/readable-streams/tee.any.js
  streams/transform-streams/patched-global.any.js
Labels: streams

#28159 Fix input activation behavior tests to test connected inputs
  dom/events/Event-dispatch-click.html
Labels: dom

#28161 Fix output mutations test
  html/semantics/forms/the-output-element/mutations.window.js
Labels: html

#28118 [url] Forbid | in URL hosts
  url/resources/urltestdata.json
Labels: url

#28167 Add OffscreenCanvas test for drawing generic font families
  html/canvas/offscreen/manual/draw-generic-family/2d.text.draw.generic.family.html
  html/canvas/offscreen/manual/draw-generic-family/2d.text.draw.generic.family.w.html
Labels: html

#28152 Cleaned up tests, fixed mistake
  css/css-flexbox/flexbox_justifycontent-left-001-ref.html
  css/css-flexbox/flexbox_justifycontent-left-001.html
  css/css-flexbox/flexbox_justifycontent-left-002-ref.html
  css/css-flexbox/flexbox_justifycontent-left-002.html
  css/css-flexbox/flexbox_justifycontent-right-001-ref.html
  css/css-flexbox/flexbox_justifycontent-right-001.html
  css/css-flexbox/flexbox_justifycontent-right-002-ref.html
  css/css-flexbox/flexbox_justifycontent-right-002.html
Labels: css-flexbox, wg-css

#28166 Fix typo in fontface-override-descriptors-ref.html
  css/css-font-loading/fontface-override-descriptors-ref.html
Labels: css-font-loading

#28148 screen-wake-lock: Adapt to https://github.com/w3c/screen-wake-lock/pull/299
  screen-wake-lock/wakelock-onrelease.https.html
  screen-wake-lock/wakelock-released.https.html
Labels: screen-wake-lock, wg-das

#28182 Decrease canvas size in 2d.text.draw.generic.family
  html/canvas/offscreen/manual/draw-generic-family/2d.text.draw.generic.family.html
  html/canvas/offscreen/manual/draw-generic-family/2d.text.draw.generic.family.w.html
Labels: html

#27922 Upstream a variety of XHR tests from jsdom
  xhr/abort-during-readystatechange.any.js
  xhr/access-control-preflight-request-allow-headers-returns-star.any.js
  xhr/access-control-preflight-request-header-returns-origin.any.js
  xhr/content-type-unmodified.any.js
  xhr/cors-upload.any.js
  xhr/formdata-constructor.html
  xhr/formdata-set-blob.html
  xhr/over-1-meg.any.js
  xhr/resources/access-control-preflight-request-allow-headers-returns-star.py
  xhr/resources/access-control-preflight-request-header-returns-origin.py
  xhr/resources/echo-content-cors.py
  xhr/resources/echo-content-type.py
  xhr/resources/over-1-meg.txt
  xhr/thrown-error-in-events.html
Labels: xhr

#28190 screen wake lock: Stop setting |one_realm| in testdriver.set_permission()
  screen-wake-lock/idlharness.https.window.js
  screen-wake-lock/wakelock-enabled-by-feature-policy.https.sub.html
  screen-wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.sub.html
  screen-wake-lock/wakelock-onrelease.https.html
  screen-wake-lock/wakelock-released.https.html
  screen-wake-lock/wakelock-request-denied.https.html
  screen-wake-lock/wakelock-type.https.window.js
  screen-wake-lock/wakelockpermissiondescriptor.https.html
Labels: screen-wake-lock, wg-das

#28189 testdriver: Explicitly set a default for the one_realm parameter.
  docs/writing-tests/testdriver.md
  resources/testdriver.js
Labels: docs, infra, testdriver.js

#28238 [Taskcluster] pin Chrome Dev to 91.0.4449.6
  tools/ci/run_tc.py
Labels: ci, infra

#28247 Grid repeat(auto) with max-width shouldn't pay attention only to that
  css/css-grid/grid-definition/grid-repeat-max-width-001.html
Labels: css-grid

#28228 Return if rangeEndpoints is a string
  dom/ranges/Range-collapse.html
Labels: dom

#28225 Test should assert if bodiesNum is 0
  html/syntax/parsing/template/clearing-the-stack-back-to-a-given-context/clearing-stack-back-to-a-table-body-context.html
  html/syntax/parsing/template/clearing-the-stack-back-to-a-given-context/clearing-stack-back-to-a-table-context.html
Labels: html

#28260 [cleanup] Remove myself from various READMEs and META files
  animation-worklet/META.yml
  interfaces/META.yml
  scroll-animations/META.yml
  tools/META.yml
  tools/docker/README.md
  web-animations/META.yml
Labels: META.yml, animation-worklet, docker, infra, interfaces, scroll-animations, web-animations, wg-css, wg-svg

#27799 HTML: Test <svg><p> in innerHTML: Sync with html5lib-tests#133
  html/syntax/parsing/html5lib_innerHTML_foreign-fragment.html
  html/tools/build.sh
Labels: html

#28266 Streams: add test for canceling both tee'd branches in sequence with delay
  streams/readable-streams/tee.any.js
Labels: streams

#28230 Fix parse tombstone
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/browsers/chrome_android.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#27105 Fix typo in digest.js
  WebCryptoAPI/digest/digest.js
Labels: WebCryptoAPI, wg-webcrypto

#28301 [META] Update URL of WebCodecs spec
  webcodecs/META.yml
Labels: status:needs-reviewers, webcodecs
