Repository web-platform-tests/wpt, pull requests merged in 2021-05, with the labels that each got.

#28775 Fix typo in manifestexpected.py
  tools/wptrunner/wptrunner/manifestexpected.py
Labels: infra, wptrunner

#28781 Move some filter tests out of css/vendor-imports/mozilla/mozilla-central-reftests
  css/filter-effects/filter-cb-dynamic-1-ref.html
  css/filter-effects/filter-cb-dynamic-1a.html
  css/filter-effects/filter-cb-dynamic-1b.html
Labels: filter-effects, wg-css

#28779 Move css/vendor-imports/mozilla/mozilla-central-reftests/will-change tests to css/css-will-change/will-change
  css/css-will-change/green-square-100-by-100-offset-ref.html
  css/css-will-change/green-square-100-by-100-ref.html
  css/css-will-change/will-change-fixpos-cb-contain-1.html
  css/css-will-change/will-change-fixpos-cb-filter-1.html
  css/css-will-change/will-change-fixpos-cb-height-1.html
  css/css-will-change/will-change-fixpos-cb-offset-path-1.html
  css/css-will-change/will-change-fixpos-cb-perspective-1.html
  css/css-will-change/will-change-fixpos-cb-position-1.html
  css/css-will-change/will-change-fixpos-cb-transform-1.html
  css/css-will-change/will-change-fixpos-cb-transform-style-1.html
  css/css-will-change/will-change-fixpos-cb-translate-1.html
  css/css-will-change/will-change-stacking-context-001-ref.html
  css/css-will-change/will-change-stacking-context-001.html
  css/css-will-change/will-change-stacking-context-002-ref.html
  css/css-will-change/will-change-stacking-context-003-ref.html
  css/css-will-change/will-change-stacking-context-backdrop-filter-1.html
  css/css-will-change/will-change-stacking-context-clip-path-1.html
  css/css-will-change/will-change-stacking-context-filter-1.html
  css/css-will-change/will-change-stacking-context-height-1.html
  css/css-will-change/will-change-stacking-context-isolation-1.html
  css/css-will-change/will-change-stacking-context-mask-1.html
  css/css-will-change/will-change-stacking-context-mix-blend-mode-1.html
  css/css-will-change/will-change-stacking-context-offset-path-1.html
  css/css-will-change/will-change-stacking-context-opacity-1.html
  css/css-will-change/will-change-stacking-context-opacity-2.html
  css/css-will-change/will-change-stacking-context-perspective-1.html
  css/css-will-change/will-change-stacking-context-position-1.html
  css/css-will-change/will-change-stacking-context-transform-1.html
  css/css-will-change/will-change-stacking-context-transform-style-1.html
  css/css-will-change/will-change-stacking-context-translate-1.html
  css/css-will-change/will-change-stacking-context-z-index-1.html
Labels: css-will-change

#28782 Move font-size tests out of vendor-imports
  css/css-fonts/font-size-adjust-zero-1.html
  css/css-fonts/font-size-adjust-zero-2.html
  css/css-fonts/font-size-zero-1-notref.html
  css/css-fonts/font-size-zero-1-ref.html
  css/css-fonts/font-size-zero-1.html
  css/css-fonts/font-size-zero-2-ref.html
  css/css-fonts/font-size-zero-2.html
Labels: css-fonts, vendor-imports

#28713 Update CI to Python 3.9
  .azure-pipelines.yml
  .github/workflows/documentation.yml
  .github/workflows/manifest.yml
  .github/workflows/regen_certs.yml
  resources/test/conftest.py
  resources/test/tox.ini
  tools/ci/azure/install_python.yml
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
  tools/tox.ini
  tools/wave/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: Azure Pipelines, GitHub Actions, ci, infra, lint, testharness.js, tox.ini, wave, wpt, wptrunner

#27926 [CSS21] move "ib-split" tests from vendor-imports into the main suite
  css/CSS2/visuren/emptyspan-1-ref.html
  css/CSS2/visuren/emptyspan-1.html
  css/CSS2/visuren/emptyspan-2-ref.html
  css/CSS2/visuren/emptyspan-2.html
  css/CSS2/visuren/emptyspan-3-ref.html
  css/CSS2/visuren/emptyspan-3.html
  css/CSS2/visuren/emptyspan-4-ref.html
  css/CSS2/visuren/emptyspan-4.html
  css/CSS2/visuren/float-inside-inline-between-blocks-1-ref.html
  css/CSS2/visuren/float-inside-inline-between-blocks-1.html
  css/CSS2/visuren/percent-height-1-ref.html
  css/CSS2/visuren/percent-height-1.html
  css/CSS2/visuren/remove-from-split-inline-1-noib-ref.html
  css/CSS2/visuren/remove-from-split-inline-1-ref.html
  css/CSS2/visuren/remove-from-split-inline-1.html
  css/CSS2/visuren/remove-from-split-inline-2-ref.html
  css/CSS2/visuren/remove-from-split-inline-2.html
  css/CSS2/visuren/remove-from-split-inline-3-noib-ref.html
  css/CSS2/visuren/remove-from-split-inline-3-ref.html
  css/CSS2/visuren/remove-from-split-inline-3.html
  css/CSS2/visuren/remove-from-split-inline-4-noib-ref.html
  css/CSS2/visuren/remove-from-split-inline-4-ref.html
  css/CSS2/visuren/remove-from-split-inline-4.html
  css/CSS2/visuren/remove-from-split-inline-5-noib-ref.html
  css/CSS2/visuren/remove-from-split-inline-5-ref.html
  css/CSS2/visuren/remove-from-split-inline-5.html
  css/CSS2/visuren/remove-from-split-inline-6-noib-ref.html
  css/CSS2/visuren/remove-from-split-inline-6-ref.html
  css/CSS2/visuren/remove-from-split-inline-6.html
  css/CSS2/visuren/remove-split-inline-1-ref.html
  css/CSS2/visuren/remove-split-inline-1.html
  css/CSS2/visuren/split-inner-inline-1-ref.html
  css/CSS2/visuren/split-inner-inline-1.html
  css/CSS2/visuren/split-inner-inline-2-ref.html
  css/CSS2/visuren/split-inner-inline-2.html
  css/CSS2/visuren/table-pseudo-in-part3-1-ref.html
  css/CSS2/visuren/table-pseudo-in-part3-1.html
  css/CSS2/visuren/whitespace-present-1-ref.html
  css/CSS2/visuren/whitespace-present-1a.html
  css/CSS2/visuren/whitespace-present-1b.html
Labels: CSS2, wg-css

#28746 Remove dead code guarded by sys.version_info checks
  tools/localpaths.py
  tools/manifest/XMLParser.py
  tools/wptrunner/wptrunner/metadata.py
Labels: infra, localpaths.py, manifest, wptrunner

#28737 Extract pytest dependencies into a shared requirements_pytest.txt
  .pyup.yml
  resources/test/tox.ini
  tools/requirements_pytest.txt
  tools/tox.ini
  tools/wave/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: infra, requirements_pytest.txt, testharness.js, tox.ini, wave, wpt, wptrunner

#28785 [python3] convert generated-mime-types.py
  mimesniff/mime-types/resources/generated-mime-types.py
  update-built-tests.sh
Labels: infra, mimesniff

#28770 Test for decoding empty formdata using fetch
  fetch/api/body/formdata.any.js
Labels: fetch

#28790 Skip tools/wpt/ tests that require Chrome Dev
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#28760 [ci] Remove obsolete PY2_FLAG from ci_wptrunner_infrastructure.sh
  tools/ci/ci_wptrunner_infrastructure.sh
Labels: ci, infra

#28807 [docs] Link to wpt.live alongside w3c-test.org in a few more places
  README.md
  docs/admin/index.md
  docs/index.md
  docs/running-tests/from-web.md
Labels: docs, infra

#28808 Add test for requestSubmit on disabled button
  html/semantics/forms/the-form-element/form-requestsubmit.html
Labels: html

#28399 Optical sizing corresponds to displayed, adjusted size
  css/css-fonts/variations/variable-opsz-size-adjust-ref.html
  css/css-fonts/variations/variable-opsz-size-adjust.html
Labels: css-fonts

#28795 Rename and trim py3-flake8.ini
  tools/flake8.ini
  tools/tox.ini
Labels: flake8.ini, infra, tox.ini

#28813 Verify that submitter is the only control of type submit that is acti…
  html/semantics/forms/form-submission-0/request-submit-activation.html
Labels: html

#28799 Test document.write() during readystatechange to interactive
  html/webappapis/dynamic-markup-insertion/document-write/during-readystatechange.window.js
Labels: html

#28818 Remove use of six.BytesIO
  common/security-features/subresource/image.py
  resource-timing/resources/gzip_xml.py
  xhr/resources/gzip.py
Labels: assets, resource-timing, wg-webperf, xhr

#28822 Remove/update obsolete comments about Python 2 issues
  tools/manifest/XMLParser.py
  tools/manifest/typedata.py
  tools/serve/serve.py
  tools/wptserve/tests/functional/base.py
  tools/wptserve/wptserve/sslutils/openssl.py
  tools/wptserve/wptserve/utils.py
Labels: infra, manifest, serve, wptserve

#28831 [docs] fix broken links in testharness.md
  docs/writing-tests/testharness.md
Labels: docs

#28806 Remove documentation for wptrunner as a standalone project
  docs/running-tests/from-local-system.md
  tools/wptrunner/README.rst
  tools/wptrunner/docs/usage.rst
Labels: docs, infra, wptrunner

#28626 Fix use of headers pipe in permissions policy tests
  permissions-policy/permissions-policy-frame-policy-allowed-for-all.https.sub.html
Labels: permissions-policy, status:needs-reviewers, wg-webappsec

#28832 Update conformance-checkers/ tests in update-built-tests.sh
  conformance-checkers/html/elements/dl/aside-in-dt-novalid.html
  conformance-checkers/tools/build-svg-tests.py
  conformance-checkers/tools/build.sh
  update-built-tests.sh
Labels: conformance-checkers, infra

#28777 Remove unused dependencies in resources/test/tox.ini
  resources/test/tox.ini
Labels: infra, testharness.js

#28836 Update OffscreenCanvas tests to respect [EnforceRange] idl annotation
  html/canvas/offscreen/pixel-manipulation/2d.imageData.get.tiny.html
  html/canvas/offscreen/pixel-manipulation/2d.imageData.get.tiny.worker.js
  html/canvas/offscreen/the-offscreen-canvas/size.attributes.idl.html
  html/canvas/offscreen/the-offscreen-canvas/size.attributes.idl.worker.js
  html/canvas/tools/yaml/offscreen/pixel-manipulation.yaml
  html/canvas/tools/yaml/offscreen/the-offscreen-canvas.yaml
Labels: html

#28816 [css-values-3] Improve attr-px-invalid-cast.html and attr-px-invalid-fallback.html tests
  css/css-values/attr-px-invalid-cast.html
  css/css-values/attr-px-invalid-fallback.html
Labels: css-values, wg-css

#28812 [py3] convert conformance-checkers/tools/*.py
  conformance-checkers/html/elements/a/href-isvalid.html
  conformance-checkers/html/elements/area/href-isvalid.html
  conformance-checkers/html/elements/audio/src-isvalid.html
  conformance-checkers/html/elements/blockquote/cite-isvalid.html
  conformance-checkers/html/elements/button/formaction-isvalid.html
  conformance-checkers/html/elements/del/cite-isvalid.html
  conformance-checkers/html/elements/del/datetime-isvalid.html
  conformance-checkers/html/elements/dl/dl-isvalid.html
  conformance-checkers/html/elements/embed/src-isvalid.html
  conformance-checkers/html/elements/form/action-isvalid.html
  conformance-checkers/html/elements/iframe/src-isvalid.html
  conformance-checkers/html/elements/img/src-isvalid.html
  conformance-checkers/html/elements/input/type-image-formaction-isvalid.html
  conformance-checkers/html/elements/input/type-image-src-isvalid.html
  conformance-checkers/html/elements/input/type-submit-formaction-isvalid.html
  conformance-checkers/html/elements/input/type-url-value-isvalid.html
  conformance-checkers/html/elements/ins/cite-isvalid.html
  conformance-checkers/html/elements/ins/datetime-isvalid.html
  conformance-checkers/html/elements/link/href-isvalid.html
  conformance-checkers/html/elements/meta/refresh-isvalid.html
  conformance-checkers/html/elements/object/data-isvalid.html
  conformance-checkers/html/elements/picture/picture-isvalid.html
  conformance-checkers/html/elements/q/cite-isvalid.html
  conformance-checkers/html/elements/script/src-isvalid.html
  conformance-checkers/html/elements/source/src-isvalid.html
  conformance-checkers/html/elements/track/src-isvalid.html
  conformance-checkers/html/elements/video/poster-isvalid.html
  conformance-checkers/html/elements/video/src-isvalid.html
  conformance-checkers/html/microdata/itemid-isvalid.html
  conformance-checkers/html/microdata/itemtype-isvalid.html
  conformance-checkers/tools/build.sh
  conformance-checkers/tools/dl.py
  conformance-checkers/tools/ins-del-datetime.py
  conformance-checkers/tools/picture.py
  conformance-checkers/tools/url.py
  tools/ci/jobs.py
  update-built-tests.sh
Labels: ci, conformance-checkers, infra

#28791 Update pytest and mock to the latest versions
  tools/requirements_pytest.txt
Labels: infra, requirements_pytest.txt

#4354 Test snapshotting of allowfullscreen attribute
  fullscreen/api/document-fullscreen-enabled-removing-allowfullscreen.sub.html
  fullscreen/api/document-fullscreen-enabled-setting-allowfullscreen-timing.sub.html
  fullscreen/api/document-fullscreen-enabled-setting-allowfullscreen.sub.html
  fullscreen/api/resources/echo-fullscreenEnabled.html
Labels: fullscreen, wg-css

#28865 Make padding-overflow-crash.html match reference
  css/css-flexbox/padding-overflow-crash.html
Labels: css-flexbox, wg-css

#28871 Remove myself from reviewer list
  tools/META.yml
Labels: META.yml, infra

#28757 Clean up more around base64.decodebytes() calls
  common/security-features/subresource/font.py
  html/semantics/embedded-content/the-img-element/404-response-with-actual-image-data.py
  html/webappapis/dynamic-markup-insertion/opening-the-input-stream/resources/slow-png.py
  service-workers/service-worker/resources/fetch-access-control.py
  webdriver/tests/print/printcmd.py
  webdriver/tests/print/user_prompts.py
  webdriver/tests/support/asserts.py
  webdriver/tests/support/image.py
Labels: assets, html, mozilla:gecko-blocked, service-workers, webdriver, wg-sw, wg-testing_browser

#28873 Convert conformance-checkers/tools/url.py back to using strings
  conformance-checkers/tools/url.py
Labels: conformance-checkers, mozilla:gecko-blocked

#28444 Reftest had incorrect color channels
  css/css-color/t421-rgb-values-meaning-b-ref.html
Labels: css-color

#28848 Simplify code converting os.environ to strings (avoiding six)
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/firefox_android.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/process.py
  tools/wptrunner/wptrunner/webdriver_server.py
  tools/wptserve/wptserve/sslutils/openssl.py
Labels: infra, wptrunner, wptserve

#28867 Remove use of six.range
  service-workers/service-worker/resources/trickle.py
Labels: service-workers, wg-sw

#7862 Test behavior of media capture from a cross-origin video
  mediacapture-fromelement/cross-origin.html
Labels: mediacapture-fromelement, status:needs-reviewers, wg-dap, wg-das, wg-s_webrtc, wg-webrtc

#28875 Remove use of six.iteritems
  docs/wpt_lint_rules.py
  webdriver/tests/support/helpers.py
  webdriver/tests/support/merge_dictionaries.py
Labels: docs, webdriver, wg-testing_browser

#28872 Pin remaining dependencies in tox.ini with resources_*.txt files
  .pyup.yml
  resources/test/requirements.txt
  resources/test/tox.ini
  tools/requirements_tests.txt
  tools/tox.ini
Labels: infra, requirements_tests.txt, testharness.js, tox.ini

#28881 Avoid putting device-dependent string in test names.
  css/mediaqueries/test_media_queries.html
Labels: mediaqueries, wg-css

#28878 Add test for padding %-ge usage against abs pos cb
  css/css-position/position-absolute-padding-percentage.html
Labels: css-position

#28830 Remove shipping related things from payment-request
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-call-immediate-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-duplicate-shipping-options-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-incremental-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-method-abort-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-state-checks-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updatewith-method.https.html
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
  payment-request/algorithms-manual.https.html
  payment-request/billing-address-changed-manual.https.html
  payment-request/change-shipping-option-manual.https.html
  payment-request/change-shipping-option-select-last-manual.https.html
  payment-request/dynamically-change-shipping-options-manual.https.html
  payment-request/payment-request-constructor-thcrash.https.html
  payment-request/payment-request-constructor.https.sub.html
  payment-request/payment-request-ctor-currency-code-checks.https.sub.html
  payment-request/payment-request-onshippingaddresschange-attribute.https.html
  payment-request/payment-request-onshippingoptionchange-attribute.https.html
  payment-request/payment-request-shippingAddress-attribute.https.html
  payment-request/payment-request-shippingOption-attribute.https.html
  payment-request/payment-request-shippingType-attribute.https.html
  payment-request/payment-response/helpers.js
  payment-request/payment-response/retry-method-manual.https.html
  payment-request/payment-response/retry-method-warnings-manual.https.html
  payment-request/payment-response/shippingAddress-attribute-manual.https.html
  payment-request/payment-response/shippingOption-attribute-manual.https.html
  payment-request/shipping-address-changed-manual.https.html
  payment-request/show-method-optional-promise-rejects.https.html
  payment-request/show-method-optional-promise-resolves-manual.https.html
  payment-request/updateWith-method-pmi-handling-manual.https.html
  payment-request/user-accepts-payment-request-algo-manual.https.html
Labels: payment-request, wg-payments

#28869 [idlharness.js] Remove legacycaller support
  resources/idlharness.js
Labels: idlharness.js, infra

#28890 Replace io.open() with just open()
  tools/ci/tc/github_checks_output.py
  tools/ci/tc/tests/test_valid.py
  tools/lint/lint.py
  tools/manifest/manifest.py
  tools/wave/configuration_loader.py
  tools/wave/network/static_handler.py
Labels: ci, infra, lint, manifest, wave

#28894 Simplify try-except imports of things moved between Python 2 and 3
  dom/nodes/encoding.py
  tools/serve/test_functional.py
  tools/wave/tests/test_wave.py
  tools/wpt/tests/test_wpt.py
  tools/wptserve/wptserve/handlers.py
  tools/wptserve/wptserve/pipes.py
Labels: dom, infra, serve, wave, wpt, wptserve

#28896 Drop read_gzp workaround for a mypy problem in Python 2
  tools/manifest/download.py
Labels: infra, manifest

#28849 Fix setting os.environ["PATH"] to a binary string
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra, wptrunner

#28912 Update Safari Technology Preview to 124
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#28920 Simplify GitHubChecksOutputter.output() to only accept strings
  tools/ci/tc/github_checks_output.py
Labels: ci, infra

#28921 Rely on argparse argument types being str (never bytes)
  tools/ci/tc/sink_task.py
  tools/lint/lint.py
  tools/wpt/testfiles.py
  tools/wpt/tests/test_testfiles.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: ci, infra, lint, wpt, wptrunner

#28923 Remove use of six.ensure_binary in HashChunker
  tools/wptrunner/wptrunner/testloader.py
Labels: infra, wptrunner

#28922 Tear down the load_and_update facade
  tools/manifest/manifest.py
Labels: infra, manifest

#28926 Rely on os.path.* returning strings (not bytes)
  tools/localpaths.py
  tools/wpt/testfiles.py
Labels: infra, localpaths.py, wpt

#28927 Clean up around PathFilter str/bytes boundary
  tools/gitignore/gitignore.py
  tools/lint/lint.py
Labels: gitignore, infra, lint

#28930 Replace six.ensure_str with just .decode() for screenshot decoding
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner

#28834 Pass server config to WebDriver via a file instead of an env variable.
  tools/serve/test_serve.py
  tools/wptrunner/wptrunner/executors/pytestrunner/runner.py
  tools/wptserve/wptserve/config.py
  webdriver/tests/support/fixtures.py
Labels: infra, serve, webdriver, wg-testing_browser, wptrunner, wptserve

#28900 Run mypy for all of tools/ with specific modules exempted
  tools/ci/tc/tests/__init__.py
  tools/ci/tests/__init__.py
  tools/mypy.ini
  tools/tox.ini
  tools/wave/tests/__init__.py
  tools/wpt/tests/__init__.py
  tools/wpt/utils.py
  tools/wptrunner/wptrunner/formatters/tests/__init__.py
Labels: ci, docker, infra, manifest, mozilla:gecko-blocked, mypy.ini, serve, tox.ini, wave, wpt, wptrunner

#28897 Change descendant-static-position-004.html to accommodate platform di…
  css/css-grid/abspos/descendant-static-position-004-ref.html
  css/css-grid/abspos/descendant-static-position-004.html
Labels: css-grid

#28948 Simplify away Kwargs helper class
  tools/wpt/run.py
  tools/wpt/utils.py
Labels: infra, wpt

#28932 HTML: update aspect-ratio rendering tests
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/canvas-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/img-aspect-ratio.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/resources/aspect-ratio.js
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html
Labels: html

#26069 [weakref] ...may call window.onerror.
  js/builtins/weakrefs/finalizationregistry-cleanupCallback-throws-onerror-interaction.optional.window.js
  js/builtins/weakrefs/resources/maybe-garbage-collect.js
Labels: js, status:needs-reviewers

#28668 remove spurrious imports in websockets/handlers/
  websockets/handlers/echo-query_v13_wsh.py
  websockets/handlers/echo-query_wsh.py
  websockets/handlers/echo_close_data_wsh.py
  websockets/handlers/echo_exit_wsh.py
  websockets/handlers/echo_wsh.py
  websockets/handlers/handshake_sleep_2_wsh.py
  websockets/handlers/invalid_wsh.py
  websockets/handlers/protocol_array_wsh.py
  websockets/handlers/protocol_wsh.py
  websockets/handlers/sleep_10_v13_wsh.py
  websockets/handlers/stash_responder_wsh.py
  websockets/handlers/wrong_accept_key_wsh.py
Labels: websockets, wg-html

#28986 Run mypy for tools/wpt/ (but still allow untyped defs)
  tools/mypy.ini
  tools/wpt/revlist.py
  tools/wpt/run.py
  tools/wpt/wpt.py
Labels: infra, mypy.ini, wpt

#28916 Enable mypy for tools/quic/
  tools/mypy.ini
  tools/quic/quic_transport_server.py
  tools/quic/serve.py
Labels: infra, mozilla:gecko-blocked, mypy.ini, quic

#28687 Convert WebVR API idlharness.js tests to use idl_test()
  interfaces/webvr.tentative.idl
  webvr/idlharness.https.html
Labels: interfaces, webvr

#29008 [URL] Add expected failure tests for ASCII domains whose labels contain invalid IDNA
  url/resources/urltestdata.json
Labels: url

#28952 Run mypy for tools/ci/ (but still allow untyped defs)
  tools/ci/manifest_build.py
  tools/ci/run_tc.py
  tools/ci/taskcluster-run.py
  tools/ci/tc/download.py
  tools/mypy.ini
Labels: ci, infra, mypy.ini

#28987 Run mypy for tools/wave/ (but still allow untyped defs)
  tools/mypy.ini
  tools/wave/network/api/api_handler.py
  tools/wave/network/api/tests_api_handler.py
  tools/wave/network/http_handler.py
Labels: infra, mypy.ini, wave

#28998 Handle WebAssembly.Memory throwing in common/sab.js
  common/sab.js
Labels: assets

#29015 WritableStreamDefaultController should now be exposed
  workers/semantics/interface-objects/002.worker.js
Labels: wg-html, workers

#29009 url/failure.html: skip could-be-relative URLs as appropriate
  url/failure.html
  url/resources/urltestdata.json
Labels: url

#28328 Make overflow-padding.html work with overlay scrollbars
  css/css-overflow/overflow-padding.html
Labels: css-overflow

#29019 Enable mypy incremental mode (drop --no-incremental flag)
  tools/tox.ini
Labels: infra, tox.ini

#28959 [Azure Pipelines] Fix typo in job name
  .azure-pipelines.yml
Labels: Azure Pipelines

#28810 Delete annotation-protocol/requirements.txt
  annotation-protocol/requirements.txt
Labels: annotation-protocol, wg-annotation

#28978 Use wpt-pr-bot as the author of cert and interface update PRs
  .github/workflows/interfaces.yml
  .github/workflows/regen_certs.yml
Labels: GitHub Actions

#29010 Remove serve.ConfigBuilder's ws_doc_root property
  tools/serve/serve.py
  tools/serve/test_serve.py
  tools/wptserve/wptserve/config.py
Labels: infra, serve, wptserve

#29039 Make 2 passive-by-default tests tentative
  dom/events/document-level-touchmove-event-listener-passive-by-default.tentative.html
  dom/events/document-level-wheel-event-listener-passive-by-default.tentative.html
Labels: dom

#29042 Delete Private Network Access IDL test
  fetch/private-network-access/idlharness.tentative.any.js
Labels: fetch

#29021 url: expect hostname setter no-op if a port is given
  url/resources/setters_tests.json
Labels: url

#29043 Remove old unused wptrunner tests
  tools/wptrunner/test/metadata/testharness/firefox/__dir__.ini
  tools/wptrunner/test/metadata/testharness/firefox/subdir/test_pref_reset.html.ini
  tools/wptrunner/test/metadata/testharness/firefox/test_pref_set.html.ini
  tools/wptrunner/test/metadata/testharness/subdir/__dir__.ini
  tools/wptrunner/test/metadata/testharness/subdir/testharness_1.html.ini
  tools/wptrunner/test/metadata/testharness/tags/__dir__.ini
  tools/wptrunner/test/metadata/testharness/tags/testharness_0.html.ini
  tools/wptrunner/test/metadata/testharness/tags/testharness_1.html.ini
  tools/wptrunner/test/metadata/testharness/tags/testharness_2.html.ini
  tools/wptrunner/test/metadata/testharness/testharness_0.html.ini
  tools/wptrunner/test/metadata/testharness/testharness_error.html.ini
  tools/wptrunner/test/metadata/testharness/testharness_timeout.html.ini
  tools/wptrunner/test/test.cfg.example
  tools/wptrunner/test/test.py
  tools/wptrunner/test/testdata/testharness/firefox/subdir/test_pref_inherit.html
  tools/wptrunner/test/testdata/testharness/firefox/subdir/test_pref_reset.html
  tools/wptrunner/test/testdata/testharness/firefox/test_pref_dir.html
  tools/wptrunner/test/testdata/testharness/firefox/test_pref_set.html
  tools/wptrunner/test/testdata/testharness/subdir/testharness_1.html
  tools/wptrunner/test/testdata/testharness/tags/testharness_0.html
  tools/wptrunner/test/testdata/testharness/tags/testharness_1.html
  tools/wptrunner/test/testdata/testharness/tags/testharness_2.html
  tools/wptrunner/test/testdata/testharness/testharness.https.html
  tools/wptrunner/test/testdata/testharness/testharness_0.html
  tools/wptrunner/test/testdata/testharness/testharness_error.html
  tools/wptrunner/test/testdata/testharness/testharness_long_timeout.html
  tools/wptrunner/test/testdata/testharness/testharness_timeout.html
Labels: infra, mozilla:gecko-blocked, wptrunner

#24220 Add interfaces/private-click-measurement.idl and test
  private-click-measurement/idlharness.window.js
Labels: interfaces, private-click-measurement, status:needs-reviewers

#29048 url: convert url-setters.html to .window.js and .any.js
  url/url-setters-a-area.window.js
  url/url-setters.any.js
Labels: url

#25975 Remove erroneous assertion on pendingRemoteDescription
  webrtc/RTCPeerConnection-setLocalDescription-pranswer.html
Labels: webrtc, wg-s_webrtc

#25974 Do not attempt to detect stats that can be unset
  webrtc/RTCPeerConnection-mandatory-getStats.https.html
Labels: webrtc, wg-s_webrtc

#28798 Don't expect newline normalizations when constructing the entry list
  html/semantics/forms/form-submission-0/newline-normalization.html
  html/semantics/forms/the-textarea-element/wrapping-transformation.window.js
  xhr/formdata/constructor-formelement.html
Labels: html, xhr

#29057 Tests for outwards propagation from body with containement
  css/css-contain/contain-body-bg-001.html
  css/css-contain/contain-body-bg-002.html
  css/css-contain/contain-body-bg-003.html
  css/css-contain/contain-body-bg-004.html
  css/css-contain/contain-body-dir-001.html
  css/css-contain/contain-body-dir-002.html
  css/css-contain/contain-body-dir-003.html
  css/css-contain/contain-body-dir-004.html
  css/css-contain/contain-body-overflow-001.html
  css/css-contain/contain-body-overflow-002.html
  css/css-contain/contain-body-overflow-003.html
  css/css-contain/contain-body-overflow-004.html
  css/css-contain/contain-body-t-o-001.html
  css/css-contain/contain-body-t-o-002.html
  css/css-contain/contain-body-t-o-003.html
  css/css-contain/contain-body-t-o-004.html
  css/css-contain/contain-body-w-m-001.html
  css/css-contain/contain-body-w-m-002.html
  css/css-contain/contain-body-w-m-003.html
  css/css-contain/contain-body-w-m-004.html
  css/css-contain/contain-html-bg-001.html
  css/css-contain/contain-html-bg-002.html
  css/css-contain/contain-html-bg-003.html
  css/css-contain/contain-html-bg-004.html
  css/css-contain/contain-html-dir-001.html
  css/css-contain/contain-html-dir-002.html
  css/css-contain/contain-html-dir-003.html
  css/css-contain/contain-html-dir-004.html
  css/css-contain/contain-html-overflow-001.html
  css/css-contain/contain-html-overflow-002.html
  css/css-contain/contain-html-overflow-003.html
  css/css-contain/contain-html-overflow-004.html
  css/css-contain/contain-html-t-o-001.html
  css/css-contain/contain-html-t-o-002.html
  css/css-contain/contain-html-t-o-003.html
  css/css-contain/contain-html-t-o-004.html
  css/css-contain/contain-html-w-m-001.html
  css/css-contain/contain-html-w-m-002.html
  css/css-contain/contain-html-w-m-003.html
  css/css-contain/contain-html-w-m-004.html
  css/css-contain/reference/contain-body-bg-001-ref.html
  css/css-contain/reference/contain-body-overflow-001-ref.html
  css/css-contain/reference/contain-body-t-o-001-ref.html
  css/css-contain/reference/contain-body-w-m-001-ref.html
Labels: css-contain

#25977 Update list of MTI stats & scope checks on audio-only stats
  webrtc/RTCPeerConnection-getStats.https.html
  webrtc/RTCStats-helper.js
Labels: webrtc, wg-s_webrtc

#22852 Add test for interfaces/webtransport.idl
  webtransport/idlharness.any.js
Labels: interfaces, status:needs-reviewers, web-transport, webtransport, wg-webtransport

#29051 Always use the spawn start method for multiprocessing for wpt commands
  tools/wpt/wpt.py
Labels: infra, wpt

#27970 Add comprehensive coverage for WindowProperties object
  WebIDL/ecmascript-binding/class-string-named-properties-object.window.js
  WebIDL/ecmascript-binding/named-properties-object.html
  WebIDL/ecmascript-binding/window-named-properties-object.html
  html/browsers/origin/cross-origin-objects/cross-origin-objects.html
  html/browsers/the-window-object/named-access-on-the-window-object/window-named-properties.html
Labels: WebIDL, html, wg-webplatform

#29027 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=223758
  WebIDL/ecmascript-binding/global-object-implicit-this-value.any.js
  webaudio/the-audio-api/the-audioworklet-interface/audioworklet-registerprocessor-called-on-globalthis.https.html
  webaudio/the-audio-api/the-audioworklet-interface/processors/dummy-processor-globalthis.js
Labels: WebIDL, webaudio, webkit-export, wg-audio, wg-webplatform

#29063 WindowProperties returns WindowProxy for named <iframe>s
  html/browsers/the-window-object/named-access-on-the-window-object/window-named-properties.html
Labels: html

#29066 print-color-adjust Parsing
  css/css-color-adjust/print-color-adjust-parsing.html
Labels: css-color-adjust

#28454 Do not run XR WebGL2 tests on platforms not supporting WebGL2
  webxr/resources/webxr_util.js
Labels: webxr, wg-immersive-web

#29080 Add WebCryptoAPI suggested reviewer: Daniel Huigens
  WebCryptoAPI/META.yml
Labels: WebCryptoAPI, status:needs-reviewers, wg-webcrypto

#28942 Run mypy for tools/wptrunner/ (but still allow untyped defs)
  tools/mypy.ini
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/config.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/wptreport.py
  tools/wptrunner/wptrunner/formatters/wptscreenshot.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/metadata.py
  tools/wptrunner/wptrunner/stability.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/update/base.py
  tools/wptrunner/wptrunner/update/sync.py
  tools/wptrunner/wptrunner/vcs.py
  tools/wptrunner/wptrunner/webdriver_server.py
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, mozilla:gecko-blocked, mypy.ini, wptrunner

#28557 Streams: tests for readable byte stream fixes
  streams/readable-byte-streams/bad-buffers-and-views.any.js
  streams/readable-byte-streams/enqueue-with-detached-buffer.window.js
  streams/readable-byte-streams/general.any.js
  streams/readable-byte-streams/non-transferable-buffers.any.js
  streams/resources/rs-utils.js
Labels: streams

#29133 Update Safari Technology Preview to 125
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#29123 Fix logging for logcat
  tools/wptrunner/wptrunner/browsers/chrome_android.py
Labels: infra, wptrunner

#29152 Remove cache_manager argument from edgechromium executor_kwargs
  tools/wptrunner/wptrunner/browsers/edgechromium.py
Labels: infra, wptrunner

#29162 Update mozrunner to 8.2.0
  tools/wptrunner/requirements_firefox.txt
Labels: infra, wptrunner

#29163 Added test cases for aspect-ratio from width and height attributes
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/img-aspect-ratio.html
Labels: html
