Repository web-platform-tests/wpt, pull requests merged in 2021-02, with the labels that each got.

#25334 WebDriver: use idl_test and .window.js
  webdriver/tests/idlharness.html
  webdriver/tests/idlharness.window.js
Labels: webdriver, wg-testing_browser

#26167 Update cookieEnabled test
  cookies/cookie-enabled-noncookie-frame.html
Labels: cookies

#25327 Clipboard APIs: use idl_test
  clipboard-apis/async-idlharness.https.html
  clipboard-apis/idlharness.https.window.js
Labels: clipboard-apis, wg-webapps

#25331 Worklets: use idl_test and .any.js
  worklets/idlharness.https.any.js
  worklets/idlharness.worker.js
Labels: worklets

#27420 Remove non-Array support for idl_test arguments srcs and deps
  resources/idlharness.js
Labels: idlharness.js, infra

#27421 HTTP/1 status code tests
  fetch/h1-parsing/resources/status-code.py
  fetch/h1-parsing/status-code.window.js
Labels: fetch

#27375 Make android_weblayer setup match chrome_android
  tools/wpt/install.py
  tools/wpt/run.py
Labels: infra, wpt

#27370 Integrate Android logcat to wptrunner
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/chrome_android.py
  tools/wptrunner/wptrunner/browsers/chrome_ios.py
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/browsers/edgechromium.py
  tools/wptrunner/wptrunner/browsers/epiphany.py
  tools/wptrunner/wptrunner/browsers/ie.py
  tools/wptrunner/wptrunner/browsers/opera.py
  tools/wptrunner/wptrunner/browsers/safari.py
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/browsers/servo.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/browsers/webkit.py
  tools/wptrunner/wptrunner/browsers/webkitgtk_minibrowser.py
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#27428 Python 3: status-code.py needs more b
  fetch/h1-parsing/resources/status-code.py
Labels: fetch

#27439 FormData should not contain an entry for the submitter
  html/semantics/forms/the-form-element/form-requestsubmit.html
Labels: html

#27426 [wpt] Reject python versions <3.6
  .azure-pipelines.yml
  .github/workflows/manifest.yml
  tools/wpt/wpt.py
  wpt
Labels: Azure Pipelines, GitHub Actions, infra, mozilla:gecko-blocked, wpt

#27438 Update interfaces/scroll-animations.idl
  interfaces/scroll-animations.idl
Labels: interfaces

#27394 Replace most `.__proto__` with `Object.getPrototypeOf()`
  IndexedDB/structured-clone.any.js
  custom-elements/upgrading.html
  html/browsers/sandboxing/sandbox-new-execution-context-iframe.html
  html/browsers/sandboxing/sandbox-new-execution-context.html
  html/canvas/tools/yaml/element/the-canvas-element.yaml
  html/semantics/embedded-content/the-canvas-element/2d.canvas.context.html
  html/semantics/embedded-content/the-img-element/Image-constructor.html
  html/webappapis/user-prompts/print-manual.html
  orientation-event/motion/create-event.https.html
  orientation-event/orientation/create-event.https.html
  quirks/blocks-ignore-line-height.html
  quirks/line-height-calculation.html
  quirks/percentage-height-calculation.html
  quirks/table-cell-nowrap-minimum-width-calculation.html
  quirks/table-cell-width-calculation.html
  resources/test/tests/functional/idlharness/IdlInterface/test_primary_interface_of.html
  service-workers/service-worker/ServiceWorkerGlobalScope/fetch-on-the-right-interface.https.any.js
  service-workers/service-worker/resources/immutable-prototype-serviceworker.js
  shadow-dom/HTMLSlotElement-interface.html
  shadow-dom/ShadowRoot-interface.html
  svg/extensibility/interfaces/foreignObject-graphics.svg
  svg/path/interfaces/SVGAnimatedPathData-removed.svg
  svg/struct/UnknownElement/interface.svg
  trusted-types/Node-multiple-arguments.tentative.html
  trusted-types/block-Node-multiple-arguments.tentative.html
  url/urlsearchparams-constructor.any.js
  workers/SharedWorker-MessageEvent-source.any.js
  workers/Worker-constructor-proto.any.js
  xhr/responsexml-document-properties.htm
Labels: IndexedDB, custom-elements, html, infra, orientation-event, quirks, service-workers, shadow-dom, svg, testharness.js, trusted-types, url, wg-das, wg-html, wg-svg, wg-sw, wg-webapps, wg-webplatform, workers, xhr

#27442 [python3] Cleanup some references to unsupported Python versions
  tools/ci/ci_tools_unittest.sh
  tools/py27-flake8.ini
  tools/tox.ini
  tools/wave/tox.ini
  tools/wpt/tox.ini
  tools/wptrunner/tox.ini
Labels: ci, infra, py27-flake8.ini, tox.ini, wave, wpt, wptrunner

#27457 Remove misleading contain-intrinsic-size prefix
  css/css-sizing/aspect-ratio/parsing/aspect-ratio-computed.html
  css/css-sizing/aspect-ratio/parsing/aspect-ratio-invalid.html
  css/css-sizing/aspect-ratio/parsing/aspect-ratio-valid.html
Labels: css-sizing

#27416 [css-color-4] Correct and expand CSS Color tests
  css/css-color/a98rgb-001.html
  css/css-color/a98rgb-002.html
  css/css-color/a98rgb-003-ref.html
  css/css-color/a98rgb-003.html
  css/css-color/a98rgb-004-ref.html
  css/css-color/a98rgb-004.html
  css/css-color/greensquare-display-p3-ref.html
  css/css-color/lab-008.html
  css/css-color/lch-008.html
  css/css-color/predefined-003.html
  css/css-color/predefined-004.html
  css/css-color/predefined-011.html
  css/css-color/predefined-012.html
  css/css-color/predefined-017.html
  css/css-color/prophoto-rgb-001.html
  css/css-color/prophoto-rgb-002.html
  css/css-color/prophoto-rgb-003-ref.html
  css/css-color/prophoto-rgb-003.html
  css/css-color/prophoto-rgb-004-ref.html
  css/css-color/prophoto-rgb-004.html
  css/css-color/prophoto-rgb-005.html
  css/css-color/rec2020-001.html
  css/css-color/rec2020-002.html
  css/css-color/rec2020-003-ref.html
  css/css-color/rec2020-003.html
  css/css-color/rec2020-004-ref.html
  css/css-color/rec2020-004.html
  css/css-color/rec2020-005.html
Labels: css-color

#27040 createImageBitmap for out of bound clipping
  html/canvas/element/manual/imagebitmap/createImageBitmap-bounds.html
Labels: html, mozilla:gecko-blocked

#27459 [selector] Syntactic changes to focus-visible-006.html test
  css/selectors/focus-visible-006.html
Labels: selectors

#26599 Added 4 background-size (with no intrinsic and no ratio) tests
  css/css-backgrounds/background-size-041.html
  css/css-backgrounds/background-size-042.html
  css/css-backgrounds/background-size-043.html
  css/css-backgrounds/background-size-044.html
  css/css-backgrounds/reference/background-size-041-ref.html
  css/css-backgrounds/reference/background-size-043-ref.html
  css/css-backgrounds/support/orange-intrinsic-none.svg
Labels: css-backgrounds

#25198 Added 2 grammar-spelling-* tests
  css/css-pseudo/grammar-spelling-errors-001.html
  css/css-pseudo/grammar-spelling-errors-002.html
  css/css-pseudo/reference/grammar-spelling-errors-001-ref.html
  css/css-pseudo/reference/grammar-spelling-errors-002-ref.html
Labels: css-pseudo

#27240 Fetch: ensure preflight is required for Authorization/Range
  fetch/api/cors/resources/not-cors-safelisted.json
  fetch/api/credentials/authentication-basic.any.js
  fetch/api/resources/utils.js
Labels: fetch

#13524 HTTP: message parsing with CR
  fetch/h1-parsing/README.md
  fetch/h1-parsing/lone-cr.window.js
  fetch/h1-parsing/resources/message.py
Labels: fetch, http

#27477 Fix #27476: Installing STP failing should fail the run
  tools/ci/azure/install_safari.yml
Labels: Azure Pipelines, ci, infra

#27427 Fix #19620: add an option to wptrunner to stop Safari
  .azure-pipelines.yml
  tools/ci/azure/affected_tests.yml
  tools/wptrunner/requirements_safari.txt
  tools/wptrunner/wptrunner/browsers/safari.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: Azure Pipelines, ci, infra, wptrunner

#27475 Call Queue.cancel_join_thread() when recreating queues
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#27256 Update `SlotAssignmentMode` to `name` from `auto` to match the latest proposal
  shadow-dom/slots-imperative-slot-api.tentative.html
Labels: shadow-dom, wg-webplatform

#27485 Remove all reftest.list files in css/vendor-imports/
  css/vendor-imports/mozilla/mozilla-central-reftests/background/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/break3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/color4/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/counter-styles-3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/css21/pagination/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/css21/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/css21/replaced-sizing/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/filters/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/fonts3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/ib-split/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/masking/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/ruby/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/selectors4/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/sizing/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/text-decor-3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/text3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/values3/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/will-change/reftest.list
  css/vendor-imports/mozilla/mozilla-central-reftests/writing-modes-3/reftest.list
Labels: vendor-imports

#27488 [css-contain] Fix broken spec URLs in vendor-imports
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-formatting-context-float-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-layout-formatting-context-margin-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-003.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-004.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-005.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-clip-006.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-containing-block-absolute-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-containing-block-fixed-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-formatting-context-float-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-formatting-context-margin-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-internal-table-001a.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-internal-table-001b.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-ruby-containing-block-001.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-paint-ignored-cases-ruby-stacking-and-clipping-001.html
Labels: vendor-imports

#27487 [css-contain] rename files in vendor-imports that also exist in the main suite
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-button-002-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-button-002.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-fieldset-003-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-fieldset-003.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-fieldset-004-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-fieldset-004.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-grid-005-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-grid-005.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-multicol-004-ref.html
  css/vendor-imports/mozilla/mozilla-central-reftests/contain/contain-size-multicol-004.html
  lint.ignore
Labels: infra, vendor-imports

#27490 [css-color] move tests from vendor-imports into the main suite
  css/css-color/background-color-hsl-001-ref.html
  css/css-color/background-color-hsl-001.html
  css/css-color/background-color-hsl-002-ref.html
  css/css-color/background-color-hsl-002.html
  css/css-color/background-color-hsl-003-ref.html
  css/css-color/background-color-hsl-003.html
  css/css-color/background-color-hsl-004-ref.html
  css/css-color/background-color-hsl-004.html
  css/css-color/background-color-rgb-001-ref.html
  css/css-color/background-color-rgb-001.html
  css/css-color/background-color-rgb-002-ref.html
  css/css-color/background-color-rgb-002.html
  css/css-color/background-color-rgb-003-ref.html
  css/css-color/background-color-rgb-003.html
Labels: css-color

#27368 chore: move FileAPI/blob to .js files
  FileAPI/blob/Blob-constructor-dom.window.js
  FileAPI/blob/Blob-constructor.any.js
  FileAPI/blob/Blob-slice-overflow.any.js
  FileAPI/blob/Blob-slice.any.js
Labels: FileAPI, wg-webapps

#27505 [css-sizing] move tests from vendor-imports into the main suite
  css/css-sizing/block-size-with-min-or-max-content-1-ref.html
  css/css-sizing/block-size-with-min-or-max-content-1a.html
  css/css-sizing/block-size-with-min-or-max-content-1b.html
  css/css-sizing/block-size-with-min-or-max-content-table-1-ref.html
  css/css-sizing/block-size-with-min-or-max-content-table-1a.html
  css/css-sizing/block-size-with-min-or-max-content-table-1b.html
  css/css-sizing/hori-block-size-small-or-larger-than-container-with-min-or-max-content-1-ref.html
  css/css-sizing/hori-block-size-small-or-larger-than-container-with-min-or-max-content-1.html
  css/css-sizing/hori-block-size-small-or-larger-than-container-with-min-or-max-content-2-ref.html
  css/css-sizing/hori-block-size-small-or-larger-than-container-with-min-or-max-content-2a.html
  css/css-sizing/hori-block-size-small-or-larger-than-container-with-min-or-max-content-2b.html
  css/css-sizing/support/min-content-max-content.css
  css/css-sizing/vert-block-size-small-or-larger-than-container-with-min-or-max-content-1-ref.html
  css/css-sizing/vert-block-size-small-or-larger-than-container-with-min-or-max-content-1.html
  css/css-sizing/vert-block-size-small-or-larger-than-container-with-min-or-max-content-2-ref.html
  css/css-sizing/vert-block-size-small-or-larger-than-container-with-min-or-max-content-2a.html
  css/css-sizing/vert-block-size-small-or-larger-than-container-with-min-or-max-content-2b.html
Labels: css-sizing

#27522 Change wasm Memory, Table & Global .type property to method
  wasm/jsapi/global/type.tentative.any.js
  wasm/jsapi/memory/type.tentative.any.js
  wasm/jsapi/table/type.tentative.any.js
Labels: wasm

#27523 Test form payloads with empty <input type=file> controls
  html/semantics/forms/form-submission-0/form-data-set-empty-file.window.js
Labels: html

#27236 Streams: settle reader.[[closedPromise]] before performing close/error steps of read requests
  streams/readable-streams/async-iterator.any.js
  streams/readable-streams/default-reader.any.js
  streams/readable-streams/general.any.js
Labels: streams

#27506 [css-values] move tests from vendor-imports into the main suite
  css/css-values/calc-background-image-gradient-1-ref.html
  css/css-values/calc-background-image-gradient-1.html
  css/css-values/calc-background-linear-gradient-1-ref.html
  css/css-values/calc-background-linear-gradient-1.html
  css/css-values/calc-background-position-1-ref.html
  css/css-values/calc-background-position-1.html
  css/css-values/calc-background-size-1-ref.html
  css/css-values/calc-background-size-1.html
  css/css-values/calc-border-radius-1-ref.html
  css/css-values/calc-border-radius-1.html
  css/css-values/calc-height-block-1-ref.html
  css/css-values/calc-height-block-1.html
  css/css-values/calc-height-table-1-ref.html
  css/css-values/calc-height-table-1.html
  css/css-values/calc-margin-block-1-ref.html
  css/css-values/calc-margin-block-1.html
  css/css-values/calc-max-height-block-1-ref.html
  css/css-values/calc-max-height-block-1.html
  css/css-values/calc-max-width-block-1.html
  css/css-values/calc-max-width-block-intrinsic-1-ref.html
  css/css-values/calc-max-width-block-intrinsic-1.html
  css/css-values/calc-min-height-block-1.html
  css/css-values/calc-min-width-block-1.html
  css/css-values/calc-min-width-block-intrinsic-1-ref.html
  css/css-values/calc-min-width-block-intrinsic-1.html
  css/css-values/calc-offsets-absolute-bottom-1.html
  css/css-values/calc-offsets-absolute-left-1.html
  css/css-values/calc-offsets-absolute-right-1.html
  css/css-values/calc-offsets-absolute-top-1-ref.html
  css/css-values/calc-offsets-absolute-top-1.html
  css/css-values/calc-offsets-relative-bottom-1.html
  css/css-values/calc-offsets-relative-left-1-ref.html
  css/css-values/calc-offsets-relative-left-1.html
  css/css-values/calc-offsets-relative-right-1.html
  css/css-values/calc-offsets-relative-top-1-ref.html
  css/css-values/calc-offsets-relative-top-1.html
  css/css-values/calc-padding-block-1-ref.html
  css/css-values/calc-padding-block-1.html
  css/css-values/calc-text-indent-1-ref.html
  css/css-values/calc-text-indent-1.html
  css/css-values/calc-text-indent-intrinsic-1-ref.html
  css/css-values/calc-text-indent-intrinsic-1.html
  css/css-values/calc-transform-origin-1-ref.html
  css/css-values/calc-transform-origin-1.html
  css/css-values/calc-vertical-align-1-ref.html
  css/css-values/calc-vertical-align-1.html
  css/css-values/calc-width-block-1-ref.html
  css/css-values/calc-width-block-1.html
  css/css-values/calc-width-block-intrinsic-1-ref.html
  css/css-values/calc-width-block-intrinsic-1.html
  css/css-values/calc-width-table-auto-1-ref.html
  css/css-values/calc-width-table-auto-1.html
  css/css-values/calc-width-table-fixed-1-ref.html
  css/css-values/calc-width-table-fixed-1.html
  css/css-values/rem-root-font-size-restyle-1-ref.html
  css/css-values/rem-root-font-size-restyle-1.html
  css/css-values/support/blue-32x32.png
Labels: css-values, wg-css

#27510 [shadow-dom] shadow-dom/nested-slot-remove-crash.html should use `let` instead of `const` to declare variables
  shadow-dom/nested-slot-remove-crash.html
Labels: shadow-dom, wg-webplatform

#27463 Fetch: redirects to data: URLs
  fetch/redirects/data.window.js
Labels: fetch

#27526 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=221466
  uievents/keyboard/modifier-keys.html
Labels: uievents, webkit-export, wg-webapps

#27547 Make sure @@iterator exist in plugin interfaces
  html/webappapis/system-state-and-capabilities/the-navigator-object/navigator-pluginarray.html
Labels: html

#27551 Allow webview shell package name to be passed in through command line
  tools/wptrunner/wptrunner/browsers/android_webview.py
Labels: infra, wptrunner

#27520 New test for buttons with percentage children
  css/css-flexbox/percentage-descendant-of-anonymous-flex-item.html
  css/css-flexbox/reference/percentage-descendant-of-anonymous-flex-item-ref.html
Labels: css-flexbox, mozilla:gecko-blocked, wg-css

#27567 Update interfaces/mediacapture-streams.idl
  interfaces/mediacapture-streams.idl
Labels: interfaces

#27550 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=221465
  uievents/keyboard/modifier-keys-combinations.html
Labels: uievents, webkit-export, wg-webapps

#27566 Update interfaces/js-self-profiling.idl
  interfaces/js-self-profiling.idl
Labels: interfaces

#27564 Update interfaces/cors-rfc1918.idl
  interfaces/cors-rfc1918.idl
Labels: interfaces

#27582 Include print reftests in the `./wpt tests-affected` logic
  tools/wpt/testfiles.py
Labels: infra, wpt

#27596 New tests for min-width:auto and items with aspect ratio
  css/css-flexbox/flexbox-min-width-auto-005.html
  css/css-flexbox/flexbox-min-width-auto-006.html
  css/css-flexbox/reference/flexbox-min-width-auto-005-ref.html
  css/css-flexbox/reference/flexbox-min-width-auto-006-ref.html
  css/css-flexbox/support/40x20-green.png
Labels: css-flexbox, wg-css

#27588 Clean up some py3 checks adjacent to virtualenv logic
  docs/commands.json
  tools/quic/commands.json
  tools/wpt/virtualenv.py
  tools/wpt/wpt.py
Labels: docs, infra, quic, wpt

#27597 Update Safari Technology Preview to 120
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#27610 Fix expectations of a recently committed test
  css/css-flexbox/reference/percentage-descendant-of-anonymous-flex-item-ref.html
Labels: css-flexbox, wg-css

#27529 Cleanup unnecessary `__init__.py` files
  __init__.py
  common/__init__.py
  common/security-features/__init__.py
  common/security-features/scope/__init__.py
  cookies/__init__.py
  cookies/resources/__init__.py
  docs/writing-tests/python-handlers/index.md
  tools/ci/tc/tests/test_decision.py
  tools/ci/tc/tests/test_taskgraph.py
  tools/ci/tc/tests/test_valid.py
  tools/ci/tests/test_jobs.py
  tools/lint/tests/test_lint.py
  tools/manifest/tests/test_manifest.py
  tools/wpt/tests/test_browser.py
  tools/wpt/tests/test_install.py
  tools/wpt/tests/test_markdown.py
  tools/wpt/tests/test_revlist.py
  tools/wpt/tests/test_run.py
  tools/wpt/tests/test_testfiles.py
  tools/wpt/tests/test_wpt.py
  tools/wptserve/tests/functional/docroot/__init__.py
  tools/wptserve/tests/functional/docroot/subdir/__init__.py
Labels: assets, ci, cookies, docs, infra, lint, manifest, wpt, wptserve

#27612 [python3] Fix regen_certs.yml for the python3 migration
  .github/workflows/regen_certs.yml
Labels: GitHub Actions

#27565 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#26414 Add interfaces/idle-detection.idl and update test
  idle-detection/idlharness.https.window.js
  idle-detection/resources/idlharness-worker.js
  interfaces/idle-detection.idl
Labels: idle-detection, interfaces

#27625 Test focus preventScroll on nested scroll elements
  html/interaction/focus/processing-model/preventScroll-nested-scroll-elements.html
Labels: html

#27518 [css-color-4] Expand CSS Color tests to include tests for hwb() and color(xyz).
  css/css-color/color-resolving-hwb.html
  css/css-color/hwb-001.html
  css/css-color/hwb-002.html
  css/css-color/hwb-003-ref.html
  css/css-color/hwb-003.html
  css/css-color/hwb-004-ref.html
  css/css-color/hwb-004.html
  css/css-color/hwb-005-ref.html
  css/css-color/hwb-005.html
  css/css-color/xyz-001.html
  css/css-color/xyz-002.html
  css/css-color/xyz-003-ref.html
  css/css-color/xyz-003.html
  css/css-color/xyz-004-ref.html
  css/css-color/xyz-004.html
  css/css-color/xyz-005.html
Labels: css-color

#27642 Update interfaces/proximity.idl
  interfaces/proximity.idl
Labels: interfaces

#27645 Update interfaces/idle-detection.idl
  interfaces/idle-detection.idl
Labels: interfaces

#27638 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=221916
  mediacapture-record/MediaRecorder-pause-resume.html
Labels: mediacapture-record, webkit-export

#27651 Update interfaces/media-capabilities.idl
  interfaces/media-capabilities.idl
Labels: interfaces

#27620 [appmanifest] Add CORS/CSP tests for icons and shortcuts
  appmanifest/icons-member/icons-member-cors-fail-manual.sub.html
  appmanifest/icons-member/icons-member-cors-fail.sub.webmanifest
  appmanifest/icons-member/icons-member-cors-fail.webmanifest.headers
  appmanifest/icons-member/icons-member-cors-manual.sub.html
  appmanifest/icons-member/icons-member-cors.sub.webmanifest
  appmanifest/icons-member/icons-member-cors.webmanifest.headers
  appmanifest/icons-member/icons-member-csp-fail-manual.sub.html
  appmanifest/icons-member/icons-member-csp-fail.webmanifest
  appmanifest/icons-member/icons-member-csp-fail.webmanifest.headers
  appmanifest/icons-member/icons-member-csp-manual.sub.html
  appmanifest/icons-member/icons-member-csp.sub.webmanifest
  appmanifest/icons-member/icons-member-csp.webmanifest.headers
  appmanifest/icons-member/pass.png.sub.headers
  appmanifest/shortcuts-member/pass.png.sub.headers
  appmanifest/shortcuts-member/shortcuts-member-cors-fail-manual.sub.html
  appmanifest/shortcuts-member/shortcuts-member-cors-fail.sub.webmanifest
  appmanifest/shortcuts-member/shortcuts-member-cors-fail.webmanifest.headers
  appmanifest/shortcuts-member/shortcuts-member-cors-manual.sub.html
  appmanifest/shortcuts-member/shortcuts-member-cors.sub.webmanifest
  appmanifest/shortcuts-member/shortcuts-member-cors.webmanifest.headers
  appmanifest/shortcuts-member/shortcuts-member-csp-fail-manual.sub.html
  appmanifest/shortcuts-member/shortcuts-member-csp-fail.webmanifest
  appmanifest/shortcuts-member/shortcuts-member-csp-fail.webmanifest.headers
  appmanifest/shortcuts-member/shortcuts-member-csp-manual.sub.html
  appmanifest/shortcuts-member/shortcuts-member-csp.sub.webmanifest
  appmanifest/shortcuts-member/shortcuts-member-csp.webmanifest.headers
Labels: appmanifest, wg-webapps

#27656 [selectors] Use ENTER instead of SHIFT in focus-visible-007.html
  css/selectors/focus-visible-007.html
Labels: selectors

#27575 Fetch: fragments
  fetch/redirects/subresource-fragments.html
Labels: fetch, status:needs-spec-decision

#27675 Update interfaces/content-index.idl
  interfaces/content-index.idl
Labels: interfaces

#27676 Update interfaces/permissions.idl
  interfaces/permissions.idl
Labels: interfaces

#27325 Test cases where request body gets used before network fallback
  service-workers/service-worker/fetch-event.https.html
  service-workers/service-worker/resources/fetch-event-test-worker.js
Labels: service-workers, wg-sw

#27683 Resnap to focused element after relayout
  css/css-scroll-snap/snap-after-relayout/resnap-to-focused.html
Labels: css-scroll-snap

#27700 [selectors] Improve focus-visible-011.html
  css/selectors/focus-visible-011.html
Labels: selectors

#27636 new parameter --include-file for wptrunner
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/tests/test_testloader.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#27706 Py3 fixes for VCS syncing
  tools/wptrunner/wptrunner/update/sync.py
  tools/wptrunner/wptrunner/update/tree.py
Labels: infra, wptrunner

#17571 HTML: <tr height=0> is a thing
  html/rendering/non-replaced-elements/tables/table-row-height-ref.html
  html/rendering/non-replaced-elements/tables/table-row-height.html
Labels: html

#27571 Add test to measure which WebRTC stats are provided at all
  webrtc-stats/supported-stats.html
Labels: webrtc-stats, wg-s_webrtc

#26743 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=219493
  html/semantics/embedded-content/the-video-element/video_size_preserved_after_ended.html
  media/test-1s.mp4
  media/test-1s.webm
Labels: assets, html, webkit-export

#26350 [css-backgrounds] Add test ensuring border-image is displayed with a transparent border-color
  css/css-backgrounds/border-image-displayed-with-transparent-border-color-ref.html
  css/css-backgrounds/border-image-displayed-with-transparent-border-color.html
Labels: css-backgrounds

#25961 Test "scale" where x == y but z != 1, to make sure that y is not dropped.
  css/css-transforms/parsing/scale-parsing-valid.html
Labels: css-transforms

#25928 Test the "translate" property in SVG.
  css/css-transforms/translate/reference/translate-and-transform-attribute-in-svg-ref.html
  css/css-transforms/translate/reference/translate-and-transform-css-property-in-svg-ref.html
  css/css-transforms/translate/reference/translate-in-svg-ref.html
  css/css-transforms/translate/translate-and-transform-attribute-in-svg.html
  css/css-transforms/translate/translate-and-transform-css-property-in-svg.html
  css/css-transforms/translate/translate-in-svg.html
Labels: css-transforms

#27727 EE: Subsumption algorithm -- Wildcard lists
  content-security-policy/embedded-enforcement/subsumption_algorithm-source_list-wildcards.html
Labels: content-security-policy

#27521 Update META.yml
  css/css-color/META.yml
Labels: css-color

#27730 Update interfaces/cors-rfc1918.idl
  interfaces/cors-rfc1918.idl
Labels: interfaces

#27337 Change tests for legacy color formats to use a box, rather than text
  css/css-color/hex-001.html
  css/css-color/hex-002.html
  css/css-color/hex-003-ref.html
  css/css-color/hex-003.html
  css/css-color/hex-004.html
  css/css-color/hsl-001.html
  css/css-color/hsl-002.html
  css/css-color/hsl-003.html
  css/css-color/hsl-004.html
  css/css-color/hsl-005.html
  css/css-color/hsl-006.html
  css/css-color/hsl-007.html
  css/css-color/hsl-008.html
  css/css-color/hsla-001.html
  css/css-color/hsla-002.html
  css/css-color/hsla-003.html
  css/css-color/hsla-004.html
  css/css-color/hsla-005.html
  css/css-color/hsla-006.html
  css/css-color/hsla-007.html
  css/css-color/hsla-008.html
  css/css-color/rgb-001.html
  css/css-color/rgb-002.html
  css/css-color/rgb-003.html
  css/css-color/rgb-004.html
  css/css-color/rgb-005.html
  css/css-color/rgb-006.html
  css/css-color/rgb-007.html
  css/css-color/rgb-008.html
  css/css-color/rgba-001.html
  css/css-color/rgba-002.html
  css/css-color/rgba-003.html
  css/css-color/rgba-004.html
  css/css-color/rgba-005.html
  css/css-color/rgba-006.html
  css/css-color/rgba-007.html
  css/css-color/rgba-008.html
Labels: css-color, wg-css

#27739 cc Use --sort-keys option with pythoth -mjson.tool
  conformance-checkers/Makefile
Labels: conformance-checkers

#27712 fix: Trailing space in messages
  conformance-checkers/messages.json
Labels: conformance-checkers

#27744 [wpt] Fix an integration test whose result changed
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#27742 [URL] Add tests for the distinct percent-encode sets
  url/resources/urltestdata.json
Labels: url

#27699 No dynamic import in service worker
  docs/writing-tests/testharness.md
  service-workers/service-worker/import-module-scripts.https.html
  service-workers/service-worker/no-dynamic-import-in-module.any.js
  service-workers/service-worker/no-dynamic-import.any.js
  service-workers/service-worker/resources/basic-module-2.js
  service-workers/service-worker/resources/basic-module.js
  service-workers/service-worker/resources/no-dynamic-import.js
  tools/manifest/sourcefile.py
  tools/serve/serve.py
  tools/wptserve/tests/functional/test_handlers.py
  workers/examples/general.any.js
Labels: docs, infra, manifest, serve, service-workers, wg-html, wg-sw, workers, wptserve

#26981 Added a tab-size test (computed value)
  css/css-text/tab-size/tab-size-computed-value-001.html
Labels: css-text

#26844 Document multiple wpt_flags
  docs/writing-tests/server-features.md
Labels: docs, mozilla:gecko-blocked, websockets, wg-webapps

#27745 Split the big test() up into multiple small ones
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/picture-aspect-ratio.html
Labels: html

#27734 Seperate out bidi_session from session in fixtures.py
  webdriver/tests/bidi/new_session/connect.py
  webdriver/tests/support/fixtures.py
Labels: mozilla:gecko-blocked, webdriver, wg-testing_browser

#27752 Properly catch exception so that test can run to end
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#27781 Update interfaces/html.idl
  interfaces/html.idl
Labels: interfaces

#27736 Added 2 writing-modes tests (manual and SHOULD type)
  css/css-writing-modes/alt-display-vertical-001-manual.html
  css/css-writing-modes/tooltip-display-vertical-001-manual.html
Labels: css-writing-modes

#27787 Update Safari Technology Preview to 121
  tools/ci/azure/safari-technology-preview.rb
Labels: Azure Pipelines, ci, infra

#27797 Remove now-empty cors-rfc1918/ directory.
  cors-rfc1918/META.yml
  cors-rfc1918/README.md
Labels: cors-rfc1918

#27789 abort h2 frame handling on StreamClosedError
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#27791 Fixes exception during HandshakeException handler
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#27798 Update update_html5lib_tests.py to Python 3
  html/tools/build.sh
  html/tools/update_html5lib_tests.py
Labels: html
