Repository web-platform-tests/wpt, pull requests merged in 2022-02, with the labels that each got.

#32631 lock-sandboxed-iframe.html should set window to full screen
  screen-orientation/lock-sandboxed-iframe.html
  screen-orientation/resources/sandboxed-iframe-locking.html
Labels: wg-webapps, screen-orientation

#32626 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235930
  css/css-cascade/import-removal.html
Labels: css-cascade, webkit-export

#32641 [css-animations] Upstream test for WebKit bug 229437
  css/css-animations/animation-style-element-replaced-with-keyframes-rule-of-same-name.html
Labels: css-animations

#32639 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235933
  css/css-scroll-snap/scroll-target-margin-006.html
Labels: css-scroll-snap, webkit-export

#32637 Add tests for SharedWorker having no RT entries
  resource-timing/resources/shared-worker.js
  resource-timing/shared-worker-rt-entry.html
Labels: resource-timing, wg-webperf

#31344 Add tests for how styles fetch resources from the network
  css/fetching/fetch-resources.sub.html
  css/fetching/support/echo-css.py
  css/fetching/support/echo-headers.py
  css/fetching/support/echo-helper.js
Labels: status:needs-reviewers, fetching

#32667 Suppress aioquic INFO logs
  tools/webtransport/h3/webtransport_h3_server.py
Labels: infra, webtransport, wg-webtransport

#32664 Run wptrunner for Safari with SYSTEM_VERSION_COMPAT=0
  .azure-pipelines.yml
  tools/ci/azure/affected_tests.yml
  tools/ci/azure/install_safari.yml
Labels: infra, ci, Azure Pipelines, mozilla:gecko-blocked

#32670 Remove subtree-visibility usage
  css/css-contain/content-visibility/resources/text-fragment-target-auto.html
Labels: css-contain

#32189 [css-conditional-3] Strengthen test for unbalanced parens
  css/css-conditional/css-supports-035.xht
Labels: css-conditional

#32642 Document better the enctype-specific form submission tests
  html/semantics/forms/form-submission-0/enctypes-helper.js
  html/semantics/forms/form-submission-0/multipart-formdata.window.js
  html/semantics/forms/form-submission-0/text-plain.window.js
  html/semantics/forms/form-submission-0/urlencoded2.window.js
Labels: html

#23429 New tests for filter() function
  css/filter-effects/filter-function/filter-function-001.html
  css/filter-effects/filter-function/filter-function-002.html
  css/filter-effects/filter-function/filter-function-003.html
  css/filter-effects/filter-function/filter-function-004.html
  css/filter-effects/filter-function/filter-function-005.html
  css/filter-effects/filter-function/filter-function-006.html
  css/filter-effects/filter-function/filter-function-007.html
  css/filter-effects/filter-function/filter-function-008.html
  css/filter-effects/filter-function/resources/green-transparent-100x100.png
  css/filter-effects/filter-function/resources/green-transparent-200x200.png
  css/filter-effects/filter-function/resources/green-transparent-20x10.png
  css/filter-effects/filter-function/resources/green-transparent-80x80.png
Labels: wg-css, filter-effects

#32704 import.meta.url should include the URL fragment
  workers/modules/shared-worker-import-meta.html
Labels: workers, wg-s_htmlwg

#32620 Cookies: Test IDN/non-ASCII in domain attributes
  cookies/domain/domain-attribute-idn-host.sub.https.html
  cookies/domain/support/idn-child.sub.https.html
  cookies/domain/support/idn.py
Labels: cookies

#32724 Docs: correct tutorial ToC
  docs/writing-tests/testharness-tutorial.md
Labels: docs

#32711 Upstream additions to css/css-color/parsing from WebKit
  css/css-color/parsing/color-computed.html
  css/css-color/parsing/color-invalid.html
  css/css-color/parsing/color-mix-computed.html
  css/css-color/parsing/color-mix-valid.html
  css/css-color/parsing/color-valid.html
  css/css-color/parsing/relative-color-computed.html
  css/css-color/parsing/relative-color-invalid.html
  css/css-color/parsing/relative-color-valid.html
Labels: css-color

#32735 Correct calculated sRGB result
  css/css-color/lab-005-ref.html
  css/css-color/lab-005.html
Labels: css-color

#32753 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236314
  web-animations/animation-model/combining-effects/effect-composition.html
Labels: wg-css, web-animations, webkit-export, mozilla:gecko-blocked

#32751 Test that scrolling overflow works when paint is contained
  css/css-contain/contain-paint-049.html
Labels: css-contain

#32757 Streams: test interaction between autoAllocateChunkSize and respondWithNewView
  streams/readable-byte-streams/bad-buffers-and-views.any.js
  streams/readable-byte-streams/general.any.js
Labels: streams

#32727 Remove tests for discontinued mediacapture-depth spec.
  mediacapture-depth/META.yml
  mediacapture-depth/dictionary-helper.js
  mediacapture-depth/dictionary-manual.https.html
  mediacapture-depth/idlharness.html
Labels: mediacapture-depth, wg-s_webrtc

#30189 Add check that status with listener is not gc'd
  permissions/all-permissions.html
  permissions/nfc-permission.html
  permissions/permissions-cg.https.html
  permissions/screen-wake-lock-permission.html
  permissions/test-background-fetch-permission.html
  permissions/test-periodic-background-sync-permission.html
Labels: wg-webappsec, status:needs-reviewers, permissions

#32775 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235084
  css/css-transforms/2d-rotate-001.html
  css/css-transforms/perspective-transforms-equivalence.html
  css/css-transforms/preserve3d-and-filter-with-perspective.html
  css/css-transforms/skew-test1.html
  css/css-transforms/transform-background-001.html
  css/css-transforms/transform-background-002.html
  css/css-transforms/transform-table-009.html
  css/css-transforms/transform-table-010.html
  css/css-transforms/transform-table-011.html
  css/css-transforms/transforms-skewX.html
Labels: css-transforms, webkit-export

#32773 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236274
  css/css-animations/dialog-animation.html
  css/css-animations/dialog-backdrop-animation.html
  css/css-animations/support/testcommon.js
Labels: css-animations, webkit-export

#32791 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236431
  css/selectors/parsing/parse-has.html
Labels: selectors, webkit-export

#32772 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236331
  css/selectors/focus-visible-026.html
Labels: selectors, webkit-export

#32807 Update Safari Technology Preview to 140
  tools/ci/azure/safari-technology-preview.rb
Labels: infra, ci, Azure Pipelines

#32684 Test how line-height works on <input type=text> and friends
  html/rendering/non-replaced-elements/form-controls/input-line-height-computed.html
  html/rendering/non-replaced-elements/form-controls/input-line-height-ref.html
  html/rendering/non-replaced-elements/form-controls/input-line-height.html
Labels: html

#32815 [css-fonts] Fixes for font palette tests
  css/css-fonts/font-palette-modify-notref.html
  css/css-fonts/font-palette-modify.html
  css/css-fonts/font-palette-remove-notref.html
  css/css-fonts/palette-values-rule-delete-notref.html
Labels: css-fonts

#32812 Revert "New tets for use of currentColor in @font-palette-values"
  css/css-fonts/font-palette-35-ref.html
  css/css-fonts/font-palette-35.html
  css/css-fonts/font-palette-36.html
Labels: css-fonts

#32707 Test "same as" statements in Deprecated System Colors
  css/css-color/deprecated-sameas-001.html
  css/css-color/deprecated-sameas-002.html
  css/css-color/deprecated-sameas-003.html
  css/css-color/deprecated-sameas-004.html
  css/css-color/deprecated-sameas-005.html
  css/css-color/deprecated-sameas-006.html
  css/css-color/deprecated-sameas-007.html
  css/css-color/deprecated-sameas-008.html
  css/css-color/deprecated-sameas-009.html
  css/css-color/deprecated-sameas-010.html
  css/css-color/deprecated-sameas-011.html
  css/css-color/deprecated-sameas-012.html
  css/css-color/deprecated-sameas-013.html
  css/css-color/deprecated-sameas-014.html
  css/css-color/deprecated-sameas-015.html
  css/css-color/deprecated-sameas-016.html
  css/css-color/deprecated-sameas-017.html
  css/css-color/deprecated-sameas-018.html
  css/css-color/deprecated-sameas-019.html
  css/css-color/deprecated-sameas-020.html
  css/css-color/deprecated-sameas-021.html
  css/css-color/deprecated-sameas-022.html
  css/css-color/deprecated-sameas-023.html
  css/css-color/deprecated-sameas-ButtonBorder-ref.html
  css/css-color/deprecated-sameas-ButtonFace-ref.html
  css/css-color/deprecated-sameas-Canvas-ref.html
  css/css-color/deprecated-sameas-CanvasText-ref.html
  css/css-color/deprecated-sameas-GrayText-ref.html
Labels: css-color

#32794 Fix image link in FCP test
  paint-timing/fcp-only/buffered-flag.window.js
Labels: wg-webperf, paint-timing

#32834 Allow fuzzy matching for plus-lighter tests
  css/compositing/background-blending/background-blend-mode-plus-lighter.html
  css/compositing/mix-blend-mode/mix-blend-mode-plus-lighter-svg.html
  css/compositing/mix-blend-mode/mix-blend-mode-plus-lighter.html
Labels: wg-svg, wg-css, compositing

#32838 Support all test types for Chromium Android targets
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/browsers/chrome_android.py
Labels: infra, wptrunner

#32783 Support instrumenting child process
  tools/wptrunner/wptrunner/instruments.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#27385 Notifications: Notification.get is removed
  notifications/historical.any.js
Labels: notifications

#32856 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236491
  svg/animations/restart-never-and-begin-click.html
Labels: wg-svg, svg, webkit-export

#32636 Add tests for worker behavior while prerendering
  speculation-rules/prerender/resources/eval-channel.html
  speculation-rules/prerender/resources/shared-worker.py
  speculation-rules/prerender/resources/utils.js
  speculation-rules/prerender/resources/worker-post-timeOrigin.js
  speculation-rules/prerender/workers.html
Labels: status:needs-reviewers, speculation-rules

#32889 HTML: test the translate attribute's inherit state with no parent element
  html/dom/elements/global-attributes/translate-inherit-no-parent-element.html
Labels: html

#32868 Changed text so it match the reference test
  css/css-color/tagged-images-003.html
  css/css-color/tagged-images-004.html
Labels: css-color

#32887 Test hyperlink auditing headers
  html/semantics/links/hyperlink-auditing/headers.optional.html
  html/semantics/links/hyperlink-auditing/resources/stash-headers.py
Labels: html

#32903 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236838
  css/css-animations/KeyframeEffect-getKeyframes.tentative.html
  css/css-animations/animation-multiple-from-to-keyframes-with-only-timing-function.html
Labels: css-animations, webkit-export

#30409 Add appmanifest id member test
  appmanifest/id-member/id-member-manifest-update-manual-v1.html
  appmanifest/id-member/id-member-manifest-update-manual-v2.html
  appmanifest/id-member/id-member-manifest-update-v1.webmanifest
  appmanifest/id-member/id-member-manifest-update-v2.webmanifest
  appmanifest/id-member/id-member-manifest-update.js
Labels: wg-webapps, appmanifest

#32931 geolocation-API: Stop creating video and audio elements in idlharness test
  geolocation-API/idlharness.https.window.js
Labels: geolocation-API, wg-geolocation

#32932 geolocation-API: Simplify getCurrentPosition_IDL.https.html a bit.
  geolocation-API/getCurrentPosition_IDL.https.html
Labels: geolocation-API, wg-geolocation

#32881 Delete geolocation manual tests
  geolocation-API/getCurrentPosition_permission-manual.html
  geolocation-API/getCurrentPosition_permission_allow-manual.html
  geolocation-API/getCurrentPosition_permission_deny-manual.html
  geolocation-API/watchPosition_permission-manual.html
Labels: geolocation-API, wg-geolocation

#32862 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236268
  wasm/webapi/esm-integration/execute-start.tentative.html
  wasm/webapi/esm-integration/exported-names.tentative.html
  wasm/webapi/esm-integration/invalid-bytecode.tentative.html
  wasm/webapi/esm-integration/js-wasm-cycle-errors.tentative.html
  wasm/webapi/esm-integration/js-wasm-cycle.tentative.html
  wasm/webapi/esm-integration/module-parse-error.tentative.html
  wasm/webapi/esm-integration/resolve-export.js
  wasm/webapi/esm-integration/resolve-export.tentative.html
  wasm/webapi/esm-integration/resources/execute-start.wasm
  wasm/webapi/esm-integration/resources/exported-names.wasm
  wasm/webapi/esm-integration/resources/invalid-bytecode.wasm
  wasm/webapi/esm-integration/resources/invalid-module.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle-function-error.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle-function-error.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle-global.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle-global.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle-memory.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle-memory.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle-table.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle-table.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle-value.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle-value.wasm
  wasm/webapi/esm-integration/resources/js-wasm-cycle.js
  wasm/webapi/esm-integration/resources/js-wasm-cycle.wasm
  wasm/webapi/esm-integration/resources/log.js
  wasm/webapi/esm-integration/resources/resolve-export.wasm
  wasm/webapi/esm-integration/resources/wasm-export-i64-global.wasm
  wasm/webapi/esm-integration/resources/wasm-export-to-wasm.wasm
  wasm/webapi/esm-integration/resources/wasm-import-error-from-wasm.wasm
  wasm/webapi/esm-integration/resources/wasm-import-from-wasm.wasm
  wasm/webapi/esm-integration/resources/wasm-import-func.js
  wasm/webapi/esm-integration/resources/wasm-import-func.wasm
  wasm/webapi/esm-integration/resources/wasm-import-global.js
  wasm/webapi/esm-integration/resources/wasm-import-global.wasm
  wasm/webapi/esm-integration/resources/wasm-import-memory.js
  wasm/webapi/esm-integration/resources/wasm-import-memory.wasm
  wasm/webapi/esm-integration/resources/wasm-import-table.js
  wasm/webapi/esm-integration/resources/wasm-import-table.wasm
  wasm/webapi/esm-integration/resources/wasm-js-cycle.js
  wasm/webapi/esm-integration/resources/wasm-js-cycle.wasm
  wasm/webapi/esm-integration/resources/worker-helper.js
  wasm/webapi/esm-integration/resources/worker.js
  wasm/webapi/esm-integration/resources/worker.wasm
  wasm/webapi/esm-integration/wasm-import-wasm-export.tentative.html
  wasm/webapi/esm-integration/wasm-import.tentative.html
  wasm/webapi/esm-integration/wasm-js-cycle.tentative.html
  wasm/webapi/esm-integration/wasm-to-wasm-link-error.tentative.html
  wasm/webapi/esm-integration/worker-import.tentative.html
  wasm/webapi/esm-integration/worker.tentative.html
Labels: wasm

#32940 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235836
  html/semantics/interactive-elements/the-dialog-element/inert-svg-hittest.html
  inert/inert-svg-hittest.tentative.html
Labels: html, webkit-export, inert

#32850 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236626
  css/css-grid/abspos/positioned-grid-items-025-ref.html
  css/css-grid/abspos/positioned-grid-items-025.html
Labels: infra, css-grid, webkit-export, very-large

#32849 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236287
  css/css-grid/subgrid/line-names-005-ref.html
  css/css-grid/subgrid/line-names-005.html
Labels: css-grid, webkit-export

#32734 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236054
  css/css-grid/subgrid/grid-template-computed-nogrid.html
  css/css-grid/subgrid/grid-template-invalid.html
  css/css-grid/subgrid/grid-template-valid.html
Labels: css-grid, webkit-export

#32586 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236338
  css/css-grid/subgrid/line-names-008.html
Labels: css-grid, webkit-export

#32947 Fix modal-dialog-in-table-column.html & modal-dialog-in-replaced-rend…
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-in-replaced-renderer-ref.html
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-in-replaced-renderer.html
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-in-table-column-ref.html
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-in-table-column.html
Labels: html

#32905 [inert] Expand tests for interactivity of inert frames
  inert/inert-iframe-hittest.tentative.html
  inert/inert-iframe-tabbing.tentative.html
Labels: status:needs-reviewers, inert

#32893 Add cleanup to geolocation-API/non-fully-active.https.html
  geolocation-API/non-fully-active.https.html
Labels: geolocation-API, wg-geolocation

#32880 Rewrite geolocation-API/PositionOptions.https.html
  geolocation-API/PositionOptions.https.html
Labels: geolocation-API, wg-geolocation

#32894 Simplify geolocation-API/clearWatch_TypeError.https.html
  geolocation-API/clearWatch_TypeError.html
  geolocation-API/clearWatch_TypeError.https.html
Labels: geolocation-API, wg-geolocation, status:needs-reviewers

#32892 Simplify geolocation-API/watchPosition_permission_deny.https.html
  geolocation-API/watchPosition_permission_deny.https.html
Labels: geolocation-API, wg-geolocation

#23729 Geolocation Permissions Policy tests
  feature-policy/resources/feature-policy-geolocation.html
  geolocation-API/disabled-by-feature-policy.https.sub.html
  geolocation-API/disabled-by-feature-policy.https.sub.html.headers
  geolocation-API/enabled-by-feature-policy-attribute-redirect-on-load.https.sub.html
  geolocation-API/enabled-by-feature-policy-attribute.https.sub.html
  geolocation-API/enabled-by-feature-policy.https.sub.html
  geolocation-API/enabled-by-feature-policy.https.sub.html.headers
  geolocation-API/enabled-on-self-origin-by-feature-policy.https.sub.html
  geolocation-API/enabled-on-self-origin-by-feature-policy.https.sub.html.headers
Labels: geolocation-API, wg-geolocation, wg-webappsec, feature-policy

#32937 Rewrite of Geolocation api/get_current_position_permission_deny.https.html
  geolocation-API/getCurrentPosition_permission_deny.https.html
Labels: geolocation-API, wg-geolocation, wg-webappsec, permissions

#32897 Refactor geolocation-API/watchPosition_TypeError.https.html
  geolocation-API/watchPosition_TypeError.html
  geolocation-API/watchPosition_TypeError.https.html
Labels: geolocation-API, wg-geolocation

#32896 Refactor geolocation-API/getCurrentPosition_TypeError.https.html
  geolocation-API/getCurrentPosition_TypeError.https.html
Labels: geolocation-API, wg-geolocation

#32645 [css-position] 1 sticky test with both top & bottom offsets in %tage unit
  css/css-position/sticky/position-sticky-top-and-bottom-003.html
  css/css-position/sticky/reference/position-sticky-top-and-bottom-003-ref.html
Labels: css-position

#32866 Fix idlharness-shadowrealm.js when tests don't immediately fail
  resources/idlharness-shadowrealm.js
Labels: infra

#32882 Rewrite geolocation-API/getCurrentPosition_IDL.https.html
  geolocation-API/getCurrentPosition_IDL.https.html
  geolocation-API/idlharness.https.window.js
Labels: geolocation-API, wg-geolocation

#32835 Use _venv3 directory to install/detect binary if it exists
  tools/wpt/android.py
  tools/wpt/browser.py
  tools/wpt/wpt.py
Labels: infra, wpt

#32922 Update Permissions' META's suggested_reviewers
  permissions/META.yml
Labels: wg-webappsec, permissions

#32981 Don't read product list from wptrunner.ini file
  tools/wptrunner/wptrunner/products.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#32982 Merge xslt/ into dom/ again
  dom/xslt/strip-space-crash.xml
Labels: dom

#32968 Update font-palette-21.html to match new override order
  css/css-fonts/font-palette-21.html
Labels: css-fonts

#32998 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237246
  css/css-animations/KeyframeEffect-getKeyframes.tentative.html
Labels: css-animations, webkit-export

#32915 Test that link resource-timing reporting does not depend on subresources
  resource-timing/link-sequence-of-events.html
  resource-timing/resources/delay-css.py
  resource-timing/resources/import.sub.css
Labels: resource-timing, wg-webperf

#32397 Make WebCryptoAPI/getRandomValues test more strict
  WebCryptoAPI/getRandomValues.any.js
Labels: WebCryptoAPI, wg-webcrypto
