Repository web-platform-tests/wpt, pull requests merged in 2022-03, with the labels that each got.

#32403 Refactor run_step to pass TestStatus object to stability_check loop
  tools/wptrunner/wptrunner/stability.py
Labels: infra, wptrunner

#33012 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237314
  web-animations/interfaces/Animatable/getAnimations-iframe.html
Labels: wg-css, web-animations, webkit-export

#33015 Fix documentation build
  docs/requirements.txt
Labels: docs

#33003 Removed some incorrect tests for image-resolution
  css/css-images/image-resolution/image-resolution-001.html
  css/css-images/image-resolution/image-resolution-002.html
  css/css-images/image-resolution/image-resolution-003.html
  css/css-images/image-resolution/image-resolution-004.html
  css/css-images/image-resolution/image-resolution-005.html
  css/css-images/image-resolution/image-resolution-006.html
  css/css-images/image-resolution/image-resolution-007.html
  css/css-images/image-resolution/image-resolution-008.html
  css/css-images/image-resolution/image-resolution-009.html
  css/css-images/image-resolution/image-resolution-010.html
  css/css-images/image-resolution/image-resolution-011.html
  css/css-images/image-resolution/reference/100x100-blue-blur4px.html
  css/css-images/image-resolution/support/swatch-blue-192dpi.png
  css/css-images/image-resolution/support/swatch-blue-48dpi.png
  css/css-images/image-resolution/support/swatch-blue-48x192dpi.png
Labels: css-images

#33002 Change fetch/metadata/download test to have reliable output
  fetch/metadata/download.https.sub.html
Labels: fetch

#33040 Test that modulepreload doesn't block window.onload
  lint.ignore
  preload/avoid-delaying-onload-link-modulepreload-exec.html
  preload/avoid-delaying-onload-link-modulepreload.html
  preload/resources/slow-exec.js
Labels: infra, wg-webperf, preload

#33032 Remove BroadcastChannel dependency from speculation-rules
  speculation-rules/prerender/about-blank-iframes.html
  speculation-rules/prerender/activation-start.html
  speculation-rules/prerender/cross-origin-isolated.https.html
  speculation-rules/prerender/iframe-added-post-activation.html
  speculation-rules/prerender/resources/about-blank-iframes.html
  speculation-rules/prerender/resources/activation-start.html
  speculation-rules/prerender/resources/cross-origin-isolated.https.html
  speculation-rules/prerender/resources/deferred-promise-utils.js
  speculation-rules/prerender/resources/deprecated-broadcast-channel.py
  speculation-rules/prerender/resources/iframe-added-post-activation.html
  speculation-rules/prerender/resources/notification.html
  speculation-rules/prerender/resources/presentation-request.html
  speculation-rules/prerender/resources/storage-foundation-access.https.html
  speculation-rules/prerender/resources/utils.js
  speculation-rules/prerender/resources/web-database-access.html
  speculation-rules/prerender/resources/window-move.html
  speculation-rules/prerender/resources/window-open-during-prerendering.html
  speculation-rules/prerender/resources/window-open-in-prerenderingchange.html
  speculation-rules/prerender/resources/window-resize.html
  speculation-rules/prerender/restriction-focus.html
  speculation-rules/prerender/restriction-notification.https.html
  speculation-rules/prerender/restriction-presentation-request.https.html
  speculation-rules/prerender/restriction-window-move.html
  speculation-rules/prerender/restriction-window-open.html
  speculation-rules/prerender/restriction-window-resize.html
  speculation-rules/prerender/storage-foundation.https.html
  speculation-rules/prerender/visibility-state.html
  speculation-rules/prerender/web-database.html
Labels: status:needs-reviewers, speculation-rules

#32895 Rewrite geolocation-API/getCurrentPosition_permission_allow.https.html
  geolocation-API/getCurrentPosition_permission_allow.https.html
  geolocation-API/getCurrentPosition_permission_deny.https.html
Labels: geolocation-API, wg-geolocation

#33055 Update Safari Technology Preview to 141
  tools/ci/azure/safari-technology-preview.rb
Labels: infra, ci, Azure Pipelines

#33053 Add WPT test for case where an anchor has a click handler that naviga…
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/tentative/anchor-fragment-history-back-on-click.html
Labels: html

#33068 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237486
  css/css-cascade/all-prop-revert-layer-noop.html
Labels: css-cascade, webkit-export

#29535 [css-ruby] Creating a reliable ruby text pairing test and reference
  css/css-ruby/reference/ruby-annotation-pairing-001-ref.html
  css/css-ruby/ruby-annotation-pairing-001.html
Labels: css-ruby

#32929 Test that 'blocking' keyword is respected as a link header
  html/dom/render-blocking/header-inserted-preload-link.tentative.html
  html/dom/render-blocking/header-inserted-preload-link.tentative.html.headers
Labels: html

#33114 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237610
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#33124 Simplify css/README.md (remove Importing Old Branches)
  css/README.md
Labels: status:needs-reviewers, README.md

#33129 Adjust URL of Navigation History in META.yml
  app-history/META.yml
Labels: app-history

#33135 Deduplicate browser setup logic for Android Chrome products
  tools/wpt/run.py
Labels: infra, wpt

#33103 Query Android emulator for OS/CPU run info
  tools/wptrunner/wptrunner/wptrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#33019 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237327
  webrtc-extensions/transfer-datachannel.html
Labels: webkit-export, webrtc-extensions

#33149 Fix content-visibility-044.html for WebKit
  css/css-contain/content-visibility/content-visibility-044.html
Labels: css-contain

#33107 [css-shapes] Comprehensive tests for clip-path: shape()
  css/css-masking/animations/clip-path-interpolation-shape.html
  css/css-masking/clip-path/clip-path-shape-001.html
  css/css-masking/clip-path/clip-path-shape-002-units.html
  css/css-masking/clip-path/clip-path-shape-002.html
  css/css-masking/clip-path/clip-path-shape-003.html
  css/css-masking/clip-path/clip-path-shape-004.html
  css/css-masking/clip-path/clip-path-shape-interpolation-001.html
  css/css-masking/clip-path/clip-path-shape-interpolation-002.html
  css/css-masking/clip-path/reference/clip-path-shape-003-ref.html
  css/css-masking/clip-path/reference/clip-path-shape-004-ref.html
  css/css-masking/parsing/clip-path-shape-parsing.html
Labels: wg-css, css-masking

#32976 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236951
  css/css-grid/subgrid/auto-track-sizing-002-ref.html
  css/css-grid/subgrid/auto-track-sizing-002.html
Labels: css-grid, webkit-export

#33166 Test that serializing a `WebAssembly.Memory`-backed buffer works
  wasm/serialization/arraybuffer/transfer.window.js
Labels: wasm

#32799 Test prerender opt-out by response code
  lint.ignore
  speculation-rules/prerender/opt-out.html
  speculation-rules/prerender/resources/exec.html
  speculation-rules/prerender/resources/exec.py
  speculation-rules/prerender/resources/prerender-response-code.html
  speculation-rules/prerender/resources/utils.js
Labels: infra, status:needs-reviewers, speculation-rules

#33080 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236800
  css/filter-effects/filters-drop-shadow-003.html
  css/filter-effects/reference/filters-drop-shadow-003-ref.html
Labels: wg-css, filter-effects, webkit-export

#33036 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236272
  css/css-cascade/all-prop-revert-noop.html
Labels: css-cascade, webkit-export

#33188 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237880
  interfaces/css-conditional.idl
Labels: interfaces, webkit-export

#33191 Add test for background-clip:text in flex context
  css/css-backgrounds/background-clip/clip-text-flex-ref.html
  css/css-backgrounds/background-clip/clip-text-flex.html
Labels: css-backgrounds

#33200 Add permission test for push api
  push-api/META.yml
  push-api/permission.https.html
Labels: wg-webapps, push-api

#33199 Add permission test for geolocation
  geolocation-API/permission.https.html
Labels: geolocation-API, wg-geolocation

#33205 Test that consumption & preload of CSP-blocked resources are both reported
  content-security-policy/reporting/report-preload-and-consume.https.html
  content-security-policy/reporting/support/preload-csp-report.https.sub.html
  content-security-policy/reporting/support/preload-csp-report.https.sub.html.sub.headers
Labels: content-security-policy

#33208 Docs: Add await to action.send() examples
  docs/writing-tests/testdriver.md
  resources/testdriver-actions.js
  resources/testharness.js
Labels: infra, docs, testharness.js, testdriver.js

#33229 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237920
  css/css-animations/parsing/animation-computed.html
  css/css-transitions/parsing/transition-computed.html
Labels: css-transitions, css-animations, webkit-export

#33121 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237628
  css/css-grid/subgrid/subgrid-stretch-ref.html
  css/css-grid/subgrid/subgrid-stretch.html
Labels: css-grid, webkit-export

#33160 Simplify docs/Dockerfile and install dependencies inside
  docs/Dockerfile
  docs/frontend.py
Labels: docs, status:needs-reviewers

#33128 Clarify the status of the CSS build system
  .github/dependabot.yml
  css/requirements.txt
  css/tools/README.md
  css/tools/build.py
  css/tools/build.sh
  css/tools/requirements.txt
  lint.ignore
  tools/ci/jobs.py
  tools/ci/tests/test_jobs.py
Labels: infra, ci, css, mozilla:gecko-blocked, GitHub Actions, requirements.txt

#32479 Separate week and month cases from selection-not-application.html
  html/semantics/forms/textfieldselection/selection-not-application.html
Labels: html

#33270 Fix typo in test name
  html/canvas/tools/yaml/element/path-objects.yaml
Labels: html

#33267 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238102
  css/css-backgrounds/parsing/border-image-valid.html
Labels: css-backgrounds, webkit-export

#33109 Test preload behavior with dynamic CSP change
  preload/preload-dynamic-csp.html
Labels: wg-webperf, preload

#32729 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=236199
  css/css-logical/logicalprops-with-deferred-writing-mode.html
Labels: css-logical, webkit-export

#33272 Unmark inert tests as tentative
  html/semantics/interactive-elements/the-dialog-element/dialog-inert.html
  inert/dynamic-inert-on-focused-element.html
  inert/inert-and-contenteditable.html
  inert/inert-canvas-fallback-content.html
  inert/inert-does-not-match-disabled-selector.html
  inert/inert-iframe-hittest.html
  inert/inert-iframe-tabbing.html
  inert/inert-in-shadow-dom.html
  inert/inert-inlines.html
  inert/inert-label-focus.html
  inert/inert-node-is-uneditable.html
  inert/inert-node-is-unfocusable.html
  inert/inert-node-is-unselectable.html
  inert/inert-on-non-html.html
  inert/inert-on-slots.html
  inert/inert-svg-hittest.html
  inert/inert-with-modal-dialog-001.html
  inert/inert-with-modal-dialog-002.html
Labels: html, inert

#33274 Revert "[Gecko Bug 1750284] Backed out 2 changesets (bug 1750284, bug 1750634) for causing wpt failures at global.html. CLOSED TREE"
  streams/readable-streams/global.html
Labels: streams

#32878 Add test for preload headers in non-html documents
  preload/link-header-preload-non-html.html
  preload/resources/echo-preload-header.py
Labels: wg-webperf, preload

#33189 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237532
  css/css-cascade/presentational-hints-rollback.html
Labels: css-cascade, webkit-export

#33230 Ensure that the call to kill the WebDriver always returns within a deadline
  tools/wptrunner/wptrunner/browsers/base.py
Labels: infra, wptrunner

#33066 Output Chromium log on `shutdown`, not `suite_end`
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
  tools/wptrunner/wptrunner/tests/test_formatters.py
Labels: infra, wptrunner

#33244 Use httpx instead of requests in tests
  tools/ci/tc/tests/test_valid.py
  tools/requirements_tests.txt
Labels: infra, wptserve, fetch, third_party, ci, requirements_tests.txt

#33302 Ensure correct depdencies for tools/wave and tools/wpt tests
  tools/wave/tox.ini
  tools/wpt/requirements.txt
  tools/wpt/tox.ini
Labels: infra, wpt, wave

#33305 Update admins for wpt-live and wpt-pr-bot on GCP
  docs/admin/index.md
Labels: docs

#33317 Iframes with missing redirect location should fire load event and queue RT entry
  resource-timing/iframe-redirect-without-location.html
  resource-timing/resources/redirect-without-location.py
Labels: resource-timing, wg-webperf

#33319 Pin remaining dependencies in tools/ci/requirements_build.txt
  tools/ci/requirements_build.txt
Labels: infra, ci

#33322 Use logger.warning instead of deprecated logger.warn
  resources/test/wptserver.py
Labels: infra, testharness.js

#33224 Geolocation: additional tests for spec changes
  geolocation-API/getCurrentPosition_TypeError.https.html
  geolocation-API/getCurrentPosition_permission_allow.https.html
  geolocation-API/watchPosition_TypeError.https.html
Labels: geolocation-API, wg-geolocation

#32485 Split Chrome and Chromium into separate products
  docs/running-tests/chrome-chromium-installation-detection.md
  docs/running-tests/chrome.md
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/tests/test_browser.py
  tools/wpt/tests/test_install.py
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/chromium.py
Labels: infra, docs, wpt, wptrunner

#28954 Run mypy for tools/wptserve/ (but still allow untyped defs)
  tools/mypy.ini
  tools/wptserve/wptserve/config.py
  tools/wptserve/wptserve/handlers.py
  tools/wptserve/wptserve/pipes.py
  tools/wptserve/wptserve/request.py
  tools/wptserve/wptserve/server.py
  tools/wptserve/wptserve/stash.py
  tools/wptserve/wptserve/utils.py
  tools/wptserve/wptserve/wptserve.py
  tools/wptserve/wptserve/ws_h2_handshake.py
Labels: infra, wptserve, mypy.ini, mozilla:gecko-blocked

#33355 Fix #33204: Move Safari stable runs to Big Sur
  .azure-pipelines.yml
Labels: Azure Pipelines

#33289 Support the --reftest-screenshot command line argument in the reftest implementation used by all browsers
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#33402 Report iframe resource timing also with 204/205 iframes, and don't report for download
  resource-timing/iframe-failed-commit.html
  resource-timing/iframe-with-download.html
  resource-timing/resources/204_empty.asis
  resource-timing/resources/205_empty.asis
  resource-timing/resources/download.asis
Labels: resource-timing, wg-webperf, service-workers, preload, wg-sw

#33403 Make sure iframe reports resource timing for non-HTML
  resource-timing/iframe-non-html.html
Labels: resource-timing, wg-webperf

#33326 Add a few cases to preload SRI
  preload/subresource-integrity.html
  service-workers/service-worker/fetch-canvas-tainting-video-with-range-request.https.html
Labels: wg-webperf, service-workers, preload, wg-sw

#33368 Simplify the Python version check in `./wpt`
  wpt
Labels: infra

#33367 Annotate wptserve's logger.py + utils.py
  tools/wptserve/wptserve/logger.py
  tools/wptserve/wptserve/utils.py
Labels: infra, wptserve

#33419 Test preload link attribute change effects on fetching
  preload/preload-time-to-fetch.https.html
Labels: wg-webperf, preload

#33422 Add a few test cases for preload attribute change
  preload/preload-time-to-fetch.https.html
Labels: wg-webperf, preload

#33423 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238542
  css/css-contain/container-queries/at-container-serialization.html
Labels: css-contain, webkit-export

#33426 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238016
  css/css-position/sticky/position-sticky-overflow-clip-container-ref.html
  css/css-position/sticky/position-sticky-overflow-clip-container.html
Labels: css-position, webkit-export

#33325 Replace "install" dependencies with requirements.txt for wpt commands
  docs/commands.json
  tools/ci/commands.json
  tools/ci/requirements_build.txt
  tools/ci/requirements_tc.txt
  tools/docker/commands.json
  tools/docker/requirements.txt
  tools/manifest/requirements.txt
  tools/wpt/commands.json
  tools/wpt/requirements_install.txt
  tools/wpt/run.py
  tools/wpt/wpt.py
  tools/wptrunner/docs/commands.rst
Labels: infra, docs, manifest, wpt, wptrunner, ci, docker, mozilla:gecko-blocked

#33443 Automatically enable MojoJS also on Chrome beta/stable
  tools/wpt/run.py
Labels: infra, wpt

#33444 Remove unused ConditionalValue.set_value
  tools/wptrunner/wptrunner/wptmanifest/backends/conditional.py
Labels: infra, wptrunner
