Repository web-platform-tests/wpt, pull requests merged in 2022-07, with the labels that each got.

#34496 Add tests for RequestInit.duplex
  fetch/api/basic/request-upload.any.js
  fetch/api/basic/request-upload.h2.any.js
  fetch/api/request/request-init-stream.any.js
Labels: fetch

#34372 Make `BrowsingContext` module pure BiDi
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/close/close.py
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
  webdriver/tests/bidi/browsing_context/create/type.py
  webdriver/tests/bidi/browsing_context/get_tree/frames.py
  webdriver/tests/bidi/browsing_context/get_tree/max_depth.py
  webdriver/tests/bidi/browsing_context/get_tree/root.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, wg-testing_browser, mozilla:gecko-blocked, webdriver-bidi

#34552 Add debug-report routes to RoutesBuilder
  tools/serve/serve.py
Labels: infra, serve

#34678 Add COOP+COEP headers to encoding tests using SharedArrayBuffer
  encoding/encodeInto.any.js.headers
  encoding/streams/decode-utf8.any.js.headers
  encoding/textdecoder-copy.any.js.headers
  encoding/textdecoder-streaming.any.js.headers
Labels: encoding

#34641 Align `browsingContext.contextCreated` tests with spec
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
Labels: webdriver-bidi

#34700 New currentcolor test in first line fragment
  css/css-color/currentcolor-003-ref.html
  css/css-color/currentcolor-003.html
Labels: css-color

#34464 DOM: Test {mouse,}wheel and touch{move,start} events are non-cancelable when there are no non-passive event listeners
  dom/events/document-level-touchmove-event-listener-passive-by-default.tentative.html
  dom/events/document-level-wheel-event-listener-passive-by-default.tentative.html
  dom/events/non-cancelable-when-passive/non-passive-mousewheel-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/non-passive-mousewheel-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/non-passive-mousewheel-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/non-passive-mousewheel-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/non-passive-mousewheel-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/non-passive-touchmove-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/non-passive-touchmove-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/non-passive-touchmove-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/non-passive-touchmove-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/non-passive-touchmove-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/non-passive-touchstart-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/non-passive-touchstart-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/non-passive-touchstart-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/non-passive-touchstart-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/non-passive-touchstart-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/non-passive-wheel-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/non-passive-wheel-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/non-passive-wheel-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/non-passive-wheel-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/non-passive-wheel-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/passive-mousewheel-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/passive-touchmove-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/passive-touchmove-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/passive-touchmove-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/passive-touchmove-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/passive-touchmove-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/passive-touchstart-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/passive-touchstart-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/passive-touchstart-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/passive-touchstart-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/passive-touchstart-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/passive-wheel-event-listener-on-body.html
  dom/events/non-cancelable-when-passive/passive-wheel-event-listener-on-div.html
  dom/events/non-cancelable-when-passive/passive-wheel-event-listener-on-document.html
  dom/events/non-cancelable-when-passive/passive-wheel-event-listener-on-root.html
  dom/events/non-cancelable-when-passive/passive-wheel-event-listener-on-window.html
  dom/events/non-cancelable-when-passive/resources/scrolling.js
  dom/events/non-cancelable-when-passive/resources/touching.js
  dom/events/non-cancelable-when-passive/resources/wait-for.js
  dom/events/non-cancelable-when-passive/synthetic-events-cancelable.html
Labels: dom

#34711 Add tests from https://github.com/WebKit/WebKit/pull/2062
  shadow-dom/shadow-style-invalidation-vw-units-ref.html
  shadow-dom/shadow-style-invalidation-vw-units.html
Labels: shadow-dom, wg-webplatform, webkit-export

#34701 Move tests asserting awaitPromise from evaluate.py to await_promise.py
  webdriver/tests/bidi/script/evaluate/await_promise.py
  webdriver/tests/bidi/script/evaluate/evaluate.py
Labels: webdriver-bidi

#34691 Add tests for `script.evaluate` for serialization of complex objects with simple value field.
  webdriver/tests/bidi/script/evaluate/serialization.py
Labels: webdriver-bidi

#34720 Add tests for `script.callFunction` for serialization of primitive values
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/evaluate/result.py
Labels: webdriver-bidi

#34754 WebDriver BiDi serialization: rename `+Infinity` to `Infinity`
  webdriver/tests/bidi/log/entry_added/console_args.py
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/evaluate/await_promise.py
  webdriver/tests/bidi/script/evaluate/result.py
Labels: webdriver-bidi

#34739 [SPC] Update tests for input parameter validation
  secure-payment-confirmation/authentication-invalid-icon.https.html
  secure-payment-confirmation/constructor-validate-payment-method-data.https.html
  secure-payment-confirmation/constructor.https.html
  secure-payment-confirmation/utils.sub.js
Labels: wg-payments, secure-payment-confirmation

#34733 Create dedicated tests for script.evaluate exceptionDetails
  webdriver/tests/bidi/script/evaluate/evaluate.py
  webdriver/tests/bidi/script/evaluate/exception_details.py
Labels: webdriver-bidi

#34796 Remove jsshell annotations from streams/
  streams/piping/abort.any.js
  streams/piping/close-propagation-backward.any.js
  streams/piping/close-propagation-forward.any.js
  streams/piping/error-propagation-backward.any.js
  streams/piping/error-propagation-forward.any.js
  streams/piping/flow-control.any.js
  streams/piping/general.any.js
  streams/piping/multiple-propagation.any.js
  streams/piping/pipe-through.any.js
  streams/piping/then-interception.any.js
  streams/piping/throwing-options.any.js
  streams/piping/transform-streams.any.js
  streams/readable-byte-streams/bad-buffers-and-views.any.js
  streams/readable-byte-streams/construct-byob-request.any.js
  streams/readable-byte-streams/general.any.js
  streams/readable-byte-streams/non-transferable-buffers.any.js
  streams/readable-byte-streams/respond-after-enqueue.any.js
  streams/readable-byte-streams/tee.any.js
  streams/transform-streams/backpressure.any.js
  streams/transform-streams/errors.any.js
  streams/transform-streams/flush.any.js
  streams/transform-streams/general.any.js
  streams/transform-streams/lipfuzz.any.js
  streams/transform-streams/patched-global.any.js
  streams/transform-streams/properties.any.js
  streams/transform-streams/reentrant-strategies.any.js
  streams/transform-streams/strategies.any.js
  streams/transform-streams/terminate.any.js
  streams/writable-streams/aborting.any.js
  streams/writable-streams/bad-strategies.any.js
  streams/writable-streams/bad-underlying-sinks.any.js
  streams/writable-streams/byte-length-queuing-strategy.any.js
  streams/writable-streams/close.any.js
  streams/writable-streams/constructor.any.js
  streams/writable-streams/count-queuing-strategy.any.js
  streams/writable-streams/error.any.js
  streams/writable-streams/floating-point-total-queue-size.any.js
  streams/writable-streams/general.any.js
  streams/writable-streams/properties.any.js
  streams/writable-streams/reentrant-strategy.any.js
  streams/writable-streams/start.any.js
  streams/writable-streams/write.any.js
Labels: streams, mozilla:gecko-blocked

#33951 Test members installed by maplike/setlike declarations
  event-timing/idlharness.any.js
  resources/idlharness.js
Labels: infra, idlharness.js, event-timing

#34738 Test aspect-ratio affects the min/max sizes
  css/css-sizing/aspect-ratio/block-aspect-ratio-038.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-039.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-040.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-041.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-042.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-043.html
Labels: css-sizing

#34770 Extend `evaluate` serialization tests
  webdriver/tests/bidi/script/evaluate/result.py
Labels: webdriver-bidi

#34777 Add `resultOwnership` tests for `script.callFunction`
  webdriver/tests/bidi/script/call_function/call_function.py
  webdriver/tests/bidi/script/call_function/result_ownership.py
  webdriver/tests/bidi/script/evaluate/await_promise.py
Labels: webdriver-bidi

#34800 Add tests for script.callFunction for serialization of complex objects with simple value field.
  webdriver/tests/bidi/script/call_function/result.py
Labels: webdriver-bidi

#34759 Avoid hardcoding URL in .well-known/web-identity
  .well-known/web-identity
  lint.ignore
  tools/serve/serve.py
Labels: infra, serve, .well-known

#34836 More tests about the priority of transfered min/max size and definite min/max sizes
  css/css-sizing/aspect-ratio/block-aspect-ratio-044.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-045.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-046.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-047.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-048.html
  css/css-sizing/aspect-ratio/block-aspect-ratio-049.html
Labels: css-sizing

#34798 Use a shorter name for test
  editing/other/insertparagraph-in-inline-editing-host.tentative.html
Labels: editing

#34856 [css-contain] fix test for CSS animation events when there is no owning element
  css/css-contain/content-visibility/animation-display-lock.html
Labels: css-contain

#34872 Make ARIA reflection tests no tentative
  html/dom/aria-attribute-reflection.html
  html/dom/aria-element-reflection.html
Labels: html

#34807 Remove inconsistent test
  webdriver/tests/bidi/browsing_context/navigate/error.py
Labels: webdriver-bidi

#34894 Update infrastructure metadata for Firefox touch support
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseFirstPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsReleaseSecondPoint.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsTwoTouchStarts.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/touchPointerEventProperties.html.ini
Labels: infra, status:needs-reviewers

#34885 Further refine the regex used to find STP releases
  tools/wpt/browser.py
  tools/wpt/tests/safari-downloads/2018-05-17.html
  tools/wpt/tests/safari-downloads/2018-09-19.html
  tools/wpt/tests/safari-downloads/2020-06-04.html
  tools/wpt/tests/safari-downloads/2020-07-16.html
  tools/wpt/tests/safari-downloads/2020-11-14.html
  tools/wpt/tests/safari-downloads/2021-06-08.html
  tools/wpt/tests/safari-downloads/2021-10-28.html
  tools/wpt/tests/safari-downloads/2022-05-29.html
  tools/wpt/tests/safari-downloads/2022-06-22.html
  tools/wpt/tests/safari-downloads/2022-07-05.html
  tools/wpt/tests/safari-downloads/2022-07-07.html
  tools/wpt/tests/safari_downloads_page_stp_section.html
  tools/wpt/tests/test_browser.py
Labels: infra, wpt, Azure Pipelines

#34852 Add missing step_func() in a couple of cookie tests
  cookies/path/default.html
  cookies/path/match.html
Labels: cookies

#34682 Add new devicePixel ref test
  resize-observer/create-pattern-data-url.js
  resize-observer/devicepixel2-ref.html
  resize-observer/devicepixel2.html
Labels: resize-observer

#34884 Only use asyncio.wait_for in bidi navigation tests which expect a timeout
  webdriver/tests/bidi/browsing_context/navigate/wait.py
Labels: webdriver-bidi

#34901 Met AttributeError due to screenshot returns None
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#34917 Fix the ResizeObserver devicePixel2.html test
  resize-observer/devicepixel2.html
Labels: resize-observer

#34814 CORE-AAM: update subscript and superscript MSAA mapping
  core-aam/subscript-manual.html
  core-aam/superscript-manual.html
Labels: core-aam

#34869 Add a CEReaction test for Animation.prototype.commitStyles.
  custom-elements/reactions/Animation.html
Labels: custom-elements, wg-webplatform

#34830 Add "arguments" deserialization tests for "script.callFunction"
  webdriver/tests/bidi/script/call_function/arguments.py
Labels: webdriver-bidi

#34942 Fix #34926: set SYSTEM_VERSION_COMPAT=0 when installing STP
  tools/ci/azure/install_safari.yml
Labels: infra, ci, Azure Pipelines

#34977 Upstream changes from WebKit bug 241048
  html/canvas/element/manual/wide-gamut-canvas/canvas-display-p3-drawImage-ImageBitmap-video.html
  html/canvas/element/manual/wide-gamut-canvas/canvas-display-p3-drawImage-video.html
Labels: html

#34944 Fix Firefox infrastructure metadata
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPoints.html.ini
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsWithPause.html.ini
Labels: infra, status:needs-reviewers

#34940 Create dedicated tests for script.callFunction awaitPromise
  webdriver/tests/bidi/script/call_function/await_promise.py
  webdriver/tests/bidi/script/call_function/call_function.py
  webdriver/tests/bidi/script/call_function/result.py
Labels: webdriver-bidi

#35232 Upstream changes from WebKit bug 242052
  css/css-sizing/aspect-ratio/grid-aspect-ratio-040.html
Labels: css-sizing

#35237 Fix unit in Container Query parsing test
  css/css-contain/container-queries/at-container-parsing.html
Labels: css-contain

#35257 Fix a bug in this test that the host wasn't getting focused.
  css/selectors/focus-visible-020.html
Labels: selectors

#34912 webrtc: add test assertions for simulcast-~ spec change
  webrtc/protocol/simulcast-answer.html
Labels: webrtc, wg-s_webrtc

#35270 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=243338
  webrtc/RTCRtpTransceiver-setCodecPreferences.html
Labels: webrtc, webkit-export, wg-s_webrtc

#35265 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=243300
  css/css-contain/contain-size-button-001.html
  css/css-contain/contain-size-button-002-ref.html
  css/css-contain/contain-size-button-002.html
Labels: css-contain, webkit-export

#35282 Added <body lang="ja"> to hanging-punctuation-*-bound-001.html tests and references
  css/css-text/hanging-punctuation/hanging-punctuation-block-bound-001.html
  css/css-text/hanging-punctuation/hanging-punctuation-inline-bound-001.html
  css/css-text/hanging-punctuation/reference/hanging-punctuation-block-bound-001-ref.html
  css/css-text/hanging-punctuation/reference/hanging-punctuation-inline-bound-001-ref.html
Labels: css-text
