Repository web-platform-tests/wpt, pull requests merged in 2022-10, with the labels that each got.

#36210 cc Drop self-closing tag syntax from all ARIA tests
  conformance-checkers/html-aria/accessible-name-input/checkbox-title.html
  conformance-checkers/html-aria/accessible-name-input/file-title.html
  conformance-checkers/html-aria/accessible-name-input/password-title.html
  conformance-checkers/html-aria/accessible-name-input/radio-title.html
  conformance-checkers/html-aria/accessible-name-input/text-title.html
  conformance-checkers/html-aria/combobox-autocomplete-list/div-haswarn.html
  conformance-checkers/html-aria/combobox-autocomplete-list/input.html
  conformance-checkers/html-aria/host-language/implicit-semantics-checkbox-disparity-haswarn.html
  conformance-checkers/html-aria/host-language/implicit-semantics-checkbox-norole-haswarn.html
  conformance-checkers/html-aria/host-language/implicit-semantics-checkbox-role-haswarn.html
  conformance-checkers/html-aria/name-computation-img/557-isvalid.html
  conformance-checkers/html-aria/name-computation-img/565-isvalid.html
  conformance-checkers/html-aria/name-computation-img/566-isvalid.html
  conformance-checkers/html-aria/name-computation-input/542.html
  conformance-checkers/html-aria/name-computation-input/543.html
  conformance-checkers/html-aria/name-computation-input/544.html
  conformance-checkers/html-aria/name-computation-input/545.html
  conformance-checkers/html-aria/name-computation-input/546.html
  conformance-checkers/html-aria/name-computation-input/551.html
  conformance-checkers/html-aria/name-computation-input/552.html
  conformance-checkers/html-aria/name-computation-input/553.html
  conformance-checkers/html-aria/name-computation-input/611.html
  conformance-checkers/html-aria/name-computation-input/721.html
  conformance-checkers/html-aria/name-computation-input/723.html
  conformance-checkers/html-aria/name-computation-input/724.html
  conformance-checkers/html-aria/name-computation-input/725.html
  conformance-checkers/html-aria/name-computation-input/748.html
  conformance-checkers/html-aria/name-computation-input/749.html
  conformance-checkers/html-aria/name-computation-input/750.html
  conformance-checkers/html-aria/name-computation-input/751.html
  conformance-checkers/html-aria/name-computation-input/753.html
  conformance-checkers/html-aria/name-computation-input/754.html
  conformance-checkers/html-aria/name-computation-input/755.html
  conformance-checkers/html-aria/name-computation-input/756.html
  conformance-checkers/html-aria/name-computation-input/758.html
  conformance-checkers/html-aria/name-computation-input/759.html
  conformance-checkers/html-aria/name-computation-input/760.html
  conformance-checkers/html-aria/name-computation-input/761.html
  conformance-checkers/html-aria/namefromauthor-requ/890.html
  conformance-checkers/html-aria/presentation-role/497-novalid.html
  conformance-checkers/html-aria/presentation-role/498-novalid.html
  conformance-checkers/html-aria/presentation-role/499-novalid.html
  conformance-checkers/html-aria/presentation-role/500-novalid.html
  conformance-checkers/html-aria/presentation-role/501-novalid.html
  conformance-checkers/html-aria/presentation-role/502-novalid.html
  conformance-checkers/html-aria/presentation-role/503-novalid.html
  conformance-checkers/html-aria/presentation-role/504-novalid.html
  conformance-checkers/html-aria/presentation-role/505-novalid.html
  conformance-checkers/html-aria/presentation-role/506-novalid.html
  conformance-checkers/html-aria/presentation-role/507-novalid.html
  conformance-checkers/html-aria/presentation-role/509-novalid.html
  conformance-checkers/html-aria/presentational-children/testcase-839.html
  conformance-checkers/html-aria/presentational-children/testcase-840.html
  conformance-checkers/html-aria/presentational-children/testcase-842.html
  conformance-checkers/html-aria/presentational-children/testcase-843.html
  conformance-checkers/html-aria/presentational-children/testcase-844.html
Labels: conformance-checkers

#36214 cc Drop self-closing tag syntax from all HTML-ITS tests
  conformance-checkers/html-its/allowedcharacters/html/allowedcharacters2html.html
  conformance-checkers/html-its/allowedcharacters/html/allowedcharacters3html.html
  conformance-checkers/html-its/allowedcharacters/html/allowedcharacters4html.html
  conformance-checkers/html-its/directionality/html/dir3html.html
  conformance-checkers/html-its/domain/html/domain1html.html
  conformance-checkers/html-its/domain/html/domain2html.html
  conformance-checkers/html-its/domain/html/domain3html.html
  conformance-checkers/html-its/domain/html/domain4html.html
  conformance-checkers/html-its/elementswithintext/html/withintext1html.html
  conformance-checkers/html-its/elementswithintext/html/withintext3html.html
  conformance-checkers/html-its/elementswithintext/html/withintext4html.html
  conformance-checkers/html-its/externalresource/html/externalresource1html.html
  conformance-checkers/html-its/externalresource/html/externalresource2html.html
  conformance-checkers/html-its/idvalue/html/idvalue1html.html
  conformance-checkers/html-its/idvalue/html/idvalue2html.html
  conformance-checkers/html-its/languageinformation/html/languageinfo1html.html
  conformance-checkers/html-its/languageinformation/html/languageinfo2html.html
  conformance-checkers/html-its/localefilter/html/locale1html.html
  conformance-checkers/html-its/localefilter/html/locale3html.html
  conformance-checkers/html-its/localizationnote/html/locnote1html.html
  conformance-checkers/html-its/localizationnote/html/locnote2html.html
  conformance-checkers/html-its/localizationnote/html/locnote3html.html
  conformance-checkers/html-its/localizationnote/html/locnote4html.html
  conformance-checkers/html-its/localizationnote/html/locnote5html.html
  conformance-checkers/html-its/localizationnote/html/locnote6html.html
  conformance-checkers/html-its/localizationnote/html/locnote8html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue1html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue2html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue3html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue4html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue5html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue6html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue7html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue8html.html
  conformance-checkers/html-its/locqualityissue/html/locqualityissue9html.html
  conformance-checkers/html-its/mtconfidence/html/mtconfidence1html.html
  conformance-checkers/html-its/mtconfidence/html/mtconfidence2html.html
  conformance-checkers/html-its/mtconfidence/html/mtconfidence3html.html
  conformance-checkers/html-its/mtconfidence/html/mtconfidence4html.html
  conformance-checkers/html-its/storagesize/html/storagesize1html.html
  conformance-checkers/html-its/storagesize/html/storagesize2html.html
  conformance-checkers/html-its/storagesize/html/storagesize3html.html
  conformance-checkers/html-its/targetpointer/html/targetpointer1html.html
  conformance-checkers/html-its/targetpointer/html/targetpointer2html.html
  conformance-checkers/html-its/targetpointer/html/targetpointer3html.html
  conformance-checkers/html-its/terminology/html/terminology1html.html
  conformance-checkers/html-its/terminology/html/terminology2html.html
  conformance-checkers/html-its/terminology/html/terminology4html.html
  conformance-checkers/html-its/terminology/html/terminology5html.html
  conformance-checkers/html-its/textanalysis/html/textanalysis1html.html
  conformance-checkers/html-its/textanalysis/html/textanalysis2html.html
  conformance-checkers/html-its/translate/html/translate1html.html
  conformance-checkers/html-its/translate/html/translate2html.html
  conformance-checkers/html-its/translate/html/translate3html.html
  conformance-checkers/html-its/translate/html/translate4html.html
  conformance-checkers/html-its/translate/html/translate5html.html
  conformance-checkers/html-its/translate/html/translate6html.html
  conformance-checkers/html-its/translate/html/translate7html.html
Labels: conformance-checkers

#36215 cc Add U007C-in-host tests to messages.json
  conformance-checkers/html/elements/base/href/scheme-file-slash-slash-abc-bar-isvalid.html
  conformance-checkers/messages.json
Labels: conformance-checkers

#36222 Fix typos in comments about the initial about:blank document
  html/browsers/the-window-object/window-reuse-in-nested-browsing-contexts.tentative.html
Labels: html

#36217 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245024
  css/css-grid/parsing/grid-shorthand-serialization.html
Labels: css-grid, webkit-export

#36232 Test that an ambiguous case serializes with the grid-template form, per https://github.com/w3c/csswg-drafts/issues/7805
  css/css-grid/parsing/grid-shorthand.html
Labels: css-grid

#34639 Add ways to disable experimental flags
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/edgechromium.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wpt, wptrunner

#36238 CSSMatrixTransformComponent should be CSSMatrixComponent
  css/css-typed-om/CSSMatrixComponent-DOMMatrix-mutable.html
Labels: css-typed-om

#36216 [resize-observer] [html] Test ordering of ResizeObserver vs. IntersectionObserver notifications
  resize-observer/ordering.html
Labels: resize-observer

#36247 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=243562
  css/css-animations/KeyframeEffect-getKeyframes.tentative.html
  css/css-backgrounds/background-size-001.html
  css/css-backgrounds/parsing/background-size-computed.html
  quirks/unitless-length/excluded-properties-002.html
Labels: css-backgrounds, css-animations, quirks

#36254 Add testcases to font-variant-east-asian-invalid.html
  css/css-fonts/parsing/font-variant-east-asian-invalid.html
Labels: css-fonts

#35801 HTML: test default styles for <select multiple>
  html/rendering/widgets/the-select-element/select-as-listbox-default-styles.tentative.html
Labels: html

#36255 Empty string `sandbox` is a default realm
  webdriver/tests/bidi/script/call_function/sandbox.py
  webdriver/tests/bidi/script/evaluate/sandbox.py
Labels: webdriver-bidi

#36252 Mark multiTouch test as failing in Chrome.
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsSimultaneousMove.html.ini
Labels: infra, status:needs-reviewers

#36250 Update infrastructure metadata
  infrastructure/metadata/infrastructure/testdriver/actions/multiTouchPointsSimultaneousMove.html.ini
  infrastructure/metadata/infrastructure/testdriver/generate_test_report.html.ini
Labels: infra

#36154 wptrunner: run test types in a deterministic order
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#36165 Update 6 years old README on fetch/http-cache
  fetch/http-cache/README.md
Labels: fetch

#36044 Add `ImageDecoder`-independent animated AVIF test
  avif/META.yml
  avif/animated-avif-timeout-ref.html
  avif/animated-avif-timeout.html
  images/animated-avif.avif
  images/green.avif
  lint.ignore
Labels: infra, assets, animated-avif, avif

#35374 Fetch: Add tests for AbortSignal's abort reason
  fetch/api/abort/general.any.js
  fetch/api/abort/serviceworker-intercepted.https.html
  fetch/api/resources/sw-intercept-abort.js
Labels: fetch

#36306 Update backgrounds on transformed root element tests
  css/css-transforms/support/transform-triangle-left-small.svg
  css/css-transforms/transform-background-007.html
  css/css-transforms/transform-background-008.html
  css/css-transforms/transform-root-bg-001-ref.html
  css/css-transforms/transform-root-bg-001.html
  css/css-transforms/transform-root-bg-003-ref.html
  css/css-transforms/transform-root-bg-003.html
  css/css-transforms/transform-translate-background-001.html
  css/css-transforms/transform-translate-background-002.html
Labels: css-transforms

#36271 Run sysdiagnose at the end of Azure Pipelines jobs on macOS
  .azure-pipelines.yml
  tools/ci/azure/sysdiagnose.yml
Labels: infra, ci, Azure Pipelines

#36258 HTML: clean up contenteditable tests
  html/editing/editing-0/contenteditable/selection-in-contentEditable-at-turning-designMode-on-off.tentative.html
  html/editing/editing-0/contenteditable/user-interaction-editing-contenteditable.html
Labels: html

#36325 Add use-fake-ui-for-media-stream switch to chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#36330 [css-contain] Mark content-visibility top layer tests as not tentative
  css/css-contain/content-visibility/content-visibility-with-top-layer-000.html
  css/css-contain/content-visibility/content-visibility-with-top-layer-001.html
  css/css-contain/content-visibility/content-visibility-with-top-layer-002.html
  css/css-contain/content-visibility/content-visibility-with-top-layer-003.html
  css/css-contain/content-visibility/content-visibility-with-top-layer-004.html
Labels: css-contain

#36332 CORS mode fetch with POST should always send the origin
  fetch/origin/assorted.window.js
Labels: fetch

#36333 Add test for revalidated a cached worker script from a COEP: require-…
  html/cross-origin-embedder-policy/require-corp-worker-script-revalidation.html
  html/cross-origin-embedder-policy/resources/dedicated-worker-supporting-revalidation.py
Labels: html

#35213 Improved precision of text-align-justifyall-00[1-6].html tests and 2 related reference files
  css/css-text/text-align/reference/text-align-justifyall-ref-001.html
  css/css-text/text-align/reference/text-align-justifyall-ref-002.html
  css/css-text/text-align/text-align-justifyall-001.html
  css/css-text/text-align/text-align-justifyall-002.html
  css/css-text/text-align/text-align-justifyall-003.html
  css/css-text/text-align/text-align-justifyall-004.html
  css/css-text/text-align/text-align-justifyall-005.html
  css/css-text/text-align/text-align-justifyall-006.html
Labels: css-text

#35283 Made text assert of word-spacing-computed-001.html test a bit more precise
  css/css-text/word-spacing/word-spacing-computed-001.html
Labels: css-text

#36336 Add test for CSSTransformComponent toMatrix flattening for 2D
  css/css-typed-om/stylevalue-subclasses/cssTransformComponent-2d-flattening.html
Labels: css-typed-om

#36290 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=190753
  css/cssom/cssstyledeclaration-csstext-all-shorthand.html
Labels: wg-css, cssom, webkit-export

#36359 fix(mimesniff): normalize input in isByteCompatible
  mimesniff/mime-types/README.md
  mimesniff/mime-types/charset-parameter.window.js
  mimesniff/mime-types/parsing.any.js
Labels: mimesniff

#36337 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=97239
  css/css-align/baseline-rules/inline-table-inline-block-baseline-ref.html
  css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl-ref.html
  css/css-align/baseline-rules/inline-table-inline-block-baseline-vert-rl.html
  css/css-align/baseline-rules/inline-table-inline-block-baseline.html
Labels: css-align

#36353 Reorganize css-color parsing tests
  css/css-color/color-function-parsing.html
  css/css-color/parsing/color-computed-color-contrast-function.html
  css/css-color/parsing/color-computed-color-function.html
  css/css-color/parsing/color-computed-color-mix-function.html
  css/css-color/parsing/color-computed-hsl.html
  css/css-color/parsing/color-computed-hwb.html
  css/css-color/parsing/color-computed-lab.html
  css/css-color/parsing/color-computed-relative-color.html
  css/css-color/parsing/color-computed-rgb.html
  css/css-color/parsing/color-computed.html
  css/css-color/parsing/color-invalid-color-contrast-function.html
  css/css-color/parsing/color-invalid-color-function.html
  css/css-color/parsing/color-invalid-color-mix-function.html
  css/css-color/parsing/color-invalid-hsl.html
  css/css-color/parsing/color-invalid-hwb.html
  css/css-color/parsing/color-invalid-lab.html
  css/css-color/parsing/color-invalid-relative-color.html
  css/css-color/parsing/color-invalid-rgb.html
  css/css-color/parsing/color-invalid.html
  css/css-color/parsing/color-mixed-num-pct.html
  css/css-color/parsing/color-valid-color-contrast-function.html
  css/css-color/parsing/color-valid-color-function.html
  css/css-color/parsing/color-valid-color-mix-function.html
  css/css-color/parsing/color-valid-hsl.html
  css/css-color/parsing/color-valid-hwb.html
  css/css-color/parsing/color-valid-lab.html
  css/css-color/parsing/color-valid-relative-color.html
  css/css-color/parsing/color-valid-rgb.html
  css/css-color/parsing/color-valid-system-color.html
  css/css-color/parsing/color-valid.html
  css/css-color/parsing/opacity-computed.html
  css/css-color/parsing/opacity-invalid.html
  css/css-color/parsing/opacity-valid.html
  css/css-color/rgb-rounding-001.html
Labels: css-color

#36366 Test which document history.go(0) reloads
  html/browsers/history/the-history-interface/history_go_zero_which_document.window.js
Labels: html

#36383 Not all orientations need to be supported
  screen-orientation/lock-basic.html
Labels: screen-orientation, status:needs-reviewers, wg-s_webapps

#36390 Update META.yml for screen orientation
  screen-orientation/META.yml
Labels: screen-orientation, status:needs-reviewers, wg-s_webapps

#36368 history.state during a bfcache traversal
  html/browsers/history/the-history-interface/history-state-after-bfcache.window.js
Labels: html

#29957 Test that plugin documents are not accessible
  html/browsers/browsing-the-web/navigating-across-documents/plugin-document.historical.html
  html/browsers/browsing-the-web/navigating-across-documents/resources/portable-document-format-sample-valid.pdf
  html/browsers/browsing-the-web/navigating-across-documents/resources/portable-document-format-sample-valid.pdf.headers
Labels: html, status:needs-spec-decision

#36312 Catch rejections in WebNN idlharness.js test setup
  webnn/idlharness.https.any.js
Labels: webnn, wg-s_webmachinelearning

#36123 Flip expectations for maplike/setlike method enumerability
  resources/idlharness.js
Labels: infra, idlharness.js

#36124 Expand iterable<> and async iterable<> checks
  resources/idlharness.js
Labels: infra, idlharness.js

#35928 Rename pending_beacon/ to page-unload-beacon/
  lint.ignore
  page-unload-beacon/META.yml
  page-unload-beacon/pending_beacon-basic.tentative.window.js
  page-unload-beacon/pending_beacon-deactivate.tentative.window.js
  page-unload-beacon/pending_beacon-sendnow.tentative.window.js
  page-unload-beacon/pending_get_beacon-cors.tentative.https.window.js
  page-unload-beacon/pending_get_beacon-send.tentative.window.js
  page-unload-beacon/pending_post_beacon-cors.tentative.https.window.js
  page-unload-beacon/pending_post_beacon-sendwithdata.tentative.window.js
  page-unload-beacon/resources/get_beacon.py
  page-unload-beacon/resources/pending_beacon-helper.js
  page-unload-beacon/resources/set_beacon.py
Labels: infra, page-unload-beacon

#36394 screen orientation: test non-fully active behavior
  screen-orientation/non-fully-active.html
Labels: screen-orientation, wg-s_webapps

#36392 Screen orientation: don't assume -primary/secondary are supported
  screen-orientation/active-lock.html
  screen-orientation/lock-basic.html
  screen-orientation/lock-sandboxed-iframe.html
  screen-orientation/onchange-event-subframe.html
  screen-orientation/onchange-event.html
  screen-orientation/orientation-reading.html
  screen-orientation/resources/iframe-listen-orientation-change.html
  screen-orientation/resources/sandboxed-iframe-locking.html
Labels: screen-orientation, wg-s_webapps

#36364 Update overlapping nav and traversal tests to match the spec rewrite
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/README.md
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/anchor-fragment-history-back-on-click.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-nav-cross-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-nav-cross-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-nav-same-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-nav-same-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-nav-stop.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-cross-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-cross-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-same-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-same-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/cross-document-traversal-stop.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/forward-to-pruned-entry.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/nav-cancelation-1.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/nav-cancelation-2.sub.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/resources/helpers.mjs
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/resources/nav-cancelation-2-helper.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/resources/slow.py
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-nav-cross-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-nav-cross-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-nav-same-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-nav-same-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-nav-stop.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-cross-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-cross-document-traversal.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-nav.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-hashchange.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-same-document-traversal-pushstate.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/same-document-traversal-stop.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/tentative/README.md
Labels: html

#36361 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246210
  webcodecs/videoFrame-copyTo.any.js
Labels: webkit-export, wg-media, webcodecs

#36399 Add media-playout webrtc stats type
  webrtc-stats/supported-stats.html
Labels: webrtc-stats, wg-s_webrtc

#36367 Test that History is associated with Document, not Window
  common/object-association.js
  html/browsers/history/the-history-interface/history-associated-with-document.window.js
Labels: html, assets

#36391 Update screen-orientation META to add michaelwasserman
  screen-orientation/META.yml
Labels: screen-orientation, wg-s_webapps

#36385 [Reporting API] Test that report queue limit is handled on a per-type basis
  reporting/reporting-api-honors-limits.https.sub.html
  reporting/reporting-api-honors-limits.https.sub.html.sub.headers
Labels: infra, mozilla:gecko-blocked

#34817 Improved precision of text-align-justify-00[1-6].html and their reference files
  css/css-text/text-align/reference/text-align-justify-ref-001.html
  css/css-text/text-align/reference/text-align-justify-ref-002.html
  css/css-text/text-align/reference/text-align-justify-ref-003.html
  css/css-text/text-align/reference/text-align-justify-ref-004.html
  css/css-text/text-align/reference/text-align-justify-ref-005.html
  css/css-text/text-align/reference/text-align-justify-ref-006.html
  css/css-text/text-align/text-align-justify-001.html
  css/css-text/text-align/text-align-justify-002.html
  css/css-text/text-align/text-align-justify-003.html
  css/css-text/text-align/text-align-justify-004.html
  css/css-text/text-align/text-align-justify-005.html
  css/css-text/text-align/text-align-justify-006.html
Labels: css-text

#36413 Fix recent regressions in onchange-event.html
  screen-orientation/onchange-event.html
Labels: screen-orientation, wg-s_webapps

#36414 Fix various issues with the new non-fully-active.html test
  screen-orientation/non-fully-active.html
Labels: screen-orientation, wg-s_webapps

#36406 Screen orientation: re-write navigation tests
  screen-orientation/active-lock.html
  screen-orientation/resources/empty.html
  screen-orientation/resources/orientation-utils.js
Labels: screen-orientation, wg-s_webapps

#36410 Add missing test for css @supports pseudo elements
  css/css-conditional/at-supports-047.html
Labels: css-conditional

#36430 Rename page-unload-beacon/ to unload-beacon/
  lint.ignore
  page-unload-beacon/META.yml
  unload-beacon/META.yml
  unload-beacon/pending_beacon-basic.tentative.window.js
  unload-beacon/pending_beacon-deactivate.tentative.window.js
  unload-beacon/pending_beacon-sendnow.tentative.window.js
  unload-beacon/pending_get_beacon-cors.tentative.https.window.js
  unload-beacon/pending_get_beacon-send.tentative.window.js
  unload-beacon/pending_post_beacon-cors.tentative.https.window.js
  unload-beacon/pending_post_beacon-sendwithdata.tentative.window.js
  unload-beacon/resources/get_beacon.py
  unload-beacon/resources/pending_beacon-helper.js
  unload-beacon/resources/set_beacon.py
Labels: infra, page-unload-beacon, unload-beacon

#36382 Update version detection for Edge binaries
  tools/wpt/browser.py
  tools/wpt/tests/test_browser.py
Labels: infra, wpt

#36436 Fix test_driver variable name in testdriver.js Automation
  docs/writing-tests/testdriver.md
Labels: docs

#36456 Fetch: remove helper assert_no_headers
  fetch/metadata/resources/helper.js
Labels: fetch

#36455 fetch, Web IDL: Test that Headers iteration happens on live value pairs.
  fetch/api/headers/headers-basic.any.js
Labels: fetch

#36171 Add get_all_cookies/get_named_cookie infra
  cookies/samesite/get_all_cookies-default-samesite.html
  cookies/samesite/get_named_cookie-default-samesite.html
  docs/writing-tests/testdriver.md
  infrastructure/testdriver/get_all_cookies.sub.html
  infrastructure/testdriver/get_all_cookies.sub.html.headers
  infrastructure/testdriver/get_all_cookies.sub.https.html
  infrastructure/testdriver/get_all_cookies.sub.https.html.headers
  infrastructure/testdriver/get_named_cookie.sub.html
  infrastructure/testdriver/get_named_cookie.sub.html.headers
  infrastructure/testdriver/get_named_cookie.sub.https.html
  infrastructure/testdriver/get_named_cookie.sub.https.html.headers
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, cookies, wptrunner, testdriver.js

#36452 screen orientation: test locking nested documents
  screen-orientation/nested-documents.html
  screen-orientation/non-fully-active.html
  screen-orientation/resources/orientation-utils.js
Labels: screen-orientation, mozilla:gecko-blocked, wg-s_webapps

#36472 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246554
  css/selectors/nth-child-and-nth-last-child-ref.html
  css/selectors/nth-child-and-nth-last-child.html
  css/selectors/nth-child-of-classname-ref.html
  css/selectors/nth-child-of-classname.html
  css/selectors/nth-child-of-complex-selector-ref.html
  css/selectors/nth-child-of-complex-selector.html
  css/selectors/nth-child-of-compound-selector-ref.html
  css/selectors/nth-child-of-compound-selector.html
  css/selectors/nth-child-of-tagname-ref.html
  css/selectors/nth-child-of-tagname.html
  css/selectors/nth-child-specificity-1-ref.html
  css/selectors/nth-child-specificity-1.html
  css/selectors/nth-child-specificity-2-ref.html
  css/selectors/nth-child-specificity-2.html
  css/selectors/nth-child-specificity-3-ref.html
  css/selectors/nth-child-specificity-3.html
  css/selectors/nth-child-specificity-4-ref.html
  css/selectors/nth-child-specificity-4.html
  css/selectors/nth-last-child-of-classname-ref.html
  css/selectors/nth-last-child-of-classname.html
  css/selectors/nth-last-child-of-complex-selector-ref.html
  css/selectors/nth-last-child-of-complex-selector.html
  css/selectors/nth-last-child-of-compound-selector-ref.html
  css/selectors/nth-last-child-of-compound-selector.html
  css/selectors/nth-last-child-of-style-sharing-1-ref.html
  css/selectors/nth-last-child-of-style-sharing-1.html
  css/selectors/nth-last-child-of-style-sharing-2-ref.html
  css/selectors/nth-last-child-of-style-sharing-2.html
  css/selectors/nth-last-child-of-tagname-ref.html
  css/selectors/nth-last-child-of-tagname.html
  css/selectors/nth-last-child-specificity-1-ref.html
  css/selectors/nth-last-child-specificity-1.html
  css/selectors/nth-last-child-specificity-2-ref.html
  css/selectors/nth-last-child-specificity-2.html
  css/selectors/nth-last-child-specificity-3-ref.html
  css/selectors/nth-last-child-specificity-3.html
  css/selectors/nth-last-child-specificity-4-ref.html
  css/selectors/nth-last-child-specificity-4.html
Labels: selectors, webkit-export

#36475 Fix typo in text-transform.html
  css/css-typed-om/the-stylepropertymap/properties/text-transform.html
Labels: css-typed-om

#36477 Rename font-weight-xxx-large.html to font-size-xxx-large.html
  css/css-fonts/font-size-xxx-large-ref.html
  css/css-fonts/font-size-xxx-large.html
Labels: css-fonts

#32921 Test permission API against non-fully-active doc
  permissions/non-fully-active.https.html
  permissions/resources/empty.html
Labels: wg-webappsec, status:needs-reviewers, permissions, wg-s_webappsec

#36479 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246566
  css/css-fonts/rlh-in-monospace-ref.html
  css/css-fonts/rlh-in-monospace.html
Labels: css-fonts, webkit-export

#34902 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=233071
  content-security-policy/style-src/style-src-injected-inline-style-allowed-with-content-hash.html
Labels: content-security-policy, webkit-export

#36486 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246573
  css/css-fonts/font-shorthand-serialization-font-stretch.html
Labels: css-fonts, webkit-export

#36494 Show complete server URL when starting server
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#36471 [wptrunner] Enable print-reftests for content shell
  tools/wptrunner/wptrunner/browsers/content_shell.py
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
Labels: infra, wptrunner

#36500 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246576
  css/css-flexbox/align-content-001.htm
  css/css-flexbox/align-content-002.htm
  css/css-flexbox/align-content-003.htm
  css/css-flexbox/align-content-004.htm
  css/css-flexbox/align-content-005.htm
  css/css-flexbox/align-items-001.htm
  css/css-flexbox/align-items-002.htm
  css/css-flexbox/align-items-003.htm
  css/css-flexbox/align-items-004.htm
  css/css-grid/layout-algorithm/flex-sizing-rows-indefinite-height.html
  css/css-grid/layout-algorithm/grid-template-flexible-rerun-track-sizing.html
Labels: wg-css, css-grid, css-flexbox, webkit-export

#30190 Check events work after garbage collection
  permissions/permissions-garbage-collect.https.html
Labels: wg-webappsec, status:needs-reviewers, permissions, wg-s_webappsec

#36519 Regenerate 2d.filter.canvasFilterObject.componentTransfer.identity.tentative.html
  html/canvas/element/filters/2d.filter.canvasFilterObject.componentTransfer.identity.tentative.html
Labels: html

#36372 Python 3.10 support
  tools/third_party/websockets/src/websockets/protocol.py
Labels: infra, third_party

#36437 Fix #36326: stop daily runs of Servo
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#36478 The height of <select> with attribute size
  css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-009.html
Labels: css-sizing, status:needs-reviewers

#36476 Fix transform-translate-background-{001,002}.html ref
  css/css-transforms/transform-translate-background-001-ref.html
Labels: css-transforms

#36532 XHR FormData: Add tests for changes to the entry list during iteration.
  xhr/formdata/iteration.any.js
Labels: xhr

#36522 Add test for backpressure on MediaStreamTrackProcessor
  mediacapture-insertable-streams/MediaStreamTrackProcessor-backpressure.https.html
Labels: status:needs-reviewers, mediacapture-insertable-streams

#36534 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245001
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
Labels: html, webkit-export

#36560 Export WPT changes from https://github.com/WebKit/WebKit/pull/5511
  css/css-backgrounds/background-size-027.html
  css/css-backgrounds/background-size-028.html
  css/css-backgrounds/background-size-029.html
  css/css-backgrounds/background-size-030.html
  css/css-backgrounds/background-size-031.html
  css/css-backgrounds/border-bottom-left-radius-004.xht
  css/css-backgrounds/border-bottom-right-radius-004.xht
  css/css-backgrounds/border-image-repeat-round-2.html
  css/css-backgrounds/border-top-left-radius-004.xht
  css/css-backgrounds/border-top-right-radius-004.xht
  css/css-backgrounds/css-box-shadow-001.html
  css/css-contain/contain-paint-clip-015.html
  css/css-contain/contain-paint-clip-016.html
  css/css-flexbox/justify-content-001.htm
  css/css-flexbox/justify-content-005.htm
  css/css-images/tiled-radial-gradients.html
  css/css-masking/mask-image/mask-mode-c.html
  css/css-multicol/multicol-rule-dashed-000.xht
  css/css-transforms/2d-rotate-001.html
  css/css-transforms/css-skew-002.html
  css/css-transforms/preserve3d-and-flattening-z-order-008.html
  css/css-transforms/skew-test1.html
  css/css-transforms/transforms-rotate-degree-45.html
  svg/extensibility/foreignObject/masked.html
Labels: wg-svg, wg-css, svg, css-masking, css-multicol, css-images, css-backgrounds, css-transforms, css-flexbox, css-contain, webkit-export

#33934 Clean up some navigation tests
  html/browsers/browsing-the-web/navigating-across-documents/001-1.html
  html/browsers/browsing-the-web/navigating-across-documents/001-2.html
  html/browsers/browsing-the-web/navigating-across-documents/001-3.html
  html/browsers/browsing-the-web/navigating-across-documents/001.html
  html/browsers/browsing-the-web/navigating-across-documents/002-1.html
  html/browsers/browsing-the-web/navigating-across-documents/002-2.html
  html/browsers/browsing-the-web/navigating-across-documents/002.html
  html/browsers/browsing-the-web/navigating-across-documents/about-srcdoc-navigation-blocked.html
  html/browsers/browsing-the-web/navigating-across-documents/about-srcdoc-navigation-blocked.window.js
  html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-cross-origin.sub.window.js
  html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-data-url.window.js
  html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-javascript-url.window.js
  html/browsers/browsing-the-web/navigating-across-documents/navigation-unload-same-origin.window.js
  html/browsers/browsing-the-web/navigating-across-documents/navigation_unload_data_url-1.html
  html/browsers/browsing-the-web/navigating-across-documents/navigation_unload_data_url.html
  html/browsers/browsing-the-web/navigating-across-documents/navigation_unload_same_origin-1.html
  html/browsers/browsing-the-web/navigating-across-documents/navigation_unload_same_origin.html
  html/browsers/browsing-the-web/resources/helpers.js
Labels: html

#36567 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246744
  webcodecs/chunk-serialization.any.js
Labels: webkit-export, wg-media, webcodecs

#36570 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246798
  webcodecs/videoFrame-texImage.any.js
Labels: webkit-export, wg-media, webcodecs

#36575 Use boxes instead of text in t425-hsla-basic-a.xht
  css/css-color/t425-hsla-basic-a-ref.html
  css/css-color/t425-hsla-basic-a.xht
Labels: css-color

#36577 Use Ahem in t422-rgba-a0.6-a.xht and t32-opacity-basic-0.6-a.xht
  css/css-color/t32-opacity-basic-0.6-a-ref.html
  css/css-color/t32-opacity-basic-0.6-a.xht
  css/css-color/t422-rgba-a0.6-a.xht
Labels: css-color

#36427 Integrate 'color-resolving' tests with existing css-color parsing tests
  css/css-color/color-resolving-hsl.html
  css/css-color/color-resolving-hwb.html
  css/css-color/color-resolving-keywords.html
  css/css-color/color-resolving.html
  css/css-color/parsing/color-computed-hex-color.html
  css/css-color/parsing/color-computed-hsl.html
  css/css-color/parsing/color-computed-hwb.html
  css/css-color/parsing/color-computed-named-color.html
  css/css-color/parsing/color-computed-rgb.html
  css/css-color/parsing/color-invalid-hex-color.html
  css/css-color/parsing/color-invalid-hsl.html
  css/css-color/parsing/color-invalid-hwb.html
  css/css-color/parsing/color-invalid-named-color.html
  css/css-color/parsing/color-invalid-rgb.html
Labels: css-color

#36558 Align BiDi tests with a spec proposal
  webdriver/tests/bidi/log/entry_added/console.py
Labels: webdriver-bidi

#36596 [wptmanifest] Allow atoms in a group block
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_serializer.py
Labels: infra, wptrunner

#36601 [Reporting API] generateTestReport sends to endpoint
  reporting/generateTestReport-honors-endpoint.https.sub.html
  reporting/generateTestReport-honors-endpoint.https.sub.html.sub.headers
Labels: infra, webkit-export

#36608 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245100
  css/css-scroll-snap/scroll-margin-visibility-check.html
Labels: css-scroll-snap, webkit-export

#36594 fetch: fix blob.slice tests content-length assert
  fetch/api/basic/scheme-blob.sub.any.js
Labels: fetch

#36125 Make import-maps iframe tests deterministic
  import-maps/import-maps-base-url.sub.html
  import-maps/resources/test-helper.js
  resources/testharness.js
Labels: infra, testharness.js, import-maps

#36599 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246876
  web-animations/timing-model/animations/setting-the-current-time-of-an-animation.html
  web-animations/timing-model/animations/setting-the-start-time-of-an-animation.html
Labels: wg-css, web-animations, webkit-export

#36565 Test Resource State Pseudo-classes
  css/selectors/media/media-loading-state.html
  css/selectors/media/media-playback-state.html
  css/selectors/media/sound-state.html
Labels: selectors

#36605 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246887
  content-security-policy/reporting/report-preload-and-consume.https.html
  reporting/cross-origin-report-no-credentials.https.sub.html
  reporting/cross-origin-reports-isolated.https.sub.html
  reporting/document-reporting-destroy-after-document-close.https.sub.html
  reporting/same-origin-report-credentials.https.sub.html
Labels: infra, content-security-policy, webkit-export

#36613 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=112655
  css/css-writing-modes/text-combine-upright-shadow-ref.html
  css/css-writing-modes/text-combine-upright-shadow.html
Labels: css-writing-modes, webkit-export

#35949 Add tests for interaction between import() and microtask queue
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/basic.any.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/css-import-in-worker.any.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/empty-module.css
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/empty-module.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/serviceworker.any.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/ticker.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/with-import-assertions.any.js
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/worklet-ref.https.html
  html/semantics/scripting-1/the-script-element/module/dynamic-import/microtasks/worklet.https.html
Labels: html

#36595 Border could change the appearance of <select> element in WebKit
  css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-032.html
Labels: css-sizing

#36622 cc link imagesrcset and imagesizes tests
  conformance-checkers/html/elements/link/imagesizes-no-imagesrcset-novalid.html
  conformance-checkers/html/elements/link/imagesrcset-no-as-image-novalid.html
  conformance-checkers/html/elements/link/imagesrcset-no-preload-novalid.html
  conformance-checkers/html/elements/link/imagesrcset-valid.html
  conformance-checkers/messages.json
Labels: conformance-checkers

#36598 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=15257
  css/css-fonts/font-size-adjust-012-ref.html
  css/css-fonts/font-size-adjust-012.html
  css/css-fonts/resources/ahem-ex-250.otf
  css/css-fonts/resources/ahem-ex-500.otf
  lint.ignore
Labels: infra, css-fonts, webkit-export

#36630 Automatically enable MojoJS for `content_shell` if `--mojojs-path` provided
  tools/wpt/run.py
Labels: infra, wpt

#36505 Update metadata for `webtransport-h3.https.sub.any.js`
  infrastructure/metadata/infrastructure/server/webtransport-h3.https.sub.any.js.ini
Labels: infra, mozilla:gecko-blocked

#36638 Screen orientation: simplify non-fully-active.html
  screen-orientation/non-fully-active.html
Labels: screen-orientation, wg-s_webapps

#36559 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246216
  css/css-contain/contain-style-counters-005.html
  css/css-contain/reference/contain-style-counters-005-ref.html
Labels: css-contain, webkit-export

#36249 fix(WebCryptoAPI): remove unhandled rejections
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_keys.js
  WebCryptoAPI/derive_bits_keys/ecdh_bits.js
  WebCryptoAPI/derive_bits_keys/ecdh_keys.js
Labels: WebCryptoAPI, wg-webcrypto

#36348 WebCryptoAPI: add default generated HMAC key length tests
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#35340 [wptmanifest] Improve parser/serializer comment support
  tools/wptrunner/wptrunner/wptmanifest/node.py
  tools/wptrunner/wptrunner/wptmanifest/parser.py
  tools/wptrunner/wptrunner/wptmanifest/serializer.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_serializer.py
  tools/wptrunner/wptrunner/wptmanifest/tests/test_tokenizer.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#36629 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246960
  css/css-fonts/variations/at-font-face-descriptors.html
Labels: css-fonts, webkit-export

#36654 [wptrunner] Dedup content shell command line args
  tools/wptrunner/wptrunner/browsers/content_shell.py
Labels: infra, wptrunner

#36641 Screen orientation: fix/refactor sandboxed iframe tests
  screen-orientation/lock-sandboxed-iframe.html
  screen-orientation/onchange-event-subframe.html
  screen-orientation/resources/orientation-utils.js
  screen-orientation/resources/sandboxed-iframe-locking.html
Labels: screen-orientation, wg-s_webapps

#36640 Screen orientation: rewrite lock-unlock-check.html
  screen-orientation/lock-unlock-check.html
Labels: screen-orientation, wg-s_webapps

#36639 screen orientation: simplify orientation-reading.html
  screen-orientation/orientation-reading.html
Labels: screen-orientation, wg-s_webapps

#36636 Screen orientation: test exiting fullscreen API
  screen-orientation/fullscreen-interactions.html
Labels: screen-orientation, wg-s_webapps

#36635 Screen orientation: simplify lock-basic.html
  screen-orientation/lock-basic.html
Labels: screen-orientation, wg-s_webapps

#36634 Screen orientation: simplify event-before-promise.html
  screen-orientation/event-before-promise.html
Labels: screen-orientation, wg-s_webapps

#36633 screen orientation: test navigation/unloading while locking
  screen-orientation/active-lock.html
Labels: screen-orientation, wg-s_webapps

#36632 screen orientation: test unlock() method
  screen-orientation/unlock.html
Labels: screen-orientation, wg-s_webapps

#36637 Screen orientation: simplify onchange-event.html
  screen-orientation/onchange-event.html
Labels: screen-orientation, wg-s_webapps

#36656 [wptrunner] Apply wptserve aliases from `config.json`
  tools/wptrunner/wptrunner/environment.py
Labels: infra, wptrunner

#36693 [wptrunner] Remove metadata key to suppress subtests
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#36697 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247093
  css/css-backgrounds/background-size-027.html
  css/css-backgrounds/border-bottom-left-radius-004.xht
  css/css-backgrounds/border-top-left-radius-004.xht
  css/css-backgrounds/css-box-shadow-001.html
  css/css-contain/contain-paint-clip-015.html
  css/css-contain/contain-paint-clip-016.html
  css/css-masking/mask-image/mask-opacity-1a.html
  css/css-masking/mask-image/mask-opacity-1b.html
  css/css-masking/mask-image/mask-opacity-1c.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-001.html
  css/css-transforms/preserve3d-and-flattening-z-order-008.html
  css/css-transforms/skewX/svg-skewxy-001.html
Labels: wg-css, css-shapes, css-masking, css-backgrounds, css-transforms, css-contain

#36714 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247008
  css/css-fonts/animations/font-stretch-interpolation.html
  css/css-variables/variable-presentation-attribute.html
Labels: wg-css, css-variables, css-fonts, webkit-export

#36707 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247172
  css/css-fonts/variations/at-font-face-descriptors.html
Labels: css-fonts, webkit-export

#36728 Remove unnecessary includes
  screen-capture/getdisplaymedia-capture-controller.https.window.js
Labels: screen-capture, wg-s_webrtc

#36711 Test javascript: URL-created document properties
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-load-as-html.xhtml
  html/browsers/browsing-the-web/navigating-across-documents/resources/xhtml-and-non-utf-8.xhtml
Labels: html

#36135 idlharness.js shouldn't apply checks for interfaces to callback inter…
  resources/idlharness.js
Labels: infra, idlharness.js

#36708 Screen orientation: small bug fixes
  screen-orientation/active-lock.html
  screen-orientation/resources/orientation-utils.js
Labels: screen-orientation, wg-s_webapps

#36732 Remove tests assuming sRGB display color space
  css/css-color/t422-rgba-onscreen-b-ref.html
  css/css-color/t422-rgba-onscreen-b.xht
  css/css-color/t422-rgba-onscreen-multiple-boxes-c-ref.html
  css/css-color/t422-rgba-onscreen-multiple-boxes-c.xht
  css/css-color/t425-hsla-onscreen-b.xht
  css/css-color/t425-hsla-onscreen-multiple-boxes-c.xht
Labels: css-color

#36580 Add tests for ARIA 1.2 author error correction
  core-aam/abstract_role_not_mapped-manual.html
  core-aam/invalid_role_not_mapped-manual.html
Labels: core-aam
