Repository web-platform-tests/wpt, pull requests merged in 2022-12, with the labels that each got.

#37250 URL: ensure surrogates end up as U+FFFD
  url/resources/percent-encoding.json
Labels: url

#37288 Update auto-fit behavior in Masonry test case
  css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html
Labels: css-grid

#37152 Remove oneRealm arg from set_permission
  docs/writing-tests/testdriver.md
  generic-sensor/generic-sensor-permission.https.html
  geolocation-API/disabled-by-permissions-policy.https.sub.html
  idle-detection/basics.tentative.https.window.js
  idle-detection/idle-detection-allowed-by-permissions-policy-attribute-redirect-on-load.https.sub.html
  idle-detection/idle-detection-allowed-by-permissions-policy-attribute.https.sub.html
  idle-detection/idle-detection-allowed-by-permissions-policy.https.sub.html
  idle-detection/idle-detection-default-permissions-policy.https.sub.html
  idle-detection/idle-permission.tentative.https.window.js
  idle-detection/idlharness-worker.https.window.js
  idle-detection/idlharness.https.window.js
  idle-detection/interceptor.https.html
  infrastructure/metadata/infrastructure/testdriver/set_permission.https.html.ini
  infrastructure/testdriver/set_permission.https.html
  mediacapture-image/MediaStreamTrack-applyConstraints-getSettings.https.html
  mediacapture-image/MediaStreamTrack-applyConstraints-reject.https.html
  mediacapture-image/MediaStreamTrack-applyConstraints.https.html
  mediacapture-image/MediaStreamTrack-clone.https.html
  mediacapture-image/MediaStreamTrack-getCapabilities.https.html
  mediacapture-image/MediaStreamTrack-getConstraints.https.html
  mediacapture-image/MediaStreamTrack-getSettings.https.html
  mediacapture-streams/permission-helper.js
  permissions-policy/resources/permissions-policy-geolocation.html
  permissions-policy/resources/permissions-policy-screen-wakelock.html
  resources/chromium/generic_sensor_mocks.js
  resources/chromium/nfc-mock.js
  resources/testdriver.js
  screen-details/screen_enumeration_permission.https.window.js
  speculation-rules/prerender/restriction-background-sync.tentative.https.html
  speculation-rules/prerender/restriction-midi-sysex.https.html
  speculation-rules/prerender/restriction-midi.https.html
  speculation-rules/prerender/restriction-notification.https.html
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  web-nfc/NDEFReader_make-read-only.https.window.js
  web-nfc/NDEFReader_scan.https.html
  web-nfc/NDEFReader_write.https.html
  web-nfc/nfc_permission.https.window.js
  webdriver/tests/permissions/set.py
Labels: html, mediacapture-streams, pointerevents, infra, webdriver, webaudio, url, geolocation-API, webrtc, wg-geolocation, wg-testing_browser, wg-css, docs, generic-sensor, css-values, feature-policy, web-nfc, css-masking, css-multicol, css-images, interfaces, mediacapture-image, css-pseudo, wptrunner, testdriver.js, css-contain, wg-das, scroll-animations, idle-detection, mozilla:gecko-blocked, wg-s_webrtc, permissions-policy, compute-pressure, wg-s_pointer-events, speculation-rules, screen-details, wg-s_webappsec, css-anchor-position, wg-s_audio

#37290 CIS + content-visibility:hidden should be same as CIS + contain:size
  css/css-sizing/contain-intrinsic-size/contain-intrinsic-size-033.html
Labels: css-sizing

#37236 Webkit export of https://bugs.webkit.org/show_bug.cgi?id=247167
  css/css-typed-om/resources/testhelper.js
  css/css-typed-om/stylevalue-subclasses/cssHSL.html
  css/css-typed-om/stylevalue-subclasses/cssHWB.html
  css/css-typed-om/stylevalue-subclasses/cssLCH.html
  css/css-typed-om/stylevalue-subclasses/cssLab.html
  css/css-typed-om/stylevalue-subclasses/cssOKLCH.html
  css/css-typed-om/stylevalue-subclasses/cssOKLab.html
Labels: css-typed-om, webkit-export

#37311 Fix URL encoding issue in json-module/valid-content-type.html
  html/semantics/scripting-1/the-script-element/json-module/valid-content-type.html
Labels: html

#37316 Add AVIF MIME type
  tools/wptserve/wptserve/constants.py
Labels: infra, wptserve

#36904 Refine gitignore rule for submissions subdirectory.
  .gitignore
Labels: infra

#36911 css mediaqueries : add tests for negated conditions
  css/mediaqueries/negation-001.html
  css/mediaqueries/negation-002.html
Labels: wg-css, mediaqueries

#37335 Trigger layout explicitely in cleanup for auto-006.html
  css/css-sizing/contain-intrinsic-size/auto-006.html
Labels: css-sizing

#37362 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248817
  css/cssom-view/cssom-getBoxQuads-001.html
  css/cssom/flex-serialization.html
  css/cssom/overflow-serialization.html
  css/cssom/shorthand-values.html
Labels: wg-css, cssom, cssom-view, webkit-export

#37339 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248712
  fullscreen/api/shadowroot-fullscreen-element.html
Labels: fullscreen, webkit-export

#36830 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247507
  css/css-sizing/aspect-ratio/replaced-element-039.html
  css/css-sizing/aspect-ratio/replaced-element-040.html
Labels: css-sizing, webkit-export

#37391 Make :has() unforgiving
  css/selectors/parsing/parse-has.html
Labels: selectors

#37392 Make :has() unforgiving
  css/selectors/parsing/parse-has-disallow-nesting-has-inside-has.html
Labels: selectors

#37390 Add test expectation for window-onload-test.html
  infrastructure/metadata/infrastructure/expected-fail/window-onload-test.html.ini
Labels: infra

#36969 Test that element.requestFullscreen() consumes user activation
  fullscreen/api/element-request-fullscreen-consume-user-activation.html
  fullscreen/api/element-request-fullscreen-same-element.html
  fullscreen/api/element-request-fullscreen-same-manual.html
  fullscreen/api/element-request-fullscreen-twice-manual.html
  fullscreen/api/element-request-fullscreen-twice-manual.tentative.html
  fullscreen/api/element-request-fullscreen-two-elements-manual.html
  fullscreen/api/element-request-fullscreen-two-elements-manual.tentative.html
  fullscreen/api/element-request-fullscreen-two-iframes-manual.html
  fullscreen/api/element-request-fullscreen-two-iframes-manual.tentative.html
Labels: fullscreen

#37396 Add test for :has(:fullscreen) invalidation
  css/selectors/invalidation/fullscreen-pseudo-class-in-has.html
Labels: selectors

#37395 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246004
  css/selectors/invalidation/modal-pseudo-class-in-has.html
Labels: selectors, webkit-export

#37433 :has() is unforgiving now
  css/selectors/has-error-recovery.html
Labels: selectors

#37431 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247079
  css/css-grid/masonry/tentative/item-placement/masonry-columns-item-placement-auto-flow-next-001-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-columns-item-placement-auto-flow-next-001.html
  css/css-grid/masonry/tentative/item-placement/masonry-rows-item-placement-auto-flow-next-001-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-rows-item-placement-auto-flow-next-001.html
Labels: css-grid, webkit-export

#37419 Fullscreen: convert more tests to automated tests
  fullscreen/api/element-request-fullscreen-cross-origin-manual.sub.html
  fullscreen/api/element-request-fullscreen-cross-origin.sub.html
  fullscreen/api/resources/recursive-iframe-fullscreen.html
  fullscreen/model/move-to-fullscreen-iframe-manual.html
  fullscreen/model/move-to-fullscreen-iframe.html
  fullscreen/model/move-to-iframe.html
  fullscreen/model/move-to-inactive-document-manual.html
  fullscreen/model/move-to-inactive-document.html
  fullscreen/model/remove-child-manual.html
  fullscreen/model/remove-child.html
  fullscreen/model/remove-first-manual.html
  fullscreen/model/remove-first.html
  fullscreen/model/remove-last-manual.html
  fullscreen/model/remove-last.html
  fullscreen/model/remove-parent-manual.html
  fullscreen/model/remove-parent.html
  fullscreen/model/remove-single-manual.html
  fullscreen/model/remove-single.html
  fullscreen/rendering/fullscreen-pseudo-class-manual.html
  fullscreen/rendering/fullscreen-pseudo-class.html
  fullscreen/rendering/fullscreen-root-block-scroll.html
  fullscreen/rendering/fullscreen-root-block-size.html
  fullscreen/rendering/ua-style-iframe-manual.html
  fullscreen/rendering/ua-style-iframe.html
  fullscreen/trusted-click.js
Labels: fullscreen

#37427 Issue #37425. Adds test for ::marker with variable
  css/css-pseudo/marker-variable-computed-style.html
  css/css-pseudo/marker-variable-ref.html
  css/css-pseudo/marker-variable.html
Labels: css-pseudo

#37442 Revert "Drop funcsigs"
  tools/localpaths.py
  tools/third_party/funcsigs/.coveragerc
  tools/third_party/funcsigs/.gitignore
  tools/third_party/funcsigs/.travis.yml
  tools/third_party/funcsigs/CHANGELOG
  tools/third_party/funcsigs/LICENSE
  tools/third_party/funcsigs/MANIFEST.in
  tools/third_party/funcsigs/Makefile
  tools/third_party/funcsigs/README.rst
  tools/third_party/funcsigs/docs/Makefile
  tools/third_party/funcsigs/docs/_templates/page.html
  tools/third_party/funcsigs/docs/conf.py
  tools/third_party/funcsigs/funcsigs/__init__.py
  tools/third_party/funcsigs/funcsigs/version.py
  tools/third_party/funcsigs/requirements/development.txt
  tools/third_party/funcsigs/setup.cfg
  tools/third_party/funcsigs/setup.py
  tools/third_party/funcsigs/tests/__init__.py
  tools/third_party/funcsigs/tests/test_formatannotation.py
  tools/third_party/funcsigs/tests/test_funcsigs.py
  tools/third_party/funcsigs/tests/test_inspect.py
  tools/third_party/funcsigs/tox.ini
Labels: infra, localpaths.py, third_party

#37318 WebCryptoAPI: add CFRG public keys raw import vectors
  WebCryptoAPI/import_export/okp_importKey.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#37319 WebCryptoAPI: add EC public key raw import vectors and spki compresed import vectors
  WebCryptoAPI/import_export/ec_importKey.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#37404 Add more tests to check mrow fallback for invalid mmultiscripts
  mathml/presentation-markup/mrow/mrow-fallback.html
Labels: mathml, wg-math, status:needs-reviewers

#37463 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249177
  css/css-typed-om/the-stylepropertymap/properties/resources/testsuite.js
Labels: css-typed-om, webkit-export

#37509 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249327
  css/css-typed-om/the-stylepropertymap/properties/resources/testsuite.js
Labels: css-typed-om, webkit-export

#37518 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249366
  css/css-box/inheritance.html
Labels: webkit-export, css-box

#37506 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249312
  css/css-properties-values-api/animation/custom-property-animation-length.html
  css/css-properties-values-api/resources/utils.js
Labels: webkit-export, css-properties-values-api

#37521 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247728
  webcodecs/reconfiguring-encoder.https.any.js
  webcodecs/video-encoder.https.any.js
Labels: status:needs-reviewers, wg-media, webcodecs

#37524 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249390
  css/css-properties-values-api/animation/custom-property-animation-custom-ident.html
  css/css-properties-values-api/animation/custom-property-animation-image.html
  css/css-properties-values-api/animation/custom-property-animation-url.html
  css/css-properties-values-api/resources/utils.js
Labels: webkit-export, css-properties-values-api

#37527 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249396
  css/css-properties-values-api/animation/custom-property-animation-inherited-used-by-standard-property.html
  css/css-properties-values-api/animation/custom-property-animation-non-inherited-used-by-standard-property.html
Labels: webkit-export, css-properties-values-api

#37529 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249401
  css/css-properties-values-api/animation/custom-property-animation-angle.html
  css/css-properties-values-api/animation/custom-property-animation-integer.html
  css/css-properties-values-api/animation/custom-property-animation-number.html
  css/css-properties-values-api/animation/custom-property-animation-percentage.html
  css/css-properties-values-api/animation/custom-property-animation-resolution.html
  css/css-properties-values-api/animation/custom-property-animation-time.html
Labels: webkit-export, css-properties-values-api

#37530 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249403
  css/css-properties-values-api/animation/custom-property-animation-length-percentage.html
Labels: webkit-export, css-properties-values-api

#37531 Test interpolation for <color> custom properties
  css/css-properties-values-api/animation/custom-property-animation-color.html
Labels: web-animations, css-variables, css-properties-values-api

#37532 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249404
  fullscreen/rendering/fullscreen-root-fills-page-ref.html
  fullscreen/rendering/fullscreen-root-fills-page.html
Labels: fullscreen, webkit-export

#37537 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249388
  css/css-animations/parsing/animation-valid.html
  css/css-masking/parsing/mask-position-valid.html
  css/css-masking/parsing/mask-valid.sub.html
  css/css-variables/variable-cssText.html
  css/cssom/serialize-values.html
  css/cssom/shorthand-values.html
Labels: wg-css, cssom, css-masking, css-variables, css-animations, webkit-export

#37373 add single dot host test
  url/resources/urltestdata.json
Labels: url

#34650 URL: Add test for hostnames which get IDNA-mapped to 'localhost' in file URLs
  url/resources/urltestdata.json
Labels: url

#37543 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238994
  css/selectors/invalidation/media-pseudo-classes-in-has.html
Labels: selectors, webkit-export

#37558 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249478
  css/css-properties-values-api/animation/custom-property-animation-transform-function.html
Labels: webkit-export, css-properties-values-api

#37565 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249497
  css/css-properties-values-api/animation/custom-property-animation-angle-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-angle-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-color-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-color-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-custom-ident.html
  css/css-properties-values-api/animation/custom-property-animation-image.html
  css/css-properties-values-api/animation/custom-property-animation-integer-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-integer-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-length-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-length-percentage-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-length-percentage-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-length-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-number-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-number-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-percentage-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-percentage-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-resolution-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-resolution-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-time-comma-list.html
  css/css-properties-values-api/animation/custom-property-animation-time-space-list.html
  css/css-properties-values-api/animation/custom-property-animation-transform-list-multiple-values.html
  css/css-properties-values-api/animation/custom-property-animation-transform-list-single-values.html
  css/css-properties-values-api/animation/custom-property-animation-url.html
  css/css-properties-values-api/resources/utils.js
Labels: webkit-export, css-properties-values-api

#37567 Fix size-adjust usage in css-fonts tests
  css/css-fonts/font-size-adjust-012.html
  css/css-fonts/size-adjust-02-ref.html
  css/css-fonts/size-adjust-02.html
  css/css-fonts/system-ui-ar-notref.html
  css/css-fonts/system-ui-ar.html
  css/css-fonts/system-ui-ja-notref.html
  css/css-fonts/system-ui-ja-vs-zh.html
  css/css-fonts/system-ui-ja.html
  css/css-fonts/system-ui-ur-notref.html
  css/css-fonts/system-ui-ur-vs-ar.html
  css/css-fonts/system-ui-ur.html
  css/css-fonts/system-ui-zh-notref.html
  css/css-fonts/system-ui-zh.html
Labels: css-fonts

#37557 URL: fix invalid test
  url/resources/urltestdata.json
Labels: url

#37512 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249205
  css/css-box/parsing/margin-trim-computed.html
  css/css-box/parsing/margin-trim.html
Labels: webkit-export, css-box

#37571 add test for cloning request body
  fetch/api/body/cloned-any.js
Labels: fetch

#37552 Make content-visibility-080.html output visible
  css/css-contain/content-visibility/content-visibility-080.html
Labels: css-contain

#37372 Subset URL tests by file/javascript/mailto schemes
  url/a-element-xhtml.xhtml
  url/a-element.html
  url/resources/a-element.js
  url/url-constructor.any.js
  url/url-setters-a-area.window.js
  url/url-setters.any.js
Labels: url

#37580 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249588
  css/css-typed-om/the-stylepropertymap/properties/fill-opacity.html
Labels: css-typed-om, webkit-export

#37579 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249582
  css/css-typed-om/the-stylepropertymap/properties/animation-duration.html
  css/css-typed-om/the-stylepropertymap/properties/animation-iteration-count.html
  css/css-typed-om/the-stylepropertymap/properties/background-size.html
  css/css-typed-om/the-stylepropertymap/properties/border-image-outset.html
  css/css-typed-om/the-stylepropertymap/properties/border-image-slice.html
  css/css-typed-om/the-stylepropertymap/properties/border-image-width.html
  css/css-typed-om/the-stylepropertymap/properties/border-radius.html
  css/css-typed-om/the-stylepropertymap/properties/font-weight.html
  css/css-typed-om/the-stylepropertymap/properties/grid-auto-columns-rows.html
  css/css-typed-om/the-stylepropertymap/properties/logical.html
  css/css-typed-om/the-stylepropertymap/properties/scroll-padding.html
  css/css-typed-om/the-stylepropertymap/properties/stroke-miterlimit.html
Labels: css-typed-om, webkit-export

#37581 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249590
  css/css-typed-om/the-stylepropertymap/properties/flood-opacity.html
Labels: css-typed-om, webkit-export

#37589 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249601
  css/css-typed-om/the-stylepropertymap/properties/grid-template-columns-rows.html
  css/css-typed-om/the-stylepropertymap/properties/resources/testsuite.js
Labels: css-typed-om, webkit-export

#37588 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249510
  css/css-typed-om/the-stylepropertymap/properties/stroke-dashoffset.html
  css/css-typed-om/the-stylepropertymap/properties/stroke-width.html
  svg/painting/parsing/stroke-dashoffset-valid.svg
  svg/painting/parsing/stroke-width-valid.svg
Labels: wg-svg, svg, css-typed-om, webkit-export

#36331 Need to test quirks mode for <option label> too
  html/rendering/widgets/the-select-element/option-add-label-quirks.html
Labels: html

#37599 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249399
  css/css-properties-values-api/animation/custom-property-transition-angle.html
  css/css-properties-values-api/animation/custom-property-transition-color.html
  css/css-properties-values-api/animation/custom-property-transition-custom-ident.html
  css/css-properties-values-api/animation/custom-property-transition-image.html
  css/css-properties-values-api/animation/custom-property-transition-inherited-used-by-standard-property.html
  css/css-properties-values-api/animation/custom-property-transition-integer.html
  css/css-properties-values-api/animation/custom-property-transition-length-percentage.html
  css/css-properties-values-api/animation/custom-property-transition-length.html
  css/css-properties-values-api/animation/custom-property-transition-mismatched-list.html
  css/css-properties-values-api/animation/custom-property-transition-non-inherited-used-by-standard-property.html
  css/css-properties-values-api/animation/custom-property-transition-number.html
  css/css-properties-values-api/animation/custom-property-transition-percentage.html
  css/css-properties-values-api/animation/custom-property-transition-resolution.html
  css/css-properties-values-api/animation/custom-property-transition-time.html
  css/css-properties-values-api/animation/custom-property-transition-transform-function.html
  css/css-properties-values-api/animation/custom-property-transition-transform-list.html
  css/css-properties-values-api/animation/custom-property-transition-url.html
  css/css-properties-values-api/resources/utils.js
Labels: webkit-export, css-properties-values-api

#36203 Extend adoptedstylesheets-observablearray.html to cover some exceptio…
  css/cssom/adoptedstylesheets-observablearray.html
Labels: wg-css, cssom

#37603 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249615
  css/css-typed-om/the-stylepropertymap/properties/stroke-dasharray.html
Labels: css-typed-om, webkit-export

#37593 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249616
  content-security-policy/inheritance/blob-inherits-from-meta-http-equiv-with-invalid-characters.html
Labels: content-security-policy, webkit-export

#36398 Merge oncopy/oncut/onpaste into GlobalEventHandlers
  html/webappapis/scripting/events/resources/event-handler-body.js
  interfaces/SVG.idl
  interfaces/html.idl
  interfaces/mathml-core.idl
  mathml/relations/html5-tree/clipboard-event-handlers.tentative.html
  svg/types/scripted/event-handler-all-document-element-events.svg
Labels: html, wg-svg, svg, mathml, wg-math, interfaces

#37621 Fix "shuld" typos
  css/css-animations/Element-getAnimations.tentative.html
  service-workers/service-worker/navigation-preload/resource-timing.https.html
  tools/ci/jobs.py
Labels: infra, service-workers, css-animations, wg-sw, ci

#37630 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249717
  css/css-typed-om/the-stylepropertymap/properties/background-repeat.html
Labels: css-typed-om, webkit-export

#37590 dont fail h3 connection immediately
  tools/wptrunner/wptrunner/environment.py
Labels: infra, wptrunner

#37636 Ensure we run resources unit tests when changing testharness
  tools/ci/jobs.py
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#37641 Extract test cases for customized builtins out of custom-elements/custom-element-registry/define.html
  custom-elements/custom-element-registry/define-customized-builtins.html
  custom-elements/custom-element-registry/define.html
Labels: custom-elements, wg-webplatform

#37642 Extract test cases for customized builtins out of custom-elements/Document-createElement.html
  custom-elements/Document-createElement-customized-builtins.html
  custom-elements/Document-createElement.html
Labels: custom-elements, wg-webplatform

#37610 Support the --reftest-screenshot command line argument in the Servo reftest executor
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner

#37650 Fix typo on negative-calc-to-non-negative-integer
  css/css-values/negative-calc-to-non-negative-integer.html
Labels: wg-css, css-values

#37647 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249770
  css/css-properties-values-api/at-property-animation.html
  css/css-properties-values-api/at-property-cssom.html
  css/css-properties-values-api/at-property-shadow.html
  css/css-properties-values-api/determine-registration.html
  css/css-properties-values-api/registered-property-cssom.html
  css/css-properties-values-api/var-reference-registered-properties.html
Labels: webkit-export, css-properties-values-api

#37364 Retry unexpected tests inside run_test_iteration
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#37660 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249816
  css/css-typed-om/the-stylepropertymap/properties/scroll-padding.html
Labels: css-typed-om, webkit-export

#37659 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249814
  css/css-typed-om/the-stylepropertymap/properties/stop-opacity.html
Labels: css-typed-om, webkit-export

#37655 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249806
  css/css-typed-om/the-stylepropertymap/properties/stroke-opacity.html
Labels: css-typed-om, webkit-export

#37654 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249803
  css/css-typed-om/the-stylepropertymap/properties/stroke-width.html
Labels: css-typed-om, webkit-export

#37662 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249821
  css/css-typed-om/the-stylepropertymap/properties/padding.html
Labels: css-typed-om, webkit-export

#37661 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249819
  css/css-typed-om/the-stylepropertymap/properties/radius.html
Labels: css-typed-om, webkit-export

#37668 Fix indent in stroke-width.html
  css/css-typed-om/the-stylepropertymap/properties/stroke-width.html
Labels: css-typed-om

#37672 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249835
  css/css-text/inheritance.html
  css/css-text/parsing/text-wrap-invalid.html
  css/css-text/parsing/text-wrap-valid.html
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, css-text, webkit-export

#37667 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249829
  css/css-typed-om/the-stylepropertymap/properties/grid-auto-columns-rows.html
Labels: css-typed-om, webkit-export

#37666 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249828
  css/css-typed-om/the-stylepropertymap/properties/grid-template-columns-rows.html
Labels: css-typed-om, webkit-export

#37665 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249825
  css/css-typed-om/the-stylepropertymap/properties/height.html
Labels: css-typed-om, webkit-export

#37663 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249823
  css/css-typed-om/the-stylepropertymap/properties/opacity.html
Labels: css-typed-om, webkit-export

#37656 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249808
  css/css-typed-om/the-stylepropertymap/properties/stroke-miterlimit.html
Labels: css-typed-om, webkit-export

#37664 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249824
  css/css-typed-om/the-stylepropertymap/properties/inline-size.html
Labels: css-typed-om, webkit-export

#37676 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249838
  css/css-text/parsing/text-group-align-invalid.html
  css/css-text/parsing/text-group-align-valid.html
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, css-text, webkit-export

#37685 The target using last remembered size could be sliced
  css/css-sizing/contain-intrinsic-size/auto-010.html
Labels: css-sizing

#37675 Clean log buffer in tests
  webdriver/tests/bidi/log/entry_added/event_buffer.py
Labels: webdriver-bidi

#37692 Add test for compat value of text-justify
  css/css-text/parsing/text-justify-computed-legacy.html
Labels: css-text

#37693 Add tests for boundary condition of text-align:match parent
  css/css-text/text-align/text-align-match-parent-root-logical.html
Labels: css-text

#37694 Add tests for i18n variations on hyphenation
  css/css-text/hyphens/i18n/hyphens-i18n-auto-001.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-002.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-003.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-004.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-005.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-001.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-002.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-003.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-004.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-005.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-001-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-001-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-002-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-002-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-003-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-003-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-2-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-3-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-005-ref.html
Labels: css-text

#37695 Give better manual description for i18n hyphen tests
  css/css-text/hyphens/i18n/hyphens-i18n-auto-001.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-002.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-003.html
  css/css-text/hyphens/i18n/hyphens-i18n-auto-004.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-001.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-002.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-003.html
  css/css-text/hyphens/i18n/hyphens-i18n-manual-004.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-001-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-001-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-002-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-002-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-003-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-003-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-2-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-3-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-alt-ref.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-004-ref.html
Labels: css-text

#37696 Add tests for BK and NL Unicode characters creating line breaks
  css/css-text/line-breaking/line-breaking-022.html
  css/css-text/line-breaking/reference/line-reabking-022.html
Labels: css-text

#37697 Add tests for word breaking in Ethiopic
  css/css-text/word-break/reference/word-break-break-all-ethiopic-ref.html
  css/css-text/word-break/reference/word-break-normal-ethiopic-ref.html
  css/css-text/word-break/word-break-break-all-ethiopic.html
  css/css-text/word-break/word-break-normal-ethiopic.html
Labels: css-text

#37700 Make two line-breaking tests tentative
  css/css-text/overflow-wrap/overflow-wrap-anywhere-inline-002.tentative.html
  css/css-text/overflow-wrap/overflow-wrap-anywhere-inline-003.tentative.html
  css/css-text/overflow-wrap/overflow-wrap-anywhere-inline-004.tentative.html
  css/css-text/word-break/word-break-break-all-inline-004.tentative.html
  css/css-text/word-break/word-break-break-all-inline-007.tentative.html
  css/css-text/word-break/word-break-break-all-inline-010.tentative.html
Labels: css-text

#37701 Add test for text-align-last:match-parent
  css/css-text/text-align/text-align-match-parent-05-ref.html
  css/css-text/text-align/text-align-match-parent-05.html
Labels: css-text

#37703 Add tests ensuring some form of line breaking in i18n situations
  css/css-text/line-breaking/line-breaking-023.html
  css/css-text/line-breaking/line-breaking-024.html
  css/css-text/line-breaking/line-breaking-025.html
  css/css-text/line-breaking/line-breaking-026.html
  css/css-text/line-breaking/line-breaking-027.html
  css/css-text/line-breaking/reference/line-breaking-023-ref.html
  css/css-text/line-breaking/reference/line-breaking-024-ref.html
  css/css-text/line-breaking/reference/line-breaking-025-ref.html
  css/css-text/line-breaking/reference/line-breaking-026-ref.html
  css/css-text/line-breaking/reference/line-breaking-027-ref.html
Labels: css-text

#37704 Test for paragraph directionality with plaintext alignment
  css/css-text/bidi/bidi-lines-001.html
  css/css-text/bidi/bidi-lines-002.html
  css/css-text/bidi/reference/bidi-lines-001-ref.html
  css/css-text/bidi/reference/bidi-lines-002-ref.html
Labels: css-text

#37706 Test for tabulation in a bidi context
  css/css-text/bidi/bidi-tab-001.html
  css/css-text/bidi/reference/bidi-tab-001-ref.html
Labels: css-text

#37707 Link test to the correct section of the spec
  css/css-text/bidi/bidi-lines-001.html
  css/css-text/bidi/bidi-lines-002.html
Labels: css-text

#37709 Add tests for ligatures being interrupted by letter spacing or justif…
  css/css-text/letter-spacing/letter-spacing-ligatures-001.html
  css/css-text/letter-spacing/letter-spacing-ligatures-002.html
  css/css-text/letter-spacing/letter-spacing-ligatures-003.html
  css/css-text/letter-spacing/letter-spacing-ligatures-004.html
  css/css-text/letter-spacing/reference/letter-spacing-ligatures-001-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-ligatures-002-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-ligatures-003-ref.html
  css/css-text/letter-spacing/reference/letter-spacing-ligatures-004-ref.html
Labels: css-text

#37705 Move dirty-rowgroup-crash.html into crashtests directory
  css/css-contain/container-queries/crashtests/dirty-rowgroup-crash.html
Labels: css-contain

#37708 URL: add tests for U+0000 and U+FFFF
  url/resources/urltestdata.json
Labels: url
