Repository web-platform-tests/wpt, pull requests merged in 2022-09, with the labels that each got.

#35750 Correct two relevant-mutations.html subtests
  html/semantics/embedded-content/the-img-element/relevant-mutations.html
Labels: html

#35581 Fix issues with get_computed_label and get_computed_role WebDriver tests
  webdriver/tests/get_computed_label/get.py
  webdriver/tests/get_computed_role/get.py
Labels: webdriver, wg-testing_browser

#35756 Fix css/selectors/dir-style-01a.html and dir-style-01b.html once more.
  css/selectors/dir-style-01a.html
  css/selectors/dir-style-01b.html
Labels: selectors

#35744 issue #35743 - fixes test value
  css/css-backgrounds/parsing/background-position-y-valid.html
Labels: css-backgrounds

#35766 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=216979
  html/semantics/embedded-content/the-img-element/image-loading-lazy-multiple-times.html
Labels: html, webkit-export

#35780 Add test for underline edge skipping
  css/css-text-decor/reference/text-decoration-skip-spaces-001-ref.html
  css/css-text-decor/reference/text-decoration-skip-spaces-002-ref.html
  css/css-text-decor/text-decoration-skip-spaces-001.html
  css/css-text-decor/text-decoration-skip-spaces-002.html
  css/css-text-decor/text-decoration-skip-spaces-003.html
  css/css-text-decor/text-decoration-skip-spaces-004.html
Labels: wg-css, css-text-decor

#35718 [css-sizing] Test edge case with 0x0 last remembered size
  css/css-sizing/contain-intrinsic-size/auto-006.html
Labels: css-sizing

#35789 Add ULP based assertion for testing WebNN API operations.
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#35660 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=244038
  css/css-scroll-snap/scroll-target-margin-005.html
Labels: css-scroll-snap

#35790 Update IDL tests for WebNN API.
  webnn/idlharness.https.any.js
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#35620 Add tests for `VisibilityStateEntry`
  page-visibility/minimize.html
  page-visibility/resources/window_state_context.js
  page-visibility/visibility-state-entry.tentative.html
Labels: page-visibility, wg-webperf

#35714 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=243887
  css/css-flexbox/flex-item-transferred-sizes-padding-border-sizing.html
  css/css-flexbox/flex-item-transferred-sizes-padding-content-sizing.html
Labels: wg-css, css-flexbox, webkit-export

#35577 Update log tests
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/log/entry_added/__init__.py
  webdriver/tests/bidi/log/entry_added/console.py
  webdriver/tests/bidi/log/entry_added/javascript.py
  webdriver/tests/support/fixtures_bidi.py
  webdriver/tests/support/fixtures_http.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#35840 Update css-color/parsing valid & invalid tests to match latest syntax
  css/css-color/parsing/color-invalid.html
  css/css-color/parsing/color-valid.html
Labels: css-color

#35863 Add fuzzy data to contain-size-monolithic-001.html for WebKit
  css/css-contain/contain-size-monolithic-001.html
Labels: css-contain

#34870 Add CEReaction tests for AriaMixin.
  custom-elements/reactions/AriaMixin-element-attributes.html
  custom-elements/reactions/AriaMixin-string-attributes.html
Labels: custom-elements, wg-webplatform

#35831 Add test for intersectionRation with fractional bounds with target in iframe
  intersection-observer/intersection-ratio-with-fractional-bounds-in-iframe.html
  intersection-observer/resources/intersection-ratio-with-fractional-bounds-in-iframe-content.html
Labels: intersection-observer, wg-s_webapps

#35871 Fix fuzzy data for transform3d-preserve3d-013.html
  css/css-transforms/transform3d-preserve3d-013.html
Labels: css-transforms

#35872 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245114
  css/css-flexbox/flex-item-transferred-sizes-padding-border-sizing.html
  css/css-flexbox/flex-item-transferred-sizes-padding-content-sizing.html
Labels: wg-css, css-flexbox

#35654 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237703
  html/semantics/embedded-content/the-img-element/image-loading-lazy-crossorigin-change.sub.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-data-url-to-https-ref.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-data-url-to-https.html
  html/semantics/embedded-content/the-img-element/image-loading-lazy-empty-src.html
Labels: html, webkit-export

#35874 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=244989
  css/css-contain/contain-paint-050-ref.html
  css/css-contain/contain-paint-050.html
Labels: css-contain, webkit-export

#35921 Add fuzzy data to flexbox tests
  css/css-flexbox/flexbox-align-self-vert-003.xhtml
  css/css-flexbox/flexbox-align-self-vert-004.xhtml
  css/css-flexbox/flexbox-align-self-vert-rtl-001.xhtml
Labels: wg-css, css-flexbox

#35929 Rename BackgroundSync/ to background-sync/
  background-sync/META.yml
  background-sync/idlharness.https.any.js
  background-sync/service_workers/sw.js
Labels: status:needs-reviewers, background-sync

#35903 feat: add `@keyframes` name parsing
  css/css-animations/parsing/keyframes-name-invalid.html
  css/css-animations/parsing/keyframes-name-valid.html
  css/support/parsing-testcommon.js
Labels: support, css-animations

#35612 Add aspect-ratio test for failing images
  css/css-sizing/aspect-ratio/replaced-element-036.html
Labels: css-sizing

#35939 Disabling required ligatures is now optional
  css/css-fonts/font-variant-ligatures-11.optional.html
Labels: css-fonts

#35941 Fix CSS `log()` and CSS `exp()` calculation
  css/css-values/exp-log-compute.html
Labels: wg-css, css-values

#35927 Move webkit-mask-box-enumeration.html into compat/
  compat/webkit-mask-box-enumeration.html
Labels: compat

#35940 Split modal-pseudo-class.html into subtests
  css/selectors/modal-pseudo-class.html
Labels: selectors

#35946 Update SVG transform rotate(45) tests to avoid box border
  css/css-transforms/rotate/svg-rotate-angle-45-001.html
  css/css-transforms/rotate/svg-rotate-angle-45-011.html
  css/css-transforms/rotate/svg-rotate-angle-45-022.html
Labels: css-transforms

#35936 Update reviewers for remote-playback.
  remote-playback/META.yml
Labels: wg-secondscreen, remote-playback, status:needs-reviewers

#35839 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=244939
  webidl/ecmascript-binding/default-toJSON-cross-realm.html
Labels: webidl

#35583 Manual tests for CSS speech module: speak-as property
  css/css-speech/speak-as/speak-as-digits-001-manual.html
  css/css-speech/speak-as/speak-as-digits-002-manual.html
  css/css-speech/speak-as/speak-as-literal-punctuation-001-manual.html
  css/css-speech/speak-as/speak-as-spell-out-001-manual.html
Labels: css-speech

#35975 Expect `OK` for `wheelScroll.html` on Safari/WebKit
  infrastructure/metadata/infrastructure/testdriver/actions/wheelScroll.html.ini
Labels: infra

#35884 [css-sizing] Last remembered size is tracked independently per axis
  css/css-sizing/contain-intrinsic-size/auto-009.html
Labels: css-sizing

#36003 Remove errant whitespace from STP download URL
  tools/wpt/browser.py
Labels: infra, wpt

#36015 ServiceWorker: use .any.js for CacheStorage tests
  lint.ignore
  service-workers/cache-storage/cache-abort.https.any.js
  service-workers/cache-storage/cache-add.https.any.js
  service-workers/cache-storage/cache-delete.https.any.js
  service-workers/cache-storage/cache-keys-attributes-for-service-worker.https.html
  service-workers/cache-storage/cache-keys.https.any.js
  service-workers/cache-storage/cache-match.https.any.js
  service-workers/cache-storage/cache-matchAll.https.any.js
  service-workers/cache-storage/cache-put.https.any.js
  service-workers/cache-storage/cache-storage-keys.https.any.js
  service-workers/cache-storage/cache-storage-match.https.any.js
  service-workers/cache-storage/cache-storage.https.any.js
  service-workers/cache-storage/common.https.window.js
  service-workers/cache-storage/credentials.https.html
  service-workers/cache-storage/sandboxed-iframes.https.html
  service-workers/cache-storage/serviceworker/cache-abort.https.html
  service-workers/cache-storage/serviceworker/cache-add.https.html
  service-workers/cache-storage/serviceworker/cache-delete.https.html
  service-workers/cache-storage/serviceworker/cache-keys.https.html
  service-workers/cache-storage/serviceworker/cache-match.https.html
  service-workers/cache-storage/serviceworker/cache-matchAll.https.html
  service-workers/cache-storage/serviceworker/cache-put.https.html
  service-workers/cache-storage/serviceworker/cache-storage-keys.https.html
  service-workers/cache-storage/serviceworker/cache-storage-match.https.html
  service-workers/cache-storage/serviceworker/cache-storage.https.html
  service-workers/cache-storage/window/cache-abort.https.html
  service-workers/cache-storage/window/cache-add.https.html
  service-workers/cache-storage/window/cache-delete.https.html
  service-workers/cache-storage/window/cache-keys.https.html
  service-workers/cache-storage/window/cache-match.https.html
  service-workers/cache-storage/window/cache-matchAll.https.html
  service-workers/cache-storage/window/cache-put.https.html
  service-workers/cache-storage/window/cache-storage-keys.https.html
  service-workers/cache-storage/window/cache-storage-match.https.html
  service-workers/cache-storage/window/cache-storage.https.html
  service-workers/cache-storage/worker/cache-abort.https.html
  service-workers/cache-storage/worker/cache-add.https.html
  service-workers/cache-storage/worker/cache-delete.https.html
  service-workers/cache-storage/worker/cache-keys.https.html
  service-workers/cache-storage/worker/cache-match.https.html
  service-workers/cache-storage/worker/cache-matchAll.https.html
  service-workers/cache-storage/worker/cache-put.https.html
  service-workers/cache-storage/worker/cache-storage-keys.https.html
  service-workers/cache-storage/worker/cache-storage-match.https.html
  service-workers/cache-storage/worker/cache-storage.https.html
Labels: infra, service-workers, wg-sw

#36019 Make location.search always expect UTF-8
  html/infrastructure/urls/resolving-urls/query-encoding/location.sub.html
Labels: html

#35844 testharness: Move step_wait_func() example to step_wait_func_done().
  resources/testharness.js
Labels: infra, testharness.js

#36023 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245520
  svg/struct/reftests/currentScale-change-repaint.html
Labels: wg-svg, svg, webkit-export

#35824 Port two more COOP tests from the legacy report-to header to Reportin…
  html/cross-origin-opener-policy/reporting/navigation-reporting/reporting-coop-navigated-opener.https.html
  html/cross-origin-opener-policy/reporting/navigation-reporting/reporting-redirect-with-same-origin-allow-popups.https.html
Labels: html

#36010 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245025
  css/css-grid/grid-layout-properties.html
  css/css-grid/parsing/grid-area-computed.html
Labels: css-grid, webkit-export

#35902 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245194
  css/css-flexbox/flexbox-definite-cross-size-constrained-percentage-ref.html
  css/css-flexbox/flexbox-definite-cross-size-constrained-percentage.html
Labels: wg-css, css-flexbox, webkit-export

#36048 Request upload: test synchronous feature detect
  fetch/api/basic/request-upload.h2.any.js
Labels: fetch

#36087 Fix typo explict -> explicit
  css/css-shapes/shape-outside/values/shape-outside-shape-none-000.html
  docs/writing-tests/testdriver.md
  docs/writing-tests/testharness-api.md
  resources/channel.sub.js
  resources/testharness.js
  websockets/cookies/003.html
Labels: infra, websockets, wg-css, docs, css-shapes, testharness.js

#36088 Use get-host-info.sub.js in screen-wake-lock tests
  screen-wake-lock/wakelock-disabled-by-feature-policy.https.sub.html
  screen-wake-lock/wakelock-enabled-by-feature-policy-attribute-redirect-on-load.https.sub.html
  screen-wake-lock/wakelock-enabled-by-feature-policy-attribute.https.sub.html
  screen-wake-lock/wakelock-enabled-by-feature-policy.https.sub.html
  screen-wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.sub.html
Labels: wg-das, screen-wake-lock

#34896 Continue all infrastructure_mac tests
  .azure-pipelines.yml
Labels: Azure Pipelines

#36096 Encoding: ensure some historical labels are unsupported
  encoding/unsupported-labels.window.js
Labels: encoding

#36097 Drop .sub suffix for a few screen-wake-lock tests
  screen-wake-lock/wakelock-disabled-by-feature-policy.https.html
  screen-wake-lock/wakelock-disabled-by-feature-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-by-feature-policy-attribute-redirect-on-load.https.html
  screen-wake-lock/wakelock-enabled-by-feature-policy-attribute.https.html
  screen-wake-lock/wakelock-enabled-by-feature-policy.https.html
  screen-wake-lock/wakelock-enabled-by-feature-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.html
  screen-wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.html.headers
Labels: wg-das, screen-wake-lock

#36101 Use truly invalid URL in CSSStyleSheet-constructable-baseURL.tentativ…
  css/cssom/CSSStyleSheet-constructable-baseURL.tentative.html
Labels: wg-css, cssom

#36114 [css-color-4] Update parsing tests to account for change in serialization rules
  css/css-color/color-function-parsing.html
  css/css-color/parsing/color-computed.html
  css/css-color/parsing/color-contrast-computed.html
  css/css-color/parsing/color-contrast-valid.html
  css/css-color/parsing/color-mix-computed.html
  css/css-color/parsing/color-mix-valid.html
  css/css-color/parsing/color-valid.html
  css/css-color/parsing/relative-color-computed.html
  css/css-color/parsing/relative-color-invalid.html
  css/css-color/parsing/relative-color-valid.html
Labels: css-color

#36105 Encoding: windows-936-2000 is not supported
  encoding/unsupported-labels.window.js
Labels: encoding

#36066 Add eladalon1983 as reviewer
  screen-capture/META.yml
Labels: screen-capture, wg-s_webrtc

#36153 Export made from a WebKit repository
  css/css-transitions/KeyframeEffect-getKeyframes-width-and-height-transition.tentative.html
Labels: css-transitions

#36159 screen wake lock: Convert from Feature to Permissions Policy tests.
  feature-policy/reporting/screen-wake-lock-reporting.https.html.headers
  feature-policy/resources/feature-policy-screen-wakelock.html
  permissions-policy/reporting/screen-wake-lock-reporting.https.html
  permissions-policy/reporting/screen-wake-lock-reporting.https.html.headers
  permissions-policy/resources/permissions-policy-screen-wakelock.html
  screen-wake-lock/wakelock-disabled-by-feature-policy.https.html.headers
  screen-wake-lock/wakelock-disabled-by-permissions-policy.https.html
  screen-wake-lock/wakelock-disabled-by-permissions-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-by-feature-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-by-permissions-policy-attribute-redirect-on-load.https.html
  screen-wake-lock/wakelock-enabled-by-permissions-policy-attribute.https.html
  screen-wake-lock/wakelock-enabled-by-permissions-policy.https.html
  screen-wake-lock/wakelock-enabled-by-permissions-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-on-self-origin-by-feature-policy.https.html.headers
  screen-wake-lock/wakelock-enabled-on-self-origin-by-permissions-policy.https.html
  screen-wake-lock/wakelock-enabled-on-self-origin-by-permissions-policy.https.html.headers
  screen-wake-lock/wakelock-supported-by-permissions-policy.html
Labels: feature-policy, wg-das, screen-wake-lock, permissions-policy, wg-s_webappsec
