Repository web-platform-tests/wpt, pull requests merged in 2022-11, with the labels that each got.

#36739 Add all partial interfaces with unscopables before testing @@unscopables on Document
  dom/idlharness.window.js
Labels: dom

#36495 Test web-share permissions policy on cross-origin iframe
  web-share/disabled-by-permissions-policy-cross-origin.https.sub.html
  web-share/disabled-by-permissions-policy.https.sub.html.headers
  web-share/resources/post-message.html
Labels: web-share, wg-s_webapps

#36592 Make `columnNumber` in `stacktrace` zero-based
  webdriver/tests/bidi/log/entry_added/stacktrace.py
Labels: webdriver-bidi

#36684 User activation: test no browsing context
  html/user-activation/detached-iframe.html
Labels: html

#36814 Correct inconsistency between refs and tests
  css/css-contain/content-visibility/content-visibility-056.html
  css/css-contain/content-visibility/spacer-and-container-ref.html
Labels: css-contain

#36792 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247390
  service-workers/service-worker/update-import-scripts.https.html
Labels: service-workers, wg-sw, webkit-export

#36488 Test that javascript: URL navigation does not fire beforeunload
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-no-beforeunload.window.js
Labels: html

#36833 Add IDBIndex array keypath tests
  IndexedDB/idbindex_keyPath.any.js
  IndexedDB/keypath.htm
Labels: IndexedDB, wg-webapps

#36875 Move ElementInternals-accessibility out of form-associated
  custom-elements/ElementInternals-accessibility.html
Labels: custom-elements, wg-webplatform

#36787 Fix tests failures in Python 3.10+
  tools/third_party/websockets/src/websockets/protocol.py
  tools/third_party/websockets/src/websockets/server.py
Labels: infra, third_party

#36892 Workaround WebKit differences with load events & document.open
  import-maps/data-driven/resources/test-helper.js
Labels: import-maps, mozilla:gecko-blocked

#36889 add a test for `calc` together with `aspect-ratio` in media queries
  css/mediaqueries/mq-calc-008.html
Labels: wg-css, mediaqueries

#36915 Address flakiness issue in permissions/permissions-cg.https.html
  permissions/permissions-cg.https.html
Labels: permissions, wg-s_webappsec

#36907 Fix same URL navigation test
  html/browsers/browsing-the-web/history-traversal/same-url.html
Labels: html

#36925 Make garbage collection consistent
  FileAPI/url/url-with-fetch.any.js
  file-system-access/resources/test-helpers.js
  streams/resources/test-utils.js
Labels: FileAPI, streams, file-system-access, wg-s_webapps

#36709 Test that javascript: URL-created documents use the initiator as referrer
  html/browsers/browsing-the-web/navigating-across-documents/javascript-url-referrer.window.js
Labels: html

#36936 Revert "[Gecko Bug 1793497] Backed out 19 changesets (bug 1793497, bug 1774300) for causing lint failure. CLOSED TREE"
  webcodecs/videoFrame-construction.any.js
  webcodecs/videoFrame-construction.crossOriginSource.sub.html
  webcodecs/videoFrame-copyTo.any.js
Labels: status:needs-reviewers, wg-media, mozilla:gecko-blocked, webcodecs

#36881 User activation: refactor to support WebKit infrastructure
  html/user-activation/activation-trigger-keyboard-enter.html
  html/user-activation/activation-trigger-keyboard-escape.html
  html/user-activation/activation-trigger-mouse-left.html
  html/user-activation/activation-trigger-mouse-right.html
  html/user-activation/activation-trigger-pointerevent.html
  html/user-activation/consumption-crossorigin.sub.html
  html/user-activation/consumption-sameorigin.html
  html/user-activation/detached-iframe.html
  html/user-activation/message-event-activation-api-iframe-cross-origin.sub.tentative.html
  html/user-activation/navigation-state-reset-crossorigin.sub.html
  html/user-activation/navigation-state-reset-sameorigin.html
  html/user-activation/propagation-crossorigin.sub.html
  html/user-activation/propagation-sameorigin.html
  html/user-activation/resources/consumption-crossorigin-child.sub.html
  html/user-activation/resources/propagation-crossorigin-child.sub.html
  html/user-activation/user-activation-interface.html
Labels: html, status:needs-reviewers, webkit-export, mozilla:gecko-blocked

#36948 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247826
  css/css-multicol/parsing/columns-invalid.html
  css/css-multicol/parsing/columns-valid.html
Labels: css-multicol, webkit-export

#36952 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247498
  css/css-fonts/font-shorthand-serialization-prevention.html
Labels: css-fonts

#36930 Add font loading to preload link header spec
  preload/link-header-preload.html
  preload/link-header-preload.html.headers
Labels: wg-webperf, preload

#36965 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=245936
  css/css-grid/subgrid/grid-gap-010-ref.html
  css/css-grid/subgrid/grid-gap-010.html
  css/css-grid/subgrid/grid-gap-011-ref.html
  css/css-grid/subgrid/grid-gap-011.html
Labels: css-grid, webkit-export

#36966 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247919
  css/cssom/font-variant-shorthand-serialization.html
Labels: wg-css, cssom, webkit-export

#36967 Fix typo of window_state_context.js's path
  screen-orientation/hidden_document.html
Labels: screen-orientation, wg-s_webapps

#36968 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238642
  css/css-contain/contain-body-overflow-002.html
  lint.ignore
Labels: infra, css-contain, webkit-export

#36717 Align cssRGB.html with the specification and fix mistake
  css/css-typed-om/stylevalue-subclasses/cssRGB.html
Labels: css-typed-om, mozilla:gecko-blocked

#36962 User Activation: use 3 unique origins
  html/user-activation/resources/consumption-crossorigin-child.sub.html
  html/user-activation/resources/propagation-crossorigin-child.sub.html
Labels: html

#36973 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247951
  html/semantics/interactive-elements/the-dialog-element/fixed-position-child-with-contain-ancestor.html
  html/semantics/interactive-elements/the-dialog-element/fixed-position-child-with-fixed-position-cb-ref.html
  html/semantics/interactive-elements/the-dialog-element/fixed-position-child-with-fo-ancestor.html
  html/semantics/interactive-elements/the-dialog-element/fixed-position-child-with-transformed-ancestor.html
  html/semantics/interactive-elements/the-dialog-element/fixed-position-child-with-will-change-ancestor.html
Labels: html, webkit-export

#36947 Update test case to reflect latest status
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#36978 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247421
  fetch/content-encoding/gzip-body.any.js
  fetch/content-encoding/resources/foo.octetstream.gz
  fetch/content-encoding/resources/foo.octetstream.gz.headers
  fetch/content-encoding/resources/foo.text.gz
  fetch/content-encoding/resources/foo.text.gz.headers
Labels: fetch, webkit-export

#36862 Web share: refactor disabled-by-permissions-policy-cross-origin
  web-share/disabled-by-permissions-policy-cross-origin.https.sub.html
Labels: web-share, wg-s_webapps

#36984 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=247771
  css/cssom/cssom-getPropertyValue-common-checks.html
Labels: wg-css, cssom, webkit-export

#37000 Make font-variant-valid.html less strict
  css/css-fonts/parsing/font-variant-valid.html
Labels: css-fonts

#37005 Add t.step_func around addEventListener callbacks
  html/semantics/disabled-elements/disabled-event-dispatch.tentative.html
Labels: html

#36996 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=244943
  html/capability-delegation/delegate-fullscreen-request-subframe-cross-origin.https.sub.tentative.html
Labels: html, webkit-export

#37008 webcodec support tests should fail if we can't tell
  webcodecs/audio-decoder.crossOriginIsolated.https.any.js
  webcodecs/audioDecoder-codec-specific.https.any.js
  webcodecs/video-decoder.crossOriginIsolated.https.any.js
  webcodecs/video-encoder-utils.js
  webcodecs/videoDecoder-codec-specific.https.any.js
Labels: status:needs-reviewers, wg-media, webcodecs

#34811 Improved precision of text-align-end-00[1-15].html and their reference files
  css/css-text/text-align/reference/text-align-end-ref-001.html
  css/css-text/text-align/reference/text-align-end-ref-002.html
  css/css-text/text-align/reference/text-align-end-ref-003.html
  css/css-text/text-align/reference/text-align-end-ref-004.html
  css/css-text/text-align/reference/text-align-end-ref-005.html
  css/css-text/text-align/reference/text-align-end-ref-006.html
  css/css-text/text-align/reference/text-align-end-ref-007.html
  css/css-text/text-align/reference/text-align-end-ref-008.html
  css/css-text/text-align/reference/text-align-end-ref-009.html
  css/css-text/text-align/reference/text-align-end-ref-010.html
  css/css-text/text-align/reference/text-align-end-ref-014.html
  css/css-text/text-align/reference/text-align-end-ref-015.html
  css/css-text/text-align/text-align-end-001.html
  css/css-text/text-align/text-align-end-002.html
  css/css-text/text-align/text-align-end-003.html
  css/css-text/text-align/text-align-end-004.html
  css/css-text/text-align/text-align-end-005.html
  css/css-text/text-align/text-align-end-006.html
  css/css-text/text-align/text-align-end-007.html
  css/css-text/text-align/text-align-end-008.html
  css/css-text/text-align/text-align-end-009.html
  css/css-text/text-align/text-align-end-010.html
  css/css-text/text-align/text-align-end-014.html
  css/css-text/text-align/text-align-end-015.html
Labels: css-text

#36982 Add makotokato as reviewer
  screen-orientation/META.yml
Labels: screen-orientation, wg-s_webapps

#37043 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248145
  css/css-animations/animation-css-variable-in-keyframe-adjusted.html
Labels: css-animations, webkit-export

#37040 Ignore exceptions on setter of `orientation.type` and `orientation.angle`
  screen-orientation/orientation-reading.html
Labels: screen-orientation, wg-s_webapps

#30333 [WebIDL] Add tests for function property enumeration order
  webidl/ecmascript-binding/builtin-function-properties.any.js
Labels: webidl, wg-webplatform

#37061 WebCryptoAPI: fix recently added 448 vectors
  WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.js
  WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#37077 WebCryptoAPI: fix X448 import failure vectors
  WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.js
Labels: WebCryptoAPI, wg-webcrypto, mozilla:gecko-blocked

#37020 wpt: print help when no arguments are provided
  tools/wpt/wpt.py
Labels: infra, wpt

#37052 Add idlharness test for WebCodecs
  webcodecs/idlharness.https.any.js
Labels: status:needs-reviewers, wg-media, mozilla:gecko-blocked, webcodecs

#37066 Add verbose debug routes to RoutesBuilder
  tools/serve/serve.py
Labels: infra, serve

#37027 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238854
  css/css-multicol/relative-child-overflowing-column-gap-ref.html
  css/css-multicol/relative-child-overflowing-column-gap.html
  css/css-multicol/relative-child-overflowing-container.html
Labels: css-multicol, webkit-export

#37041 User activation: test activation across origins
  html/user-activation/propagation-same-and-cross-origin.sub.html
  html/user-activation/resources/child-two.html
  html/user-activation/resources/utils.js
Labels: html

#37096 Add vertical color input tests and re-organize related tests
  css/css-writing-modes/forms/color-input-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/color-input-appearance-native-vertical.optional.html
  css/css-writing-modes/forms/color-input-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/color-input-appearance-none-vertical.optional.html
  css/css-writing-modes/forms/manual/form-controls-slr-007-manual.xht
  css/css-writing-modes/forms/manual/form-controls-slr-008-manual.xht
  css/css-writing-modes/forms/manual/form-controls-srl-007-manual.xht
  css/css-writing-modes/forms/manual/form-controls-srl-008-manual.xht
  css/css-writing-modes/forms/manual/form-controls-vlr-001-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-002-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-003-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-004-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-005-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-006-manual.html
  css/css-writing-modes/forms/manual/form-controls-vlr-007-manual.xht
  css/css-writing-modes/forms/manual/form-controls-vlr-008-manual.xht
  css/css-writing-modes/forms/manual/form-controls-vrl-007-manual.xht
  css/css-writing-modes/forms/manual/form-controls-vrl-008-manual.xht
  css/css-writing-modes/forms/progress-appearance-native-computed-style.optional.html
  css/css-writing-modes/forms/progress-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/progress-appearance-native-vertical.optional.html
  css/css-writing-modes/forms/progress-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/progress-appearance-none-vertical.optional.html
Labels: css-writing-modes

#37097 orientation.unlock doesn't return promise
  screen-orientation/hidden_document.html
Labels: screen-orientation, wg-s_webapps

#37100 Add tests for textarea in different writing modes
  css/css-writing-modes/forms/textarea-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/textarea-appearance-native-vlr.optional.html
  css/css-writing-modes/forms/textarea-appearance-native-vrl.optional.html
  css/css-writing-modes/forms/textarea-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/textarea-appearance-none-vlr.optional.html
  css/css-writing-modes/forms/textarea-appearance-none-vrl.optional.html
  css/css-writing-modes/forms/textarea-rows-cols-sizing.html
Labels: css-writing-modes

#37118 Fix references in forms writing mode manual tests
  css/css-writing-modes/forms/manual/support/form-controls-slr.png
  css/css-writing-modes/forms/manual/support/form-controls-srl.png
  css/css-writing-modes/forms/manual/support/form-controls-vlr.png
  css/css-writing-modes/forms/manual/support/vertical-form.png
Labels: css-writing-modes

#37107 webusb: Feature-Policy is now Permissions-Policy
  webusb/usb-allowed-by-feature-policy.https.sub.html.headers
  webusb/usb-disabled-by-feature-policy.https.sub.html.headers
Labels: webusb

#37126 Add tests for <select multiple/size> in various writing-modes
  css/css-writing-modes/forms/select-multiple-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/select-multiple-appearance-native-vlr.optional.html
  css/css-writing-modes/forms/select-multiple-appearance-native-vrl.optional.html
  css/css-writing-modes/forms/select-multiple-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/select-multiple-appearance-none-vlr.optional.html
  css/css-writing-modes/forms/select-multiple-appearance-none-vrl.optional.html
  css/css-writing-modes/forms/select-multiple-scrolling.optional.html
  css/css-writing-modes/forms/select-size-scrolling-and-sizing.optional.html
Labels: css-writing-modes

#37128 Revert "webusb: Feature-Policy is now Permissions-Policy"
  webusb/usb-allowed-by-feature-policy.https.sub.html.headers
  webusb/usb-disabled-by-feature-policy.https.sub.html.headers
Labels: webusb

#37131 Tests for input[type=range] in various writing mode/direction
  css/css-writing-modes/forms/range-input-appearance-native-horizontal-rtl.optional.html
  css/css-writing-modes/forms/range-input-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/range-input-appearance-native-vertical-rtl.optional.html
  css/css-writing-modes/forms/range-input-appearance-native-vertical.optional.html
  css/css-writing-modes/forms/range-input-appearance-none-horizontal-rtl.optional.html
  css/css-writing-modes/forms/range-input-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/range-input-appearance-none-vertical-rtl.optional.html
  css/css-writing-modes/forms/range-input-appearance-none-vertical.optional.html
Labels: css-writing-modes

#37140 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248302
  css/css-writing-modes/forms/text-input-block-size.optional.html
Labels: css-writing-modes, webkit-export

#37120 geolocation-API: Feature-Policy is now Permissions-Policy
  geolocation-API/disabled-by-feature-policy.https.sub.html.headers
  geolocation-API/disabled-by-permissions-policy.https.sub.html
  geolocation-API/disabled-by-permissions-policy.https.sub.html.headers
  geolocation-API/enabled-by-feature-policy.https.sub.html.headers
  geolocation-API/enabled-by-permission-policy-attribute-redirect-on-load.https.sub.html
  geolocation-API/enabled-by-permission-policy-attribute.https.sub.html
  geolocation-API/enabled-by-permissions-policy.https.sub.html
  geolocation-API/enabled-by-permissions-policy.https.sub.html.headers
  geolocation-API/enabled-on-self-origin-by-feature-policy.https.sub.html.headers
  geolocation-API/enabled-on-self-origin-by-permissions-policy.https.sub.html
  geolocation-API/enabled-on-self-origin-by-permissions-policy.https.sub.html.headers
  geolocation-API/getCurrentPosition_permission_allow.https.html
  permissions-policy/resources/permissions-policy-geolocation.html
Labels: geolocation-API, wg-geolocation, accelerometer, feature-policy, wg-das, permissions-policy, wg-s_webappsec

#37151 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248320
  css/css-writing-modes/forms/range-input-painting-ref.html
  css/css-writing-modes/forms/range-input-vertical-ltr-painting.html
  css/css-writing-modes/forms/range-input-vertical-rtl-painting.html
Labels: css-writing-modes, webkit-export

#37156 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248320 (part 2)
  css/css-writing-modes/forms/range-input-vertical-ltr-painting.html
  css/css-writing-modes/forms/range-input-vertical-rtl-painting.html
Labels: css-writing-modes, webkit-export, mozilla:gecko-blocked

#37154 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248321
  css/css-writing-modes/forms/number-input-vertical-overflow-ref.html
  css/css-writing-modes/forms/number-input-vertical-overflow.html
  css/css-writing-modes/forms/text-input-vertical-overflow-no-scroll.html
Labels: css-writing-modes, webkit-export

#37145 Add tests validating that Authorization headers get dropped on cross origin redirections
  fetch/api/credentials/authentication-redirection.any.js
  fetch/api/resources/dump-authorization-header.py
  xhr/xhr-authorization-redirect.any.js
Labels: xhr, fetch

#36213 cc Add relative path-slash-pile-of-poo test
  conformance-checkers/html/elements/a/href-isvalid.html
  conformance-checkers/html/elements/area/href-isvalid.html
  conformance-checkers/html/elements/audio/src-isvalid.html
  conformance-checkers/html/elements/base/href/path-slash-pile-of-poo-isvalid.html
  conformance-checkers/html/elements/blockquote/cite-isvalid.html
  conformance-checkers/html/elements/button/formaction-isvalid.html
  conformance-checkers/html/elements/del/cite-isvalid.html
  conformance-checkers/html/elements/embed/src-isvalid.html
  conformance-checkers/html/elements/form/action-isvalid.html
  conformance-checkers/html/elements/iframe/src-isvalid.html
  conformance-checkers/html/elements/img/src-isvalid.html
  conformance-checkers/html/elements/input/type-image-formaction-isvalid.html
  conformance-checkers/html/elements/input/type-image-src-isvalid.html
  conformance-checkers/html/elements/input/type-submit-formaction-isvalid.html
  conformance-checkers/html/elements/ins/cite-isvalid.html
  conformance-checkers/html/elements/link/href-isvalid.html
  conformance-checkers/html/elements/meta/refresh-isvalid.html
  conformance-checkers/html/elements/object/data-isvalid.html
  conformance-checkers/html/elements/q/cite-isvalid.html
  conformance-checkers/html/elements/script/src-isvalid.html
  conformance-checkers/html/elements/source/src-isvalid.html
  conformance-checkers/html/elements/track/src-isvalid.html
  conformance-checkers/html/elements/video/poster-isvalid.html
  conformance-checkers/html/elements/video/src-isvalid.html
  conformance-checkers/html/microdata/itemid-isvalid.html
  conformance-checkers/tools/url.py
Labels: conformance-checkers

#37181 Fix `href="href=` typos
  css/css-break/fieldset-002.html
  css/css-break/fieldset-003.html
  css/css-break/fieldset-004.html
  css/css-multicol/abspos-after-spanner-static-pos.html
  css/css-multicol/abspos-after-spanner.html
  css/css-multicol/abspos-containing-block-outside-spanner.html
Labels: css-multicol, css-break

#37169 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=183994
  css/css-backgrounds/parsing/webkit-border-radius-valid.html
Labels: css-backgrounds, webkit-export

#37171 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=241617
  css/css-highlight-api/Highlight-setlike-tampered-Set-prototype.html
  css/css-highlight-api/HighlightRegistry-maplike-tampered-Map-prototype.html
Labels: status:needs-reviewers, webkit-export, css-highlight-api

#37170 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248328
  custom-elements/cross-realm-callback-report-exception.html
  dom/nodes/MutationObserver-cross-realm-callback-report-exception.html
  domxpath/resolver-callback-interface-cross-realm.html
  domxpath/resolver-callback-interface-cross-realm.tentative.html
  html/semantics/embedded-content/the-canvas-element/toBlob-cross-realm-callback-report-exception.html
  html/webappapis/animation-frames/callback-cross-realm-report-exception.html
  html/webappapis/microtask-queuing/queue-microtask-cross-realm-callback-report-exception.html
  html/webappapis/scripting/processing-model-2/window-onerror-with-cross-frame-event-listeners-5.html
  html/webappapis/timers/setinterval-cross-realm-callback-report-exception.html
  html/webappapis/timers/settimeout-cross-realm-callback-report-exception.html
  intersection-observer/callback-cross-realm-report-exception.html
  resize-observer/callback-cross-realm-report-exception.html
Labels: html, dom, domxpath, custom-elements, wg-webplatform, wg-dom, intersection-observer, resize-observer, webkit-export, wg-s_webapps

#37130 Geolocation: simplify test
  geolocation-API/idlharness.https.window.js
Labels: geolocation-API, wg-geolocation

#37226 Replace CSSPositionValue tests with a historical one
  css/css-typed-om/historical.html
  css/css-typed-om/resources/testhelper.js
  css/css-typed-om/stylevalue-normalization/positionvalue-normalization.tentative.html
  css/css-typed-om/stylevalue-serialization/cssPositionValue.html
  css/css-typed-om/stylevalue-subclasses/cssPositionValue-invalid.html
  css/css-typed-om/stylevalue-subclasses/cssPositionValue.html
  css/css-typed-om/the-stylepropertymap/properties/resources/testsuite.js
Labels: css-typed-om

#36681 Scrollend will not fire when no scrolling occurs
  dom/events/scrolling/scrollend-event-fired-to-element-with-overscroll-behavior.html
Labels: dom

#37239 CSS variables tests should require trimming values
  css/css-typed-om/the-stylepropertymap/computed/computed.tentative.html
  css/css-typed-om/the-stylepropertymap/computed/get.html
  css/css-typed-om/the-stylepropertymap/computed/getAll.tentative.html
  css/css-typed-om/the-stylepropertymap/computed/iterable.tentative.html
  css/css-typed-om/the-stylepropertymap/declared/declared.tentative.html
  css/css-typed-om/the-stylepropertymap/declared/get.html
  css/css-typed-om/the-stylepropertymap/declared/getAll.tentative.html
  css/css-typed-om/the-stylepropertymap/declared/iterable.tentative.html
  css/css-typed-om/the-stylepropertymap/inline/get.html
  css/css-typed-om/the-stylepropertymap/inline/getAll.tentative.html
  css/css-typed-om/the-stylepropertymap/inline/iterable.tentative.html
Labels: css-typed-om

#37242 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248452
  dom/events/event-global-is-still-set-when-reporting-exception-onerror.html
Labels: dom, webkit-export

#37213 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248424
  fetch/stale-while-revalidate/revalidate-not-blocked-by-csp.html
Labels: fetch, webkit-export
