Repository web-platform-tests/wpt, pull requests merged in 2023-11, with the labels that each got.

#16244 HTML: Test that <details open> fires the event even from the parser.
  html/semantics/interactive-elements/the-details-element/toggleEvent.html
Labels: html

#42897 [css-tables] Make `col-change-span-bg-invalidation*.html` tests fuzzy
  css/css-tables/paint/col-change-span-bg-invalidation-001.html
  css/css-tables/paint/col-change-span-bg-invalidation-002.html
Labels: css-tables

#42864 [WebDriver BiDi] Implement `Undefined` type
  tools/webdriver/webdriver/bidi/modules/_module.py
  tools/webdriver/webdriver/bidi/undefined.py
Labels: infra, webdriver, wg-testing_browser

#42911 Revert "[WebDriver BiDi] Implement `Undefined` type"
  tools/webdriver/webdriver/bidi/modules/_module.py
  tools/webdriver/webdriver/bidi/undefined.py
Labels: infra, webdriver, wg-testing_browser

#42902 Support firefox_android_nightly as taskcluster trigger branch
  .taskcluster.yml
Labels: Taskcluster

#42899 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263310
  css/css-grid/grid-with-aspect-ratio-uses-content-box-height-for-track-sizing.html
Labels: css-grid, webkit-export

#41096 Improved 12 background-origin-* tests and created 12 related references
  css/css-backgrounds/background-origin/origin-border-box.html
  css/css-backgrounds/background-origin/origin-border-box_with_position.html
  css/css-backgrounds/background-origin/origin-border-box_with_radius.html
  css/css-backgrounds/background-origin/origin-border-box_with_size.html
  css/css-backgrounds/background-origin/origin-content-box.html
  css/css-backgrounds/background-origin/origin-content-box_with_position.html
  css/css-backgrounds/background-origin/origin-content-box_with_radius.html
  css/css-backgrounds/background-origin/origin-content-box_with_size.html
  css/css-backgrounds/background-origin/origin-padding-box.html
  css/css-backgrounds/background-origin/origin-padding-box_with_position.html
  css/css-backgrounds/background-origin/origin-padding-box_with_radius.html
  css/css-backgrounds/background-origin/origin-padding-box_with_size.html
  css/css-backgrounds/reference/origin-border-box-ref.html
  css/css-backgrounds/reference/origin-border-box_with_position-ref.html
  css/css-backgrounds/reference/origin-border-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-border-box_with_size-ref.html
  css/css-backgrounds/reference/origin-content-box-ref.html
  css/css-backgrounds/reference/origin-content-box_with_position-ref.html
  css/css-backgrounds/reference/origin-content-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-content-box_with_size-ref.html
  css/css-backgrounds/reference/origin-padding-box-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_position-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_size-ref.html
Labels: css-backgrounds

#42935 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263950
  css/cssom/delete-namespace-rule-when-child-rule-exists.html
Labels: webkit-export

#42921 [wdspec] use subscribe_events instead of session.subscribe
  webdriver/tests/bidi/log/entry_added/console.py
  webdriver/tests/bidi/log/entry_added/console_args.py
  webdriver/tests/bidi/log/entry_added/javascript.py
  webdriver/tests/bidi/log/entry_added/realm.py
  webdriver/tests/bidi/log/entry_added/stacktrace.py
  webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  webdriver/tests/bidi/network/response_completed/response_completed.py
  webdriver/tests/bidi/network/response_started/response_started.py
Labels: webdriver-bidi

#42940 Tests for color-mix() with a single component change
  css/css-color/parsing/color-computed-color-mix-function.html
Labels: css-color

#42780 Lazyload images cannot load immediately from the list of available im…
  html/semantics/embedded-content/the-img-element/image-loading-lazy-different-crossorigin.html
Labels: html

#42449 HTML: tests for <input type=checkbox switch>
  html-aam/roles-dynamic-switch.tentative.window.js
  html-aam/roles.tentative.html
  html/rendering/widgets/input-checkbox-switch-indeterminate-ref.html
  html/rendering/widgets/input-checkbox-switch-indeterminate.tentative.html
  html/rendering/widgets/input-checkbox-switch-notref.html
  html/rendering/widgets/input-checkbox-switch-ref.html
  html/rendering/widgets/input-checkbox-switch.tentative.html
  html/rendering/widgets/input-checkbox-switch.tentative.window.js
  html/semantics/selectors/pseudo-classes/input-checkbox-switch.tentative.window.js
Labels: html, html-aam

#42522 AccName: comp_labelledby tests
  accname/name/comp_labelledby.html
Labels: wai-aria, accname, accessibility

#42407 AccName: additional text node tests
  accname/name/comp_text_node.html
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf, accname

#42955 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264204
  css/css-highlight-api/highlight-pseudo-parsing.html
  css/cssom/invalid-pseudo-elements.html
Labels: wg-css, cssom, webkit-export, css-highlight-api

#41056 [css-page] Test that size descriptor is invalid outside of `@page`
  css/css-page/parsing/size-invalid.html
Labels: css-page

#42961 [WebCodecs] Allow encoder to drop some frames in case of realtime mode
  webcodecs/full-cycle-test.https.any.js
Labels: wg-media, webcodecs

#42964 Update to latest pywebsocket
  tools/third_party/pywebsocket3/mod_pywebsocket/dispatch.py
  tools/third_party/pywebsocket3/mod_pywebsocket/standalone.py
  tools/third_party/pywebsocket3/mod_pywebsocket/websocket_server.py
  tools/third_party/pywebsocket3/setup.py
Labels: infra, third_party, mozilla:gecko-blocked

#42946 Update wptserve dependency for mod_pywebsocket and bump version to 4.0.1
  tools/wptserve/setup.py
Labels: infra, wptserve, mozilla:gecko-blocked

#42988 [css-ui] outline-width is ignored when outline-style is auto
  css/css-ui/outline-auto-width-001.html
  css/css-ui/reference/outline-auto-with-001-ref.html
Labels: css-ui

#41908 [WebDriver BiDi] Add missing `code` for numpad keys
  webdriver/tests/support/keys.py
Labels: webdriver, wg-testing_browser, mozilla:gecko-blocked

#42908 Make `moveToDocument` move pointer to non-(0, 0) position first
  pointerevents/pointerevent_support.js
Labels: pointerevents, wg-s_pointer-events

#42912 [wdspec] don't use setup_network_test in add intercept url patterns tests
  webdriver/tests/bidi/network/add_intercept/url_patterns.py
Labels: webdriver-bidi

#42360 [WebDriver BiDi] Update tilt tests
  webdriver/tests/bidi/input/perform_actions/invalid.py
  webdriver/tests/bidi/input/perform_actions/pointer_pen.py
  webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  webdriver/tests/classic/perform_actions/pointer_pen.py
  webdriver/tests/classic/perform_actions/pointer_touch.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#42913 [WebDriver BiDi] Implement `Undefined` type
  tools/webdriver/webdriver/bidi/modules/_module.py
  tools/webdriver/webdriver/bidi/undefined.py
Labels: infra, webdriver, wg-testing_browser

#42845 [wdspec] rewrite remove network interception tests to fail gracefully
  webdriver/tests/bidi/network/remove_intercept/remove_intercept.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#42945 HTML: more tentative <input type=checkbox switch> tests
  html/semantics/forms/the-input-element/input-type-checkbox-switch.tentative.window.js
  html/semantics/selectors/pseudo-classes/input-checkbox-switch.tentative.window.js
Labels: html

#43018 [wdspec] Port test "test_move_to_position_in_viewport" from WebDriver classic to BiDi
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
Labels: webdriver-bidi

#43030 Update expected results when expected fail message does not match
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#42980 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264267
  css/css-writing-modes/forms/select-appearance-native-computed-style.html
  css/css-writing-modes/forms/select-appearance-native-horizontal.optional.html
  css/css-writing-modes/forms/select-appearance-native-vertical.optional.html
  css/css-writing-modes/forms/select-appearance-none-horizontal.optional.html
  css/css-writing-modes/forms/select-appearance-none-vertical-lr.optional.html
  css/css-writing-modes/forms/select-appearance-none-vertical-rl.optional.html
Labels: css-writing-modes, webkit-export

#42987 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264298
  css/css-writing-modes/forms/color-input-appearance-native-computed-style.html
Labels: css-writing-modes, webkit-export

#42560 [CSS Nesting] Always serialize relative selector with &
  css/css-nesting/parsing.html
Labels: status:needs-reviewers, css-nesting

#42219 Add basic observable constructor tests
  dom/observable/tentative/observable-constructor.any.js
Labels: dom, status:needs-reviewers

#43028 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235065
  html-aam/roles-contextual.html
Labels: webkit-export, html-aam

#43075 The transform svg property is not allowed on <tspan>
  css/css-contain/content-visibility/content-visibility-svg-text.html
Labels: css-contain

#42936 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263699
  css/css-transforms/2d-transform-inline-js.html
Labels: css-transforms, webkit-export

#43072 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264532
  css/css-writing-modes/forms/checkbox-appearance-native-vertical-lr-baseline.optional-ref.html
  css/css-writing-modes/forms/checkbox-appearance-native-vertical-lr-baseline.optional.html
  css/css-writing-modes/forms/checkbox-appearance-native-vertical-rl-baseline.optional-ref.html
  css/css-writing-modes/forms/checkbox-appearance-native-vertical-rl-baseline.optional.html
  css/css-writing-modes/forms/radio-appearance-native-vertical-lr-baseline.optional-ref.html
  css/css-writing-modes/forms/radio-appearance-native-vertical-lr-baseline.optional.html
  css/css-writing-modes/forms/radio-appearance-native-vertical-rl-baseline.optional-ref.html
  css/css-writing-modes/forms/radio-appearance-native-vertical-rl-baseline.optional.html
Labels: css-writing-modes, webkit-export

#43098 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264617
  css/css-writing-modes/forms/date-input-appearance-native-computed-style.html
Labels: css-writing-modes, webkit-export

#43049 [webnn] Update float32 tests of WebNN reduceLogSumExp op
  webnn/resources/test_data/reduce_log_sum_exp.json
Labels: webnn, wg-s_webmachinelearning

#29723 Streams: add tests for ReadableStreamBYOBReader.read(view, { min })
  streams/piping/general.any.js
  streams/readable-byte-streams/non-transferable-buffers.any.js
  streams/readable-byte-streams/read-min.any.js
  streams/resources/test-utils.js
Labels: streams

#43097 lint: run autoflake on webdriver/
  webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py
  webdriver/tests/bidi/network/add_intercept/phase_auth_required.py
  webdriver/tests/bidi/network/add_intercept/phases.py
  webdriver/tests/classic/execute_async_script/objects.py
  webdriver/tests/classic/execute_script/objects.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#43074 HTML: minimal coverage for RTL switch
  html/rendering/widgets/input-checkbox-switch-rtl-notref.html
  html/rendering/widgets/input-checkbox-switch-rtl.tentative.html
Labels: html

#42969 [wdspec] network intercept: navigate instead of fetch
  webdriver/tests/bidi/network/remove_intercept/remove_intercept.py
Labels: webdriver-bidi

#43116 [wdspec] remove network intercept: use browsingContext.load
  webdriver/tests/bidi/network/remove_intercept/remove_intercept.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#43120 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264109
  css/css-color/currentcolor-visited-fallback-ref.html
  css/css-color/currentcolor-visited-fallback.html
  svg/color-inherit-link-visited-ref.svg
  svg/color-inherit-link-visited.svg
Labels: wg-svg, svg, css-color, webkit-export

#43046 replace img src=# with single pixel datauri
  accname/name/comp_host_language_label.html
  accname/name/comp_name_from_content.html
  accname/name/comp_tooltip.html
  html-aam/fragile/area-role.html
  html-aam/roles.html
Labels: accname, html-aam

#43127 interop-accessibility repo rename
  wai-aria/role/ReadMe.md
Labels: wai-aria, wg-wai_pf

#43126 interop-accessibility repo rename
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf

#42419 [WebNN] Support MLOperandDataType to align with latest WebNN API Spec
  webnn/idlharness.https.any.js
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43112 Remove unused references to utils.js from content-visibility tests
  css/css-contain/content-visibility/content-visibility-019.sub.https.html
  css/css-contain/content-visibility/content-visibility-020.html
  css/css-contain/content-visibility/content-visibility-028.html
  css/css-contain/content-visibility/content-visibility-029.html
  css/css-contain/content-visibility/content-visibility-040.html
  css/css-contain/content-visibility/content-visibility-049.html
  css/css-contain/content-visibility/content-visibility-086.html
  css/css-contain/content-visibility/content-visibility-animation-and-scroll.html
  css/css-contain/content-visibility/content-visibility-animation-becomes-visible.html
  css/css-contain/content-visibility/content-visibility-auto-nested-scroll.html
  css/css-contain/content-visibility/content-visibility-auto-nested.html
Labels: css-contain

#43113 Mark most render-blocking tests no longer tentative
  html/dom/render-blocking/blocking-idl-attr.html
  html/dom/render-blocking/parser-blocking-script.html
  html/dom/render-blocking/parser-inserted-async-script.html
  html/dom/render-blocking/parser-inserted-defer-script.html
  html/dom/render-blocking/parser-inserted-module-script.html
  html/dom/render-blocking/parser-inserted-style-element.html
  html/dom/render-blocking/parser-inserted-stylesheet-link.html
  html/dom/render-blocking/remove-attr-script-keeps-blocking.html
  html/dom/render-blocking/remove-attr-style-keeps-blocking.html
  html/dom/render-blocking/remove-attr-stylesheet-link-keeps-blocking.html
  html/dom/render-blocking/script-inserted-module-script.html
  html/dom/render-blocking/script-inserted-style-element.html
  html/dom/render-blocking/script-inserted-stylesheet-link.html
Labels: html

#43114 Handle exception thrown in caretPositionFromPoint-with-transformation.html
  css/cssom/caretPositionFromPoint-with-transformation.html
Labels: wg-css, cssom

#42774 [css-properties-values-api] Remove unhelpful fallback tests
  css/css-properties-values-api/var-reference-registered-properties.html
Labels: css-properties-values-api

#43077 [wdspec] Adopt `wait_for_future_safe` in network tests
  webdriver/tests/bidi/browsing_context/navigate/navigate.py
  webdriver/tests/bidi/network/add_intercept/add_intercept.py
  webdriver/tests/bidi/network/add_intercept/phase_auth_required.py
  webdriver/tests/bidi/network/add_intercept/phases.py
  webdriver/tests/bidi/network/add_intercept/url_patterns.py
  webdriver/tests/bidi/network/auth_required/auth_required.py
  webdriver/tests/bidi/network/before_request_sent/before_request_sent.py
  webdriver/tests/bidi/network/combined/network_events.py
  webdriver/tests/bidi/network/conftest.py
  webdriver/tests/bidi/network/fail_request/invalid.py
  webdriver/tests/bidi/network/remove_intercept/remove_intercept.py
  webdriver/tests/bidi/network/response_completed/response_completed.py
  webdriver/tests/bidi/network/response_completed/response_completed_cached.py
  webdriver/tests/bidi/network/response_completed/response_completed_status.py
  webdriver/tests/bidi/network/response_started/response_started.py
  webdriver/tests/bidi/network/response_started/response_started_cached.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#43159 Reconcile `observable-constructor.any.js`
  dom/observable/tentative/observable-constructor.any.js
Labels: dom

#43135 Reduce flakiness of active-lock.html using about:blank
  screen-orientation/active-lock.html
  screen-orientation/resources/nav_iframe.html
Labels: screen-orientation, wg-s_webapps

#43137 Screen orientation: resync downstream changes from WebKit
  screen-orientation/fullscreen-interactions.html
  screen-orientation/hidden_document.html
  screen-orientation/lock-unlock-check.html
  screen-orientation/nested-documents.html
  screen-orientation/onchange-event-subframe.html
  screen-orientation/unlock.html
Labels: screen-orientation, wg-s_webapps

#43150 fix: streams/readable-byte-streams/non-transferable-buffers.any.js use minimum read instead of fill
  streams/readable-byte-streams/non-transferable-buffers.any.js
Labels: streams

#43166 Add tests for https://github.com/w3c/webrtc-pc/pull/2691
  webrtc/RTCConfiguration-rtcpMuxPolicy.html
Labels: webrtc, wg-s_webrtc

#43156 Add test for document.caretPositionFromPoint()
  css/cssom/caretPositionFromPoint.html
Labels: wg-css, cssom

#43167 Add test for w3c/webrtc-pc#2689
  webrtc/RTCConfiguration-validation.html
Labels: webrtc, wg-s_webrtc

#43141 fixing errata in the comp_tooltip expectations
  accname/name/comp_tooltip.html
Labels: accname

#43168 Merge :has() forgiving selector parsing tests into a single test
  css/selectors/parsing/parse-has-disallow-nesting-has-inside-has.tentative.html
  css/selectors/parsing/parse-has-forgiving-selector.html
Labels: selectors

#43172 Add RTCIceCandidatePairStats.responsesReceived to WebRTC mandatory stats
  webrtc/RTCPeerConnection-mandatory-getStats.https.html
Labels: webrtc, wg-s_webrtc

#43043 Create accname/name/comp_labelledby_hidden_nodes.html
  accname/name/comp_labelledby_hidden_nodes.html
Labels: accname

#43209 Corrected proper linkage to image used for origin-* reference files
  css/css-backgrounds/reference/origin-border-box-ref.html
  css/css-backgrounds/reference/origin-border-box_with_position-ref.html
  css/css-backgrounds/reference/origin-border-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-border-box_with_size-ref.html
  css/css-backgrounds/reference/origin-content-box-ref.html
  css/css-backgrounds/reference/origin-content-box_with_position-ref.html
  css/css-backgrounds/reference/origin-content-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-content-box_with_size-ref.html
  css/css-backgrounds/reference/origin-padding-box-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_position-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_radius-ref.html
  css/css-backgrounds/reference/origin-padding-box_with_size-ref.html
Labels: css-backgrounds

#43195 clean up irrelevant ReadMe (re: manual tests) and change reviewer suggestion ahead of automated test PRs
  svg-aam/META.yml
  svg-aam/README.md
Labels: svg-aam

#43208 [wdspec] Adopt `wait_for_future_safe` in more tests
  webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/bidi/log/entry_added/event_buffer.py
  webdriver/tests/bidi/log/entry_added/javascript.py
  webdriver/tests/bidi/log/entry_added/realm.py
  webdriver/tests/bidi/log/entry_added/stacktrace.py
  webdriver/tests/bidi/script/add_preload_script/add_preload_script.py
  webdriver/tests/bidi/script/call_function/this.py
  webdriver/tests/bidi/script/message/message.py
  webdriver/tests/bidi/script/realm_created/realm_created.py
  webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py
  webdriver/tests/bidi/session/unsubscribe/contexts.py
  webdriver/tests/bidi/session/unsubscribe/events.py
  webdriver/tests/bidi/session/unsubscribe/invalid.py
Labels: webdriver-bidi

#42914 Replace missed `assert` in import attributes tests
  html/semantics/scripting-1/the-script-element/import-attributes/dynamic-import-with-attributes-argument.any.js
Labels: html

#43232 [wdspec] Adopt `wait_for_future_safe` in even more tests
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
  webdriver/tests/bidi/browsing_context/dom_content_loaded/dom_content_loaded.py
  webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py
  webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py
  webdriver/tests/bidi/browsing_context/handle_user_prompt/handle_user_prompt.py
  webdriver/tests/bidi/browsing_context/load/load.py
  webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py
  webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
  webdriver/tests/bidi/log/entry_added/console.py
  webdriver/tests/bidi/log/entry_added/console_args.py
  webdriver/tests/bidi/log/entry_added/subscription.py
  webdriver/tests/bidi/script/add_preload_script/arguments.py
  webdriver/tests/bidi/script/call_function/channel.py
  webdriver/tests/bidi/session/subscribe/contexts.py
  webdriver/tests/bidi/session/subscribe/events.py
Labels: webdriver-bidi

#42467 [wasm] Source Phase Imports for ESM Integration
  wasm/jsapi/module/moduleSource.tentative.any.js
  wasm/webapi/esm-integration/resources/worker-source-phase.js
  wasm/webapi/esm-integration/resources/worker.js
  wasm/webapi/esm-integration/source-phase.tentative.html
Labels: wasm

#43153 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260225
  webrtc/RTCPeerConnection-GC.https.html
Labels: webrtc, webkit-export, wg-s_webrtc

#43234 Add fuzzy data to font-size-adjust-{012, 013}.html
  css/css-fonts/font-size-adjust-012.html
  css/css-fonts/font-size-adjust-013.html
Labels: css-fonts

#43196 v1 of tests for SVG-AAM
  accname/name/comp_host_language_label.html
  svg-aam/name/comp_host_language_label.html
  svg-aam/role/roles-generic.html
  svg-aam/role/roles.html
Labels: svg-aam, accname

#43239 [wdspec] fix C-s typo override on wait_for_future_safe
  webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#43245 Allow currentColor in canvas context's shadowColor
  html/canvas/element/shadows/2d.shadow.attributes.shadowColor.current.basic.html
  html/canvas/element/shadows/2d.shadow.attributes.shadowColor.current.changed.html
  html/canvas/element/shadows/2d.shadow.attributes.shadowColor.current.removed.html
  html/canvas/tools/yaml-new/shadows.yaml
Labels: html, servo-export

#43174 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264736
  webvtt/parsing/file-parsing/tests/header-regions.html
  webvtt/parsing/file-parsing/tests/support/header-regions.vtt
Labels: webvtt, wg-audiovideo_tt, webkit-export

#43273 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265153
  css/css-view-transitions/parsing/view-transition-name-invalid.html
Labels: webkit-export, css-view-transitions

#43257 Add compat test for bugzilla#1864612
  ecmascript/locale-compat.html
Labels: status:needs-reviewers, ecmascript

#43301 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265167
  css/css-cascade/all-prop-initial-xml.html
  css/css-view-transitions/parsing/pseudo-elements-invalid.html
  css/css-view-transitions/parsing/pseudo-elements-valid.html
  css/css-view-transitions/parsing/view-transition-name-computed.html
  css/css-view-transitions/parsing/view-transition-name-invalid.html
Labels: css-cascade, webkit-export, css-view-transitions

#43169 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264498
  css/css-cascade/at-scope-parsing.html
Labels: css-cascade, webkit-export

#42944 Add tests for async modules not blocking execution of sibling modules
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked.any.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__microtask__check-get-sync.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__microtask__check-set-async.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__microtask__parent.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__task__check-get-sync.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__task__check-set-async.js
  html/semantics/scripting-1/the-script-element/module/top-level-await/sibling-imports-not-blocked__task__parent.js
Labels: html

#43307 Make CSSConditionRule's conditionText readonly
  css/cssom/CSSConditionRule-conditionText.html
Labels: wg-css, cssom, servo-export

#43280 HTML: increase test coverage for nonces
  content-security-policy/nonce-hiding/nonces.html
Labels: content-security-policy

#43327 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265279
  css/css-view-transitions/break-inside-avoid-child.html
  css/css-view-transitions/capture-with-offscreen-child-translated.html
  css/css-view-transitions/capture-with-offscreen-child.html
  css/css-view-transitions/capture-with-opacity-zero-child.html
  css/css-view-transitions/capture-with-visibility-hidden-child.html
  css/css-view-transitions/capture-with-visibility-mixed-descendants.html
  css/css-view-transitions/dialog-in-rtl-iframe.html
  css/css-view-transitions/element-is-grouping-during-animation.html
  css/css-view-transitions/element-stops-grouping-after-animation.html
  css/css-view-transitions/fragmented-at-start-ignored.html
  css/css-view-transitions/fragmented-during-transition-skips.html
  css/css-view-transitions/group-animation-for-root-transition.html
  css/css-view-transitions/iframe-new-has-scrollbar.html
  css/css-view-transitions/iframe-old-has-scrollbar.html
  css/css-view-transitions/inline-child-with-filter.html
  css/css-view-transitions/only-child-group.html
  css/css-view-transitions/only-child-image-pair.html
  css/css-view-transitions/only-child-new.html
  css/css-view-transitions/only-child-old.html
  css/css-view-transitions/only-child-on-root-element-with-view-transition.html
  css/css-view-transitions/only-child-view-transition.html
  css/css-view-transitions/rotated-cat-off-top-edge.html
  css/css-view-transitions/scroller-child-abspos.html
  css/css-view-transitions/scroller-child.html
  css/css-view-transitions/scroller.html
  css/css-view-transitions/set-current-time-transform.html
  css/css-view-transitions/set-current-time.html
  css/css-view-transitions/transition-in-empty-iframe.html
  css/css-view-transitions/writing-mode-container-resize.html
Labels: assets, webkit-export, css-view-transitions

#43325 Fix invalid test in urltestdata.json
  url/resources/urltestdata.json
Labels: url

#42804 [WebDriver BiDi] Add screenshot origin/format tests
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/__init__.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/format.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/origin.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#43338 Increase firefox_android testharness chunks to 20
  tools/ci/tc/taskgraph.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#43349 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265300
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#43352 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265267
  css/css-transforms/parsing/rotate-parsing-computed.html
  css/css-transforms/parsing/scale-parsing-computed.html
  css/css-transforms/parsing/translate-parsing-computed.html
Labels: css-transforms, webkit-export

#43357 [wdspec] add a console.timeEnd test
  webdriver/tests/bidi/log/entry_added/console.py
Labels: webdriver-bidi

#43359 Make sure to close frames even though some assert tests fail
  webcodecs/full-cycle-test.https.any.js
Labels: wg-media, webcodecs

#43365 Map more directories to web-features (using WEB_FEATURES.yml)
  avif/WEB_FEATURES.yml
  fullscreen/WEB_FEATURES.yml
  html/semantics/popovers/WEB_FEATURES.yml
  navigation-api/WEB_FEATURES.yml
  scheduler/WEB_FEATURES.yml
  webcodecs/WEB_FEATURES.yml
  webdriver/tests/bidi/WEB_FEATURES.yml
  webusb/WEB_FEATURES.yml
  webvtt/WEB_FEATURES.yml
Labels: html, webvtt, wg-audiovideo_tt, fullscreen, webusb, wg-media, webcodecs, webdriver-bidi, scheduler, navigation-api, avif

#43382 Remove the version pin now that #40525 is fixed
  .azure-pipelines.yml
Labels: Azure Pipelines

#42420 [webnn] Add float16 tests for WebNN concat op
  webnn/resources/test_data/concat.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#42909 [webnn] Update creating constant operand method
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43177 [webnn] Add float32 tests for element-wise unary identity operation
  webnn/elementwise_unary.https.any.js
  webnn/gpu/elementwise_unary.https.any.js
  webnn/resources/test_data/identity.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43354 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265350
  scroll-animations/css/scroll-timeline-shorthand.html
Labels: webkit-export, scroll-animations

#35792 Test automation for custom handlers
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol-handler-fragment-nosw.https.html
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol-handler-fragment.https.html
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol-handler-path.https.html
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol-handler-query-nosw.https.html
  html/webappapis/system-state-and-capabilities/the-navigator-object/protocol-handler-query.https.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: html, infra, wptrunner, testdriver.js

#42989 [webnn] Add float32 convTranspose2d tests with options.groups
  webnn/resources/test_data/conv_transpose2d.json
Labels: webnn, wg-s_webmachinelearning

#43178 [webnn] Add float32 tests for element-wise unary reciprocal operation
  webnn/elementwise_unary.https.any.js
  webnn/gpu/elementwise_unary.https.any.js
  webnn/resources/test_data/reciprocal.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43304 [webnn] Add float32 tests for Element-wise logical operations
  webnn/elementwise_logical.https.any.js
  webnn/gpu/elementwise_logical.https.any.js
  webnn/resources/test_data/equal.json
  webnn/resources/test_data/greater.json
  webnn/resources/test_data/greater_or_equal.json
  webnn/resources/test_data/lesser.json
  webnn/resources/test_data/lesser_or_equal.json
  webnn/resources/test_data/logical_not.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43368 Map Grid, Subgrid and Masonry to web-features
  css/css-grid/WEB_FEATURES.yml
  css/css-grid/masonry/WEB_FEATURES.yml
  css/css-grid/subgrid/WEB_FEATURES.yml
Labels: css-grid, status:needs-reviewers

#43372 Increase Android chunks and app startup timeout
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
  tools/wpt/run.py
Labels: infra, wpt, ci

#43386 Disable timestamps checks in realtime mode since some (but not all) frames may be dropped.
  webcodecs/full-cycle-test.https.any.js
Labels: wg-media, webcodecs

#43179 [webnn] Add float32 tests for element-wise unary sqrt operation
  webnn/elementwise_unary.https.any.js
  webnn/gpu/elementwise_unary.https.any.js
  webnn/resources/test_data/sqrt.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#42760 html element accNames
  html-aam/names.html
Labels: wai-aria, status:needs-reviewers, accessibility, html-aam

#43428 Let outline-width-rounding.tentative.html pass in Firefox/Servo
  css/css-outline/outline-width-rounding.tentative.html
Labels: css-outline

#38806 Reland "WPT: Allow `window.onload` to contain multiple `test()`s"
  content-security-policy/style-src/inline-style-allowed-while-cloning-objects.sub.html
  css/cssom-view/negativeMargins.html
  html/browsers/the-windowproxy-exotic-object/windowproxy-prototype-setting-goes-cross-origin-domain.sub.html
  infrastructure/README.md
  infrastructure/expected-fail/window-onload-test.html
  resources/test/tests/unit/late-test.html
  resources/testharness.js
Labels: html, infra, wg-css, content-security-policy, cssom-view, testharness.js, ci, Azure Pipelines

#43214 Ensure that `pointerUp` Action is Being Issued on Element Being Tested
  css/selectors/invalidation/user-action-pseudo-classes-in-has.html
Labels: selectors

#41817 HTML: test UA styles for <img sizes=auto>
  html/rendering/replaced-elements/images/img-sizes-auto.html
Labels: html

#43197 Stop sending " " to linebreaker for replaced content
  css/CSS2/linebox/soft-wrap-opportunity-after-replaced-content-crash.html
Labels: wg-css, CSS2, servo-export
