Repository web-platform-tests/wpt, pull requests merged in 2023-08, with the labels that each got.

#41284 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259702
  css/css-values/round-mod-rem-computed.html
Labels: wg-css, css-values, webkit-export

#41302 Never resolve margin-left:auto to a negative amount
  css/CSS2/margin-padding-clear/margin-auto-on-block-box-ref.html
  css/CSS2/margin-padding-clear/margin-auto-on-block-box.html
Labels: wg-css, CSS2, servo-export

#40741 [webnn] Update float32 pow tests
  webnn/resources/test_data/pow.json
Labels: webnn, wg-s_webmachinelearning

#41316 Fix content-visibility-050.html on WebKit
  css/css-contain/content-visibility/content-visibility-050.html
Labels: css-contain

#41322 testdriver: Stop using {@link} in the documentation
  resources/testdriver.js
Labels: infra, testdriver.js

#41338 Ensure we consistently pass --binary to geckodriver
  tools/wptrunner/wptrunner/browsers/firefox.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#41357 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259837
  css/css-highlight-api/painting/custom-highlight-painting-prioritization-003-ref.html
  css/css-highlight-api/painting/custom-highlight-painting-prioritization-003.html
Labels: webkit-export, css-highlight-api

#41100 [webtransport] Add draft-07 version of SETTINGS_WEBTRANSPORT_MAX_SESSIONS
  tools/webtransport/h3/webtransport_h3_server.py
Labels: infra, webtransport, wg-webtransport

#40521 Fix DnD tests for WebDriver BiDi
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/support/html/test_actions.html
Labels: webdriver, wg-testing_browser, webdriver-bidi

#41358 Fix callback-idle-periods.html's flaky failure.
  requestidlecallback/callback-idle-periods.html
Labels: wg-webperf, requestidlecallback

#41337 RFC: Switch to rustls and webpki-roots
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#41379 [wptrunner] Log the reason for skipping tests without executor support
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#41378 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257988
  css/selectors/user-invalid.html
  css/selectors/user-valid.html
Labels: selectors, webkit-export

#41279 Remove tests involving `mask-origin: margin-box`
  css/css-masking/mask-image/mask-origin-2-ref.html
  css/css-masking/mask-image/mask-origin-2.html
  css/css-masking/parsing/mask-valid.sub.html
Labels: wg-css, css-masking

#41398 [wptrunner] Enable `testdriver.js` tests for content shell
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
Labels: infra, wptrunner

#41397 Handle inline margins when avoiding floats
  css/CSS2/floats/floats-wrap-bfc-with-margin-006.tentative.html
  css/CSS2/floats/floats-wrap-bfc-with-margin-007.tentative.html
  css/CSS2/floats/floats-wrap-bfc-with-margin-008.tentative.html
  css/CSS2/floats/floats-wrap-bfc-with-margin-009.tentative.html
Labels: wg-css, CSS2, servo-export

#35573 Add spectranaut as core-aam reviewer
  core-aam/META.yml
Labels: core-aam

#41309 new fallback roles tests
  wai-aria/role/fallback-roles.html
Labels: wai-aria, wg-wai_pf

#41416 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259895
  css/css-fonts/font-size-adjust-reload-ref.html
  css/css-fonts/font-size-adjust-reload.html
Labels: css-fonts, webkit-export

#41415 [wptrunner] Use `--webtransport-developer-mode` for Chrome/content_shell
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/content_shell.py
Labels: infra, wptrunner

#41190 Remove unsound assertion from 2d-getcontext-options.any.js
  html/canvas/offscreen/the-offscreen-canvas/2d-getcontext-options.any.js
Labels: html

#41323 Create wai-aria/grid-roles.html
  wai-aria/role/grid-roles.html
Labels: wai-aria, wg-wai_pf

#41403 remove inactive reviewers from active accessibilty projects
  accname/META.yml
  dpub-aam/META.yml
  dpub-aria/META.yml
  graphics-aam/META.yml
  wai-aria/META.yml
Labels: wai-aria, wg-wai_pf, dpub-aria, dpub-aam, graphics-aam, accname

#41419 Remove extraneous `</div>` from preserve3d-pseudo-element.html
  css/css-transforms/preserve3d-pseudo-element-ref.html
  css/css-transforms/preserve3d-pseudo-element.html
Labels: css-transforms

#41422 Add a single bit of tolerance to the canvas radial gradient tests for pixels on the bottom/right edges.
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.behind.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.beside.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.bottom.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.cylinder.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.front.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.shape1.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.shape2.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.cone.top.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.equal.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.inside1.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.inside2.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.inside3.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.outside1.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.outside2.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.outside3.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.touch1.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.touch2.html
  html/canvas/element/fill-and-stroke-styles/2d.gradient.radial.touch3.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.behind.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.behind.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.beside.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.beside.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.bottom.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.bottom.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.cylinder.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.cylinder.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.front.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.front.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.shape1.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.shape1.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.shape2.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.shape2.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.top.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.cone.top.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.equal.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.equal.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside1.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside1.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside2.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside2.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside3.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.inside3.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside1.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside1.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside2.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside2.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside3.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.outside3.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch1.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch1.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch2.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch2.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch3.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.gradient.radial.touch3.worker.js
  html/canvas/tools/yaml-new/fill-and-stroke-styles.yaml
Labels: html

#40329 add leak handling to wptrunner
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#41455 Flakiness was caused by this test assuming the time move forward without ensuring so.
  requestidlecallback/callback-idle-periods.html
Labels: wg-webperf, requestidlecallback

#41464 Revert "Flakiness was caused by this test assuming the time move forward without ensuring so."
  requestidlecallback/callback-idle-periods.html
Labels: wg-webperf, requestidlecallback

#41458 Run a rAF loop instead of scheduling one rAF and expecting the idle time to happen before it.
  requestidlecallback/deadline-max-rAF.html
Labels: wg-webperf, requestidlecallback

#41470 [css-text-decor] Update to match spec change
  css/css-text-decor/text-decoration-line-grammar-error-color-001-ref.html
  css/css-text-decor/text-decoration-line-grammar-error-color-001.html
  css/css-text-decor/text-decoration-line-grammar-error-color-002-ref.html
  css/css-text-decor/text-decoration-line-grammar-error-color-002.optional.html
  css/css-text-decor/text-decoration-line-grammar-error-color-dynamic-001-ref.html
  css/css-text-decor/text-decoration-line-grammar-error-color-dynamic-001.optional.html
  css/css-text-decor/text-decoration-line-spelling-error-color-001-ref.html
  css/css-text-decor/text-decoration-line-spelling-error-color-001.html
  css/css-text-decor/text-decoration-line-spelling-error-color-002-ref.html
  css/css-text-decor/text-decoration-line-spelling-error-color-002.optional.html
  css/css-text-decor/text-decoration-line-spelling-error-color-dynamic-001-ref.html
  css/css-text-decor/text-decoration-line-spelling-error-color-dynamic-001.optional.html
Labels: wg-css, css-text-decor

#41356 `./wpt` commands use Chrome for Testing for installation and execution
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wpt/tests/test_browser.py
  tools/wpt/tests/test_install.py
Labels: infra, wpt

#41450 Log subsuite name in wptrunner log
  tools/third_party_modified/mozlog/mozlog/formatters/grouping.py
Labels: infra, mozilla:gecko-blocked, third_party_modified

#41349 venv lib_path detection compatible with 3.10+
  tools/wpt/virtualenv.py
Labels: infra, wpt

#41324 Create wai-aria/role/listbox-roles.html
  wai-aria/role/listbox-roles.html
Labels: wai-aria, wg-wai_pf

#41481 Remove shebang line for non executable python scripts
  tools/third_party_modified/mozlog/mozlog/formatters/html/html.py
  tools/third_party_modified/mozlog/mozlog/formatters/unittest.py
  tools/third_party_modified/mozlog/mozlog/handlers/valgrindhandler.py
  tools/third_party_modified/mozlog/mozlog/scripts/__init__.py
Labels: infra, third_party_modified

#40680 Updated border-image-13 test and removed border-image-14 test
  css/css-backgrounds/border-image-013.html
  css/css-backgrounds/border-image-14.html
  css/css-backgrounds/reference/border-image-013-ref.html
  css/css-backgrounds/support/green-dot.png
Labels: css-backgrounds

#41256 Improved 5 border-image-* tests and created references for them
  css/css-backgrounds/border-image-slice-006.htm
  css/css-backgrounds/border-image-width-001.htm
  css/css-backgrounds/border-image-width-002.htm
  css/css-backgrounds/border-image-width-003.htm
  css/css-backgrounds/border-image-width-004.htm
  css/css-backgrounds/reference/border-image-slice-006-ref.html
  css/css-backgrounds/reference/border-image-width-001-ref.html
Labels: css-backgrounds

#41409 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258688
  css/css-nesting/nest-containing-forgiving-ref.html
  css/css-nesting/nest-containing-forgiving.html
  css/css-scoping/slotted-parsing.html
  css/selectors/is-where-error-recovery.html
  css/selectors/is-where-parsing.html
  css/selectors/parsing/parse-has-disallow-nesting-has-inside-has.html
  css/selectors/parsing/parse-has.html
Labels: selectors, css-scoping, css-nesting

#41477 Make max_restarts a command-line argument
  .azure-pipelines.yml
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner, Azure Pipelines

#7927 Fixed the role of the element
  core-aam/aria-readonly_false-manual.html
Labels: core-aam

#41392 breaking out generic (including contextual generic) roles tests to accept implementation variants
  html-aam/roles-contextual.html
  html-aam/roles-generic.html
  html-aam/roles.html
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf, html-aam

#41512 HTML: sync html5lib-tests
  html/syntax/parsing/html5lib_innerHTML_tests4.html
  html/syntax/parsing/html5lib_quirks01.html
  html/syntax/parsing/html5lib_tables01.html
  html/syntax/parsing/html5lib_tests2.html
  html/syntax/parsing/html5lib_tests7.html
  html/tools/html5lib_tests_revision
Labels: html

#41514 Add fuzzy data to paint-order-001.tentative.html
  css/css-fill-stroke/paint-order-001.tentative.html
Labels: css-fill-stroke

#41525 Fixes #41524. Split preload as value tests.
  preload/reflected-as-value.html
Labels: wg-webperf, preload

#41158 URL: file: URLs have implementation-defined origins
  url/resources/urltestdata.json
Labels: url

#41526 Fix up indentation in reflected-as-value.html
  preload/reflected-as-value.html
Labels: wg-webperf, preload

#41513 Fix `mach test-wpt` to make crash tests work
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#41549 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252373
  html/semantics/interactive-elements/the-details-element/toggleEvent.html
Labels: html, webkit-export

#41271 Add a test for innerText and c-v auto
  css/css-contain/content-visibility/content-visibility-086.html
Labels: status:needs-reviewers, css-contain

#41559 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260463
  html/semantics/interactive-elements/the-details-element/toggleEvent.html
Labels: html, webkit-export

#41564 Minor formatting fix
  html/browsers/windows/resources/window-name.sub.html
Labels: html

#41570 Fix indentation in counter-scoping-001.html
  css/css-contain/counter-scoping-001.html
Labels: css-contain

#41558 [wdspec] augment add intercept invalidation tests
  webdriver/tests/bidi/network/add_intercept/invalid.py
Labels: webdriver-bidi

#41578 Add a test for focusing in a nested c-v: hidden/auto subtree
  css/css-contain/content-visibility/content-visibility-087.html
Labels: css-contain

#41485 Create wai-aria/role/tab-roles.html
  wai-aria/role/tab-roles.html
Labels: wai-aria, wg-wai_pf

#41592 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260494
  css/css-grid/parsing/grid-template-shorthand-valid.html
Labels: css-grid, webkit-export

#41585 Layout floats as children of their inline ancestors
  css/css-text/text-indent/reference/text-indent-overflow-ref.html
  css/css-text/text-indent/reference/text-indent-text-align-end-ref.html
  css/css-text/text-indent/text-indent-overflow.html
  css/css-text/text-indent/text-indent-text-align-end.html
Labels: css-text, servo-export

#41598 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260517
  css/css-color/currentcolor-004-ref.html
  css/css-color/currentcolor-004.html
Labels: css-color, webkit-export

#41581 [html] Add test for import declaration errors order
  html/semantics/scripting-1/the-script-element/import-assertions/invalid-import-errors-order.html
  html/semantics/scripting-1/the-script-element/import-attributes/invalid-import-errors-order.html
Labels: html

#41602 Adding 'image-rendering: pixelated' to overcome antialias fuzziness 3 tests
  css/css-backgrounds/border-image-repeat-round-003.html
  css/css-backgrounds/border-image-repeat-round-stretch-001.html
  css/css-backgrounds/border-image-repeat-stretch-round-001.html
Labels: css-backgrounds

#41576 bypass bogus AOM crashtests that assume abandoned syntax will be added.
  accessibility/crashtests/aom-in-destroyed-iframe.html
  accessibility/crashtests/computed-accessible-child-of-pseudo-element.html
  accessibility/crashtests/computed-accessible-text-node.html
  accessibility/crashtests/computed-node-checked.html
Labels: status:needs-reviewers, accessibility

#41604 Restart browser for each test at retry round
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#40884 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258730
  css/css-lists/counter-reset-increment-overflow-underflow-ref.html
  css/css-lists/counter-reset-increment-overflow-underflow.html
Labels: css-lists, webkit-export

#41579 Change leftover `assert` to `with` in import attributes test
  html/semantics/scripting-1/the-script-element/import-attributes/unsupported-attribute.js
Labels: html

#41461 invalid blob type should be equivalent to an empty type
  fetch/api/basic/scheme-blob.sub.any.js
Labels: fetch

#41612 [wptrunner] Propagate `subsuite` when rerunning tests
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#41594 [wptrunner] Honor wptserve `config.json`
  tools/wpt/run.py
Labels: infra, wpt

#41504 [wptrunner] Fix resource leakage on exit
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#41610 Add render tests for CanvasRenderingContext2D.reset()
  html/canvas/element/reset/2d.reset.render.drop_shadow-expected.html
  html/canvas/element/reset/2d.reset.render.drop_shadow.html
  html/canvas/element/reset/2d.reset.render.global_composite_operation-expected.html
  html/canvas/element/reset/2d.reset.render.global_composite_operation.html
  html/canvas/element/reset/2d.reset.render.line-expected.html
  html/canvas/element/reset/2d.reset.render.line.html
  html/canvas/element/reset/2d.reset.render.misc-expected.html
  html/canvas/element/reset/2d.reset.render.misc.html
  html/canvas/element/reset/2d.reset.render.miter_limit-expected.html
  html/canvas/element/reset/2d.reset.render.miter_limit.html
  html/canvas/element/reset/2d.reset.render.text-expected.html
  html/canvas/element/reset/2d.reset.render.text.html
  html/canvas/offscreen/reset/2d.reset.render.drop_shadow-expected.html
  html/canvas/offscreen/reset/2d.reset.render.drop_shadow.html
  html/canvas/offscreen/reset/2d.reset.render.drop_shadow.w.html
  html/canvas/offscreen/reset/2d.reset.render.global_composite_operation-expected.html
  html/canvas/offscreen/reset/2d.reset.render.global_composite_operation.html
  html/canvas/offscreen/reset/2d.reset.render.global_composite_operation.w.html
  html/canvas/offscreen/reset/2d.reset.render.line-expected.html
  html/canvas/offscreen/reset/2d.reset.render.line.html
  html/canvas/offscreen/reset/2d.reset.render.line.w.html
  html/canvas/offscreen/reset/2d.reset.render.misc-expected.html
  html/canvas/offscreen/reset/2d.reset.render.misc.html
  html/canvas/offscreen/reset/2d.reset.render.misc.w.html
  html/canvas/offscreen/reset/2d.reset.render.miter_limit-expected.html
  html/canvas/offscreen/reset/2d.reset.render.miter_limit.html
  html/canvas/offscreen/reset/2d.reset.render.miter_limit.w.html
  html/canvas/offscreen/reset/2d.reset.render.text-expected.html
  html/canvas/offscreen/reset/2d.reset.render.text.html
  html/canvas/offscreen/reset/2d.reset.render.text.w.html
  html/canvas/tools/yaml-new/reset.yaml
Labels: html

#41620 HTML: some basic direction tests
  html/dom/elements/global-attributes/dir-assorted.window.js
Labels: html

#41614 Add some HTMLHyperlinkElementUtils tests
  html/semantics/links/links-created-by-a-and-area-elements/non-parsable-url-getter-setter.window.js
  html/semantics/links/links-created-by-a-and-area-elements/non-special-opaque-path-url-getter-setter.window.js
  html/semantics/links/links-created-by-a-and-area-elements/non-special-url-getter-setter.window.js
Labels: html

#40859 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258809
  webcodecs/videoFrame-canvasImageSource.html
Labels: webkit-export, wg-media, webcodecs

#41630 [wptrunner] Create conditional expectations with a stable order
  tools/wptrunner/wptrunner/manifestupdate.py
Labels: infra, wptrunner

#37407 Fetch: move response headers API test into its own file
  fetch/api/response/response-headers-guard.any.js
  fetch/api/response/response-static-error.any.js
Labels: fetch

#41633 HTML: test optgroup removal
  html/semantics/forms/the-optgroup-element/optgroup-removal.window.js
Labels: html

#41645 remove incorrect assert
  css/css-text/text-indent/text-indent-overflow.html
  css/css-text/text-indent/text-indent-text-align-end.html
Labels: css-text

#41638 [css-text-3][css-text-4] Add Unicode 15 small kana
  css/css-text/text-transform/reference/text-transform-full-size-kana-008-ref.html
  css/css-text/text-transform/text-transform-full-size-kana-008.html
Labels: css-text

#41629 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260648
  css/css-fonts/rcap-in-monospace-ref.html
  css/css-fonts/rcap-in-monospace.html
  css/css-fonts/rch-in-monospace-ref.html
  css/css-fonts/rch-in-monospace.html
  css/css-fonts/rex-in-monospace-ref.html
  css/css-fonts/rex-in-monospace.html
  css/css-fonts/ric-in-monospace-ref.html
  css/css-fonts/ric-in-monospace.html
Labels: css-fonts, webkit-export

#41652 [css-text] text-transform capitalize and interpuncts
  css/css-text/text-transform/text-transform-capitalize-035-ref.html
  css/css-text/text-transform/text-transform-capitalize-035.html
Labels: css-text

#41654 Adjust fuzzy metadata for various css/css-masking tests
  css/css-masking/clip-path/animations/clip-path-animation-custom-timing-function-reverse.html
  css/css-masking/clip-path/clip-path-borderBox-1a.html
  css/css-masking/clip-path/clip-path-round-zero-size.html
Labels: wg-css, css-masking

#41655 Update fuzziness for clip-path-transition-custom-timing-function.html
  css/css-masking/clip-path/animations/clip-path-transition-custom-timing-function.html
Labels: wg-css, css-masking

#41656 Increase tolerance for clip-path-transition-custom-timing-function.html
  css/css-masking/clip-path/animations/clip-path-transition-custom-timing-function.html
Labels: wg-css, css-masking

#41657 fix typo in unicode codepoints for small-kana
  css/css-text/text-transform/reference/text-transform-full-size-kana-008-ref.html
  css/css-text/text-transform/text-transform-full-size-kana-008.html
Labels: css-text

#41658 Add fuzziness to 2 css-values tests
  css/css-values/calc-border-radius-1.html
  css/css-values/ch-unit-004.html
Labels: wg-css, css-values

#41660 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260777
  css/css-values/calc-z-index-fractions-001.html
Labels: wg-css, css-values, webkit-export

#41663 Correct RTCDataChannel's binaryType tests
  webrtc/RTCDataChannel-binaryType.window.js
Labels: webrtc, wg-s_webrtc

#41673 [wptrunner] Disable WebTransport H3 server for `wpt run` tests
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt

#41642 Revert "[wptrunner] Honor wptserve `config.json`"
  tools/wpt/run.py
Labels: infra, wpt

#41682 Enforce single threaded compositing for WPTs
  tools/wptrunner/wptrunner/browsers/content_shell.py
Labels: infra, wptrunner

#41676 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260813
  css/selectors/user-invalid.html
  css/selectors/user-valid.html
Labels: selectors, webkit-export

#41688 Add test for c-v and getClientRects
  css/css-contain/content-visibility/content-visibility-088.html
Labels: status:needs-reviewers, css-contain

#41667 Avoid crash in PlacementAmongFloats
  css/CSS2/floats/floats-wrap-bfc-with-margin-010-ref.html
  css/CSS2/floats/floats-wrap-bfc-with-margin-010.html
Labels: wg-css, CSS2, servo-export

#41705 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260760
  css/css-typed-om/factory-font-relative-length.html
Labels: css-typed-om, webkit-export

#41698 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260865
  workers/modules/resources/dynamic-import-remote-origin-referrer-checker-worker.sub.js
  workers/modules/resources/static-import-remote-origin-referrer-checker-worker.sub.js
Labels: workers, webkit-export, wg-s_htmlwg

#41709 Convert /_mozilla/css/iframe/multiple_external.html into a WPT crashtest
  html/semantics/embedded-content/the-iframe-element/multiple-iframes-with-allow-scripts-crash.html
Labels: html, servo-export

#41650 [wptrunner] Improve weighting when deciding an unconditional default
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/tests/test_manifestupdate.py
Labels: infra, wptrunner

#41717 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=229900
  css/css-masking/mask-shorthand-subproperties-reset.html
  css/css-masking/parsing/mask-valid.sub.html
Labels: wg-css, css-masking, webkit-export

#41728 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260941
  css/css-values/mod-length-degrees-crash.html
  css/css-values/rem-length-degrees-crash.html
  css/css-values/round-length-degrees-crash.html
  css/css-values/round-mod-rem-invalid.html
Labels: wg-css, css-values, webkit-export

#41659 Don't test serialization of single value background-size in getComputedStyle-calc-mixed-units-001.html
  css/css-values/getComputedStyle-calc-mixed-units-001.html
Labels: wg-css, css-values

#41731 HTML: forbid data: and javascript: URLs in the <base> element
  html/semantics/document-metadata/the-base-element/base-data.html
  html/semantics/document-metadata/the-base-element/base-javascript.html
  url/resources/a-element-origin.js
  url/resources/a-element.js
Labels: html, url, status:needs-spec-decision

#41689 Improve content-visibility-svg.html
  css/css-contain/content-visibility/content-visibility-svg-path.html
  css/css-contain/content-visibility/content-visibility-svg-rect.html
  css/css-contain/content-visibility/content-visibility-svg-text.html
Labels: status:needs-reviewers, css-contain

#41568 [wdspec] Add WebDriver BiDi tests for actions on elements in ShadowRoot
  webdriver/tests/bidi/input/__init__.py
  webdriver/tests/bidi/input/perform_actions/__init__.py
  webdriver/tests/bidi/input/perform_actions/key.py
  webdriver/tests/bidi/input/perform_actions/key_events.py
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/bidi/input/perform_actions/pointer_pen.py
  webdriver/tests/bidi/input/perform_actions/pointer_touch.py
  webdriver/tests/bidi/input/perform_actions/wheel.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#41707 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259063
  css/css-color/color-mix-currentcolor-visited-getcomputedstyle.html
  css/css-color/color-mix-currentcolor-visited-ref.html
  css/css-color/color-mix-currentcolor-visited.html
Labels: css-color, webkit-export

#41516 Create wai-aria/role/menu-roles.html
  wai-aria/role/menu-roles.html
Labels: wai-aria, wg-wai_pf

#41708 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252569
  css/css-fonts/font-palette-36-ref.html
  css/css-fonts/font-palette-36.html
Labels: css-fonts, webkit-export

#41693 Add test for c-v and clientLeft/clientTop/clientWidth/clientHeight
  css/css-contain/content-visibility/content-visibility-089.html
Labels: css-contain

#41750 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260988
  css/geometry/DOMMatrix-001.html
Labels: geometry, webkit-export
