Repository web-platform-tests/wpt, pull requests merged in 2023-01, with the labels that each got.

#34557 New tests for "nth-child(An+B of X)" type selector
  css/selectors/nth-child-of-attribute.html
  css/selectors/nth-child-of-classname-002.html
  css/selectors/nth-child-of-has.html
  css/selectors/nth-child-of-not.html
  css/selectors/nth-child-of-nth-child.html
  css/selectors/nth-child-of-universal-selector.html
  css/selectors/nth-of-invalid.html
Labels: selectors, mozilla:gecko-blocked

#37730 Use reference in the same directory for root-siblings.html
  css/selectors/root-siblings.html
Labels: selectors

#37714 Server-Timing headers should be explicitly safelisted by CORS
  server-timing/resources/blue_cors.png
  server-timing/resources/blue_cors.png.headers
  server-timing/server_timing_headers_not_visible_in_fetch.https.html
Labels: wg-webperf, server-timing

#37743 Update metadata for http2-websocket.sub.h2.any.js
  infrastructure/metadata/infrastructure/server/http2-websocket.sub.h2.any.js.ini
Labels: infra

#37748 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248880
  html/webappapis/scripting/events/compile-event-handler-lexical-scopes-form-owner.html
Labels: html, webkit-export

#30175 [css-text] Test text-align: match-parent on the root element
  css/css-text/text-align/text-align-match-parent-001.html
  css/css-text/text-align/text-align-match-parent-002.html
Labels: html, css-text

#37747 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250036
  css/css-typed-om/the-stylepropertymap/properties/flex-basis.html
  css/css-typed-om/the-stylepropertymap/properties/flex-grow.html
  css/css-typed-om/the-stylepropertymap/properties/flex-shrink.html
Labels: css-typed-om, webkit-export

#37749 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250041
  css/css-typed-om/the-stylepropertymap/properties/animation-duration.html
  css/css-typed-om/the-stylepropertymap/properties/animation-iteration-count.html
  css/css-typed-om/the-stylepropertymap/properties/block-size.html
  css/css-typed-om/the-stylepropertymap/properties/font-size-adjust.html
  css/css-typed-om/the-stylepropertymap/properties/font-stretch.html
  css/css-typed-om/the-stylepropertymap/properties/gap.html
  css/css-typed-om/the-stylepropertymap/properties/logical.html
  css/css-typed-om/the-stylepropertymap/properties/shape-margin.html
  css/css-typed-om/the-stylepropertymap/properties/stroke-dasharray.html
  css/css-typed-om/the-stylepropertymap/properties/width.html
Labels: css-typed-om, webkit-export

#37760 Add Masonry Track Sizing Tests
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side.html
Labels: css-grid, status:needs-reviewers

#37752 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250049
  css/css-typed-om/the-stylepropertymap/properties/letter-spacing.html
Labels: css-typed-om, webkit-export

#37678 Add text-group-align test suite
  css/css-text/text-group-align/support/fake-group-align.css
  css/css-text/text-group-align/support/test-helpers.css
  css/css-text/text-group-align/support/test-helpers.js
  css/css-text/text-group-align/text-group-align-center-ref.html
  css/css-text/text-group-align/text-group-align-center-vlr-ref.html
  css/css-text/text-group-align/text-group-align-center-vlr.html
  css/css-text/text-group-align/text-group-align-center.html
  css/css-text/text-group-align/text-group-align-end-ref.html
  css/css-text/text-group-align/text-group-align-end-vlr-ref.html
  css/css-text/text-group-align/text-group-align-end-vlr.html
  css/css-text/text-group-align/text-group-align-end.html
  css/css-text/text-group-align/text-group-align-left-ref.html
  css/css-text/text-group-align/text-group-align-left-vlr-ref.html
  css/css-text/text-group-align/text-group-align-left-vlr.html
  css/css-text/text-group-align/text-group-align-left.html
  css/css-text/text-group-align/text-group-align-right-ref.html
  css/css-text/text-group-align/text-group-align-right-vlr-ref.html
  css/css-text/text-group-align/text-group-align-right-vlr.html
  css/css-text/text-group-align/text-group-align-right.html
  css/css-text/text-group-align/text-group-align-start-ref.html
  css/css-text/text-group-align/text-group-align-start-vlr-ref.html
  css/css-text/text-group-align/text-group-align-start-vlr.html
  css/css-text/text-group-align/text-group-align-start.html
Labels: css-text

#37645 Enable back runs of Servo (start with weekly instead of daily for now)
  tools/ci/tc/tasks/test.yml
Labels: infra, ci

#37751 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250037
  html/semantics/forms/the-button-element/button-willvalidate-readonly-attribute.html
  html/semantics/forms/the-select-element/select-willvalidate-readonly-attribute.html
Labels: html, webkit-export

#37591 add sigterm handling to wptrunner
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#36782 [webnn] Add tests for concat operation.
  webnn/concat.https.any.js
  webnn/resources/test_data/concat.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37067 Add webnn clamp tests
  webnn/clamp.https.any.js
  webnn/concat.https.any.js
  webnn/resources/test_data/clamp.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37070 Add webnn reshape tests
  webnn/reshape.https.any.js
  webnn/resources/test_data/reshape.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37071 Add webnn relu tests
  webnn/relu.https.any.js
  webnn/resources/test_data/relu.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37072 Add webnn slice tests
  webnn/resources/test_data/slice.json
  webnn/resources/utils.js
  webnn/slice.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37254 Add webnn softmax tests
  webnn/resources/test_data/softmax.json
  webnn/resources/utils.js
  webnn/softmax.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37315 Add webnn transpose tests
  webnn/resources/test_data/transpose.json
  webnn/resources/utils.js
  webnn/transpose.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37340 Add webnn leakyRelu tests
  webnn/leaky_relu.https.any.js
  webnn/resources/test_data/leaky_relu.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37343 Add webnn sigmoid tests
  webnn/resources/test_data/sigmoid.json
  webnn/resources/utils.js
  webnn/sigmoid.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37771 Add align-tracks and justify-tracks parsing tests
  css/css-align/parsing/align-tracks-computed.html
  css/css-align/parsing/align-tracks-invalid.html
  css/css-align/parsing/align-tracks-valid.html
  css/css-align/parsing/justify-tracks-computed.html
  css/css-align/parsing/justify-tracks-invalid.html
  css/css-align/parsing/justify-tracks-valid.html
Labels: css-align

#37773 Convert html/semantics/forms/the-input-element/email-set-value.html to a ref test.
  html/semantics/forms/the-input-element/email-set-value-ref.html
  html/semantics/forms/the-input-element/email-set-value.html
Labels: html

#37782 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=197963
  custom-elements/form-associated/ElementInternals-labels.html
  custom-elements/form-associated/ElementInternals-validation.html
Labels: custom-elements, wg-webplatform, webkit-export

#37781 Revert "Convert html/semantics/forms/the-input-element/email-set-value.html to a ref test."
  html/semantics/forms/the-input-element/email-set-value-ref.html
  html/semantics/forms/the-input-element/email-set-value.html
Labels: html

#37789 Extract customized builtin test cases out of custom-elements/pseudo-class-defined.html
  custom-elements/pseudo-class-defined-customized-builtins.html
  custom-elements/pseudo-class-defined.html
Labels: custom-elements, wg-webplatform

#37790 Extract customized builtin test cases out of custom-elements/upgrading/Document-importNode.html
  custom-elements/upgrading/Document-importNode-customized-builtins.html
  custom-elements/upgrading/Document-importNode.html
Labels: custom-elements, wg-webplatform

#37791 Extract customized builtin test cases out of custom-elements/htmlconstructor/newtarget.html
  custom-elements/htmlconstructor/newtarget-customized-builtins.html
  custom-elements/htmlconstructor/newtarget.html
Labels: custom-elements, wg-webplatform

#37792 Extract customized builtin test cases out of custom-elements/upgrading/Node-cloneNode.html
  custom-elements/upgrading/Node-cloneNode-customized-builtins.html
  custom-elements/upgrading/Node-cloneNode.html
Labels: custom-elements, wg-webplatform

#37793 Rename custom-elements/parser/serializing-html-fragments.html for clarity
  custom-elements/parser/serializing-html-fragments-customized-builtins.html
Labels: custom-elements, wg-webplatform

#37794 Move customized builtin reaction tests to a subdirectory
  custom-elements/reactions/customized-builtins/HTMLAreaElement.html
  custom-elements/reactions/customized-builtins/HTMLBaseElement.html
  custom-elements/reactions/customized-builtins/HTMLButtonElement.html
  custom-elements/reactions/customized-builtins/HTMLCanvasElement.html
  custom-elements/reactions/customized-builtins/HTMLDataElement.html
  custom-elements/reactions/customized-builtins/HTMLDetailsElement.html
  custom-elements/reactions/customized-builtins/HTMLEmbedElement.html
  custom-elements/reactions/customized-builtins/HTMLFieldSetElement.html
  custom-elements/reactions/customized-builtins/HTMLImageElement.html
  custom-elements/reactions/customized-builtins/HTMLInputElement.html
  custom-elements/reactions/customized-builtins/HTMLLIElement.html
  custom-elements/reactions/customized-builtins/HTMLLabelElement.html
  custom-elements/reactions/customized-builtins/HTMLMapElement.html
  custom-elements/reactions/customized-builtins/HTMLMediaElement.html
  custom-elements/reactions/customized-builtins/HTMLMetaElement.html
  custom-elements/reactions/customized-builtins/HTMLMeterElement.html
  custom-elements/reactions/customized-builtins/HTMLModElement.html
  custom-elements/reactions/customized-builtins/HTMLOListElement.html
  custom-elements/reactions/customized-builtins/HTMLOptGroupElement.html
  custom-elements/reactions/customized-builtins/HTMLParamElement.html
  custom-elements/reactions/customized-builtins/HTMLProgressElement.html
  custom-elements/reactions/customized-builtins/HTMLQuoteElement.html
  custom-elements/reactions/customized-builtins/HTMLSlotElement.html
  custom-elements/reactions/customized-builtins/HTMLSourceElement.html
  custom-elements/reactions/customized-builtins/HTMLStyleElement.html
  custom-elements/reactions/customized-builtins/HTMLTableCellElement.html
  custom-elements/reactions/customized-builtins/HTMLTableColElement.html
  custom-elements/reactions/customized-builtins/HTMLTimeElement.html
Labels: custom-elements, wg-webplatform

#37788 Extract customized builtin test cases out of custom-elements/Document-createElementNS.html
  custom-elements/Document-createElementNS-customized-builtins.html
  custom-elements/Document-createElementNS.html
Labels: custom-elements, wg-webplatform

#37352 Add webnn squeeze tests
  webnn/resources/test_data/squeeze.json
  webnn/resources/utils.js
  webnn/squeeze.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37799 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=224483
  css/css-text-decor/invalidation/text-decoration-thickness-ref.html
  css/css-text-decor/invalidation/text-decoration-thickness.html
Labels: css-text-decor, webkit-export

#37617 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249617
  css/css-sizing/aspect-ratio/replaced-element-041.html
Labels: css-sizing, webkit-export

#37652 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249206
  css/css-box/margin-trim/block-container-block-001.html
  css/css-box/margin-trim/block-container-block-002.html
  css/css-box/margin-trim/block-container-block-end-001.html
  css/css-box/margin-trim/block-container-block-end-002.html
  css/css-box/margin-trim/block-container-block-start-001.html
  css/css-box/margin-trim/block-container-block-start-002.html
  css/css-box/margin-trim/block-container-replaced-block-end.html
  css/css-box/margin-trim/block-container-replaced-block-start.html
  css/css-box/margin-trim/block-container-replaced-block.html
Labels: webkit-export, css-box

#37398 Add webnn split tests
  webnn/resources/test_data/split.json
  webnn/resources/utils.js
  webnn/split.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37858 Move some :dir() tests from css-pseudo to selectors
  css/selectors/dir-pseudo-on-bdi-element.html
  css/selectors/dir-pseudo-on-input-element.html
Labels: selectors

#37853 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250401
  css/css-properties-values-api/animation/custom-property-transition-mismatched-property-numbers.html
Labels: webkit-export, css-properties-values-api

#37875 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250448
  css/css-properties-values-api/at-property-animation.html
Labels: webkit-export, css-properties-values-api

#37069 Add webnn matmul tests
  webnn/matmul.https.any.js
  webnn/resources/test_data/matmul.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37856 Replace ARIA reflection attribute ariaErrorMessageElement with ariaErrorMessageElements
  custom-elements/ElementInternals-accessibility.html
  custom-elements/reactions/AriaMixin-element-attributes.html
  html/dom/aria-element-reflection.html
Labels: html, custom-elements, wg-webplatform

#37275 Add webnn conv2d tests
  webnn/conv2d.https.any.js
  webnn/resources/test_data/conv2d.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37420 Add webnn batchnorm tests
  webnn/batch_normalization.https.any.js
  webnn/resources/test_data/batch_normalization.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37068 Add webnn gemm tests
  webnn/gemm.https.any.js
  webnn/resources/test_data/gemm.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37337 Add webnn binary tests
  webnn/batch_normalization.https.any.js
  webnn/clamp.https.any.js
  webnn/concat.https.any.js
  webnn/conv2d.https.any.js
  webnn/elementwise_binary.https.any.js
  webnn/gemm.https.any.js
  webnn/leaky_relu.https.any.js
  webnn/matmul.https.any.js
  webnn/relu.https.any.js
  webnn/reshape.https.any.js
  webnn/resources/test_data/add.json
  webnn/resources/test_data/div.json
  webnn/resources/test_data/max.json
  webnn/resources/test_data/min.json
  webnn/resources/test_data/mul.json
  webnn/resources/test_data/pow.json
  webnn/resources/test_data/sub.json
  webnn/resources/utils.js
  webnn/sigmoid.https.any.js
  webnn/slice.https.any.js
  webnn/softmax.https.any.js
  webnn/split.https.any.js
  webnn/squeeze.https.any.js
  webnn/tanh.https.any.js
  webnn/transpose.https.any.js
Labels: webnn, wg-s_webmachinelearning

#37898 Extract customized builtin test cases out of custom-elements/HTMLElement-constructor.html
  custom-elements/HTMLElement-constructor-customized-bulitins.html
  custom-elements/HTMLElement-constructor.html
Labels: custom-elements, wg-webplatform

#37379 Add webnn pooling tests
  webnn/pooling.https.any.js
  webnn/resources/test_data/average_pool2d.json
  webnn/resources/test_data/max_pool2d.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37380 Add webnn reduce tests
  webnn/reduction.https.any.js
  webnn/resources/test_data/reduce_max.json
  webnn/resources/test_data/reduce_mean.json
  webnn/resources/test_data/reduce_min.json
  webnn/resources/test_data/reduce_product.json
  webnn/resources/test_data/reduce_sum.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#37840 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246278
  webcodecs/videoDecoder-codec-specific.https.any.js
Labels: webkit-export, wg-media, webcodecs

#37907 IDNA: add a couple interesting ToASCII cases
  url/resources/toascii.json
Labels: url

#37914 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250499
  fs/resources/message-target.html
Labels: webkit-export, fs

#37923 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250506
  css/css-properties-values-api/at-property-typedom.html
  css/css-properties-values-api/var-reference-registered-properties.html
  css/css-variables/variable-definition.html
Labels: wg-css, css-variables, webkit-export, css-properties-values-api

#37882 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250460
  css/css-properties-values-api/animation/custom-property-transition-mismatched-inherited-property-numbers.html
Labels: webkit-export, css-properties-values-api

#37938 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250566
  css/css-fonts/parsing/font-face-src-format.html
  css/css-fonts/parsing/font-face-src-local.html
Labels: css-fonts, webkit-export

#37933 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250387
  css/css-transforms/animation/rotate-animation-on-svg-ref.html
  css/css-transforms/animation/rotate-animation-on-svg.html
  css/css-transforms/animation/scale-animation-on-svg-ref.html
  css/css-transforms/animation/scale-animation-on-svg.html
  css/css-transforms/animation/translate-animation-on-svg-ref.html
  css/css-transforms/animation/translate-animation-on-svg.html
Labels: css-transforms, webkit-export

#37941 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250571
  css/css-properties-values-api/register-property-syntax-parsing.html
Labels: webkit-export, css-properties-values-api

#37924 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249455
  css/selectors/invalidation/media-loading-pseudo-classes-in-has.html
Labels: selectors, webkit-export

#37950 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250602
  css/selectors/dir-pseudo-in-has.html
  css/selectors/i18n/lang-pseudo-class-across-shadow-boundaries-ref.html
  css/selectors/i18n/lang-pseudo-class-across-shadow-boundaries.html
  css/selectors/i18n/lang-pseudo-class-disconnected.html
  css/selectors/i18n/lang-pseudo-class-empty-attribute.xhtml
  css/selectors/invalidation/dir-pseudo-class-in-has.html
  css/selectors/invalidation/lang-pseudo-class-in-has-document-element.html
  css/selectors/invalidation/lang-pseudo-class-in-has-multiple-document-elements.html
  css/selectors/invalidation/lang-pseudo-class-in-has-xhtml.xhtml
  css/selectors/invalidation/lang-pseudo-class-in-has.html
  lint.ignore
Labels: infra, selectors, webkit-export

#37928 Port Test262’s RegExp lookbehind tests
  ecmascript/regexp-lookbehind.html
Labels: status:needs-reviewers, ecmascript

#37883 Fix a file descriptor and thread leak in wptserver
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#37989 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250674
  css/mediaqueries/negation-001.html
  css/mediaqueries/test_media_queries.html
Labels: wg-css, mediaqueries, webkit-export

#37994 URL: force the issue on structured serialization
  url/historical.any.js
Labels: url

#37995 Fix errors in font-palette-empty-font-family testcase.
  css/css-fonts/font-palette-empty-font-family-ref.html
  css/css-fonts/font-palette-empty-font-family.html
Labels: css-fonts

#38028 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249693
  intersection-observer/v2/position-absolute-overflow-visible-and-not-visible.html
Labels: intersection-observer, webkit-export, wg-s_webapps

#37734 WebCryptoAPI: 256 tagLength is out of WebIDL octet range
  WebCryptoAPI/encrypt_decrypt/aes_gcm_vectors.js
Labels: WebCryptoAPI, wg-webcrypto

#38041 test element with size 0x0 should be notified
  resize-observer/notify.html
Labels: resize-observer

#37716 WebCryptoAPI: assert that CryptoKey instances have the expected Symbol.toStringTag
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#38037 Fix content-visibility-035.html on WebKit iOS
  css/css-contain/content-visibility/content-visibility-035.html
Labels: css-contain

#38019 Export WebKit margin-trim tests
  css/css-box/margin-trim/block-container-block-001.html
  css/css-box/margin-trim/block-container-block-002.html
  css/css-box/margin-trim/block-container-block-end-001.html
  css/css-box/margin-trim/block-container-block-end-002.html
  css/css-box/margin-trim/block-container-block-start-001.html
  css/css-box/margin-trim/block-container-block-start-002.html
  css/css-box/margin-trim/block-container-non-adjoining-item-ref.html
  css/css-box/margin-trim/block-container-non-adjoining-item.html
  css/css-box/margin-trim/block-container-replaced-block-end.html
  css/css-box/margin-trim/block-container-replaced-block-start.html
  css/css-box/margin-trim/block-container-replaced-block.html
  css/css-box/margin-trim/flex-block-end-trimmed-only-ref.html
  css/css-box/margin-trim/flex-block-end-trimmed-only.html
  css/css-box/margin-trim/flex-block-start-trimmed-only-ref.html
  css/css-box/margin-trim/flex-block-start-trimmed-only.html
  css/css-box/margin-trim/flex-block-trimmed-only-ref.html
  css/css-box/margin-trim/flex-block-trimmed-only.html
  css/css-box/margin-trim/flex-column-block-multiline.html
  css/css-box/margin-trim/flex-column-grow.html
  css/css-box/margin-trim/flex-column-inline-multiline-ref.html
  css/css-box/margin-trim/flex-column-inline-multiline.html
  css/css-box/margin-trim/flex-column-orthogonal-item.html
  css/css-box/margin-trim/flex-column-shrink.html
  css/css-box/margin-trim/flex-inline-end-trimmed-only-ref.html
  css/css-box/margin-trim/flex-inline-end-trimmed-only.html
  css/css-box/margin-trim/flex-inline-start-trimmed-only-ref.html
  css/css-box/margin-trim/flex-inline-start-trimmed-only.html
  css/css-box/margin-trim/flex-inline-trimmed-only-ref.html
  css/css-box/margin-trim/flex-inline-trimmed-only.html
  css/css-box/margin-trim/flex-row-block-multiline-ref.html
  css/css-box/margin-trim/flex-row-block-multiline.html
  css/css-box/margin-trim/flex-row-grow.html
  css/css-box/margin-trim/flex-row-inline-multiline.html
  css/css-box/margin-trim/flex-row-orthogonal-item.html
  css/css-box/margin-trim/flex-row-shrink.html
  css/css-box/margin-trim/flex-trim-all-margins-ref.html
  css/css-box/margin-trim/flex-trim-all-margins.html
  css/css-box/margin-trim/grid-block-end-ref.html
  css/css-box/margin-trim/grid-block-end.html
  css/css-box/margin-trim/grid-block-start-ref.html
  css/css-box/margin-trim/grid-block-start.html
  css/css-box/margin-trim/grid-block.html
  css/css-box/margin-trim/grid-inline-end-ref.html
  css/css-box/margin-trim/grid-inline-end.html
  css/css-box/margin-trim/grid-inline-start-ref.html
  css/css-box/margin-trim/grid-inline-start.html
  css/css-box/margin-trim/grid-inline.html
  css/css-box/margin-trim/grid-trim-ignores-collapsed-tracks.html
Labels: css-box

#38073 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250855
  file-system-access/resources/message-target-dedicated-worker.js
  file-system-access/resources/message-target-service-worker.js
  file-system-access/resources/message-target-shared-worker.js
  file-system-access/resources/message-target.html
  file-system-access/resources/message-target.js
  file-system-access/resources/messaging-blob-helpers.js
  file-system-access/resources/messaging-helpers.js
  file-system-access/resources/messaging-serialize-helpers.js
Labels: webkit-export, file-system-access

#38088 Fix content-visibility-068.html on WebKit
  css/css-contain/content-visibility/content-visibility-068.html
Labels: css-contain

#38091 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250917
  mimesniff/mime-types/resources/mime-charset.py
Labels: mimesniff, webkit-export

#38031 Remove duplicated restore calls
  screen-orientation/hidden_document.html
  screen-orientation/resources/orientation-utils.js
Labels: screen-orientation, wg-s_webapps

#38086 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250898
  css/css-properties-values-api/register-property-syntax-parsing.html
Labels: webkit-export, css-properties-values-api

#38034 URL: add coverage for IPv6 with percent-encoding
  url/resources/urltestdata.json
Labels: url

#38046 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250591
  html/browsers/the-window-object/open-close/open-features-negative-innerwidth-innerheight.html
  html/browsers/the-window-object/open-close/open-features-negative-screenx-screeny.html
  html/browsers/the-window-object/open-close/open-features-negative-top-left.html
  html/browsers/the-window-object/open-close/open-features-negative-width-height.html
  html/browsers/the-window-object/open-close/open-features-non-integer-height.html
  html/browsers/the-window-object/open-close/open-features-non-integer-innerheight.html
  html/browsers/the-window-object/open-close/open-features-non-integer-innerwidth.html
  html/browsers/the-window-object/open-close/open-features-non-integer-left.html
  html/browsers/the-window-object/open-close/open-features-non-integer-screenx.html
  html/browsers/the-window-object/open-close/open-features-non-integer-screeny.html
  html/browsers/the-window-object/open-close/open-features-non-integer-top.html
  html/browsers/the-window-object/open-close/open-features-non-integer-width.html
  html/browsers/the-window-object/open-close/open-features-tokenization-innerheight-innerwidth.html
  html/browsers/the-window-object/open-close/open-features-tokenization-screenx-screeny.html
  html/browsers/the-window-object/open-close/open-features-tokenization-top-left.html
  html/browsers/the-window-object/open-close/open-features-tokenization-width-height.html
  html/browsers/the-window-object/open-close/resources/message-opener.html
Labels: html, webkit-export

#37540 Update metadata for infrastructure tests
  infrastructure/metadata/infrastructure/server/context.any.js.ini
Labels: infra

#37949 Do not include test path in test metadata
  tools/wpt/tests/test_update_expectations.py
  tools/wptrunner/wptrunner/manifestexpected.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/tests/test_manifestexpected.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
Labels: infra, wpt, wptrunner

#38080 URL: run IdnaTestV2.txt in WPT
  .gitignore
  url/IdnaTestV2.window.js
  url/resources/IdnaTestV2.json
  url/tools/IdnaTestV2-parser.py
Labels: infra, url, status:needs-spec-decision

#38032 URL and HTML: correct protocol setter tests
  html/browsers/history/the-location-interface/location-protocol-setter-non-broken.html
  html/browsers/history/the-location-interface/location-protocol-setter-sameish.html
  html/browsers/history/the-location-interface/location-protocol-setter.html
  url/resources/setters_tests.json
Labels: html, url

#38149 Add Item Placement Masonry Test for Images
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-008-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-008.html
Labels: css-grid

#37671 [css-text] line-break-normal-015a should apply LB22
  css/css-text/line-break/line-break-normal-015a.xht
  css/css-text/line-break/line-break-strict-015a.xht
  css/css-text/line-break/reference/line-break-normal-015a-ref.xht
  css/css-text/line-break/reference/line-break-strict-015a-ref.xht
Labels: css-text

#38111 Remove Firefox TIMEOUT expectation for context.any.worker-module.html.
  infrastructure/metadata/infrastructure/server/context.any.js.ini
Labels: infra

#38162 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251141
  css/css-properties-values-api/at-property.html
Labels: webkit-export, css-properties-values-api

#38169 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251147
  css/mediaqueries/match-media-parsing.html
Labels: wg-css, mediaqueries, webkit-export

#38174 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251097
  custom-elements/form-associated/form-disabled-callback.html
Labels: custom-elements, wg-webplatform, webkit-export

#38151 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249354
  css/css-scroll-snap/snap-after-relayout/focus-element-no-snap.html
Labels: css-scroll-snap, webkit-export

#38156 Handle '/' in url query string or fragment
  tools/wpt/tests/test_update_expectations.py
  tools/wptrunner/wptrunner/manifestupdate.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/tests/test_wpttest.py
Labels: infra, wpt, wptrunner

#38186 Add tests for fit-content block-size on constrained out-of-flow elements
  css/css-sizing/fit-content-block-size-abspos.html
  css/css-sizing/fit-content-block-size-fixedpos-ref.html
  css/css-sizing/fit-content-block-size-fixedpos.html
Labels: css-sizing, status:needs-reviewers

#38189 Split out style query tests from at-container-parsing.html
  css/css-contain/container-queries/at-container-parsing.html
  css/css-contain/container-queries/at-container-style-parsing.html
Labels: css-contain

#38150 URL: fix setters tests
  url/resources/setters_tests.json
Labels: url

#38197 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250936
  html/semantics/selectors/pseudo-classes/valid-invalid-fieldset-disconnected.html
Labels: html, webkit-export

#38136 XML: comment and PI in doctype internal subset
  css/cssom/xml-stylesheet-pi-in-doctype.xhtml
  dom/nodes/Comment-in-doctype.xhtml
  dom/nodes/ProcessingInstruction-in-doctype.xhtml
Labels: dom, wg-css, cssom

#38191 Fix units in signs-abs-computed.html and hypot-pow-sqrt-computed.html
  css/css-values/hypot-pow-sqrt-computed.html
  css/css-values/signs-abs-computed.html
Labels: wg-css, css-values

#38210 Fix 2 invalid subtests in hypot-pow-sqrt-invalid.html
  css/css-values/hypot-pow-sqrt-invalid.html
Labels: wg-css, css-values

#37895 Add FormData.constructor submitter tests
  xhr/formdata/constructor-submitter.html
Labels: xhr, html

#38190 HTML: <meta http-equiv name>
  html/semantics/document-metadata/the-meta-element/http-equiv-and-name.html
Labels: html

#38113 Mixed Content behavior related to CORS requests
  mixed-content/tentative/autoupgrades/mixed-content-cors.https.sub.html
Labels: mixed-content, wg-s_webappsec

#38236 Add fuzzy metadata for some border-image tests
  css/css-backgrounds/border-image-slice-005.htm
  css/css-backgrounds/border-image-slice-007.htm
  css/css-backgrounds/css3-border-image-repeat-repeat.html
Labels: css-backgrounds

#38241 Update fuzzy data for border-image-image-type-003.htm
  css/css-backgrounds/border-image-image-type-003.htm
Labels: css-backgrounds

#38273 [webnn] Update two float32 reshape tests with null value.
  webnn/resources/test_data/reshape.json
Labels: webnn, wg-s_webmachinelearning

#38276 [webnn] support tests with constant operands
  webnn/resources/test_data/batch_normalization.json
  webnn/resources/test_data/conv2d.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#38278 Correct <input pattern> test
  html/semantics/forms/the-input-element/pattern_attribute.html
Labels: html

#38282 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251433
  css/css-animations/responsive/line-height.html
Labels: css-animations, webkit-export
