Repository web-platform-tests/wpt, pull requests merged in 2023-04, with the labels that each got.

#39317 Make variants in appearance-cssom-001.html exclusive
  css/css-ui/appearance-cssom-001.html
Labels: css-ui

#39318 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=254836
  css/css-backgrounds/border-radius-clip-001.html
Labels: css-backgrounds, webkit-export

#39319 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=250733
  css/css-flexbox/parsing/flex-flow-valid.html
  css/css-multicol/parsing/column-rule-valid.html
  css/css-ui/parsing/outline-valid-mandatory.html
Labels: wg-css, css-ui, css-multicol, css-flexbox, webkit-export

#39320 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253918
  compat/webkit-linear-gradient-line-right.html
  compat/webkit-linear-gradient-line-top.html
Labels: compat, webkit-export

#39246 [webnn] Add float32 tests for WebNN pad op
  webnn/pad.https.any.js
  webnn/resources/test_data/pad.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#39331 HTML: test surrogates in form submission
  html/semantics/forms/form-submission-0/multipart-formdata.window.js
  html/semantics/forms/form-submission-0/text-plain.window.js
  html/semantics/forms/form-submission-0/urlencoded2.window.js
Labels: html

#39293 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=254571
  css/selectors/user-invalid.html
  css/selectors/user-valid.html
Labels: selectors, webkit-export

#39353 Rename invalid-realm.window.js to invalid-realm.tentative.window.js
  streams/transform-streams/invalid-realm.tentative.window.js
Labels: streams

#39345 Update infrastructure metadata for `webtransport-h3.https.sub.any.js`
  infrastructure/metadata/infrastructure/server/webtransport-h3.https.sub.any.js.ini
Labels: infra

#39361 Test for :open/:closed support
  html/semantics/popovers/popover-attribute-basic.html
Labels: html, mozilla:gecko-blocked

#39336 Tune fuzzy thresholds in two tests
  css/css-backgrounds/box-shadow-radius-000.html
  css/css-masking/clip-path/clip-path-round-zero-size.html
Labels: wg-css, css-masking, css-backgrounds

#38199 Encoding/HTML: cross-document encoding inheritance
  encoding/resources/text-html-meta-charset.py
  encoding/unsupported-labels.window.js
  html/syntax/charset/inheritance-bogus-meta-utf-8.html
  html/syntax/charset/inheritance-bogus-meta.html
  html/syntax/charset/resources/bogus-charset-http-valid-meta.py
  html/syntax/charset/resources/bogus-charset-http.py
  html/syntax/charset/resources/bogus-charset.html
Labels: html, encoding

#39332 HTML: layer/nolayer are apparently still around
  html/dom/elements/elements-in-the-dom/unknown-element.html
  html/dom/historical.html
Labels: html

#39358 Make the CPython bug 102126 workaround cover 3.10.10 and 3.11.2
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#39201 [webtransport_h3_server] Support RFC version of HTTP Datagrams
  tools/webtransport/h3/capsule.py
  tools/webtransport/h3/webtransport_h3_server.py
Labels: infra, status:needs-reviewers, webtransport, wg-webtransport

#39356 Add a test for https://github.com/w3c/selection-api/issues/162
  shadow-dom/selection-collapse-and-extend.tentative.html
Labels: shadow-dom, wg-webplatform

#38260 Each subtest must assert_implements_optional
  webcodecs/videoDecoder-codec-specific.https.any.js
Labels: status:needs-reviewers, wg-media, webcodecs

#39380 Add and update font-size-adjust tests to examine the from-font value.
  css/css-fonts/font-size-adjust-013-ref.html
  css/css-fonts/font-size-adjust-013.html
  css/css-fonts/parsing/font-size-adjust-computed.html
  css/css-fonts/parsing/font-size-adjust-valid.html
  lint.ignore
Labels: infra, css-fonts

#39415 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253715
  css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-end.html
Labels: webkit-export, css-box

#39416 [wpt-lint] Handle `FileNotFoundError` when `git` is not found
  tools/lint/lint.py
Labels: infra, lint

#39417 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253713
  css/css-box/margin-trim/computed-margin-values/flexbox-column-block-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-block.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-block-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-block.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block-end.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-block.html
Labels: webkit-export, css-box

#39434 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253714
  css/css-box/margin-trim/computed-margin-values/flexbox-column-inline-start.html
  css/css-box/margin-trim/computed-margin-values/flexbox-column-multi-line-inline-start.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-inline-start.html
  css/css-box/margin-trim/computed-margin-values/flexbox-row-multi-line-inline-start.html
Labels: webkit-export, css-box

#38941 new synonym role tests
  wai-aria/role/synonym-roles.html
Labels: wai-aria, wg-wai_pf

#39439 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=255194
  service-workers/service-worker/controlled-dedicatedworker-postMessage.https.html
  service-workers/service-worker/controlled-iframe-postMessage.https.html
  service-workers/service-worker/postMessage-client-worker.js
  service-workers/service-worker/resources/controlled-frame-postMessage.html
  service-workers/service-worker/resources/controlled-worker-late-postMessage.js
  service-workers/service-worker/resources/controlled-worker-postMessage.js
Labels: service-workers, wg-sw, webkit-export

#39449 Revert "WebKit export of https://bugs.webkit.org/show_bug.cgi?id=255194"
  service-workers/service-worker/controlled-dedicatedworker-postMessage.https.html
  service-workers/service-worker/controlled-iframe-postMessage.https.html
  service-workers/service-worker/postMessage-client-worker.js
  service-workers/service-worker/resources/controlled-frame-postMessage.html
  service-workers/service-worker/resources/controlled-worker-late-postMessage.js
  service-workers/service-worker/resources/controlled-worker-postMessage.js
Labels: service-workers, wg-sw

#37495 testdriver.js: clarify what's not implemented + use async
  resources/testdriver.js
Labels: infra, status:needs-reviewers, testdriver.js, mozilla:gecko-blocked

#37172 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248349
  css/css-writing-modes/forms/text-input-vertical-overflow-no-scroll.html
Labels: css-writing-modes, webkit-export

#39465 Update invalid tests to examine font-size-adjust for CSS Fonts 5
  css/css-fonts/parsing/font-size-adjust-invalid.html
Labels: css-fonts

#39482 Update html5lib-tests generated tests
  html/syntax/parsing/html5lib_innerHTML_webkit02.html
  html/syntax/parsing/html5lib_template.html
  html/syntax/parsing/html5lib_webkit01.html
  html/syntax/parsing/html5lib_webkit02.html
  html/tools/html5lib_tests_revision
Labels: html

#39455 bfulgham/merge webkit 255154
  css/css-backgrounds/background-clip/clip-text-multi-line.html
  css/css-backgrounds/background-gradient-subpixel-fills-area.html
  css/css-backgrounds/background-image-none-gradient-repaint.html
  css/css-backgrounds/background-repeat-round-1b.html
  css/css-backgrounds/background-repeat-round-1d.html
  css/css-backgrounds/background-repeat-round-1e.html
  css/css-backgrounds/background-repeat-round-2.html
  css/css-backgrounds/background-repeat-round-3.html
  css/css-backgrounds/background-repeat-space-4.html
  css/css-backgrounds/background-repeat-space-5.html
  css/css-backgrounds/background-repeat-space-6.html
  css/css-backgrounds/background-repeat-space-7.html
  css/css-backgrounds/background-repeat-space-8.html
  css/css-backgrounds/background-repeat/background-repeat-no-repeat.xht
  css/css-backgrounds/background-rounded-image-clip.html
  css/css-backgrounds/background-size-025.html
  css/css-backgrounds/background-size-028.html
  css/css-backgrounds/background-size-029.html
  css/css-backgrounds/background-size/background-size-cover-svg.html
  css/css-backgrounds/background-size/vector/diagonal-percentage-vector-background.html
  css/css-backgrounds/bg-color-with-gradient.html
  css/css-backgrounds/border-bottom-left-radius-005.xht
  css/css-backgrounds/border-bottom-right-radius-004.xht
  css/css-backgrounds/border-bottom-right-radius-005.xht
  css/css-backgrounds/border-image-repeat-round-2.html
  css/css-backgrounds/border-image-repeat-round.html
  css/css-backgrounds/border-image-repeat-space-10.html
  css/css-backgrounds/border-image-repeat-space-8.html
  css/css-backgrounds/border-image-round-and-stretch.html
  css/css-backgrounds/border-image-slice-fill-001.html
  css/css-backgrounds/border-image-slice-fill-002.html
  css/css-backgrounds/border-image-slice-fill-003.html
  css/css-backgrounds/border-image-slice-percentage.html
  css/css-backgrounds/border-image-space-001.html
  css/css-backgrounds/border-image-width-008.html
  css/css-backgrounds/border-radius-clipping-with-transform-001.html
  css/css-backgrounds/border-top-left-radius-005.xht
  css/css-backgrounds/border-top-right-radius-004.xht
  css/css-backgrounds/border-top-right-radius-005.xht
  css/css-backgrounds/css-border-radius-001.html
  css/css-backgrounds/linear-gradient-currentcolor-first-line.html
Labels: css-backgrounds, mozilla:gecko-blocked

#39442 Created system-color-hightlights-vs-getSelection-001.html test
  css/css-color/reference/system-color-hightlights-vs-getSelection-001-ref.html
  css/css-color/system-color-hightlights-vs-getSelection-001.html
Labels: css-color

#39502 Enable WebTransport tests for all browsers
  webtransport/close.https.any.js.ini
  webtransport/connect.https.any.js.ini
  webtransport/csp-fail.https.window.js.ini
  webtransport/csp-pass.https.window.js.ini
  webtransport/datagrams.https.any.js.ini
  webtransport/streams-close.https.any.js.ini
  webtransport/streams-echo.https.any.js.ini
Labels: webtransport, wg-webtransport

#39499 HTML: document.applets is obsolete
  shadow-dom/leaktests/html-collection.html
Labels: shadow-dom, wg-webplatform

#39510 Show flag specific name in results.html
  tools/wptrunner/wptrunner/formatters/chromium.py
Labels: infra, wptrunner

#39507 [SPC] Add test for SPC authentication in a hidden document
  secure-payment-confirmation/authentication-disallowed-when-hidden.https.html
Labels: wg-payments, secure-payment-confirmation

#39515 Screen orientation: test expected angles
  screen-orientation/orientation-reading.html
Labels: screen-orientation, wg-s_webapps

#39519 [webnn] Add more float32 tests to test broadcasting 1D slope for WebNN prelu op
  webnn/resources/test_data/prelu.json
Labels: webnn, wg-s_webmachinelearning

#39432 [webnn] Add float32 tests for WebNN softsign op
  webnn/resources/test_data/softsign.json
  webnn/resources/utils.js
  webnn/softsign.https.any.js
Labels: webnn, wg-s_webmachinelearning

#39367 Make TestUsingH2Server.teardown_method close the client
  tools/wptserve/tests/functional/base.py
Labels: infra, wptserve

#39322 Enable WebTransport over H3 server for Firefox nightly
  infrastructure/metadata/infrastructure/server/webtransport-h3.https.sub.any.js.ini
  tools/wpt/run.py
Labels: infra, wpt

#39168 Implement downloading WebKitTestRunner in `wpt`
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
Labels: infra, wpt

#39394 Update mypy
  tools/ci/run_tc.py
  tools/lint/lint.py
  tools/manifest/XMLParser.py
  tools/manifest/item.py
  tools/mypy.ini
  tools/requirements_mypy.txt
  tools/tox.ini
  tools/webdriver/webdriver/bidi/client.py
  tools/webdriver/webdriver/bidi/modules/_module.py
  tools/webdriver/webdriver/bidi/transport.py
  tools/webdriver/webdriver/client.py
  tools/webtransport/h3/webtransport_h3_server.py
  tools/wpt/tests/test_update_expectations.py
Labels: infra, webdriver, wg-testing_browser, lint, manifest, wpt, ci, tox.ini, mypy.ini, requirements_mypy.txt, webtransport, wg-webtransport

#39550 Replace writing modes test generation with a Python script
  css/css-writing-modes/tools/generators/README.md
  css/css-writing-modes/tools/generators/generate.py
  css/css-writing-modes/tools/generators/gulpfile.js
  css/css-writing-modes/tools/generators/package.json
  css/css-writing-modes/tools/generators/template.html
  lint.ignore
  tools/ci/jobs.py
  tools/ci/update_built.py
Labels: infra, css-writing-modes, ci

#39524 Use `https://` for tests expecting fetch headers
  preload/prefetch-headers.https.html
  preload/prefetch-types.https.html
Labels: wg-webperf, preload

#39542 Fetch/HTML: also test data: URLs in the navigate code path
  fetch/data-urls/navigate.window.js
Labels: fetch

#39427 html-aam implicit roles tests
  html-aam/META.yaml
  html-aam/fragile/area-role.html
  html-aam/fragile/optgroup-role.html
  html-aam/roles.html
  html-aam/table-roles.html
Labels: status:needs-reviewers, html-aam

#39555 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253718
  css/css-box/margin-trim/computed-margin-values/grid-inline-start-item-negative-span.html
  css/css-box/margin-trim/computed-margin-values/grid-inline-start.html
Labels: webkit-export, css-box

#39553 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253717
  css/css-box/margin-trim/computed-margin-values/grid-block-end-column-auto-flow.html
  css/css-box/margin-trim/computed-margin-values/grid-block-end-item-spans-multiple-rows.html
  css/css-box/margin-trim/computed-margin-values/grid-block-end.html
Labels: webkit-export, css-box

#39428 [webnn] Add float32 tests for WebNN elu op
  webnn/elu.https.any.js
  webnn/resources/test_data/elu.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#39537 [webnn] Update float32 tests of WebNN slice op to align with Spec changes
  webnn/resources/test_data/slice.json
  webnn/slice.https.any.js
Labels: webnn, wg-s_webmachinelearning

#39591 [webnn] Update float32 tests for WebNN prelu op with constant operand slope
  webnn/resources/test_data/prelu.json
Labels: webnn, wg-s_webmachinelearning

#39538 [webnn] Update comments for WebNN concat op and reshape op
  webnn/concat.https.any.js
  webnn/reshape.https.any.js
Labels: webnn, wg-s_webmachinelearning

#39334 Split a container queries pseudo-elements test
  css/css-contain/container-queries/pseudo-elements-002-ref.html
  css/css-contain/container-queries/pseudo-elements-002.html
  css/css-contain/container-queries/pseudo-elements-002b-ref.html
  css/css-contain/container-queries/pseudo-elements-002b.html
Labels: css-contain

#39618 Use better assertions for computedrole
  webdriver/tests/get_computed_role/get.py
Labels: webdriver, wg-testing_browser

#39489 Test priority of blob.type and headers content-type for blob()
  fetch/api/body/mime-type.any.js
Labels: fetch

#39639 Add ReadMe to top-level wpt/accessibility dir
  accessibility/ReadMe.md
Labels: status:needs-reviewers, accessibility

#39660 Update to newer docker image
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
Labels: infra, ci, Taskcluster

#39430 [webnn] Add float32 tests for WebNN hardSigmoid op
  webnn/hard_sigmoid.https.any.js
  webnn/resources/test_data/hard_sigmoid.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#39429 [webnn] Add float32 tests for WebNN linear op
  webnn/linear.https.any.js
  webnn/resources/test_data/linear.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#36609 Add spec link for :modal in modal-pseudo-class-in-has.html
  css/selectors/invalidation/modal-pseudo-class-in-has.html
Labels: selectors

#39535 Add the first test for basic text-box-trim functionality
  css/css-inline/text-box-trim/text-box-trim-half-leading-inline-box-001-ref.html
  css/css-inline/text-box-trim/text-box-trim-half-leading-inline-box-001.html
Labels: css-inline

#39646 Correct stale element errors for cross-origin navigations
  webdriver/tests/back/back.py
  webdriver/tests/element_click/navigate.py
  webdriver/tests/forward/forward.py
  webdriver/tests/navigate_to/navigate.py
Labels: webdriver, wg-testing_browser

#39683 Align enumerate-device check with spec
  mediacapture-streams/MediaDevices-enumerateDevices-persistent-permission.https.html
  mediacapture-streams/iframe-enumerate-nogum.html
  mediacapture-streams/message-enumerateddevices-nogum.js
Labels: mediacapture-streams, wg-s_webrtc

#39677 Use Permissions-Policy rather than Feature-Policy in getUserMedia tests
  mediacapture-streams/MediaDevices-enumerateDevices-not-allowed-camera.https.html
  mediacapture-streams/MediaDevices-enumerateDevices-not-allowed-camera.https.html.headers
  mediacapture-streams/MediaDevices-enumerateDevices-not-allowed-mic.https.html
  mediacapture-streams/MediaDevices-enumerateDevices-not-allowed-mic.https.html.headers
Labels: mediacapture-streams, wg-s_webrtc

#39662 Increase default timeout for WebDriver BiDi fetch helper to 3 seconds
  webdriver/tests/bidi/network/conftest.py
Labels: webdriver-bidi

#39467 [webnn] Add float32 test for more WebNN Reduction operations
  webnn/reduction.https.any.js
  webnn/resources/test_data/reduce_l1.json
  webnn/resources/test_data/reduce_l2.json
  webnn/resources/test_data/reduce_log_sum.json
  webnn/resources/test_data/reduce_log_sum_exp.json
  webnn/resources/test_data/reduce_mean.json
  webnn/resources/test_data/reduce_sum.json
  webnn/resources/test_data/reduce_sum_square.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#38547 Add tests for <input pattern> enabling the RegExp `v` flag
  html/semantics/forms/constraints/form-validation-validity-patternMismatch.html
  html/semantics/forms/the-input-element/pattern_attribute.html
Labels: html, do not merge yet

#39659 [Shape Detection] Add end-to-end tests for the shape detection API
  shape-detection/resources/aztec-correction.jpg
  shape-detection/resources/aztec-full.jpg
  shape-detection/resources/aztec-layers.jpg
  shape-detection/resources/aztec.jpg
  shape-detection/resources/barcodes.mov
  shape-detection/resources/code128-height.jpg
  shape-detection/resources/code128.jpg
  shape-detection/resources/face-bottom-left.jpg
  shape-detection/resources/face-bottom-right.jpg
  shape-detection/resources/face-center.jpg
  shape-detection/resources/face-top-left.jpg
  shape-detection/resources/face-top-right.jpg
  shape-detection/resources/faces.mov
  shape-detection/resources/pdf417-columns.jpg
  shape-detection/resources/pdf417-compact.jpg
  shape-detection/resources/pdf417-compaction.jpg
  shape-detection/resources/pdf417-correction.jpg
  shape-detection/resources/pdf417-rows.jpg
  shape-detection/resources/pdf417-square.jpg
  shape-detection/resources/pdf417-taller.jpg
  shape-detection/resources/pdf417-wider.jpg
  shape-detection/resources/pdf417.jpg
  shape-detection/resources/qr-bottom-left.jpg
  shape-detection/resources/qr-bottom-right.jpg
  shape-detection/resources/qr-center.jpg
  shape-detection/resources/qr-h.jpg
  shape-detection/resources/qr-l.jpg
  shape-detection/resources/qr-m.jpg
  shape-detection/resources/qr-q.jpg
  shape-detection/resources/qr-top-left.jpg
  shape-detection/resources/qr-top-right.jpg
  shape-detection/resources/single-detection-helpers.js
  shape-detection/resources/text-bottom-left.jpg
  shape-detection/resources/text-bottom-right.jpg
  shape-detection/resources/text-center.jpg
  shape-detection/resources/text-top-left.jpg
  shape-detection/resources/text-top-right.jpg
  shape-detection/resources/text.mov
  shape-detection/single-barcode-detection.https.html
  shape-detection/single-face-detection.https.html
  shape-detection/single-text-detection.https.html
Labels: shape-detection

#39679 Add some round/mod/rem subtests involving non primitive calculations
  css/css-values/round-mod-rem-computed.html
Labels: wg-css, css-values

#39693 [wptrunner] Content shell driver uses stdlib `subprocess`
  infrastructure/metadata/infrastructure/testdriver/actions/wheelScroll.html.ini
  tools/wptrunner/wptrunner/browsers/content_shell.py
Labels: infra, wptrunner

#39604 v1 of accname name computation tests
  accname/META.yml
  accname/basic.html
  accname/name/ReadMe.md
  accname/name/comp_embedded_control.html
  accname/name/comp_hidden_not_referenced.html
  accname/name/comp_host_language_label.html
  accname/name/comp_label.html
  accname/name/comp_labelledby.html
  accname/name/comp_name_from_content.html
  accname/name/comp_text_node.html
  accname/name/comp_tooltip.html
  wai-aria/META.yml
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf, do not merge yet, accname, accessibility

#39107 [css-color-4] Test percentage ranges of l/a/b in lab()/oklab() and l/c in lch()/oklch()
  css/css-color/parsing/color-computed-lab.html
  css/css-color/parsing/color-valid-lab.html
Labels: css-color

#39627 Support text-indent in layout-2020
  css/css-text/text-indent/reference/text-indent-length-001-ref.html
  css/css-text/text-indent/reference/text-indent-length-002-ref.html
  css/css-text/text-indent/text-indent-length-001.html
  css/css-text/text-indent/text-indent-length-002.html
Labels: css-text, servo-export

#39302 Fix tests requiring non-standard MouseEvent.toElement/fromElement
  pointerevents/pointerevent_support.js
Labels: pointerevents, wg-s_pointer-events

#39704 Corrected declarations in border-conflict-element-00[1-2].xht
  css/CSS2/tables/border-conflict-element-001.xht
  css/CSS2/tables/border-conflict-element-002.xht
Labels: wg-css, CSS2

#39444 Created a reliable, trustworthy border-image-repeat-space test
  css/css-backgrounds/border-image-repeat-space-011.html
  css/css-backgrounds/reference/border-image-repeat-space-011-ref.html
  css/css-backgrounds/support/border-image-repeat-space-011.png
Labels: css-backgrounds

#39696 Fix text-decoration for block containers in layout-2020
  css/css-text-decor/reference/text-decoration-propagation-04-ref.html
  css/css-text-decor/text-decoration-propagation-04.html
Labels: css-text, servo-export, css-text-decor

#39705 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253606
  css/css-box/margin-trim/computed-margin-values/block-container-block-start-child-with-border.html
  css/css-box/margin-trim/computed-margin-values/block-container-block-start-self-collapsing-nested.html
  css/css-box/margin-trim/computed-margin-values/block-container-block-start.html
Labels: webkit-export, css-box

#39673 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253610
  css/css-box/margin-trim/computed-margin-values/block-container-block-end-nested-child.html
  css/css-box/margin-trim/computed-margin-values/block-container-block-end-with-self-collapsing-children.html
  css/css-box/margin-trim/computed-margin-values/block-container-block-end.html
Labels: webkit-export, css-box

#39516 Add more tests for <form>.submit() and replace-before-load
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-cross-frame-crossorigin.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-cross-frame.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-popup-crossorigin.sub.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit-popup.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/form-submit.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/history-pushstate-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/location-setter-during-pageshow.html
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/helpers.js
  html/browsers/browsing-the-web/navigating-across-documents/replace-before-load/resources/slow-message-source-with-history-and-location.html
Labels: html

#39725 Test that prefetch gets re-invoked on href/crossorigin change
  preload/prefetch-time-to-fetch.https.html
Labels: wg-webperf, preload

#39728 Fix flakiness in `preload/preload-error.sub.html` on Safari
  preload/preload-error.sub.html
Labels: wg-webperf, preload

#39727 Make preload links fire `onerror` event on network error
  preload/onerror-event.html
Labels: wg-webperf, preload

#39716 Do not launch more processes than the test groups we have
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#39754 [wptrunner] Emit `process_output` events for `content_shell`
  tools/wptrunner/wptrunner/browsers/content_shell.py
Labels: infra, wptrunner

#39759 Add tests for currentcolor in SVG with dynamic changes to color
  lint.ignore
  svg/painting/color-mix-currentcolor-fill-stroke-repaint.html
  svg/painting/currentcolor-fill-stroke-repaint.html
Labels: infra, wg-svg, svg

#39758 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=256118
  css/css-backgrounds/color-mix-currentcolor-border-repaint-parent.html
  css/css-backgrounds/color-mix-currentcolor-border-repaint.html
  css/css-backgrounds/currentcolor-border-repaint-parent.html
  lint.ignore
Labels: infra, css-backgrounds, webkit-export

#39765 Avoid ElementNotInteractable exception in inert-pseudo-element-hittest.html
  inert/inert-pseudo-element-hittest.html
Labels: status:needs-reviewers, inert

#39764 Use -ref.html instead of -expected.html in css/css-images/gradient
  css/css-images/gradient/css-color-4-colors-default-to-oklab-gradient.html
  css/css-images/gradient/legacy-color-gradient.html
  css/css-images/gradient/oklab-gradient-ref.html
  css/css-images/gradient/oklab-gradient.html
  css/css-images/gradient/srgb-gradient-ref.html
  css/css-images/gradient/srgb-gradient.html
  css/css-images/gradient/srgb-linear-gradient-ref.html
  css/css-images/gradient/srgb-linear-gradient.html
  css/css-images/gradient/xyz-gradient-ref.html
  css/css-images/gradient/xyz-gradient.html
Labels: css-images

#39766 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=249860
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-explicit-block-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-explicit-block.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-span-row-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-span-row.html
Labels: css-grid, webkit-export
