Repository web-platform-tests/wpt, pull requests merged in 2023-07, with the labels that each got.

#40775 Remove undefined subtest from offset-path-interpolation-005.html
  css/motion/animation/offset-path-interpolation-005.html
Labels: motion

#40858 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258803
  webcodecs/videoFrame-construction.window.js
Labels: webkit-export, wg-media, webcodecs

#40846 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258770
  css/css-overflow/scrollbar-gutter-dynamic-003-ref.html
  css/css-overflow/scrollbar-gutter-dynamic-003.html
Labels: css-overflow, webkit-export

#40791 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257611
  css/css-highlight-api/highlight-priority-painting-ref.html
  css/css-highlight-api/highlight-priority-painting.html
  css/css-highlight-api/highlight-priority.html
Labels: webkit-export, css-highlight-api

#40861 Account that send_keys throws different exceptions in inert test
  inert/inert-node-is-uneditable.html
Labels: status:needs-reviewers, inert

#40474 Add test for referrer in module imports
  html/semantics/scripting-1/the-script-element/module/module-import-referrer.html
  html/semantics/scripting-1/the-script-element/module/module-import-referrer.js
Labels: html, status:needs-spec-decision

#40814 script: add missing serialization tests: iterator, generator, proxy
  webdriver/tests/bidi/script/call_function/exception_details.py
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/evaluate/exception_details.py
  webdriver/tests/bidi/script/evaluate/result.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#40836 Wait for animation in reportValidity-bubble reftest
  custom-elements/form-associated/ElementInternals-reportValidity-bubble-notref.html
  custom-elements/form-associated/ElementInternals-reportValidity-bubble.html
Labels: custom-elements, wg-webplatform

#40813 Add tests for the `browsingContext.fragmentNavigated` event
  webdriver/tests/bidi/browsing_context/fragment_navigated/__init__.py
  webdriver/tests/bidi/browsing_context/fragment_navigated/fragment_navigated.py
  webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py
Labels: webdriver-bidi

#40643 miscellaneous lint, clean-up and modernization changes to webdriver: part II
  tools/webdriver/webdriver/bidi/modules/input.py
  tools/webdriver/webdriver/transport.py
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/input/__init__.py
  webdriver/tests/bidi/input/perform_actions/__init__.py
  webdriver/tests/bidi/input/perform_actions/invalid.py
  webdriver/tests/bidi/input/perform_actions/key_events.py
  webdriver/tests/bidi/input/perform_actions/pointer_origin.py
  webdriver/tests/bidi/script/call_function/await_promise.py
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/call_function/strict_mode.py
  webdriver/tests/bidi/script/evaluate/strict_mode.py
  webdriver/tests/support/fixtures.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, wg-testing_browser, mozilla:gecko-blocked, webdriver-bidi

#40914 WebDriver BiDi: fix generator serialization test
  webdriver/tests/bidi/script/call_function/exception_details.py
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/evaluate/exception_details.py
  webdriver/tests/bidi/script/evaluate/result.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#40932 Add fuzziness in values for round-mod-rem-computed.html
  css/css-values/round-mod-rem-computed.html
Labels: wg-css, css-values

#40934 Add sin/cos/tan tests for 180deg/270deg/-180deg/-270deg/NaN
  css/css-values/sin-cos-tan-serialize.html
Labels: wg-css, css-values

#40935 Add wrapped calc subtests to clamp-length-serialize.html
  css/css-values/clamp-length-serialize.html
Labels: wg-css, css-values

#37800 Add tests for filter() function and CSS gradients
  css/filter-effects/filter-function/filter-function-conic-gradient-ref.html
  css/filter-effects/filter-function/filter-function-conic-gradient.html
  css/filter-effects/filter-function/filter-function-linear-gradient-ref.html
  css/filter-effects/filter-function/filter-function-linear-gradient.html
  css/filter-effects/filter-function/filter-function-radial-gradient-ref.html
  css/filter-effects/filter-function/filter-function-radial-gradient.html
  css/filter-effects/filter-function/filter-function-repeating-conic-gradient-ref.html
  css/filter-effects/filter-function/filter-function-repeating-conic-gradient.html
  css/filter-effects/filter-function/filter-function-repeating-linear-gradient-ref.html
  css/filter-effects/filter-function/filter-function-repeating-linear-gradient.html
  css/filter-effects/filter-function/filter-function-repeating-radial-gradient-ref.html
  css/filter-effects/filter-function/filter-function-repeating-radial-gradient.html
Labels: wg-css, filter-effects, webkit-export

#40937 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=253274
  compat/webkit-background-origin-text.html
  compat/webkit-linear-gradient-line-bottom.html
  compat/webkit-linear-gradient-line-left.html
  css/css-images/gradients-with-border.html
  css/css-images/image-orientation/image-orientation-mask-image.html
  css/css-images/multiple-position-color-stop-linear.html
  css/css-masking/mask-image/mask-image-clip-exclude.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-001.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-002.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-003.html
  css/css-transforms/gradientTransform/svg-gradientTransform-001.html
  css/css-transforms/gradientTransform/svg-gradientTransform-combination-001.html
  css/css-transforms/gradientTransform/svg-gradientTransform-combination-003.html
  css/css-values/angle-units-001.html
  css/css-values/angle-units-002.html
  css/css-values/angle-units-003.html
  css/css-values/angle-units-004.html
  css/css-values/angle-units-005.html
  css/css-variables/vars-background-shorthand-001.html
Labels: wg-css, compat, css-values, css-shapes, css-masking, css-variables, css-images, css-transforms, webkit-export

#40942 Test top layer dialog removal in on-screen c-v:auto subtree
  css/css-contain/content-visibility/content-visibility-with-top-layer-in-auto-subtree-removal.html
Labels: css-contain

#40943 Add content-visibility-auto-nested-scroll.html
  css/css-contain/content-visibility/content-visibility-auto-nested-scroll-ref.html
  css/css-contain/content-visibility/content-visibility-auto-nested-scroll.html
Labels: status:needs-reviewers, css-contain

#40947 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257861
  web-animations/animation-model/keyframe-effects/effect-value-opacity-replaced-effect-in-shadow-root-ref.html
  web-animations/animation-model/keyframe-effects/effect-value-opacity-replaced-effect-in-shadow-root.html
Labels: wg-css, web-animations, webkit-export

#40949 [wdspec] bidi: remove unused fixture
  webdriver/tests/bidi/__init__.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#40959 [url] Add tests for trailing spaces on setters
  url/resources/setters_tests.json
Labels: url

#40911 Do not check contents of fetch exception message
  service-workers/service-worker/fetch-error.https.html
Labels: service-workers, wg-sw

#40887 script: split serialization tests for both `call_function` and `evaluate`
  webdriver/tests/bidi/script/__init__.py
  webdriver/tests/bidi/script/call_function/arguments.py
  webdriver/tests/bidi/script/call_function/channel.py
  webdriver/tests/bidi/script/call_function/exception_details.py
  webdriver/tests/bidi/script/call_function/exception_details_await_promise.py
  webdriver/tests/bidi/script/call_function/invalid.py
  webdriver/tests/bidi/script/call_function/primitive_values.py
  webdriver/tests/bidi/script/call_function/remote_reference.py
  webdriver/tests/bidi/script/call_function/remote_values.py
  webdriver/tests/bidi/script/call_function/result.py
  webdriver/tests/bidi/script/call_function/strict_mode.py
  webdriver/tests/bidi/script/call_function/this.py
  webdriver/tests/bidi/script/evaluate/__init__.py
  webdriver/tests/bidi/script/evaluate/await_promise.py
  webdriver/tests/bidi/script/evaluate/evaluate.py
  webdriver/tests/bidi/script/evaluate/exception_details.py
  webdriver/tests/bidi/script/evaluate/exception_details_await_promise.py
  webdriver/tests/bidi/script/evaluate/primitive_values.py
  webdriver/tests/bidi/script/evaluate/remote_values.py
  webdriver/tests/bidi/script/evaluate/result.py
Labels: webdriver-bidi

#40955 [wdspec] bidi: remove/fix unused constructs
  webdriver/tests/bidi/input/conftest.py
  webdriver/tests/bidi/network/conftest.py
  webdriver/tests/bidi/script/conftest.py
Labels: webdriver-bidi

#40970 c-v: auto descendant in popover is shown on showPopover
  css/css-contain/content-visibility/content-visibility-with-top-layer-and-auto-descendant-ref.html
  css/css-contain/content-visibility/content-visibility-with-top-layer-and-auto-descendant.html
Labels: status:needs-reviewers, css-contain

#40961 Rework skew-test1.html to have more reliable expectations.
  css/css-transforms/reference/skew-test1-ref.html
  css/css-transforms/skew-test1.html
Labels: css-transforms

#40966 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258813
  css/css-logical/animations/padding-block-interpolation.html
  css/css-logical/animations/padding-inline-interpolation.html
Labels: css-logical, webkit-export

#40847 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258773
  css/css-scrollbars/scrollbar-color-006-ref.html
  css/css-scrollbars/scrollbar-color-006.html
  css/css-scrollbars/scrollbar-color-007-ref.html
  css/css-scrollbars/scrollbar-color-007.html
  css/css-scrollbars/scrollbar-color-008-ref.html
  css/css-scrollbars/scrollbar-color-008.html
  css/css-scrollbars/scrollbar-color-009-ref.html
  css/css-scrollbars/scrollbar-color-009.html
  css/css-scrollbars/scrollbar-color-010-ref.html
  css/css-scrollbars/scrollbar-color-010.html
Labels: webkit-export, css-scrollbars

#41001 Add missing scrollbar-color on two scrollbar-color refs
  css/css-scrollbars/scrollbar-color-007-ref.html
  css/css-scrollbars/scrollbar-color-008-ref.html
Labels: css-scrollbars

#40913 AccName: Comp host language label v1
  accname/name/comp_host_language_label.html
Labels: accname

#40964 WebDriver BiDi: add tests for browsingContext.activate
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/activate/__init__.py
  webdriver/tests/bidi/browsing_context/activate/activate.py
  webdriver/tests/bidi/browsing_context/activate/invalid.py
Labels: infra, webdriver, wg-testing_browser, wptrunner, webdriver-bidi

#40997 Add test expectation file for test_win_open_with_interaction
  infrastructure/metadata/infrastructure/testdriver/test_win_open_with_interaction.html.ini
Labels: infra

#41034 Nesting valid selector
  css/css-nesting/parsing.html
Labels: css-nesting

#41037 Add `X-Content-Type-Options: nosniff` header to download_stash.py
  html/semantics/embedded-content/the-iframe-element/support/download_stash.py
Labels: html

#40950 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258948
  css/css-fonts/parsing/font-face-src-tech.html
Labels: css-fonts, webkit-export

#41044 typo
  css/css-nesting/parsing.html
Labels: mozilla:gecko-blocked, css-nesting

#41055 Update navigateFocusForward in focus-navigation for consistency
  shadow-dom/focus-navigation/resources/focus-utils.js
Labels: shadow-dom, wg-webplatform

#41039 Make the test not wait `lostpointercapture` event after the tick in which `pointerup` fired
  pointerevents/pointerevent_pointercapture_in_frame.html
Labels: pointerevents, wg-s_pointer-events

#41061 Add attribute change steps hiding test
  html/semantics/popovers/popover-undefined-remove-crash.html
Labels: html

#41041 WebDriver BiDi: add tests for background in browsingContext.create
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/__init__.py
  webdriver/tests/bidi/browsing_context/activate/__init__.py
  webdriver/tests/bidi/browsing_context/create/background.py
  webdriver/tests/bidi/browsing_context/create/invalid.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#41092 Ensure that `border-color: currentColor` resolves to `color` value
  css/css-color/border-color-currentcolor-ref.html
  css/css-color/border-color-currentcolor.html
Labels: css-color

#41094 Add tests for c-i-s: auto none and vertical writing modes
  css/css-sizing/contain-intrinsic-size/auto-015.html
  css/css-sizing/contain-intrinsic-size/auto-016.html
  css/css-sizing/contain-intrinsic-size/auto-017.html
  css/css-sizing/contain-intrinsic-size/auto-018.html
Labels: css-sizing

#41090 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258870
  custom-elements/form-associated/ElementInternals-setFormValue-nullish-value.html
Labels: custom-elements, wg-webplatform, webkit-export

#41081 Mark non-external-noimport as non-tentative
  html/semantics/scripting-1/the-script-element/execution-timing/non-external-no-import.html
Labels: html

#41029 Ensure that Element.focus() centers the element.
  focus/focus-centers-element.html
Labels: status:needs-reviewers, focus

#41067 Add subtest for contain-intrinsic-size: inherit
  css/css-sizing/contain-intrinsic-size/parsing/contain-intrinsic-size-computed.html
Labels: css-sizing

#40737 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=244494
  css/css-scrollbars/scrollbar-color-scheme-dynamic-1-ref.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-1.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-2-ref.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-2.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-3-ref.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-3.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-4-ref.html
  css/css-scrollbars/scrollbar-color-scheme-dynamic-4.html
Labels: webkit-export, css-scrollbars

#40352 Implement reftest variants
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
Labels: infra, manifest, mozilla:gecko-blocked

#40965 [wdspec] add test: activate before taking screenshot
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#41145 [wdspec] serialization: add all iterator kinds
  webdriver/tests/bidi/script/__init__.py
Labels: webdriver-bidi

#41147 [wdspec] serialization: fix incorrect call_function test with Promise
  webdriver/tests/bidi/script/call_function/remote_values.py
Labels: webdriver-bidi

#41172 Fix css-nesting parsing typo
  css/css-nesting/parsing.html
Labels: status:needs-reviewers, css-nesting

#41196 [wptrunner] Fix `UnboundLocalError` without any test implementations
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#41213 Fix nesting
  css/css-nesting/parsing.html
Labels: mozilla:gecko-blocked, css-nesting

#40763 [wptrunner] Support headful debugging of `content_shell`
  tools/wptrunner/wptrunner/browsers/content_shell.py
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#41225 Fix another nesting expectaation.
  css/css-nesting/parsing.html
Labels: status:needs-reviewers, css-nesting

#41236 Cookie Store: Add testing for checks on path and domain length when setting cookies
  cookie-store/META.yml
  cookie-store/cookieStore_set_arguments.https.any.js
Labels: IndexedDB, wg-webapps, cookie-store

#41179 Fix css-scroll-snap/input/keyboard.html to make it pass on all major browser engines
  css/css-scroll-snap/input/keyboard.html
Labels: css-scroll-snap

#41251 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259261
  html/semantics/popovers/popover-light-dismiss-flat-tree.html
Labels: html, webkit-export

#41259 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257092
  css/css-fonts/font-palette-non-ident-font-family-ref.html
  css/css-fonts/font-palette-non-ident-font-family.html
Labels: css-fonts, webkit-export
