Repository web-platform-tests/wpt, pull requests merged in 2023-10, with the labels that each got.

#42287 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261621
  custom-elements/form-associated/focusability.html
Labels: custom-elements, wg-webplatform, webkit-export

#42285 Update webcodecs decoder test as error callback is now executed before flush promise callbacks
  webcodecs/videoDecoder-codec-specific.https.any.js
Labels: wg-media, webcodecs

#42284 Update dependencies in HTML idlharness test
  html/dom/idlharness-shadowrealm.window.js
Labels: html

#42292 WebCryptoAPI: check EdDSA and HMAC for expected signatures coming from sign()
  WebCryptoAPI/sign_verify/eddsa.js
  WebCryptoAPI/sign_verify/hmac.js
Labels: WebCryptoAPI, wg-webcrypto

#42333 WebCryptoAPI: check secure curves JWK alg being ignored and not exported
  WebCryptoAPI/import_export/okp_importKey.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#42340 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=262336
  css/css-grid/subgrid/align-self-baseline-with-subgrid-mbp.html
Labels: css-grid, webkit-export

#42356 [wdspec] Extend timeout for bidi/script/call_function/invalid.py
  webdriver/tests/bidi/script/call_function/invalid.py
Labels: webdriver-bidi

#41217 [wdspec] Add tests for user activation
  tools/webdriver/webdriver/bidi/modules/script.py
  webdriver/tests/bidi/script/call_function/invalid.py
  webdriver/tests/bidi/script/call_function/user_activation.py
  webdriver/tests/bidi/script/evaluate/invalid.py
  webdriver/tests/bidi/script/evaluate/user_activation.py
Labels: wg-testing_browser, webdriver-bidi

#42365 Remove Masonry Align and Justify Tracks Test Cases
  css/css-align/parsing/align-tracks-computed.html
  css/css-align/parsing/align-tracks-invalid.html
  css/css-align/parsing/align-tracks-valid.html
  css/css-align/parsing/justify-tracks-computed.html
  css/css-align/parsing/justify-tracks-invalid.html
  css/css-align/parsing/justify-tracks-valid.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-001-ref.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-001.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-multi-001-ref.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-multi-001.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-stretch-001-ref.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-stretch-001.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-stretch-002-ref.html
  css/css-grid/masonry/tentative/align-tracks/masonry-align-tracks-stretch-002.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-001-ref.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-001.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-multi-001-ref.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-multi-001.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-stretch-001-ref.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-stretch-001.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-stretch-002-ref.html
  css/css-grid/masonry/tentative/justify-tracks/masonry-justify-tracks-stretch-002.html
Labels: css-grid, css-align

#42234 fill out remaining AccName tests for embedded controls
  accname/name/comp_embedded_control.html
Labels: accname

#40074 Add accname tests for “Hidden not referenced” step
  accname/name/comp_hidden_not_referenced.html
Labels: accname

#42386 Copy disable_fission changes from mozilla-central
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/firefox_android.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#42364 Add test for lang attribute and shadow trees.
  html/dom/elements/global-attributes/lang-attribute-shadow.window.js
Labels: html

#42369 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=248319
  css/css-writing-modes/forms/file-input-computed-style.html
  css/css-writing-modes/forms/file-input-horizontal.optional.html
  css/css-writing-modes/forms/file-input-vertical-rtl.optional.html
  css/css-writing-modes/forms/file-input-vertical.optional.html
Labels: css-writing-modes, webkit-export

#42241 Start dbus for Chrome
  tools/ci/run_tc.py
Labels: infra, ci, docker

#42413 [lint] Check script metadata for malformed variants
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
  tools/wpt/tests/test_wpt.py
  websockets/interfaces/WebSocket/close/close-connecting-async.any.js
Labels: infra, websockets, lint, wpt

#42350 [wptrunner] Make `TestSource.group()` safe for empty test queues
  tools/wptrunner/wptrunner/testloader.py
Labels: infra, wptrunner

#42436 [masonry] Finish Removal of align-tracks and justify-tracks
  css/css-cascade/all-prop-revert-layer.html
  css/css-grid/masonry/tentative/baseline/masonry-grid-item-self-baseline-002a.html
  css/css-grid/masonry/tentative/baseline/masonry-grid-item-self-baseline-002b.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-004-ref.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-004.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-005-ref.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-005.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-006-ref.html
  css/css-grid/masonry/tentative/fragmentation/masonry-fragmentation-006.html
Labels: css-grid, css-cascade

#42406 Support expected-fail-message per RFC 165
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#42328 Move subprocess calls into a function
  tools/lint/lint.py
Labels: infra, lint

#42093 Update `/accname/name/comp_tooltip.html`
  accname/name/comp_tooltip.html
Labels: accname

#42203 Update pattern for role none/generic match.
  html-aam/fragile/area-role.html
  html-aam/roles.html
  wai-aria/role/grid-roles.html
  wai-aria/role/role_none_conflict_resolution.html
  wai-aria/role/synonym-roles.html
Labels: wai-aria, wg-wai_pf, html-aam

#42434 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=262912
  css/css-grid/subgrid/orthogonal-writing-mode-005-ref.html
Labels: css-grid, webkit-export

#42120 browser: Pass -ErrorAction to Get-Item PowerShell call
  tools/wpt/browser.py
Labels: infra, wpt

#42354 AccName: Name From Contents Tests
  accname/name/comp_name_from_content.html
Labels: accname

#42471 mousemove_prevent_default_action.tentative.html unnecessarily listens for selectionchange events when asserting dragstart is fired
  uievents/mouse/mousemove_prevent_default_action.tentative.html
Labels: uievents, wg-s_webapps

#42493 Make tests for transforms on backgrounds of the root element not test scrollable overflow
  css/css-transforms/transform-translate-background-001-ref.html
  css/css-transforms/transform-translate-background-001.html
  css/css-transforms/transform-translate-background-002.html
Labels: css-transforms

#42497 fix #42496. getCS for backgroundBlendMode.
  css/compositing/parsing/background-blend-mode-computed-multiple.html
  css/compositing/parsing/background-blend-mode-computed.html
Labels: wg-svg, wg-css, compositing

#42503 Revert "fix #42496. getCS for backgroundBlendMode."
  css/compositing/parsing/background-blend-mode-computed-multiple.html
  css/compositing/parsing/background-blend-mode-computed.html
Labels: wg-svg, wg-css, compositing

#42480 Add daily run of firefox_android
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#41036 Add automated tests of `insertParagraph` and `insertLineBreak` insert…
  editing/other/insertparagraph-in-inline-editing-host.tentative.html
Labels: editing

#42011 Update aria-haspopup='true' mapping to be identical to aria-haspopup='menu'
  core-aam/aria-haspopup_true-manual.html
Labels: core-aam

#42523 Add hyphenation example for Cree
  css/css-text/hyphens/i18n/hyphens-i18n-auto-006.html
  css/css-text/hyphens/i18n/reference/hyphens-i18n-auto-006-ref.html
Labels: wg-i18n_core, css-text, css

#42524 [WebDriver BiDi] Update captureScreenshot tests with box clip
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/clip.py
  webdriver/tests/bidi/browsing_context/capture_screenshot/invalid.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#42531 Ensure we initialize test_runner_proc property in TestRunnerManager
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner, mozilla:gecko-blocked

#42533 Fix typos in comment describing reftest fuzzy syntax.
  tools/wptrunner/wptrunner/manifestexpected.py
Labels: infra, wptrunner

#42013 Update wai-aria/role/invalid-roles.html
  wai-aria/role/invalid-roles.html
Labels: wai-aria, wg-wai_pf

#42538 Stop logging mousemove events in mousemove_prevent_default_action.ten…
  uievents/mouse/mousemove_prevent_default_action.tentative.html
Labels: uievents, wg-s_webapps

#42485 Split network response completed tests
  webdriver/tests/bidi/network/response_completed/response_completed.py
  webdriver/tests/bidi/network/response_completed/response_completed_status.py
Labels: webdriver-bidi

#42412 Create wai-aria/role/contextual-roles.html
  html-aam/table-roles.html
  wai-aria/role/contextual-roles.html
  wai-aria/role/grid-roles.html
  wai-aria/role/list-roles.html
  wai-aria/role/menu-roles.html
  wai-aria/role/tab-roles.html
  wai-aria/role/table-roles.html
  wai-aria/role/tree-roles.html
Labels: wai-aria, wg-wai_pf, html-aam

#42552 Verify that content-visibility hidden has no effect on g element
  css/css-contain/content-visibility/content-visibility-on-g-ref.html
  css/css-contain/content-visibility/content-visibility-on-g.html
Labels: status:needs-reviewers, css-contain

#42576 [manifest] Avoid `git diff-index` on non-WPT files during updates
  tools/manifest/vcs.py
Labels: infra, manifest

#42577 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260255
  css/css-transforms/animation/scale-and-rotate-both-specified-on-animation-keyframes-ref.html
  css/css-transforms/animation/scale-and-rotate-both-specified-on-animation-keyframes.html
Labels: css-transforms, webkit-export

#42594 Verify that content-visibility hidden has an effect on root svg element
  css/css-contain/content-visibility/content-visibility-on-root-svg-ref.html
  css/css-contain/content-visibility/content-visibility-on-root-svg.html
Labels: css-contain

#42617 Test that element.checkVisibility uses the flat tree
  css/cssom-view/checkVisibility.html
Labels: wg-css, cssom-view

#42598 Anonymous boxes that wrap inlines should not inherit overflow
  css/CSS2/floats/float-in-inline-anonymous-block-with-overflow-hidden.html
Labels: wg-css, CSS2, servo-export

#42622 Add fuzzy data to content-visibility-024.html
  css/css-contain/content-visibility/content-visibility-024.html
Labels: css-contain, mozilla:gecko-blocked

#42602 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260834
  webcodecs/videoFrame-canvasImageSource.html
Labels: webkit-export, wg-media, webcodecs

#42310 Migrate scroll_root.html to WPT
  css/cssom-view/window-scrollBy-display-change-ref.html
  css/cssom-view/window-scrollBy-display-change.html
Labels: wg-css, cssom-view, servo-export

#42635 Fix: multiple typos inside /docs
  docs/writing-tests/channels.md
  docs/writing-tests/testdriver.md
Labels: docs

#42660 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263261
  css/css-fonts/matching/font-unicode-PUA-ref.html
  css/css-fonts/matching/font-unicode-PUA.html
Labels: css-fonts, webkit-export

#42623 Rewrite property-cascade.html with getComputedStyle()
  css/css-properties-values-api/property-cascade.html
Labels: css-properties-values-api

#42646 Overcome antialias fuzziness in backgrounds tests meta name="fuzzy"
  css/css-backgrounds/border-image-image-type-004.htm
  css/css-backgrounds/border-image-image-type-005.htm
  css/css-backgrounds/box-shadow-border-radius-001.html
Labels: css-backgrounds

#42661 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259496
  webcodecs/video-encoder-utils.js
Labels: webkit-export, wg-media, webcodecs

#42651 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263081
  html/semantics/popovers/popover-light-dismiss-flat-tree-nested.html
Labels: html, webkit-export

#41906 sensors: Add virtual sensor-related commands to testdriver
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js, webdriver-bidi

#42673 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263432
  css/css-cascade/all-prop-revert-layer.html
  css/css-text/parsing/text-wrap-valid.html
  css/css-text/parsing/white-space-shorthand-text-wrap.html
  css/css-text/parsing/white-space-shorthand.html
  css/css-typed-om/the-stylepropertymap/properties/white-space.html
Labels: css-typed-om, css-text, css-cascade, webkit-export

#42626 rendering of JPEG XL images
  jpegxl/META.yml
  jpegxl/resources/3x3.png
  jpegxl/resources/3x3_srgb.jxl
  jpegxl/srgb-ref.html
  jpegxl/srgb.html
Labels: status:needs-reviewers, jxl, jpegxl

#42639 test: add network interception fail request invalidation tests
  tools/webdriver/webdriver/bidi/error.py
  tools/webdriver/webdriver/bidi/modules/network.py
  webdriver/tests/bidi/network/fail_request/__init__.py
  webdriver/tests/bidi/network/fail_request/invalid.py
Labels: infra, webdriver, wg-testing_browser, mozilla:gecko-blocked, webdriver-bidi

#42484 make miscellaneous linting and style fixes
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
  webdriver/tests/bidi/browsing_context/reload/wait.py
  webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py
  webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
  webdriver/tests/bidi/input/perform_actions/key.py
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/bidi/input/perform_actions/wheel.py
  webdriver/tests/bidi/log/entry_added/event_buffer.py
  webdriver/tests/bidi/network/__init__.py
  webdriver/tests/bidi/network/add_intercept/add_intercept.py
  webdriver/tests/bidi/network/add_intercept/phases.py
  webdriver/tests/bidi/network/add_intercept/url_patterns.py
  webdriver/tests/bidi/network/remove_intercept/remove_intercept.py
  webdriver/tests/bidi/network/response_completed/response_completed.py
  webdriver/tests/bidi/network/response_started/response_started.py
  webdriver/tests/bidi/session/subscribe/contexts.py
  webdriver/tests/bidi/session/unsubscribe/contexts.py
  webdriver/tests/bidi/session/unsubscribe/events.py
Labels: webdriver-bidi

#42678 Overcome antialias fuzziness in box-shadow-border-radius-001.html with meta fuzzy
  css/css-backgrounds/box-shadow-border-radius-001.html
Labels: css-backgrounds, mozilla:gecko-blocked

#42659 Add tests to measure metrics in absolute positioned elements in c-v: …
  css/css-contain/content-visibility/content-visibility-092.html
  css/css-contain/content-visibility/content-visibility-093.html
Labels: css-contain

#42530 Storage Access API behavior with cross-origin requests with PROMPT permission state
  storage-access-api/requestStorageAccess.sub.https.window.js
Labels: storage-access-api

#42671 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263461
  css/css-flexbox/baseline-synthesis-vert-lr-line-under.html
Labels: wg-css, css-flexbox, webkit-export

#42579 Add WebDriver test for pointer move to different viewport targets
  webdriver/tests/classic/perform_actions/pointer_mouse.py
Labels: webdriver, wg-testing_browser

#42525 Use taskcluster-run in infra tests
  tools/ci/ci_wptrunner_infrastructure.sh
  tools/ci/taskcluster-run.py
Labels: infra, ci

#42427 HTML: make dir=auto and dirname apply to more form controls
  css/selectors/dir-pseudo-on-input-element.html
  html/dom/elements/global-attributes/dir-auto-form-associated.window.js
  html/dom/elements/global-attributes/lang-xmllang-01-ref.html
  html/dom/elements/global-attributes/lang-xmllang-01.html
  html/dom/elements/global-attributes/lang-xyzzy.html
  html/semantics/forms/attributes-common-to-form-controls/dirname-only-if-applies.html
Labels: html, selectors

#42709 Create idle-detection/WEB_FEATURES.yml
  idle-detection/WEB_FEATURES.yml
Labels: status:needs-reviewers, idle-detection

#42714 Add Mozilla reviewers to the WebCodecs directory
  webcodecs/META.yml
Labels: wg-media, webcodecs

#42048 [webaudio] Convert test to testharness
  webaudio/the-audio-api/the-audioparam-interface/audioparam-default-value.html
  webaudio/the-audio-api/the-audioparam-interface/audioparam-default-value.window.js
Labels: webaudio, wg-s_audio

#42716 Rename domxpath/{001,002}.html to something meaningful
  domxpath/001.html
  domxpath/002.html
  domxpath/text-html-attributes.html
  domxpath/text-html-elements.html
  lint.ignore
Labels: infra, domxpath, wg-dom

#42718 Add a test for system color support
  css/css-color/system-color-support.html
Labels: css-color

#42676 Tests for round(), mod(), and rem() that has a percentage only for one value
  css/css-values/round-mod-rem-computed.html
Labels: wg-css, css-values

#42766 [wptrunner] Add PAC support to `content_shell`
  tools/wptrunner/wptrunner/browsers/content_shell.py
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#42684 Add more JPEG XL tests
  jpegxl/3x3_jpeg_recompression-ref.html
  jpegxl/3x3_jpeg_recompression.html
  jpegxl/3x3_srgb_lossless-ref.html
  jpegxl/3x3_srgb_lossless.html
  jpegxl/3x3_srgb_lossy-ref.html
  jpegxl/3x3_srgb_lossy.html
  jpegxl/3x3a_srgb_lossless-ref.html
  jpegxl/3x3a_srgb_lossless.html
  jpegxl/3x3a_srgb_lossy-ref.html
  jpegxl/3x3a_srgb_lossy.html
  jpegxl/resources/3x3.png
  jpegxl/resources/3x3_jpeg_recompression.jxl
  jpegxl/resources/3x3_jpeg_recompression.png
  jpegxl/resources/3x3_srgb.jxl
  jpegxl/resources/3x3_srgb_lossless.jxl
  jpegxl/resources/3x3_srgb_lossless.png
  jpegxl/resources/3x3_srgb_lossy.jxl
  jpegxl/resources/3x3_srgb_lossy.png
  jpegxl/resources/3x3a_srgb_lossless.jxl
  jpegxl/resources/3x3a_srgb_lossless.png
  jpegxl/resources/3x3a_srgb_lossy.jxl
  jpegxl/resources/3x3a_srgb_lossy.png
  jpegxl/resources/generate_resources.sh
  lint.ignore
Labels: infra, mozilla:gecko-blocked, jpegxl

#42779 Firefox for Android doesn't support print reftests
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#42764 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=254693
  wasm/jsapi/exception/basic.tentative.any.js
  wasm/jsapi/gc/casts.tentative.any.js
  wasm/jsapi/gc/exported-object.tentative.any.js
  wasm/jsapi/gc/i31.tentative.any.js
  wasm/jsapi/instanceTestFactory.js
  wasm/jsapi/module/exports.any.js
  wasm/jsapi/wasm-module-builder.js
Labels: wasm

#42729 Strip spaces when comparing message with expected-fail-message
  infrastructure/metadata/infrastructure/webdriver/tests/test_load_file.py.ini
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#42794 Fix invalid-roles.html nbsp instances to always include semicolon
  wai-aria/role/invalid-roles.html
Labels: wai-aria, wg-wai_pf

#42793 [css-text-4] Add `text-wrap-style` and `text-wrap-mode` parsing tests
  css/css-text/inheritance.html
  css/css-text/parsing/text-wrap-computed.html
  css/css-text/parsing/text-wrap-mode-computed.html
  css/css-text/parsing/text-wrap-mode-invalid.html
  css/css-text/parsing/text-wrap-mode-valid.html
  css/css-text/parsing/text-wrap-style-computed.html
  css/css-text/parsing/text-wrap-style-invalid.html
  css/css-text/parsing/text-wrap-style-valid.html
Labels: css-text

#42800 JPEG XL: relax max difference
  jpegxl/3x3_srgb_lossy.html
  jpegxl/3x3a_srgb_lossy.html
Labels: status:needs-reviewers, mozilla:gecko-blocked, jpegxl

#42715 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263584
  webcodecs/audio-decoder.https.any.js
  webcodecs/audio-encoder-config.https.any.js
  webcodecs/video-decoder.https.any.js
  webcodecs/video-encoder-config.https.any.js
Labels: webkit-export, wg-media, webcodecs

#42812 Remove webkit-test-runner comment from callback-timeRemaining-cross-realm-method.html
  requestidlecallback/callback-timeRemaining-cross-realm-method.html
Labels: requestidlecallback, wg-s_webperf

#42799 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263765
  css/cssom-view/checkVisibility.html
Labels: wg-css, cssom-view, webkit-export

#42829 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263352
  css/cssom-view/checkVisibility.html
Labels: wg-css, cssom-view, webkit-export

#42830 Remove redundant arguments from mask-position-valid.html
  css/css-masking/parsing/mask-position-valid.html
Labels: wg-css, css-masking

#42831 WebKit export: text-decoration-thickness should support percentages …
  css/css-text-decor/animations/text-decoration-thickness-interpolation.html
  css/css-text-decor/text-decoration-thickness-calc-ref.html
  css/css-text-decor/text-decoration-thickness-calc.html
  css/css-text-decor/text-decoration-thickness-computed.html
Labels: css-text-decor

#42833 Declarative shadow trees: getInnerHTML() is non-standard
  shadow-dom/declarative/declarative-shadow-dom-basic.html
  shadow-dom/declarative/declarative-shadow-dom-opt-in.html
  shadow-dom/declarative/getinnerhtml.tentative.html
  shadow-dom/declarative/script-access.html
Labels: shadow-dom, wg-webplatform

#42853 Find ChromeDriver download by milestone as a fallback
  tools/wpt/browser.py
  tools/wpt/tests/test_browser.py
Labels: infra, wpt

#42869 [wdspec] network intercept add intercept: use phase param
  webdriver/tests/bidi/network/add_intercept/add_intercept.py
Labels: webdriver-bidi

#42549 Add aria-haspopup='grid' mappings tests
  core-aam/aria-haspopup_grid-manual.html
Labels: core-aam, manual

#42872 [wptrunner] Reenable `wpt run` integration tests
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt
