Repository web-platform-tests/wpt, pull requests merged in 2023-02, with the labels that each got.

#38290 Corrected ch-units-vrl-006 test according to Issue 36378
  css/css-writing-modes/ch-units-vrl-006.html
Labels: css-writing-modes

#38100 [webnn] Add float32 tests for WebNN convTranspose2d op.
  webnn/conv_transpose2d.https.any.js
  webnn/resources/test_data/conv_transpose2d.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#38313 Remove elapsed time reporting in editing tests.
  editing/run/backcolor.html
  editing/run/bold.html
  editing/run/createlink.html
  editing/run/delete-list-items-in-table-cell.html
  editing/run/delete.html
  editing/run/fontname.html
  editing/run/fontsize.html
  editing/run/forecolor.html
  editing/run/formatblock.html
  editing/run/forwarddelete.html
  editing/run/hilitecolor.html
  editing/run/indent.html
  editing/run/insert-list-items-in-table-cell.html
  editing/run/inserthorizontalrule.html
  editing/run/inserthtml.html
  editing/run/insertimage.html
  editing/run/insertlinebreak.html
  editing/run/insertorderedlist.html
  editing/run/insertparagraph.html
  editing/run/inserttext.html
  editing/run/insertunorderedlist.html
  editing/run/italic.html
  editing/run/justifycenter.html
  editing/run/justifyfull.html
  editing/run/justifyleft.html
  editing/run/justifyright.html
  editing/run/misc.html
  editing/run/multitest.html
  editing/run/outdent.html
  editing/run/removeformat.html
  editing/run/strikethrough.html
  editing/run/subscript.html
  editing/run/superscript.html
  editing/run/underline.html
  editing/run/unlink.html
Labels: editing

#38281 Add <input pattern> tests for RegExp `u` flag
  html/semantics/forms/the-input-element/pattern_attribute.html
Labels: html, mozilla:gecko-blocked

#38297 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251499
  css/css-animations/KeyframeEffect-getKeyframes.tentative.html
Labels: css-animations, webkit-export

#38324 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251578
  css/css-animations/responsive/column-width-001.html
Labels: css-animations, webkit-export

#38343 [webnn] Updated result of asynchronous execution.
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#38329 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251591
  css/css-properties-values-api/at-property-animation.html
Labels: webkit-export, css-properties-values-api

#38330 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251590
  css/css-properties-values-api/registered-properties-inheritance.html
Labels: webkit-export, css-properties-values-api

#38344 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251596
  css/css-properties-values-api/at-property-animation.html
Labels: webkit-export, css-properties-values-api

#38319 [webnn] Support float32 gemm tests with constant operand b.
  webnn/resources/test_data/gemm.json
Labels: webnn, wg-s_webmachinelearning

#38362 Omit default angle in computed value for font-style
  css/css-fonts/variations/font-style-parsing.html
Labels: css-fonts

#38221 Env variables should be strings
  tools/ci/tc/tasks/test.yml
Labels: infra, ci

#38332 remove disabled tests from total count
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#38382 Removed the customized builtin test case from custom-elements/HTMLElement-constructor.html
  custom-elements/HTMLElement-constructor.html
Labels: custom-elements, wg-webplatform

#38387 Remove duplicate color(srgb) invalid value test
  css/css-color/parsing/color-invalid-color-function.html
Labels: css-color

#38380 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251821
  clear-site-data/executionContexts.sub.html
Labels: clear-site-data, webkit-export, wg-s_webappsec

#38132 web share: change feature-policy-listed.html to tentative
  web-share/feature-policy-listed.html
  web-share/feature-policy-listed.tentative.html
Labels: web-share, wg-s_webapps

#38406 [webnn] Support MLActivation interface
  webnn/idlharness.https.any.js
Labels: webnn, wg-s_webmachinelearning

#38408 Fix shadow-dom/focus-navigation/focus-navigation-slots-in-slot.html for Safari
  shadow-dom/focus-navigation/focus-navigation-slots-in-slot.html
Labels: shadow-dom, wg-webplatform

#38407 Fix shadow-dom/focus-navigation/focus-navigation-slot-nested-2levels.html for Safari
  shadow-dom/focus-navigation/focus-navigation-slot-nested-2levels.html
Labels: shadow-dom, wg-webplatform

#38409 Fix shadow-dom/focus-navigation/focus-nested-slots.html for Safari
  shadow-dom/focus-navigation/focus-nested-slots.html
Labels: shadow-dom, wg-webplatform

#38410 Fix shadow-dom/focus-navigation/focus-navigation-web-component-input-type-radio.html for Safari
  shadow-dom/focus-navigation/focus-navigation-web-component-radio.html
Labels: shadow-dom, wg-webplatform

#31442 Fetch: set-cookie special cases in Headers
  fetch/api/headers/header-setcookie.any.js
Labels: fetch, status:needs-spec-decision

#38247 WebCryptoAPI: add remaining CFRG algorithms to wrapKey_unwrapKey
  WebCryptoAPI/wrapKey_unwrapKey/wrapKey_unwrapKey.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#38367 WebCryptoAPI: add wrong saltLength RSA-PSS verify tests
  WebCryptoAPI/sign_verify/rsa.js
Labels: WebCryptoAPI, wg-webcrypto

#38416 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251911
  web-animations/animation-model/animation-types/property-list.js
  web-animations/animation-model/animation-types/property-types.js
Labels: wg-css, web-animations, webkit-export

#34660 Avoid OSError from --kill-safari stat'ing random paths
  tools/wptrunner/wptrunner/browsers/safari.py
Labels: infra, wptrunner

#38431 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251936
  fetch/api/request/request-headers.any.js
Labels: fetch, webkit-export

#38436 Add fuzzy data for border-image-repeat-space-10.html
  css/css-backgrounds/border-image-repeat-space-10.html
Labels: css-backgrounds

#38394 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=229909
  css/css-images/image-set/image-set-parsing.html
Labels: css-images, webkit-export

#38456 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251838
  css/css-backgrounds/parsing/background-valid.html
  css/css-masking/parsing/mask-valid.sub.html
Labels: wg-css, css-masking, css-backgrounds

#38363 Added new test on active ::selection of text within a svg object styled with 'color'
  css/css-pseudo/reference/svg-text-selection-002-ref.html
  css/css-pseudo/svg-text-selection-002.html
Labels: css-pseudo

#38305 Added clip-text-multi-line-002 test and its reference
  css/css-backgrounds/background-clip/clip-text-multi-line-002-ref.html
  css/css-backgrounds/background-clip/clip-text-multi-line-002.html
Labels: css-backgrounds

#38470 Corrected background-size-001 test
  css/css-backgrounds/background-size-001.html
Labels: css-backgrounds

#38488 Revert "Add tests for <input pattern> enabling the RegExp `v` flag"
  html/semantics/forms/the-input-element/pattern_attribute.html
Labels: html

#38451 Except where impractical, set Connection: Close with close_connection
  cors/resources/expose-headers.py
  fetch/content-length/resources/content-length.py
  fetch/content-type/resources/content-type.py
  fetch/metadata/resources/record-header.py
  fetch/nosniff/resources/nosniff.py
  resource-timing/resources/resource-timing-content-length.py
  xhr/resources/bad-chunk-encoding.py
  xhr/resources/echo-content-type.py
  xhr/resources/echo-headers.py
Labels: xhr, resource-timing, wg-webperf, fetch

#37104 webxr: Feature-Policy is now Permissions-Policy
  webxr/webxr_feature_policy.https.html.headers
  webxr/webxr_permissions_policy.https.html
  webxr/webxr_permissions_policy.https.html.headers
Labels: webxr, wg-immersive-web

#37102 client-hints/accept-ch: Feature-Policy is now Permissions-Policy
  client-hints/accept-ch-stickiness/cross-origin-iframe-redirect-with-fp-delegation.https.html.headers
  client-hints/accept-ch-stickiness/cross-origin-subresource-redirect-with-fp-delegation.https.html.headers
  client-hints/accept-ch-stickiness/resources/feature-policy-with-cross-origin-subresource.html.headers
  client-hints/accept-ch/feature-policy-navigation/feature-policy.https.html.headers
  client-hints/accept-ch/feature-policy.sub.https.html.headers
Labels: client-hints

#37177 Allow marcoscaceres to monitor varous test directories
  html/user-activation/META.yml
Labels: html, infra

#38492 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252238
  css/css-fonts/parsing/font-variation-settings-computed.html
Labels: css-fonts, webkit-export

#38447 HTML: set opener to a string
  html/browsers/windows/opener-string.window.js
Labels: html

#38512 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252102
  html/semantics/popovers/popover-attribute-basic.html
Labels: html, webkit-export

#38513 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252300
  css/css-fonts/parsing/font-feature-settings-computed.html
Labels: css-fonts, webkit-export

#37625 Require core team review for testharness.js changes
  CODEOWNERS
Labels: infra

#38545 Update metadata for context.any.sharedworker-module.html
  infrastructure/metadata/infrastructure/server/context.any.js.ini
Labels: infra

#38516 WebCryptoAPI: test that Secure Curves have no namedCurve
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#38518 WebCryptoAPI: re-use assert_goodCryptoKey in import tests
  WebCryptoAPI/generateKey/successes.js
  WebCryptoAPI/import_export/ec_importKey.https.any.js
  WebCryptoAPI/import_export/okp_importKey.https.any.js
  WebCryptoAPI/import_export/rsa_importKey.https.any.js
  WebCryptoAPI/import_export/symmetric_importKey.https.any.js
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#34668 Add Test#get_signal()
  docs/writing-tests/testharness-api.md
  resources/test/tests/functional/abortsignal.html
  resources/testharness.js
Labels: infra, docs, testharness.js, mozilla:gecko-blocked

#38549 Update WebAssembly exception tests.
  wasm/jsapi/exception/constructor.tentative.any.js
  wasm/jsapi/exception/getArg.tentative.any.js
  wasm/jsapi/exception/identity.tentative.any.js
  wasm/jsapi/exception/toString.tentative.any.js
  wasm/jsapi/wasm-module-builder.js
Labels: wasm

#38519 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252312
  css/css-properties-values-api/animation/custom-property-transition-property-all.html
  css/css-properties-values-api/resources/utils.js
Labels: webkit-export, css-properties-values-api

#38557 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252418
  css/css-animations/animation-opacity-pause-and-set-time.html
Labels: css-animations, webkit-export

#38563 docs: fix wrong python version
  docs/running-tests/from-local-system.md
Labels: docs

#38561 [wasm] Exception -> Tag in basic.tentative.any.js
  wasm/jsapi/exception/basic.tentative.any.js
Labels: wasm

#37925 Add test for BYOB reader for Blob.stream()
  FileAPI/blob/Blob-stream.any.js
Labels: FileAPI, wg-s_webapps

#38558 [css-values] rewrite tests that check against `180deg`
  css/css-values/acos-asin-atan-atan2-computed.html
  css/css-values/minmax-angle-computed.html
Labels: wg-css, css-values

#38581 URL: correct location.href failure tests
  url/failure.html
Labels: url

#38577 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235135
  css/css-transitions/transition-base-response-002.html
Labels: css-transitions, webkit-export

#38573 URL: fix invalid IPv6 test
  url/resources/urltestdata.json
Labels: url

#38505 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252277
  css/css-transforms/preserve3d-pseudo-element-ref.html
  css/css-transforms/preserve3d-pseudo-element.html
Labels: css-transforms, webkit-export

#37569 Add Range header with HTTP OWS preflight test
  cors/cors-safelisted-request-header.any.js
Labels: fetch

#34384 Add range tests for blob
  fetch/range/blob.any.js
Labels: fetch, status:needs-spec-decision

#38511 Screen orientation lock: remove bad 'hidden' tests
  screen-orientation/hidden_document.html
Labels: screen-orientation, wg-s_webapps

#38437 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=251194
  fetch/api/headers/header-setcookie.any.js
Labels: fetch, webkit-export

#38587 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252536
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-backdrop-opacity-ref.html
  html/semantics/interactive-elements/the-dialog-element/modal-dialog-backdrop-opacity.html
Labels: html, webkit-export

#38618 Disable tests that use hypothesis on Python 3.10
  tools/manifest/tests/test_manifest.py
Labels: infra, manifest

#38640 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252692
  html/semantics/popovers/popover-beforetoggle-opening-event.html
Labels: html, webkit-export

#38643 Avoid fuzziness in simple-bg-color-ref.html with crisp image rendering
  css/css-backgrounds/hidpi/simple-bg-color-ref.html
Labels: css-backgrounds

#36268 fix(fetch): add missing duplex option
  fetch/api/abort/general.any.js
Labels: fetch

#38636 dom, domxpath: Update lookupNamespaceURI() and createNSResolver()
  dom/nodes/Node-lookupNamespaceURI.html
  domxpath/xpathevaluatorbase-creatensresolver.html
Labels: dom, domxpath, wg-dom, do not merge yet

#38473 Made text-align-end-016 and text-align-end-017 more accurate
  css/css-text/text-align/reference/text-align-end-ref-016.html
  css/css-text/text-align/reference/text-align-end-ref-017.html
  css/css-text/text-align/text-align-end-016.html
  css/css-text/text-align/text-align-end-017.html
Labels: css-text

#38624 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252627
  css/css-images/image-set/image-set-parsing.html
Labels: css-images, webkit-export

#38655 URL: URLSearchParams's size
  url/urlsearchparams-size.any.js
Labels: url

#38652 BiDI: Align node serialization with spec
  webdriver/tests/bidi/script/call_function/result_node.py
  webdriver/tests/bidi/script/evaluate/result_node.py
Labels: webdriver-bidi

#38675 URL: Fix undefined error in URLSearchParams size
  url/urlsearchparams-size.any.js
Labels: url

#38670 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252656
  css/css-masking/animations/mask-image-interpolation.html
Labels: wg-css, css-masking, webkit-export

#38672 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252808
  css/css-properties-values-api/animation/custom-property-animation-used-in-shorthand.html
Labels: webkit-export, css-properties-values-api

#38526 Add `image-set` parsing test cases.
  css/css-images/image-set/image-set-parsing.html
Labels: css-images, webkit-export

#38689 Make URL for resources/module1.js unique across tests in preload/modulepreload.html
  preload/modulepreload.html
Labels: wg-webperf, preload

#38662 [image-set] Don't expect an image to render if there are no supported types in the image-set
  css/css-images/image-set/image-set-type-unsupported-rendering-2.html
  css/css-images/image-set/image-set-type-unsupported-rendering.html
Labels: css-images

#38693 Make URL for resources/dummy.js unique across tests in preload/modulepreload.html
  preload/modulepreload.html
Labels: wg-webperf, preload

#38708 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252900
  html/semantics/forms/constraints/input-maxlength-emoji.html
Labels: html, webkit-export

#38711 URL: add escape quotes in pathname test
  url/resources/urltestdata.json
Labels: url

#38715 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252928
  css/css-nesting/nesting-basic-ref.html
  css/css-nesting/nesting-basic.html
Labels: webkit-export, css-nesting

#38678 [webnn] Update float32 averagePool2d tests to avoid catastrophic cancellation
  webnn/resources/test_data/average_pool2d.json
Labels: webnn, wg-s_webmachinelearning

#38700 [webnn] Update float32 conv2d tests to avoid catastrophic cancellation
  webnn/resources/test_data/conv2d.json
Labels: webnn, wg-s_webmachinelearning

#38680 [webnn] Update float32 softmax tests to avoid catastrophic cancellation
  webnn/resources/test_data/softmax.json
Labels: webnn, wg-s_webmachinelearning

#38679 [webnn] Update float32 matmul tests to avoid catastrophic cancellation
  webnn/resources/test_data/matmul.json
Labels: webnn, wg-s_webmachinelearning

#38677 [webnn] Update float32 gemm tests to avoid catastrophic cancellation
  webnn/resources/test_data/gemm.json
Labels: mozilla:gecko-blocked, webnn, wg-s_webmachinelearning

#38718 [webnn] Update float32 convTranspose2d tests to avoid catastrophic cancellation
  webnn/resources/test_data/conv_transpose2d.json
Labels: webnn, wg-s_webmachinelearning
