Repository web-platform-tests/wpt, pull requests merged in 2023-09, with the labels that each got.

#41753 Add fuzzy data to position-sticky-hyperlink.html
  css/css-position/sticky/position-sticky-hyperlink.html
Labels: css-position

#41730 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=246911
  css/css-typed-om/the-stylepropertymap/properties/font-variant-emoji.html
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, css-typed-om, webkit-export

#41735 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260901
  workers/modules/resources/dynamic-import-remote-origin-credentials-checker-worker.sub.js
  workers/modules/resources/dynamic-import-remote-origin-script-worker.sub.js
  workers/modules/resources/static-import-remote-origin-credentials-checker-worker.sub.js
  workers/modules/resources/static-import-remote-origin-script-worker.sub.js
Labels: workers, webkit-export, wg-s_htmlwg

#41737 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=260900
  wasm/webapi/esm-integration/worker.tentative.html
Labels: wasm, webkit-export

#37452 Fix #37451. Adds tests for invalid pseudo-element
  css/cssom/getComputedStyle-pseudo.html
Labels: wg-css, cssom

#41521 WAI-ARIA role tests: button
  wai-aria/role/button-roles.html
Labels: wai-aria, wg-wai_pf

#41685 CORE-AAM: update mapping of aria-haspopup on Mac
  core-aam/aria-haspopup_dialog-manual.html
  core-aam/aria-haspopup_listbox-manual.html
  core-aam/aria-haspopup_menu-manual.html
  core-aam/aria-haspopup_tree-manual.html
  core-aam/aria-haspopup_true-manual.html
Labels: core-aam

#41765 Fix PlacementAmongFloats to avoid missing some bands
  css/CSS2/floats/floats-wrap-bfc-008.html
Labels: wg-css, CSS2, servo-export

#41772 text-space-collapse has been renamed to white-space-collapse
  css/css-text/white-space/reference/white-space-collapse-discard-001-ref.xht
  css/css-text/white-space/reference/white-space-collapse-preserve-breaks-001-ref.xht
  css/css-text/white-space/white-space-collapse-discard-001.xht
  css/css-text/white-space/white-space-collapse-preserve-breaks-001.xht
Labels: css-text

#41773 [css-text] balance is not a value of white-space
  css/css-text/parsing/white-space-shorthand.html
Labels: css-text

#41774 grammar of text-wrap has changed
  css/css-text/parsing/text-wrap-invalid.html
  css/css-text/parsing/text-wrap-valid.html
Labels: css-text

#41775 Correct grammar tests of hyphenate-character
  css/css-text/parsing/hyphenate-character-invalid.html
Labels: css-text

#41776 Fix test description
  css/css-text/parsing/hyphenate-limit-chars-invalid.html
Labels: css-text

#41778 Property renamed
  css/css-text/white-space/reference/white-space-trim-discard-inner-001-ref.xht
  css/css-text/white-space/white-space-trim-discard-inner-001.xht
Labels: css-text

#41779 test more valid options in the grammar of text-autospace
  css/css-text/parsing/text-autospace-valid.html
Labels: css-text

#41782 Fix html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html
  html/semantics/embedded-content/media-elements/location-of-the-media-resource/currentSrc.html
Labels: html

#41781 HTML: "gopher" is no longer a special scheme
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#41783 HTML: correct worker URL encoding tests
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resource.py
Labels: html

#41785 HTML: search setter always uses UTF-8
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#41784 HTML: correct URL encoding loading tests for windows-1251
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resource.py
Labels: html

#41764 Update expectations for webauthn infrastructure tests for Firefox
  infrastructure/metadata/infrastructure/testdriver/virtual_authenticator.html.ini
Labels: infra, wptrunner, mozilla:gecko-blocked

#41480 Ensure we copy mutable kwargs when constructing browser_args.
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/firefox_android.py
Labels: infra, webdriver, wg-testing_browser, status:needs-reviewers, wptrunner, mozilla:gecko-blocked

#41733 HTML: rendering of <embed hidden> and <embed hidden=until-found>
  html/rendering/non-replaced-elements/hidden-elements.html
Labels: html

#41760 Test Web Compatibility requirements for implementation-defined locale-specific ECMAScript APIs
  ecmascript/README.md
  ecmascript/locale-compat.html
Labels: status:needs-reviewers, ecmascript

#41821 Meta: remove zqzhang as reviewer
  FileAPI/META.yml
  IndexedDB/META.yml
  common/META.yml
  cors/META.yml
  dom/META.yml
  domxpath/META.yml
  eventsource/META.yml
  html/META.yml
  images/META.yml
  presentation-api/META.yml
  resource-timing/META.yml
  touch-events/META.yml
  uievents/META.yml
  webmessaging/META.yml
  websockets/META.yml
  webstorage/META.yml
  workers/META.yml
Labels: html, dom, webstorage, FileAPI, IndexedDB, domxpath, eventsource, webmessaging, websockets, workers, assets, resource-timing, wg-webapps, wg-webperf, wg-webevents, touch-events, fetch, uievents, presentation-api, wg-secondscreen, wg-dom, wg-s_htmlwg, wg-s_webapps

#41741 Update Storage Access API tests
  storage-access-api/helpers.js
  storage-access-api/requestStorageAccess-cross-origin-iframe-navigation.sub.https.window.js
  storage-access-api/requestStorageAccess-cross-site-sibling-iframes.sub.https.window.js
  storage-access-api/requestStorageAccess-insecure.sub.window.js
  storage-access-api/requestStorageAccess-non-fully-active.sub.https.window.js
  storage-access-api/resources/set-cookie-header.py
Labels: storage-access-api

#41823 WebKit export: motion path test updates (part 2)
  css/motion/offset-path-shape-circle-001.html
  css/motion/offset-path-shape-circle-004.html
  css/motion/offset-path-shape-polygon-001.html
Labels: motion

#41758 Correct worker test for unsupported: scheme
  workers/constructors/SharedWorker/same-origin.html
  workers/constructors/Worker/same-origin.html
Labels: workers, wg-s_htmlwg

#41824 https://w3c.github.io/webcodecs/#clone-configuration needs to copy codec specific fields
  webcodecs/video-encoder-config.https.any.js
Labels: status:needs-reviewers, wg-media, webcodecs

#41200 Add a workaround for smooth scroll operations.
  css/cssom-view/scroll-behavior-main-frame-root.html
  css/cssom-view/scroll-behavior-main-frame-window.html
Labels: wg-css, cssom-view

#41793 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261099
  webcodecs/video-decoder.https.any.js
  webcodecs/video-encoder-config.https.any.js
Labels: webkit-export, wg-media, webcodecs

#41819 window.clientInformation is Replaceable
  html/webappapis/system-state-and-capabilities/the-navigator-object/clientinformation.window.js
Labels: html

#41840 Use the standard-compliant forbidden character '^' as an invalid URL.
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, docs, wptrunner

#41861 Workers module scripts should use hosts[alt][] instead of hosts[alt][0]
  workers/modules/resources/dynamic-import-remote-origin-credentials-checker-worker.sub.js
  workers/modules/resources/static-import-remote-origin-credentials-checker-worker.sub.js
  workers/modules/resources/static-import-remote-origin-script-worker.sub.js
Labels: workers, wg-s_htmlwg

#41890 Remove results file accidentally committed in #35827
  runner-results.json
Labels: infra

#41894 Fetch: ensure UTF-8 is used for the URL parser
  fetch/api/basic/url-parsing.sub.html
Labels: fetch

#41903 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261382
  css/selectors/invalidation/input-pseudo-classes-in-has.html
Labels: selectors, webkit-export

#41902 Test that `[Replaceable]` setter throws TypeError if fails to reconfigure the property
  webidl/ecmascript-binding/replaceable-setter-throws-if-defineownproperty-fails.html
Labels: webidl

#41898 Remove L1T2 from webcodecs/reconfiguring-encoder.https.any.js
  webcodecs/reconfiguring-encoder.https.any.js
Labels: status:needs-reviewers, wg-media, webcodecs

#41636 Add reviewers for webcodecs
  webcodecs/META.yml
Labels: status:needs-reviewers, wg-media, webcodecs

#40301 [Azure Pipelines] Don't install virtualenv
  .azure-pipelines.yml
  tools/ci/azure/affected_tests.yml
Labels: infra, ci, Azure Pipelines

#41580 [WebDriver BiDi] Split DnD mouse tests
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/bidi/input/perform_actions/pointer_mouse_drag.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#41897 [wptrunner] Speed up `wptserve` startup
  tools/wptrunner/wptrunner/environment.py
  tools/wptserve/wptserve/handlers.py
Labels: infra, wptserve, wptrunner

#41920 Restart browser for new subsuites
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#40872 [wdspec] bidi: print: add tests for content area with less than 1x1 point
  webdriver/tests/bidi/browsing_context/print/background.py
  webdriver/tests/bidi/browsing_context/print/invalid.py
  webdriver/tests/bidi/browsing_context/print/margin.py
  webdriver/tests/support/image.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#41937 fix: ensure that globalThis.self has been defined in shadow realm
  tools/serve/serve.py
Labels: infra, serve

#41949 Make the AVIF test images render larger
  avif/animated-avif-timeout-ref.html
  avif/animated-avif-timeout.html
Labels: status:needs-reviewers, avif

#41954 Enable shadowrealm testing for compression api
  compression/compression-bad-chunks.tentative.any.js
  compression/compression-constructor-error.tentative.any.js
  compression/compression-including-empty-chunk.tentative.any.js
  compression/compression-large-flush-output.any.js
  compression/compression-multiple-chunks.tentative.any.js
  compression/compression-output-length.tentative.any.js
  compression/compression-stream.tentative.any.js
  compression/compression-with-detach.tentative.window.js
  compression/decompression-bad-chunks.tentative.any.js
  compression/decompression-buffersource.tentative.any.js
  compression/decompression-constructor-error.tentative.any.js
  compression/decompression-correct-input.tentative.any.js
  compression/decompression-corrupt-input.tentative.any.js
  compression/decompression-empty-input.tentative.any.js
  compression/decompression-split-chunk.tentative.any.js
  compression/decompression-uint8array-output.tentative.any.js
  compression/decompression-with-detach.tentative.window.js
Labels: compression

#41963 Revert "Remove chromium log formatter"
  tools/wptrunner/wptrunner/formatters/chromium.py
  tools/wptrunner/wptrunner/formatters/tests/test_chromium.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#41882 getComputedStyle works in hidden c-v subtree
  css/css-contain/content-visibility/content-visibility-091.html
Labels: css-contain

#41957 fix #41956. Remove the auto value from alignment-baseline
  css/css-variables/variable-presentation-attribute.html
Labels: wg-css, css-variables

#41972 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261532
  css/css-transforms/backface-visibility-hidden-002.html
  css/css-transforms/backface-visibility-hidden-003-ref.html
  css/css-transforms/backface-visibility-hidden-003.html
  css/css-transforms/backface-visibility-hidden-003.tentative.html
  css/css-transforms/backface-visibility-hidden-004.html
  css/css-transforms/backface-visibility-hidden-004.tentative.html
  css/css-transforms/backface-visibility-hidden-005.html
  css/css-transforms/backface-visibility-hidden-005.tentative.html
  css/css-transforms/backface-visibility-hidden-animated-002.html
Labels: css-transforms, webkit-export

#41814 [WebDriver BiDi] `userPromptOpened` supports `defaultValue`
  webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
Labels: webdriver-bidi

#41968 Enable shadowrealm testing for encoding api
  encoding/api-basics.any.js
  encoding/api-surrogates-utf8.any.js
  encoding/iso-2022-jp-decoder.any.js
  encoding/streams/backpressure.any.js
  encoding/streams/decode-attributes.any.js
  encoding/streams/decode-bad-chunks.any.js
  encoding/streams/decode-non-utf8.any.js
  encoding/streams/readable-writable-properties.any.js
  encoding/textdecoder-arguments.any.js
  encoding/textdecoder-byte-order-marks.any.js
  encoding/textdecoder-fatal-streaming.any.js
  encoding/textdecoder-fatal.any.js
  encoding/textdecoder-ignorebom.any.js
  encoding/textdecoder-utf16-surrogates.any.js
  encoding/textencoder-utf16-surrogates.any.js
Labels: encoding

#41946 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261421
  css/css-grid/parsing/grid-template-node-not-connected.html
Labels: css-grid, webkit-export

#41973 [wptrunner] Add debugger support for `content_shell`
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/content_shell.py
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#41924 Support fully parallel in Wptrunner
  tools/lint/lint.py
  tools/manifest/manifest.py
  tools/manifest/mputil.py
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, lint, manifest, wpt, wptrunner, mypy.ini, mozilla:gecko-blocked, executive.py

#41933 relative color syntax tests with currentColor
  css/css-color/parsing/color-valid-relative-color.html
  css/css-color/relative-currentcolor-a98rgb-01.html
  css/css-color/relative-currentcolor-displayp3-01.html
  css/css-color/relative-currentcolor-hsl-01.html
  css/css-color/relative-currentcolor-hsl-02.html
  css/css-color/relative-currentcolor-hwb-01.html
  css/css-color/relative-currentcolor-lab-01.html
  css/css-color/relative-currentcolor-lch-01.html
  css/css-color/relative-currentcolor-oklab-01.html
  css/css-color/relative-currentcolor-oklch-01.html
  css/css-color/relative-currentcolor-prophoto-01.html
  css/css-color/relative-currentcolor-rec2020-01.html
  css/css-color/relative-currentcolor-rec2020-02.html
  css/css-color/relative-currentcolor-rgb-01.html
  css/css-color/relative-currentcolor-rgb-02.html
  css/css-color/relative-currentcolor-xyzd50-01.html
  css/css-color/relative-currentcolor-xyzd65-01.html
  css/css-color/relative-green-ref.html
  css/css-color/relative-rec2020-ref.html
Labels: css-color

#39774 docs: Fix testdriver docs, merge duplicated API documentation.
  docs/writing-tests/testdriver.md
  resources/testdriver.js
Labels: infra, docs, testdriver.js

#41984 Enable shadowrealm testing for streams api
  streams/piping/general-addition.any.js
  streams/piping/throwing-options.any.js
  streams/piping/transform-streams.any.js
  streams/queuing-strategies.any.js
  streams/readable-byte-streams/bad-buffers-and-views.any.js
  streams/readable-byte-streams/enqueue-with-detached-buffer.any.js
  streams/readable-byte-streams/non-transferable-buffers.any.js
  streams/readable-byte-streams/respond-after-enqueue.any.js
  streams/readable-streams/bad-strategies.any.js
  streams/readable-streams/bad-underlying-sources.any.js
  streams/readable-streams/constructor.any.js
  streams/readable-streams/count-queuing-strategy-integration.any.js
  streams/readable-streams/floating-point-total-queue-size.any.js
  streams/readable-streams/patched-global.any.js
  streams/transferable/transform-stream-members.any.js
  streams/transform-streams/errors.any.js
  streams/transform-streams/lipfuzz.any.js
  streams/transform-streams/patched-global.any.js
  streams/transform-streams/properties.any.js
  streams/writable-streams/bad-strategies.any.js
  streams/writable-streams/byte-length-queuing-strategy.any.js
  streams/writable-streams/constructor.any.js
  streams/writable-streams/count-queuing-strategy.any.js
  streams/writable-streams/error.any.js
  streams/writable-streams/floating-point-total-queue-size.any.js
  streams/writable-streams/general.any.js
  streams/writable-streams/properties.any.js
Labels: streams

#41986 Enable shadowrealm testing for wasm api
  wasm/jsapi/constructor/toStringTag.any.js
  wasm/jsapi/exception/toString.tentative.any.js
  wasm/jsapi/global/toString.any.js
  wasm/jsapi/global/value-get-set.any.js
  wasm/jsapi/global/valueOf.any.js
  wasm/jsapi/table/length.any.js
  wasm/jsapi/table/toString.any.js
  wasm/jsapi/tag/toString.tentative.any.js
Labels: wasm

#41987 Enable shadowrealm testing for wasm api (tests with dependencies)
  wasm/jsapi/assertions.js
  wasm/jsapi/bad-imports.js
  wasm/jsapi/constructor/compile.any.js
  wasm/jsapi/constructor/instantiate-bad-imports.any.js
  wasm/jsapi/constructor/instantiate.any.js
  wasm/jsapi/constructor/multi-value.any.js
  wasm/jsapi/constructor/validate.any.js
  wasm/jsapi/exception/basic.tentative.any.js
  wasm/jsapi/exception/constructor.tentative.any.js
  wasm/jsapi/exception/getArg.tentative.any.js
  wasm/jsapi/exception/identity.tentative.any.js
  wasm/jsapi/exception/is.tentative.any.js
  wasm/jsapi/function/call.tentative.any.js
  wasm/jsapi/function/constructor.tentative.any.js
  wasm/jsapi/function/table.tentative.any.js
  wasm/jsapi/function/type.tentative.any.js
  wasm/jsapi/global/constructor.any.js
  wasm/jsapi/global/type.tentative.any.js
  wasm/jsapi/instance/constructor-bad-imports.any.js
  wasm/jsapi/instance/constructor-caching.any.js
  wasm/jsapi/instance/constructor.any.js
  wasm/jsapi/instance/exports.any.js
  wasm/jsapi/instance/toString.any.js
  wasm/jsapi/instanceTestFactory.js
  wasm/jsapi/interface.any.js
  wasm/jsapi/memory/constructor-shared.tentative.any.js
  wasm/jsapi/memory/constructor-types.tentative.any.js
  wasm/jsapi/memory/constructor.any.js
  wasm/jsapi/memory/grow.any.js
  wasm/jsapi/memory/type.tentative.any.js
  wasm/jsapi/module/constructor.any.js
  wasm/jsapi/module/customSections.any.js
  wasm/jsapi/module/exports.any.js
  wasm/jsapi/module/imports.any.js
  wasm/jsapi/module/toString.any.js
  wasm/jsapi/prototypes.any.js
  wasm/jsapi/table/constructor-types.tentative.any.js
  wasm/jsapi/table/constructor.any.js
  wasm/jsapi/table/get-set.any.js
  wasm/jsapi/table/grow.any.js
  wasm/jsapi/table/type.tentative.any.js
  wasm/jsapi/tag/constructor.tentative.any.js
  wasm/jsapi/tag/type.tentative.any.js
  wasm/jsapi/wasm-module-builder.js
Labels: infra, wasm, testharness.js

#41997 Avoid asserting default sizes in {progress,meter}-native-computed-style.optional.html writing mode tests
  css/css-writing-modes/forms/meter-appearance-native-computed-style.optional.html
  css/css-writing-modes/forms/progress-appearance-native-computed-style.optional.html
Labels: css-writing-modes

#42015 [css-ui] Update to the latest grammar
  css/css-ui/inheritance.html
  css/css-ui/outline-006.html
  css/css-ui/parsing/outline-color-computed.html
  css/css-ui/parsing/outline-color-invalid.html
  css/css-ui/parsing/outline-color-valid-optional.html
  css/css-ui/parsing/outline-color-valid.html
  css/css-ui/parsing/outline-invalid.html
  css/css-ui/parsing/outline-valid-optional.html
  css/css-ui/parsing/outline-valid.html
Labels: wg-css, css-ui

#41852 Apply changes from code review comments.
  remote-playback/README.md
  remote-playback/cancel-watch-availability.html
  remote-playback/disable-remote-playback-cancel-watch-availability-throws.html
  remote-playback/disable-remote-playback-prompt-throws.html
  remote-playback/disable-remote-playback-watch-availability-throws.html
  remote-playback/event-handlers-manual.html
  remote-playback/prepare-device.js
  remote-playback/prompt-and-cancel-selection-manual.html
  remote-playback/prompt-and-select-device-manual.html
  remote-playback/prompt-and-watch-availability-no-device-manual.html
  remote-playback/prompt-and-watch-availability-with-device-manual.html
  remote-playback/remote-video-control-pausing-manual.html
  remote-playback/remote-video-control-seek-manual.html
  remote-playback/remote-video-playback-manual.html
  remote-playback/state-attribute-changes-when-selecting-device-manual.html
  remote-playback/state-attribute-changes-with-event-handlers-manual.html
  remote-playback/watch-availability-callback-parameter.html
  remote-playback/watch-availability-initial-callback.html
  remote-playback/watch-availability-promise-return-callback-id.html
Labels: wg-secondscreen, remote-playback, status:needs-reviewers, mozilla:gecko-blocked

#40600 [webaudio] Add test for defaultValue property of an AudioParam
  webaudio/the-audio-api/the-audioparam-interface/audioparam-default-value.html
Labels: webaudio, wg-s_audio

#41320 docs Dockerfile: Use python:3.11 base image
  docs/Dockerfile
Labels: docs

#40898 HTML: infinite_backtracking.html should be tentative
  html/semantics/forms/constraints/infinite_backtracking.tentative.html
Labels: html

#42005 Enable shadowrealm testing for streams api (tests with dependencies)
  streams/piping/abort.any.js
  streams/piping/close-propagation-backward.any.js
  streams/piping/close-propagation-forward.any.js
  streams/piping/error-propagation-backward.any.js
  streams/piping/error-propagation-forward.any.js
  streams/piping/flow-control.any.js
  streams/piping/general.any.js
  streams/piping/multiple-propagation.any.js
  streams/piping/pipe-through.any.js
  streams/piping/then-interception.any.js
  streams/readable-byte-streams/construct-byob-request.any.js
  streams/readable-byte-streams/general.any.js
  streams/readable-byte-streams/tee.any.js
  streams/readable-streams/async-iterator.any.js
  streams/readable-streams/cancel.any.js
  streams/readable-streams/default-reader.any.js
  streams/readable-streams/from.any.js
  streams/readable-streams/garbage-collection.any.js
  streams/readable-streams/general.any.js
  streams/readable-streams/owning-type-message-port.any.js
  streams/readable-streams/owning-type-video-frame.any.js
  streams/readable-streams/owning-type.any.js
  streams/readable-streams/reentrant-strategies.any.js
  streams/readable-streams/tee.any.js
  streams/readable-streams/templated.any.js
  streams/transferable/transform-stream-members.any.js
  streams/transform-streams/backpressure.any.js
  streams/transform-streams/flush.any.js
  streams/transform-streams/general.any.js
  streams/transform-streams/reentrant-strategies.any.js
  streams/transform-streams/strategies.any.js
  streams/transform-streams/terminate.any.js
  streams/writable-streams/aborting.any.js
  streams/writable-streams/bad-underlying-sinks.any.js
  streams/writable-streams/close.any.js
  streams/writable-streams/reentrant-strategy.any.js
  streams/writable-streams/start.any.js
  streams/writable-streams/write.any.js
Labels: streams

#42033 Fix a typo in multi-line-column-flex-fragmentation-049.html
  css/css-break/flexbox/multi-line-column-flex-fragmentation-049.html
Labels: css-break

#41736 Make the test never depend on the specific behavior of WebKit and Blink
  custom-elements/reactions/Document.html
Labels: custom-elements, wg-webplatform

#41771 WebCryptoAPI: use all public usages combinations for import tests
  WebCryptoAPI/import_export/ec_importKey.https.any.js
  WebCryptoAPI/import_export/okp_importKey.https.any.js
  WebCryptoAPI/import_export/rsa_importKey.https.any.js
  WebCryptoAPI/import_export/symmetric_importKey.https.any.js
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#42044 Fix #42043, test all redirect status codes
  xhr/send-redirect.htm
Labels: xhr

#42038 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261576
  css/css-grid/parsing/grid-row-invalid.html
  css/css-grid/parsing/grid-row-shortest-serialization.html
  css/css-grid/parsing/grid-row-shorthand.html
Labels: css-grid, webkit-export

#42041 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261665
  css/filter-effects/backdrop-filters-brightness.html
  css/filter-effects/backdrop-filters-contrast.html
  css/filter-effects/backdrop-filters-invert.html
  css/filter-effects/backdrop-filters-saturate.html
Labels: wg-css, filter-effects, webkit-export

#41948 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261486
  css/compositing/root-element-background-image-transparency-001-ref.html
  css/compositing/root-element-background-image-transparency-001.html
  css/compositing/root-element-background-image-transparency-002.html
  css/compositing/root-element-background-image-transparency-003.html
  css/compositing/root-element-background-image-transparency-004.html
  css/compositing/support/transform-triangle-left.svg
Labels: wg-svg, wg-css, compositing, webkit-export

#42069 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261708
  css/compositing/compositing_simple_div-ref.html
  css/compositing/compositing_simple_div.html
  css/compositing/mix-blend-mode/mix-blend-mode-root-element-group-ref.html
  css/compositing/mix-blend-mode/mix-blend-mode-root-element-group.html
Labels: wg-svg, wg-css, compositing, webkit-export

#42070 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261575
  css/css-grid/parsing/grid-column-invalid.html
  css/css-grid/parsing/grid-column-shortest-serialization.html
  css/css-grid/parsing/grid-column-shorthand.html
Labels: css-grid, webkit-export

#40498 Add a lint rule for /> syntax on non-void HTML elements
  lint.ignore
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint

#42072 [wptrunner] Fix missing tests in `SingleTestSource.tests_by_group(...)`
  tools/wptrunner/wptrunner/testloader.py
Labels: infra, wptrunner

#42052 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261437
  css/motion/offset-path-shape-inset-002.html
  css/motion/offset-path-shape-rect-002.html
  css/motion/offset-path-shape-xywh-002.html
Labels: motion, webkit-export

#42049 HTML: align XHR URL encoding expectations with the specification
  html/infrastructure/urls/resolving-urls/query-encoding/resources/resolve-url.js
Labels: html

#40992 [WebDriver BiDi] Use Meta instead of OS
  webdriver/tests/support/keys.py
Labels: webdriver, wg-testing_browser

#42108 Include more in sysdiagnoses on macOS
  tools/ci/azure/sysdiagnose.yml
Labels: infra, ci, Azure Pipelines

#42100 [docs] Remove myself from the admin docs
  docs/admin/index.md
Labels: docs

#42109 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261871
  fonts/CanvasTest-ascent256.ttf
  fonts/CanvasTest-descent0.ttf
  fonts/CanvasTest.ttf
Labels: assets, webkit-export

#42008 Update Microsoft Edge Chromium Browser classes
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wpt/tests/test_browser.py
  tools/wptrunner/wptrunner/browsers/edgechromium.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executoredge.py
Labels: infra, wpt, wptrunner

#42112 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=258585
  css/css-masking/parsing/mask-position-valid.html
  css/cssom/serialize-values.html
Labels: wg-css, cssom, css-masking, webkit-export

#42004 Ensure everywhere we log a traceback it says where it is from
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#34289 Add async condition support to step_wait_func
  resources/test/tests/functional/step_wait.html
  resources/testharness.js
Labels: infra, testharness.js

#42116 Set original error as context when raising a different error
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwktr.py
  tools/wptrunner/wptrunner/update/state.py
Labels: infra, wptrunner

#42117 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261929
  css/support/color-testcommon.js
Labels: support, webkit-export

#42121 Update fuzzy data for shape-outside tests
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-032.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-036.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-037.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-038.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-042.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-043.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-044.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-048.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-050.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-054.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-032.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-036.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-037.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-038.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-039.html
  css/css-shapes/shape-outside/supported-shapes/inset/shape-outside-inset-020.html
  css/css-shapes/shape-outside/supported-shapes/inset/shape-outside-inset-023.html
  css/css-shapes/shape-outside/supported-shapes/inset/shape-outside-inset-024.html
Labels: wg-css, css-shapes

#42124 Add more content-visibility animation tests
  css/css-contain/content-visibility/content-visibility-animation-and-scroll-ref.html
  css/css-contain/content-visibility/content-visibility-animation-and-scroll.html
  css/css-contain/content-visibility/content-visibility-animation-becomes-visible-ref.html
  css/css-contain/content-visibility/content-visibility-animation-becomes-visible.html
  css/css-contain/content-visibility/content-visibility-animation-in-auto-subtree.html
Labels: css-contain

#42118 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259028
  html/user-activation/activation-trigger-pointerevent.html
Labels: html, webkit-export

#42131 Adjust fuzzy data for css-masking tests for Safari
  css/css-masking/clip-path/clip-path-borderBox-1e.html
  css/css-masking/clip-path/clip-path-inline-008.html
  css/css-masking/clip-path/clip-path-marginBox-1d.html
  css/css-masking/clip-path/clip-path-paddingBox-1e.html
  css/css-masking/mask-image/mask-opacity-1d.html
Labels: wg-css, css-masking

#42132 Update fuzzy data for mask-image-2.html
  css/css-masking/mask-image/mask-image-2.html
Labels: wg-css, css-masking

#42133 Tweak more css-masking fuzzy data
  css/css-masking/clip-path/clip-path-contentBox-1e.html
  css/css-masking/clip-path/clip-path-inline-008.html
  css/css-masking/clip-path/clip-path-rect-003.html
  css/css-masking/mask-image/mask-image-6.html
Labels: wg-css, css-masking

#42135 Update fuzzy data for mask-image-3h.html
  css/css-masking/mask-image/mask-image-3h.html
Labels: wg-css, css-masking

#42136 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=117231
  css/css-writing-modes/forms/button-appearance-native-computed-style.html
Labels: css-writing-modes, webkit-export

#42139 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=262009
  css/css-masking/parsing/clip-path-valid.html
Labels: wg-css, css-masking, webkit-export

#42130 Test more CSS properties in all-prop-revert-layer.html
  css/css-cascade/all-prop-revert-layer.html
Labels: css-cascade

#42157 Fix typo cobject -> object
  resources/testharness.js
Labels: infra, testharness.js

#42156 Fix missing link in docs
  docs/writing-tests/testharness-api.md
Labels: docs

#42122 Treat failure to stop Safari as critical
  tools/wptrunner/wptrunner/browsers/safari.py
Labels: infra, wptrunner

#41896 Add Ladybird WebDriver runner
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/ladybird.py
Labels: infra, wpt, wptrunner

#42119 Treat unrun tests as critical errors in TestRunnerManager.run
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#42142 Fix auto-scrollbars.html to allow laying out with or without scrollbars
  css/css-contain/container-queries/auto-scrollbars.html
Labels: css-contain

#42199 Fix the flakiness of iframe.tentative.https.window.html by increasing the timeout from 500ms to 2s
  fetch/private-network-access/resources/support.sub.js
Labels: fetch

#42129 [lint] Check variants for reftests
  tools/lint/lint.py
Labels: infra, lint

#40453 Streams: tests for `Transformer.cancel`
  streams/transform-streams/cancel.any.js
  streams/transform-streams/errors.any.js
  streams/transform-streams/flush.any.js
  streams/transform-streams/general.any.js
  streams/transform-streams/reentrant-strategies.any.js
Labels: streams

#42192 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=261802
  css/css-writing-modes/forms/select-multiple-options-visual-order.html
Labels: css-writing-modes, webkit-export

#42191 Add support for confirmidplogin
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#42123 Always collect a sysdiagnose regardless of success
  tools/ci/azure/sysdiagnose.yml
Labels: infra, ci, Azure Pipelines
