Repository web-platform-tests/wpt, pull requests merged in 2024-09, with the labels that each got.

#47915 Rename adjust-transform.tenative.html to adjust-transform.tentative.html
  css/css-view-transitions/nested/adjust-transform.tentative.html
Labels: status:needs-reviewers, css-view-transitions

#47917 More tests about (-webkit-)line-clamp and BFCs
  css/css-overflow/line-clamp/reference/webkit-line-clamp-047-ref.html
  css/css-overflow/line-clamp/webkit-line-clamp-047.html
Labels: wg-css, css-overflow

#47931 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=271248
  css/css-view-transitions/transition-in-hidden-page.html
  css/css-view-transitions/window-resize-aborts-transition-before-ready.html
  css/css-view-transitions/window-resize-aborts-transition.html
Labels: webkit-export, css-view-transitions

#47935 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279045
  css/css-view-transitions/navigation/pageswap-ctor.html
Labels: webkit-export, css-view-transitions

#47903 [wptrunner] Reland "Implement --leak-check for Blink-based browsers"
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#47896 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277739
  css/css-nesting/contextually-invalid-selectors.html
Labels: status:needs-reviewers, webkit-export, css-nesting

#47946 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278059
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-ref.html
Labels: css-grid, webkit-export

#47932 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277988
  css/css-transforms/animation/transform-interpolation-005.html
Labels: css-transforms, webkit-export

#47949 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279085
  css/css-transforms/animation/transform-interpolation-005.html
Labels: css-transforms, webkit-export

#47950 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278759
  css/css-view-transitions/navigation/mismatched-snapshot-containing-block-size-skips.html
Labels: webkit-export, css-view-transitions

#47963 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279087
  css/css-view-transitions/update-callback-called-once.html
Labels: webkit-export, css-view-transitions

#47960 Treat `align-self: normal` as `stretch` on flex items
  css/css-align/self-alignment/self-align-normal-flex.html
Labels: servo-export, css-align

#48000 [css-text-decor] Add test for omitted text-emphasis-position values
  css/css-text-decor/text-emphasis-position-default-001-ref.html
  css/css-text-decor/text-emphasis-position-default-001.html
Labels: css-text-decor

#48008 Additional innertext tests
  html/dom/elements/the-innertext-and-outertext-properties/getter-tests.js
Labels: html

#48029 Fix .content block-size in table-intrinsic-size-003.html
  css/css-tables/table-intrinsic-size-003.html
Labels: css-tables

#48021 layout: Do not use orthogonal baselines in flex layout
  css/css-flexbox/flexbox-align-self-baseline-compatability.html
Labels: wg-css, servo-export, css-flexbox

#48052 Fix reordering of table-header-group and table-footer-group
  css/CSS2/tables/table-footer-group-001.xht
  css/CSS2/tables/table-header-group-001.xht
  css/CSS2/tables/table-row-group-001-ref.xht
  css/CSS2/tables/table-row-group-001.xht
Labels: wg-css, CSS2, servo-export

#48030 [wptrunner] Stop the runner process before the browser
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#48069 Added more innerText tests for inline-flex / inline-grid handling
  html/dom/elements/the-innertext-and-outertext-properties/getter-tests.js
Labels: html

#48058 Fix aria-labelledby typo
  shadow-dom/reference-target/tentative/property-reflection.html
Labels: shadow-dom, wg-webplatform

#47958 [WebDriver BiDi] initial navigation `browsingContext.navigationStarted` tentative
  webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  webdriver/tests/bidi/browsing_context/navigation_started/navigation_started_initial_navigation_tentative.py
Labels: webdriver-bidi

#48040 Allow breaking line after space with `white-space: break-spaces`
  css/css-text/white-space/break-spaces-with-word-break-001.html
Labels: css-text, servo-export

#48075 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279374
  css/css-color/parsing/color-valid-color-function.html
  css/css-color/parsing/color-valid-hsl.html
  css/css-color/parsing/color-valid-hwb.html
  css/css-color/parsing/color-valid-lab.html
  css/css-color/parsing/color-valid-rgb.html
Labels: css-color

#48059 Mark tests failed with 500 disconnected error as crash
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, status:needs-reviewers, wptrunner

#48103 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279514
  css/css-transitions/KeyframeEffect-getKeyframes.tentative.html
Labels: css-transitions, webkit-export

#48099 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=271040
  css/css-conditional/container-queries/style-query-document-element.html
Labels: css-conditional, webkit-export

#46559 FileAPI: Remove FileReader from Blob reading utilities
  FileAPI/reading-data-section/filereader_readAsArrayBuffer.any.js
  FileAPI/support/Blob.js
Labels: FileAPI, wg-s_webapps

#48087 Trigger Safari & Safari Technology Preview runs after epochs
  .github/workflows/check-workflow-run.yml
  .github/workflows/epochs.yml
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
  tools/ci/check_for_updated_refs.py
  tools/ci/epochs_update.sh
  tools/ci/tests/test_check_for_updated_refs.py
Labels: infra, ci, GitHub Actions

#48041 Handle all `white-space` values when intrinsically sizing an IFC
  css/css-text/white-space/white-space-intrinsic-size-021.html
Labels: css-text, servo-export

#48112 Make the Safari workflows not be invalid workflow files
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
Labels: infra, GitHub Actions

#47939 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279012
  css/css-transitions/custom-property-and-allow-discrete.html
Labels: css-transitions, webkit-export

#48115 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279516
  css/css-transitions/custom-property-and-allow-discrete.html
Labels: css-transitions, webkit-export

#48129 [css-writing-modes] Add horizontal-tb variants for table progression
  css/css-writing-modes/table-progression-htb-001-ref.html
  css/css-writing-modes/table-progression-htb-001.html
  css/css-writing-modes/table-progression-htb-002-ref.html
  css/css-writing-modes/table-progression-htb-002.html
Labels: css-writing-modes

#48135 [css-writing-modes] Add more orthogonal writing-mode interference to table progression tests
  css/css-writing-modes/table-progression-slr-001.html
  css/css-writing-modes/table-progression-slr-002.html
  css/css-writing-modes/table-progression-srl-001.html
  css/css-writing-modes/table-progression-srl-002.html
  css/css-writing-modes/table-progression-vlr-001.html
  css/css-writing-modes/table-progression-vlr-002.html
  css/css-writing-modes/table-progression-vrl-001.html
  css/css-writing-modes/table-progression-vrl-002.html
Labels: css-writing-modes

#48134 Cleanup after #33396
  css/CSS2/floats/new-fc-beside-float-with-min-width.html
Labels: wg-css, CSS2, servo-export

#48146 Move test to the correct directory
  css/css-overflow/scrollbar-gutter-scroll-into-view-ref.html
  css/css-overflow/scrollbar-gutter-scroll-into-view.html
Labels: css-overflow

#48144 [WebCryptoAPI] test generateKey > exportKey roundtrip
  WebCryptoAPI/generateKey/successes.js
Labels: WebCryptoAPI, wg-webcrypto

#48182 [css-ruby] Add ruby-overhang parsing tests and inheritance test for ruby-merge
  css/css-ruby/inheritance.html
  css/css-ruby/parsing/ruby-overhang-invalid.html
  css/css-ruby/parsing/ruby-overhang-valid.html
Labels: css-ruby

#48181 [css-ruby] Fix ruby-merge-valid.html to actually test ruby-merge
  css/css-ruby/parsing/ruby-merge-valid.html
Labels: css-ruby

#48179 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278893
  css/css-ruby/ruby-overhang-ref.html
  css/css-ruby/ruby-overhang.html
Labels: css-ruby, webkit-export

#48185 Checkout tools/ before running a script in tools/ci
  .github/workflows/check-workflow-run.yml
Labels: mozilla:gecko-blocked, GitHub Actions

#48180 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278279
  css/css-inline/text-box-trim/text-box-trim-ignore-nested-text-box-edge-ref.html
  css/css-inline/text-box-trim/text-box-trim-ignore-nested-text-box-edge.html
Labels: webkit-export, css-inline

#47906 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278454
  html/canvas/element/compositing/2d.composite.full.mode.alpha-ref.html
  html/canvas/element/compositing/2d.composite.full.mode.alpha.html
Labels: html, webkit-export

#48177 Fixes #48176
  fullscreen/api/document-exit-fullscreen-twice.html
Labels: fullscreen

#48188 Fix indentation in check-workflow-run.yml
  .github/workflows/check-workflow-run.yml
Labels: mozilla:gecko-blocked, GitHub Actions

#48178 Exclude deleted file from wpt lint
  tools/wpt/testfiles.py
Labels: infra, status:needs-reviewers, wpt

#48190 Update for GitHub username change.
  presentation-api/controlling-ua/PresentationConnectionCloseEvent.https.html
  remote-playback/META.yml
Labels: presentation-api, wg-secondscreen, remote-playback

#48123 Add webdriver test for pointer_move action within an iframe
  webdriver/tests/bidi/input/perform_actions/pointer_mouse.py
  webdriver/tests/classic/perform_actions/pointer_mouse.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#48072 Increase websocket max size
  tools/webdriver/webdriver/bidi/transport.py
Labels: infra, webdriver, wg-testing_browser

#48193 Clear `self.pending_whitespace.max_content` in `forced_line_break()`
  css/css-text/white-space/white-space-intrinsic-size-021.html
Labels: css-text, servo-export

#48108 Make cicp-display-p3.png spec conformant
  png/support/cicp-display-p3.png
Labels: png, wg-s_png

#48035 Add compute pressure-related commands to testdriver
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#48117 Drop identity CredentialContainer, use navigator.credentials instead
  digital-credentials/create.tentative.https.html
  digital-credentials/default-permissions-policy.https.sub.html
  digital-credentials/disabled-by-permissions-policy.https.sub.html
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
  digital-credentials/get-user-activation.https.html
  digital-credentials/get.tentative.https.html
  digital-credentials/historical.any.js
  digital-credentials/support/iframe.html
  permissions-policy/resources/digital-credentials-get.html
Labels: permissions-policy, wg-s_webappsec, wg-cg_wicg, digital-credentials

#48202 Fix check-workflow-run to run unconditionally and read the right file
  .github/workflows/check-workflow-run.yml
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
Labels: GitHub Actions

#48211 Fix check-workflow-run to write its output correctly
  .github/workflows/check-workflow-run.yml
Labels: GitHub Actions

#48198 fix viewport test
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/browsing_context/set_viewport/viewport.py
Labels: webdriver-bidi

#47148 2D canvas color parsing and serialization
  html/canvas/color.window.js
Labels: html, status:needs-spec-decision

#48221 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279761
  encoding/legacy-mb-schinese/gb18030/gb18030-decoder.any.js
  encoding/legacy-mb-schinese/gb18030/gb18030-encoder.html
Labels: encoding, webkit-export

#48229 [css-inline-3] Fix no-op in text-box-trim-accumulation-001
  css/css-inline/text-box-trim/text-box-trim-accumulation-001.html
Labels: css-inline

#48227 [testdriver.js] Fix malformed action payloads
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, wptrunner

#48232 [css-inline-3] actually test end-edge
  css/css-inline/text-box-trim/text-box-trim-height-002-ref.html
  css/css-inline/text-box-trim/text-box-trim-height-002.html
Labels: css-inline

#48233 [css-inline-3] Revert e1462ff on text-box-trim-half-leading-block-box-001-ref.html
  css/css-inline/text-box-trim/text-box-trim-half-leading-block-box-001-ref.html
Labels: css-inline

#48206 Slit up Curve448 and Curve25519 import tests
  WebCryptoAPI/import_export/okp_importKey.https.any.js
  WebCryptoAPI/import_export/okp_importKey.js
  WebCryptoAPI/import_export/okp_importKey_Ed25519.https.any.js
  WebCryptoAPI/import_export/okp_importKey_Ed448.https.any.js
  WebCryptoAPI/import_export/okp_importKey_X25519.https.any.js
  WebCryptoAPI/import_export/okp_importKey_X448.https.any.js
  WebCryptoAPI/import_export/okp_importKey_fixtures.js
Labels: WebCryptoAPI, wg-webcrypto

#48207 Split Curve448 and Curve25519 sign / verify algorithms
  WebCryptoAPI/sign_verify/eddsa.js
  WebCryptoAPI/sign_verify/eddsa_curve25519.https.any.js
  WebCryptoAPI/sign_verify/eddsa_curve448.https.any.js
  WebCryptoAPI/sign_verify/eddsa_vectors.js
Labels: WebCryptoAPI, wg-webcrypto

#48250 Fix typo in webdriver docs
  resources/testdriver-actions.js
Labels: infra, testdriver.js

#48234 Remove Chrome Dev runs on new master commits
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#48255 Don't pass --enable-xss-auditor to webkitgtk_minibrowser
  tools/wptrunner/wptrunner/browsers/webkitgtk_minibrowser.py
Labels: infra, wptrunner

#48260 [WebDriver BiDi] `browsingContext.traverseHistory` only for top-level navigables
  webdriver/tests/bidi/browsing_context/traverse_history/context.py
  webdriver/tests/bidi/browsing_context/traverse_history/invalid.py
Labels: webdriver-bidi

#48122 layout: Ensure that `<caption>` supports `position: relative`
  css/css-tables/caption-relative-positioning.html
Labels: css-tables, servo-export

#47707 Move tests for transferable WebRTC data channel to main spec directory
  webrtc/transfer-datachannel-worker.js
  webrtc/transfer-datachannel.html
Labels: webrtc, wg-s_webrtc

#48195 Split up X25519 and X448 deriveBits tests
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_curve25519.https.any.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_curve448.https.any.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits_fixtures.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_keys.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_keys_curve25519.https.any.js
  WebCryptoAPI/derive_bits_keys/cfrg_curves_keys_curve448.https.any.js
Labels: WebCryptoAPI, wg-webcrypto

#48265 [wptrunner] Guard against no browser during `TestRunnerManager` cleanup
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#48267 Revert subtests removal for selection-direction.tentative.html
  selection/Selection-direction-on-clicks.tentative.html
  selection/shadow-dom/tentative/Selection-direction.html
Labels: selection

#48238 [wptrunner] Generalize WebDriver-based print-reftest implementation
  tools/webdriver/webdriver/client.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, webdriver, wg-testing_browser, wptrunner

#48278 Assert relative changes in `history.length` in `same-url.html`
  html/browsers/browsing-the-web/history-traversal/same-url.html
Labels: html

#47856 Adds a simple Navigational Tracking Mitigations test.
  nav-tracking-mitigations/META.yml
  nav-tracking-mitigations/resources/cross-origin-client-redirect-with-cookie-header.sub.https.html
  nav-tracking-mitigations/resources/cross-origin-client-redirect-with-cookie-header.sub.https.html.headers
  nav-tracking-mitigations/resources/cross-origin-get-cookie.sub.https.html
  nav-tracking-mitigations/resources/redirect-chain-end.sub.https.html
  nav-tracking-mitigations/resources/redirect-chain-start.sub.https.html
  nav-tracking-mitigations/stateful-client-bounce.sub.https.html
Labels: status:needs-reviewers, nav-tracking-mitigations, wg-cg_privacycg

#48240 Encoding: impact of GB18030-2022 on GBK
  encoding/legacy-mb-schinese/gbk/gbk-decoder.any.js
  encoding/legacy-mb-schinese/gbk/gbk-encoder.html
Labels: encoding

#47914 Test reference target usage via the options argument of attachShadow()
  shadow-dom/reference-target/tentative/anchor.html
  shadow-dom/reference-target/tentative/label-descendant.html
  shadow-dom/reference-target/tentative/popovertarget.html
  shadow-dom/reference-target/tentative/property-reflection.html
Labels: shadow-dom, wg-webplatform

#47587 Speculativly test :has-slotted()
  css/css-scoping/has-slotted-001.tentative.html
  css/css-scoping/has-slotted-002.tentative.html
  css/css-scoping/has-slotted-003.tentative.html
  css/css-scoping/has-slotted-004.tentative.html
  css/css-scoping/has-slotted-005.tentative.html
  css/css-scoping/has-slotted-006.tentative.html
  css/css-scoping/has-slotted-007.tentative.html
  css/css-scoping/has-slotted-flattened-001.tentative.html
  css/css-scoping/has-slotted-flattened-002.tentative.html
  css/css-scoping/has-slotted-flattened-003.tentative.html
  css/css-scoping/has-slotted-flattened-004.tentative.html
  css/css-scoping/has-slotted-flattened-005.tentative.html
  css/css-scoping/has-slotted-flattened-006.tentative.html
  css/css-scoping/has-slotted-flattened-007.tentative.html
  css/selectors/parsing/parse-has-slotted.tentative.html
Labels: selectors, css-scoping

#48243 Implement failure tests cases for the EC import operation
  WebCryptoAPI/import_export/ec_importKey_failures_ECDH.https.any.js
  WebCryptoAPI/import_export/ec_importKey_failures_ECDSA.https.any.js
  WebCryptoAPI/import_export/ec_importKey_failures_fixtures.js
  WebCryptoAPI/import_export/importKey_failures.js
  WebCryptoAPI/import_export/okp_importKey_failures_Ed25519.https.any.js
  WebCryptoAPI/import_export/okp_importKey_failures_Ed448.https.any.js
  WebCryptoAPI/import_export/okp_importKey_failures_X25519.https.any.js
  WebCryptoAPI/import_export/okp_importKey_failures_X448.https.any.js
  WebCryptoAPI/import_export/okp_importKey_failures_fixtures.js
Labels: WebCryptoAPI, wg-webcrypto

#48315 Fix inclusion of fetch_tests_from_{window,worker} into docs
  docs/writing-tests/testharness-api.md
Labels: docs

#48344 Bump aioquic to 1.2.0
  tools/webtransport/h3/webtransport_h3_server.py
  tools/webtransport/requirements.txt
  tools/wptrunner/requirements_chromium.txt
Labels: infra, wptrunner, webtransport, wg-s_webtransport

#48351 [webtransport] Suppress benign error from `StreamWriter.close()`
  tools/webtransport/h3/webtransport_h3_server.py
Labels: infra, webtransport, wg-s_webtransport

#46728 Scoped Custom Element Registry Define, Get, Etc
  custom-elements/scoped-registry/scoped-registry-registry-define-get-etc.tentative.html
Labels: custom-elements, wg-webplatform

#48354 Make ComputedValuesExt expose keywords for the sizing properties
  css/css-tables/fixed-layout-2.html
Labels: css-tables, servo-export

#48370 Simplify the computation of CAPMIN
  css/css-tables/caption-cyclic-percentage.html
Labels: css-tables, servo-export

#48372 Expand tests with deprecated values `reset` and `invalid` to validate
  css/css-viewport/zoom/parsing/zoom-valid.html
Labels: wg-css, css, css-viewport
