Repository web-platform-tests/wpt, pull requests merged in 2024-01, with the labels that each got.

#43836 CSS: more pseudo-element tests
  css/css-conditional/at-supports-selector-webkit-slider-thumb.tentative.html
  css/cssom/getComputedStyle-pseudo.html
Labels: wg-css, cssom, css-conditional

#43697 Test for a nested `:scope` inside an `:is()`
  css/css-cascade/scope-nesting.html
Labels: css-cascade

#43805 Support Chrome Canary trigger branch in Taskcluster
  .taskcluster.yml
Labels: Taskcluster

#43844 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267059
  css/css-animations/computed-style-animation-parsing.html
  css/css-animations/parsing/animation-computed.html
Labels: css-animations, webkit-export

#43855 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267005
  css/css-scroll-anchoring/focused-element-nested-anchor.html
Labels: css-scroll-anchoring, webkit-export

#43865 Remove myself from suggested reviewers
  css/css-flexbox/META.yml
  css/css-grid/META.yml
  css/css-ui/META.yml
Labels: wg-css, css-ui, css-grid, css-flexbox

#43853 [wdspec] Only resize and re-position window in session setup and teardown if needed
  webdriver/tests/bidi/browsing_context/set_viewport/invalid.py
  webdriver/tests/bidi/input/perform_actions/invalid.py
  webdriver/tests/bidi/script/call_function/invalid.py
  webdriver/tests/classic/element_clear/clear.py
  webdriver/tests/classic/fullscreen_window/stress.py
  webdriver/tests/classic/maximize_window/maximize.py
  webdriver/tests/classic/maximize_window/stress.py
  webdriver/tests/classic/minimize_window/minimize.py
  webdriver/tests/classic/minimize_window/stress.py
  webdriver/tests/classic/perform_actions/invalid.py
  webdriver/tests/classic/perform_actions/pointer_mouse.py
  webdriver/tests/classic/perform_actions/pointer_pen.py
  webdriver/tests/classic/perform_actions/pointer_touch.py
  webdriver/tests/classic/perform_actions/sequence.py
  webdriver/tests/classic/release_actions/sequence.py
  webdriver/tests/classic/set_window_rect/set.py
  webdriver/tests/support/fixtures.py
  webdriver/tests/support/helpers.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#43872 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267169
  css/selectors/parsing/invalid-pseudos.html
Labels: selectors, webkit-export

#43824 WebAudio: remove unused and incorrect resource
  webaudio/the-audio-api/the-audiobuffersourcenode-interface/sample-accurate-scheduling.html
Labels: webaudio, wg-s_audio

#43896 Add more tests for directionality of <bdi> element.
  html/dom/elements/global-attributes/dir-assorted.window.js
Labels: html

#43878 Add PNG eXIf chunk test
  png/exif-chunk.html
  png/support/exif-orientation-bottom-right.png
Labels: png, wg-s_png

#43877 [css-color-5] explicitely test that using rgb channel keywords in xyz is invalid
  css/css-color/parsing/color-invalid-relative-color.html
Labels: css-color

#43894 Fix for regression from PR 43853 that didn't obey minimized and fullscreen windows
  webdriver/tests/classic/new_session/default_values.py
  webdriver/tests/support/helpers.py
Labels: webdriver, wg-testing_browser, mozilla:gecko-blocked

#43931 [css-color-5] channel values of relative color syntax are numbers
  css/css-color/parsing/color-computed-relative-color.html
  css/css-color/parsing/color-invalid-relative-color.html
Labels: css-color

#43897 Add VideoTrackGenerator IDL tests
  mediacapture-insertable-streams/idlharness.any.js
Labels: status:needs-reviewers, mediacapture-insertable-streams

#42751 Add ARIA reflection tests for ariaBrailleLabel and ariaBrailleRoleDescription
  html/dom/aria-attribute-reflection.html
Labels: html, mozilla:gecko-blocked

#43932 [wptrunner] Do not index `wpttest.Test`, which is not subscriptable
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#43938 Remove testdriver.js from a test that doesn't use it
  html/semantics/forms/the-selectlist-element/selectlist-option-arbitrary-content-not-displayed.tentative.html
Labels: html

#43948 Clarify instructions for testing on a local machine
  docs/running-tests/chrome.md
  docs/running-tests/from-local-system.md
Labels: docs

#41932 [WebDriver BiDi] `addPreloadScript` supports contexts
  tools/webdriver/webdriver/bidi/modules/script.py
  webdriver/tests/bidi/script/add_preload_script/contexts.py
  webdriver/tests/bidi/script/add_preload_script/invalid.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, wg-testing_browser, mozilla:gecko-blocked, very-large, webdriver-bidi

#43968 [WebDriver BiDi] add `Storage.setCookie` test
  tools/webdriver/webdriver/bidi/client.py
  tools/webdriver/webdriver/bidi/modules/__init__.py
  tools/webdriver/webdriver/bidi/modules/network.py
  tools/webdriver/webdriver/bidi/modules/storage.py
  webdriver/tests/bidi/storage/__init__.py
  webdriver/tests/bidi/storage/conftest.py
  webdriver/tests/bidi/storage/set_cookie/__init__.py
  webdriver/tests/bidi/storage/set_cookie/set_cookie.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#43979 [testdriver] Detect testharness context lazily
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, wptrunner

#43966 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267355
  webrtc/RTCPeerConnection-GC.https.html
Labels: webrtc, webkit-export, wg-s_webrtc

#43970 Adding some reviewers to webrtc encoded transform tests
  webrtc-encoded-transform/META.yml
Labels: status:needs-reviewers, wg-s_webrtc, webrtc-encoded-transform

#43971 Add META.yml to mediacapture-insertable-streams folder and add some reviewers
  mediacapture-insertable-streams/META.yml
Labels: status:needs-reviewers, mediacapture-insertable-streams

#43956 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265288
  css/css-nesting/conditional-rules.html
Labels: status:needs-reviewers, webkit-export, css-nesting

#43969 Move webrtc-encoded-transform tests that are not aligned with the spec to a tentative folder
  webrtc-encoded-transform/tentative/RTCEncodedAudioFrame-clone.https.html
  webrtc-encoded-transform/tentative/RTCEncodedAudioFrame-receive-cloned.https.html
  webrtc-encoded-transform/tentative/RTCEncodedAudioFrame-send-incoming.https.html
  webrtc-encoded-transform/tentative/RTCEncodedAudioFrame-serviceworker-failure.https.html
  webrtc-encoded-transform/tentative/RTCEncodedVideoFrame-clone.https.html
  webrtc-encoded-transform/tentative/RTCEncodedVideoFrame-serviceworker-failure.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-audio.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-errors.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-simulcast.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-video-frames.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-video.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams-worker.https.html
  webrtc-encoded-transform/tentative/RTCPeerConnection-insertable-streams.js
  webrtc-encoded-transform/tentative/RTCPeerConnection-sender-worker-single-frame.js
  webrtc-encoded-transform/tentative/RTCPeerConnection-worker-transform.js
  webrtc-encoded-transform/tentative/resources/blank.html
  webrtc-encoded-transform/tentative/resources/serviceworker-failure.js
Labels: status:needs-reviewers, wg-s_webrtc, webrtc-encoded-transform

#41012 Add tests for Selection.toString() and text-transform
  css/css-text/text-transform/math/italic-mapping.js
  css/css-text/text-transform/math/text-transform-math-auto-003.html
  css/css-text/text-transform/text-transform-upperlower-107.html
  mathml/relations/css-styling/mathvariant-auto-selection.html
  mathml/tools/mathvariant-transforms.py
Labels: mathml, wg-math, css-text, status:needs-reviewers, mozilla:gecko-blocked

#43989 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=266614
  css/css-ui/parsing/resize-invalid.html
Labels: css-ui, webkit-export

#44005 Bump sphinx to the latest version to fix CI
  docs/requirements.txt
Labels: infra, docs

#43998 [WebDriver BiDi] `storage.setCookie` `path`
  tools/webdriver/webdriver/bidi/error.py
  webdriver/tests/bidi/storage/__init__.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path_invalid.py
Labels: infra, webdriver, wg-testing_browser, status:needs-reviewers, webdriver-bidi

#43684 [webnn] Add float32 tests for WebNN API layerNormalization op
  webnn/gpu/layer_normalization.https.any.js
  webnn/layer_normalization.https.any.js
  webnn/resources/test_data/layer_normalization.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43776 [webnn] Add float32 tests for WebNN API gather op
  webnn/gather.https.any.js
  webnn/gpu/gather.https.any.js
  webnn/resources/test_data/gather.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43795 Update reshape tests
  webnn/gpu/squeeze.https.any.js
  webnn/resources/test_data/reshape.json
  webnn/resources/test_data/squeeze.json
  webnn/resources/utils.js
  webnn/squeeze.https.any.js
Labels: webnn, wg-s_webmachinelearning

#44035 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267619
  css/css-view-transitions/parsing/view-transition-name-invalid.html
Labels: webkit-export, css-view-transitions

#43802 [wdspec] Add tests for permissions
  tools/webdriver/webdriver/bidi/client.py
  tools/webdriver/webdriver/bidi/modules/__init__.py
  tools/webdriver/webdriver/bidi/modules/permissions.py
  webdriver/tests/bidi/permissions/__init__.py
  webdriver/tests/bidi/permissions/set_permission/__init__.py
  webdriver/tests/bidi/permissions/set_permission/invalid.py
  webdriver/tests/bidi/permissions/set_permission/set_permission.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#44001 [WebDriver BiDi] default cookie `name` and `value`
  tools/webdriver/webdriver/bidi/modules/storage.py
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/storage/__init__.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path_invalid.py
  webdriver/tests/bidi/storage/set_cookie/page_protocols.py
  webdriver/tests/bidi/storage/set_cookie/partition.py
  webdriver/tests/bidi/storage/set_cookie/partition_context.py
  webdriver/tests/bidi/storage/set_cookie/partition_storage_key.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#44042 Add `type: "json"` to JSON module parser error test
  html/semantics/scripting-1/the-script-element/json-module-assertions/parse-error.html
  html/semantics/scripting-1/the-script-element/json-module/parse-error.html
Labels: html

#44045 [wdspec] Move permissions to external/
  webdriver/tests/bidi/external/permissions/__init__.py
  webdriver/tests/bidi/external/permissions/set_permission/__init__.py
  webdriver/tests/bidi/external/permissions/set_permission/invalid.py
  webdriver/tests/bidi/external/permissions/set_permission/set_permission.py
Labels: webdriver-bidi

#43991 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267317
  mediacapture-insertable-streams/idlharness.any.js
Labels: webkit-export, mediacapture-insertable-streams

#44050 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267085
  css/css-grid/subgrid/overflow-hidden-does-not-prohibit-subgrid.html
Labels: css-grid, webkit-export

#44031 Do not allow `::part()` with `:has()`, `:is()`, or `:where()`
  css/selectors/parsing/parse-part.html
Labels: selectors

#44027 [lint] Ban multiple `/resources/testharness{,report}.js` for `.js` tests
  docs/writing-tests/testharness.md
  html/cross-origin-embedder-policy/credentialless/websocket.https.window.js
  performance-timeline/not-restored-reasons/abort-block-bfcache.window.js
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: html, infra, performance-timeline, docs, lint, wg-s_webperf

#43729 [WebAuthn] Add tests for cross-origin create()
  webauthn/createcredential-cross-origin-iframe.https.sub.html
  webauthn/resources/webauthn-subframe.sub.html
Labels: webauthn, wg-s_webauthn

#44063 wpt: Create a base class for Servo process executors
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#44046 [WebDriver BiDi] Test `storage.setCookie` parameters
  tools/webdriver/webdriver/bidi/modules/storage.py
  webdriver/tests/bidi/storage/__init__.py
  webdriver/tests/bidi/storage/set_cookie/cookie_domain.py
  webdriver/tests/bidi/storage/set_cookie/cookie_expiry.py
  webdriver/tests/bidi/storage/set_cookie/cookie_http_only.py
  webdriver/tests/bidi/storage/set_cookie/cookie_name.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path_invalid.py
  webdriver/tests/bidi/storage/set_cookie/cookie_same_site.py
  webdriver/tests/bidi/storage/set_cookie/cookie_secure.py
  webdriver/tests/bidi/storage/set_cookie/cookie_value.py
  webdriver/tests/bidi/storage/set_cookie/invalid.py
  webdriver/tests/bidi/storage/set_cookie/page_protocols.py
  webdriver/tests/bidi/storage/set_cookie/partition.py
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#43756 Add a test for the mutability of the ShadowRealm global prototype chain
  webidl/ecmascript-binding/global-mutable-prototype.any.js
Labels: webidl

#43828 Add WEB_FEATURES_MANIFEST.json generation
  tools/manifest/sourcefile.py
  tools/manifest/tests/test_sourcefile.py
  tools/web_features/MANIFEST_SCHEMA.json
  tools/web_features/__init__.py
  tools/web_features/commands.json
  tools/web_features/manifest.py
  tools/web_features/tests/__init__.py
  tools/web_features/tests/test_manifest.py
  tools/web_features/tests/test_web_feature_map.py
  tools/web_features/web_feature_map.py
  tools/wpt/paths
Labels: infra, manifest, wpt, mozilla:gecko-blocked, web_features

#44078 Generate web features manifest during release
  tools/ci/manifest_build.py
Labels: infra, ci, mozilla:gecko-blocked

#44098 Fix GitHub Asset label generation
  tools/ci/manifest_build.py
Labels: infra, ci

#44111 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267803
  css/selectors/parsing/invalid-pseudos.html
Labels: selectors, webkit-export

#44112 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267805
  css/selectors/parsing/invalid-pseudos.html
Labels: selectors, webkit-export

#43980 Add apng that uses cICP
  lint.ignore
  png/apng/fDAT-inherits-cICP.html
  png/apng/support/062.png
Labels: infra, status:needs-reviewers, png, wg-s_png

#43793 [webnn] Add tests for WebNN API cast op
  webnn/cast.https.any.js
  webnn/gpu/cast.https.any.js
  webnn/resources/test_data/cast.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#44124 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267008
  pointerevents/pointerup_button_value_matches_corresponding_pointerdown.html
Labels: pointerevents, webkit-export, wg-s_pointer-events

#44119 CSS: correct highlight-pseudos-computed.html
  css/css-pseudo/highlight-pseudos-computed.html
Labels: css-pseudo

#44123 Support both new and old headless mode for Chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#44080 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=242685
  html-aam/roles-contextual.html
Labels: html-aam

#44095 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267763
  mediacapture-insertable-streams/MediaStreamTrackProcessor-maxBufferSize.worker.js
Labels: webkit-export, mediacapture-insertable-streams

#44118 HTML: add more <input type=checkbox switch> coverage
  html/rendering/widgets/input-checkbox-switch.tentative.window.js
Labels: html

#43990 Move existing insertable stream tests that are not compliant with the spec to a tentative folder
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-audio.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-in-service-worker.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-in-shared-worker.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-in-worker.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-pipes-data-in-worker.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackGenerator-video.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackProcessor-audio.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackProcessor-backpressure.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackProcessor-video.https.html
  mediacapture-insertable-streams/tentative/MediaStreamTrackProcessor-worker.js
  mediacapture-insertable-streams/tentative/VideoTrackGenerator.https.html
  mediacapture-insertable-streams/tentative/dedicated-worker.js
  mediacapture-insertable-streams/tentative/service-worker.js
  mediacapture-insertable-streams/tentative/shared-worker.js
Labels: mediacapture-insertable-streams

#44079 Support downloading and installing MojoJS in Edge
  tools/wpt/browser.py
Labels: infra, wpt

#44144 Remove unnecessary shebang line
  tools/web_features/manifest.py
Labels: infra, web_features

#44139 [webdriver] Fix assertion for type hint when opening a new window on Android
  webdriver/tests/classic/new_window/new_window.py
Labels: webdriver, wg-testing_browser

#42784 Core-AAM: update UIA mapping for describedby
  core-aam/aria-describedby-manual.html
Labels: core-aam

#44159 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264989
  css/css-contain/content-visibility/content-visibility-096-ref.html
  css/css-contain/content-visibility/content-visibility-096.html
  css/css-contain/content-visibility/content-visibility-097-ref.html
  css/css-contain/content-visibility/content-visibility-097.html
  css/css-contain/content-visibility/content-visibility-098.html
  css/css-contain/content-visibility/content-visibility-099-ref.html
  css/css-contain/content-visibility/content-visibility-099.html
Labels: status:needs-reviewers, css-contain

#44161 Move tests unrelated to the scrollbar spec to the overflow spec
  css/css-overflow/auto-scrollbar-inline-children.html
  css/css-overflow/multicol-in-orthogonal-writing-mode-crash.html
  css/css-overflow/scrollbars-chrome-bug-001-ref.html
  css/css-overflow/scrollbars-chrome-bug-001.html
Labels: wg-css, css-scrollbars

#41643 CORE-AAM: Add role=image test
  core-aam/image-manual.html
Labels: core-aam, manual

#41522 CORE-AAM: update mapping of button with aria-popup='dialog'
  core-aam/button_with_aria-haspopup_dialog-manual.html
Labels: core-aam, manual

#44126 Ensure focus-large-element-in-overflow-hidden-container passes
  focus/focus-large-element-in-overflow-hidden-container.html
Labels: status:needs-reviewers, focus

#43891 [webnn] Add float32 tests for WebNN API instanceNormalization op
  webnn/gpu/instance_normalization.https.any.js
  webnn/instance_normalization.https.any.js
  webnn/resources/test_data/instance_normalization.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#44117 test: clean up cookies
  tools/webdriver/webdriver/bidi/error.py
  tools/webdriver/webdriver/bidi/modules/storage.py
  webdriver/tests/bidi/storage/set_cookie/cookie_domain.py
  webdriver/tests/bidi/storage/set_cookie/cookie_expiry.py
  webdriver/tests/bidi/storage/set_cookie/cookie_http_only.py
  webdriver/tests/bidi/storage/set_cookie/cookie_name.py
  webdriver/tests/bidi/storage/set_cookie/cookie_path.py
  webdriver/tests/bidi/storage/set_cookie/cookie_same_site.py
  webdriver/tests/bidi/storage/set_cookie/cookie_secure.py
  webdriver/tests/bidi/storage/set_cookie/cookie_value.py
  webdriver/tests/bidi/storage/set_cookie/invalid.py
  webdriver/tests/bidi/storage/set_cookie/page_protocols.py
  webdriver/tests/bidi/storage/set_cookie/partition.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, wg-testing_browser, status:needs-reviewers, mozilla:gecko-blocked, webdriver-bidi

#44194 Remove invalid test cases for "storage.setCookie" command which don't fail for Firefox
  webdriver/tests/bidi/storage/set_cookie/invalid.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#44217 Mark tests for ::-webkit-scrollbar as tentative
  css/css-scrollbars/scrollbar-color-001.tentative.html
  css/css-scrollbars/scrollbar-color-002.tentative.html
  css/css-scrollbars/scrollbar-color-003.tentative.html
  css/css-scrollbars/scrollbar-color-004.tentative.html
  css/css-scrollbars/scrollbar-color-005.tentative.html
  css/css-scrollbars/scrollbar-color-006.tentative.html
  css/css-scrollbars/scrollbar-color-007.tentative.html
  css/css-scrollbars/scrollbar-color-008.tentative.html
  css/css-scrollbars/scrollbar-color-009.tentative.html
  css/css-scrollbars/scrollbar-color-010.tentative.html
  css/css-scrollbars/scrollbar-width-010.tentative.html
  css/css-scrollbars/scrollbar-width-011.tentative.html
  css/css-scrollbars/scrollbar-width-012.tentative.html
  css/css-scrollbars/scrollbar-width-013.tentative.html
  css/css-scrollbars/scrollbar-width-014.tentative.html
  css/css-scrollbars/scrollbar-width-015.tentative.html
  css/css-scrollbars/scrollbar-width-016.tentative.html
Labels: wg-css, css-scrollbars, css

#43842 Run Chrome Canary on push to master branch
  tools/ci/run_tc.py
  tools/ci/taskcluster-run.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#44220 Use the right function to test invalid selectors inside :is()/:where().
  css/selectors/parsing/parse-part.html
Labels: selectors

#44219 [wdspec] add a test for creating a browsing context in a user context
  tools/webdriver/webdriver/bidi/modules/browsing_context.py
  webdriver/tests/bidi/browsing_context/__init__.py
  webdriver/tests/bidi/browsing_context/create/invalid.py
  webdriver/tests/bidi/browsing_context/create/user_context.py
Labels: infra, webdriver, wg-testing_browser, status:needs-reviewers, webdriver-bidi

#44204 Fix type annotations for remove_user_context command interface
  tools/webdriver/webdriver/bidi/modules/browser.py
Labels: infra, webdriver, wg-testing_browser, mozilla:gecko-blocked

#44234 layout: Round `clientTop`, etc queries to pixels properly
  css/cssom-view/subpixel-sizes-and-offsets.tentative.html
Labels: wg-css, cssom-view, servo-export

#44248 [css-flexbox] Fix errors in safe alignment tests.
  css/css-flexbox/flexbox-safe-overflow-position-002.html
  css/css-flexbox/flexbox-safe-overflow-position-003.html
  css/css-flexbox/flexbox-safe-overflow-position-004.html
  css/css-flexbox/flexbox-safe-overflow-position-005.html
Labels: wg-css, css-flexbox

#44256 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=268234
  css/selectors/parsing/invalid-pseudos.html
Labels: selectors, webkit-export

#44223 [wdspec] add user context checks in browsing context created/destroyed events
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
  webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py
Labels: webdriver-bidi

#44251 Revert "Consolidate pointer attribute testing"
  pointerevents/pointerevent_attributes.html
  pointerevents/pointerevent_attributes_hoverable_pointers.html
  pointerevents/pointerevent_attributes_hoverable_rightbutton.html
  pointerevents/pointerevent_attributes_nohover_pointers.html
  pointerevents/resources/pointerevent_attributes_hoverable_pointers-iframe.html
Labels: pointerevents, wg-s_pointer-events

#44227 HTML/SVG: <svg><script/> should run the script
  html/syntax/parsing/support/svg-script-self-closing.js
  html/syntax/parsing/unclosed-svg-script.html
  lint.ignore
Labels: html, infra

#44224 [wdspec] add a test to get_tree/frames.py to validate user_context
  webdriver/tests/bidi/browsing_context/get_tree/frames.py
Labels: status:needs-reviewers, webdriver-bidi

#44288 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267995
  mediacapture-insertable-streams/MediaStreamTrackProcessor-backpressure.worker.js
  mediacapture-insertable-streams/MediaStreamTrackProcessor-with-window-tracks.https.html
  mediacapture-insertable-streams/MediaStreamTrackProcessor.worker.js
  mediacapture-insertable-streams/VideoTrackGenerator-with-window-tracks.https.html
  mediacapture-insertable-streams/VideoTrackGenerator.worker.js
Labels: webkit-export, mediacapture-insertable-streams

#44289 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=268279
  mediacapture-insertable-streams/VideoTrackGenerator.worker.js
Labels: webkit-export, mediacapture-insertable-streams

#43740 display contents accessibility tests
  css/css-display/accessibility/display-contents-role-and-label.html
  css/css-display/focus/display-contents-focus.html
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf, status:needs-changes, css-display, status:needs-reviewers, accessibility

#44304 Only use new headless mode for Chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner
