Repository web-platform-tests/wpt, pull requests merged in 2024-10, with the labels that each got.

#48410 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=280648
  css/css-anchor-position/anchor-parse-invalid.html
  css/css-anchor-position/anchor-parse-valid.html
Labels: webkit-export, css-anchor-position

#48401 Make it more clear these tests are about ::search-text
  css/css-pseudo/highlight-cascade/highlight-pseudos-computed-search-text.tentative.html
  css/css-pseudo/parsing/highlight-pseudos-search-text.tentative.html
Labels: css-pseudo

#48422 Fix closing tags in dir-pseudo-on-input-element.html
  css/selectors/dir-pseudo-on-input-element.html
Labels: selectors

#48426 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=256180
  css/css-cascade/import-conditions.html
Labels: css-cascade, webkit-export

#48433 [testdriver.js] Don't expose testdriver-internal messages to tests
  infrastructure/testdriver/actions/crossOrigin.sub.html
  infrastructure/testdriver/actions/popup.html
  infrastructure/testdriver/click_iframe_crossorigin.sub.html
  infrastructure/testdriver/click_nested_crossorigin.sub.html
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, wptrunner

#48441 WebKit export: Add type to the test accordingly to the spec.
  clipboard-apis/clipboard-item.https.html
Labels: clipboard-apis, wg-s_webediting

#48451 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=280829
  video-rvfc/request-video-frame-callback-before-xr-session.https.html
  video-rvfc/request-video-frame-callback-dom.html
  video-rvfc/request-video-frame-callback-during-xr-session.https.html
  video-rvfc/request-video-frame-callback-parallel.html
  video-rvfc/request-video-frame-callback-repeating.html
  video-rvfc/request-video-frame-callback.html
Labels: webkit-export, video-rvfc, wg-cg_wicg

#48373 WebKit export: Cues should use white-space:pre-line
  webvtt/rendering/cues-with-video/processing-model/basic-cue-rendering-expected.html
  webvtt/rendering/cues-with-video/processing-model/basic-cue-rendering.html
  webvtt/rendering/cues-with-video/processing-model/support/basic-cue-rendering.webvtt
  webvtt/rendering/cues-with-video/processing-model/support/reference.css
  webvtt/rendering/cues-with-video/processing-model/support/webvtt-rendering-test.js
  webvtt/rendering/cues-with-video/processing-model/support/white-space-pre-line.webvtt
  webvtt/rendering/cues-with-video/processing-model/white-space-pre-line-expected.html
  webvtt/rendering/cues-with-video/processing-model/white-space-pre-line.html
Labels: webvtt, wg-audiovideo_tt

#48455 Remove obsolete checks for testdriver-internal messages
  event-timing/crossiframe.html
  serial/requestPort/sandboxed_iframe.https.window.js
  serial/resources/open-in-iframe.html
Labels: event-timing, serial, wg-cg_wicg, wg-s_webperf

#48472 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=280889
  scroll-animations/scroll-timelines/duration.html
  scroll-animations/view-timelines/duration.html
  web-animations/interfaces/DocumentTimeline/duration.tentative.html
Labels: wg-css, web-animations, webkit-export, scroll-animations

#48496 Add test cases covering 'position-anchor' corner cases.
  css/css-anchor-position/position-anchor-004.html
  css/css-anchor-position/position-anchor-target-with-children-ref.html
  css/css-anchor-position/position-anchor-target-with-children.html
Labels: status:needs-reviewers, css-anchor-position

#48487 Implement keyword sizes on floats
  css/css-sizing/keyword-sizes-on-floated-element.html
Labels: css-sizing, servo-export

#48513 Fix test timing for all tests using xr_promise_test
  webxr/resources/webxr_util.js
Labels: servo-export, webxr, wg-immersive-web

#47913 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278837
  css/css-view-transitions/navigation/no-view-transition-with-cross-origin-redirect.sub.html
Labels: webkit-export, css-view-transitions

#47977 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279160
  css/css-view-transitions/navigation/root-element-transition-iframe-with-startVT-on-main.html
Labels: webkit-export, css-view-transitions

#48525 Implement keyword sizes on atomic inlines
  css/css-sizing/keyword-sizes-on-inline-block.html
Labels: css-sizing, servo-export

#48582 [wptrunner] Cycle testdriver event loop when testharness isn't loaded
  tools/wptrunner/wptrunner/executors/executorchrome.py
Labels: infra, wptrunner

#48587 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=280940
  html/semantics/interactive-elements/the-dialog-element/popover-dialog-does-not-block-mouse-events.html
Labels: html, webkit-export

#48605 Fix always failing assertion due to using incorrect element name
  html/dom/documents/dom-tree-accessors/nameditem-names.html
Labels: html

#48615 Fix `has-slotted-functional-changing-00*.tentative.html` subtest names
  css/css-scoping/has-slotted-functional-changing-001.tentative.html
  css/css-scoping/has-slotted-functional-changing-002.tentative.html
  css/css-scoping/has-slotted-functional-changing-003.tentative.html
  css/css-scoping/has-slotted-functional-changing-004.tentative.html
Labels: css-scoping

#48494 [WebDriver BiDi] Mark iframe screenshot test as optional
  webdriver/tests/bidi/browsing_context/capture_screenshot/frame_tentative.py
Labels: webdriver-bidi

#48645 Add tests cases for algorithm normalization in the importKey operation
  WebCryptoAPI/import_export/okp_importKey.js
Labels: WebCryptoAPI, wg-webcrypto

#48627 Avoid wrapping line at the start of text run with `text-wrap-mode: nowrap`
  css/css-text/white-space/white-space-intrinsic-size-021.html
Labels: css-text, servo-export

#48616 Add an idlharness test for the Eyedropper API
  eyedropper/idlharness.https.window.js
Labels: status:needs-reviewers, eyedropper

#48666 Fix overflow:hidden test with incorrect synthetic bolding
  css/CSS2/ui/overflow-applies-to-009.xht
Labels: wg-css, CSS2

#48677 [css-conditional] Move scroll-state tests to their own directory
  css/css-conditional/container-queries/scroll-state/at-container-overflowing-parsing.html
  css/css-conditional/container-queries/scroll-state/at-container-overflowing-serialization.html
  css/css-conditional/container-queries/scroll-state/at-container-snapped-parsing.html
  css/css-conditional/container-queries/scroll-state/at-container-snapped-serialization.html
  css/css-conditional/container-queries/scroll-state/at-container-stuck-parsing.html
  css/css-conditional/container-queries/scroll-state/at-container-stuck-serialization.html
  css/css-conditional/container-queries/scroll-state/container-type-scroll-state-computed.html
  css/css-conditional/container-queries/scroll-state/container-type-scroll-state-containment.html
  css/css-conditional/container-queries/scroll-state/container-type-scroll-state-parsing.html
  css/css-conditional/container-queries/scroll-state/scroll-state-initially-snapped.html
  css/css-conditional/container-queries/scroll-state/scroll-state-initially-stuck.html
  css/css-conditional/container-queries/scroll-state/scroll-state-snapped-change.html
  css/css-conditional/container-queries/scroll-state/scroll-state-snapped-container-type-change.html
  css/css-conditional/container-queries/scroll-state/scroll-state-snapped-none.html
  css/css-conditional/container-queries/scroll-state/scroll-state-snapped-snap-changing.html
  css/css-conditional/container-queries/scroll-state/scroll-state-snapped-wm.html
  css/css-conditional/container-queries/scroll-state/scroll-state-stuck-container-type-change.html
  css/css-conditional/container-queries/scroll-state/scroll-state-stuck-writing-direction.html
  css/css-conditional/container-queries/scroll-state/scroll-state-target-query-change.html
Labels: css-conditional

#48679 Fix <title> of keyword-sizes-on-inline-block.html
  css/css-sizing/keyword-sizes-on-inline-block.html
Labels: css-sizing, mozilla:gecko-blocked

#48635 Make `wpt test-jobs` able to output JSON
  tools/ci/jobs.py
Labels: infra, ci

#48691 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281731
  scroll-animations/scroll-timelines/setting-current-time.html
  scroll-animations/scroll-timelines/setting-start-time.html
Labels: webkit-export, scroll-animations

#48688 Merge the Safari workflows into a single workflow
  .github/workflows/safari-wptrunner.yml
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
Labels: GitHub Actions

#48703 Fix safari-wptrunner.yml to match the schema
  .github/workflows/safari-wptrunner.yml
Labels: GitHub Actions

#48704 Fix strings within GitHub Actions workflow expressions
  .github/workflows/safari-wptrunner.yml
Labels: GitHub Actions

#48709 Fix Safari artifact names
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
Labels: GitHub Actions

#48610 [wptrunner] Reset permissions between tests for Chrome
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executoredge.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
Labels: infra, wptrunner

#48715 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281830
  scroll-animations/css/animation-timeline-computed.html
  scroll-animations/css/animation-timeline-parsing.html
Labels: webkit-export, scroll-animations

#48721 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281773
  css/css-inline/text-box-trim/text-box-trim-accumulation-002-ref.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-002.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-003-ref.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-003.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-004-ref.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-004.html
Labels: webkit-export, css-inline

#48722 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281590
  css/css-inline/text-box-trim/parsing/inheritance.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-001-ref.html
  css/css-inline/text-box-trim/text-box-trim-accumulation-001.html
  css/css-inline/text-box-trim/text-box-trim-not-ignore-nested-text-box-edge-ref.html
  css/css-inline/text-box-trim/text-box-trim-not-ignore-nested-text-box-edge.html
Labels: webkit-export, css-inline

#48700 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281139
  css/css-anchor-position/anchor-scroll-cleanup.html
Labels: webkit-export, css-anchor-position

#48630 HTML: alpha and colorspace attribute
  html/semantics/forms/the-input-element/color-attributes.window.js
  html/semantics/forms/the-input-element/color.tentative.html
  html/semantics/forms/the-input-element/color.window.js
Labels: html

#48742 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281867
  css/css-view-transitions/capture-old-state-error-flag-cleanup.html
Labels: webkit-export, css-view-transitions

#48714 Remove the full runs of Safari from Azure Pipelines
  .azure-pipelines.yml
Labels: Azure Pipelines

#48347 [wdspec] Add historyUpdated event tests
  webdriver/tests/bidi/browsing_context/fragment_navigated/history_api.py
  webdriver/tests/bidi/browsing_context/history_updated/__init__.py
  webdriver/tests/bidi/browsing_context/history_updated/history_updated.py
Labels: webdriver-bidi

#48621 Fix WebDriverAsyncCallbackHandler not expecting all WebDriver exceptions
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#48736 Prevent `stretch` from producing a negative size
  css/css-sizing/keyword-sizes-on-floated-element.html
  css/css-sizing/keyword-sizes-on-inline-block.html
Labels: css-sizing, servo-export

#48717 Update rejection normative message assertions
  dom/observable/tentative/observable-first.any.js
  dom/observable/tentative/observable-last.any.js
Labels: dom

#48471 Add test cases for 'too long' and 'not multilpe of 8' lengths.
  WebCryptoAPI/derive_bits_keys/derived_bits_length_testcases.js
  WebCryptoAPI/derive_bits_keys/derived_bits_length_vectors.js
Labels: WebCryptoAPI, wg-webcrypto

#48787 Use assertBothRejectDOM instead of promise_rejects_dom
  navigation-api/scroll-behavior/scroll-after-preventDefault.html
Labels: navigation-api

#48765 remove remaining invalid/challenged cell expectations in display-contents-role-and-label
  css/css-display/accessibility/display-contents-role-and-label.html
Labels: css-display

#48760 Add tests for properties/attributes that used to be defined as Truste…
  trusted-types/legacy-trusted-script-urls.html
Labels: trusted-types, wg-s_webappsec

#48786 We really should be using `promise_rejects_*` instead
  dom/observable/tentative/observable-first.any.js
  dom/observable/tentative/observable-last.any.js
Labels: dom

#48798 Consistent resolution of cyclic percentages in min sizing properties
  css/css-sizing/intrinsic-percent-non-replaced-006.html
Labels: css-sizing, servo-export

#48792 [wptrunner] Work around WebView bugs in ChromeDriver runner
  tools/wptrunner/wptrunner/browsers/android_webview.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
Labels: infra, wptrunner

#48822 Catch committed promise rejection
  navigation-api/navigate-event/signal-abort-window-stop-in-onnavigate.html
Labels: navigation-api

#48821 Avoid crash in replaced layout, and fix behavior for non-auto aspect-ratio
  css/CSS2/visudet/crashtests/canvas-huge-min-max-sizes.html
  css/css-sizing/aspect-ratio/replaced-element-042.html
Labels: wg-css, css-sizing, CSS2, servo-export

#48628 Implement keyword sizes for intrinsic contributions
  css/css-sizing/keyword-sizes-for-intrinsic-contributions.tentative.html
Labels: css-sizing, css-text, servo-export

#48809 [wptrunner] Close extra test-opened windows before checking for leaks
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#48789 Check the processed capabilities of always supported capabilities
  webdriver/tests/classic/new_session/create_alwaysMatch.py
  webdriver/tests/classic/new_session/create_firstMatch.py
Labels: webdriver, wg-s_browser-tools-testing

#48844 [wptrunner] Remove obsolete workaround for "set timeouts" nonconformance
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#48850 [wptrunner] Check we actually manage to close the window
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#48698 Switch webkitgtk_minibrowser nightly runs to use a new universal bundle.
  tools/ci/run_tc.py
  tools/wpt/browser.py
Labels: infra, wpt, ci

#48862 Split pointerevent_sequence_at_implicit_release_on_click.html into 2 subtests
  pointerevents/pointerevent_sequence_at_implicit_release_on_click.html
Labels: pointerevents, wg-s_pointer-events

#48865 Tidy up WebDriver errors (mostly via `__str__`)
  tools/webdriver/webdriver/error.py
Labels: infra, webdriver, wg-s_browser-tools-testing

#48852 New deriveKey test for ECDH
  WebCryptoAPI/derive_bits_keys/derive_key_and_encrypt.https.any.js
  WebCryptoAPI/derive_bits_keys/derive_key_and_encrypt.js
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto

#48864 Add more detail to testdriver errors
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#48859 Make the JPEG XL images get rendered larger
  jpegxl/3x3_jpeg_recompression-ref.html
  jpegxl/3x3_jpeg_recompression.html
  jpegxl/3x3_srgb_lossless-ref.html
  jpegxl/3x3_srgb_lossless.html
  jpegxl/3x3_srgb_lossy-ref.html
  jpegxl/3x3_srgb_lossy.html
  jpegxl/3x3a_srgb_lossless-ref.html
  jpegxl/3x3a_srgb_lossless.html
  jpegxl/3x3a_srgb_lossy-ref.html
  jpegxl/3x3a_srgb_lossy.html
Labels: jpegxl

#48837 servoshell: Allow overriding screen resolution with a command-line argument
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#48881 Test `<video>` with `width` and `height` attributes but `aspect-ratio: auto`
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-aspect-ratio.html
Labels: html, servo-export

#48830 Properly transfer min/max constraints on auto-sized replaced elements
  css/css-sizing/aspect-ratio/replaced-element-043.html
Labels: css-sizing, servo-export

#48873 Split pointerevent_sequence_at_implicit_release_on_click.html into 2 subtests
  pointerevents/pointerevent_sequence_at_implicit_release_on_click.html
Labels: pointerevents, wg-s_pointer-events

#48891 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=282068
  css/css-text-decor/text-shadow/text-shadow-emoji-transparent-ref.html
  css/css-text-decor/text-shadow/text-shadow-emoji-transparent.html
Labels: css-text-decor, webkit-export

#48893 Fix timeout in position-absolute-replaced-minmax.html
  css/css-position/position-absolute-replaced-minmax.html
Labels: css-position, servo-export

#48895 Add missing tabindex="0" to focus-reset tests
  navigation-api/focus-reset/resources/helpers.mjs
Labels: navigation-api

#48872 Use image-rendering: crisp-edges for all the resized image tests
  avif/animated-avif-timeout-ref.html
  avif/animated-avif-timeout.html
  jpegxl/3x3_jpeg_recompression-ref.html
  jpegxl/3x3_jpeg_recompression.html
  jpegxl/3x3_srgb_lossless-ref.html
  jpegxl/3x3_srgb_lossless.html
  jpegxl/3x3_srgb_lossy-ref.html
  jpegxl/3x3_srgb_lossy.html
  jpegxl/3x3a_srgb_lossless-ref.html
  jpegxl/3x3a_srgb_lossless.html
  jpegxl/3x3a_srgb_lossy-ref.html
  jpegxl/3x3a_srgb_lossy.html
Labels: avif, jpegxl

#48713 Fix #48684: stop Actions from running (and failing) on forks
  .github/workflows/check-workflow-run.yml
  .github/workflows/documentation.yml
  .github/workflows/epochs.yml
  .github/workflows/interfaces.yml
  .github/workflows/manifest.yml
  .github/workflows/regen_certs.yml
Labels: GitHub Actions

#48908 Properly handle fallback aspect ratio for videos
  css/css-sizing/intrinsic-size-fallback-video.html
Labels: css-sizing, servo-export

#48712 Remove obsolete `infrastructure/` test that Ahem is a system font
  infrastructure/assumptions/ahem-ref.html
  infrastructure/assumptions/ahem.html
  infrastructure/assumptions/tools/ahem-generate-table.py
Labels: infra

#48918 Don't detect an infrastructure manifest as an untracked file
  .gitignore
Labels: infra
