Repository web-platform-tests/wpt, pull requests merged in 2024-02, with the labels that each got.

#44335 Split out `text-wrap: pretty` parsing tests
  css/css-text/parsing/text-wrap-computed.html
  css/css-text/parsing/text-wrap-pretty.html
  css/css-text/parsing/text-wrap-style-computed.html
  css/css-text/parsing/text-wrap-style-valid.html
  css/css-text/parsing/text-wrap-valid.html
Labels: css-text

#44266 Add tests for trusted types enforcement on setHTMLUnsafe and parseHTMLUnsafe
  trusted-types/block-string-assignment-to-Document-parseHTMLUnsafe.html
  trusted-types/block-string-assignment-to-Element-setHTMLUnsafe.html
  trusted-types/block-string-assignment-to-ShadowRoot-setHTMLUnsafe.html
Labels: trusted-types, wg-s_webappsec

#44232 [webdriver] Enhance tests for implicitly accepting "beforeunload" prompts
  webdriver/tests/classic/back/back.py
  webdriver/tests/classic/back/user_prompts.py
  webdriver/tests/classic/close_window/user_prompts.py
  webdriver/tests/classic/element_click/user_prompts.py
  webdriver/tests/classic/execute_async_script/user_prompts.py
  webdriver/tests/classic/execute_script/user_prompts.py
  webdriver/tests/classic/forward/forward.py
  webdriver/tests/classic/forward/user_prompts.py
  webdriver/tests/classic/get_alert_text/get.py
  webdriver/tests/classic/navigate_to/user_prompts.py
  webdriver/tests/classic/perform_actions/user_prompts.py
  webdriver/tests/classic/refresh/refresh.py
  webdriver/tests/classic/refresh/user_prompts.py
  webdriver/tests/support/html/beforeunload.html
  webdriver/tests/support/html/default.html
Labels: webdriver, wg-testing_browser

#43244 Add Test for text selection when Shadow Root has delegatesFocus enabled
  shadow-dom/focus/text-selection-with-delegatesFocus.html
Labels: shadow-dom, wg-webplatform

#44349 Make beforecreatepolicy event test tentative
  trusted-types/TrustedTypePolicyFactory-blocking.tentative.html
Labels: trusted-types, wg-s_webappsec

#44262 Move tests using legacy MediaStreamTrackGenerator to a legacy folder
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-audio.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-in-service-worker.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-in-shared-worker.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-in-worker.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-pipes-data-in-worker.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackGenerator-video.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackProcessor-backpressure.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackProcessor-video.https.html
  mediacapture-insertable-streams/legacy/MediaStreamTrackProcessor-worker.js
  mediacapture-insertable-streams/legacy/dedicated-worker.js
  mediacapture-insertable-streams/legacy/service-worker.js
  mediacapture-insertable-streams/legacy/shared-worker.js
Labels: mediacapture-insertable-streams

#44353 TextDecoder's decode() supports shared buffers
  encoding/sharedarraybuffer.https.html
Labels: encoding

#44378 [wdspec] add a test for verifying local storage isolation in user contexts
  webdriver/tests/bidi/browser/__init__.py
  webdriver/tests/bidi/browser/create_user_context/create_user_context.py
Labels: webdriver-bidi

#44383 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267046
  css/css-contain/container-queries/container-name-tree-scoped.html
Labels: css-contain, webkit-export

#43013 Tweak <aside> conditional mappings to check for more cases
  html-aam/roles-contextual.html
Labels: status:needs-reviewers, html-aam

#44361 Add null-check to aria_utils verifyLabelsBySelector
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf

#44395 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=268683
  css/css-contain/container-queries/container-name-tree-scoped.html
Labels: css-contain, webkit-export

#44342 Make console methods take `any` instead of `string`
  console/console-log-symbol.any.js
Labels: console, servo-export

#44403 Fix crash on console logging large array
  console/console-log-large-array.any.js
Labels: console, servo-export

#44355 Improve reflected attribute tests (html/dom/reflection.js)
  html/dom/reflection.js
Labels: html

#44291 Add WebDriver BiDi worker tests
  webdriver/tests/bidi/script/realm_created/realm_created.py
  webdriver/tests/bidi/script/realm_destroyed/realm_destroyed.py
  webdriver/tests/support/inline.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#44424 [wptrunner] Plumb expectations `wpttest.{Test -> (Subtest)Result}`
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorcontentshell.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorselenium.py
  tools/wptrunner/wptrunner/executors/executorservo.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/executorwktr.py
  tools/wptrunner/wptrunner/testrunner.py
  tools/wptrunner/wptrunner/wpttest.py
Labels: infra, wptrunner

#44445 allow old headless mode for chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#44462 Add coverage for `webkit` prefixed historical interface
  uievents/historical.html
Labels: uievents, wg-s_webapps

#44461 Test to account for links wrapped in `svg`
  html/rendering/the-css-user-agent-style-sheet-and-presentational-hints/no-help-cursor-on-links-wrapped-in-svg.historical.html
Labels: html, svg

#44432 DOM: add some CDATASection coverage
  dom/common.js
  dom/nodes/Node-properties.html
  dom/ranges/Range-cloneContents.html
  dom/ranges/Range-deleteContents.html
  dom/ranges/Range-surroundContents.html
Labels: dom

#44478 WebKit export: Implement parsing support for `field-sizing`
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#44233 Remove Microsoft Edge Legacy
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_edge.txt
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/edge.py
  tools/wptrunner/wptrunner/browsers/edge_webdriver.py
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/browsers/sauce_setup/edge-prerun.bat
  tools/wptrunner/wptrunner/tests/base.py
Labels: infra, wpt, wptrunner

#44515 Make --headless the default for Chrome and Chromium
  tools/wpt/run.py
Labels: infra, wpt

#44344 Remove IE App
  tools/wpt/browser.py
  tools/wpt/run.py
  tools/wptrunner/requirements_ie.txt
  tools/wptrunner/tox.ini
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/ie.py
Labels: infra, wpt, wptrunner

#44493 Add 'libegl1-mesa-dev' needed by Servo to the Docker image
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
  tools/docker/Dockerfile
Labels: infra, ci, docker, Taskcluster

#44557 orientation-event: Test DeviceOrientationEvent's absolute value on error
  orientation-event/orientation/null-values.https.html
Labels: orientation-event, wg-das

#44269 Test parse-time HSL clamp of negative saturation to zero
  css/css-color/parsing/color-valid-hsl.html
Labels: css-color

#44568 More declarative shadow tree test coverage
  shadow-dom/declarative/declarative-shadow-dom-repeats-2.html
  shadow-dom/declarative/declarative-shadow-dom-repeats.html
Labels: shadow-dom, wg-webplatform, mozilla:gecko-blocked

#44587 Add a test covering order of navigation/fragment/network events
  webdriver/tests/bidi/integration/navigation.py
Labels: webdriver-bidi

#44350 Mark fromLiteral test as tentative
  trusted-types/trusted-types-from-literal.tentative.html
Labels: trusted-types, wg-s_webappsec

#44511 Apply SVG paint-order to text-decorations
  svg/painting/reftests/paintorder-text-decorations-ref.svg
  svg/painting/reftests/paintorder-text-decorations.svg
Labels: wg-svg, svg

#44610 Link paintorder-text-decorations.svg to its reference file
  svg/painting/reftests/paintorder-text-decorations.svg
Labels: wg-svg, svg

#44609 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=269460
  css/css-view-transitions/pseudo-element-animations.html
Labels: webkit-export, mozilla:gecko-blocked, css-view-transitions

#44601 [css-color-5] : mix blue and white
  css/css-color/parsing/color-computed-color-mix-function.html
Labels: css-color

#44607 getComputedStyle() for pseudo-elements with argument
  css/cssom/getComputedStyle-pseudo-with-argument.html
Labels: wg-css, cssom

#44637 URL: backslash after authority for special URLs
  url/resources/urltestdata.json
Labels: url

#44639 [css-flexbox] Make test easier to debug
  css/css-flexbox/negative-overflow-002.html
Labels: wg-css, css-flexbox

#43801 [webnn] Add tests for WebNN API constant (fillSequence)
  webnn/constant.https.any.js
  webnn/gpu/constant.https.any.js
  webnn/resources/test_data/constant.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#43794 [webnn] Add float32 tests for WebNN API triangular op
  webnn/gpu/triangular.https.any.js
  webnn/resources/test_data/triangular.json
  webnn/resources/utils.js
  webnn/triangular.https.any.js
Labels: webnn, wg-s_webmachinelearning

#44314 [webnn] Add float32 tests for WebNN API l2Pool2d op
  webnn/gpu/pooling.https.any.js
  webnn/pooling.https.any.js
  webnn/resources/test_data/l2_pool2d.json
  webnn/resources/utils.js
Labels: webnn, wg-s_webmachinelearning

#44631 HighlightRegister was renamed to HighlightRegistry
  css/css-highlight-api/HighlightRegistry-maplike-tampered-Map-prototype.html
  css/css-highlight-api/historical.window.js
Labels: status:needs-reviewers, css-highlight-api

#44643 Use valid pseudo-element syntax in pseudo-get-computed-style.html
  css/css-view-transitions/pseudo-get-computed-style.html
Labels: status:needs-reviewers, css-view-transitions

#44640 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=269673
  html/semantics/invokers/invoketarget-button-event-dispatch.tentative.html
Labels: html, webkit-export

#43751 Test Ed25519 with small- and mixed-order points
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  WebCryptoAPI/sign_verify/eddsa.js
  WebCryptoAPI/sign_verify/eddsa_vectors.js
Labels: WebCryptoAPI, wg-webcrypto

#44644 Test priority of cICP over iCCP
  png/cICP-wins-ref.html
  png/cICP-wins.html
  png/support/cICP-and-iCCP.png
  png/support/srgb_green.png
Labels: status:needs-reviewers, png, wg-s_png

#44703 [wdspec] Fix BiDiSession.add_event_listener to handle several listeners
  tools/webdriver/webdriver/bidi/client.py
Labels: infra, webdriver, wg-testing_browser

#44428 [wptserve] Move the TLS handshake to the per-accept thread
  tools/wptserve/tests/functional/test_server.py
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve, pytest.ini

#44691 Gamepad: test interfaces are in insecure context
  gamepad/gamepad-secure-context.html
  gamepad/idlharness.window.js
  gamepad/not-fully-active.html
Labels: gamepad, wg-s_webapps

#44716 [wptrunner] Log which browser (PID) ran each test
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#44707 [WebDriver BiDi] Add `input.setFiles` tests
  tools/webdriver/webdriver/bidi/error.py
  tools/webdriver/webdriver/bidi/modules/input.py
  webdriver/tests/bidi/input/set_files/__init__.py
  webdriver/tests/bidi/input/set_files/invalid.py
  webdriver/tests/bidi/input/set_files/set_files.py
  webdriver/tests/support/html/files.html
Labels: infra, webdriver, wg-testing_browser, webdriver-bidi

#44735 Revert "[wptrunner] Log which browser (PID) ran each test"
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#44730 Convert CSS2 visual tests into reftests where an existing ref matches
  css/CSS2/borders/border-left-width-078.xht
  css/CSS2/cascade-import/cascade-import-001.xht
  css/CSS2/fonts/font-size-119.xht
  css/CSS2/linebox/vertical-align-baseline-006.xht
  css/CSS2/linebox/vertical-align-baseline-010.xht
  css/CSS2/lists/counter-increment-auto-reset-001.xht
  css/CSS2/lists/counter-increment-display-001.xht
  css/CSS2/lists/counter-increment-not-generated-001.xht
  css/CSS2/lists/counter-reset-display-001.xht
  css/CSS2/lists/counter-reset-not-generated-001.xht
  css/CSS2/margin-padding-clear/margin-collapse-012.xht
  css/CSS2/margin-padding-clear/margin-collapse-clear-001.xht
  css/CSS2/margin-padding-clear/margin-collapse-clear-007.xht
  css/CSS2/margin-padding-clear/margin-left-applies-to-008.xht
  css/CSS2/margin-padding-clear/padding-applies-to-016.xht
  css/CSS2/margin-padding-clear/padding-applies-to-017.xht
  css/CSS2/normal-flow/block-non-replaced-width-002.xht
  css/CSS2/normal-flow/max-width-014.xht
  css/CSS2/normal-flow/min-width-014.xht
  css/CSS2/normal-flow/width-014.xht
  css/CSS2/selectors/first-line-pseudo-007.xht
  css/CSS2/selectors/first-line-pseudo-008.xht
  css/CSS2/selectors/first-line-selector-004.xht
  css/CSS2/syntax/character-encoding-031.xht
  css/CSS2/syntax/character-encoding-032.xht
  css/CSS2/syntax/character-encoding-033.xht
  css/CSS2/syntax/character-encoding-034.xht
  css/CSS2/syntax/character-encoding-035.xht
  css/CSS2/syntax/character-encoding-036.xht
  css/CSS2/syntax/character-encoding-037.xht
Labels: wg-css, CSS2

#44472 UIEvents: Test the textInput event
  uievents/idlharness.window.js
  uievents/textInput/api.html
  uievents/textInput/backspace.html
  uievents/textInput/basic.html
  uievents/textInput/delete-selection.html
  uievents/textInput/delete.html
  uievents/textInput/enter-input.html
  uievents/textInput/enter-textarea-contenteditable.html
  uievents/textInput/smiley-manual.html
  uievents/textInput/support/basic.sub.js
  uievents/textInput/support/common.js
  uievents/textInput/support/no-textInput.sub.js
Labels: uievents, wg-s_webapps

#44467 DOM: document.createEvent('textevent') maps to TextEvent
  dom/nodes/Document-createEvent.js
Labels: dom

#44745 [css-color] use `color-mix()` in relative color syntax
  css/css-color/parsing/color-computed-relative-color.html
  css/css-color/parsing/color-valid-relative-color.html
Labels: css-color

#44740 [wptserve] Don't log unactionable `SSLEOFError` on startup
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve

#44747 CSS word-spacing property does not obey percentages
  css/CSS2/css1/c541-word-sp-001-ref.xht
  css/CSS2/css1/c541-word-sp-001.xht
Labels: wg-css, CSS2, webkit-export, mozilla:gecko-blocked

#44398 Add well-known routes for Protected Audience API WPTs
  tools/serve/serve.py
  tools/wptserve/tests/functional/docroot/defaultpy/default.py
  tools/wptserve/tests/functional/docroot/defaultpy/default.sub.py
  tools/wptserve/tests/functional/docroot/defaultsubpy/default.sub.py
  tools/wptserve/tests/functional/test_handlers.py
  tools/wptserve/tests/functional/test_pipes.py
  tools/wptserve/wptserve/handlers.py
Labels: infra, wptserve, serve

#44768 fix : `test_computed_value` is not defined
  css/css-color/parsing/color-valid-relative-color.html
Labels: css-color

#44731 Add tests related to Origin header for beacon requests in case of same origin referrer policy
  beacon/headers/header-origin-same-origin.html
  beacon/headers/header-referrer.js
Labels: beacon, wg-s_webperf

#44784 [WebDriver BiDi] Remove pointer up from some invalid BiDi tests
  webdriver/tests/bidi/input/perform_actions/invalid.py
Labels: webdriver-bidi

#44783 WebAudio: remove unused and incorrect resource
  webaudio/the-audio-api/the-waveshapernode-interface/waveshaper.html
Labels: webaudio, wg-s_audio

#44749 webaudio - remove empty test suite directories
  webaudio/the-audio-api/the-audiodestinationnode-interface/.gitkeep
  webaudio/the-audio-api/the-audiolistener-interface/.gitkeep
  webaudio/the-audio-api/the-audioprocessingevent-interface/.gitkeep
Labels: webaudio, wg-s_audio

#44794 Fix percentages in the padding of a table-cell
  css/css-tables/tentative/padding-percentage.html
Labels: css-tables, servo-export

#44669 [wdspec] Add basic test for contexts in addIntercept
  tools/webdriver/webdriver/bidi/modules/network.py
  webdriver/tests/bidi/network/add_intercept/add_intercept.py
  webdriver/tests/bidi/network/add_intercept/contexts.py
  webdriver/tests/bidi/network/add_intercept/invalid.py
  webdriver/tests/bidi/network/conftest.py
Labels: infra, webdriver, wg-testing_browser, status:needs-reviewers, webdriver-bidi

#44805 [wdspec] add a test for contextCreated events on subcribe
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
Labels: webdriver-bidi

#44823 [webnn] Remove float32 tests with autoPad option
  webnn/resources/test_data/average_pool2d.json
  webnn/resources/test_data/conv2d.json
  webnn/resources/test_data/conv_transpose2d.json
  webnn/resources/test_data/l2_pool2d.json
  webnn/resources/test_data/max_pool2d.json
Labels: webnn, wg-s_webmachinelearning

#44827 Fix header-origin-same-origin.html test names as beacon without body use POST
  beacon/headers/header-origin-same-origin.html
  beacon/headers/header-referrer.js
Labels: beacon, wg-s_webperf

#44651 add tests for constructed stylesheet invalidation
  css/cssom/CSSStyleSheet-constructable-invalidation.html
Labels: wg-css, cssom

#44795 Add css/css-borders/META.yml
  css/css-borders/META.yml
Labels: status:needs-reviewers, css-borders

#44857 typo
  webdriver/tests/bidi/external/permissions/set_permission/invalid.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#44836 Add test for unknown, invalid ancillary chunk which should be error corrected per spec.
  png/errors/support/invalid-unknown-ancillary.png
  png/errors/support/no-invalid-chunks.png
  png/errors/unknown-ancillary-error-recovery-ref.html
  png/errors/unknown-ancillary-error-recovery.html
Labels: png, wg-s_png

#44658 DOM: Added a few batch-insertion scenarios that are incompatible across engines
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-button-from-div.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-custom-from-fragment.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-default-style-meta-from-fragment.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-div-from-fragment.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-iframe.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-source-from-fragment.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-and-style.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-script-in-script.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-text-and-script-in-style.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-text-in-script.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-three-scripts-from-fragment.tentative.html
  dom/nodes/insertion-removing-steps/Node-appendChild-three-scripts.tentative.html
Labels: dom
