Repository web-platform-tests/wpt, pull requests merged in 2024-04, with the labels that each got.

#45454 Support two more test types for iOS wptrunner
  tools/wptrunner/wptrunner/browsers/chrome_ios.py
Labels: infra, wptrunner

#44409 Revert "Remove shipping related things from payment-request (#28830)"
  payment-method-basic-card/billing-address-is-null-manual.https.html
  payment-request/PaymentAddress/attributes-and-toJSON-method-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-call-immediate-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-duplicate-shipping-options-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-incremental-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-method-abort-update-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updateWith-state-checks-manual.https.html
  payment-request/PaymentRequestUpdateEvent/updatewith-method.https.html
  payment-request/PaymentValidationErrors/retry-shows-shippingAddress-member-manual.https.html
  payment-request/algorithms-manual.https.html
  payment-request/billing-address-changed-manual.https.html
  payment-request/change-shipping-option-manual.https.html
  payment-request/change-shipping-option-select-last-manual.https.html
  payment-request/dynamically-change-shipping-options-manual.https.html
  payment-request/historical.https.html
  payment-request/payment-request-constructor-thcrash.https.html
  payment-request/payment-request-constructor.https.sub.html
  payment-request/payment-request-ctor-currency-code-checks.https.sub.html
  payment-request/payment-request-onshippingaddresschange-attribute.https.html
  payment-request/payment-request-onshippingoptionchange-attribute.https.html
  payment-request/payment-request-shippingAddress-attribute.https.html
  payment-request/payment-request-shippingOption-attribute.https.html
  payment-request/payment-request-shippingType-attribute.https.html
  payment-request/payment-response/helpers.js
  payment-request/payment-response/retry-method-manual.https.html
  payment-request/payment-response/retry-method-warnings-manual.https.html
  payment-request/payment-response/shippingAddress-attribute-manual.https.html
  payment-request/payment-response/shippingOption-attribute-manual.https.html
  payment-request/shipping-address-changed-manual.https.html
  payment-request/show-method-optional-promise-rejects.https.html
  payment-request/show-method-optional-promise-resolves-manual.https.html
  payment-request/updateWith-method-pmi-handling-manual.https.html
  payment-request/user-accepts-payment-request-algo-manual.https.html
Labels: payment-request, wg-payments, payment-method-basic-card

#45350 Fetch: block ports 4190 & 6679
  fetch/api/request/request-bad-port.any.js
  tools/wptserve/wptserve/utils.py
  websockets/Create-blocked-port.any.js
Labels: infra, websockets, wptserve, fetch, status:needs-spec-decision

#45058 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267692
  trusted-types/DOMWindowTimers-setTimeout-setInterval.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#45264 Sort keys in WEB_FEATURES_MANIFEST.json
  tools/web_features/manifest.py
  tools/web_features/tests/test_manifest.py
Labels: infra, web_features

#45463 Add a test for gradients dependent on the used color-scheme
  css/css-images/gradient/color-scheme-dependent-color-stops-ref.html
  css/css-images/gradient/color-scheme-dependent-color-stops.html
Labels: css-images

#44736 [wptrunner] Add type hints for `wptrunner.browsers.base`
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/firefox_android.py
  tools/wptrunner/wptrunner/browsers/sauce.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/browsers/wktr.py
  tools/wptrunner/wptrunner/environment.py
  tools/wptrunner/wptrunner/testloader.py
Labels: infra, wptrunner

#45470 Map tests to web-features for simple cases
  bluetooth/WEB_FEATURES.yml
  compression/WEB_FEATURES.yml
  device-posture/WEB_FEATURES.yml
  html-media-capture/WEB_FEATURES.yml
  import-maps/WEB_FEATURES.yml
  intersection-observer/WEB_FEATURES.yml
  intersection-observer/v2/WEB_FEATURES.yml
  jpegxl/WEB_FEATURES.yml
  mathml/WEB_FEATURES.yml
  pointerlock/WEB_FEATURES.yml
  scroll-animations/WEB_FEATURES.yml
  server-timing/WEB_FEATURES.yml
  trusted-types/WEB_FEATURES.yml
  visual-viewport/WEB_FEATURES.yml
  webmidi/WEB_FEATURES.yml
Labels: html-media-capture, pointerlock, webmidi, wg-webplatform, mathml, wg-math, bluetooth, intersection-observer, server-timing, trusted-types, visual-viewport, wg-das, scroll-animations, import-maps, compression, device-posture, wg-s_webapps, wg-s_webappsec, wg-s_audio, wg-s_webperf, jpegxl

#45473 [css-backgrounds] remove list.txt files
  css/css-backgrounds/background-clip/list.txt
  css/css-backgrounds/background-origin/list.txt
Labels: css-backgrounds

#45356 Map tests for 3D transforms
  css/css-transforms/WEB_FEATURES.yml
  css/css-transforms/animation/WEB_FEATURES.yml
  css/css-transforms/parsing/WEB_FEATURES.yml
Labels: css-transforms

#45472 Reland "[wptrunner] Log which browser (PID) ran each test"
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#45419 Add right-to-left and top-to-bottom tests for text-wrap: balance
  css/css-text/white-space/text-wrap-balance-right-to-left.html
  css/css-text/white-space/text-wrap-balance-top-to-bottom.html
Labels: css-text

#45394 [css-color] update list of rectangular color spaces
  css/css-color/parsing/color-computed-color-mix-function.html
  css/css-color/parsing/color-invalid-color-mix-function.html
  css/css-color/parsing/color-valid-color-mix-function.html
Labels: css-color

#45393 [css-color] `none` in relative color with color-mix
  css/css-color/parsing/color-computed-relative-color.html
Labels: css-color

#45425 compositing: Send entire scene's scroll offsets when sending WebRender display lists
  css/css-transforms/support/transform-iframe-scroll-position-contents.html
  css/css-transforms/transform-iframe-scroll-position-ref.html
  css/css-transforms/transform-iframe-scroll-position.html
Labels: servo-export, css-transforms

#44744 UIEvents: Tentative test for textInput with drag and drop
  html/editing/dnd/drop/events-contenteditable-manual.tentative.html
  html/editing/dnd/drop/events-contenteditable-same-element-manual.tentative.html
  html/editing/dnd/drop/events-input-manual.tentative.html
  html/editing/dnd/drop/events-input-same-element-manual.tentative.html
  html/editing/dnd/drop/events-textarea-manual.tentative.html
  html/editing/dnd/drop/events-textarea-same-element-manual.tentative.html
  html/editing/dnd/drop/support/events.js
Labels: html

#45492 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272076
  css/css-transitions/starting-style-adjustment.html
Labels: css-transitions, webkit-export

#45401 [wasm] esm integration test updates
  wasm/jsapi/module/moduleSource.tentative.any.js
  wasm/webapi/esm-integration/resources/worker-source-phase.js
  wasm/webapi/esm-integration/script-src-allows-wasm.tentative.html
  wasm/webapi/esm-integration/script-src-blocks-wasm.tentative.html
  wasm/webapi/esm-integration/source-phase.tentative.html
  wasm/webapi/esm-integration/worker-import-source-phase.tentative.html
Labels: wasm

#45150 [css-color] test clamping of alpha in relative color syntax
  css/css-color/parsing/color-computed-relative-color.html
Labels: css-color

#45523 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272117
  css/css-view-transitions/update-callback-timeout.html
Labels: webkit-export, css-view-transitions

#45475 Map some CSS features to web-features
  css/css-animations/WEB_FEATURES.yml
  css/css-animations/parsing/WEB_FEATURES.yml
  css/css-backgrounds/WEB_FEATURES.yml
  css/css-backgrounds/animations/WEB_FEATURES.yml
  css/css-backgrounds/background-clip/WEB_FEATURES.yml
  css/css-backgrounds/parsing/WEB_FEATURES.yml
  css/css-cascade/WEB_FEATURES.yml
  css/css-cascade/parsing/WEB_FEATURES.yml
  css/css-color/WEB_FEATURES.yml
  css/css-color/parsing/WEB_FEATURES.yml
  css/css-sizing/aspect-ratio/WEB_FEATURES.yml
  css/css-text/parsing/WEB_FEATURES.yml
  css/css-text/text-spacing-trim/WEB_FEATURES.yml
  css/css-ui/WEB_FEATURES.yml
  css/css-ui/animation/WEB_FEATURES.yml
  css/css-values/WEB_FEATURES.yml
  css/cssom-view/WEB_FEATURES.yml
  css/filter-effects/WEB_FEATURES.yml
  css/filter-effects/animation/WEB_FEATURES.yml
  css/filter-effects/parsing/WEB_FEATURES.yml
  css/selectors/WEB_FEATURES.yml
  css/selectors/invalidation/WEB_FEATURES.yml
  css/selectors/parsing/WEB_FEATURES.yml
Labels: wg-css, selectors, cssom-view, css-values, css-sizing, css-text, css-ui, css-cascade, css-backgrounds, css-color, filter-effects, css-animations

#44720 Use the 'verified' field of the test vectors.
  WebCryptoAPI/sign_verify/eddsa.js
Labels: WebCryptoAPI, wg-webcrypto

#45561 [wptrunner] On exit, re-register prior `SIGINT` handler, not `SIG_DFL`
  tools/wptrunner/wptrunner/environment.py
Labels: infra, wptrunner

#45573 Map CSS fonts tests to web-features
  css/css-fonts/WEB_FEATURES.yml
  css/css-fonts/animations/WEB_FEATURES.yml
  css/css-fonts/parsing/WEB_FEATURES.yml
  css/css-fonts/variations/WEB_FEATURES.yml
Labels: css-fonts

#45598 Remove jugglinmike from suggested reviewers lists
  html/cross-origin-embedder-policy/META.yml
  html/cross-origin-opener-policy/META.yml
Labels: html

#45483 update tests which are generic across all TypedArrays for Float16Array
  FileAPI/blob/Blob-constructor.any.js
  IndexedDB/idb-binary-key-roundtrip.htm
  IndexedDB/structured-clone.any.js
  WebCryptoAPI/getRandomValues.any.js
  compression/decompression-buffersource.tentative.any.js
  encoding/encodeInto.any.js
  fetch/api/basic/request-headers.any.js
  fetch/api/basic/request-upload.any.js
  fetch/api/response/response-clone.any.js
  html/infrastructure/safe-passing-of-structured-data/shared-array-buffers/window-simple-success.https.html
  resources/idlharness.js
  resources/test/tests/unit/IdlArray/is_json_type.html
  websockets/Send-binary-arraybufferview-float16.any.js
  workers/semantics/interface-objects/001.worker.js
  workers/semantics/interface-objects/003.any.js
  xhr/send-data-sharedarraybuffer.any.js
Labels: xhr, html, FileAPI, IndexedDB, infra, WebCryptoAPI, websockets, workers, wg-webapps, wg-webcrypto, encoding, fetch, idlharness.js, testharness.js, compression, wg-s_htmlwg, wg-s_webapps

#45600 Map @scope tests to web-features
  css/css-cascade/WEB_FEATURES.yml
Labels: css-cascade

#45495 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=271824
  trusted-types/Element-setAttribute.html
  trusted-types/HTMLElement-generic.html
  trusted-types/TrustedType-AttributeNodes.html
  trusted-types/TrustedTypePolicyFactory-getPropertyType.html
  trusted-types/block-string-assignment-to-Element-setAttribute.html
  trusted-types/block-string-assignment-to-Element-setAttributeNS.html
  trusted-types/block-string-assignment-to-HTMLElement-generic.html
  trusted-types/block-string-assignment-to-attribute-via-attribute-node.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#45593 [wptrunner] Ensure `ManagerGroup.wait()` waits for all threads to stop
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#45599 Screen Wake Lock: Add test for non-fully active doc
  screen-wake-lock/wakelock-active-document.https.window.js
Labels: wg-das, screen-wake-lock

#45605 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272083
  css/css-color/parsing/color-valid-color-mix-function.html
Labels: css-color, webkit-export

#45624 Remove getHTML() shouldn't branch on shadow root's mode
  shadow-dom/declarative/gethtml.html
Labels: shadow-dom, wg-webplatform

#45502 Add tests for new Worker() and worker.postMessage() to happen in parallel
  workers/Worker-creation-happens-in-parallel.https.html
  workers/Worker-creation-happens-in-parallel.https.html.headers
  workers/Worker-postMessage-happens-in-parallel.https.html
  workers/Worker-postMessage-happens-in-parallel.https.html.headers
  workers/support/Worker-creation-happens-in-parallel.js
  workers/support/Worker-postMessage-happens-in-parallel.js
Labels: workers, wg-s_htmlwg

#45563 Test interaction between `object-fit` and `contain: size`
  css/css-images/object-fit-containcontainintrinsicsize-png-001i.tentative.html
  css/css-images/object-fit-containsize-png-001-ref.tentative.html
  css/css-images/object-fit-containsize-png-001i.tentative.html
Labels: css-images

#45656 [wptrunner] Remove WebLayer support
  tools/wpt/browser.py
  tools/wpt/install.py
  tools/wpt/run.py
  tools/wptrunner/wptrunner/browsers/__init__.py
  tools/wptrunner/wptrunner/browsers/android_weblayer.py
Labels: infra, wpt, wptrunner

#45648 [webnn] Fixed tests with keepDimensions=false for argMax and argMin
  webnn/resources/test_data/arg_max.json
  webnn/resources/test_data/arg_min.json
Labels: webnn, wg-s_webmachinelearning

#45663 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272517
  svg/path/property/serialization.svg
Labels: wg-svg, svg, webkit-export

#45471 Implement form-associated custom elements and their ElementInternals
  custom-elements/form-associated/form-associated-callback.html
Labels: custom-elements, wg-webplatform, servo-export

#43334 Add tests for ::first-letter and ::first-line with MathML
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-001-ref.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-001.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-002-ref.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-002.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-003-ref.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-003.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-004-ref.html
  mathml/relations/css-styling/first-line-first-letter-pseudo-elements-004.html
Labels: mathml, wg-math, status:needs-reviewers

#45626 [wdspec] change assertion for viewport/test_with_scrollbars
  webdriver/tests/bidi/browsing_context/set_viewport/viewport.py
Labels: webdriver-bidi

#45002 Build summary table without innerHTML
  resources/testharness.js
Labels: infra, testharness.js

#45671 Element collapsing thru should collapse with its children
  css/CSS2/margin-padding-clear/margin-collapse-clear-011-ref.xht
  css/CSS2/margin-padding-clear/margin-collapse-clear-011.xht
Labels: wg-css, CSS2, servo-export

#45688 URL: some additional host setter tests
  url/resources/setters_tests.json
Labels: url

#45660 Test inserted async script execution order
  html/semantics/scripting-1/the-script-element/module/inline-async-inserted-execorder.html
Labels: html

#45699 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272496
  css/css-view-transitions/new-content-changes-overflow-left-ref.html
  css/css-view-transitions/new-content-changes-overflow-left.html
Labels: webkit-export, css-view-transitions

#44769 Add test for external script hashes in content-security-policy/script-src/script-src-strict_dynamic_hashes
  content-security-policy/script-src/script-src-strict_dynamic_hashes.html
  content-security-policy/script-src/script-src-strict_dynamic_hashes.html.headers
Labels: content-security-policy

#45641 Fix CSP test descriptions 'same' -> 'self'
  content-security-policy/frame-ancestors/frame-ancestors-nested-cross-in-cross-self-block.html
  content-security-policy/frame-ancestors/frame-ancestors-nested-cross-in-same-self-block.html
  content-security-policy/frame-ancestors/frame-ancestors-nested-same-in-cross-self-block.html
  content-security-policy/frame-ancestors/frame-ancestors-nested-same-in-same-self-allow.html
Labels: content-security-policy

#44323 Add test for importing a `srcdoc` attribute node from a non-TT realm to a TT iframe element throws
  trusted-types/Element-setAttribute-respects-Elements-node-documents-globals-CSP.html
Labels: html, dom, shadow-dom, pointerevents, infra, webdriver, workers, webaudio, assets, notifications, orientation-event, custom-elements, webrtc, wg-testing_browser, wg-svg, wg-css, web-animations, selectors, service-workers, encoding, wptserve, fetch, svg, cssom-view, selection, editing, wg-webplatform, uievents, generic-sensor, wg-wai_pf, mediacapture-record, mathml, wg-math, console, intersection-observer, css-values, css-text, css-ui, css-grid, css-display, CSS2, css-position, credential-management, css-cascade, css-transitions, css-page, css-backgrounds, css-color, wptrunner, trusted-types, css-animations, wg-sw, css-flexbox, css-writing-modes, css-text-decor, css-overflow, css-contain, css-scroll-snap, wg-das, scroll-animations, web-locks, ci, event-timing, serial, printing, wg-s_webrtc, custom-state-pseudo-class, mediacapture-insertable-streams, webdriver-bidi, requirements_tests.txt, wg-s_htmlwg, wg-s_pointer-events, speculation-rules, webnn, wg-s_webmachinelearning, wg-s_webapps, attribution-reporting, shared-storage, wg-s_webappsec, css-anchor-position, wg-s_audio, css-view-transitions, long-animation-frame, fledge, fenced-frame, shared-storage-selecturl-limit, wg-cg_wicg, zoom, wg-s_webperf

#45700 fix(geolocation): use 'alt' substitution for different origin
  geolocation-API/disabled-by-permissions-policy.https.sub.html
  geolocation-API/enabled-by-permission-policy-attribute-redirect-on-load.https.sub.html
  geolocation-API/enabled-by-permission-policy-attribute.https.sub.html
  geolocation-API/enabled-by-permissions-policy.https.sub.html
  geolocation-API/enabled-on-self-origin-by-permissions-policy.https.sub.html
Labels: geolocation-API, wg-geolocation

#45708 Use correct formatting in testharness.js result table
  resources/testharness.js
Labels: infra, testharness.js

#45712 [css] Move "zoom" property tests to "css/css-viewport/zoom/"
  css/css-viewport/zoom/iframe-zoom-nested.html
  css/css-viewport/zoom/iframe-zoom.sub.html
  css/css-viewport/zoom/reference/iframe-zoom-nested-ref.html
  css/css-viewport/zoom/reference/iframe-zoom-ref.html
  css/css-viewport/zoom/resources/iframe_content.html
  css/css-viewport/zoom/resources/nested-iframe-no-zoom.html
  css/css-viewport/zoom/resources/nested-iframe-with-zoom.html
Labels: wg-css, css-viewport

#45669 [css-grid][masonry] Update tests to align with intrinsic track sizing behavior
  css/css-grid/masonry/tentative/align-content/masonry-align-content-003-ref.html
  css/css-grid/masonry/tentative/masonry-grid-template-columns-computed-withcontent.html
Labels: css-grid

#45756 Remove erroneous ref from event-pseudo-name.html
  css/css-view-transitions/event-pseudo-name.html
Labels: status:needs-reviewers, css-view-transitions

#45760 Bump wptserve to version 4.0.2
  tools/wptserve/setup.py
Labels: infra, wptserve, mozilla:gecko-blocked

#45696 Update document for test type and test features
  docs/writing-tests/file-names.md
  tools/manifest/sourcefile.py
Labels: infra, docs, manifest

#45263 Adding "doc-credit" to DPUB ARIA roles
  dpub-aam/role/roles.html
Labels: dpub-aam

#44218 [masonry] Track Sizing Updates
  css/css-grid/masonry/tentative/gap/masonry-gap-001-ref.html
  css/css-grid/masonry/tentative/gap/masonry-gap-001.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-left-side-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-overflow-right-side-ref.html
Labels: css-grid

#45778 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272713
  css/css-view-transitions/pseudo-element-preserve-3d-ref.html
  css/css-view-transitions/pseudo-element-preserve-3d.html
Labels: webkit-export, css-view-transitions

#45777 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272834
  css/css-view-transitions/massive-element-below-and-on-top-of-viewport-partially-onscreen-old.html
  css/css-view-transitions/massive-element-below-viewport-partially-onscreen-old.html
  css/css-view-transitions/massive-element-right-and-left-of-viewport-partially-onscreen-old.html
  css/css-view-transitions/new-content-captures-spans.html
  css/css-view-transitions/root-scrollbar-with-fixed-background.html
  css/css-view-transitions/rotated-cat-off-top-edge.html
Labels: status:needs-reviewers, webkit-export, css-view-transitions

#45661 CSS: offset-rotate test incorrectly relies on scientific notation
  css/motion/animation/offset-rotate-interpolation.html
Labels: motion

#45003 Remove unused function.
  resources/testharnessreport.js
Labels: infra, testharness.js

#45763 Map :autofill and :default to web-features
  html/semantics/selectors/pseudo-classes/WEB_FEATURES.yml
Labels: html

#45588 Map HTML tests to web-features
  html/dom/render-blocking/WEB_FEATURES.yml
  html/interaction/focus/WEB_FEATURES.yml
  html/interaction/focus/sequential-focus-navigation-and-the-tabindex-attribute/WEB_FEATURES.yml
  html/rendering/non-replaced-elements/flow-content-0/WEB_FEATURES.yml
  html/rendering/the-details-element/WEB_FEATURES.yml
  html/semantics/embedded-content/the-object-element/WEB_FEATURES.yml
  html/semantics/forms/constraints/WEB_FEATURES.yml
  html/semantics/forms/the-button-element/WEB_FEATURES.yml
  html/semantics/forms/the-fieldset-element/WEB_FEATURES.yml
  html/semantics/forms/the-form-element/WEB_FEATURES.yml
  html/semantics/forms/the-input-element/WEB_FEATURES.yml
  html/semantics/forms/the-output-element/WEB_FEATURES.yml
  html/semantics/forms/the-select-element/WEB_FEATURES.yml
  html/semantics/forms/the-textarea-element/WEB_FEATURES.yml
  html/semantics/interactive-elements/the-details-element/WEB_FEATURES.yml
  html/semantics/scripting-1/the-template-element/WEB_FEATURES.yml
  html/syntax/parsing/template/WEB_FEATURES.yml
  html/webappapis/structured-clone/WEB_FEATURES.yml
Labels: html, html-fieldset

#45427 Move jitterBufferTarget tests to main WebRTC spec
  webrtc/RTCRtpReceiver-audio-jitterBufferTarget-stats.https.html
  webrtc/RTCRtpReceiver-jitterBufferTarget-stats-helper.js
  webrtc/RTCRtpReceiver-jitterBufferTarget.html
  webrtc/RTCRtpReceiver-video-jitterBufferTarget-stats.html
Labels: webrtc, wg-s_webrtc

#43702 Map flexbox tests to web-features
  css/css-flexbox/WEB_FEATURES.yml
Labels: wg-css, css-flexbox

#45786 Map :user-valid and :user-invalid to web-features
  css/selectors/WEB_FEATURES.yml
  css/selectors/invalidation/WEB_FEATURES.yml
Labels: selectors

#45759 Tests for an explicit `initial` and “space” style queries
  css/css-contain/container-queries/custom-property-style-queries.html
Labels: css-contain

#45807 [css-grid-3][masonry] Fix support stylesheet :hover rule error
  css/css-grid/masonry/tentative/intrinsic-sizing/support/masonry-intrinsic-sizing-visual.css
Labels: css-grid

#45812 [css-grid-2][masonry] Update intrinsic-sizing tests for spec update
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-001-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-001.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-002-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-002.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-003-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-003.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-004-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-004.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-005-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-006-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-006.html
  css/css-grid/masonry/tentative/intrinsic-sizing/support/masonry-intrinsic-sizing-visual.css
Labels: css-grid

#44456 Streams: test promise resolution order of async iterator
  streams/readable-streams/async-iterator.any.js
Labels: streams

#45681 Add test for variation sequences cluster matching
  css/css-fonts/resources/vs/MPLUS1-Regular_without-cmap14-subset.ttf
  css/css-fonts/resources/vs/NotoColorEmoji-Regular_subset.ttf
  css/css-fonts/resources/vs/NotoEmoji-Regular_subset.ttf
  css/css-fonts/resources/vs/NotoEmoji-Regular_without-cmap14-subset.ttf
  css/css-fonts/resources/vs/NotoSansJP-Regular_with-cmap14-subset.ttf
  css/css-fonts/resources/vs/NotoSansMath-Regular_without-cmap14-subset.ttf
  css/css-fonts/resources/vs/STIXTwoMath-Regular_with-cmap14-subset.ttf
  css/css-fonts/support/css/variation-sequences.css
  css/css-fonts/support/js/variation-sequences.js
  css/css-fonts/variation-sequences-ref.html
  css/css-fonts/variation-sequences.html
Labels: css-fonts

#45822 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273065
  css/css-easing/linear-timing-functions-syntax.tentative.html
Labels: webkit-export, css-easing

#45830 [css-grid-3][masonry] Improve grid resizing test
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-check-grid-height-on-resize-ref.html
  css/css-grid/masonry/tentative/track-sizing/masonry-track-sizing-check-grid-height-on-resize.html
Labels: css-grid

#45833 [wptrunner] Report crash when WebDriver browser is not alive
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#45856 Add expected labels to errant tests in display-contents-role-and-label.html
  css/css-display/accessibility/display-contents-role-and-label.html
Labels: css-display

#45843 [wdspec] Move HTTP Status test back to single file.
  webdriver/tests/bidi/network/response_completed/response_completed.py
  webdriver/tests/bidi/network/response_completed/response_completed_status.py
Labels: webdriver-bidi

#45873 Map inert tests to web-features
  inert/WEB_FEATURES.yml
Labels: inert

#45857 Add Chrome parameters to disable anti-aliasing for Ahem
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#45881 Map :read-only and :read-write tests to web-features
  css/selectors/WEB_FEATURES.yml
  html/semantics/selectors/pseudo-classes/WEB_FEATURES.yml
Labels: html, selectors

#45886 Map canvas text baseline tests to web-features
  html/canvas/element/text/WEB_FEATURES.yml
  html/canvas/offscreen/text/WEB_FEATURES.yml
Labels: html

#45888 Map color-scheme/prefers-color-scheme to web-features
  css/css-color-adjust/rendering/dark-color-scheme/WEB_FEATURES.yml
  css/mediaqueries/WEB_FEATURES.yml
Labels: wg-css, mediaqueries, css-color-adjust

#45867 remove invalid namefrom contents expectations for li
  css/css-display/accessibility/display-contents-role-and-label.html
Labels: css-display, accname

#45870 remove invalid namefrom contents expectations for td
  css/css-display/accessibility/display-contents-role-and-label.html
Labels: css-display

#45854 Correct id of img element in aria-labelledby test
  accname/name/comp_name_from_content.html
Labels: accname

#45794 Interop: correct invalid nbsp trimming label tests
  accname/name/comp_text_node.html
Labels: accname

#45855 script: Prevent "scroll to fragment" from scrolling offscreen
  html/browsers/browsing-the-web/scroll-to-fragid/scroll-position-inline-nearest.html
Labels: html, servo-export

#45895 Adding Private-Use-Area (PUA) character test
  css/css-fonts/matching/font-unicode-PUA-primary-font-notref.html
  css/css-fonts/matching/font-unicode-PUA-primary-font.html
Labels: css-fonts

#45897 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273058
  css/css-view-transitions/pseudo-element-overflow-hidden-ref.html
  css/css-view-transitions/pseudo-element-overflow-hidden.html
Labels: webkit-export, css-view-transitions

#45862 Geolocation: set allow attr for cross-origin policy tests
  geolocation-API/disabled-by-permissions-policy.https.sub.html
  geolocation-API/enabled-by-permission-policy-attribute-redirect-on-load.https.sub.html
  geolocation-API/enabled-by-permissions-policy.https.sub.html
  geolocation-API/enabled-on-self-origin-by-permissions-policy.https.sub.html
Labels: geolocation-API, wg-geolocation

#45906 [WebDriver BiDi] Relax screenshot with dpr test
  webdriver/tests/bidi/browsing_context/capture_screenshot/capture_screenshot.py
Labels: webdriver-bidi

#45887 Move a prefers-color-scheme test to css/mediaqueries/
  css/css-color-adjust/rendering/dark-color-scheme/support/prefers-color-scheme.svg
  css/css-color-adjust/rendering/dark-color-scheme/svg-as-image.html
  css/mediaqueries/prefers-color-scheme-svg-as-image-ref.html
  css/mediaqueries/prefers-color-scheme-svg-as-image.html
Labels: wg-css, mediaqueries, css-color-adjust

#45904 Map constructed stylesheet tests to web-features
  css/cssom/WEB_FEATURES.yml
Labels: wg-css, cssom

#45933 Fix typo in aria-element-reflection.html
  html/dom/aria-element-reflection.html
Labels: html

#45950 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273312
  trusted-types/TrustedTypePolicyFactory-getPropertyType.tentative.html
  trusted-types/TrustedTypePolicyFactory-metadata.tentative.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#45953 Fix chrome install
  tools/ci/azure/install_chrome.yml
Labels: infra, ci, Azure Pipelines

#45941 [css-color] Tests assume old hsl()/hsla() clipping behavior or depend on unclear gamut mapping to sRGB
  css/css-color/hsl-clamp-negative-saturation-ref.html
  css/css-color/hsl-clamp-negative-saturation.html
  css/css-color/hsla-clamp-negative-saturation-ref.html
  css/css-color/hsla-clamp-negative-saturation.html
  css/css-color/t424-hsl-clip-outside-gamut-b.xht
  css/css-color/t425-hsla-clip-outside-device-gamut-b.xht
  html/canvas/tools/yaml/element/meta.yaml
Labels: html, css-color

#45927 [css-viewport] Remove assert for offsetTop after modifying zoom property
  css/css-viewport/zoom/scroll-top-test-with-zoom.html
Labels: wg-css, css-viewport

#45965 Sync and regenerate the canvas tests after fd6e3178
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-1.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-3.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-3.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-4.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-4.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-negative-saturation.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-negative-saturation.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-1.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-3.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-3.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-4.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-4.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-5.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-5.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-1.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-1.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-2.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-2.png
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-negative-saturation.html
  html/canvas/element/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-negative-saturation.png
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-negative-saturation.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsl-clamp-negative-saturation.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-1.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-1.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-2.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-alpha-2.worker.js
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-negative-saturation.html
  html/canvas/offscreen/fill-and-stroke-styles/2d.fillStyle.parse.hsla-clamp-negative-saturation.worker.js
  html/canvas/tools/yaml/offscreen/meta.yaml
Labels: html

#45958 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273364
  css/css-transitions/shadow-root-insertion.html
Labels: css-transitions, webkit-export

#45819 Set the default device_serial argument
  tools/wpt/run.py
Labels: infra, wpt

#45978 Remove dependencies for Python < 3.8
  tools/requirements_flake8.txt
Labels: infra, requirements_flake8.txt

#45956 Fix error reporting in tools/serve/serve.py
  tools/serve/serve.py
Labels: infra, serve

#45979 Fix typo in pseudo-with-classes-match-wildard.html file name
  css/css-view-transitions/pseudo-with-classes-match-wildcard.html
Labels: status:needs-reviewers, css-view-transitions

#45498 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267693
  trusted-types/support/resolve-spv.js
  trusted-types/trusted-types-svg-script-set-href.html
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#45985 [Azure Pipelines] fix Firefox Nightly cask URL
  infrastructure/metadata/infrastructure/testdriver/click_iframe_crossorigin.sub.html.ini
  tools/ci/azure/install_chrome.yml
  tools/ci/azure/install_firefox.yml
Labels: infra, ci, Azure Pipelines
