Repository web-platform-tests/wpt, pull requests merged in 2024-05, with the labels that each got.

#46012 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273537
  css/css-view-transitions/new-content-ancestor-clipped-ref.html
  css/css-view-transitions/new-content-ancestor-clipped.html
Labels: webkit-export, css-view-transitions

#46002 Pass a channel argument to install_webdriver_by_version()
  tools/wpt/browser.py
Labels: infra, wpt

#46022 [WebDriver BiDi] Add missing `setup_key_test`
  webdriver/tests/bidi/input/perform_actions/key_events.py
Labels: webdriver-bidi

#46023 Map counter-set tests to web-features
  css/css-lists/WEB_FEATURES.yml
Labels: css-lists

#46027 Map exponential function tests to web-features
  css/css-values/WEB_FEATURES.yml
Labels: wg-css, css-values

#46028 Map URL.canParse() tests to web-features
  url/WEB_FEATURES.yml
Labels: url

#46033 Map contain-intrinsic-size tests to web-features
  css/css-sizing/contain-intrinsic-size/WEB_FEATURES.yml
Labels: css-sizing

#46034 Map @counter-style tests to web-features
  css/css-counter-styles/counter-style-at-rule/WEB_FEATURES.yml
  css/css-counter-styles/cssom/WEB_FEATURES.yml
Labels: css-counter-styles

#46035 Map orientation event tests to web-features
  orientation-event/WEB_FEATURES.yml
Labels: orientation-event, wg-das, wg-s_webapps

#46036 Map hyphens tests to web-features
  css/css-text/hyphens/WEB_FEATURES.yml
Labels: css-text

#46024 Make linear() easing tests no longer tentative
  css/css-easing/linear-timing-functions-output.html
  css/css-easing/linear-timing-functions-syntax.html
Labels: css-easing

#46045 Fix unclosed `<style>` tag in root-to-shared-animation-incoming-ref.html
  css/css-view-transitions/root-to-shared-animation-incoming-ref.html
Labels: status:needs-reviewers, css-view-transitions

#46050 Fix ./wpt update-built --include fetch
  fetch/metadata/tools/fetch-metadata.conf.yml
Labels: fetch

#46026 Map preservesPitch test to web-features
  html/semantics/embedded-content/media-elements/WEB_FEATURES.yml
Labels: html

#46029 Map navigator.userActivation tests to web-features
  html/user-activation/WEB_FEATURES.yml
Labels: html

#46030 Map ARIA attribute reflection tests to web-features
  html/dom/WEB_FEATURES.yml
Labels: html

#46031 Map WebAuthn getPublicKey test to web-features
  webauthn/WEB_FEATURES.yml
Labels: webauthn, wg-s_webauthn

#46051 Sync paths that trigger the update_built CI job
  fetch/metadata/tools/fetch-metadata.conf.yml
  tools/ci/jobs.py
  tools/ci/update_built.py
Labels: infra, fetch, ci

#46039 Enabled subsuite support for chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#45493 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=269718
  trusted-types/default-policy-callback-arguments.html
Labels: trusted-types, webkit-export, mozilla:gecko-blocked, wg-s_webappsec

#45891 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273141
  html/semantics/popovers/popover-light-dismiss-scroll-within.html
  html/semantics/popovers/popover-light-dismiss.html
Labels: html, webkit-export

#46072 Check use of NavigateEvent.sourceElement
  navigation-api/navigate-event/event-constructor.html
  navigation-api/navigate-event/navigate-anchor-cross-origin.html
  navigation-api/navigate-event/navigate-anchor-download-userInitiated.html
  navigation-api/navigate-event/navigate-anchor-download.html
  navigation-api/navigate-event/navigate-anchor-fragment.html
  navigation-api/navigate-event/navigate-anchor-same-origin-cross-document.html
  navigation-api/navigate-event/navigate-anchor-userInitiated.html
  navigation-api/navigate-event/navigate-anchor-with-target.html
  navigation-api/navigate-event/navigate-destination-getState-back-forward.html
  navigation-api/navigate-event/navigate-destination-getState-navigate.html
  navigation-api/navigate-event/navigate-destination-getState-reload.html
  navigation-api/navigate-event/navigate-form-get.html
  navigation-api/navigate-event/navigate-form-reload.html
  navigation-api/navigate-event/navigate-form-traverse.html
  navigation-api/navigate-event/navigate-form-userInitiated.html
  navigation-api/navigate-event/navigate-form-with-target.html
  navigation-api/navigate-event/navigate-form.html
  navigation-api/navigate-event/navigate-history-back-after-fragment.html
  navigation-api/navigate-event/navigate-history-back-after-pushState.html
  navigation-api/navigate-event/navigate-history-back-cross-document.html
  navigation-api/navigate-event/navigate-history-go-0.html
  navigation-api/navigate-event/navigate-history-pushState.html
  navigation-api/navigate-event/navigate-history-replaceState.html
  navigation-api/navigate-event/navigate-iframe-location.html
  navigation-api/navigate-event/navigate-location.html
  navigation-api/navigate-event/navigate-meta-refresh.html
  navigation-api/navigate-event/navigate-navigation-back-cross-document.html
  navigation-api/navigate-event/navigate-navigation-back-same-document-in-iframe.html
  navigation-api/navigate-event/navigate-navigation-back-same-document.html
  navigation-api/navigate-event/navigate-navigation-navigate.html
  navigation-api/navigate-event/navigate-svg-anchor-fragment.html
  navigation-api/navigate-event/navigate-to-srcdoc.html
  navigation-api/navigate-event/navigate-window-open-self.html
  navigation-api/navigate-event/navigate-window-open.html
Labels: navigation-api

#45903 Make CSSStyleSheet baseURL test non-tentative
  css/cssom/CSSStyleSheet-constructable-baseURL.html
Labels: wg-css, cssom

#43937 Remove <link rel="match"> from a testharness.js tests
  css/css-shadow-parts/invalidation-part-pseudo.html
Labels: css-shadow-parts

#46081 Map JS modules in worker tests to web-features
  service-workers/service-worker/WEB_FEATURES.yml
  workers/modules/WEB_FEATURES.yml
Labels: workers, service-workers, wg-sw, wg-s_htmlwg

#46077 Map modulepreload tests to web-features
  preload/WEB_FEATURES.yml
Labels: preload, wg-s_webperf

#46078 Map dirname tests to web-features
  html/semantics/forms/attributes-common-to-form-controls/WEB_FEATURES.yml
Labels: html

#46079 Map motion path tests to web-features
  css/motion/WEB_FEATURES.yml
Labels: motion

#46082 Map WebRTC SCTP tests to web-features
  webrtc/WEB_FEATURES.yml
Labels: webrtc, wg-s_webrtc

#46083 Map fetch metadata tests to web-features
  fetch/metadata/WEB_FEATURES.yml
Labels: fetch

#46084 Map font-synthesis-* tests to web-features
  css/css-fonts/WEB_FEATURES.yml
  css/css-fonts/parsing/WEB_FEATURES.yml
Labels: css-fonts

#45940 [css-color] css/css-color/parsing/color-computed-relative-color.html assumes conversion to hwb is lossless
  css/css-color/parsing/color-computed-relative-color.html
Labels: css-color

#46092 Map :indeterminate tests to web-features
  html/semantics/selectors/pseudo-classes/WEB_FEATURES.yml
Labels: html

#46091 Map conic gradient tests to web-features
  css/css-images/WEB_FEATURES.yml
Labels: css-images

#46088 Map scroll snap tests to web-features
  css/css-scroll-snap/WEB_FEATURES.yml
Labels: css-scroll-snap

#46086 Map form-associated custom element tests to web-features
  custom-elements/form-associated/WEB_FEATURES.yml
Labels: custom-elements, wg-webplatform

#46096 Map baseline-source tests to web-features
  css/css-inline/baseline-source/WEB_FEATURES.yml
Labels: css-inline

#46097 Map compute pressure tests to web-features
  compute-pressure/WEB_FEATURES.yml
Labels: wg-das, compute-pressure

#46003 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272967
  service-workers/service-worker/ServiceWorkerGlobalScope/error-message-event-worker.js
  service-workers/service-worker/ServiceWorkerGlobalScope/error-message-event.https.html
Labels: service-workers, wg-sw, webkit-export

#45980 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272740
  cookies/resources/cookie-test.js
  fetch/h1-parsing/resources-with-0x00-in-header.window.js
Labels: fetch, cookies, webkit-export

#46130 [wdspec] Add tests for locateNodes with a document start node
  webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py
Labels: webdriver-bidi

#46053 Stop running Chrome+Firefox infrastructure/ tests on macOS
  .azure-pipelines.yml
  infrastructure/metadata/infrastructure/reftest/legacy/fuzzy-ref-2.html.ini
  infrastructure/metadata/infrastructure/reftest/legacy/reftest_fuzzy_chain_ini.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_fuzzy_1.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_fuzzy_ini_full.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_fuzzy_ini_ref_only.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest_fuzzy_ini_short.html.ini
  infrastructure/metadata/infrastructure/testdriver/click_iframe_crossorigin.sub.html.ini
Labels: infra, Azure Pipelines

#33468 Remove css/css-color/LICENSE
  css/css-color/LICENSE
Labels: css-color

#46104 add test for realm of result of Response arrayBuffer()
  fetch/api/response/response-arraybuffer-realm.window.js
Labels: fetch

#46076 Map individual transform tests to web-features
  css/css-transforms/WEB_FEATURES.yml
  css/css-transforms/animation/WEB_FEATURES.yml
  css/css-transforms/individual-transform/WEB_FEATURES.yml
  css/css-transforms/parsing/WEB_FEATURES.yml
Labels: css-transforms

#46098 Map field-sizing tests to web-features
  css/css-ui/parsing/WEB_FEATURES.yml
  html/rendering/widgets/WEB_FEATURES.yml
Labels: html, css-ui

#46099 Map custom highlight tests to web-features
  css/css-highlight-api/WEB_FEATURES.yml
Labels: css-highlight-api

#46100 Map light-dark() tests to web-features
  css/css-color/WEB_FEATURES.yml
Labels: css-color

#46101 Map requestVideoFrameCallback() tests to web-features
  video-rvfc/WEB_FEATURES.yml
Labels: video-rvfc, wg-cg_wicg

#46102 Map @starting-style tests to web-features
  css/css-transitions/WEB_FEATURES.yml
  css/css-transitions/parsing/WEB_FEATURES.yml
Labels: css-transitions

#46103 Map ::target-text tests to web-features
  css/css-pseudo/WEB_FEATURES.yml
Labels: css-pseudo

#46134 Map CSS mask tests to web-features
  css/css-masking/WEB_FEATURES.yml
  css/css-masking/animations/WEB_FEATURES.yml
  css/css-masking/mask-image/WEB_FEATURES.yml
  css/css-masking/parsing/WEB_FEATURES.yml
Labels: wg-css, css-masking

#46135 Map storage access tests to web-features
  storage-access-api/WEB_FEATURES.yml
Labels: storage-access-api

#46136 Fix "overfow" typos
  css/css-overflow/overflow-outside-padding.html
  css/css-text/white-space/break-spaces-008.html
  css/css-text/white-space/break-spaces-with-ideographic-space-008.html
Labels: css-text, css-overflow

#46137 Map overflow tests to web-features
  css/css-overflow/WEB_FEATURES.yml
Labels: css-overflow

#46042 Use email.utils.parsedate_to_datetime to parse RFC (2)822 dates
  tools/wptserve/wptserve/sslutils/openssl.py
Labels: infra, wptserve

#46154 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273627
  css/css-transforms/transform3d-preserve3d-014.html
Labels: css-transforms, webkit-export

#46161 Add a simple test for text-wrap: nowrap
  css/css-text/white-space/reference/text-wrap-nowrap-001-mis-ref.html
  css/css-text/white-space/reference/text-wrap-nowrap-001-ref.html
  css/css-text/white-space/text-wrap-nowrap-001.html
Labels: css-text

#46141 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273819
  trusted-types/Document-write.html
  trusted-types/block-string-assignment-to-Document-write.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46160 Map text-wrap tests to web-features
  css/css-text/parsing/WEB_FEATURES.yml
  css/css-text/white-space/WEB_FEATURES.yml
Labels: css-text

#46184 Remove invalid sub-tests in trusted-types/Element-setAttribute-respec…
  trusted-types/Element-setAttribute-respects-Elements-node-documents-globals-CSP.html
Labels: trusted-types, wg-s_webappsec

#46126 Do not block waiting for chromedriver to start up
  tools/wptrunner/wptrunner/browsers/base.py
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/tests/browsers/test_base.py
Labels: infra, wptrunner

#46119 Add TESTDRIVER-IN-UNSUPPORTED-TYPE lint
  lint.ignore
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint

#46171 add test for shadowroots falling back to global scope
  custom-elements/scoped-registry/ShadowRoot-innerHTML-upgrade.tentative.html
Labels: custom-elements, wg-webplatform

#46189 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273969
  css/css-view-transitions/duplicate-tag-rejects-start.html
Labels: webkit-export, mozilla:gecko-blocked, css-view-transitions

#44623 [wdspec] handle connection close exception
  tools/webdriver/webdriver/bidi/transport.py
Labels: infra, webdriver, wg-testing_browser

#46206 Check reftest-wait works in print-reftest
  infrastructure/reftest/reftest_wait_0-print.html
Labels: infra

#45910 [WebDriver BiDi] Remove `context` from Realm expectation
  webdriver/tests/bidi/script/get_realms/get_realms.py
Labels: mozilla:gecko-blocked, webdriver-bidi

#46225 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273751
  css/css-view-transitions/massive-element-below-viewport-offscreen-old.html
  css/css-view-transitions/massive-element-on-top-of-viewport-offscreen-old.html
  css/css-view-transitions/massive-element-right-of-viewport-offscreen-old.html
Labels: webkit-export, css-view-transitions

#46193 fetch: fix redirect-referrer-override.any.js
  fetch/api/redirect/redirect-referrer-override.any.js
Labels: fetch

#46226 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=272952
  css/css-color/parsing/color-computed-relative-color.html
Labels: css-color, webkit-export

#46227 Exclude interpolation test from overflow shorthand test list
  css/css-overflow/WEB_FEATURES.yml
Labels: css-overflow

#45939 Add missing ARIAMixin reflection tests
  custom-elements/ElementInternals-accessibility.html
  custom-elements/reactions/AriaMixin-string-attributes.html
  html/dom/aria-attribute-reflection.html
Labels: html, custom-elements, wg-webplatform

#46231 [html/canvas] tests for TextMetrics.advances should not be in WPT as this attribute is not in the spec
  html/canvas/element/text/2d.text.measure.advances-not-defined.html
  html/canvas/element/text/2d.text.measure.advances.html
  html/canvas/offscreen/text/2d.text.measure.advances-not-defined.html
  html/canvas/offscreen/text/2d.text.measure.advances-not-defined.worker.js
  html/canvas/offscreen/text/2d.text.measure.advances.html
  html/canvas/offscreen/text/2d.text.measure.advances.worker.js
  html/canvas/tools/yaml-new/text.yaml
Labels: html, 2dcontext

#46198 Add tests for bytes() method on Body mixin
  fetch/api/abort/general.any.js
  fetch/api/abort/serviceworker-intercepted.https.html
  fetch/api/request/request-consume.any.js
  fetch/api/response/response-blob-realm.any.js
  fetch/api/response/response-error-from-stream.any.js
  fetch/api/response/response-stream-bad-chunk.any.js
Labels: fetch

#46004 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273542
  service-workers/service-worker/ServiceWorkerGlobalScope/message-event-ports-worker.js
  service-workers/service-worker/ServiceWorkerGlobalScope/message-event-ports.https.html
Labels: service-workers, wg-sw, webkit-export

#46251 Suppress lint error blocking many PRs
  lint.ignore
Labels: infra

#46253 Replace space in canvas test name
  html/canvas/element/path-objects/2d.path.roundrect.1.radius.dompoint.single.argument.html
  html/canvas/offscreen/path-objects/2d.path.roundrect.1.radius.dompoint.single.argument.html
  html/canvas/offscreen/path-objects/2d.path.roundrect.1.radius.dompoint.single.argument.worker.js
  html/canvas/tools/yaml-new/path-objects.yaml
Labels: html

#46249 Update scroll to text fragment test mapping
  css/css-contain/content-visibility/WEB_FEATURES.yml
  html/editing/the-hidden-attribute/WEB_FEATURES.yml
  html/rendering/the-details-element/WEB_FEATURES.yml
  scroll-to-text-fragment/WEB_FEATURES.yml
Labels: html, css-contain, scroll-to-text-fragment, wg-cg_wicg

#46255 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273928
  intersection-observer/transform-animation.html
Labels: intersection-observer, webkit-export, wg-s_webapps

#46268 Don't require EME closed promises to resolve in any specific order
  encrypted-media/scripts/playback-temporary-events.js
Labels: wg-html, encrypted-media

#46250 Remove outdated mention of Travis CI
  docs/reviewing-tests/reverting.md
Labels: docs

#46254 Rename WebNN test with space in the filename
  webnn/validation_tests/elementwise-logical.https.any.js
Labels: webnn, wg-s_webmachinelearning

#42423 Add a workflow to publish the container image to ghcr.io
  .github/workflows/docker.yml
Labels: GitHub Actions

#46266 Check thread id is in current frames
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#46284 Make worker rAF test non-tentative
  workers/WorkerGlobalScope_requestAnimationFrame.worker.js
Labels: workers, wg-s_htmlwg

#46278 Fetch: make non-Float16Array support a test instead of a harness fail
  fetch/api/basic/request-headers.any.js
Labels: fetch

#45267 WebXR: document.featurePolicy is no longer a thing
  webxr/webxr-supported-by-feature-policy.html
Labels: webxr, wg-immersive-web

#46300 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=270436.
  trusted-types/trusted-types-event-handlers.html
Labels: trusted-types, wg-s_webappsec

#46316 Add tests for Image Button submitters
  html/semantics/forms/form-submission-0/constructing-form-data-set.html
  html/semantics/forms/form-submission-0/resources/form-submission.py
  html/semantics/forms/form-submission-0/submit-entity-body.html
Labels: html

#46306 Make CustomElementRegistry.getName() tests non-tentative
  custom-elements/CustomElementRegistry-getName.html
Labels: custom-elements, wg-webplatform

#46305 Fix typo in customized built-in elements test name
  custom-elements/HTMLElement-constructor-customized-builtins.html
Labels: custom-elements, wg-webplatform

#46292 Fix iOS wptrunner to wait for simulator start.
  tools/wptrunner/wptrunner/browsers/chrome_ios.py
Labels: infra, wptrunner

#46331 [wptrunner] Optimize server test order
  tools/wptrunner/wptrunner/environment.py
Labels: infra, wptrunner

#46307 [WebDriver] fix `test_scroll_iframe` for Chrome
  webdriver/tests/bidi/input/perform_actions/wheel.py
  webdriver/tests/classic/perform_actions/wheel.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#46336 [WebDriver] Use Poll in classic test_scroll_iframe
  webdriver/tests/bidi/input/perform_actions/wheel.py
  webdriver/tests/classic/perform_actions/wheel.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#46338 Remove joanmarie from core-aam reviewers per request
  core-aam/META.yml
Labels: core-aam

#46365 Fix ReadableStream.from accepts iterable/async iterable
  streams/readable-streams/from.any.js
Labels: streams

#46374 Fix ReadableStream.from ignores a null @@asyncIterator
  streams/readable-streams/from.any.js
Labels: streams

#46373 Fix test for VTTCue region to assert the setter throws
  webvtt/api/VTTCue/region.html
Labels: webvtt, wg-audiovideo_tt

#46186 Fix WPT logo size differences
  images/wpt-logo/wpt-logo-darkblue-bg.svg
  images/wpt-logo/wpt-logo-lightblue-bg.svg
  images/wpt-logo/wpt-logo-orange-bg.svg
Labels: assets, status:needs-reviewers

#46315 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273763
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none-name.html
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none-none.html
  trusted-types/block-Document-execCommand.html
  trusted-types/block-string-assignment-to-DOMWindowTimers-setTimeout-setInterval.html
  trusted-types/modify-attributes-in-callback.html
  trusted-types/require-trusted-types-for.html
  trusted-types/trusted-types-createHTMLDocument.html
  trusted-types/trusted-types-duplicate-names-without-enforcement.html
  trusted-types/worker-constructor.https.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46089 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273763
  trusted-types/default-policy-callback-arguments.html
  trusted-types/default-policy-report-only.html
  trusted-types/default-policy.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46414 Delete sanitizer-api/WEB_FEATURES.yml
  sanitizer-api/WEB_FEATURES.yml
Labels: sanitizer-api, wg-cg_wicg

#46375 Map position:sticky tests to web-features
  css/css-position/sticky/WEB_FEATURES.yml
Labels: css-position

#46350 Map canvas reset() tests to web-features
  html/canvas/element/reset/WEB_FEATURES.yml
  html/canvas/offscreen/reset/WEB_FEATURES.yml
Labels: html

#46327 Map AbortSignal.any() tests to web-features
  dom/abort/WEB_FEATURES.yml
Labels: dom

#46309 Map custom elements to two different features
  custom-elements/WEB_FEATURES.yml
  custom-elements/custom-element-registry/WEB_FEATURES.yml
  custom-elements/htmlconstructor/WEB_FEATURES.yml
  custom-elements/parser/WEB_FEATURES.yml
  custom-elements/reactions/WEB_FEATURES.yml
  custom-elements/reactions/customized-builtins/WEB_FEATURES.yml
  custom-elements/upgrading/WEB_FEATURES.yml
Labels: custom-elements, wg-webplatform

#46403 Fix input-text-size.html rounding error
  html/rendering/widgets/input-text-size.html
Labels: html, webkit-export

#46423 Import map integrity tests - WebKit improvements
  import-maps/dynamic-integrity.html
  import-maps/no-referencing-script-integrity-valid.html
  import-maps/no-referencing-script-integrity.html
  import-maps/nonimport-integrity.html
  import-maps/static-integrity.html
Labels: import-maps

#46310 [WebDriver BiDi] fix `test_release_mouse_sequence_resets_dblclick_state`
  webdriver/tests/bidi/input/release_actions/sequence.py
  webdriver/tests/bidi/input/release_actions/sequence_tentative.py
Labels: webdriver-bidi

#46328 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=274267
  trusted-types/modify-attributes-in-callback.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46240 Remove invalid listitem label tests assuming namefrom:contents
  css/css-display/accessibility/display-contents-role-and-label.html
Labels: css-display

#46437 fonts: Remove web fonts when their stylesheet is removed
  css/css-fonts/web-font-no-longer-accessible-when-stylesheet-removed-ref.html
  css/css-fonts/web-font-no-longer-accessible-when-stylesheet-removed.html
Labels: css-fonts, servo-export

#45879 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273184
  trusted-types/eval-csp-no-tt.html
  trusted-types/eval-csp-tt-default-policy.html
  trusted-types/eval-csp-tt-no-default-policy.html
  trusted-types/eval-no-csp-no-tt-default-policy.html
  trusted-types/eval-no-csp-no-tt.html
  trusted-types/eval-with-permissive-csp.html
  trusted-types/support/WorkerGlobalScope-eval.https.js
Labels: trusted-types, webkit-export, wg-s_webappsec

#46308 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=274253
  trusted-types/HTMLScriptElement-internal-slot.html
  trusted-types/SVGScriptElement-internal-slot.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46441 [WebDriver BiDi] Fix test for window.prompt opened
  webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
Labels: webdriver-bidi

#46478 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=264800
  css/css-masking/mask-image/mask-mode-luminance-with-mask-size-ref.html
  css/css-masking/mask-image/mask-mode-luminance-with-mask-size.html
Labels: wg-css, css-masking, webkit-export

#46185 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273412
  trusted-types/Document-write-exception-order.xhtml
  trusted-types/block-string-assignment-to-Element-insertAdjacentHTML.html
  trusted-types/block-string-assignment-to-Element-outerHTML.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#46489 Tests for line breaking around atomic lines at element boundary
  css/css-text/line-breaking/line-breaking-030.html
  css/css-text/line-breaking/line-breaking-031.html
  css/css-text/line-breaking/line-breaking-032.html
  css/css-text/line-breaking/reference/line-breaking-030-ref.html
Labels: wg-css, css-text, mozilla:gecko-blocked

#46492 Move test to relevant folder
  css/css-fill-stroke/webkit-text-stroke-computed.html
Labels: css-fill-stroke

#42345 Added initial set of tests for properties of CSS Borders 4
  css/css-borders/reference/border-radius-side-shorthands-ref.html
  css/css-borders/reference/corner-shape-angle-bottom-001-ref.html
  css/css-borders/reference/corner-shape-angle-bottom-left-001-ref.html
  css/css-borders/reference/corner-shape-angle-bottom-right-ref.html
  css/css-borders/reference/corner-shape-angle-left-001-ref.html
  css/css-borders/reference/corner-shape-angle-ref.html
  css/css-borders/reference/corner-shape-angle-right-001-ref.html
  css/css-borders/reference/corner-shape-angle-top-001-ref.html
  css/css-borders/reference/corner-shape-angle-top-left-bottom-right-ref.html
  css/css-borders/reference/corner-shape-angle-top-left-ref.html
  css/css-borders/reference/corner-shape-angle-top-right-001-ref.html
  css/css-borders/reference/corner-shape-angle-top-right-bottom-left-ref.html
  css/css-borders/reference/corner-shape-round-bottom-left-001-ref.html
  css/css-borders/reference/corner-shape-round-bottom-right-ref.html
  css/css-borders/reference/corner-shape-round-top-left-ref.html
  css/css-borders/reference/corner-shape-round-top-right-001-ref.html
  css/css-borders/support/corner-shape-angle-all.svg
  css/css-borders/support/corner-shape-angle-bottom-left.svg
  css/css-borders/support/corner-shape-angle-bottom-right.svg
  css/css-borders/support/corner-shape-angle-bottom.svg
  css/css-borders/support/corner-shape-angle-left.svg
  css/css-borders/support/corner-shape-angle-right.svg
  css/css-borders/support/corner-shape-angle-top-left-bottom-right.svg
  css/css-borders/support/corner-shape-angle-top-left.svg
  css/css-borders/support/corner-shape-angle-top-right-bottom-left.svg
  css/css-borders/support/corner-shape-angle-top-right.svg
  css/css-borders/support/corner-shape-angle-top.svg
  css/css-borders/support/corner-shape-round-bottom-left.svg
  css/css-borders/support/corner-shape-round-bottom-right.svg
  css/css-borders/support/corner-shape-round-top-left.svg
  css/css-borders/support/corner-shape-round-top-right.svg
  css/css-borders/tentative/border-radius-side-shorthands/border-radius-side-shorthands-001.html
  css/css-borders/tentative/border-radius-side-shorthands/border-radius-side-shorthands-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-003.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-004.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-bottom-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-bottom-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-bottom-right-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-bottom-right-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-right-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-left-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-left-bottom-right-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-left-bottom-right-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-left-bottom-right-003.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-right-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-right-bottom-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-right-bottom-left-002.html
  css/css-borders/tentative/corner-shape/corner-shape-angle-top-right-bottom-left-003.html
  css/css-borders/tentative/corner-shape/corner-shape-round-bottom-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-round-bottom-right-001.html
  css/css-borders/tentative/corner-shape/corner-shape-round-bottom-right-002.html
  css/css-borders/tentative/corner-shape/corner-shape-round-top-left-001.html
  css/css-borders/tentative/corner-shape/corner-shape-round-top-left-002.html
  css/css-borders/tentative/corner-shape/corner-shape-round-top-right-001.html
Labels: wg-css, status:needs-reviewers, css-backgrounds, css-borders, css-borders-4

#46502 Show the picker consume activation
  html/semantics/forms/the-input-element/click-user-gesture.html
  html/semantics/forms/the-input-element/show-picker-disabled-readonly.html
  html/semantics/forms/the-input-element/show-picker-user-gesture.html
  html/semantics/forms/the-select-element/click-user-gesture.html
  html/semantics/forms/the-select-element/show-picker-cross-origin-iframe.html
  html/semantics/forms/the-select-element/show-picker-disabled.html
  html/semantics/forms/the-select-element/show-picker-multiple.html
  html/semantics/forms/the-select-element/show-picker-size.html
  html/semantics/forms/the-select-element/show-picker-user-gesture.html
Labels: html, status:needs-review

#46513 Cleanup "check show the picker consumes user activation"
  html/semantics/forms/the-input-element/show-picker-disabled-readonly.html
  html/semantics/forms/the-select-element/click-user-gesture.html
Labels: html, mozilla:gecko-blocked

#46351 Map :modal tests to web-features
  css/selectors/WEB_FEATURES.yml
  css/selectors/invalidation/WEB_FEATURES.yml
Labels: selectors

#46349 Map loading="lazy" tests to web-features
  html/semantics/embedded-content/the-iframe-element/WEB_FEATURES.yml
  html/semantics/embedded-content/the-img-element/WEB_FEATURES.yml
Labels: html

#46512 Map scrollbar-gutter tests to web-features
  css/css-overflow/WEB_FEATURES.yml
  css/css-overflow/parsing/WEB_FEATURES.yml
Labels: css-overflow

#46487 fix(testharness): fix typo and explanation
  resources/testharness.js
Labels: infra, testharness.js

#46530 Test for line-clamp with balancing
  css/css-text/white-space/reference/text-wrap-balance-004-a-ref.html
  css/css-text/white-space/reference/text-wrap-balance-004-b-ref.html
  css/css-text/white-space/text-wrap-balance-005.html
Labels: css-text

#46531 Rename trim-auto to trim-both
  css/css-text/parsing/text-spacing-trim-computed.html
  css/css-text/parsing/text-spacing-trim-invalid.html
  css/css-text/parsing/text-spacing-trim-valid.html
Labels: css-text

#46422 Cred Man: Add fully active checks
  credential-management/non-fully-active.https.html
Labels: credential-management

#46468 [a11y] Move disputed self/cross-referential aria-labelledby tests to tentative file
  accname/name/comp_name_from_content.html
  accname/name/comp_name_from_content.tentative.html
Labels: accname

#46142 ARIA: Add sectionheader and sectionfooter role tests
  wai-aria/role/roles.tentative.html
Labels: wai-aria, wg-wai_pf

#46529 clipboard-api: user WebKit-infra-friendly remote URL
  clipboard-apis/feature-policy/clipboard-read/clipboard-read-disabled-by-feature-policy.tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-read/clipboard-read-enabled-by-feature-policy-attribute-cross-origin-tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-read/clipboard-read-enabled-by-feature-policy-cross-origin-tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-read/clipboard-read-enabled-by-feature-policy.tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-read/clipboard-read-enabled-on-self-origin-by-feature-policy.tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-write/clipboard-write-disabled-by-feature-policy.tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-write/clipboard-write-enabled-by-feature-policy-attribute-cross-origin-tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-write/clipboard-write-enabled-by-feature-policy-cross-origin-tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-write/clipboard-write-enabled-by-feature-policy.tentative.https.sub.html
  clipboard-apis/feature-policy/clipboard-write/clipboard-write-enabled-on-self-origin-by-feature-policy.tentative.https.sub.html
Labels: clipboard-apis, wg-s_webediting

#46505 digital-credentials: Add META.yml
  digital-credentials/META.yml
Labels: status:needs-reviewers, digital-credentials

#46506 Digital Credentials: move files out of Cred Man folder
  digital-credentials/digital-credentials.tentative.https.html
  digital-credentials/support/digital-identity-helper.js
  digital-credentials/support/digital-identity-iframe.html
Labels: status:needs-reviewers, digital-credentials

#46504 digital credentials: test api against non-fully active doc
  digital-credentials/non-fully-active.https.html
Labels: status:needs-reviewers, digital-credentials

#46484 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=273185
  trusted-types/eval-csp-tt-default-policy-mutate.html
  trusted-types/eval-csp-tt-default-policy.html
  trusted-types/eval-with-permissive-csp.html
  trusted-types/support/WorkerGlobalScope-eval.https.js
Labels: trusted-types, webkit-export, wg-s_webappsec

#45339 Fix ICE bad port test in WebRTC
  webrtc/RTCPeerConnection-addTcpIceCandidate.html
Labels: webrtc, wg-s_webrtc

#46548 [WebDriver BiDi] fix `browsingContext.contextCreated` tests
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
Labels: webdriver-bidi

#46566 fix(testharness): copy-pasta in assert_throws_dom
  resources/testharness.js
Labels: infra, testharness.js

#46574 Fixed two small mistakes related to CSS corner-shape tests
  css/css-borders/reference/corner-shape-angle-bottom-left-001-ref.html
  css/css-borders/tentative/corner-shape/corner-shape-round-top-left-001.html
Labels: css-borders
