Repository web-platform-tests/wpt, pull requests merged in 2024-08, with the labels that each got.

#47402 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=235755
  css/css-fonts/synthetic-bold-space-width-ref.html
  css/css-fonts/synthetic-bold-space-width.html
Labels: css-fonts, webkit-export

#47404 Fix spec link in size-invalid.html
  css/css-page/parsing/size-invalid.html
Labels: css-page

#47405 Map zoom tests to web-features
  css/css-viewport/zoom/WEB_FEATURES.yml
Labels: wg-css, css-viewport

#47110 Convert custom elements web-features mapping to ! exclusion patterns
  custom-elements/WEB_FEATURES.yml
Labels: custom-elements, wg-webplatform

#46961 Increase fuzzy thresholds for font-size-adjust-{012,013}.html
  css/css-fonts/font-size-adjust-012.html
  css/css-fonts/font-size-adjust-013.html
Labels: css-fonts

#47272 parseHTMLUnsafe has only one parameter
  trusted-types/block-string-assignment-to-Document-parseHTMLUnsafe.html
Labels: trusted-types, wg-s_webappsec

#47407 [css-grid-3] Add Masonry Tests to cover simple 1ch and auto scenario
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-007-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-007.html
Labels: css-grid

#47426 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=255768
  css/css-fonts/parsing/font-face-size-adjust.html
Labels: css-fonts, webkit-export

#47428 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=262014
  css/motion/offset-path-shape-circle-008.html
  css/motion/offset-path-shape-ellipse-007.html
Labels: motion, webkit-export

#47351 Add tests for rendering from in-flow children for MathML scripts, mpadded
  mathml/presentation-markup/mpadded/mpadded-rendering-from-in-flow.html
  mathml/presentation-markup/scripts/scripts-rendering-from-in-flow.html
  mathml/presentation-markup/tokens/tokens-rendering-from-in-flow.html
Labels: mathml, wg-math

#47443 [@page] Add more size descriptor tests
  css/css-page/parsing/size-valid.html
Labels: css-page

#47444 [@page] Split size-valid.html into subtests
  css/css-page/parsing/size-valid.html
Labels: css-page

#47445 Update my author metadata in some tests
  css/css-view-transitions/parsing/pseudo-elements-invalid.html
  css/css-view-transitions/parsing/pseudo-elements-valid.html
  css/fill-stroke/animation/stroke-color-interpolation.html
Labels: status:needs-reviewers, css-view-transitions, fill-stroke

#47440 Ensure :part(...):disabled and :part(...):checked works alone and in grouped selectors
  css/css-shadow-parts/grouping-with-disabled.html
  css/selectors/parsing/parse-part.html
Labels: selectors, css-shadow-parts

#47438 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277585
  pointerevents/pointerevent_click_is_a_pointerevent.html
Labels: pointerevents, webkit-export, wg-s_pointer-events

#47450 Streams: Fix typos and actually use advanced function
  streams/transferable/transfer-with-messageport.window.js
Labels: streams

#45823 Add testdriver support for WebDriver BiDi
  infrastructure/metadata/infrastructure/webdriver/bidi/subscription.html.ini
  infrastructure/webdriver/bidi/subscription.html
  lint.ignore
  resources/testdriver.js
  tools/webdriver/webdriver/bidi/protocol.py
  tools/webdriver/webdriver/protocol.py
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/base.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, webdriver, wg-testing_browser, console, wptrunner, testdriver.js, very-large

#43873 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265287
  css/css-values/lh-unit-same-element-font-size-dependency.html
  css/css-values/lh-unit-same-element-line-height-dependency.html
Labels: wg-css, css-values, webkit-export

#43757 [css-properties-values-api] Add test coverage for <string> syntax in @property
  css/css-properties-values-api/at-property.html
Labels: css-properties-values-api

#47459 Map URLPattern tests to web-features
  urlpattern/WEB_FEATURES.yml
Labels: urlpattern

#47460 Map :nth-child() of * tests to web-features
  css/selectors/WEB_FEATURES.yml
  css/selectors/invalidation/WEB_FEATURES.yml
Labels: selectors

#47473 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277653
  css/css-text-decor/invalidation/text-decoration-thickness-ref.html
  css/css-text-decor/invalidation/text-decoration-thickness.html
Labels: css-text-decor, webkit-export

#47437 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277577
  css/css-highlight-api/highlight-image-notref.html
  css/css-highlight-api/highlight-image.html
  css/css-highlight-api/highlight-text-across-elements-ref.html
  css/css-highlight-api/highlight-text-across-elements.html
  css/css-highlight-api/highlight-text-cascade-ref.html
  css/css-highlight-api/highlight-text-cascade.html
  css/css-highlight-api/highlight-text-decorations-ref.html
  css/css-highlight-api/highlight-text-decorations.html
  css/css-highlight-api/highlight-text-dynamic-notref.html
  css/css-highlight-api/highlight-text-dynamic.html
  css/css-highlight-api/highlight-text-ref.html
  css/css-highlight-api/highlight-text-replace-ref.html
  css/css-highlight-api/highlight-text-replace.html
  css/css-highlight-api/highlight-text.html
  images/blank-highlight.png
Labels: assets, webkit-export, css-highlight-api

#47477 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277667
  css/css-backgrounds/parsing/background-image-computed.sub.html
  css/css-images/gradient/color-stops-parsing.html
  css/css-typed-om/parse-calc-expressions.html
  css/cssom-view/scrollintoview-containingblock-chain.html
  css/geometry/DOMMatrix-invertSelf.html
Labels: wg-css, cssom-view, css-typed-om, css-images, css-backgrounds, geometry, webkit-export

#47480 Add fuzzy metadata for conic gradient tests
  css/css-images/conic-gradient-angle-negative.html
  css/css-images/conic-gradient-angle.html
  css/css-images/conic-gradient-center.html
  css/css-images/multiple-position-color-stop-conic.html
  css/css-images/normalization-conic-2.html
  css/css-images/normalization-conic-degenerate.html
  css/css-images/normalization-conic.html
  css/css-images/out-of-range-color-stop-conic.html
  css/css-images/tiled-conic-gradients.html
Labels: css-images

#47420 ARIA, HTML-AAM: Update tests for new sectionheader and sectionfooter roles
  html-aam/roles-contextual.html
  html-aam/roles-contextual.tentative.html
  wai-aria/role/contextual-roles.html
  wai-aria/role/contextual-roles.tentative.html
Labels: wai-aria, wg-wai_pf, html-aam

#47492 Fix runtime errors with MathML rendering-from-in-flow tests
  mathml/presentation-markup/mpadded/mpadded-rendering-from-in-flow.html
  mathml/presentation-markup/scripts/scripts-rendering-from-in-flow.html
  mathml/presentation-markup/tokens/tokens-rendering-from-in-flow.html
Labels: mathml, wg-math

#47478 automate console-count-logging test
  console/console-count-logging-manual.html
  console/console-count-logging.html
Labels: console

#47458 script: Properly handle removed iframes in `GlobalScope::get_referrer`
  html/semantics/embedded-content/the-iframe-element/srcdoc-removed-iframe-crash.html
Labels: html, servo-export

#46527 Add name from content tests for CSS text-transform
  accname/name/comp_name_from_content.html
Labels: accname

#47486 Map imagesrcset tests to web-features
  preload/WEB_FEATURES.yml
Labels: preload, wg-s_webperf

#47517 Do not wait for events to be dispatched to IDBRequest
  IndexedDB/ready-state-destroyed-execution-context.html
Labels: IndexedDB, wg-webapps

#46454 Refine WebVTT mapping to web-features
  webvtt/api/VTTCue/WEB_FEATURES.yml
  webvtt/api/VTTRegion/WEB_FEATURES.yml
  webvtt/parsing/cue-text-parsing/tests/WEB_FEATURES.yml
  webvtt/parsing/file-parsing/WEB_FEATURES.yml
  webvtt/parsing/file-parsing/tests/WEB_FEATURES.yml
  webvtt/rendering/cues-with-video/processing-model/WEB_FEATURES.yml
  webvtt/rendering/cues-with-video/processing-model/regions/WEB_FEATURES.yml
  webvtt/rendering/cues-with-video/processing-model/selectors/cue-region/WEB_FEATURES.yml
  webvtt/rendering/cues-with-video/processing-model/selectors/cue-region_function/WEB_FEATURES.yml
Labels: webvtt, wg-audiovideo_tt

#47529 Fix runtime errors with MathML tokens-rendering-from-in-flow test
  mathml/presentation-markup/tokens/tokens-rendering-from-in-flow.html
Labels: mathml, wg-math

#47550 Add myself as a 2nd reviewer for for interfaces updates
  interfaces/META.yml
Labels: interfaces

#47547 Add Panos as reviewer of interfaces/
  interfaces/META.yml
Labels: interfaces, status:needs-reviewers

#47485 Map :dir() tests to web-features
  css/selectors/WEB_FEATURES.yml
  html/semantics/selectors/pseudo-classes/WEB_FEATURES.yml
Labels: html, selectors

#47561 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277837
  css/css-color/color-layers-no-blend-mode-ref.html
  css/css-color/color-layers-no-blend-mode.html
  css/css-color/parsing/color-invalid-color-layers-function.html
  css/css-color/parsing/color-valid-color-layers-function.html
Labels: css-color, webkit-export

#37445 Add test for wheel event groups
  dom/events/scrolling/wheel-event-transactions-basic.html
  dom/events/scrolling/wheel-event-transactions-multiple-action-chains.html
  dom/events/scrolling/wheel-event-transactions-target-display-change.html
  dom/events/scrolling/wheel-event-transactions-target-elements.html
  dom/events/scrolling/wheel-event-transactions-target-move.html
  dom/events/scrolling/wheel-event-transactions-target-removal.html
  dom/events/scrolling/wheel-event-transactions-target-resize.html
Labels: dom, mozilla:gecko-blocked

#47564 layout: Non-auto `z-index` should always make stacking contexts for flex items
  css/css-flexbox/flex-item-z-ordering-002.html
Labels: wg-css, servo-export, css-flexbox

#45916 Core-AAM: add tests for sectionheader and sectionfooter
  core-aam/sectionfooter-manual.html
  core-aam/sectionheader-manual.html
Labels: wai-aria, wg-wai_pf, core-aam

#47569 [css-flexbox] Improve sizing in column layout
  css/css-flexbox/column-flex-child-with-max-width.html
Labels: wg-css, servo-export, css-flexbox

#47535 Add name from content tests for CSS text-transform:full-size-kana
  accname/name/comp_name_from_content.html
  accname/name/comp_name_from_content.tentative.html
Labels: accname

#47441 Test :host(:has(...)) and :host:has(...) selectors
  css/css-scoping/host-has-001.html
  css/css-scoping/host-has-002.html
  css/css-scoping/host-has-003.html
  css/css-scoping/host-has-internal-001.tentative.html
  css/css-scoping/host-has-internal-002.tentative.html
  css/css-scoping/host-has-internal-003.tentative.html
Labels: css-scoping, css-shadow-parts

#47594 Fix css/css-view-transitions/view-transition-types-matches.html
  css/css-view-transitions/view-transition-types-matches.html
Labels: status:needs-reviewers, css-view-transitions

#47589 Revert WebDriver BiDi support in Chrome
  console/console-count-logging-manual.html
  console/console-count-logging.html
  infrastructure/metadata/infrastructure/webdriver/bidi/subscription.html.ini
  tools/wptrunner/wptrunner/executors/executorchrome.py
Labels: infra, console, wptrunner

#47604 [css-inline-3] Test parsing of new text-box* syntax
  css/css-inline/text-box-trim/parsing/inheritance.html
  css/css-inline/text-box-trim/parsing/text-box-computed.html
  css/css-inline/text-box-trim/parsing/text-box-edge-computed.html
  css/css-inline/text-box-trim/parsing/text-box-edge-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-edge-valid.html
  css/css-inline/text-box-trim/parsing/text-box-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-shorthand.html
  css/css-inline/text-box-trim/parsing/text-box-trim-computed.html
  css/css-inline/text-box-trim/parsing/text-box-trim-valid.html
  css/css-inline/text-box-trim/parsing/text-box-valid.html
Labels: css-inline

#46651 Digital Credentials: test static methods from Credential interface
  digital-credentials/digital-credentials-static-methods.tentative.https.html
Labels: digital-credentials

#47612 layout: Support `start` and `end` values for flexbox `align-self`
  css/css-align/self-alignment/self-align-start-end-flex-001-ref.html
  css/css-align/self-alignment/self-align-start-end-flex-001.html
Labels: servo-export, css-align

#47617 [css-inline-3] Fix typo
  css/css-inline/text-box-trim/text-box-trim-ruby-start-002.html
Labels: css-inline, mozilla:gecko-blocked

#47626 [css-inline] Fix `text_invalid_value` typo
  css/css-inline/text-box-trim/parsing/text-box-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-trim-invalid.html
Labels: css-inline, mozilla:gecko-blocked

#47611 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=268743
  html/dom/render-blocking/support/utils.js
Labels: html, webkit-export

#47623 view-transition-types tests: make grid column width fixed at 100px
  css/css-view-transitions/view-transition-types-matches-ref.html
  css/css-view-transitions/view-transition-types-matches.html
  css/css-view-transitions/view-transition-types-reserved-mutation.html
  css/css-view-transitions/view-transition-types-reserved-ref.html
  css/css-view-transitions/view-transition-types-reserved.html
Labels: status:needs-reviewers, css-view-transitions

#47646 [css-inline-3] Rename file to match imports (fix typo)
  css/css-inline/text-box-trim/support/MetricsTestFont.css
Labels: css-inline

#47630 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278184
  css/css-inline/text-box-trim/parsing/text-box-computed.html
  css/css-inline/text-box-trim/parsing/text-box-edge-computed.html
  css/css-inline/text-box-trim/parsing/text-box-edge-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-edge-valid.html
  css/css-inline/text-box-trim/parsing/text-box-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-trim-invalid.html
  css/css-inline/text-box-trim/parsing/text-box-valid.html
Labels: webkit-export, css-inline, mozilla:gecko-blocked

#47648 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278221
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47582 Do not assert page is evicted from back forward cache
  IndexedDB/back-forward-cache-open-connection.window.js
  IndexedDB/back-forward-cache-open-transaction.window.js
  IndexedDB/resources/support.js
Labels: IndexedDB, wg-webapps

#47656 Link test data from url README
  url/README.md
Labels: url

#47660 Fix race in WebXR WPT test setup
  webxr/resources/webxr_util.js
Labels: servo-export, webxr, wg-immersive-web

#47663 Move tests for RTCRtpParameters.codec to main WebRTC directory
  webrtc/RTCRtpParameters-codec.html
Labels: webrtc, wg-s_webrtc

#46945 Add a check if `substitutions` exists
  resources/testharness.js
Labels: infra, testharness.js

#47668 Make text-autospace-001 platform independent
  css/css-text/text-autospace/text-autospace-001-ref.html
  css/css-text/text-autospace/text-autospace-001.html
Labels: css-text

#47608 remove invalid expectations for dd, dt, associationlist, associationlistkey, associationlistvalue
  accname/name/comp_label.html
  html-aam/roles.html
Labels: wai-aria, wg-wai_pf, accname, html-aam

#46642 Digital Credentials: test create and get
  digital-credentials/dc-types.ts
  digital-credentials/get-user-activation.https.html
  digital-credentials/identity-create.tentative.https.html
  digital-credentials/identity-get.tentative.https.html
  digital-credentials/support/helper.js
  digital-credentials/support/iframe.html
  digital-credentials/tsconfig.json
Labels: status:needs-reviewers, digital-credentials

#47682 Take into account the intrinsic block size when computing the main size of a column flex container
  css/css-flexbox/flex-one-sets-flex-basis-to-zero-px.html
Labels: wg-css, servo-export, css-flexbox

#45553 Create dir-role.tentative.html
  html-aam/dir-role.tentative.html
  html-aam/roles.html
Labels: html-aam

#47700 Revert invalid computedlabel test for unrendered element.
  accname/name/comp_label.html
Labels: accname

#47395 Updated pointerevents/mouse-pointer-boundary-events-for-shadowdom.html to allow for interleaved mouse and pointer events
  pointerevents/mouse-pointer-boundary-events-for-shadowdom.html
Labels: pointerevents, wg-s_pointer-events

#47725 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277842
  css/css-backgrounds/parsing/background-clip-computed.html
  css/css-backgrounds/parsing/background-clip-invalid.html
  css/css-backgrounds/parsing/background-clip-valid.html
  css/css-backgrounds/parsing/background-computed.html
Labels: css-backgrounds, webkit-export

#47703 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278445
  css/css-text-decor/animations/text-decoration-thickness-interpolation.html
Labels: css-text-decor, webkit-export

#47698 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277869
  css/css-nesting/supports-rule.html
Labels: status:needs-reviewers, webkit-export, css-nesting

#47662 Digital Credentials: digital-credentials-get Permissions Policy tests
  digital-credentials/allow-attribute.https.html
  digital-credentials/default-permissions-policy.https.sub.html
  digital-credentials/disabled-by-permissions-policy.https.sub.html
  digital-credentials/disabled-by-permissions-policy.https.sub.html.headers
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html.headers
  permissions-policy/resources/digital-credentials-get.html
  permissions-policy/resources/permissions-policy.js
Labels: permissions-policy, wg-s_webappsec, digital-credentials

#46008 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=270199
  css/filter-effects/css-filters-animation-grayscale.html
  css/filter-effects/css-filters-animation-sepia.html
  css/filter-effects/filters-grayscale-001-test.html
Labels: wg-css, filter-effects, webkit-export

#47734 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=167406
  css/css-backgrounds/background-clip/clip-text-ellipsis-ref.html
  css/css-backgrounds/background-clip/clip-text-ellipsis.html
Labels: css-backgrounds, webkit-export

#47735 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277865
  css/css-backgrounds/background-clip/clip-text-text-emphasis-ref.html
  css/css-backgrounds/background-clip/clip-text-text-emphasis.html
Labels: css-backgrounds, webkit-export

#47746 Test all the assertions about featureless elements
  css/selectors/featureless-001.html
  css/selectors/featureless-002.html
  css/selectors/featureless-003.html
  css/selectors/featureless-004.html
  css/selectors/featureless-005.html
Labels: selectors

#47733 Use outline-offset instead of letter-spacing in hypot-pow-sqrt-invalid.html
  css/css-values/hypot-pow-sqrt-invalid.html
  css/css-values/hypot-pow-sqrt-serialize.html
Labels: wg-css, css-values

#47749 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277964
  css/css-backgrounds/background-clip/clip-border-area-box-decoration-break-ref.html
  css/css-backgrounds/background-clip/clip-border-area-box-decoration-break.html
Labels: css-backgrounds, webkit-export

#47748 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277910
  css/css-backgrounds/background-clip/clip-border-area-background-geometry-ref.html
  css/css-backgrounds/background-clip/clip-border-area-background-geometry.html
  css/css-backgrounds/background-clip/clip-border-area-border-image-ref.html
  css/css-backgrounds/background-clip/clip-border-area-border-image.html
  css/css-backgrounds/background-clip/clip-border-area-border-on-top-ref.html
  css/css-backgrounds/background-clip/clip-border-area-border-on-top.html
  css/css-backgrounds/background-clip/clip-border-area-multiple-backgrounds-ref.html
  css/css-backgrounds/background-clip/clip-border-area-multiple-backgrounds.html
  css/css-backgrounds/background-clip/clip-border-area-ref.html
  css/css-backgrounds/background-clip/clip-border-area.html
Labels: css-backgrounds, webkit-export

#47751 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278143
  css/css-masking/clip-path/clip-path-xywh-003.html
Labels: wg-css, css-masking, webkit-export

#47752 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277709
  css/css-masking/animations/clip-path-interpolation-shape.html
Labels: wg-css, css-masking, webkit-export

#47753 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277609
  css/motion/animation/offset-path-interpolation-008.html
Labels: motion, webkit-export

#47754 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=227704
  css/css-masking/clip-path/clip-path-marginBox-1d.html
Labels: wg-css, css-masking, webkit-export

#47755 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277610
  css/css-masking/clip-path/clip-path-shape-003.html
Labels: wg-css, css-masking, webkit-export

#47757 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277347
  css/css-shapes/shape-functions/shape-function-computed.tentative.html
  css/css-shapes/shape-functions/shape-function-invalid.tentative.html
  css/css-shapes/shape-functions/shape-function-valid.tentative.html
Labels: wg-css, css-shapes, webkit-export

#47750 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=179334
  css/css-backgrounds/background-clip/clip-text-text-decorations-ref.html
  css/css-backgrounds/background-clip/clip-text-text-decorations.html
Labels: css-backgrounds, webkit-export

#47756 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277454
  css/css-masking/clip-path/clip-path-circle-closest-corner.html
  css/css-masking/clip-path/clip-path-circle-farthest-corner.html
  css/css-masking/clip-path/clip-path-ellipse-closest-farthest-corner.html
  css/css-masking/clip-path/reference/clip-path-circle-4-ref.html
  css/css-masking/clip-path/reference/clip-path-ellipse-2-ref.html
  css/css-shapes/shape-functions/circle-function-computed.html
  css/css-shapes/shape-functions/circle-function-valid.html
Labels: wg-css, css-shapes, css-masking, webkit-export

#47760 Fix link in run_bounce_tracking_mitigations docs
  resources/testdriver.js
Labels: infra, testdriver.js

#47536 [WebDriver BiDi] realmCreated emitted after session.subscribe
  webdriver/tests/bidi/script/realm_created/realm_created.py
Labels: webdriver-bidi

#47769 Allow prefs to be overridden from a file and set WPT-specific prefs from file
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export, stale-servo-export

#47776 Upstream window named properties tests from jsdom
  html/browsers/the-window-object/named-access-on-the-window-object/basics.html
  html/browsers/the-window-object/named-access-on-the-window-object/changing.html
  html/browsers/the-window-object/named-access-on-the-window-object/doc-no-window.html
  html/browsers/the-window-object/named-access-on-the-window-object/existing-prop.html
  html/browsers/the-window-object/named-access-on-the-window-object/multi-match.html
  html/browsers/the-window-object/named-access-on-the-window-object/name-attribute-elements.html
  html/browsers/the-window-object/named-access-on-the-window-object/nested-context.html
  html/browsers/the-window-object/named-access-on-the-window-object/removing.html
Labels: html

#47779 Upstream <meta> charset parsing tests from jsdom
  html/syntax/charset/meta-charset-double-quotes.html
  html/syntax/charset/meta-charset-no-quotes.html
  html/syntax/charset/meta-charset-single-quotes.html
  html/syntax/charset/meta-commented-out.html
  html/syntax/charset/meta-http-equiv-attribute-order.html
  html/syntax/charset/meta-http-equiv-double-quotes.html
  html/syntax/charset/meta-http-equiv-no-quotes.html
  html/syntax/charset/meta-http-equiv-single-quotes.html
Labels: html

#47777 Upstream XHR tests from jsdom
  xhr/abort-with-error.any.js
  xhr/formdata/constructor-submitter-coordinate.html
Labels: xhr

#47780 Remove onmove and onmousewheel from window properties test
  html/browsers/the-window-object/window-properties.https.html
Labels: html

#47775 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277440
  domparsing/XMLSerializer-serializeToString.html
Labels: domparsing, webkit-export

#47762 from-cross-realm.https.html: don't timeout in Chromium
  streams/readable-streams/crashtests/from-cross-realm.https.html
Labels: streams

#47778 Test `crypto.getRandomValues` using subclasses of `ArrayBufferView`s
  WebCryptoAPI/getRandomValues.any.js
Labels: WebCryptoAPI, wg-webcrypto

#47704 Digital Credentials: add mediation tests
  digital-credentials/dc-types.ts
  digital-credentials/default-permissions-policy.https.sub.html
  digital-credentials/disabled-by-permissions-policy.https.sub.html
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
  digital-credentials/identity-get.tentative.https.html
  digital-credentials/support/helper.js
  permissions-policy/resources/digital-credentials-get.html
Labels: permissions-policy, wg-s_webappsec, digital-credentials

#47790 Filter out mouse events from `test_pen_pointer_properties`
  webdriver/tests/bidi/input/perform_actions/pointer_pen.py
Labels: webdriver-bidi

#47712 layout: Add support for flex items with `position: relative`
  css/css-flexbox/flex-item-position-relative-001-ref.html
  css/css-flexbox/flex-item-position-relative-001.html
Labels: wg-css, servo-export, css-flexbox, stale-servo-export

#47794 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278664
  xhr/request-content-length.any.js
Labels: xhr, webkit-export

#47806 Respect min/max constraints in the block axis of block containers
  css/CSS2/normal-flow/max-height-applies-to-017.html
Labels: wg-css, CSS2, servo-export

#25073 Add tests for the autocorrect attribute.
  html/editing/editing-0/autocorrection/autocorrection.html
Labels: html, status:needs-spec-decision, mozilla:gecko-blocked

#47809 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278708
  xhr/resources/echo-headers.py
Labels: xhr, webkit-export

#47531 Update base.py
  tools/wptrunner/wptrunner/executors/base.py
Labels: infra, wptrunner

#47742 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278489
  css/css-grid/masonry/tentative/gap/masonry-gap-002-ref.html
  css/css-grid/masonry/tentative/gap/masonry-gap-002.html
Labels: css-grid, webkit-export

#47693 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278379
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-ref.html
Labels: css-grid, webkit-export

#47772 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278570
  css/css-scrollbars/textarea-scrollbar-width-none.html
Labels: webkit-export, css-scrollbars

#47771 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278579
  css/css-overflow/overflow-auto-scrollbar-gutter-intrinsic-003.html
Labels: css-overflow, webkit-export

#47694 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278382
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-005-ref.html
Labels: css-grid, webkit-export

#47833 Add test for order of checks in WebAssembly.Table constructor
  wasm/jsapi/table/constructor.any.js
Labels: wasm

#47816 Remove `width` and `height` presentational hints for `<canvas>`
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/canvas-dimension-attributes.html
Labels: html, servo-export

#47831 wpt: fix the path to wpt-prefs.json on WPT runner
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export, stale-servo-export

#47835 Fix panic in parser-reentrancy-customelement.window.js
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#47825 Adding test for text-autospace: ideogram-alpha
  css/css-text/text-autospace/text-autospace-ideogram-alpha-001-ref.html
  css/css-text/text-autospace/text-autospace-ideogram-alpha-001.html
Labels: css-text

#47842 Fix typo in css/css-text/text-autospace/text-autospace-ideogram-alpha-001
  css/css-text/text-autospace/text-autospace-ideogram-alpha-001-ref.html
  css/css-text/text-autospace/text-autospace-ideogram-alpha-001.html
Labels: css-text

#47838 [fullscreen] Make sure assertions run in element-request-fullscreen-timing.html
  fullscreen/api/element-request-fullscreen-timing.html
Labels: fullscreen

#47847 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278763
  css/css-view-transitions/navigation/pageswap-ctor.html
Labels: webkit-export, css-view-transitions

#47849 Obey `min-block-size` and `max-block-size` in floats
  css/CSS2/normal-flow/max-height-applies-to-018.html
  css/CSS2/normal-flow/max-width-applies-to-018.html
Labels: wg-css, CSS2, servo-export

#47848 Obey min and max cross sizes of flex items
  css/css-flexbox/percentage-max-height-005.html
Labels: wg-css, servo-export, css-flexbox

#47861 Filter out mouse events from key tests
  webdriver/tests/classic/perform_actions/key_events.py
Labels: webdriver, wg-testing_browser

#47840 layout: Add an indefinite containing block for intrinsic sizing
  css/css-flexbox/percentage-padding-005.html
Labels: wg-css, servo-export, css-flexbox

#47850 [wptrunner] Implement `--leak-check` for Blink-based browsers
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#47855 wpt: fix path to wpt-prefs.json
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, do not merge yet, wptrunner, servo-export

#47875 Update infrastructure/metadata based on recent PR results
  infrastructure/metadata/infrastructure/server/webtransport-h3.https.sub.any.js.ini
  infrastructure/metadata/infrastructure/testdriver/generate_test_report.html.ini
  infrastructure/metadata/infrastructure/testdriver/get_all_cookies.sub.html.ini
Labels: infra

#47872 Use the proper aspect ratio in flexbox
  css/css-sizing/aspect-ratio/flex-aspect-ratio-055.html
Labels: css-sizing, servo-export

#47871 Fix TypeError in webdriver.transport (concat str + bytes)
  tools/webdriver/webdriver/transport.py
Labels: infra, webdriver, wg-testing_browser

#47883 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278910
  css/css-logical/animation-001.html
  css/css-logical/animations/logical-shorthand-relative-prioritization-by-number-of-components.tentative.html
Labels: css-logical, webkit-export

#47894 The title of css/css-color/system-color-consistency.html was referencing something completely different than what is being tested.
  css/css-color/system-color-consistency.html
Labels: css-color

#47895 WebKit export: [Part 1] All numeric CSSPrimitiveValue resolvers need to take CSSToLengthConversionData
  css/css-animations/parsing/animation-delay-computed.html
  css/css-animations/parsing/animation-duration-computed.html
  css/css-animations/parsing/animation-iteration-count-computed.html
  css/css-backgrounds/parsing/background-image-computed.sub.html
  css/css-backgrounds/parsing/border-image-outset-computed.html
  css/css-backgrounds/parsing/border-image-slice-computed.html
  css/css-fonts/parsing/font-feature-settings-computed.html
  css/css-inline/parsing/line-height-computed.html
  css/css-lists/parsing/counter-increment-computed.html
  css/css-lists/parsing/counter-reset-computed.html
  css/css-lists/parsing/counter-set-computed.html
  css/css-properties-values-api/register-property-syntax-parsing.html
  css/css-text/parsing/tab-size-computed.html
  css/css-viewport/zoom/parsing/zoom-computed.html
Labels: wg-css, css-text, css-fonts, css-backgrounds, css-lists, css-animations, css-properties-values-api, css-inline, css-viewport

#47893 WebKit export: Support CSS color values that use calc() with non-absolute lengths
  css/css-color/parsing/color-computed-color-function.html
  css/css-color/parsing/color-computed-color-mix-function.html
  css/css-color/parsing/color-computed-hsl.html
  css/css-color/parsing/color-computed-hwb.html
  css/css-color/parsing/color-computed-lab.html
  css/css-color/parsing/color-computed-rgb.html
  css/css-color/parsing/color-valid-color-function.html
  css/css-color/parsing/color-valid-color-mix-function.html
  css/css-color/parsing/color-valid-hsl.html
  css/css-color/parsing/color-valid-hwb.html
  css/css-color/parsing/color-valid-lab.html
  css/css-color/parsing/color-valid-rgb.html
Labels: css-color

#47897 Fixes test cases to allow unit cancellation in calc() to produce number values
  css/css-properties-values-api/register-property-syntax-parsing.html
  css/css-typed-om/stylevalue-subclasses/cssScale.tentative.html
Labels: css-typed-om, css-properties-values-api

#47908 Revert "[wptrunner] Implement `--leak-check` for Blink-based browsers"
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner
