Repository web-platform-tests/wpt, pull requests merged in 2024-07, with the labels that each got.

#46891 [wptrunner] add "--enable-features=WebMachineLearningNeuralNetwork" flag for Chrome and Edge to test WebNN tests
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#46948 Add NFC normalization tests to toascii.json
  url/resources/toascii.json
Labels: url

#46892 [WebDriverBiDi] Use JSON.stringify with fetch
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, wg-testing_browser

#46939 Corrected transparent-accent-color tests to compute expected values based on canvas color
  css/css-ui/reference/transparent-accent-color-001-ref.html
  css/css-ui/reference/transparent-accent-color-002-ref.html
  css/css-ui/transparent-accent-color-001.html
  css/css-ui/transparent-accent-color-002.html
Labels: css-ui

#46982 Map media element pseudo-class tests to web-features
  css/selectors/media/WEB_FEATURES.yml
Labels: selectors

#46991 Increased total pixels for pixel tolerance to account for devices with larger controls.
  css/css-ui/transparent-accent-color-001.html
  css/css-ui/transparent-accent-color-002.html
Labels: css-ui

#46997 Digital Credentials: Update META.yml to add tplooker
  digital-credentials/META.yml
Labels: status:needs-reviewers, digital-credentials

#43400 Tests for the deriveBits operation with extreme values in the 'length' parameter
  WebCryptoAPI/derive_bits_keys/cfrg_curves_bits.js
  WebCryptoAPI/derive_bits_keys/derived_bits_length.https.any.js
  WebCryptoAPI/derive_bits_keys/derived_bits_length.js
  WebCryptoAPI/derive_bits_keys/derived_bits_length_testcases.js
  WebCryptoAPI/derive_bits_keys/derived_bits_length_vectors.js
  WebCryptoAPI/derive_bits_keys/ecdh_bits.js
  WebCryptoAPI/derive_bits_keys/hkdf.js
  WebCryptoAPI/derive_bits_keys/pbkdf2.js
Labels: WebCryptoAPI, wg-webcrypto

#45966 Improve error message on wpt.live for accessibility tests which use testdriver.js
  resources/testdriver.js
Labels: infra, testdriver.js

#47013 Add `::view-transition-new` variant for `element-escapes-clip-with-abspos-child.html`
  css/css-view-transitions/content-escapes-clip-with-abspos-child-ref.html
  css/css-view-transitions/new-content-escapes-clip-with-abspos-child.html
  css/css-view-transitions/old-content-escapes-clip-with-abspos-child.html
Labels: status:needs-reviewers, css-view-transitions

#47023 Export some changes to root-scrollbar-with-fixed-background-ref.html
  css/css-view-transitions/root-scrollbar-with-fixed-background-ref.html
Labels: status:needs-reviewers, css-view-transitions

#46951 Clarify test for `pointerrawupdate`
  pointerevents/pointerevent_pointerrawupdate.html
Labels: pointerevents, wg-s_pointer-events

#46995 Do not skip all the remaining tests when one worker crashes
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#46279 Use the docker image from the GitHub registry
  .taskcluster.yml
  CODEOWNERS
  tools/ci/tc/tasks/test.yml
  tools/docker/README.md
  tools/docker/frontend.py
Labels: infra, ci, docker, Taskcluster, mozilla:gecko-blocked

#47052 Add a MathML test for italic mi with border, padding and margin
  mathml/relations/css-styling/padding-border-margin/padding-border-margin-004-ref.html
  mathml/relations/css-styling/padding-border-margin/padding-border-margin-004.html
Labels: mathml, wg-math

#47015 Payment Request: use remote origin instead for policy test
  permissions-policy/payment-allowed-by-permissions-policy-attribute-redirect-on-load.https.sub.html
Labels: status:needs-reviewers, permissions-policy, wg-s_webappsec

#47091 [WebDriver] Align `unhandledPromptBehavior` capability with spec
  webdriver/tests/classic/new_session/unhandled_prompt_behavior.py
Labels: webdriver, wg-testing_browser

#47085 [webdriver] Reuse the HTTP connection to the WebDriver remote end
  tools/webdriver/webdriver/transport.py
Labels: infra, webdriver, wg-testing_browser

#47084 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=275739
  css/css-animations/display-none-prevents-starting-in-subtree.html
Labels: css-animations, webkit-export

#47086 Geolocation: fix flaky test
  geolocation/PositionOptions.https.html
Labels: wg-das, wg-s_webapps, geolocation

#47087 Geolocation: generalize tojson.https.window.js
  geolocation/tojson.https.window.js
Labels: wg-das, wg-s_webapps, geolocation

#47078 Revert default mfrac's padding for mrow-fallback.html test
  mathml/presentation-markup/mrow/mrow-fallback.html
Labels: mathml, wg-math

#47002 MIME Sniffing: HTML no feed
  mimesniff/sniffing/html.window.js
  mimesniff/sniffing/support/atom.html
  mimesniff/sniffing/support/rss.html
Labels: mimesniff, status:needs-reviewers

#47029 Expect short-value serialization in display-valid.html
  css/css-display/parsing/display-valid.html
Labels: css-display

#47139 Remove CanvasRenderingContext2d scrollPathIntoView tests
  html/canvas/element/scroll/2d.scrollPathIntoView.basic.html
  html/canvas/element/scroll/2d.scrollPathIntoView.path.html
  html/canvas/element/scroll/2d.scrollPathIntoView.verticalLR.html
  html/canvas/element/scroll/2d.scrollPathIntoView.verticalRL.html
Labels: html

#47094 Add more tests to check mrow fallback when computing preferred logical widths
  mathml/presentation-markup/mrow/mrow-fallback-001.html
  mathml/presentation-markup/mrow/mrow-fallback-002.html
  mathml/presentation-markup/mrow/mrow-fallback.html
  mathml/support/invalid-markup.js
Labels: mathml, wg-math

#47163 Add delimiters around the output of make-hosts-file
  tools/serve/serve.py
  tools/serve/test_serve.py
Labels: infra, serve

#47143 Move js-specific URL parser tests into their own file
  url/README.md
  url/a-element-origin-xhtml.xhtml
  url/a-element-origin.html
  url/a-element-xhtml.xhtml
  url/a-element.html
  url/failure.html
  url/resources/a-element-origin.js
  url/resources/a-element.js
  url/resources/urltestdata-javascript-only.json
  url/resources/urltestdata.json
  url/url-constructor.any.js
  url/url-origin.any.js
Labels: url

#47174 Remove test that asserts the contents of Trusted Type error messages
  trusted-types/TrustedTypePolicyFactory-createPolicy-nameTests.html
Labels: trusted-types, wg-s_webappsec

#47175 Remove leftover references to createURL and TrustedURL types
  trusted-types/TrustedTypePolicyFactory-createPolicy-createXYZTests.html
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html
  trusted-types/block-string-assignment-to-Document-write.html
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-eval-reporting.html
Labels: trusted-types, wg-s_webappsec

#47146 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=276653
  svg/path/property/d-none-expected.svg
  svg/path/property/d-none-ref.svg
  svg/path/property/d-none.svg
Labels: wg-svg, svg, webkit-export

#47185 Fix font-size-adjust-reload.html timeout on Safari
  css/css-fonts/font-size-adjust-reload.html
Labels: css-fonts

#47192 [wptrunner] Add --enable-unsafe-swiftshader for Chrome.
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#47114 Fix wpt run --list-test-groups
  tools/wptrunner/wptrunner/testloader.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#47240 Make buttons in child-sequential-focus.html actually keyboard focusable
  html/semantics/interactive-elements/the-dialog-element/child-sequential-focus.html
Labels: html

#47244 Fix invalid munderover number of children for mrow/stretch-along-block-axis-001.html
  mathml/presentation-markup/mrow/stretch-along-block-axis-001.html
Labels: mathml, wg-math

#47098 Add exclusion syntax for WEB_FEATURES.yml
  tools/metadata/webfeatures/schema.py
  tools/metadata/webfeatures/tests/test_schema.py
  tools/web_features/tests/test_web_feature_map.py
  tools/web_features/web_feature_map.py
Labels: infra, metadata, web_features

#47257 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=276932
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47229 Fix TCP server port race for Chrome
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#47187 Implement the `aspect-ratio` property for replaced elements
  css/css-sizing/aspect-ratio/box-sizing-dimensions.html
  css/css-sizing/aspect-ratio/box-sizing-squashed.html
Labels: css-sizing, servo-export

#47228 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=276881
  trusted-types/Node-multiple-arguments-tt-enforced.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#45866 Masonry test improvements
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-005-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-005.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-006-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-006.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-005-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-005.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-006-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-006.html
  css/css-grid/masonry/tentative/intrinsic-sizing/support/masonry-intrinsic-sizing-visual.css
Labels: css-grid

#47024 Shadow DOM Leaks (Selection API)
  shadow-dom/leaktests/selection.html
Labels: shadow-dom, wg-webplatform

#47233 Confirm that roles set via Element Internals are published correctly
  custom-elements/ElementInternals-role.html
Labels: custom-elements, wg-webplatform

#47287 [WebDriver BiDi] Fix timing info assert to match spec
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/network/__init__.py
Labels: webdriver-bidi

#47294 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277086
  css/css-grid/grid-in-table-cell-with-img.html
Labels: css-grid, webkit-export

#47278 Make text-decoration-underline-position-vertical-ja.html fonts consistent across test & reference
  css/css-text-decor/reference/text-decoration-underline-position-vertical-ja-ref.html
  css/css-text-decor/text-decoration-underline-position-vertical-ja.html
Labels: css-text-decor

#47303 Rename text-decoration-underline-position-* to text-underline-position-*
  css/css-text-decor/reference/text-underline-position-horizontal-ref.html
  css/css-text-decor/reference/text-underline-position-vertical-ja-ref.html
  css/css-text-decor/reference/text-underline-position-vertical-ref.html
  css/css-text-decor/text-underline-position-horizontal.html
  css/css-text-decor/text-underline-position-vertical-ja.html
  css/css-text-decor/text-underline-position-vertical.html
Labels: css-text-decor

#47299 Add Ladybird browser version detection support
  tools/wpt/browser.py
Labels: infra, wpt

#47310 dependencies: Upgrade `cookie` and rename Servo's `Cookie` to `ServoCookie`
  html/dom/documents/resource-metadata-management/document-cookie.html
Labels: html, servo-export

#47302 [css] Add tests for `justify-self` on block-level elements
  css/css-align/self-alignment/block-justify-self-ref.html
  css/css-align/self-alignment/block-justify-self.html
Labels: css-align

#47318 Move tests in css-outline to css-ui
  css/css-ui/outline-width-rounding.tentative.html
  css/css-ui/reference/subpixel-outline-width-ref.tentative.html
  css/css-ui/subpixel-outline-width.tentative.html
Labels: css-ui

#47321 Fix missing opening `<html>` tags in css-masking tests
  css/css-masking/clip-path/animations/clip-path-animation-ellipse-ref.html
  css/css-masking/clip-path/animations/clip-path-animation-font-size-ref.html
  css/css-masking/clip-path/animations/clip-path-animation-path-ref.html
  css/css-masking/clip-path/animations/clip-path-animation-polygon-ref.html
Labels: wg-css, css-masking

#47324 observable filter: s/map/filter
  dom/observable/tentative/observable-filter.any.js
Labels: dom

#47306 CredMan: use InvalidStateError for non-fully active docs
  credential-management/non-fully-active.https.html
Labels: credential-management

#47268 Cred Man: add basic get tests
  credential-management/credentialscontainer-get-basics.https.html
Labels: credential-management

#47320 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=203529
  css/css-text-decor/text-underline-position-vertical-ja.html
Labels: css-text-decor, webkit-export, mozilla:gecko-blocked

#47326 Digital Credentials: switch to InvalidStateError
  digital-credentials/non-fully-active.https.html
Labels: digital-credentials

#47333 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=232013
  css/css-values/integer_interpolation_round_half_towards_positive_infinity_order.html
  css/css-values/integer_interpolation_round_half_towards_positive_infinity_z_index.html
Labels: wg-css, css-values, webkit-export

#47332 [css-nesting] @supports for nesting
  css/css-nesting/supports-rule-ref.html
  css/css-nesting/supports-rule.html
Labels: status:needs-reviewers, css-nesting

#47341 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252358
  css/css-rhythm/block-step-size-establishes-block-formatting-context-list-item.html
  css/css-rhythm/block-step-size-establishes-block-formatting-context.html
  css/css-rhythm/block-step-size-none-does-not-establish-block-formatting-context.html
Labels: css-rhythm, status:needs-reviewers

#47349 Remove extraneous -expected.xht files from WebKit exports
  css/css-backgrounds/color-mix-currentcolor-background-repaint-expected.xht
  css/css-backgrounds/color-mix-currentcolor-background-repaint-parent-expected.xht
  css/css-backgrounds/color-mix-currentcolor-outline-repaint-expected.xht
  css/css-backgrounds/color-mix-currentcolor-outline-repaint-parent-expected.xht
Labels: css-backgrounds

#47348 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277303
  css/css-animations/display-none-dont-cancel.tentative.html
  css/css-animations/display-none-to-display-block-dont-cancel.tentative.html
  css/css-animations/display-none-to-display-block.html
Labels: css-animations, webkit-export

#47344 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277276
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47352 Add background-clip: text animated text test
  css/css-backgrounds/background-clip/clip-text-animated-text-ref.html
  css/css-backgrounds/background-clip/clip-text-animated-text.html
Labels: css-backgrounds

#46814 Add tests for custom properties that use CSS-wide keywords
  css/css-variables/variable-css-wide-keywords.html
Labels: wg-css, css-variables

#47354 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=241171
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47357 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277313
  css/css-masking/animations/mask-border-outset-composition.html
  css/css-masking/animations/mask-border-outset-interpolation.html
  css/css-masking/animations/mask-border-slice-composition.html
  css/css-masking/animations/mask-border-slice-interpolation-stability.html
  css/css-masking/animations/mask-border-slice-interpolation.html
  css/css-masking/animations/mask-border-source-interpolation.html
  css/css-masking/animations/mask-border-width-composition.html
  css/css-masking/animations/mask-border-width-interpolation.html
Labels: wg-css, css-masking, webkit-export

#47356 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277317
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47355 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=241176
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47353 add new tests with value attributes in comp_host_language_label.html
  accname/name/comp_host_language_label.html
Labels: accname

#47371 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277351
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47372 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=241172
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47380 WebKit export: Relative color syntax doesn't work with currentColor or system colors
  css/css-color/parsing/color-computed-relative-color.html
  css/css-color/parsing/color-valid-relative-color.html
  css/support/color-testcommon.js
Labels: support, css-color

#47376 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=238985
  css/cssom-view/scrollintoview-zero-height-item.html
Labels: wg-css, cssom-view, webkit-export

#47373 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267733
  css/css-scroll-anchoring/shadow-dom-subscroller.html
Labels: css-scroll-anchoring, webkit-export

#47377 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=237553
  css/css-transforms/animation/transform-box-ref.html
  css/css-transforms/animation/transform-box-will-change-transform-layer.html
  css/css-transforms/animation/transform-box.html
Labels: css-transforms, webkit-export

#47383 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=241174
  web-animations/animation-model/animation-types/property-list.js
Labels: wg-css, web-animations, webkit-export

#47384 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277370
  css/fill-stroke/animation/stroke-color-interpolation.html
Labels: webkit-export, fill-stroke

#47374 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=263093
  css/css-scroll-snap/snap-to-visible-areas-both-pseudo.html
Labels: css-scroll-snap, webkit-export

#47304 Add bounce tracking mitigations command to testdriver
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#47055 [WebDriver BiDi] Fix fetch cookie network test.
  webdriver/tests/bidi/integration/cookies_with_network_events.py
  webdriver/tests/bidi/storage/conftest.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, wg-testing_browser, webdriver-bidi

#47375 [wptrunner] Respect timeout for checking WebDriver browser liveliness
  tools/webdriver/webdriver/transport.py
Labels: infra, webdriver, wg-testing_browser

#47393 [wptrunner] Always signal TestRunnerManager thread exit
  tools/wptrunner/wptrunner/testrunner.py
Labels: infra, wptrunner

#47398 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277346
  css/css-shapes/parsing/shape-outside-invalid.html
  css/css-shapes/parsing/shape-outside-valid.html
  css/css-shapes/shape-functions/circle-function-computed.html
  css/css-shapes/shape-functions/circle-function-invalid.html
  css/css-shapes/shape-functions/circle-function-valid.html
  css/css-shapes/shape-functions/ellipse-function-computed.html
  css/css-shapes/shape-functions/ellipse-function-invalid.html
  css/css-shapes/shape-functions/ellipse-function-valid.html
  css/css-shapes/shape-functions/inset-function-computed.html
  css/css-shapes/shape-functions/inset-function-invalid.html
  css/css-shapes/shape-functions/inset-function-valid.html
  css/css-shapes/shape-functions/path-function-computed.html
  css/css-shapes/shape-functions/path-function-invalid.html
  css/css-shapes/shape-functions/path-function-valid.html
  css/css-shapes/shape-functions/polygon-function-computed.html
  css/css-shapes/shape-functions/polygon-function-invalid.html
  css/css-shapes/shape-functions/polygon-function-valid.html
  css/css-shapes/shape-functions/rect-function-computed.html
  css/css-shapes/shape-functions/rect-function-invalid.html
  css/css-shapes/shape-functions/rect-function-valid.html
  css/css-shapes/shape-functions/xywh-function-computed.html
  css/css-shapes/shape-functions/xywh-function-invalid.html
  css/css-shapes/shape-functions/xywh-function-valid.html
Labels: wg-css, css-shapes, webkit-export

#47399 [wptrunner] Don't override `HeadlessShellBrowser.make_command()`
  tools/wptrunner/wptrunner/browsers/headless_shell.py
Labels: infra, wptrunner
