Repository web-platform-tests/wpt, pull requests merged in 2025-02, with the labels that each got.

#50428 Remove tentative from dialog toggle events test
  html/semantics/interactive-elements/the-dialog-element/toggle-events.html
Labels: html

#50429 [css-fonts] font-style: oblique 0deg should serialize as font-style: normal
  css/css-fonts/animations/font-style-interpolation.html
  css/css-fonts/parsing/font-style-computed.html
  css/css-fonts/parsing/font-style-valid.html
  css/css-fonts/variations/font-style-parsing.html
Labels: wg-css, css-fonts

#50431 Add three dialog crash tests
  html/semantics/interactive-elements/the-dialog-element/dialog-closedby-crash.html
  html/semantics/interactive-elements/the-dialog-element/dialog-open-add-closedby-crash.html
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose-crash.html
Labels: html

#50419 [wdspec] fix `browsingContext.navigationCommitted` test
  webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50441 Correct sink value for SVGScriptElement innerHTML test
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, wg-s_webappsec

#50434 [wdspec] add user context subscription tests
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
  webdriver/tests/bidi/session/subscribe/user_contexts.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, webdriver-bidi, wg-s_browser-tools-testing

#50445 Remove incorrect TT subtest for SVGScriptElement text
  trusted-types/trusted-types-reporting.html
Labels: trusted-types, wg-s_webappsec

#50442 Improve TT tests for SVG and HTML script innerHTML
  trusted-types/trusted-types-reporting-for-HTMLScriptElement-innerHTML.html
  trusted-types/trusted-types-reporting-for-SVGScriptElement-innerHTML.html
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, wg-s_webappsec

#50462 Revert "WebKit export: [popover] Tabbing out of a popover causes a hang in certain cases (#50235)
  html/semantics/popovers/popover-focus-2.html
Labels: html

#50454 Delete `html/webappapis/scripting/event-loops/fully_active_document.window.js`
  html/webappapis/scripting/event-loops/fully_active_document.window.js
Labels: html

#50342 Move Mutation Events removal subtests into separate test for Interop2025
  dom/historical-mutation-events.html
  dom/historical.html
Labels: dom

#50455 [WebDriver BiDi] Add test for providing both contexts
  webdriver/tests/bidi/script/add_preload_script/contexts.py
  webdriver/tests/bidi/script/add_preload_script/invalid.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50482 [wdspec] fix the user context field assertion
  webdriver/tests/bidi/browsing_context/context_created/context_created.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50439 [wdspec] add wait_for_events helper fixture
  webdriver/tests/bidi/session/subscribe/user_contexts.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, webdriver-bidi, wg-s_browser-tools-testing

#50479 Clean up some stale debug options for ServoDriver
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner, servo-export

#50406 Add test for scroll offsets with fractional zoom
  css/cssom-view/scroll-offsets-fractional-zoom.html
Labels: wg-css, cssom-view

#50340 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285264
  css/css-fonts/font-variant-caps-invalidation-container-sizing.html
Labels: wg-css, css-fonts, webkit-export

#50517 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279569
  css/css-flexbox/flexbox-vert-lr-with-img.html
Labels: wg-css, css-flexbox, webkit-export

#50531 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286920
  scroll-animations/css/timeline-offset-keyframes-hidden-subject.html
  scroll-animations/css/view-timeline-keyframe-boundary-interpolation.html
Labels: wg-css, webkit-export, scroll-animations

#50533 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278925 (CSS timing functions should not eagerly evaluate calc())
  css/css-easing/linear-timing-functions-syntax.html
  css/css-easing/timing-functions-syntax-computed.html
  css/css-easing/timing-functions-syntax-invalid.html
  css/css-easing/timing-functions-syntax-valid.html
Labels: wg-css, css-easing

#50521 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287082
  fs/script-tests/FileSystemWritableFileStream.js
Labels: webkit-export, fs

#50581 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287193
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/bold_object/bold_animation_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/bold_object/bold_transition_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_animation_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/class_object/class_transition_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/italic_object/italic_animation_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/italic_object/italic_transition_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/underline_object/underline_animation_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/underline_object/underline_transition_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/voice_object/voice_animation_with_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/selectors/cue_function/voice_object/voice_transition_with_timestamp-ref.html
Labels: webvtt, wg-audiovideo_tt, webkit-export

#50582 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287179
  webvtt/rendering/cues-with-video/processing-model/evil/9_cues_overlapping_completely-ref.html
  webvtt/rendering/cues-with-video/processing-model/evil/9_cues_overlapping_completely_all_cues_have_same_timestamp-ref.html
  webvtt/rendering/cues-with-video/processing-model/evil/media_height_19-ref.html
  webvtt/rendering/cues-with-video/processing-model/media_height400_with_controls-ref.html
  webvtt/rendering/cues-with-video/processing-model/media_with_controls-ref.html
Labels: webvtt, wg-audiovideo_tt, webkit-export

#50559 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287237
  scroll-animations/css/scroll-timeline-in-container-query.html
Labels: wg-css, webkit-export, scroll-animations

#50560 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287239
  scroll-animations/css/animation-timeline-deferred.html
Labels: wg-css, webkit-export, scroll-animations

#50596 Fix whitespace in overflow-shorthand-002.html
  css/css-overflow/overflow-shorthand-002.html
Labels: wg-css, css-overflow

#50594 dom: Always replace unpaired surrogates when handling page text
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#50593 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287327
  scroll-animations/css/view-timeline-lookup.html
Labels: wg-css, webkit-export, scroll-animations, mozilla:gecko-blocked

#50615 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286560
  css/css-values/progress-invalid.tentative.html
Labels: wg-css, css-values, webkit-export

#50612 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287415
  scroll-animations/css/timeline-scope-computed.tentative.html
  scroll-animations/css/timeline-scope-parsing.tentative.html
Labels: wg-css, webkit-export, scroll-animations

#50197 <style> had no end-tag.
  css/css-grid/layout-algorithm/grid-automatic-minimum-for-auto-rows-001.html
Labels: css-grid

#50527 [wdspec] align navigation tests with spec
  webdriver/tests/bidi/browsing_context/navigate/navigate.py
  webdriver/tests/bidi/browsing_context/navigate/wait.py
  webdriver/tests/bidi/browsing_context/navigation_started/navigation_started.py
  webdriver/tests/bidi/browsing_context/reload/wait.py
  webdriver/tests/bidi/network/fetch_error/fetch_error.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50631 css-function tests for shadow dom
  css/css-mixins/dashed-function-eval.html
  css/css-mixins/resources/utils.js
Labels: status:needs-reviewers, css-mixins

#50515 [35027] Websocket requests are missing some settings
  websockets/constants.sub.js
  websockets/cookies/cross-origin-cookie-set.html
  websockets/opening-handshake/received-301-code.html
  websockets/opening-handshake/resources/redirect_response.py
Labels: websockets, servo-export, stale-servo-export

#50636 [WebDriver BiDi] Remove obsolete test pointerMove test
  webdriver/tests/bidi/input/perform_actions/invalid.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50583 Add tests for command invokers with various button types
  html/semantics/popovers/button-type-popovertarget.html
  html/semantics/popovers/button-type-reset-popovertarget.html
  html/semantics/popovers/input-type-popovertarget.html
  html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.tentative.html
  html/semantics/the-button-element/command-and-commandfor/button-type-behavior.tentative.html
  html/semantics/the-button-element/command-and-commandfor/button-type-reflection.tentative.html
Labels: html

#50624 Fix description for unreachable fullscreenerror event
  fullscreen/api/element-ready-check-fullscreen-element-sibling.html
Labels: fullscreen

#50245 Map speculation rules tests to web-features
  speculation-rules/WEB_FEATURES.yml
Labels: speculation-rules, wg-cg_wicg

#50625 Add descriptions to fullscreen asserts
  fullscreen/model/remove-first.html
  fullscreen/model/remove-last.html
Labels: fullscreen

#50090 Suppress webdriver executor timeout when debugger present.
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#50432 Add `requestClose()` subtests for initially open dialog
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.html
Labels: html

#50620 script: fix spurious animation checks to correctly invoke rAF callbacks
  html/webappapis/animation-frames/spurious-frame-callbacks-optimization.html
Labels: html, servo-export, stale-servo-export

#50655 UTF-8 charset for overflow-clip-margin-border-radius.html
  css/css-overflow/overflow-clip-margin-border-radius-ref.html
  css/css-overflow/overflow-clip-margin-border-radius.html
Labels: wg-css, css-overflow

#50487 Add daily WPE WebKit runs to the CI (Taskcluster).
  .taskcluster.yml
  tools/ci/run_tc.py
  tools/ci/taskcluster-run.py
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci, Taskcluster

#50708 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287694
  scroll-animations/css/view-timeline-animation.html
Labels: wg-css, webkit-export, scroll-animations

#50463 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285811
  html/semantics/popovers/popover-focus-2.html
Labels: html, webkit-export

#50718 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287704
  scroll-animations/css/progress-based-animation-animation-longhand-properties.tentative.html
Labels: wg-css, webkit-export, scroll-animations

#50719 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287705
  scroll-animations/css/animation-timeline-view-functional-notation.tentative.html
Labels: wg-css, webkit-export, scroll-animations

#50736 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286723
  scroll-animations/css/view-timeline-pseudo-on-scroller.html
Labels: wg-css, webkit-export, scroll-animations

#50737 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286781
  scroll-animations/css/pseudo-on-scroller-named-timeline.html
Labels: wg-css, webkit-export, scroll-animations

#50739 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285990
  scroll-animations/view-timelines/intermediate-transform.html
Labels: wg-css, webkit-export, scroll-animations

#50729 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287410
  css/css-color/parsing/color-computed-contrast-color-function.html
  css/css-color/parsing/color-invalid-contrast-color-function.html
  css/css-color/parsing/color-valid-contrast-color-function.html
Labels: wg-css, css-color, webkit-export

#50623 `DataTransferItem`: improve spec compliance
  html/editing/dnd/datastore/datatransferitemlist-remove.html
Labels: html, servo-export

#50721 layout: Partial support for sizing keywords on flex items
  css/css-sizing/keyword-sizes-on-flex-item-001.html
  css/css-sizing/keyword-sizes-on-flex-item-002.html
Labels: wg-css, css-sizing, servo-export

#50755 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285560
  scroll-animations/css/animation-fill-outside-range-test.html
Labels: wg-css, webkit-export, scroll-animations

#50756 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287806
  scroll-animations/view-timelines/block-view-timeline-current-time-vertical-rl.tentative.html
  scroll-animations/view-timelines/block-view-timeline-current-time.tentative.html
  scroll-animations/view-timelines/block-view-timeline-nested-subject.tentative.html
  scroll-animations/view-timelines/inline-view-timeline-current-time.tentative.html
Labels: wg-css, webkit-export, scroll-animations

#50767 Create META.yml for css-view-transitions
  css/css-view-transitions/META.yml
Labels: wg-css, status:needs-reviewers, css-view-transitions

#50532 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287158
  trusted-types/modify-attributes-in-callback.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#50518 [testdriver] Add some test_driver.bidi.bluetooth commands and event
  docs/writing-tests/testdriver.md
  infrastructure/metadata/infrastructure/testdriver/bidi/bluetooth/handle_request_device_prompt.https.html.ini
  infrastructure/metadata/infrastructure/testdriver/bidi/bluetooth/simulate_preconnected_peripheral.https.html.ini
  infrastructure/testdriver/bidi/bluetooth/handle_request_device_prompt.https.html
  infrastructure/testdriver/bidi/bluetooth/resources/bidi-bluetooth-helper.js
  infrastructure/testdriver/bidi/bluetooth/simulate_preconnected_peripheral.https.html
  resources/testdriver.js
  tools/webdriver/webdriver/bidi/modules/bluetooth.py
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
  webdriver/tests/bidi/external/bluetooth/simulate_preconnected_peripheral/__init__.py
  webdriver/tests/bidi/external/bluetooth/simulate_preconnected_peripheral/invalid.py
  webdriver/tests/bidi/external/bluetooth/simulate_preconnected_peripheral/simulate_preconnected_peripheral.py
Labels: infra, webdriver, docs, wptrunner, testdriver.js, webdriver-bidi, wg-s_browser-tools-testing

#50703 Add feature flag WebSpeechRecognitionContext to chrome.py
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#50793 Navigation API: test that soft reloads don't fire a popstate event
  navigation-api/ordering-and-transition/reload-no-popstate.html
Labels: navigation-api

#50798 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287950
  scroll-animations/css/view-timeline-subject-in-shadow-root-with-timeline-scope.html
Labels: wg-css, webkit-export, scroll-animations

#50821 Remove third parameters passed to `TrustedTypePolicyFactory.createPol…
  trusted-types/Document-write-exception-order.xhtml
  trusted-types/TrustedTypePolicy-createXXX.html
  trusted-types/block-string-assignment-to-Document-write.html
  trusted-types/block-string-assignment-to-Element-setAttribute.html
  trusted-types/block-string-assignment-to-HTMLElement-generic.html
  trusted-types/support/WorkerGlobalScope-importScripts.https.js
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-report-only.html
Labels: trusted-types, wg-s_webappsec

#50796 [wdspec] extend `bluetooth.simulatePreconnectedPeripheral` test
  webdriver/tests/bidi/external/bluetooth/simulate_preconnected_peripheral/simulate_preconnected_peripheral.py
Labels: mozilla:gecko-blocked, webdriver-bidi, wg-s_browser-tools-testing

#50750 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287790
  css/css-overflow/scrollable-overflow-height-with-flex-item-margin-inline-end-rtl.html
  scroll-animations/css/view-timeline-inset-animation.html
Labels: wg-css, css-overflow, webkit-export, scroll-animations

#48878 Configure docker image to autospawn pulseaudio on demand
  tools/docker/Dockerfile
Labels: infra, docker

#50792 Update four-colors-flip.avif
  webcodecs/README.md
  webcodecs/four-colors-flip.avif
Labels: wg-media, webcodecs

#50835 DOM: test attribute's node document
  dom/nodes/attributes-namednodemap-cross-document.window.js
Labels: dom

#50790 Export WebKit's tests for revamped scoped custom element registry.
  custom-elements/revamped-scoped-registry/Construct.tentative.html
  custom-elements/revamped-scoped-registry/CustomElementRegistry-define.tentative.html
  custom-elements/revamped-scoped-registry/CustomElementRegistry-initialize.tentative.html
  custom-elements/revamped-scoped-registry/CustomElementRegistry-upgrade.tentative.html
  custom-elements/revamped-scoped-registry/Document-createElement.tentative.html
  custom-elements/revamped-scoped-registry/Document-importNode.tentative.html
  custom-elements/revamped-scoped-registry/Element-customElements-exceptions.tentative.html
  custom-elements/revamped-scoped-registry/Element-customElements.tentative.html
  custom-elements/revamped-scoped-registry/Element-innerHTML.tentative.html
  custom-elements/revamped-scoped-registry/ShadowRoot-init-customElements.tentative.html
  custom-elements/revamped-scoped-registry/ShadowRoot-innerHTML.tentative.html
Labels: custom-elements, wg-webplatform

#50853 Install fonts-noto-cjk for linux-wpt workflow
  css/css-fonts/size-adjust-unicode-range-system-fallback-ref.html
Labels: wg-css, css-fonts, servo-export

#50858 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284545
  web-animations/testcommon.js
Labels: wg-css, web-animations, webkit-export

#50746 Fix #50744 - Add rules for reformatting html before comparing
  clipboard-apis/async-write-html-read-html.https.html
Labels: clipboard-apis, wg-s_webediting

#50825 Map CSS module tests to web-features
  html/semantics/scripting-1/the-script-element/css-module/WEB_FEATURES.yml
Labels: html

#50874 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285883
  scroll-animations/css/animation-range-ignored.html
Labels: wg-css, webkit-export, scroll-animations

#50890 Per https://github.com/w3c/csswg-drafts/issues/9847, empty variables serialize as a single space.
  css/css-variables/variable-definition.html
Labels: wg-css, css-variables

#50860 DOM: rename importNode()'s deep to selfOnly (and invert its value)
  custom-elements/revamped-scoped-registry/Document-importNode.tentative.html
Labels: custom-elements, wg-webplatform

#50871 add disconnected tests for command events
  html/semantics/the-button-element/command-and-commandfor/on-dialog-disconnect.html
  html/semantics/the-button-element/command-and-commandfor/on-popover-disconnect.html
Labels: html

#50899 layout: Ignore indefinite `stretch` on min and max sizing properties
  css/css-sizing/keyword-sizes-on-flex-item-001.html
  css/css-sizing/keyword-sizes-on-flex-item-002.html
  css/css-sizing/keyword-sizes-on-floated-element.html
  css/css-sizing/keyword-sizes-on-inline-block.html
  css/css-sizing/keyword-sizes-on-replaced-element.html
Labels: wg-css, css-sizing, servo-export

#49561 Rename the tests in webrtc/legacy to have optional flags
  webrtc/legacy/RTCPeerConnection-createOffer-offerToReceive.optional.html
  webrtc/legacy/RTCRtpTransceiver-with-OfferToReceive-options.optional.https.html
  webrtc/legacy/simplecall_callbacks.optional.https.html
Labels: webrtc, wg-s_webrtc

#50902 DOM/HTML: add coverage for shadowRootCustomElements
  custom-elements/revamped-scoped-registry/ShadowRoot-init-customElements.tentative.html
  custom-elements/revamped-scoped-registry/template.tentative.window.js
Labels: custom-elements, wg-webplatform

#50895 document-exit-fullscreen-nested-in-iframe.html should not timeout
  fullscreen/api/document-exit-fullscreen-nested-in-iframe.html
Labels: fullscreen

#50951 Adjust Fuzzy Matching for backdrop-filter Test to Reduce Rendering Variability
  css/filter-effects/backdrop-filter-backdrop-root-backdrop-filter.html
  css/filter-effects/backdrop-filter-backdrop-root-opacity.html
  css/filter-effects/backdrop-filter-clip-rect-zoom.html
  css/filter-effects/css-filters-animation-brightness.html
Labels: wg-css, filter-effects

#50829 Command updates
  html/semantics/popovers/button-type-popovertarget.html
  html/semantics/popovers/input-type-popovertarget.html
  html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.html
  html/semantics/the-button-element/command-and-commandfor/button-type-behavior.html
  html/semantics/the-button-element/command-and-commandfor/button-type-reflection.html
Labels: html, status:needs-spec-decision

#50926 layout: Support `stretch` cross size for automatic min size in flexbox
  css/css-sizing/stretch/flexbox-auto-minimum-001.html
  css/css-sizing/stretch/flexbox-auto-minimum-002.html
Labels: wg-css, css-sizing, servo-export

#50948 layout: Support `stretch` cross size for flex base size
  css/css-sizing/stretch/flexbox-flex-base-size-001.html
  css/css-sizing/stretch/flexbox-flex-base-size-002.html
Labels: wg-css, css-sizing, servo-export

#50983 Fix my name and email in author metadata
  css/CSS2/floats/float-in-inline-anonymous-block-with-overflow-hidden.html
Labels: wg-css, CSS2

#50987 layout: Use definite cross size to compute flex base size
  css/css-flexbox/flex-basis-013.html
Labels: wg-css, servo-export, css-flexbox

#50991 [wdspec] rename addon to extension
  webdriver/tests/bidi/web_extension/conftest.py
  webdriver/tests/bidi/web_extension/install/install.py
  webdriver/tests/bidi/web_extension/install/invalid.py
  webdriver/tests/bidi/web_extension/uninstall/invalid.py
  webdriver/tests/bidi/web_extension/uninstall/uninstall.py
  webdriver/tests/support/helpers.py
  webdriver/tests/support/webextensions/chrome/unpacked/manifest.json
Labels: webdriver, mozilla:gecko-blocked, webdriver-bidi, wg-s_browser-tools-testing

#50695 [testharness.js] Fix issue caused when path contains full stop characters (.)
  infrastructure/testharness/full.stop/full-stop.html
  resources/testharness.js
Labels: infra, testharness.js

#49835 layout: Implement a non-recursive version of CSS `quotes`
  css/css-content/quotes-lang-dynamic-001.html
  css/css-content/quotes-slot-scoping-ref.html
  css/css-content/reference/quotes-lang-dynamic-001-ref.html
Labels: assets, wg-css, servo-export, css-content

#50637 Update accname/name/comp_host_language_label.html with interior white space tests
  accname/name/comp_host_language_label.html
Labels: accname, wg-wai_aria

#51005 [wdspec] fix test_params_extension_data_path_invalid_webextension
  webdriver/tests/bidi/web_extension/install/invalid.py
Labels: mozilla:gecko-blocked, webdriver-bidi, wg-s_browser-tools-testing

#51012 Add a test for scoped custom element registry API changes to unbreak Polymer's polyfill.
  custom-elements/revamped-scoped-registry/ShadowRoot-init-customElements.tentative.html
  custom-elements/revamped-scoped-registry/polymer-polyfill-regression.tentative.html
Labels: custom-elements, wg-webplatform

#50993 Configure Chrome for testing extensions
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#51018 [Bluetooth] Align bluetooth tests with the spec
  tools/webdriver/webdriver/bidi/modules/bluetooth.py
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  webdriver/tests/bidi/external/bluetooth/simulate_adapter/__init__.py
  webdriver/tests/bidi/external/bluetooth/simulate_adapter/invalid.py
  webdriver/tests/bidi/external/bluetooth/simulate_preconnected_peripheral/__init__.py
Labels: infra, webdriver, wptrunner, webdriver-bidi, wg-s_browser-tools-testing

#51026 [wdspec] empty extension id should return no web extension error
  webdriver/tests/bidi/web_extension/uninstall/invalid.py
Labels: webdriver-bidi, wg-s_browser-tools-testing
