Repository web-platform-tests/wpt, pull requests merged in 2025-01, with the labels that each got.

#49876 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279326
  css/css-lists/parsing/counter-increment-valid.html
  css/css-lists/parsing/counter-reset-valid.html
  css/css-lists/parsing/counter-set-valid.html
Labels: css-lists, webkit-export

#49888 WebKit export: Fix css/css-overflow/line-clamp/reference/webkit-line-clamp-025-ref.html
  css/css-overflow/line-clamp/reference/webkit-line-clamp-025-ref.html
Labels: css-overflow

#49887 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=282332
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-034.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-049.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-051.html
  css/css-shapes/shape-outside/supported-shapes/circle/shape-outside-circle-055.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-034.html
Labels: wg-css, css-shapes, webkit-export

#49877 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285081
  css/css-flexbox/flex-item-content-is-min-width-max-content-ref.html
  css/css-flexbox/flex-item-content-is-min-width-max-content.html
Labels: wg-css, css-flexbox, webkit-export

#49879 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284731
  css/css-contain/contain-layout-baseline-005.html
  css/css-contain/contain-layout-baseline-006-ref.html
  css/css-contain/contain-layout-baseline-006.html
Labels: css-contain, webkit-export

#49880 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284683
  css/css-inline/text-box-trim/text-box-trim-on-button-ref.html
  css/css-inline/text-box-trim/text-box-trim-on-button.html
Labels: webkit-export, css-inline

#49881 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284048
  css/css-overflow/line-clamp/line-clamp-content-height-with-dynamic-change-ref.html
  css/css-overflow/line-clamp/line-clamp-content-height-with-dynamic-change.html
Labels: css-overflow, webkit-export

#49886 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=282498
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-046.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-047.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-048.html
  css/css-shapes/shape-outside/supported-shapes/ellipse/shape-outside-ellipse-049.html
Labels: wg-css, css-shapes, webkit-export

#49885 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=213554
  css/css-text-decor/reference/text-decoration-thickness-single2-notref.html
  css/css-text-decor/text-decoration-thickness-single2.html
Labels: css-text-decor, webkit-export

#49878 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285074
  css/css-flexbox/empty-flex-box-and-margin-collapsing-ref.html
  css/css-flexbox/empty-flex-box-and-margin-collapsing.html
Labels: wg-css, css-flexbox, webkit-export

#49884 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284120
  css/css-position/absolute-pos-box-inside-fixed-pos-box-with-changing-height-ref.html
  css/css-position/absolute-pos-box-inside-fixed-pos-box-with-changing-height.html
Labels: css-position, webkit-export

#49882 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284296
  css/css-position/block-axis-constraint-changes-for-out-of-flow-box-ref.html
  css/css-position/block-axis-constraint-changes-for-out-of-flow-box.html
Labels: css-position, webkit-export

#49892 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285142
  css/css-fonts/animations/font-style-interpolation.html
Labels: css-fonts, webkit-export

#49889 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279677
  css/css-fonts/parsing/font-size-adjust-computed.html
  css/css-fonts/parsing/font-size-adjust-valid.html
  css/css-fonts/parsing/font-stretch-computed.html
  css/css-fonts/parsing/font-stretch-invalid.html
  css/css-fonts/parsing/font-stretch-valid.html
  css/css-fonts/parsing/font-style-computed.html
  css/css-fonts/parsing/font-style-valid.html
  css/css-fonts/parsing/font-weight-computed.html
  css/css-fonts/parsing/font-weight-valid.html
Labels: css-fonts, webkit-export

#49883 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284123
  css/css-writing-modes/orthogonal-containing-block-height-changes-ref.html
  css/css-writing-modes/orthogonal-containing-block-height-changes.html
Labels: css-writing-modes, webkit-export

#49718 [wdspec] fix `browsingContext.navigationFailed` test
  webdriver/tests/bidi/browsing_context/navigation_failed/navigation_failed.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#46301 [WebDriver BiDi] allow grapheme in key input
  webdriver/tests/bidi/input/perform_actions/invalid.py
  webdriver/tests/bidi/input/perform_actions/key.py
Labels: webdriver-bidi

#49903 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=267360
  css/css-align/blocks/align-content-block-012-ref.html
  css/css-align/blocks/align-content-block-012.html
Labels: css-align, webkit-export

#49898 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278441
  css/css-backgrounds/background-clip/clip-border-area-on-body-not-propagated-to-root.html
  css/css-backgrounds/background-clip/clip-border-area-on-body-propagated-to-root.html
  css/css-backgrounds/background-clip/clip-border-area-on-root.html
  css/css-backgrounds/background-clip/clip-text-on-body-not-propagated-to-root-ref.html
  css/css-backgrounds/background-clip/clip-text-on-body-not-propagated-to-root.html
  css/css-backgrounds/background-clip/clip-text-on-body-propagated-to-root.html
  css/css-backgrounds/background-clip/clip-text-on-root.html
  css/css-backgrounds/reference/green-root-background.html
Labels: css-backgrounds, webkit-export

#49611 :host selector combination
  css/css-scoping/host-descendant-003.html
  css/css-scoping/host-multiple-002.html
  css/css-scoping/host-multiple-003.html
  css/css-scoping/host-multiple-004.html
  css/css-scoping/host-multiple-005.html
  css/css-scoping/host-multiple-006.html
  css/css-scoping/host-not-001.html
Labels: css-scoping

#49899 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277093
  css/css-grid/img-src-changes.html
Labels: css-grid, webkit-export

#49900 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=281599
  css/css-inline/text-box-trim/text-box-on-non-root-inline-box.html
Labels: webkit-export, css-inline

#49901 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=275365
  css/css-nesting/cssom.html
  css/css-nesting/mixed-declarations-rules.html
Labels: webkit-export, css-nesting

#49894 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285295
  css/css-view-transitions/dynamic-stylesheet-animations.html
Labels: css-typed-om, css-animations, webkit-export, css-view-transitions

#49911 Ensure Element ID modifications inside disconnected shadow roots are registered
  shadow-dom/getElementById-dynamic-002.html
Labels: shadow-dom, wg-webplatform, servo-export

#49918 Add cloning coverage for <input type=checkbox switch>
  html/semantics/forms/the-input-element/input-type-checkbox-switch.tentative.window.js
Labels: html

#49920 Add test to verify legacy sinks for TrustedScript are not supported
  trusted-types/legacy-trusted-scripts.html
Labels: trusted-types, wg-s_webappsec

#49917 Resolve % as 0 for the min-content contribution of replaced elements
  css/css-sizing/intrinsic-percent-replaced-028.html
Labels: css-sizing, servo-export

#49777 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284622
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-001-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-002-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-003-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-004-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-cols-005-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-001-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-002-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-mix2-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-auto-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix1-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix2-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-001-ref.html
Labels: css-grid, webkit-export

#49779 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284884
  css/css-grid/masonry/tentative/item-placement/masonry-columns-item-placement-auto-flow-next-001-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-columns-item-placement-auto-flow-next-001.html
Labels: css-grid, webkit-export

#49944 Relax value precision for converting rad to deg for CSS fonts variations
  css/css-fonts/variations/font-style-parsing.html
Labels: css-fonts

#49821 [wdspec] verify internal ids for deeply nested objects
  webdriver/tests/bidi/script/evaluate/internal_id.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#49923 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284184
  service-workers/service-worker/fetch-with-body.https.html
  service-workers/service-worker/resources/fetch-with-body-worker.js
  service-workers/service-worker/resources/fetch-with-body-worker.py
Labels: service-workers, webkit-export, wg-s_service-workers

#49945 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285451
  css/css-conditional/container-queries/container-units-selection.html
Labels: css-conditional, webkit-export

#49959 Remove sandersdan from webcodecs/META.yml
  webcodecs/META.yml
Labels: wg-media, webcodecs

#49934 Add Web Speech API feature flags
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#49961 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285545
  css/css-writing-modes/forms/file-input-computed-style.html
Labels: css-writing-modes, webkit-export

#49966 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285558
  css/css-writing-modes/reference/sideways-lr-main-axis-ref.html
  css/css-writing-modes/sideways-lr-main-axis.html
Labels: css-writing-modes, webkit-export

#49904 [WebDriver BiDi] Fix issue with memory cache in Chrome
  webdriver/tests/bidi/network/before_request_sent/before_request_sent_cached.py
  webdriver/tests/bidi/network/response_completed/response_completed_cached.py
  webdriver/tests/bidi/network/response_started/response_started_cached.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#49969 HTML: ensure <link rel> is tokenized properly
  html/semantics/document-metadata/the-link-element/link-rel-attribute-tokenization.html
Labels: html

#49950 Improve test coverage for Trusted Types and SVGScriptElement
  trusted-types/trusted-types-svg-script-set-href.html
Labels: trusted-types, webkit-export, wg-s_webappsec

#47588 Allow patial update to wpt manifest
  tools/manifest/manifest.py
  tools/manifest/spec.py
  tools/manifest/update.py
  tools/manifest/vcs.py
Labels: infra, manifest, mozilla:gecko-blocked

#49981 Protect wasm/core from accidental manual changes
  CODEOWNERS
Labels: infra

#49994 layout: Set padding to zero on tables in collapsed-borders mode
  css/CSS2/tables/collapsing-border-model-011.html
  css/CSS2/tables/collapsing-border-model-012.html
  css/CSS2/tables/collapsing-border-model-013.html
  css/CSS2/tables/collapsing-border-model-014.html
Labels: wg-css, CSS2, servo-export

#49997 Add more TrustedType tests for eval and function constructor.
  trusted-types/block-eval-function-constructor.html
  trusted-types/support/block-eval-function-constructor-worker.js
  trusted-types/support/block-eval-function-constructor.js
Labels: trusted-types, wg-s_webappsec

#49996 Add TrustedType tests for iframe.srcdoc.
  trusted-types/block-string-assignment-to-HTMLIFrameElement-srcdoc.html
Labels: trusted-types, wg-s_webappsec

#49999 Verify the trusted type "sink" value for WorkerGlobalScope.importScri…
  trusted-types/support/WorkerGlobalScope-importScripts.https.js
Labels: trusted-types, wg-s_webappsec

#50000 Use wrapper divs in trusted-types-createHTMLDocument.html
  trusted-types/trusted-types-createHTMLDocument.html
Labels: trusted-types, wg-s_webappsec

#50019 [wdspec] check that subscription IDs are returned
  webdriver/tests/bidi/session/subscribe/subscription_id.py
  webdriver/tests/support/fixtures_bidi.py
Labels: webdriver, webdriver-bidi, wg-s_browser-tools-testing

#50020 [wdspec] test for invalid subscription ids in unsubscribe
  tools/webdriver/webdriver/bidi/modules/session.py
  webdriver/tests/bidi/session/unsubscribe/invalid.py
Labels: infra, webdriver, webdriver-bidi, wg-s_browser-tools-testing

#50040 Enable wdspec and crashtest tests in servodriver.
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
Labels: infra, wptrunner, servo-export

#50041 Remove vendored copy of typing_extensions package.
  tools/localpaths.py
  tools/third_party/typing_extensions/LICENSE
  tools/third_party/typing_extensions/PKG-INFO
  tools/third_party/typing_extensions/pyproject.toml
  tools/third_party/typing_extensions/src/typing_extensions.py
Labels: infra, localpaths.py, third_party

#50044 [wdspec] fix missing comma
  webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50024 Fix Trusted Type sink test changes from https://github.com/WebKit/Web…
  trusted-types/support/block-string-assignment-to-DOMWindowTimers-setTimeout-setInterval.js
  trusted-types/trusted-types-duplicate-names-without-enforcement.html
  trusted-types/worker-constructor.https.html
Labels: trusted-types, wg-s_webappsec

#49867 Fix URLs in Sanitizer API to work with Mozilla Firefox CI
  sanitizer-api/sethtml-safety.dat
  sanitizer-api/sethtml-unsafety.dat
Labels: sanitizer-api, wg-cg_wicg

#50025 Add tests for setAttribute/setAttributeNS and content event handler attributes
  trusted-types/TrustedTypePolicyFactory-getAttributeType-event-handler-content-attributes.tentative.html
  trusted-types/set-event-handlers-content-attributes.tentative.html
  trusted-types/support/event-handler-attributes.mjs
Labels: trusted-types, wg-s_webappsec

#50022 Add test for innerHTML, innerText, textContent, text and src IDL prop…
  trusted-types/block-string-assignment-to-text-and-url-sinks.html
Labels: trusted-types, wg-s_webappsec

#50046 Add tests for setAttribute/setAttributeNS and non-event-handler attri…
  trusted-types/Element-setAttribute-setAttributeNS-sinks.tentative.html
Labels: trusted-types, wg-s_webappsec

#50042 Various servodriver improvements
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner, servo-export

#50054 Add missing headers file to worker eval TT test
  trusted-types/support/block-eval-function-constructor-worker.js.headers
Labels: trusted-types, wg-s_webappsec

#50058 Remove outdated subtest for Trusted Types eval handling
  trusted-types/trusted-types-eval-reporting.html
Labels: trusted-types, wg-s_webappsec

#50050 Change expected Trusted Types sink name for WorkerGlobalScope functions
  trusted-types/support/DOMWindowTimers-setTimeout-setInterval.js
  trusted-types/support/WorkerGlobalScope-importScripts.https.js
  trusted-types/support/block-string-assignment-to-DOMWindowTimers-setTimeout-setInterval.js
Labels: trusted-types, mozilla:gecko-blocked, wg-s_webappsec

#50051 [css-fonts] Add a test that src:local matches a single face, not a whole family.
  css/css-fonts/font-face-local-not-family-ref.html
  css/css-fonts/font-face-local-not-family.html
Labels: css-fonts

#50074 [WebAudio] Fix typo in `different-contexts.html`
  webaudio/the-audio-api/the-audionode-interface/different-contexts.html
Labels: webaudio, wg-s_audio

#48866 Store the WebDriver error "data" property
  tools/webdriver/webdriver/error.py
Labels: infra, webdriver, mozilla:gecko-blocked, wg-s_browser-tools-testing

#50079 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285936
  html/dom/render-blocking/element-render-blocking-039.html
Labels: html, webkit-export

#50095 fonts: Remove synchronous web font loading functionality
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#50100 Remove tentative from dialog closedby attribute and requestClose
  html/semantics/interactive-elements/the-dialog-element/dialog-closedby.html
  html/semantics/interactive-elements/the-dialog-element/dialog-popover-closedby-complex.html
  html/semantics/interactive-elements/the-dialog-element/dialog-popover-closedby-simple.html
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.html
Labels: html

#50092 layout: Make non-`normal` `align-content` establish a block formatting context
  css/css-align/blocks/align-content-block-006.html
  css/css-align/blocks/align-content-block-007.html
  css/css-align/blocks/align-content-block-008.html
  css/css-align/blocks/align-content-block-009.html
  css/css-align/blocks/align-content-block-010.html
  css/css-align/blocks/align-content-block-011.html
Labels: servo-export, css-align

#50098 Fix mistakes in trusted-types*reporting tests.
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-eval-reporting.html
  trusted-types/trusted-types-reporting.html
Labels: trusted-types, wg-s_webappsec

#50129 Cookie Store API - Add tests for creation url, control characters, default secure
  cookie-store/cookieListItem_attributes.https.any.js
  cookie-store/cookieStore_delete_arguments.https.any.js
  cookie-store/cookieStore_getAll_set_creation_url.https.any.js
  cookie-store/cookieStore_get_set_creation_url.https.any.js
  cookie-store/cookieStore_set_arguments.https.any.js
Labels: cookie-store

#50132 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286058
  urlpattern/resources/urlpatterntestdata.json
Labels: webkit-export, urlpattern

#50131 fix `content-visibility-auto-svg-text.html`
  css/css-contain/content-visibility/content-visibility-auto-svg-text.html
Labels: css-contain

#49233 serve: Handle case where server subprocess times out
  tools/serve/serve.py
Labels: infra, serve

#50093 prefs: Move some `DebugOptions` to `Preferences` and clean up
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#50047 [wdspec] add context locator tests involving iframes and shadow DOM
  webdriver/tests/bidi/browsing_context/locate_nodes/invalid.py
  webdriver/tests/bidi/browsing_context/locate_nodes/locator.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50073 Export made from a WebKit repository of b3ba7888 (Implement CSS Values 5 random())
  css/css-values/random-computed.tentative.html
  css/css-values/random-invalid.tentative.html
  css/css-values/random-serialize.tentative.html
Labels: wg-css, css-values

#50167 Set descendant's attribute's owner document in Node::adopt
  dom/nodes/Node-mutation-adoptNode.html
Labels: dom, servo-export

#50164 [wdspec] fix the beforeunload + history event order test
  webdriver/tests/bidi/integration/navigation.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50170 [wdspec] always expect stack traces in console log entries
  webdriver/tests/bidi/log/entry_added/stacktrace.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50177 [WebDriver BiDi] Fix file test
  webdriver/tests/bidi/input/set_files/files.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#49795 Use number input type as example for non-auto-directionality form-associated input element
  html/dom/elements/global-attributes/dir-auto-dynamic-changes.window.js
Labels: html

#50182 layout: Fix border widths of table wrapper with collapsed borders
  css/css-tables/visibility-collapse-rowspan-004-dynamic.html
Labels: css-tables, servo-export

#50190 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=259602
  css/css-writing-modes/forms/input-range-block-size.html
  css/css-writing-modes/forms/input-range-inline-size.html
  css/css-writing-modes/forms/input-range-zero-inline-size-ref.html
  css/css-writing-modes/forms/input-range-zero-inline-size.html
Labels: css-writing-modes, webkit-export

#50056 mark has-slotted tests as non-tentative
  css/css-scoping/has-slotted-001.html
  css/css-scoping/has-slotted-002.html
  css/css-scoping/has-slotted-003.html
  css/css-scoping/has-slotted-changing-001.html
  css/css-scoping/has-slotted-changing-002.html
  css/css-scoping/has-slotted-flattened-001.html
  css/css-scoping/has-slotted-flattened-002.html
  css/css-scoping/has-slotted-flattened-003.html
  css/css-scoping/has-slotted-flattened-004.html
Labels: css-scoping

#50124 Rewrite Trusted types tests for CSP violations
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html
  trusted-types/require-trusted-types-for-report-only.html
  trusted-types/require-trusted-types-for-report-only.html.headers
  trusted-types/require-trusted-types-for.html
  trusted-types/support/csp-violations.js
  trusted-types/support/resolve-spv.js
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-eval-reporting.html
  trusted-types/trusted-types-report-only.html
  trusted-types/trusted-types-report-only.html.headers
  trusted-types/trusted-types-reporting.html
  trusted-types/trusted-types-source-file-path.html
  trusted-types/trusted-types-svg-script-set-href.html
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, wg-s_webappsec

#50235 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285811
  html/semantics/popovers/popover-focus-2.html
Labels: html, webkit-export

#50215 layout: Fix table geometry when collapsed borders have different sizes
  css/CSS2/tables/border-collapse-006.html
Labels: wg-css, CSS2, servo-export

#50238 Trusted Types: Improve testing of samples in violation reports.
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html
  trusted-types/support/csp-violations.js
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-eval-reporting.html
  trusted-types/trusted-types-reporting.html
  trusted-types/trusted-types-source-file-path.html
  trusted-types/trusted-types-svg-script-set-href.html
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, wg-s_webappsec

#50224 layout: Hide collapsed borders crossed by spanning cells
  css/css-tables/tentative/border-collapse-spanning-cells-001.html
  css/css-tables/tentative/border-collapse-spanning-cells-002.html
  css/css-tables/tentative/border-collapse-spanning-cells-003.html
  css/css-tables/tentative/border-collapse-spanning-cells-004.html
Labels: wg-css, CSS2, css-tables, servo-export

#50264 wpt: Fix `/css/CSS2/tables/anonymous-table-box-width-001.xht`
  css/CSS2/tables/anonymous-table-box-width-001.xht
Labels: wg-css, CSS2, servo-export

#50273 wpt: Fix references for `/css/CSS2/tables/table-anonymous-objects-*`
  css/CSS2/tables/reference/no_red_3x3_monospace_colored_table-ref.xht
  css/CSS2/tables/reference/no_red_3x3_monospace_multi_table-ref.xht
  css/CSS2/tables/table-anonymous-objects-079.xht
  css/CSS2/tables/table-anonymous-objects-080.xht
  css/CSS2/tables/table-anonymous-objects-081.xht
  css/CSS2/tables/table-anonymous-objects-082.xht
  css/CSS2/tables/table-anonymous-objects-083.xht
  css/CSS2/tables/table-anonymous-objects-084.xht
  css/CSS2/tables/table-anonymous-objects-085.xht
  css/CSS2/tables/table-anonymous-objects-086.xht
  css/CSS2/tables/table-anonymous-objects-093.xht
  css/CSS2/tables/table-anonymous-objects-094.xht
  css/CSS2/tables/table-anonymous-objects-095.xht
  css/CSS2/tables/table-anonymous-objects-096.xht
  css/CSS2/tables/table-anonymous-objects-097.xht
  css/CSS2/tables/table-anonymous-objects-098.xht
  css/CSS2/tables/table-anonymous-objects-155.xht
  css/CSS2/tables/table-anonymous-objects-156.xht
Labels: wg-css, CSS2, servo-export

#50269 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286471
  scroll-animations/scroll-timelines/setting-effect.html
Labels: wg-css, webkit-export, scroll-animations

#50278 Update META.yml: add pkotwicz
  digital-credentials/META.yml
Labels: wg-cg_wicg, digital-credentials

#49989 Digital Credentials: Rename DigitalCredentialsRequest to DigitalCredentialRequest
  digital-credentials/allow-attribute.https.html
  digital-credentials/dc-types.ts
  digital-credentials/support/helper.js
Labels: wg-cg_wicg, digital-credentials

#48253 Digital Credentials: s/providers/requests, s/request/data
  digital-credentials/dc-types.ts
  digital-credentials/get.tentative.https.html
  digital-credentials/support/helper.js
Labels: wg-cg_wicg, digital-credentials

#50285 layout: Take percentage columns into account when sizing table grid min and max
  css/css-flexbox/table-as-item-percent-width-cell-001-ref.html
Labels: wg-css, servo-export, css-flexbox

#50282 layout: Zero out collapsed track sizes when painting collapsed borders
  css/CSS2/tables/border-collapse-visibility-collapse-001.tentative.html
  css/CSS2/tables/border-collapse-visibility-collapse-002.tentative.html
Labels: wg-css, CSS2, servo-export

#50310 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285114
  css/css-nesting/nested-error-recovery.html
Labels: status:needs-reviewers, webkit-export, css-nesting

#50295 Add trusted types tests for setAttribute that are not sinks.
  trusted-types/set-event-handlers-content-attributes.tentative.html
Labels: trusted-types, wg-s_webappsec

#50329 Revert "Check use of NavigateEvent.sourceElement"
  navigation-api/navigate-event/event-constructor.html
  navigation-api/navigate-event/navigate-anchor-cross-origin.html
  navigation-api/navigate-event/navigate-anchor-download-userInitiated.html
  navigation-api/navigate-event/navigate-anchor-download.html
  navigation-api/navigate-event/navigate-anchor-fragment.html
  navigation-api/navigate-event/navigate-anchor-same-origin-cross-document.html
  navigation-api/navigate-event/navigate-anchor-userInitiated.html
  navigation-api/navigate-event/navigate-anchor-with-target.html
  navigation-api/navigate-event/navigate-destination-getState-back-forward.html
  navigation-api/navigate-event/navigate-destination-getState-navigate.html
  navigation-api/navigate-event/navigate-destination-getState-reload.html
  navigation-api/navigate-event/navigate-form-get.html
  navigation-api/navigate-event/navigate-form-reload.html
  navigation-api/navigate-event/navigate-form-traverse.html
  navigation-api/navigate-event/navigate-form-userInitiated.html
  navigation-api/navigate-event/navigate-form-with-target.html
  navigation-api/navigate-event/navigate-form.html
  navigation-api/navigate-event/navigate-history-back-after-fragment.html
  navigation-api/navigate-event/navigate-history-back-after-pushState.html
  navigation-api/navigate-event/navigate-history-back-cross-document.html
  navigation-api/navigate-event/navigate-history-go-0.html
  navigation-api/navigate-event/navigate-history-pushState.html
  navigation-api/navigate-event/navigate-history-replaceState.html
  navigation-api/navigate-event/navigate-iframe-location.html
  navigation-api/navigate-event/navigate-location.html
  navigation-api/navigate-event/navigate-meta-refresh.html
  navigation-api/navigate-event/navigate-navigation-back-cross-document.html
  navigation-api/navigate-event/navigate-navigation-back-same-document-in-iframe.html
  navigation-api/navigate-event/navigate-navigation-back-same-document.html
  navigation-api/navigate-event/navigate-navigation-navigate.html
  navigation-api/navigate-event/navigate-svg-anchor-fragment.html
  navigation-api/navigate-event/navigate-to-srcdoc.html
  navigation-api/navigate-event/navigate-window-open-self.html
  navigation-api/navigate-event/navigate-window-open.html
Labels: navigation-api

#50328 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=257575
  css/css-tables/out-of-order-elements-collapsed-border-ref.html
  css/css-tables/out-of-order-elements-collapsed-border.html
Labels: wg-css, css-tables, webkit-export

#50337 Clarify support for ::slotted(:has(...)) as established by WebKit
  css/css-scoping/slotted-has-001.html
  css/css-scoping/slotted-has-002.html
  css/css-scoping/slotted-has-003.html
  css/css-scoping/slotted-has-004.html
  css/selectors/parsing/parse-slotted.html
Labels: wg-css, selectors, css-scoping

#50357 Update background-image-table-cells-straddling-no-repeat.html
  css/css-backgrounds/background-image-table-cells-straddling-no-repeat.html
Labels: wg-css, css-backgrounds

#50290 [wdspec] add invalid tests for session.subscribe with user contexts
  tools/webdriver/webdriver/bidi/modules/session.py
  webdriver/tests/bidi/session/subscribe/invalid.py
Labels: infra, webdriver, mozilla:gecko-blocked, webdriver-bidi, wg-s_browser-tools-testing

#50356 layout: Remove wrong optimization when placing table among floats
  css/CSS2/floats-clear/table-among-floats-001.html
Labels: wg-css, CSS2, servo-export

#50360 Use assert_throws_js in content-security-policy/securitypolicyviolation/source-file.html
  content-security-policy/securitypolicyviolation/source-file.html
Labels: content-security-policy

#50276 Add more tests for trusted-types-sink violation reports.
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests-none.html
  trusted-types/TrustedTypePolicyFactory-createPolicy-cspTests.html
  trusted-types/require-trusted-types-for-report-only.html.headers
  trusted-types/require-trusted-types-for.html
  trusted-types/support/csp-violations.js
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html.headers
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-eval-reporting-report-only.html.headers
  trusted-types/trusted-types-eval-reporting.html
  trusted-types/trusted-types-eval-reporting.html.headers
  trusted-types/trusted-types-report-only.html.headers
  trusted-types/trusted-types-reporting-for-DOMParser-parseFromString.html
  trusted-types/trusted-types-reporting-for-Document-execCommand.html
  trusted-types/trusted-types-reporting-for-Document-parseHTMLUnsafe.html
  trusted-types/trusted-types-reporting-for-Document-write.html
  trusted-types/trusted-types-reporting-for-Element-innerHTML.html
  trusted-types/trusted-types-reporting-for-Element-insertAdjacentHTML.html
  trusted-types/trusted-types-reporting-for-Element-outerHTML.html
  trusted-types/trusted-types-reporting-for-Element-setAttribute.html
  trusted-types/trusted-types-reporting-for-Element-setHTMLUnsafe.html
  trusted-types/trusted-types-reporting-for-HTMLIFrameElement-srcdoc.html
  trusted-types/trusted-types-reporting-for-HTMLScriptElement.html
  trusted-types/trusted-types-reporting-for-Range-createContextualFragment.html
  trusted-types/trusted-types-reporting-for-ShadowRoot-innerHTML.html
  trusted-types/trusted-types-reporting-for-ShadowRoot-setHTMLUnsafe.html
  trusted-types/trusted-types-reporting.html
  trusted-types/trusted-types-reporting.html.headers
  trusted-types/trusted-types-source-file-path.html
  trusted-types/trusted-types-svg-script-set-href.html
  trusted-types/trusted-types-svg-script.html
Labels: trusted-types, wg-s_webappsec

#50392 temp rollback of PR 43698 until the end of Interop 2024
  accname/name/comp_labelledby.html
Labels: accname, wg-wai_aria

#50377 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285413
  css/css-images/gradient/gradient-single-stop-001.html
  css/css-images/gradient/gradient-single-stop-002.html
  css/css-images/gradient/gradient-single-stop-003.html
  css/css-images/gradient/gradient-single-stop-004.html
  css/css-images/gradient/gradient-single-stop-005.html
  css/css-images/gradient/gradient-single-stop-006.html
  css/css-images/gradient/gradient-single-stop-007.html
  css/css-images/gradient/gradient-single-stop-008.html
Labels: wg-css, css-images

#50401 Add `cssText` test cases in `cssom-pagerule.html`
  css/cssom/cssom-pagerule.html
Labels: wg-css, cssom

#50402 Add `togglescreenshare` and `voiceactivity` test coverage
  mediasession/setactionhandler.html
Labels: mediasession, wg-media

#50413 [wdspec] `browsingContext.navigationCommitted` event
  webdriver/tests/bidi/browsing_context/navigation_committed/__init__.py
  webdriver/tests/bidi/browsing_context/navigation_committed/navigation_committed.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#50404 Avoid starting transitions if values can't be interpolated
  css/css-transitions/transition-behavior-events.html
Labels: wg-css, css-transitions, servo-export
