Repository web-platform-tests/wpt, pull requests merged in 2025-06, with the labels that each got.

#52850 net: Perform CSP checks on fetch responses.
  content-security-policy/default-src/default-src-sri_hash.sub.html
  content-security-policy/script-src/script-src-sri_hash.sub.html
  content-security-policy/script-src/script-src-strict_dynamic_parser_inserted.html
  content-security-policy/script-src/script-src-strict_dynamic_parser_inserted.html.headers
Labels: content-security-policy, servo-export

#52891 XPath: implement lang() and id() core functions
  domxpath/fn-id.html
Labels: domxpath, wg-dom, servo-export

#51785 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290835
  css/filter-effects/drop-shadow-currentcolor-inheritance.html
Labels: wg-css, filter-effects, webkit-export

#52713 Ensure createImageBitmap resolves in a task
  html/canvas/element/manual/imagebitmap/common.sub.js
  html/canvas/element/manual/imagebitmap/createImageBitmap-resolves-in-task.any.js
Labels: html

#52924 Move Integrity-Policy signature-based SRI tests to tentative
  subresource-integrity/integrity-policy/script.https.html
  subresource-integrity/integrity-policy/tentative/signature.https.html
Labels: subresource-integrity

#52634 Nesting selectors that refer to pseudo elements must not match the originating element
  css/css-nesting/contextually-invalid-selectors-001.html
  css/css-nesting/contextually-invalid-selectors-002.html
  css/css-nesting/contextually-invalid-selectors-003.html
Labels: wg-css, status:needs-reviewers, css-nesting

#52458 Add test for border-radius with clip along one axis
  css/css-overflow/clip-008.html
Labels: wg-css, css-overflow

#52972 Add support for subsuite to servo(driver)
  tools/wptrunner/wptrunner/browsers/servo.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner, servo-export

#52974 Remove .tentative from shape() tests
  css/css-masking/animations/clip-path-interpolation-shape-control-points.html
  css/css-masking/clip-path/clip-path-shape-007.html
  css/css-masking/clip-path/clip-path-shape-008.html
  css/css-masking/clip-path/clip-path-shape-009.html
  css/css-masking/clip-path/clip-path-shape-010.html
  css/css-masking/clip-path/clip-path-shape-hline-vline-keywords.html
  css/css-shapes/shape-functions/shape-function-computed.html
  css/css-shapes/shape-functions/shape-function-invalid.html
  css/css-shapes/shape-functions/shape-function-valid.html
Labels: wg-css, css-shapes, css-masking

#51868 Fix #51845: Remove implicit session creation from webdriver
  resources/test/conftest.py
  tools/webdriver/webdriver/client.py
Labels: infra, webdriver, testharness.js, wg-s_browser-tools-testing

#50630 Test removing a sibling element when both are fullscreen
  fullscreen/model/remove-first-sibling.html
  fullscreen/model/remove-last-sibling.html
Labels: fullscreen

#52984 Add @jonathan-j-lee as suggested `tools/` reviewer
  tools/META.yml
Labels: infra, META.yml

#52993 layout: Force outside ::marker to establish a BFC
  css/CSS2/lists/list-style-applies-to-016.html
  css/CSS2/lists/list-style-applies-to-017.html
  css/CSS2/lists/list-style-image-applies-to-001.xht
  css/CSS2/lists/list-style-image-applies-to-002.xht
  css/CSS2/lists/list-style-image-applies-to-003.xht
  css/CSS2/lists/list-style-image-applies-to-004.xht
  css/CSS2/lists/list-style-image-applies-to-005.xht
  css/CSS2/lists/list-style-image-applies-to-006.xht
  css/CSS2/lists/list-style-image-applies-to-007.xht
  css/CSS2/lists/list-style-image-applies-to-008.xht
  css/CSS2/lists/list-style-image-applies-to-009.xht
  css/CSS2/lists/list-style-image-applies-to-010.xht
  css/CSS2/lists/list-style-image-applies-to-012.xht
  css/CSS2/lists/list-style-image-applies-to-013.xht
  css/CSS2/lists/list-style-image-applies-to-014.xht
  css/CSS2/lists/list-style-image-applies-to-015.xht
  css/CSS2/lists/list-style-image-applies-to-016.html
  css/CSS2/lists/list-style-image-applies-to-017.html
  css/CSS2/lists/list-style-image-applies-to-ref-1.html
  css/CSS2/lists/list-style-image-applies-to-ref-2.html
  css/CSS2/lists/list-style-position-applies-to-001.xht
  css/CSS2/lists/list-style-position-applies-to-002.xht
  css/CSS2/lists/list-style-position-applies-to-003.xht
  css/CSS2/lists/list-style-position-applies-to-004.xht
  css/CSS2/lists/list-style-position-applies-to-005.xht
  css/CSS2/lists/list-style-position-applies-to-006.xht
  css/CSS2/lists/list-style-position-applies-to-007.xht
  css/CSS2/lists/list-style-position-applies-to-008.xht
  css/CSS2/lists/list-style-position-applies-to-009.xht
  css/CSS2/lists/list-style-position-applies-to-010.xht
  css/CSS2/lists/list-style-position-applies-to-012.xht
  css/CSS2/lists/list-style-position-applies-to-013.xht
  css/CSS2/lists/list-style-position-applies-to-014.xht
  css/CSS2/lists/list-style-position-applies-to-015.xht
  css/CSS2/lists/list-style-position-applies-to-016.html
  css/CSS2/lists/list-style-position-applies-to-017.html
  css/CSS2/lists/list-style-position-applies-to-ref-1.html
  css/CSS2/lists/list-style-position-applies-to-ref-2.html
  css/CSS2/lists/list-style-position-applies-to-ref-3.html
  css/CSS2/lists/list-style-position-applies-to-ref-4.html
  css/CSS2/lists/list-style-position-applies-to-ref-5.html
  css/CSS2/lists/list-style-type-applies-to-016.html
  css/CSS2/lists/list-style-type-applies-to-017.html
Labels: wg-css, CSS2, servo-export

#53004 Do not mutate kwargs["binary_args"]
  tools/wptrunner/wptrunner/browsers/servo.py
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner, servo-export

#53016 Revert "Add PR jobs using Safari to GitHub Actions"
  .github/workflows/pull_request_test_jobs.yml
  .github/workflows/safari-wptrunner.yml
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
Labels: GitHub Actions

#52941 Migrate to modern logger interface
  tools/webtransport/h3/webtransport_h3_server.py
Labels: infra, webtransport, wg-s_webtransport

#53018 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294112
  css/css-anchor-position/position-area-pseudo-element-implicit-anchor.html
Labels: wg-css, webkit-export, css-anchor-position

#53017 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294066
  css/css-anchor-position/anchor-function-pseudo-element-implicit-anchor.html
Labels: wg-css, webkit-export, css-anchor-position

#53015 Update font-family keywords to match latest spec
  css/css-fonts/support/font-family-keywords.js
Labels: wg-css, css-fonts

#53046 Map contain:inline-size tests to web-features
  css/css-contain/WEB_FEATURES.yml
Labels: wg-css, css-contain

#53024 [GH Actions] Notify staging.wpt.fyi even if wpt.fyi fails
  .github/workflows/wpt_fyi_notify.yml
Labels: GitHub Actions

#53051 tox can filter environments matching a given factor itself
  tools/ci/ci_tools_unittest.sh
Labels: infra, ci, Taskcluster

#53070 Map screen wake lock tests to web-features
  screen-wake-lock/WEB_FEATURES.yml
Labels: wg-das, screen-wake-lock, wg-s_webapps

#53065 Map print-color-adjust test to web-features
  css/css-color-adjust/parsing/WEB_FEATURES.yml
Labels: wg-css, css-color-adjust

#53106 Fix Azure Pipelines, re-add pip_install.yml
  tools/ci/azure/pip_install.yml
Labels: infra, ci, Azure Pipelines

#53119 Fix rare flakiness in `apng/animated-png-timeout.html`
  apng/animated-png-timeout.html
Labels: apng, mozilla:gecko-blocked

#53141 layout: Properly handle intrinsic min/max block sizes on replaced element
  css/css-sizing/aspect-ratio/replaced-element-047.tentative.html
  css/css-sizing/aspect-ratio/replaced-element-048.tentative.html
Labels: wg-css, css-sizing, servo-export

#53149 Import invalid-media-query-list.html from WebKit layout tests
  css/mediaqueries/mq-invalid-media-type-006.html
Labels: wg-css, mediaqueries

#53166 Fix #53165 - adds fuzziness to rounded SVG rect
  svg/shapes/rect-03.svg
  svg/shapes/rect-04.svg
Labels: wg-svg, svg, mozilla:gecko-blocked

#53172 layout: capitalize string for `TextTransformCase::Capitalize` in `fn rendered_text_collection_steps`
  css/css-text/text-transform/text-transform-capitalize-036.html
Labels: wg-css, css-text, servo-export

#53180 Fix syntax error and missing ref for font-variant-caps-invalidation-container-sizing.html
  css/css-fonts/font-variant-caps-invalidation-container-sizing-ref.html
  css/css-fonts/font-variant-caps-invalidation-container-sizing.html
Labels: wg-css, css-fonts

#53160 Fix Typo in Comments for gitignore and serve Tools
  tools/gitignore/gitignore.py
  tools/serve/serve.py
Labels: infra, serve, gitignore, mozilla:gecko-blocked

#52757 add test ensuring moveBefore does not change the order of open dialogs
  html/semantics/interactive-elements/the-dialog-element/dialog-open-movebefore-setup.html
Labels: html

#53220 compositor: Always send an animating tick when a pipeline starts animating
  css/css-transitions/support/transition-in-iframe-001-iframe.html
  css/css-transitions/transition-in-iframe-001.html
Labels: wg-css, css-transitions, servo-export

#53210 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294596
  urlpattern/urlpattern-constructor.html
Labels: webkit-export, urlpattern

#53192 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294567
  css/css-text/white-space/reference/text-wrap-balance-with-svg-001-ref.html
  css/css-text/white-space/text-wrap-balance-with-svg-001.html
Labels: wg-css, css-text, webkit-export

#53289 Fixes tests of <color> CSS custom properties computed style to use resolved used value
  css/css-properties-values-api/registered-property-computation.html
Labels: wg-css, css-properties-values-api

#53288 Fixes tests of <image> CSS custom properties computed style to use absolute URLs
  css/css-properties-values-api/typedom.html
Labels: wg-css, css-properties-values-api

#53290 Removes container-progress() and media-progress() tests now that they have been removed from CSS Values 5
  css/css-values/container-progress-computed.tentative.html
  css/css-values/container-progress-invalid.tentative.html
  css/css-values/container-progress-serialize.tentative.html
  css/css-values/media-progress-computed.tentative.html
  css/css-values/media-progress-invalid.tentative.html
  css/css-values/media-progress-serialize.tentative.html
Labels: wg-css, css-values

#53274 Mark non-local-ports.sub.window.js as intermittently passing on chrome.
  infrastructure/metadata/infrastructure/assumptions/non-local-ports.sub.window.js.ini
Labels: infra

#50850 Permissions: add missing tests
  permissions/edge-cases.https.html
  permissions/event-model.https.html
  permissions/revocation.https.html
  permissions/worker.https.html
Labels: permissions, wg-s_webappsec

#53313 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294523
  css/css-pseudo/parsing/marker-supported-properties.html
Labels: wg-css, css-pseudo, webkit-export

#53308 Make virtualenv.broken_links catch more cases of broken links
  tools/wpt/virtualenv.py
Labels: infra, wpt

#53307 Check paths exist in Browser.find_binary before returning them
  tools/wpt/browser.py
Labels: infra, wpt

#52932 [wdspec] `browsingContext.downloadEnd` event
  webdriver/tests/bidi/browsing_context/download_end/__init__.py
  webdriver/tests/bidi/browsing_context/download_end/download_end.py
  webdriver/tests/bidi/browsing_context/download_end/status.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#53309 tools/wpt/tests shouldn't rely on Chrome being installed
  tools/pytest.ini
  tools/wpt/tests/test_wpt.py
Labels: infra, wpt, pytest.ini

#53372 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294383
  css/css-box/margin-trim/block-container-inline-001.html
Labels: wg-css, webkit-export, css-box

#53370 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290800
  css/css-transforms/perspective-transforms-equivalence.html
Labels: wg-css, css-transforms, webkit-export, css

#53353 Allow self to be passed as validation anchor
  custom-elements/form-associated/ElementInternals-validation.html
Labels: custom-elements, wg-webplatform

#53380 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294943
  css/css-grid/alignment/self-baseline/grid-self-baseline-two-dimensional.html
Labels: wg-css, css-grid, webkit-export

#53414 Fix scrollWidthHeight-negative-margin-002.html
  css/cssom-view/scrollWidthHeight-negative-margin-002.html
Labels: wg-css, cssom-view, servo-export

#53405 layout: Let `align-content: stretch` fall back to `unsafe flex-start`
  css/css-flexbox/align-content-007.htm
Labels: wg-css, cssom-view, servo-export, css-flexbox

#53375 [css-anchor-position-1] Remove extraneous left declaration
  css/css-anchor-position/position-try-pseudo-element.html
Labels: wg-css, css-anchor-position

#53391 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294887
  css/css-view-transitions/parsing/view-transition-name-computed.html
Labels: wg-css, webkit-export, mozilla:gecko-blocked, css-view-transitions

#53420 URL: add port setter tests with newlines and tabs
  url/resources/setters_tests.json
Labels: url

#53323 cloneNode() and document's allow declarative shadow roots
  dom/nodes/Node-cloneNode-document-allow-declarative-shadow-roots.window.js
Labels: dom

#53425 Fix ref to be properly dense.
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-001-ref.html
Labels: wg-css, css-grid

#48097 Add lint for test_driver_internal usage
  lint.ignore
  tools/lint/lint.py
  tools/lint/rules.py
  tools/lint/tests/test_file_lints.py
Labels: infra, lint

#53454 Fix intermittent align-content tests
  css/css-align/blocks/align-content-block-002.html
  css/css-align/blocks/align-content-block-003.html
Labels: wg-css, servo-export, css-align

#53458 URL: add host setter tests for empty host with port
  url/resources/setters_tests.json
Labels: url

#53474 Enable infrastructure tests for partitioned cookies for Firefox
  infrastructure/metadata/infrastructure/testdriver/get_all_cookies.sub.https.html.ini
  infrastructure/metadata/infrastructure/testdriver/get_named_cookie.sub.https.html.ini
Labels: infra

#53436 Turn Http prefix tests to non-tentative, with predictable failure messages
  cookies/prefix/__HostHttp.https.html
  cookies/prefix/__Http.https.html
  cookies/resources/cookie-helper.sub.js
Labels: cookies

#53497 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=293903
  css/filter-effects/filter-with-mix-blend-mode.html
  css/filter-effects/reference/filter-with-mix-blend-mode-ref.html
Labels: wg-css, filter-effects, webkit-export
