Repository web-platform-tests/wpt, pull requests merged in 2025-09, with the labels that each got.

#54610 layout: Avoid setting baseline for phantom line boxes
  css/CSS2/visudet/inline-block-baseline-015.html
Labels: wg-css, CSS2, servo-export

#54615 layout: Lay out collapsed table rows and columns, but don't paint them
  css/css-tables/table-collapsed-row-or-column-crash.html
Labels: wg-css, css-tables, servo-export

#54627 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=298147
  css/css-text/text-indent/below-float2.html
Labels: wg-css, css-text, webkit-export

#54272 Safari runs should run on the actual epochs
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
  tools/ci/check_for_updated_refs.py
  tools/ci/tests/test_check_for_updated_refs.py
Labels: infra, ci, GitHub Actions

#54645 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297438
  css/css-anchor-position/last-successful-change-fallbacks-position-area.html
Labels: wg-css, webkit-export, css-anchor-position

#39384 badging: refactor cross-origin tests
  badging/resources/badge_iframe.html
  badging/resources/message-handler.js
  badging/resources/setAppBadge_iframe.html
  badging/setAppBadge_cross_origin.sub.https.html
Labels: badging, wg-s_webapps

#54656 Test event handler IDL attribute realm and error realm
  html/webappapis/scripting/events/event-handler-idl-attribute-realm.window.js
Labels: html

#54647 feat(css): Add reftest for ::before as a flex containerAdd before flex reftest
  css/css-pseudo/before-as-flex-container-ref.html
  css/css-pseudo/before-as-flex-container.html
Labels: html, wg-css, css-pseudo

#54348 NetInfo: Remove Marcos from META.yml
  netinfo/META.yml
Labels: netinfo, wg-cg_wicg

#54689 Fix Safari & Safari Technology Preview GitHub Actions runs
  .github/workflows/safari_stable.yml
  .github/workflows/safari_technology_preview.yml
  tools/ci/epochs_update.sh
Labels: infra, ci, GitHub Actions

#54664 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=298316
  svg/linking/scripted/a.hreflang-getter-01.svg
  svg/linking/scripted/a.hreflang-setter-01.svg
Labels: wg-svg, svg, webkit-export

#54746 Fix incorrect pseudo-element selector
  css/css-view-transitions/get-computed-style-crash.html
Labels: wg-css, css-view-transitions

#54768 Update the test to not depend on font loading timing
  css/css-anchor-position/anchor-name-inline-001.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#54582 Edge pipeline run fixes to improve run reliability
  .azure-pipelines.yml
  tools/ci/azure/configure_watson.yml
Labels: infra, ci, Azure Pipelines

#54294 [html/semantics/sectioning] Test `headingoffset` & `headingreset`.
  html/rendering/sections/headingoffset-and-headingreset-ref.html
  html/rendering/sections/headingoffset-and-headingreset.html
  html/semantics/sections/headingoffset-and-headingreset.html
Labels: html

#54840 Delete css/css-view-transitions/table-caption.html.ini
  css/css-view-transitions/table-caption.html.ini
Labels: wg-css, css-view-transitions

#54845 css/css-anchor-position/anchor-position-inline-00[1234].html: wait for fonts to load before checking layout
  css/css-anchor-position/anchor-position-inline-001.html
  css/css-anchor-position/anchor-position-inline-002.html
  css/css-anchor-position/anchor-position-inline-003.html
  css/css-anchor-position/anchor-position-inline-004.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#54409 add caretRangeFromPoint tests
  css/cssom/caretRangeFromPoint-replace-document.tentative.html
  css/cssom/caretRangeFromPoint-textarea-transform.tentative.html
  css/cssom/caretRangeFromPoint.tentative.html
Labels: wg-css, cssom

#54047 Add test for exportparts across multiple shadow boundaries
  css/css-shadow-parts/exportparts-layered.html
  css/css-shadow-parts/exportparts-layered.ref.html
Labels: wg-css, css-shadow-parts

#54833 layout: Make lines non-phantom if they have inline padding/border/margin
  css/css-inline/model/phantom-line-boxes-001.html
  css/css-inline/model/phantom-line-boxes-002.html
  css/css-inline/model/phantom-line-boxes-003.html
  css/css-inline/model/phantom-line-boxes-004.html
  css/css-inline/model/phantom-line-boxes-005.html
  css/css-inline/model/phantom-line-boxes-006.html
Labels: wg-css, servo-export, css-inline

#54884 [css-anchor-position-1] Take the screenshot after re-rendering
  css/css-anchor-position/position-visibility-anchors-visible-change-anchor.html
Labels: wg-css, css-anchor-position

#54895 Fix value of activeElement when focused inside Shadow DOM or details
  html/semantics/popovers/popover-focus-5.html
Labels: html

#54908 Update IdnaTestV2.json for Unicode 17.0.0
  url/resources/IdnaTestV2.json
Labels: url

#54909 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=299040
  css/css-writing-modes/wm-propagation-body-032.html
  css/css-writing-modes/wm-propagation-body-033.html
  css/css-writing-modes/wm-propagation-body-034.html
  css/css-writing-modes/wm-propagation-body-035.html
  css/css-writing-modes/wm-propagation-body-036.html
  css/css-writing-modes/wm-propagation-body-037.html
  css/css-writing-modes/wm-propagation-body-038.html
  css/css-writing-modes/wm-propagation-body-039.html
  css/css-writing-modes/wm-propagation-body-040.html
  css/css-writing-modes/wm-propagation-body-041.html
  css/css-writing-modes/wm-propagation-body-042.html
  css/css-writing-modes/wm-propagation-body-043.html
  css/css-writing-modes/wm-propagation-body-044.html
  css/css-writing-modes/wm-propagation-body-045.html
  css/css-writing-modes/wm-propagation-body-046.html
  css/css-writing-modes/wm-propagation-body-047.html
  css/css-writing-modes/wm-propagation-body-048.html
  css/css-writing-modes/wm-propagation-body-049.html
  css/css-writing-modes/wm-propagation-body-050.html
  css/css-writing-modes/wm-propagation-body-051.html
  css/css-writing-modes/wm-propagation-body-052.html
  css/css-writing-modes/wm-propagation-body-053.html
  css/css-writing-modes/wm-propagation-body-054.html
  css/css-writing-modes/wm-propagation-body-055.html
  css/css-writing-modes/wm-propagation-body-computed-writing-mode.html
Labels: webkit-export

#54868 [wdspec] remove unsubscribe by contexts
  tools/webdriver/webdriver/bidi/modules/session.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  webdriver/tests/bidi/session/unsubscribe/contexts.py
  webdriver/tests/bidi/session/unsubscribe/invalid.py
  webdriver/tests/bidi/session/unsubscribe/subscriptions.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, wptrunner, webdriver-bidi, wg-s_browser-tools-testing

#54925 WebKit export: [field-sizing] Larger placeholder font-size should expand the field
  html/rendering/widgets/field-sizing-placeholder-stretch-ref.html
  html/rendering/widgets/field-sizing-placeholder-stretch.html
Labels: html

#54888 Update html5lib tests for select parser relaxation
  html/syntax/parsing/html5lib_innerHTML_tests_innerHTML_1.html
  html/syntax/parsing/html5lib_innerHTML_webkit02.html
  html/syntax/parsing/html5lib_menuitem-element.html
  html/syntax/parsing/html5lib_tests1.html
  html/syntax/parsing/html5lib_tests10.html
  html/syntax/parsing/html5lib_tests18.html
  html/syntax/parsing/html5lib_tests7.html
  html/syntax/parsing/html5lib_tests9.html
  html/syntax/parsing/html5lib_webkit02.html
  html/tools/html5lib_tests_revision
Labels: html

#54480 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296203
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-011.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-012.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-015.html
  css/css-shapes/shape-outside/shape-image/gradients/shape-outside-linear-gradient-016.html
Labels: wg-css, css-shapes, webkit-export

#54927 battery-status: Avoid false positives
  battery-status/battery-allowed-by-permissions-policy-attribute-redirect-on-load.https.sub.html
  battery-status/battery-allowed-by-permissions-policy.https.sub.html
  battery-status/battery-default-permissions-policy.https.sub.html
  battery-status/battery-disabled-by-permissions-policy.https.sub.html
  battery-status/resources/battery-status-helpers.js
Labels: battery-status, wg-das

#54945 layout: Make bottom table captions obey relative positioning offsets
  css/css-tables/caption-relative-positioning.html
Labels: wg-css, css-tables, servo-export

#54956 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296511
  dom/events/scrolling/scrollend-fires-to-text-input.html
Labels: webkit-export

#54963 script: Don't try to evaluate xpath variable references
  domxpath/variables-in-expression-crash.html
Labels: domxpath, wg-dom, servo-export

#54964 Use `test.unreached_func` in scrollend-event-not-fired-on-no-scroll.html
  dom/events/scrolling/scrollend-event-not-fired-on-no-scroll.html
Labels: dom

#54966 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=299243
  css/css-writing-modes/forms/select-multiple-scrolling.optional.html
Labels: wg-css, css-writing-modes, webkit-export

#54713 popovers: Ensure verifyFocusOrder does not tab away from document controls into browser chrome
  html/semantics/popovers/resources/popover-utils.js
Labels: html

#55028 Assert that style element has an owner in `parse_own_css`
  shadow-dom/crashtests/modify-style-element-in-disconnected-shadow-crash.html
Labels: shadow-dom, wg-webplatform, servo-export

#55043 [wdspec] `destinationFolder` is required in `browser.setDownloadBehavior`
  webdriver/tests/bidi/browser/set_download_behavior/download_behavior_allowed.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#55052 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297654
  css/css-anchor-position/position-visibility-no-overflow-nested-ref.html
  css/css-anchor-position/position-visibility-no-overflow-nested.html
Labels: wg-css, webkit-export, css-anchor-position

#55008 Update test reference to allow hyphen-minus as the hyphenation character
  css/css-overflow/line-clamp/block-ellipsis-028.html
  css/css-overflow/line-clamp/reference/block-ellipsis-028-ref-a.html
  css/css-overflow/line-clamp/reference/block-ellipsis-028-ref-b.html
Labels: wg-css, css-overflow

#54992 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297405
  css/css-flexbox/flexbox-align-self-vert-rtl-001.xhtml
  css/css-flexbox/flexbox-align-self-vert-rtl-002.xhtml
Labels: wg-css, css-flexbox, webkit-export

#55064 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=298680
  css/css-anchor-position/anchored-transition-display-none-ref.html
  css/css-anchor-position/anchored-transition-display-none.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#55090 Remove domenic from suggested reviewers
  close-watcher/META.yml
  console/META.yml
  custom-elements/META.yml
  html/META.yml
  html/browsers/origin/origin-keyed-agent-clusters/META.yml
  html/semantics/grouping-content/META.yml
  html/semantics/scripting-1/META.yml
  import-maps/META.yml
  navigation-api/META.yml
  streams/META.yml
  webidl/META.yml
  worklets/META.yml
  x-frame-options/META.yml
Labels: html, webidl, custom-elements, wg-css, wg-webplatform, streams, console, wg-tag, x-frame-options, worklets, import-maps, close-watcher, navigation-api, wg-cg_wicg

#55060 Be explicit about TypeError's realm in require-trusted-types-for-TypeError-belongs-to-the-global-object-realm.
  trusted-types/require-trusted-types-for-TypeError-belongs-to-the-global-object-realm.html
Labels: trusted-types, wg-s_webappsec

#55077 Create subtests for valid-custom-element-names.html
  custom-elements/registries/valid-custom-element-names.html
Labels: custom-elements, wg-webplatform

#55083 Relax pixel size checks in largest-contentful-paint/image-upscaling.html
  largest-contentful-paint/image-upscaling.html
Labels: largest-contentful-paint, wg-s_webperf

#55074 Update the subtest order of pointerevent_click_is_a_pointerevent.html
  pointerevents/pointerevent_click_is_a_pointerevent.html
Labels: pointerevents, wg-s_pointer-events

#55113 Update reviewers for Wasm test auto-update
  .github/workflows/update-wasm-tests.yml
Labels: GitHub Actions

#55088 Fix VT reftests to account for Safari dynamically colored scrollbar tracks
  css/css-view-transitions/block-with-overflowing-text-ref.html
  css/css-view-transitions/block-with-overflowing-text.html
  css/css-view-transitions/capture-with-visibility-mixed-descendants-ref.html
  css/css-view-transitions/capture-with-visibility-mixed-descendants.html
  css/css-view-transitions/content-with-clip-ref.html
  css/css-view-transitions/content-with-clip.html
  css/css-view-transitions/exit-transition-with-anonymous-layout-object-ref.html
  css/css-view-transitions/exit-transition-with-anonymous-layout-object.html
  css/css-view-transitions/fragmented-at-start-ignored-ref.html
  css/css-view-transitions/fragmented-at-start-ignored.html
  css/css-view-transitions/inline-with-offset-from-containing-block-ref.html
  css/css-view-transitions/inline-with-offset-from-containing-block.html
  css/css-view-transitions/root-scrollbar-with-fixed-background-ref.html
  css/css-view-transitions/snapshot-containing-block-static.html
Labels: wg-css, css-view-transitions

#55078 Update WEB_FEATURES for custom-elements/registries
  custom-elements/registries/WEB_FEATURES.yml
Labels: custom-elements, wg-webplatform

#55116 Add place-self:dialog tests, and verify that popover uses that.
  css/css-anchor-position/align-dialog-001.html
  css/css-anchor-position/align-dialog-002-ref.html
  css/css-anchor-position/align-dialog-002.html
  html/semantics/popovers/popover-alignment-001-ref.html
  html/semantics/popovers/popover-alignment-001.html
  html/semantics/popovers/popover-alignment-002-ref.html
  html/semantics/popovers/popover-alignment-002.html
Labels: html, wg-css, css-anchor-position

#55120 Fix reference for `/css/css-nesting/nesting-basic.html`
  css/css-nesting/nesting-basic-ref.html
Labels: wg-css, css-nesting

#55042 Consolidate css-fill-stroke and fill-stroke
  css/fill-stroke/META.yml
  css/fill-stroke/WEB_FEATURES.yml
  css/fill-stroke/animation/fill-interpolation.html
  css/fill-stroke/paint-order-001.html
  css/fill-stroke/reference/paint-order-001-ref.html
  css/fill-stroke/webkit-text-stroke-computed.html
Labels: wg-svg, wg-css, status:needs-reviewers, fill-stroke

#54688 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296048
  css/css-animations/animation-name-in-nested-shadow-ref.html
  css/css-animations/animation-name-in-nested-shadow.html
  css/css-animations/animation-name-in-shadow-part-inner-match.html
  css/css-animations/animation-name-in-shadow-part-outer-match.html
  css/css-animations/animation-name-in-shadow-part-ref.html
  css/css-animations/animation-name-in-shadow-part.html
Labels: wg-css, css-animations, webkit-export

#55139 layout: Avoid negative corner radii values for border-radius
  css/css-backgrounds/background-clip-content-box-with-border-radius-002.html
  css/css-backgrounds/background-clip-content-box-with-border-radius-003.html
  css/css-backgrounds/background-clip-padding-box-with-border-radius-002.html
  css/css-backgrounds/background-clip-padding-box-with-border-radius-003.html
  css/css-backgrounds/reference/background-clip-content-box-with-border-radius-002-ref.html
  css/css-backgrounds/reference/background-clip-content-box-with-border-radius-003-ref.html
  css/css-backgrounds/reference/background-clip-padding-box-with-border-radius-002-ref.html
  css/css-backgrounds/reference/background-clip-padding-box-with-border-radius-003-ref.html
Labels: wg-css, css-backgrounds, servo-export
