Repository web-platform-tests/wpt, pull requests merged in 2025-04, with the labels that each got.

#51724 Export made from a WebKit repository of commits https://commits.webkit.org/292368@main and https://commits.webkit.org/292602@main
  css/css-page/cssom/margin-001.html
  css/css-page/cssom/page-002.html
  css/cssom/cssom-fontfacerule-constructors.html
  css/cssom/cssstyledeclaration-cssfontrule.tentative.html
  css/cssom/idlharness.html
Labels: wg-css, cssom, css-page

#51728 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290573
  css/css-grid/grid-extrinsically-sized-mutations.html
Labels: wg-css, css-grid, webkit-export

#51767 Update .azure-pipelines.yml to use Ubuntu 24.04
  .azure-pipelines.yml
  tools/ci/azure/fyi_hook.yml
Labels: infra, ci, Azure Pipelines

#51773 layout: Allow collapsing bottom margins with any indefinite block size
  css/css-sizing/margin-collapse-with-indefinite-block-size-001.html
  css/css-sizing/margin-collapse-with-indefinite-block-size-002.html
  css/css-sizing/margin-collapse-with-indefinite-block-size-003.html
  css/css-sizing/margin-collapse-with-indefinite-block-size-004.html
  css/css-sizing/margin-collapse-with-indefinite-block-size-005.html
Labels: wg-css, css-sizing, servo-export

#51709 Create WEB_FEATURES.yml for fetch-request-streams
  fetch/api/basic/WEB_FEATURES.yml
Labels: fetch

#51805 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290932
  css/css-grid/grid-extrinsically-sized-mutations.html
Labels: wg-css, css-grid, webkit-export

#51730 Map getHTML() tests to web-features
  shadow-dom/declarative/WEB_FEATURES.yml
Labels: shadow-dom, wg-webplatform

#51683 Fix web-features ID for text-box tests
  css/css-inline/text-box-trim/WEB_FEATURES.yml
Labels: wg-css, css-inline

#51682 Map text-wrap-mode tests to web-features
  css/css-text/parsing/WEB_FEATURES.yml
Labels: wg-css, css-text

#51657 Map update media query test to web-features
  css/mediaqueries/WEB_FEATURES.yml
Labels: wg-css, mediaqueries

#51656 Map alignment-baseline and baseline-shift tests to web-features
  css/css-inline/animation/WEB_FEATURES.yml
  css/css-inline/parsing/WEB_FEATURES.yml
Labels: wg-css, css-inline

#51643 Map relative color tests to web-features
  css/css-color/WEB_FEATURES.yml
  css/css-color/parsing/WEB_FEATURES.yml
Labels: wg-css, css-color

#51639 Map font metric override tests to web-features
  css/css-font-loading/WEB_FEATURES.yml
  css/css-fonts/WEB_FEATURES.yml
Labels: wg-css, css-font-loading, css-fonts

#51634 Map ::first-letter and ::first-line tests to web-features
  css/css-pseudo/WEB_FEATURES.yml
Labels: wg-css, css-pseudo

#51628 Map messageerror tests to web-features
  webmessaging/WEB_FEATURES.yml
Labels: webmessaging, wg-s_htmlwg

#51714 shadow-dom: Fix dict value typo on event construction
  shadow-dom/event-post-dispatch.html
Labels: shadow-dom, wg-webplatform

#51684 Map :has-slotted tests to web-features
  css/css-scoping/WEB_FEATURES.yml
  css/css-scoping/has-slotted-001.html
  css/css-scoping/has-slotted-003.html
  css/css-scoping/slotted-has-001.html
  css/css-scoping/slotted-has-002.html
  css/css-scoping/slotted-has-003.html
  css/css-scoping/slotted-has-004.html
  css/selectors/parsing/WEB_FEATURES.yml
Labels: wg-css, selectors, css-scoping

#51367 Support single-value `<select>` elements
  html/rendering/widgets/the-select-element/option-add-label-quirks.html
Labels: html, servo-export

#51647 Map scrollbar-color and scrollbar-width tests to web-features
  css/css-scrollbars/WEB_FEATURES.yml
Labels: wg-css, css-scrollbars

#49647 Create figure-name-no-figcaption.tentative.html
  html-aam/figure-name-no-figcaption.tentative.html
Labels: html-aam, wg-wai_aria

#51828 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290772
  scroll-animations/scroll-timelines/scroll-animation.html
  web-animations/timing-model/animations/finishing-an-animation.html
Labels: wg-css, web-animations, webkit-export, scroll-animations

#51853 Sanitizer API: sanitizing happens after tree constructions
  sanitizer-api/sethtml-tree-construction.sub.dat
Labels: sanitizer-api, wg-cg_wicg

#51740 Fix radio group validity update when removing or selecting an input
  html/semantics/forms/constraints/radio-group-valueMissing.html
Labels: html, servo-export

#51800 SVG: remove the discard element
  svg/animations/historical.html
  svg/animations/reftests/discard-check-remove-duplicate.svg
  svg/animations/reftests/discard-check-remove-duplicate2.svg
  svg/animations/reftests/discard-check-remove-replace.svg
  svg/animations/reftests/discard-check-remove-replace2.svg
  svg/animations/reftests/discard-check-remove.svg
  svg/animations/reftests/discard-check-remove2.html
  svg/animations/reftests/discard-rect-as-child.svg
  svg/animations/reftests/discard-rect-as-href.svg
  svg/animations/reftests/discard-rect-with-anim-child-a.svg
  svg/animations/reftests/discard-rect-with-anim-child-b.svg
  svg/interact/script-content.svg
Labels: wg-svg, svg

#51882 Disable unstable test in CSSTransition-startTime.tentative.html
  css/css-transitions/CSSTransition-startTime.tentative.html
Labels: wg-css, css-transitions

#51439 Fix transition toggle & cancellation & delay
  css/css-transitions/support/helper.js
  css/css-transitions/transition-remove-and-change-immediate.html
  css/css-transitions/transition-zero-duration-with-delay.html
  css/css-transitions/transitioncancel-003.html
Labels: wg-css, css-transitions, servo-export, stale-servo-export

#51895 Custom element registries meets initial about:blank
  custom-elements/revamped-scoped-registry/initial-about-blank.tentative.window.js
Labels: custom-elements, wg-webplatform

#51911 Update the revamped scoped custom elment registry tests.
  custom-elements/revamped-scoped-registry/Construct.tentative.html
  custom-elements/revamped-scoped-registry/CustomElementRegistry-initialize.tentative.html
  custom-elements/revamped-scoped-registry/CustomElementRegistry-upgrade.tentative.html
  custom-elements/revamped-scoped-registry/Document-createElement.tentative.html
  custom-elements/revamped-scoped-registry/Document-createElementNS.tentative.html
  custom-elements/revamped-scoped-registry/Document-customElementRegistry.html
  custom-elements/revamped-scoped-registry/Document-importNode.tentative.html
  custom-elements/revamped-scoped-registry/Element-customElementRegistry-exceptions.tentative.html
  custom-elements/revamped-scoped-registry/Element-customElementRegistry.tentative.html
  custom-elements/revamped-scoped-registry/Element-customElements.tentative.html
  custom-elements/revamped-scoped-registry/Element-innerHTML.tentative.html
  custom-elements/revamped-scoped-registry/ShadowRoot-init-customElementRegistry.tentative.html
  custom-elements/revamped-scoped-registry/ShadowRoot-innerHTML.tentative.html
  custom-elements/revamped-scoped-registry/polymer-polyfill-regression.tentative.html
  custom-elements/revamped-scoped-registry/template.tentative.window.js
Labels: custom-elements, wg-webplatform

#51543 Map tests for clip-path: fill-box/stroke-box/view-box to web-features
  css/css-masking/clip-path-svg-content/WEB_FEATURES.yml
  css/css-masking/clip-path/WEB_FEATURES.yml
  css/css-masking/hit-test/WEB_FEATURES.yml
Labels: wg-css, css-masking

#51554 Map container size queries tests to web-features
  css/css-conditional/container-queries/WEB_FEATURES.yml
Labels: wg-css, css-conditional

#51892 Add test case for 'anchor-center' alignment when visibility changes
  css/css-anchor-position/anchor-center-visibility-change-ref.html
  css/css-anchor-position/anchor-center-visibility-change.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#51930 Fix CSP trusted-types/require-trusted-types-for tests for required-ascii-whitespace
  trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-001.html
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html
Labels: trusted-types, wg-s_webappsec

#51648 Map tests for :first, :left, and :right pseudos to web-features
  css/css-page/WEB_FEATURES.yml
Labels: wg-css, css-page

#51718 Add Trusted Types tests creating policies with non-tt-policy-name.
  trusted-types/TrustedTypePolicyFactory-createPolicy-non-tt-policy-name.html
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html
Labels: status:needs-reviewers, trusted-types, wg-s_webappsec

#51915 WebCryptoAPI: Add the 'y' component of ECC keys in JWK import key tests
  WebCryptoAPI/import_export/importKey_failures.js
Labels: WebCryptoAPI, wg-webcrypto

#51960 Implement "Create a Trusted Type" algorithm
  trusted-types/TrustedTypePolicy-createXXX.html
Labels: trusted-types, servo-export, wg-s_webappsec

#51948 Update FetchTaskTarget to propagate CSP violations.
  content-security-policy/connect-src/connect-src-websocket-allowed.sub.html
  content-security-policy/connect-src/connect-src-websocket-blocked.sub.html
Labels: content-security-policy, servo-export

#51953 custom-elements: merge revamped-scoped-registry and custom-element-registry into registries
  custom-elements/registries/Construct.html
  custom-elements/registries/CustomElementRegistry-define.html
  custom-elements/registries/CustomElementRegistry-initialize.html
  custom-elements/registries/CustomElementRegistry-multi-register.html
  custom-elements/registries/CustomElementRegistry-upgrade.html
  custom-elements/registries/Document-createElement.html
  custom-elements/registries/Document-createElementNS.html
  custom-elements/registries/Document-customElementRegistry.html
  custom-elements/registries/Document-importNode.html
  custom-elements/registries/Element-customElementRegistry-exceptions.html
  custom-elements/registries/Element-customElementRegistry.html
  custom-elements/registries/Element-innerHTML.html
  custom-elements/registries/ShadowRoot-init-customElementRegistry.html
  custom-elements/registries/ShadowRoot-innerHTML.html
  custom-elements/registries/WEB_FEATURES.yml
  custom-elements/registries/constructor-reentry-with-different-definition.html
  custom-elements/registries/define-customized-builtins.html
  custom-elements/registries/define.html
  custom-elements/registries/initial-about-blank.window.js
  custom-elements/registries/per-global.html
  custom-elements/registries/scoped-registry-define-upgrade-criteria.html
  custom-elements/registries/scoped-registry-define-upgrade-order.html
  custom-elements/registries/scoped-registry-registry-define-get-etc.html
  custom-elements/registries/template.window.js
  custom-elements/registries/upgrade.html
Labels: custom-elements, wg-webplatform

#51956 Add mock server for geolocation coordinates for Firefox.
  tools/wptrunner/wptrunner/browsers/firefox.py
  webdriver/tests/support/http_handlers/geolocation_override.py
Labels: infra, webdriver, wptrunner, webdriver-bidi, wg-s_browser-tools-testing

#51980 layout: Floor the max-content size by the min-content size
  css/css-sizing/min-content-le-max-content.tentative.html
  css/css-tables/crashtests/cell-contents-with-negative-outer-size.html
Labels: wg-css, css-sizing, css-tables, servo-export

#51975 Add CSS Values and Units 5 Request URL Modifier tests
  css/css-values/urls/cross-origin/url-image-crossorigin-anonymous-negative.sub.html
  css/css-values/urls/cross-origin/url-image-crossorigin-anonymous.sub.html
  css/css-values/urls/cross-origin/url-image-crossorigin-use-credentials-negative.sub.html
  css/css-values/urls/cross-origin/url-image-crossorigin-use-credentials.sub.html
  css/css-values/urls/referrer-policy/no-referrer-when-downgrade/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/no-referrer-when-downgrade/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/no-referrer/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/no-referrer/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/origin-when-cross-origin/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/origin-when-cross-origin/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/origin/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/origin/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/same-origin/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/same-origin/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/strict-origin-when-cross-origin/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/strict-origin-when-cross-origin/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/strict-origin/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/strict-origin/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/referrer-policy/unsafe-url/url-image-referrerpolicy-cross-origin.sub.html
  css/css-values/urls/referrer-policy/unsafe-url/url-image-referrerpolicy-same-origin.sub.html
  css/css-values/urls/support/1x1-green.png
  css/css-values/urls/support/1x1-navy.png
  css/css-values/urls/support/1x1-red.png
  css/css-values/urls/support/image-referrerpolicy.py
  css/css-values/urls/support/image-referrerpolicy.sub.js
  css/css-values/urls/url-image-ref.html
  css/css-values/urls/url-request-modifiers-computed.sub.html
  css/css-values/urls/url-request-modifiers-invalid.sub.html
  css/css-values/urls/url-request-modifiers-serialize.sub.html
Labels: wg-css, css-values

#51816 Runtime type check webdriver.client
  tools/webdriver/webdriver/__init__.py
  tools/webdriver/webdriver/client.py
Labels: infra, webdriver, wg-s_browser-tools-testing

#51856 Run all tests with --enable-experimental-web-platform-features
  tools/wptrunner/wptrunner/executors/executorservo.py
Labels: infra, wptrunner, servo-export

#51994 [wdspec]Fix /webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py:test_client_window
  webdriver/tests/bidi/browsing_context/context_destroyed/context_destroyed.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#51974 Update CSS Values and Units 5 random() function tests
  css/css-values/random-computed.tentative.html
  css/css-values/random-invalid.tentative.html
  css/css-values/random-serialize.tentative.html
Labels: wg-css, css-values

#51995 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291560
  mediasession/media-session-artwork-fetch-service-worker.js
  mediasession/media-session-artwork-fetch.https.html
Labels: mediasession, webkit-export, wg-media

#51985 Update infrastructure/metadata based on recent infra PR results
  infrastructure/metadata/infrastructure/assumptions/ahem.html.ini
  infrastructure/metadata/infrastructure/assumptions/canvas-background.html.ini
  infrastructure/metadata/infrastructure/reftest/reftest.www.sub.html.ini
  infrastructure/metadata/infrastructure/testdriver/file_upload.sub.html.ini
Labels: infra

#51771 ARIA: Non-standard aria-labeledby should not be supported
  accname/name/comp_labeledby_non_standard.html
Labels: accname, wg-wai_aria

#52020 add two crash-tests for dialog requestClose
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose-2-crash.html
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose-3-crash.html
Labels: html

#50557 Remove duplicated words
  IndexedDB/worker-termination-aborts-upgrade.window.js
  bluetooth/resources/bluetooth-test.js
  credential-management/non-fully-active.https.html
  css/CSS2/css1/c414-flt-ln-002.xht
  css/CSS2/i18n/visuren/direction-unicode-bidi-007.xht
  css/CSS2/i18n/visuren/direction-unicode-bidi-008.xht
  css/css-backgrounds/border-image-width-005.xht
  css/css-backgrounds/border-image-width-006.xht
  css/css-backgrounds/border-image-width-007.xht
  css/css-backgrounds/border-image-width-009.html
  css/css-flexbox/fixed-table-layout-with-percentage-width-in-flex-item.html
  css/css-flexbox/flex-direction.html
  css/css-inline/text-box-trim/text-box-trim-not-ignore-nested-text-box-edge.html
  css/css-multicol/multicol-nested-016.html
  css/css-multicol/multicol-span-all-children-height-001.html
  css/css-text/line-breaking/line-breaking-022.html
  css/css-text/text-justify/reference/text-justify-006-ref.html
  css/css-text/text-justify/text-justify-006.html
  css/css-text/word-break/word-break-break-all-ethiopic.html
  css/css-transitions/transition-test.html
  css/css-ui/box-sizing-003.html
  css/css-ui/box-sizing-005.html
  css/css-writing-modes/test-plan/req-tcu-font.html
  css/selectors/dir-selector-auto-direction-change-001.html
  digital-credentials/non-fully-active.https.html
  dom/nodes/attributes-namednodemap.html
  dom/observable/tentative/observable-from.any.js
  editing/other/insertparagraph-in-non-splittable-element.html
  fetch/api/resources/keepalive-helper.js
  fledge/tentative/cross-origin.https.window.js
  fonts/adobe-fonts/LICENSE
  html/anonymous-iframe/fenced-frame-bypass.tentative.https.window.js
  html/browsers/browsing-the-web/history-traversal/pagereveal/order-in-bfcache-restore.html
  html/browsers/browsing-the-web/overlapping-navigations-and-traversals/nav-cancelation-2.sub.html
  html/browsers/browsing-the-web/unloading-documents/prompt/004-1.html
  html/cross-origin-opener-policy/resource-popup.https.html
  png/apng/manual/fcTL-delay-zero-num-manual.html
  png/apng/resources/source.html
  resources/testdriver.js
  service-workers/service-worker/claim-using-registration.https.html
  service-workers/service-worker/resources/testharness-helpers.js
  service-workers/service-worker/unregister-immediately-before-installed.https.html
  service-workers/service-worker/unregister-immediately.https.html
  shadow-dom/event-post-dispatch.html
  svg/import/interact-dom-01-b-manual.svg
  tools/wpt/revlist.py
  user-timing/measure-l3.any.js
  video-rvfc/request-video-frame-callback-during-xr-session.https.html
  wai-aria/scripts/ATTAcomm.js
  wasm/core/js/harness/testharness.js
  web-animations/README.md
  web-animations/animation-model/keyframe-effects/effect-value-context-filling.html
  webaudio/resources/audionodeoptions.js
  webaudio/the-audio-api/the-audioparam-interface/automation-rate-testing.js
  webaudio/the-audio-api/the-mediaelementaudiosourcenode-interface/mediaElementAudioSourceToScriptProcessorTest.html
  webcodecs/image-decoder.https.any.js
  webrtc/RTCCertificate.html
Labels: html, dom, shadow-dom, IndexedDB, infra, webaudio, assets, user-timing, webrtc, wg-webapps, wg-svg, wg-css, web-animations, selectors, service-workers, fetch, svg, editing, wg-webplatform, wai-aria, wg-wai_pf, bluetooth, css-text, css-ui, CSS2, css-multicol, credential-management, wasm, wpt, css-transitions, css-backgrounds, css-flexbox, css-writing-modes, testdriver.js, css-inline, wg-media, video-rvfc, wg-s_webrtc, webcodecs, wg-s_webapps, wg-s_webappsec, wg-s_audio, png, fledge, wg-cg_wicg, wg-s_webperf, wg-s_png, digital-credentials, wg-s_service-workers

#51920 Fix whatwg/html#11182: Add tests to ensure "locked for focus" is not implemented
  focus/focus-double-sync-calls.html
  focus/nested-focus-within-iframe-focus-event.html
Labels: status:needs-reviewers, focus

#51971 Fix enable blink features
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#52031 Fix a typo in fetch/api/body/mime-type.any.js
  fetch/api/body/mime-type.any.js
Labels: fetch

#51918 Fix mismatched HTML closing tag in test case roles-contextual.tentati…
  html-aam/roles-contextual.tentative.html
Labels: html-aam, wg-wai_aria

#51769 Add display features-related commands to testdriver (to emulate viewport segments APIs)
  docs/writing-tests/testdriver.md
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#52043 Non-HTML endpoints should not have dangling markup protection
  fetch/security/dangling-markup/dangling-markup-mitigation-allowed-apis.https.html
Labels: fetch

#52045 :defined and Scoped Custom Element Registries
  custom-elements/registries/pseudo-class-defined.window.js
Labels: custom-elements, wg-webplatform

#52059 Adds the link to webkit bug for table rowgroup
  css/css-tables/collapsed-border-remove-row-group.html
Labels: wg-css, css-tables

#52062 [webcodecs] Test non zero timestamps
  webcodecs/audioDecoder-codec-specific.https.any.js
Labels: wg-media, webcodecs

#52077 [css-anchor-position] Add colors to position-area-in-grid.html for easier debugging.
  css/css-anchor-position/position-area-in-grid.html
Labels: wg-css, css-anchor-position

#51848 constellation: Only return focused browsing contexts that exist.
  tools/wptrunner/wptrunner/browsers/servodriver.py
Labels: infra, wptrunner, servo-export, stale-servo-export

#51847 Ignore cert errors when running wdspec tests.
  tools/wptrunner/wptrunner/browsers/servo.py
Labels: infra, wptrunner, servo-export, stale-servo-export

#48219 Fix intermittency of child-document-raf-order test
  html/webappapis/update-rendering/child-document-raf-order.html
Labels: html, servo-export, stale-servo-export

#52069 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291676
  css/css-typed-om/stylevalue-objects/parseAll-invalid.html
Labels: wg-css, css-typed-om, status:needs-reviewers

#51976 CustomElementRegistry: initialize() with DocumentFragment and Document
  custom-elements/registries/CustomElementRegistry-initialize.html
Labels: custom-elements, wg-webplatform

#51788 WebCryptoAPI: Add tests cases for incorrect casing of the 'alg' JWK member
  WebCryptoAPI/import_export/importKey_failures.js
Labels: WebCryptoAPI, wg-webcrypto

#52092 Create another dialog requestClose crashtest
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose-4-crash.html
Labels: html

#52098 [css-anchor-position-1] Update default alignment in center track
  css/css-anchor-position/position-area-align-justify-wm-dir.html
  css/css-anchor-position/position-area-align-justify.html
Labels: wg-css, css-anchor-position

#52017 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291599
  css/css-ui/native-appearance-disabled-for-value-unset.html
  css/css-ui/reference/native-appearance-disabled-for-value-unset-ref.html
Labels: wg-css, css-ui, webkit-export

#52083 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291174
  css/selectors/popover-open-with-has-sibling-selector.html
Labels: wg-css, selectors, webkit-export

#51772 inactive is not taken into account in sendKeyFrameRequest algorithm
  webrtc-encoded-transform/script-transform-sendKeyFrameRequest.https.html
Labels: wg-s_webrtc, webrtc-encoded-transform

#52161 Import a WebKit test for CustomElementRegistry.prototype.initialize
  custom-elements/scoped-registry-initialize.html
Labels: custom-elements, wg-webplatform

#52169 [css-flexbox] Reduce margins to fit better in test area
  css/css-flexbox/overflow-area-001.html
  css/css-flexbox/overflow-area-002.html
  css/css-flexbox/overflow-area-003.html
  css/css-flexbox/reference/overflow-area-001-ref.html
  css/css-flexbox/reference/overflow-area-002-ref.html
  css/css-flexbox/reference/overflow-area-003-ref.html
Labels: wg-css, css-flexbox

#52085 Treat null fragment the same as an empty string in location hash setter
  html/browsers/history/the-location-interface/location_hash_set_empty_string.html
Labels: html

#52127 Do not try to cleanup already ended webdriver session.
  webdriver/tests/support/helpers.py
Labels: webdriver, wg-s_browser-tools-testing

#52176 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284546
  scroll-animations/scroll-timelines/scroll-timeline-invalidation.html
Labels: wg-css, webkit-export, scroll-animations

#52070 Fix wrong ImageData test
  html/semantics/embedded-content/the-canvas-element/imagedata.html
Labels: html

#52200 [wdspec] `browsingContext.userPrompt` iframe context ID
  webdriver/tests/bidi/browsing_context/user_prompt_closed/user_prompt_closed.py
  webdriver/tests/bidi/browsing_context/user_prompt_opened/user_prompt_opened.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#52209 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284978
  css/css-box/parsing/margin-trim-computed.html
  css/css-box/parsing/margin-trim.html
Labels: wg-css, webkit-export, css-box

#52128 [testdriver] extend testdriver with geolocation emulation
  infrastructure/metadata/infrastructure/testdriver/bidi/emulation/set_geolocation_override.https.html.ini
  infrastructure/testdriver/bidi/emulation/set_geolocation_override.https.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: html, dom, shadow-dom, infra, webdriver, workers, custom-elements, wg-svg, wg-css, selectors, svg, editing, wg-webplatform, streams, css-values, feature-policy, css-ui, css-grid, css-multicol, mediacapture-image, wptrunner, css-flexbox, css-text-decor, css-overflow, testdriver.js, webxr, scroll-animations, css-overscroll-behavior, wg-immersive-web, wg-media, wg-s_webrtc, ua-client-hints, webcodecs, sanitizer-api, webdriver-bidi, webrtc-encoded-transform, wg-s_htmlwg, speculation-rules, webnn, wg-s_webmachinelearning, navigation-api, wg-s_webappsec, css-anchor-position, css-view-transitions, wg-cg_wicg, nav-tracking-mitigations, wg-cg_privacycg, css-gaps, ai, wg-s_browser-tools-testing

#52235 Fixup dialog-focusability test
  html/semantics/interactive-elements/the-dialog-element/dialog-focusability.html
Labels: html

#52202 Map createConicGradient() tests to web-features
  html/canvas/element/fill-and-stroke-styles/WEB_FEATURES.yml
  html/canvas/element/manual/fill-and-stroke-styles/WEB_FEATURES.yml
  html/canvas/offscreen/fill-and-stroke-styles/WEB_FEATURES.yml
Labels: html

#52196 Map to navigator.pdfViewerEnabled test to web-features
  html/webappapis/system-state-and-capabilities/the-navigator-object/WEB_FEATURES.yml
Labels: html

#52198 Map writingsuggestions tests to web-features
  html/editing/editing-0/writing-suggestions/WEB_FEATURES.yml
Labels: html

#52240 refactor dialog requestClose tests to wait for close event
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.html
Labels: html

#52242 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=292191
  scroll-animations/view-timelines/fieldset-source.html
Labels: wg-css, webkit-export, scroll-animations

#52239 fix crash occurs when the focus element is adopted
  focus/focus-element-crash.html
Labels: servo-export, focus

#52130 MessagePort: implement disentanglement
  webmessaging/message-channels/close-event/explicitly-closed.tentative.window.js
  webmessaging/message-channels/close-event/resources/helper.js
Labels: webmessaging, servo-export, stale-servo-export, wg-s_htmlwg
