Repository web-platform-tests/wpt, pull requests merged in 2025-03, with the labels that each got.

#50507 NameFrom: Heading... WG preferred DFS over IDS/IDDFS search
  accname/name/comp_name_from_heading.tentative.html
Labels: accname, wg-wai_aria

#51030 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284542
  scroll-animations/scroll-timelines/effect-updateTiming.html
Labels: wg-css, webkit-export, scroll-animations

#51039 Add test case for ElementInternals validation customError
  custom-elements/form-associated/ElementInternals-validation.html
Labels: custom-elements, wg-webplatform

#51057 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=288967
  css/css-animations/CSSAnimation-effect.tentative.html
Labels: wg-css, css-animations, webkit-export

#50735 [wptrunner] Pass Chrome-specific `quitGracefully` when debugging
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/browsers/headless_shell.py
Labels: infra, wptrunner

#51041 Update Canvas lang tests
  html/canvas/element/manual/text/canvas.2d.lang-ref.html
  html/canvas/element/manual/text/canvas.2d.lang.dynamic.html
  html/canvas/element/manual/text/canvas.2d.lang.empty-ref.html
  html/canvas/element/manual/text/canvas.2d.lang.empty.canvas.html
  html/canvas/element/manual/text/canvas.2d.lang.empty.canvas.tentative.html
  html/canvas/element/manual/text/canvas.2d.lang.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.disconnected.canvas.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.disconnected.canvas.tentative.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.document.disconnected.canvas.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.document.disconnected.canvas.tentative.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.document.tentative.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.html
  html/canvas/element/text/2d.text.direction.default.html
  html/canvas/element/text/2d.text.direction.valid.html
  html/canvas/element/text/2d.text.lang.default.html
  html/canvas/element/text/2d.text.lang.default.tentative.html
  html/canvas/element/text/2d.text.lang.valid.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang.inherit.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.inherit.document.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.inherit.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.inherit.tentative.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.tentative.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.inherit.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.inherit.tentative.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.tentative.html
  html/canvas/offscreen/manual/text/text-lang-worker-ja.js
  html/canvas/offscreen/manual/text/text-lang-worker-zh-CN.js
  html/canvas/offscreen/text/2d.text.direction.default.html
  html/canvas/offscreen/text/2d.text.direction.default.worker.js
  html/canvas/offscreen/text/2d.text.direction.valid.html
  html/canvas/offscreen/text/2d.text.direction.valid.worker.js
  html/canvas/offscreen/text/2d.text.lang.default.html
  html/canvas/offscreen/text/2d.text.lang.default.worker.js
  html/canvas/offscreen/text/2d.text.lang.valid.html
  html/canvas/offscreen/text/2d.text.lang.valid.worker.js
  html/canvas/tools/yaml/text.yaml
Labels: html

#48301 URL: Update IdnaTestV2 to UTS46 16.0.0
  url/IdnaTestV2.window.js
  url/resources/IdnaTestV2.json
  url/tools/IdnaTestV2-parser.py
Labels: url

#50664 URL: update toascii.json for Unicode 16.0
  url/resources/toascii.json
Labels: url, do not merge yet

#49443 URL: add to be removed IdnaTestV2 tests
  url/IdnaTestV2-removed.window.js
  url/resources/IdnaTestV2-removed.json
  url/tools/IdnaTestV2-compare.py
Labels: url

#51042 [wdspec] add an assertion helper for extension ids
  webdriver/tests/bidi/web_extension/__init__.py
  webdriver/tests/bidi/web_extension/install/install.py
Labels: mozilla:gecko-blocked, webdriver-bidi, wg-s_browser-tools-testing

#51101 Update command invokers crash test to use CommandEvent
  html/semantics/the-button-element/command-and-commandfor/generic-eventtarget-crash.html
Labels: html

#51100 Replace command invoker clickOn with .click call on button
  html/semantics/the-button-element/command-and-commandfor/button-event-dispatch-content-attribute.html
  html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.html
  html/semantics/the-button-element/command-and-commandfor/event-dispatch-shadow.html
  html/semantics/the-button-element/command-and-commandfor/event-interface.html
  html/semantics/the-button-element/command-and-commandfor/on-dialog-behavior-request-close.tentative.html
  html/semantics/the-button-element/command-and-commandfor/on-dialog-behavior.html
  html/semantics/the-button-element/command-and-commandfor/on-dialog-disconnect.html
  html/semantics/the-button-element/command-and-commandfor/on-dialog-invalid-behavior.html
  html/semantics/the-button-element/command-and-commandfor/on-popover-behavior.html
  html/semantics/the-button-element/command-and-commandfor/on-popover-disconnect.html
  html/semantics/the-button-element/command-and-commandfor/on-popover-invalid-behavior.html
Labels: html

#51104 Remove command-and-commandfor idlharness.html
  html/semantics/the-button-element/command-and-commandfor/idlharness.html
Labels: html

#51093 URL: encode ^ in non-opaque paths
  url/resources/setters_tests.json
  url/resources/urltestdata.json
Labels: url

#50592 [input] Test negative valueAsNumber case for month & week input type
  html/semantics/forms/the-input-element/input-valueasnumber.html
Labels: html

#51091 Add test case for 'anchor-center' alignment with target width: auto
  css/css-anchor-position/anchor-center-003.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#51124 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=288510
  svg/path/property/d-interpolation-within-document-referenced-via-background-image-ref.html
  svg/path/property/d-interpolation-within-document-referenced-via-background-image.html
Labels: wg-svg, svg, webkit-export

#51092 Split TT tests for workers into separate files
  trusted-types/DedicatedWorker-block-eval-function-constructor.html
  trusted-types/DedicatedWorker-constructor-from-DedicatedWorker.html
  trusted-types/DedicatedWorker-constructor-from-SharedWorker.html
  trusted-types/DedicatedWorker-constructor.https.html
  trusted-types/DedicatedWorker-eval.html
  trusted-types/DedicatedWorker-importScripts.html
  trusted-types/ServiceWorker-block-eval-function-constructor.https.html
  trusted-types/ServiceWorker-eval.https.html
  trusted-types/ServiceWorker-importScripts.https.html
  trusted-types/ServiceWorkerContainer-register-from-DedicatedWorker.https.html
  trusted-types/ServiceWorkerContainer-register-from-ServiceWorker.https.html
  trusted-types/ServiceWorkerContainer-register-from-SharedWorker.https.html
  trusted-types/ServiceWorkerContainer-register.https.html
  trusted-types/SharedWorker-block-eval-function-constructor.html
  trusted-types/SharedWorker-constructor.https.html
  trusted-types/SharedWorker-eval.html
  trusted-types/SharedWorker-importScripts.html
  trusted-types/Window-block-eval-function-constructor.html
  trusted-types/support/block-eval-function-constructor.js
  trusted-types/worker-constructor.https.html
Labels: trusted-types, wg-s_webappsec

#51133 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289174
  scroll-animations/view-timelines/view-timeline-get-current-time-range-name.tentative.html
Labels: wg-css, webkit-export, scroll-animations

#51136 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289164
  css/css-will-change/will-change-stacking-context-view-transition-name-1.html
Labels: wg-css, webkit-export, css-will-change

#51151 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289200
  fullscreen/rendering/backdrop-object.html
Labels: fullscreen, webkit-export

#51153 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=288865
  fullscreen/rendering/fullscreen-root-block-size.html
Labels: fullscreen, webkit-export

#51158 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287629
  css/css-fonts/lang-attribute-affects-rendering-of-second-text-run-ref.html
  css/css-fonts/lang-attribute-affects-rendering-of-second-text-run.html
Labels: wg-css, css-fonts, webkit-export

#51161 Update Docker image to Ubuntu 22.04
  tools/docker/Dockerfile
Labels: infra, docker

#50872 Add more tests for Trusted Type CSP violations of createPolicy
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-001.html
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-003.html
  trusted-types/support/create-trusted-type-policies.html
  trusted-types/support/csp-violations.js
Labels: trusted-types, wg-s_webappsec

#51166 Add TT violation report tests for Window timer functions
  lint.ignore
  trusted-types/support/trusted-types-reporting-for-DOMWindowTimers-setTimeout-setInterval.js
  trusted-types/trusted-types-reporting-for-Window-setTimeout-setInterval.html
Labels: infra, trusted-types, wg-s_webappsec

#50529 Add violation report tests for setTimeout in workers
  trusted-types/support/csp-violations.js
  trusted-types/support/trusted-types-reporting-for-setTimeout-setInterval-worker.js
  trusted-types/support/trusted-types-reporting-for-setTimeout-setInterval-worker.js.headers
  trusted-types/trusted-types-reporting-for-DedicatedWorker-setTimeout-setInterval.html
  trusted-types/trusted-types-reporting-for-SharedWorker-setTimeout-setInterval.html
Labels: trusted-types, wg-s_webappsec

#50905 Add more tests for CSP violations of require-trusted-types-for directive.
  trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-001.html
  trusted-types/support/csp-violations.js
  trusted-types/support/send-plain-string-to-trusted-type-sink.html
Labels: trusted-types, wg-s_webappsec

#50308 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286575
  html/semantics/popovers/popover-focus-2.html
Labels: html, do not merge yet, webkit-export

#49485 Add null check to aria-utils checking for expected values are provided
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf

#49782 fix invalid urlpattern test(s)
  urlpattern/resources/urlpatterntestdata.json
Labels: status:needs-reviewers, urlpattern

#50824 Rewrite listeners in block-text-node-insertion-into*script-element.html
  trusted-types/block-text-node-insertion-into-script-element.html
  trusted-types/block-text-node-insertion-into-svg-script-element.html
  trusted-types/resources/block-text-node-insertion.js
Labels: trusted-types, wg-s_webappsec

#51132 HTML: presentational hint for iframe frameborder
  html/rendering/replaced-elements/embedded-content/iframe-frameborder.html
Labels: html

#50861 Fix block text node insertion tests
  trusted-types/block-text-node-insertion-into-script-element.html
  trusted-types/block-text-node-insertion-into-svg-script-element.html
Labels: trusted-types, wg-s_webappsec

#51189 Trusted Types: Fix testing of sink names in block-text-node-insertion…
  trusted-types/block-text-node-insertion-into-script-element.html
  trusted-types/block-text-node-insertion-into-svg-script-element.html
Labels: trusted-types, wg-s_webappsec

#50679 Contextual roles corner cases
  core-aam/roles-contextual.html
  html-aam/roles-contextual.html
  html-aam/roles.html
Labels: core-aam, html-aam, wg-wai_aria

#51198 [WebCryptoAPI] update EdDSA JWK alg tests
  WebCryptoAPI/import_export/okp_importKey.js
Labels: WebCryptoAPI, wg-webcrypto

#46289 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=270219
  html/rendering/widgets/field-sizing-input-number-relayout-ref.html
  html/rendering/widgets/field-sizing-input-number-relayout.html
  html/rendering/widgets/field-sizing-input-text-relayout-ref.html
  html/rendering/widgets/field-sizing-input-text-relayout.html
  html/rendering/widgets/field-sizing-textarea-relayout-ref.html
  html/rendering/widgets/field-sizing-textarea-relayout.html
Labels: html, webkit-export, mozilla:gecko-blocked

#51220 add missing inputs to urlpatterntestdata.json
  urlpattern/resources/urlpatterntestdata.json
Labels: status:needs-reviewers, urlpattern

#51221 Remove erroneous assertions from field-sizing-input-number.html
  html/rendering/widgets/field-sizing-input-number.html
Labels: html

#51058 [wdspec] `input.fileDialogOpened` + `unhandledPromptBehavior:file`
  webdriver/tests/bidi/__init__.py
  webdriver/tests/bidi/input/file_dialog_opened/__init__.py
  webdriver/tests/bidi/input/file_dialog_opened/file_dialog_opened.py
  webdriver/tests/bidi/input/file_dialog_opened/tentative/__init__.py
  webdriver/tests/bidi/input/file_dialog_opened/tentative/show_open_file_picker.py
  webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/accept.py
  webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/conftest.py
  webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/dismiss.py
  webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/ignore.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#51169 Add test for percentage sizes resolving against subpixel lengths
  css/css-sizing/percentage-width-subpixels.tentative-ref.html
  css/css-sizing/percentage-width-subpixels.tentative.html
Labels: wg-css, css-sizing, servo-export

#51236 add missing fields to urlpatterntestdata.json
  urlpattern/resources/urlpatterntestdata.json
Labels: status:needs-reviewers, urlpattern

#51231 layout: Only prevent fixed table layout when `inline-size` is `auto`
  css/css-tables/fixed-layout-2.html
Labels: wg-css, css-tables, servo-export

#51141 Move zoom-computed.html 'sign()'-expression parts to separate test.
  css/css-viewport/zoom/parsing/zoom-computed-with-sign-expression.html
  css/css-viewport/zoom/parsing/zoom-computed.html
Labels: wg-css, css-viewport

#46319 Map tests for unsanitized HTML parsing methods to web-features
  html/webappapis/dynamic-markup-insertion/html-unsafe-methods/WEB_FEATURES.yml
Labels: html

#51295 URL: add more host/hostname setter tests
  url/resources/setters_tests.json
Labels: url

#50920 layout: Remove special height logic of replaced element with auto width
  css/css-sizing/aspect-ratio/replaced-element-043.html
  css/css-sizing/aspect-ratio/replaced-element-044.html
  css/css-sizing/keyword-sizes-on-replaced-element.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-intrinsic-width-height.html
Labels: html, wg-css, css-sizing, servo-export

#51309 Improve logic for establishing a stacking context
  css/css-will-change/will-change-stacking-context-z-index-2.html
  css/css-will-change/will-change-stacking-context-z-index-3.html
  css/css-will-change/will-change-stacking-context-z-index-4.html
Labels: wg-css, servo-export, css-will-change

#51341 Digital Credentials: Update META.yml to add mohamedamir
  digital-credentials/META.yml
Labels: wg-cg_wicg, digital-credentials

#51247 Revert "[DC] Fix/Improve Digital Credentials permission policy wpt"
  digital-credentials/default-permissions-policy.https.sub.html
  digital-credentials/disabled-by-permissions-policy.https.sub.html
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
  permissions-policy/resources/digital-credentials-get.html
Labels: permissions-policy, wg-s_webappsec, wg-cg_wicg, digital-credentials

#51323 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=288871
  workers/WorkerGlobalScope_ErrorEvent_message.htm
Labels: workers, webkit-export, wg-s_htmlwg

#51324 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=277908
  mediacapture-insertable-streams/VideoTrackGenerator-with-window-tracks.https.html
Labels: webkit-export, mediacapture-insertable-streams

#51355 URLPattern: add META.yml
  urlpattern/META.yml
Labels: status:needs-reviewers, urlpattern

#51366 Revert "Add null check to aria-utils checking for expected values are provided"
  wai-aria/scripts/aria-utils.js
Labels: wai-aria, wg-wai_pf

#51222 Merge all passing tentative name from content subtests
  accname/name/comp_name_from_content.html
  accname/name/comp_name_from_content.tentative.html
Labels: accname, wg-wai_aria

#51371 Tag URL Standard-only ToASCII tests
  url/resources/toascii.json
Labels: url

#51370 Add test coverage for bad base URLs to URL.canParse()
  url/url-statics-canparse.any.js
Labels: url, mozilla:gecko-blocked

#51369 Fix bug in URL setter test harness, and modernize
  url/url-setters-a-area.window.js
  url/url-setters.any.js
Labels: url

#51372 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289785
  css/css-anchor-position/position-try-order-inset-modified-containing-block.html
Labels: wg-css, webkit-export, css-anchor-position

#50458 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285603
  content-security-policy/script-src/script-src-trusted_types_eval_with_report_only_require_trusted_types_eval.html
  content-security-policy/script-src/script-src-trusted_types_eval_with_report_only_require_trusted_types_eval.html.headers
  content-security-policy/script-src/script-src-trusted_types_eval_with_require_trusted_types_eval.html
  content-security-policy/script-src/script-src-trusted_types_eval_with_require_trusted_types_eval.html.headers
  content-security-policy/script-src/script-src-trusted_types_eval_without_require_trusted_types_eval.html
  content-security-policy/script-src/script-src-trusted_types_eval_without_require_trusted_types_eval.html.headers
Labels: content-security-policy, webkit-export

#51038 Various fixes for webdriver conformance tests
  tools/wptrunner/wptrunner/browsers/servodriver.py
  tools/wptrunner/wptrunner/executors/executorservodriver.py
Labels: infra, wptrunner, servo-export, stale-servo-export

#51374 Fix duplicated test in ParentNode-querySelectors-space-and-dash-attribute-value.html
  dom/nodes/ParentNode-querySelectors-space-and-dash-attribute-value.html
Labels: dom

#51375 Test for carets at the end of a line
  css/css-ui/caret-eol-001.html
  css/css-ui/caret-eol-002.html
  css/css-ui/caret-eol-003.html
  css/css-ui/caret-eol-004.tentative.html
  css/css-ui/reference/caret-eol-001.html
Labels: wg-css, css-ui

#51363 Temporary mark infrastructure/browsers/firefox/prefs.html test as expected to fail
  infrastructure/metadata/infrastructure/browsers/firefox/prefs.html.ini
Labels: infra

#51373 Optimize string formatting
  resources/testharness.js
Labels: infra, testharness.js

#51378 Align `id` and `lang` attribute in canvas.2d.offscreen.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang-ref.html
Labels: html

#51388 Add command/commandfor buttons to popover-focus-2 test
  html/semantics/popovers/popover-focus-2.html
Labels: html

#51389 Add command/commandfor button popover light-dismiss test
  html/semantics/popovers/popover-light-dismiss-command.html
Labels: html

#51397 [wptrunner] Fix missing `WebDriverCrashtestExecutor.is_alive()` method
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#51400 Improve names of Safari WPT matrix jobs
  .github/workflows/safari-wptrunner.yml
Labels: GitHub Actions

#51354 URL: add even more host/hostname setter tests
  url/resources/setters_tests.json
Labels: url

#51393 Add test that invalid then valid TT sink group parses correctly
  trusted-types/should-sink-type-mismatch-violation-be-blocked-by-csp-001.html
Labels: trusted-types, wg-s_webappsec

#51423 Add TT reporting tests for ServiceWorker setInterval and setTimeout
  trusted-types/trusted-types-reporting-for-ServiceWorker-setTimeout-setInterval.https.html
Labels: trusted-types, wg-s_webappsec

#51421 Add TT reporting tests for Worker importScripts
  trusted-types/support/trusted-types-reporting-for-importScripts.js
  trusted-types/support/trusted-types-reporting-for-importScripts.js.headers
  trusted-types/trusted-types-reporting-for-DedicatedWorker-importScripts.html
  trusted-types/trusted-types-reporting-for-ServiceWorker-importScripts.https.html
  trusted-types/trusted-types-reporting-for-SharedWorker-importScripts.html
Labels: trusted-types, wg-s_webappsec

#51426 XHR: move away from assert_regexp_match as it echoes all request headers
  xhr/setrequestheader-case-insensitive.htm
Labels: xhr

#51230 Fix reference for wm-propagation-body-044 to avoid spurious failure.
  css/css-writing-modes/wm-propagation-body-044-ref.html
Labels: wg-css, css-writing-modes

#41417 Additional tests for handling 30x responses
  xhr/resources/redirect.py
  xhr/send-redirect.htm
Labels: xhr

#51419 layout: Fix intrinsic contributions of indefinite `stretch` keyword
  css/css-sizing/keyword-sizes-for-intrinsic-contributions.html
Labels: wg-css, css-sizing, servo-export

#51428 Add TT reporting tests for ServiceWorkerContaine register()
  trusted-types/support/csp-violations.js
  trusted-types/support/trusted-types-reporting-for-ServiceWorkerContainer-register-worker.https.js
  trusted-types/support/trusted-types-reporting-for-ServiceWorkerContainer-register-worker.https.js.headers
  trusted-types/support/trusted-types-reporting-for-ServiceWorkerContainer-register.https.js
  trusted-types/trusted-types-reporting-for-DedicatedWorker-ServiceWorkerContainer-register.https.html
  trusted-types/trusted-types-reporting-for-ServiceWorker-ServiceWorkerContainer-register.https.html
  trusted-types/trusted-types-reporting-for-SharedWorker-ServiceWorkerContainer-register.https.html
  trusted-types/trusted-types-reporting-for-Window-ServiceWorkerContainer-register.https.html
Labels: trusted-types, wg-s_webappsec

#51427 Add TT reporting tests for Worker constructor
  trusted-types/support/trusted-types-reporting-for-DedicatedWorker-constructor-worker.js
  trusted-types/support/trusted-types-reporting-for-DedicatedWorker-constructor-worker.js.headers
  trusted-types/support/trusted-types-reporting-for-DedicatedWorker-constructor.js
  trusted-types/support/trusted-types-reporting-for-SharedWorker-constructor.js
  trusted-types/trusted-types-reporting-for-DedicatedWorker-DedicatedWorker-constructor.html
  trusted-types/trusted-types-reporting-for-SharedWorker-DedicatedWorker-constructor.html
  trusted-types/trusted-types-reporting-for-Window-DedicatedWorker-constructor.html
  trusted-types/trusted-types-reporting-for-Window-SharedWorker-constructor.html
Labels: trusted-types, wg-s_webappsec

#51431 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=276796
  css/css-flexbox/percent-height-flex-items-cross-sizes-with-mutations.html
Labels: wg-css, css-flexbox, webkit-export

#51438 Fix css-flexbox/percent-height-flex-items-cross-sizez-with-mutations
  css/css-flexbox/percent-height-flex-items-cross-sizes-with-mutations.html
Labels: wg-css, css-flexbox

#51442 Fix the issue #51441 by waiting for the actual scrolling to happen in test_move_focus_dont_scroll_viewport.
  html/semantics/interactive-elements/the-dialog-element/focus-after-close.html
Labels: html

#51443 Add tests to verify interaction of CSP directives for trusted types a…
  trusted-types/support/trusted-types-sandbox-no-allow-scripts.html
  trusted-types/support/trusted-types-sandbox-no-allow-scripts.html.headers
  trusted-types/trusted-types-sandbox-allow-scripts.html
  trusted-types/trusted-types-sandbox-allow-scripts.html.headers
  trusted-types/trusted-types-sandbox-no-allow-scripts.html
Labels: trusted-types, wg-s_webappsec

#51406 layout: Obey sizing keywords in `layout_for_block_content_size()`
  css/css-flexbox/flex-item-max-width-min-content-002.html
Labels: wg-css, servo-export, css-flexbox

#51444 Trusted Types reporting: Tweak comments about assumptions on .headers files
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html
  trusted-types/trusted-types-eval-reporting-no-unsafe-eval.html.headers
  trusted-types/trusted-types-eval-reporting-report-only.html
  trusted-types/trusted-types-report-only.html
  trusted-types/trusted-types-reporting.html
Labels: trusted-types, wg-s_webappsec

#51458 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279211
  css/css-grid/parsing/grid-area-computed.html
Labels: wg-css, css-grid, webkit-export

#51457 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=279395
  css/css-flexbox/parsing/flex-computed.html
  css/css-flexbox/parsing/flex-invalid.html
  css/css-flexbox/parsing/flex-valid.html
Labels: wg-css, css-flexbox, webkit-export

#51316 URLPattern: correct port and hostname-related test
  urlpattern/resources/urlpatterntestdata.json
Labels: status:needs-reviewers, urlpattern

#51476 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284953
  css/css-grid/masonry/tentative/parsing/masonry-parsing.html
Labels: wg-css, css-grid, webkit-export

#51475 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284950
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-005-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-005.html
Labels: wg-css, css-grid, webkit-export

#51473 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284882
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-004-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-004.html
Labels: wg-css, css-grid, webkit-export

#51472 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284971
  css/css-grid/masonry/tentative/item-placement/masonry-rows-item-placement-auto-flow-next-001-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-rows-item-placement-auto-flow-next-001.html
Labels: wg-css, css-grid, webkit-export

#51471 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284990
  css/css-grid/masonry/tentative/order/masonry-order-002-ref.html
  css/css-grid/masonry/tentative/order/masonry-order-002.html
Labels: wg-css, css-grid, webkit-export

#51470 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285024
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-006-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-006.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-007-ref.html
  css/css-grid/masonry/tentative/item-placement/masonry-item-placement-007.html
Labels: wg-css, css-grid, webkit-export

#51463 XHR: use assert_array_equals
  xhr/setrequestheader-case-insensitive.htm
Labels: xhr

#51468 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289706
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-003-fr-ref.html
  css/css-grid/masonry/tentative/intrinsic-sizing/masonry-intrinsic-sizing-rows-004-mix2-ref.html
Labels: wg-css, css-grid, webkit-export

#51469 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=285026
  css/css-grid/masonry/tentative/baseline/masonry-grid-item-self-baseline-002a.html
  css/css-grid/masonry/tentative/baseline/masonry-grid-item-self-baseline-002b.html
Labels: wg-css, css-grid, webkit-export

#51402 Add canvas text metrics tests for lang
  html/canvas/element/text/2d.text.measure.lang.html
  html/canvas/element/text/2d.text.measure.lang.inherit.html
  html/canvas/offscreen/text/2d.text.measure.lang.html
  html/canvas/offscreen/text/2d.text.measure.lang.inherit.html
  html/canvas/offscreen/text/2d.text.measure.lang.worker.js
  html/canvas/tools/yaml/text.yaml
Labels: html

#51305 Create WEB_FEATURES.yml for event-timing
  event-timing/WEB_FEATURES.yml
Labels: event-timing, wg-s_webperf

#51509 [css-anchor-position-1] Fix errors in smart alignment tests
  css/css-anchor-position/anchor-center-htb-htb.html
  css/css-anchor-position/anchor-center-htb-vrl.html
  css/css-anchor-position/anchor-center-vrl-htb.html
  css/css-anchor-position/anchor-center-vrl-vrl.html
  css/css-anchor-position/position-area-anchor-outside.html
  css/css-anchor-position/position-area-anchor-partially-outside.html
  css/css-anchor-position/position-area-basic.html
Labels: wg-css, css-anchor-position

#51194 Add estimate parameter to update_virtual_pressure_source
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, wptrunner, testdriver.js

#50298 Disable chrome overlay scrollbar animations
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#51520 Add tests for report-uri with Trusted Types violations in Workers
  trusted-types/support/trusted-types-reporting-check-report-create-policy-worker.js
  trusted-types/support/trusted-types-reporting-check-report-create-policy-worker.js.sub.headers
  trusted-types/support/trusted-types-reporting-check-report-sink-mismatch-worker.js
  trusted-types/support/trusted-types-reporting-check-report-sink-mismatch-worker.js.sub.headers
  trusted-types/trusted-types-reporting-check-report-DedicatedWorker-create-policy.html
  trusted-types/trusted-types-reporting-check-report-DedicatedWorker-sink-mismatch.html
Labels: trusted-types, wg-s_webappsec

#51410 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=286767
  css/css-typed-om/the-stylepropertymap/inline/append.tentative.html
Labels: wg-css, css-typed-om, webkit-export

#51523 Remove framerate x/y tests from Media Capabilities suite.
  media-capabilities/decodingInfo.any.js
  media-capabilities/encodingInfo.any.js
Labels: media-capabilities, status:needs-reviewers, wg-media

#51376 Make input element display-inside always flow-root
  html/rendering/widgets/text-control-client-width.html
  html/rendering/widgets/text-control-flow-root-ref.html
  html/rendering/widgets/text-control-flow-root.html
Labels: html, wg-css, css-display, servo-export

#51536 Check if `presentationTime` exists before asserting its value since it's an optional attribute
  paint-timing/paint-timing-mixin.html
Labels: paint-timing, wg-s_webperf

#51505 URLPattern: more canonicalize port tests
  urlpattern/resources/urlpatterntestdata.json
Labels: urlpattern

#51532 testdriver: Fix extra line in comment.
  resources/testdriver.js
Labels: infra, testdriver.js

#51541 createWorker needs to return the worker variable so that the test works
  mediacapture-record/MediaRecorder-canvas-media-source.https.html
Labels: mediacapture-record, status:needs-reviewers

#51542 Add more reviewers to mediacapture-record
  mediacapture-record/META.yml
Labels: mediacapture-record, status:needs-reviewers

#51558 [wdspec] `browsingContext.downloadWillBegin` event
  webdriver/tests/bidi/browsing_context/download_will_begin/__init__.py
  webdriver/tests/bidi/browsing_context/download_will_begin/download_will_begin.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#51029 Add test cases to the 'webrtc' type for decoding and encoding.
  media-capabilities/decodingInfo-webrtc.any.js
  media-capabilities/decodingInfo.any.js
  media-capabilities/decodingInfoEncryptedMedia.https.html
  media-capabilities/encodingInfo-webrtc.any.js
Labels: media-capabilities, status:needs-reviewers, wg-media, mozilla:gecko-blocked

#51571 Add test for https://github.com/w3c/csswg-drafts/issues/9788
  css/css-writing-modes/reference/text-orientation-020-ref.html
  css/css-writing-modes/reference/text-orientation-021-ref.html
  css/css-writing-modes/text-orientation-020.html
  css/css-writing-modes/text-orientation-021.html
Labels: wg-css, css-lists, css-writing-modes

#51570 Canvas lang tests: wait for fonts
  html/canvas/element/manual/text/canvas.2d.lang-ref.html
  html/canvas/element/manual/text/canvas.2d.lang.dynamic-ref.html
  html/canvas/element/manual/text/canvas.2d.lang.dynamic.html
  html/canvas/element/manual/text/canvas.2d.lang.empty-ref.html
  html/canvas/element/manual/text/canvas.2d.lang.empty.canvas.html
  html/canvas/element/manual/text/canvas.2d.lang.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.disconnected.canvas.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.disconnected.canvas.no.lang.html
  html/canvas/element/manual/text/canvas.2d.lang.inherit.html
  html/canvas/element/manual/text/canvas.2d.unknown.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.lang.inherit.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.inherit.document.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.transferred.lang.inherit.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang-ref.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.html
  html/canvas/offscreen/manual/text/canvas.2d.offscreen.worker.lang.inherit.html
Labels: html

#51560 WPT mapping for web-feature ztsd
  fetch/content-encoding/zstd/WEB_FEATURES.yml
Labels: fetch

#51559 layout: Ensure compatible positioning context during flexbox block content sizing calculation
  css/css-flexbox/mixed-containing-blocks-crash.html
Labels: wg-css, servo-export, css-flexbox

#51583 Don't check implementation-defined values in JSON module syntax error test
  html/semantics/scripting-1/the-script-element/json-module/parse-error.html
Labels: html

#51579 SVG: SVG images with subresources
  svg/embedded/image-embedding-nested-data-url-png.html
  svg/embedded/image-embedding-nested-data-url.html
  svg/embedded/image-embedding-nested-external-data-url-png.html
  svg/embedded/image-embedding-nested-http-url.sub.html
  svg/embedded/image-embedding-nesteder-data-url.html
  svg/embedded/support/external-with-data-url.svg
Labels: wg-svg, svg

#51594 Add myself as a suggested reviewer for AAM and accname tests
  accname/META.yml
  core-aam/META.yml
  graphics-aam/META.yml
  html-aam/META.yml
  svg-aam/META.yml
Labels: wg-svg, svg-aam, core-aam, graphics-aam, accname, html-aam, wg-wai_aria

#51545 Add tests for font-size-adjust: 0 and SVG Fonts
  svg/fonts/zero-font-size-adjust-no-glyphs-font.html
  svg/fonts/zero-font-size-adjust-no-glyphs-zero-height-font.html
  svg/fonts/zero-font-size-adjust.html
Labels: wg-svg, svg, status:needs-reviewers

#51593 Fix html-aam/roles-contextual el-img-empty-alt-title expectations
  html-aam/roles-contextual.html
Labels: html-aam, wg-wai_aria

#51591 Restore wpt window after each testharness test
  infrastructure/metadata/infrastructure/window/minimize-1.html.ini
  infrastructure/window/minimize-1.html
  infrastructure/window/minimize-2.html
  tools/wptrunner/wptrunner/browsers/firefox.py
  tools/wptrunner/wptrunner/browsers/firefox_android.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
Labels: infra, wptrunner

#51566 Clean up DisableAhemAntialias
  tools/wptrunner/wptrunner/browsers/chrome.py
Labels: infra, wptrunner

#51622 Restore check for JSON module parse error filename as a tentative test
  html/semantics/scripting-1/the-script-element/json-module/parse-error-location.tentative.html
Labels: html

#51635 Remove invalid tests from should-trusted-type-policy-creation-be-bloc…
  trusted-types/should-trusted-type-policy-creation-be-blocked-by-csp-002.html
Labels: trusted-types, wg-s_webappsec

#51636 Fix duplicate features sections in WEB_FEATURES.yml files
  css/css-images/parsing/WEB_FEATURES.yml
  css/css-pseudo/WEB_FEATURES.yml
  css/mediaqueries/WEB_FEATURES.yml
Labels: wg-css, mediaqueries, css-images, css-pseudo

#51605 Adding WPT mapping for webrtc-encoded-transform feature
  streams/readable-byte-streams/WEB_FEATURES.yml
  streams/transferable/WEB_FEATURES.yml
  webrtc-encoded-transform/WEB_FEATURES.yml
Labels: streams, wg-s_webrtc, webrtc-encoded-transform

#51573 Update description_test_case_557-manual.html
  accname/manual/description_test_case_557-manual.html
Labels: accname, wg-wai_aria

#51627 Map cross-document view transitions tests to web-features
  css/css-view-transitions/navigation/WEB_FEATURES.yml
Labels: wg-css, css-view-transitions

#51646 Fail on duplicate YAML keys
  tools/lint/tests/test_file_lints.py
  tools/metadata/yaml/load.py
Labels: infra, lint, metadata

#51680 Map CSS Typed OM tests to web-features
  css/css-typed-om/WEB_FEATURES.yml
Labels: wg-css, css-typed-om

#51681 Map tests for align-content in block layout to web-features
  css/css-align/blocks/WEB_FEATURES.yml
Labels: wg-css, css-align

#51670 HTML: Too many calls to pushState/replaceState throws
  html/browsers/history/the-history-interface/history_pushstate_too_many_calls.optional.html
  html/browsers/history/the-history-interface/history_replacestate_too_many_calls.optional.html
Labels: html

#51679 compute pressure: Rename estimate to own_contribution_estimate
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/actions.py
  tools/wptrunner/wptrunner/executors/executormarionette.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, wptrunner, testdriver.js

#51674 view-transitions: add test to check :active-view-transition-type treats types as case-sensitive
  css/css-view-transitions/view-transition-types-matches-case-sensitive-ref.html
  css/css-view-transitions/view-transition-types-matches-case-sensitive.html
Labels: wg-css, css-view-transitions

#51626 Map tests for SVG context-fill and context-stroke to web-features
  svg/painting/reftests/WEB_FEATURES.yml
Labels: wg-svg, svg

#51550 Fix assumed typo in container queries test
  css/css-conditional/container-queries/multiple-style-containers-comma-separated-queries.html
Labels: wg-css, css-conditional

#51538 docs: Fix the incorrect header hierarchy that was resulting in incorrect TOC tree
  docs/running-tests/webkitgtk_minibrowser.md
  docs/running-tests/wpewebkit_minibrowser.md
Labels: docs

#51692 [media capabilities] Fix webrtc tests.
  media-capabilities/decodingInfo-webrtc.any.js
  media-capabilities/decodingInfoEncryptedMedia.http.html
Labels: media-capabilities, status:needs-reviewers, wg-media
