Repository web-platform-tests/wpt, pull requests merged in 2025-08, with the labels that each got.

#54078 Updates tests of CSS `<opacity-value>` to test newly resolved behavior
  css/css-color/parsing/opacity-computed.html
  css/css-color/parsing/opacity-valid.html
Labels: wg-css, css-color

#54114 Add spec link to beforematch-infinite-loop.html
  html/editing/the-hidden-attribute/beforematch-infinite-loop.html
Labels: html

#54058 layout: Recreate lazy block size when re-doing layout to avoid floats
  css/CSS2/floats-clear/floats-bfc-003.html
Labels: wg-css, CSS2, servo-export

#54162 Remove testdriver.js from Cookie Store API tests that don't use it
  cookiestore/cookieStore_set_domain_parsing.sub.https.html
  cookiestore/cookieStore_set_domain_parsing.tentative.sub.https.html
  cookiestore/resources/domain_parsing-child.sub.https.html
Labels: status:needs-reviewers, cookiestore

#54172 canvas: pop many clips on restore
  html/canvas/element/the-canvas-state/2d.state.saverestore.clip.2.html
  html/canvas/offscreen/the-canvas-state/2d.state.saverestore.clip.2.html
  html/canvas/offscreen/the-canvas-state/2d.state.saverestore.clip.2.worker.js
  html/canvas/tools/yaml/the-canvas-state.yaml
Labels: html, servo-export

#54180 stylo: use simplified restyle damage macros
  css/compositing/mix-blend-mode/mix-blend-mode-stacking-context-002.html
  css/css-masking/clip-path/clip-path-stacking-context-001.html
Labels: wg-css, css-masking, servo-export, compositing

#54176 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=287472
  css/cssom/caretPositionFromPoint.html
Labels: wg-css, cssom, webkit-export

#54183 Fix missing containing block in `css/css-anchor-position/anchor-center-fallback-transition-behavior.html`
  css/css-anchor-position/anchor-center-fallback-transition-behavior.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#54201 Fix enabled-on-self-origin-by-permissions-policy.https.sub.html
  digital-credentials/enabled-on-self-origin-by-permissions-policy.https.sub.html
Labels: digital-credentials, wg-s_fedid

#54221 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=203770
  svg/types/scripted/SVGAnimatedInteger.html
Labels: wg-svg, svg, webkit-export

#53992 feComponentTransfer on Display P3 canvas
  css/filter-effects/fecomponenttransfer-display-p3-ref.html
  css/filter-effects/fecomponenttransfer-display-p3.html
Labels: wg-css, filter-effects

#54218 Add SVG link name tests for aria-label and aria-labelledby
  svg-aam/name/comp_label.html
  svg-aam/name/comp_labelledby.html
Labels: wg-svg, svg-aam

#54280 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297306
  css/cssom/caretPositionFromPoint-audioVideo.html
  css/cssom/caretPositionFromPoint.html
Labels: wg-css, cssom, webkit-export

#54290 [WebCryptoAPI] Updated mismatchedCrvField in order to fail because of actual mismatch, not unimplemented exception
  WebCryptoAPI/import_export/okp_importKey_failures_fixtures.js
Labels: WebCryptoAPI, wg-webcrypto

#54282 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297270
  css/css-anchor-position/position-visibility-add-no-overflow.html
  css/css-anchor-position/position-visibility-no-overflow-ref.html
  css/css-anchor-position/position-visibility-no-overflow-stacked-child.html
  css/css-anchor-position/position-visibility-no-overflow-without-anchor.html
  css/css-anchor-position/position-visibility-no-overflow.html
  css/css-anchor-position/position-visibility-remove-no-overflow-ref.html
  css/css-anchor-position/position-visibility-remove-no-overflow.html
Labels: wg-css, webkit-export, css-anchor-position

#53856 Fix : Test for getElementByClassName
  dom/nodes/getElementsByClassName-08.htm
Labels: dom

#54265 HTML: Remove rowspan=0 quirk
  css/css-tables/tentative/table-limited-quirks.html
  css/css-tables/tentative/table-quirks.html
  html/semantics/tabular-data/processing-model-1/rowspan-0-quirks.html
  html/semantics/tabular-data/processing-model-1/rowspan-0.html
Labels: html, wg-css, css-tables

#54312 Add Long Animation Frames API spec to META.yml
  long-animation-frame/META.yml
Labels: long-animation-frame

#54309 Map EyeDropper tests to web-features
  eyedropper/WEB_FEATURES.yml
Labels: eyedropper

#54270 script: Strip `javascript` URL scheme using `Position::AfterScheme` rather than `Position::BeforePath`
  url/javascript-urls.window.js
Labels: url, servo-export

#54319 Map <dialog closedby> tests to web-features
  html/semantics/interactive-elements/the-dialog-element/WEB_FEATURES.yml
Labels: html

#54318 script: check if the canvas is paintable before measuring text
  html/canvas/text-metrics-for-unpaintable-crash.html
Labels: html, servo-export, stale-servo-export

#54328 Add well-known route for Device Bound Session Credentials
  tools/serve/serve.py
Labels: infra, serve

#54323 Update test for the document becomes non-fully active during DC API
  digital-credentials/non-fully-active.https.html
Labels: digital-credentials, wg-s_fedid

#52276 Update CommandEvent tests to expect an uncomposed event
  html/semantics/the-button-element/command-and-commandfor/button-event-dispatch.html
  html/semantics/the-button-element/command-and-commandfor/event-dispatch-shadow.html
Labels: html, status:needs-spec-decision

#54271 docs: recommend alternatives to timeouts and update reviewer checklist
  docs/reviewing-tests/checklist.md
  docs/writing-tests/testharness-api.md
Labels: docs

#54330 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297352
  storage-access-api/helpers.js
  storage-access-api/requestStorageAccess-cross-origin-fetch.sub.https.window.js
  storage-access-api/requestStorageAccess-cross-origin-iframe-navigation-relax.sub.https.window.js
  storage-access-api/requestStorageAccess-cross-origin-iframe-navigation.sub.https.window.js
  storage-access-api/requestStorageAccess-cross-site-fetch.sub.https.window.js
  storage-access-api/requestStorageAccess-cross-site-sibling-iframes.sub.https.window.js
  storage-access-api/requestStorageAccess-dedicated-worker.sub.https.window.js
  storage-access-api/requestStorageAccess-web-socket.sub.https.window.js
  storage-access-api/requestStorageAccess.sub.https.window.js
  storage-access-api/resources/sandboxed-iframe-allow-storage-access.html
  storage-access-api/resources/sandboxed-iframe-no-storage-access.html
  storage-access-api/resources/set-document-cookie.html
  storage-access-api/storage-access-headers.tentative.https.sub.window.js
Labels: webkit-export, storage-access-api

#54227 Fetch: block port 0
  fetch/api/request/request-bad-port.any.js
  tools/wptserve/wptserve/utils.py
  websockets/Create-blocked-port.any.js
Labels: infra, websockets, wptserve, fetch

#54374 content: Make QuotaExceededError serializable
  html/infrastructure/safe-passing-of-structured-data/structuredclone_0.html
Labels: html, servo-export

#54377 fix: rename gziped to gzipped
  fetch/orb/tentative/script-js-unlabeled-gzipped.sub.html
Labels: fetch

#54350 Use `ArrayBuffer.transfer()` in Streams tests
  streams/readable-byte-streams/bad-buffers-and-views.any.js
Labels: streams

#54370 taskcluster: skip wdspec suite for Servo
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
Labels: infra, ci

#54405 Map attr() in content property tests to web-features
  css/CSS2/generated-content/WEB_FEATURES.yml
  css/css-content/WEB_FEATURES.yml
Labels: wg-css, CSS2, css-content

#54366 [wptrunner] Collect per-test trace events from Chromium
  tools/wptrunner/wptrunner/browsers/chrome.py
  tools/wptrunner/wptrunner/executors/executorchrome.py
  tools/wptrunner/wptrunner/wptcommandline.py
Labels: infra, wptrunner

#54422 wpt: Set servo window size and open blank page for wdspec
  tools/wptrunner/wptrunner/browsers/servo.py
Labels: infra, wptrunner, servo-export

#54229 layout: Use `overflow: visible` if `overflow` was propagated to viewport
  css/css-overflow/scrollable-overflow-with-nested-elements-001.html
  css/css-overflow/scrollable-overflow-with-nested-elements-002.html
  css/css-overflow/scrollable-overflow-with-nested-elements-003.html
  css/css-overflow/scrollable-overflow-with-nested-elements-004.html
  css/css-overflow/scrollable-overflow-with-nested-elements-005.html
Labels: wg-css, servo-export, css-overflow

#54429 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297596
  css/css-animations/animation-duration-infinite-ref.html
  css/css-animations/animation-duration-infinite.html
Labels: wg-css, css-animations, webkit-export

#54325 script: abort planned form navigations
  html/browsers/browsing-the-web/navigating-across-documents/form-submit-and-window-stop.html
Labels: html, servo-export

#54440 layout: Remove workaround for `body` while building overflow frame for `StackingContextTree` construction.
  css/css-overflow/overflow-body-propagation-012-ref.html
  css/css-overflow/overflow-body-propagation-012.html
Labels: wg-css, servo-export, css-overflow

#54454 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=222484
  content-security-policy/reporting/link-preload-from-header-report-only-nonce.sub.html
  content-security-policy/reporting/link-preload-from-header-report-only-nonce.sub.html.sub.headers
  content-security-policy/reporting/link-preload-report-only-nonce.sub.html
  content-security-policy/reporting/link-preload-report-only-nonce.sub.html.sub.headers
  content-security-policy/support/pass.js
Labels: content-security-policy, webkit-export

#54468 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296817
  css/css-writing-modes/vertical-alignment-slr-029-ref.xht
  css/css-writing-modes/vertical-alignment-slr-029.xht
  css/css-writing-modes/vertical-alignment-slr-031-ref.xht
  css/css-writing-modes/vertical-alignment-slr-031.xht
  css/css-writing-modes/vertical-alignment-slr-033-ref.xht
  css/css-writing-modes/vertical-alignment-slr-033.xht
  css/css-writing-modes/vertical-alignment-slr-035-ref.xht
  css/css-writing-modes/vertical-alignment-slr-035.xht
Labels: wg-css, css-writing-modes, webkit-export

#54489 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295694
  css/css-ruby/ruby-overhang-dynamic-ref.html
  css/css-ruby/ruby-overhang-dynamic.html
Labels: wg-css, css-ruby, webkit-export

#54498 Test effect of block-ellipsis on unwrappable line
  css/css-overflow/line-clamp/block-ellipsis-023.html
  css/css-overflow/line-clamp/block-ellipsis-024.html
  css/css-overflow/line-clamp/block-ellipsis-025.html
  css/css-overflow/line-clamp/reference/block-ellipsis-023-ref.html
  css/css-overflow/line-clamp/reference/block-ellipsis-025-ref.html
Labels: wg-css, css-overflow

#54508 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297759
  css/css-anchor-position/last-successful-animation.html
Labels: wg-css, webkit-export, css-anchor-position

#53882 [wasm] Add test for source phase imports with string builtins
  wasm/webapi/esm-integration/resources/js-string-module.wasm
  wasm/webapi/esm-integration/source-phase-js-string.tentative.html
Labels: wasm

#54543 Remove reliance on :open pseudo selector in unrelated tests
  html/semantics/interactive-elements/the-dialog-element/dialog-closedby-corner-cases.html
  html/semantics/interactive-elements/the-dialog-element/dialog-closedby-start-open.html
  html/semantics/interactive-elements/the-dialog-element/dialog-closedby.html
  html/semantics/interactive-elements/the-dialog-element/dialog-requestclose.html
  html/semantics/interactive-elements/the-dialog-element/dialog-toggle-source.html
Labels: html

#54452 wdspec: add test for interrupted navigation
  webdriver/tests/bidi/browsing_context/navigate/navigate.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#54526 feat(webfeatures): Improve validation of WEB_FEATURES.yml
  tools/lint/tests/test_file_lints.py
  tools/metadata/webfeatures/schema.py
  tools/metadata/webfeatures/tests/test_schema.py
Labels: infra, lint, metadata

#54392 Fix css of WebVTT ref files to match real vtt cue settings
  webvtt/rendering/cues-with-video/processing-model/dom_override_cue_align_position_line_size-ref.html
  webvtt/rendering/cues-with-video/processing-model/dom_override_cue_align_position_line_size_while_paused-ref.html
Labels: webvtt, wg-audiovideo_tt

#54548 Add TT script enforcement tests using HTMLElement.innerText and Node.…
  trusted-types/script-enforcement-001.html
  trusted-types/script-enforcement-002.html
  trusted-types/script-enforcement-003.html
  trusted-types/script-enforcement-004.html
Labels: trusted-types, wg-s_webappsec

#54529 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297909
  svg/styling/attr-style-media.html
  svg/styling/attr-style-type.html
Labels: wg-svg, svg, webkit-export

#54587 Remove stray </span> in font-stretch test
  css/css-fonts/variations/font-stretch.html
Labels: wg-css, css-fonts

#54603 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=297754
  css/css-anchor-position/last-successful-fallback-to-base-style.html
Labels: wg-css, webkit-export, css-anchor-position

#38600 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252626
  css/css-masking/clip-path/clip-path-borderBox-1b.html
  css/css-masking/clip-path/clip-path-circle-001.html
  css/css-masking/clip-path/clip-path-circle-002.html
  css/css-masking/clip-path/clip-path-circle-003.html
  css/css-masking/clip-path/clip-path-circle-004.html
  css/css-masking/clip-path/clip-path-circle-005.html
  css/css-masking/clip-path/clip-path-circle-006.html
  css/css-masking/clip-path/clip-path-circle-007.html
  css/css-masking/clip-path/clip-path-circle-008.html
  css/css-masking/clip-path/clip-path-ellipse-001.html
  css/css-masking/clip-path/clip-path-ellipse-002.html
  css/css-masking/clip-path/clip-path-ellipse-003.html
  css/css-masking/clip-path/clip-path-ellipse-004.html
  css/css-masking/clip-path/clip-path-ellipse-005.html
  css/css-masking/clip-path/clip-path-ellipse-006.html
  css/css-masking/clip-path/clip-path-ellipse-007.html
  css/css-masking/clip-path/clip-path-ellipse-008.html
Labels: wg-css, css-masking, webkit-export

#54115 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=133180
  pointerevents/pointerevent_fractional_coordinates.html
Labels: pointerevents, webkit-export, wg-s_pointer-events

#54564 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=252589
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-height-constrained-by-max-width.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-default-object-width-constrained-by-max-height.html
  html/rendering/replaced-elements/attributes-for-embedded-content-and-images/video-inline-size-containment-no-crash.html
Labels: html, webkit-export

#53207 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=284527
  css/css-animations/animate-font-size-with-margin-override-ref.html
  css/css-animations/animate-font-size-with-margin-override.html
Labels: wg-css, css-animations, webkit-export
