Repository web-platform-tests/wpt, pull requests merged in 2025-07, with the labels that each got.

#53481 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295114
  css/css-flexbox/flexbox-ignores-first-letter.html
Labels: wg-css, css-flexbox, webkit-export

#53489 Revert "[Sheriff]: Disable four webdriver tests on Linux."
  webdriver/tests/bidi/emulation/set_screen_orientation_override/contexts.py
  webdriver/tests/bidi/emulation/set_screen_orientation_override/invalid.py
  webdriver/tests/bidi/emulation/set_screen_orientation_override/screen_orientation.py
  webdriver/tests/bidi/emulation/set_screen_orientation_override/user_contexts.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#53467 Add Test for Element.attachShadow using a ShadowRoot
  custom-elements/registries/ShadowRoot-init-customElementRegistry.html
  shadow-dom/attachShadow-with-ShadowRoot.html
Labels: shadow-dom, custom-elements, wg-webplatform

#53133 Remove web-features mapping for removed feature
  html/canvas/element/text/WEB_FEATURES.yml
  html/canvas/offscreen/text/WEB_FEATURES.yml
Labels: html

#53512 layout: Only include quirks-mode.css in actual quirks mode
  css/css-tables/tentative/table-limited-quiks.html
Labels: wg-css, css-tables, servo-export

#53519 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295053
  css/CSS2/floats/inheritance.html
Labels: wg-css, CSS2, webkit-export

#53515 Fix testharnessreport-servo.js to stop polluting with global variables
  tools/wptrunner/wptrunner/testharnessreport-servo.js
Labels: infra, wptrunner, servo-export

#53523 Fix typo in test name
  css/css-tables/tentative/table-limited-quirks.html
Labels: wg-css, css-tables, servo-export

#53505 Add a couple of test cases to call attachShadow with null customElementRegistry.
  custom-elements/registries/ShadowRoot-init-customElementRegistry.html
Labels: custom-elements, wg-webplatform

#53368 Avoid triggering local network privacy prompt on macOS
  tools/serve/test_functional.py
  tools/wptserve/wptserve/server.py
Labels: infra, wptserve, serve

#53518 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278975
  css/filter-effects/parsing/filter-computed.html
  css/filter-effects/parsing/filter-parsing-valid.html
Labels: wg-css, filter-effects, webkit-export

#53546 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=289961
  css/css-grid/grid-model/grid-max-content-size-with-max-content-item.html
Labels: wg-css, css-grid, webkit-export

#53549 Add missing ref to intrinsic-fixed-width-with-min-content-height.html
  css/css-sizing/intrinsic-fixed-width-with-min-content-height.html
Labels: wg-css, css-sizing

#53550 Add missing ref to intrinsic-fixed-width-with-max-content-height.html
  css/css-sizing/intrinsic-fixed-width-with-max-content-height.html
Labels: wg-css, css-sizing

#53551 Add missing ref to shrink-to-fit-sizing-max-width-min-content.html
  css/css-sizing/shrink-to-fit-sizing-max-width-min-content.html
Labels: wg-css, css-sizing

#53552 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=278477
  css/css-contain/content-visibility/content-visibility-on-display-contents.html
Labels: wg-css, css-contain, webkit-export

#53554 Add missing `</canvas>` tags in keyword-sizes-for-intrinsic-contributions-002.html
  css/css-sizing/keyword-sizes-for-intrinsic-contributions-002.html
Labels: wg-css, css-sizing

#53560 Fix single_page typo in comment
  resources/testharness.js
Labels: infra, testharness.js

#53564 Do not test storage object overrides desc.[[Configurable]]
  webstorage/symbol-props.window.js
Labels: webstorage, wg-s_htmlwg

#53577 Export made from a WebKit repository - https://bugs.webkit.org/show_bug.cgi?id=249948
  svg/sniffing-content-type.html
Labels: wg-svg, svg

#53581 layout: Unify logic for laying out replaced and non-replaced in a BFC
  css/css-sizing/stretch/replaced-next-to-float-1.html
  css/css-sizing/stretch/replaced-next-to-float-2.html
Labels: wg-css, css-sizing, servo-export

#53526 Digital Credentials: check cyclic structures.
  digital-credentials/get.tentative.https.html
Labels: digital-credentials, wg-s_fedid

#53476 Change accent to HTML character code
  mathml/presentation-markup/mrow/dynamic-mrow-like-001-ref.html
  mathml/presentation-markup/mrow/dynamic-mrow-like-001.html
Labels: mathml, wg-math

#53618 [testdriver] extend testdriver with locale emulation
  docs/writing-tests/testdriver.md
  infrastructure/metadata/infrastructure/testdriver/bidi/emulation/set_locale_override.https.html.ini
  infrastructure/testdriver/bidi/emulation/set_locale_override.https.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#53573 Map scroll-initial-target tests to web-features
  css/css-scroll-snap/scroll-initial-target/WEB_FEATURES.yml
Labels: wg-css, css-scroll-snap

#52537 Map rAF worker test to web-features
  workers/WEB_FEATURES.yml
Labels: workers, wg-s_htmlwg

#53619 [testdriver] extend testdriver with screen orientation emulation
  docs/writing-tests/testdriver.md
  infrastructure/metadata/infrastructure/testdriver/bidi/emulation/set_screen_orientation_override.https.html.ini
  infrastructure/testdriver/bidi/emulation/set_screen_orientation_override.https.html
  resources/testdriver.js
  tools/wptrunner/wptrunner/executors/asyncactions.py
  tools/wptrunner/wptrunner/executors/executorwebdriver.py
  tools/wptrunner/wptrunner/executors/protocol.py
  tools/wptrunner/wptrunner/testdriver-extra.js
Labels: infra, docs, wptrunner, testdriver.js

#53648 Fix codepoint markup in JavaScript
  mathml/presentation-markup/mrow/dynamic-mrow-like-001.html
Labels: mathml, wg-math

#53533 Align validate and extract tests with DOM spec
  dom/nodes/DOMImplementation-createDocument.html
  dom/nodes/Document-createElementNS.html
  dom/nodes/Document-createElementNS.js
  dom/nodes/name-validation.html
Labels: dom

#53675 Remove focus outline from dialog-in-rtl-iframe-child.html
  css/css-view-transitions/support/dialog-in-rtl-iframe-child.html
Labels: wg-css, css-view-transitions

#53692 [css-anchor-position-1][css-align-3] Add tests for overflowing anchor-center alignment
  css/css-anchor-position/anchor-center-overflow-001-ref.html
  css/css-anchor-position/anchor-center-overflow-001.html
  css/css-anchor-position/anchor-center-overflow-002-ref.html
  css/css-anchor-position/anchor-center-overflow-002.html
  css/css-anchor-position/anchor-center-overflow-003-ref.html
  css/css-anchor-position/anchor-center-overflow-003.html
  css/css-anchor-position/anchor-center-overflow-004-ref.html
  css/css-anchor-position/anchor-center-overflow-004.html
Labels: wg-css, css-anchor-position

#53556 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=294053
  css/filter-effects/backdrop-filter-backdrop-root-filter.html
  css/filter-effects/backdrop-filter-boundary.html
  css/filter-effects/backdrop-filter-edge-behavior-ref.html
  css/filter-effects/backdrop-filter-edge-behavior.html
  css/filter-effects/backdrop-filter-edge-mirror.html
  css/filter-effects/backdrop-filter-edge-pixels-2.html
  css/filter-effects/backdrop-filter-transform.html
  css/filter-effects/backdrop-filters-brightness.html
Labels: wg-css, filter-effects, webkit-export

#53539 [wdspec] Extend `browser.createUserContext` with `unhandledPromptBehavior` parameter
  tools/webdriver/webdriver/bidi/modules/browser.py
  webdriver/tests/bidi/browser/create_user_context/invalid.py
  webdriver/tests/bidi/browser/create_user_context/unhandled_prompt_behavior.py
  webdriver/tests/bidi/session/capabilities/unhandled_prompt_behavior/file/conftest.py
  webdriver/tests/support/fixtures_bidi.py
Labels: infra, webdriver, webdriver-bidi, wg-s_browser-tools-testing

#53421 [WebDriver: Set Window Rect] Make best-effort with partial input according to latest spec
  webdriver/tests/classic/set_window_rect/set.py
Labels: webdriver, wg-s_browser-tools-testing

#53731 layout: Reverse vertical orientation of gradients using corner directions.
  css/css-images/linear-gradient-non-square.html
  css/css-images/reference/linear-gradient-non-square-ref.html
Labels: wg-css, css-images, servo-export

#53741 Fix reporting when only the report-only CSP header is present
  content-security-policy/reporting-api/reporting-api-report-only-sends-reports-on-violation.https.sub.html
Labels: content-security-policy, servo-export

#53740 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295322
  css/css-anchor-position/anchor-scroll-fixedpos-003.html
  css/css-anchor-position/reference/anchor-scroll-fixedpos-003-ref.html
Labels: wg-css, webkit-export, css-anchor-position

#53745 URL: add path setter tests for parent directory
  url/resources/setters_tests.json
Labels: url

#53735 Ensure we delete a session when closing the last window
  webdriver/tests/classic/close_window/close.py
Labels: webdriver, wg-s_browser-tools-testing

#53559 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295355
  css/css-ui/button-author-level-padding-applies.html
  css/css-ui/select-author-level-padding-applies.html
Labels: wg-css, css-ui, webkit-export

#53749 DOM: align cloning tests with the specification
  custom-elements/reactions/Document.html
  custom-elements/registries/CustomElementRegistry-upgrade.html
  custom-elements/registries/Document-importNode.html
  custom-elements/upgrading/Document-importNode.html
Labels: custom-elements, wg-webplatform

#53566 renderer: Have the viewport meta element establish the initial zoom of new pages
  visual-viewport/resource/viewport-apply-initial-scale-after-navigation-inner.html
  visual-viewport/viewport-apply-initial-scale-after-navigation-ref.html
  visual-viewport/viewport-apply-initial-scale-after-navigation.html
Labels: servo-export, visual-viewport

#53773 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291329
  css/css-values/tree-counting/calc-sibling-function.html
Labels: wg-css, css-values, webkit-export

#53780 Consistently refer to HTTP/2 as HTTP/2 (and not HTTP/2.0)
  tools/wptserve/wptserve/server.py
  tools/wptserve/wptserve/utils.py
Labels: infra, wptserve

#53781 Make serve consistently use double quotes
  tools/serve/serve.py
  tools/serve/test_functional.py
  tools/serve/wave.py
Labels: infra, serve

#53723 [WebDriver BiDi] Ensure the pre-configured event loop is specified
  tools/webdriver/webdriver/bidi/client.py
Labels: infra, webdriver, wg-s_browser-tools-testing

#53333 [SPC] Add tests for new instrument.details field
  secure-payment-confirmation/authentication-accepted.https.html
  secure-payment-confirmation/constructor-validate-payment-method-data.https.html
Labels: wg-payments, secure-payment-confirmation

#53787 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291480
  css/css-contain/content-visibility/content-visibility-paint-containment-004-ref.html
  css/css-contain/content-visibility/content-visibility-paint-containment-004.html
Labels: wg-css, css-contain, webkit-export

#53782 Fix canvas writingmode tests
  html/canvas/element/text/2d.text.writingmode-expected.html
  html/canvas/element/text/2d.text.writingmode.html
  html/canvas/tools/yaml/text.yaml
Labels: html

#53751 Inherit CSP for blob workers
  workers/dedicated-worker-from-blob-url.window.js
  workers/shared-worker-from-blob-url.window.js
Labels: workers, servo-export, wg-s_htmlwg

#53807 Map tests for CSS functions and mixins to web-features
  css/css-mixins/WEB_FEATURES.yml
Labels: wg-css, css-mixins

#53681 WebCryptoAPI: Test bare algorithm identifiers for {X,Ed}{25519,448}
  WebCryptoAPI/util/helpers.js
Labels: WebCryptoAPI, wg-webcrypto, status:needs-reviewers

#53817 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295996
  webvtt/rendering/cues-with-video/processing-model/enable_controls_reposition-ref.html
  webvtt/rendering/cues-with-video/processing-model/enable_controls_reposition.html
Labels: webvtt, wg-audiovideo_tt, webkit-export

#53788 Add test for arcto
  html/canvas/element/path-objects/2d.path.arcTo.ensuresubpath.3.html
  html/canvas/offscreen/path-objects/2d.path.arcTo.ensuresubpath.3.html
  html/canvas/offscreen/path-objects/2d.path.arcTo.ensuresubpath.3.worker.js
  html/canvas/tools/yaml/path-objects.yaml
Labels: html

#53824 Fix "soruce" typos in dialog-toggle-source.html
  html/semantics/interactive-elements/the-dialog-element/dialog-toggle-source.html
Labels: html

#53826 Fix "resoruces" typo in reuse-web-bundle-resource.https.tentative.html
  web-bundle/subresource-loading/reuse-web-bundle-resource.https.tentative.html
Labels: web-bundle

#53825 Fix "XRInputSoruceEvent" typo in WebXR tests
  webxr/events_session_select.https.html
  webxr/events_session_squeeze.https.html
Labels: webxr, wg-immersive-web

#53840 [wdspec] `emulation.setTimezoneOverride`
  tools/webdriver/webdriver/bidi/modules/emulation.py
  webdriver/tests/bidi/emulation/set_timezone_override/__init__.py
  webdriver/tests/bidi/emulation/set_timezone_override/conftest.py
  webdriver/tests/bidi/emulation/set_timezone_override/contexts.py
  webdriver/tests/bidi/emulation/set_timezone_override/invalid.py
  webdriver/tests/bidi/emulation/set_timezone_override/timezone.py
  webdriver/tests/bidi/emulation/set_timezone_override/user_contexts.py
Labels: infra, webdriver, webdriver-bidi, wg-s_browser-tools-testing

#53809 Add --list-tests-json wptrunner command line option
  tools/wptrunner/wptrunner/wptcommandline.py
  tools/wptrunner/wptrunner/wptrunner.py
Labels: infra, wptrunner

#53836 Fix typos in various web platform test files
  css/css-align/content-distribution/parse-align-content-002.html
  css/css-align/content-distribution/parse-justify-content-002.html
  css/css-align/default-alignment/parse-align-items-002.html
  css/css-align/default-alignment/parse-justify-items-002.html
  css/css-align/self-alignment/parse-align-self-002.html
  css/css-align/self-alignment/parse-justify-self-002.html
  css/css-masking/clip/clip-negative-values-003.html
  css/css-masking/clip/clip-negative-values-004.html
  css/css-text/i18n/other-lang/css-text-line-break-de-cj-loose.html
  css/css-text/i18n/other-lang/css-text-line-break-de-cj-normal.html
  css/css-text/i18n/other-lang/css-text-line-break-de-cj-strict.html
  css/css-text/i18n/unknown-lang/css-text-line-break-cj-loose.html
  css/css-text/i18n/unknown-lang/css-text-line-break-cj-normal.html
  css/css-text/i18n/unknown-lang/css-text-line-break-cj-strict.html
  css/css-text/i18n/zh/css-text-line-break-zh-cj-loose.html
  css/css-text/i18n/zh/css-text-line-break-zh-cj-normal.html
  css/css-text/i18n/zh/css-text-line-break-zh-cj-strict.html
  editing/edit-context/edit-context-property.tentative.html
  fetch/api/response/response-clone.any.js
  html/semantics/text-level-semantics/the-a-element/a-click-handler-with-null-browsing-context-crash.html
  service-workers/service-worker/windowclient-navigate.https.html
  shadow-dom/focus-navigation/focus-navigation-slot-fallback-default-tabindex.html
  wai-aria/manual/slider_readonly_false-manual.html
  wai-aria/manual/slider_readonly_true-manual.html
  wai-aria/manual/slider_readonly_unspecified-manual.html
  wai-aria/manual/spinbutton_readonly_false-manual.html
  wai-aria/manual/spinbutton_readonly_true-manual.html
  wai-aria/manual/spinbutton_readonly_unspecified-manual.html
  wasm/webapi/esm-integration/script-src-allows-source-phase-wasm.tentative.html
Labels: html, shadow-dom, wg-css, service-workers, fetch, editing, wg-webplatform, wai-aria, wg-wai_pf, css-masking, css-text, wasm, css-align, wg-s_webapps

#52793 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=265734
  css/css-view-transitions/column-span-during-transition-doesnt-skip-ref.html
  css/css-view-transitions/column-span-during-transition-doesnt-skip.html
Labels: wg-css, webkit-export, css-view-transitions

#53863 WebCryptoAPI: Add the 'y' component of ECC keys in another JWK import key test
  WebCryptoAPI/import_export/importKey_failures.js
Labels: WebCryptoAPI, wg-webcrypto

#53680 WebCryptoAPI: Check that generated JWK public and private keys match
  WebCryptoAPI/generateKey/successes.js
Labels: WebCryptoAPI, wg-webcrypto, status:needs-reviewers

#53759 Update the Safari docs
  docs/running-tests/safari.md
Labels: docs

#53878 Revert "Fire error events for invalid speculation rules tags"
  speculation-rules/speculation-tags/resources/speculation-tags-utils.js
Labels: status:needs-reviewers, speculation-rules, wg-cg_wicg

#53791 DOM: adopting and cloning with registries
  custom-elements/reactions/Document.html
  custom-elements/registries/CustomElementRegistry-upgrade.html
  custom-elements/registries/Document-importNode-cross-document.window.js
  custom-elements/registries/adoption.window.js
  custom-elements/registries/global.window.js
  custom-elements/registries/scoped-registry-define-upgrade-criteria.html
  custom-elements/registries/scoped-registry-initialize.html
  custom-elements/upgrading/Document-importNode.html
Labels: custom-elements, wg-webplatform

#53915 [Navigation API] autofocus test wrongly expects disabling to synchronously unfocus
  navigation-api/focus-reset/autofocus.html
Labels: navigation-api

#53899 Basic support for running Firefox Android on other branches
  .taskcluster.yml
  tools/ci/tc/tasks/test.yml
  tools/ci/tc/tests/test_valid.py
  tools/wpt/browser.py
Labels: infra, wpt, ci, Taskcluster

#53936 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=292754
  css/css-anchor-position/anchor-in-anchor-positioned.html
  css/css-anchor-position/anchor-in-popover.html
Labels: wg-css, webkit-export, css-anchor-position

#53948 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296414
  css/css-flexbox/alignment/multiline-align-self.html
Labels: wg-css, css-flexbox, webkit-export

#53932 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296345
  css/css-grid/abspos/grid-abspos-staticpos-align-self-end-large-border-padding-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-end-large-border-padding.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-end-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-end.html
Labels: wg-css, css-grid, webkit-export, mozilla:gecko-blocked

#53943 Remove text-decoration-computed.html subtest that relies on currentColor default
  css/css-text-decor/parsing/text-decoration-computed.html
Labels: wg-css, css-text-decor

#53971 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=290993
  web-animations/timing-model/animations/setting-the-start-time-of-an-animation.html
Labels: wg-css, web-animations, webkit-export

#53750 layout: Correctly marking box damage when text-related style changed
  css/css-text/white-space/pre-001.html
  css/css-text/white-space/reference/pre-001-ref.html
Labels: wg-css, css-text, servo-export

#53993 canvas: Respect FillRule
  html/canvas/element/path-objects/2d.path.clip.winding.evenodd.1.html
  html/canvas/element/path-objects/2d.path.clip.winding.evenodd.2.html
  html/canvas/element/path-objects/2d.path.fill.winding.evenodd.1.html
  html/canvas/element/path-objects/2d.path.fill.winding.evenodd.2.html
  html/canvas/offscreen/path-objects/2d.path.clip.winding.evenodd.1.html
  html/canvas/offscreen/path-objects/2d.path.clip.winding.evenodd.1.worker.js
  html/canvas/offscreen/path-objects/2d.path.clip.winding.evenodd.2.html
  html/canvas/offscreen/path-objects/2d.path.clip.winding.evenodd.2.worker.js
  html/canvas/offscreen/path-objects/2d.path.fill.winding.evenodd.1.html
  html/canvas/offscreen/path-objects/2d.path.fill.winding.evenodd.1.worker.js
  html/canvas/offscreen/path-objects/2d.path.fill.winding.evenodd.2.html
  html/canvas/offscreen/path-objects/2d.path.fill.winding.evenodd.2.worker.js
  html/canvas/tools/yaml/path-objects.yaml
Labels: html, servo-export

#53994 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296439
  css/css-grid/abspos/grid-abspos-staticpos-align-self-flex-end-large-border-padding-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-flex-end-large-border-padding.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-flex-end-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-flex-end.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-self-end-large-border-padding-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-self-end-large-border-padding.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-self-end-ref.html
  css/css-grid/abspos/grid-abspos-staticpos-align-self-self-end.html
Labels: wg-css, css-grid, webkit-export

#53645 Update QuotaExceededError expectations
  WebCryptoAPI/getRandomValues.any.js
  ai/language_detection/detector.https.window.js
  ai/translator/translator.optional.https.window.js
  background-fetch/fetch.https.window.js
  encrypted-media/scripts/setmediakeys-to-multiple-video-elements.js
  fetch/fetch-later/quota/accumulated-oversized-payload.tentative.https.window.js
  fetch/fetch-later/quota/max-payload.tentative.https.window.js
  fetch/fetch-later/quota/oversized-payload.tentative.https.window.js
  fetch/fetch-later/resources/fetch-later.html
  fs/script-tests/FileSystemBaseHandle-buckets.js
  media-source/mediasource-appendbuffer-quota-exceeded.html
  resources/testharness.js
  storage/buckets/bucket-quota-indexeddb.tentative.https.any.js
  wasm/core/js/harness/testharness.js
  webstorage/storage_local_setitem_quotaexceedederr.window.js
  webstorage/storage_session_setitem_quotaexceedederr.window.js
Labels: webstorage, webidl, infra, WebCryptoAPI, media-source, wg-webcrypto, fetch, encrypted-media, storage, background-fetch, wasm, testharness.js, wg-media, wg-s_htmlwg, fs, wg-cg_wicg, ai

#53862 chore: Add test for synthesized image documents with CSP headers.
  content-security-policy/generic/image-document-ignores-csp-ref.html
  content-security-policy/generic/image-document-ignores-csp.html
  content-security-policy/support/pass3.png
  content-security-policy/support/pass3.png.headers
Labels: content-security-policy, servo-export

#53996 layout: Include spanned gutters when laying out contents of table cell
  css/CSS2/tables/border-spacing-095.html
Labels: wg-css, CSS2, servo-export

#54013 layout: Fix `depends_on_block_constraints` logic
  css/css-flexbox/stretched-child-in-nested-flexbox-003.html
Labels: wg-css, servo-export, css-flexbox

#54037 `css/css-anchor-position/position-try-fallbacks-004.html`: wait one frame after scrolling before taking screenshot
  css/css-anchor-position/position-try-fallbacks-004.html
Labels: wg-css, status:needs-reviewers, css-anchor-position

#54024 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=295367
  svg/shapes/animatedPoints-non-animated.html
Labels: wg-svg, svg

#54044 layout: Consider transform for bounding box queries
  css/cssom-view/getBoundingClientRect-scroll.html
Labels: wg-css, cssom-view, servo-export

#54004 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=296564
  webrtc-encoded-transform/script-transform-generateKeyFrame-simulcast.https.html
Labels: webkit-export, wg-s_webrtc, webrtc-encoded-transform

#54033 WebKit export of https://bugs.webkit.org/show_bug.cgi?id=291004
  css/css-anchor-position/position-area-computed.html
Labels: wg-css, webkit-export, css-anchor-position

#54050 [Trusted Types] Ensure moveBefore pre-conditions are met.
  trusted-types/script-enforcement-001.html
Labels: trusted-types, wg-s_webappsec

#54054 [wdspec] add a test for using svg elements as start nodes in locateNodes
  webdriver/tests/bidi/browsing_context/locate_nodes/start_nodes.py
Labels: webdriver-bidi, wg-s_browser-tools-testing

#54071 Also handle moveBefore in script-enforcement-002, -003, and -004.
  trusted-types/script-enforcement-002.html
  trusted-types/script-enforcement-003.html
  trusted-types/script-enforcement-004.html
Labels: trusted-types, wg-s_webappsec
